<div>
    <h2>
        <span jhiTranslate="datamarketplaceApp.amassUser.home.title">Amass Users</span>
        <button class="btn btn-primary float-right jh-create-entity create-amass-user" [routerLink]="['/', { outlets: { popup: ['amass-user-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="datamarketplaceApp.amassUser.home.createLabel">
            Create new Amass User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'datamarketplaceApp.amassUser.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="amassUsers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="accountName"><span jhiTranslate="datamarketplaceApp.amassUser.accountName">Account Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fullName"><span jhiTranslate="datamarketplaceApp.amassUser.fullName">Full Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="datamarketplaceApp.amassUser.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="password"><span jhiTranslate="datamarketplaceApp.amassUser.password">Password</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phone"><span jhiTranslate="datamarketplaceApp.amassUser.phone">Phone</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="securityQuestions"><span jhiTranslate="datamarketplaceApp.amassUser.securityQuestions">Security Questions</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="optedIn"><span jhiTranslate="datamarketplaceApp.amassUser.optedIn">Opted In</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="company"><span jhiTranslate="datamarketplaceApp.amassUser.company">Company</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="website"><span jhiTranslate="datamarketplaceApp.amassUser.website">Website</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="location"><span jhiTranslate="datamarketplaceApp.amassUser.location">Location</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userType"><span jhiTranslate="datamarketplaceApp.amassUser.userType">User Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="inactive"><span jhiTranslate="datamarketplaceApp.amassUser.inactive">Inactive</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="datamarketplaceApp.amassUser.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updatedDate"><span jhiTranslate="datamarketplaceApp.amassUser.updatedDate">Updated Date</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let amassUser of amassUsers ;trackBy: trackId">
                <td><a [routerLink]="['../amass-user', amassUser.id ]">{{amassUser.id}}</a></td>
                <td>{{amassUser.accountName}}</td>
                <td>{{amassUser.fullName}}</td>
                <td>{{amassUser.email}}</td>
                <td>{{amassUser.password}}</td>
                <td>{{amassUser.phone}}</td>
                <td>{{amassUser.securityQuestions}}</td>
                <td>{{amassUser.optedIn}}</td>
                <td>{{amassUser.company}}</td>
                <td>{{amassUser.website}}</td>
                <td>{{amassUser.location}}</td>
                <td>{{amassUser.userType}}</td>
                <td>{{amassUser.inactive}}</td>
                <td>{{amassUser.createdDate | date:'mediumDate'}}</td>
                <td>{{amassUser.updatedDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../amass-user', amassUser.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'amass-user/'+ amassUser.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'amass-user/'+ amassUser.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
