
<div *ngIf="amassUser">
    <h2><span jhiTranslate="datamarketplaceApp.amassUser.detail.title">Amass User</span> {{amassUser.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="datamarketplaceApp.amassUser.accountName">Account Name</span></dt>
        <dd>
            <span>{{amassUser.accountName}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUser.fullName">Full Name</span></dt>
        <dd>
            <span>{{amassUser.fullName}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUser.email">Email</span></dt>
        <dd>
            <span>{{amassUser.email}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUser.password">Password</span></dt>
        <dd>
            <span>{{amassUser.password}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUser.phone">Phone</span></dt>
        <dd>
            <span>{{amassUser.phone}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUser.securityQuestions">Security Questions</span></dt>
        <dd>
            <span>{{amassUser.securityQuestions}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUser.optedIn">Opted In</span></dt>
        <dd>
            <span>{{amassUser.optedIn}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUser.company">Company</span></dt>
        <dd>
            <span>{{amassUser.company}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUser.website">Website</span></dt>
        <dd>
            <span>{{amassUser.website}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUser.location">Location</span></dt>
        <dd>
            <span>{{amassUser.location}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUser.userType">User Type</span></dt>
        <dd>
            <span>{{amassUser.userType}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUser.inactive">Inactive</span></dt>
        <dd>
            <span>{{amassUser.inactive}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUser.createdDate">Created Date</span></dt>
        <dd>
            <span>{{amassUser.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUser.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{amassUser.updatedDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'amass-user/'+ amassUser.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
