.content-title {
    border-bottom: 1px solid #d2c1c1;
    padding-bottom: 10px;
    //color: #1844a9;
}

.page-content a:not(href) {
    color: #007bff;
}
.content-wrapper{
    background-color: #fff;
}
