<div class="page-title">
    <span class="text-uppercase">Mutual Non-Disclosure & Trial Agreement</span>
</div>

<section class="content-wrapper page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><strong>Last Updated: January 5, 2021</strong> </p>
                <div style="text-align: center;">
                <span class="text-uppercase"><strong>MNDA & TRIAL LICENSE AGREEMENT</strong></span>
                </div>
                <p></p>
                <p>
                    THIS MUTUAL NON-DISCLOSURE & TRIAL AGREEMENT (the <strong>“Agreement”</strong>) is entered into by and between Amass Insights LLC a Delaware company with an address at 555 W 23rd St, #N5F, New York, NY 10011 (<strong>“Company”</strong>,<strong> “we”</strong>, or<strong> “us”</strong>), and You (“you”, “your”) (each party including its respective affiliates, subsidiaries, successors and/or assigns, a <strong>“Party”</strong> and collectively,  the  <strong>“Parties”</strong>).  To  the  extent  you  access  the  Website,  Content  or  Interactive  Services  as  an  agent  of  any  legal entity or on behalf of an organization or entity (<strong>“User’s Organization”</strong>), you represent and warrant that you have the legal and corporate power and authority to agree to this Agreement on behalf of the relevant organization or entity and bind them to this Agreement (in which case, the references to “you” and “your” in this Agreement, expect for in this sentence, refer to the User’s Organization).</p>
                <p>
                    All capitalized terms used herein without definition shall have the same meaning in this Agreement as set forth in the <a [routerLink]="['/terms']"> Terms of Use </a> or <a [routerLink]="['/privacy-policy']">Privacy Policy</a>, as applicable.  In the event of a conflict between the terms of this Agreement and the Terms of Use or Privacy Policy, the terms of this Agreement shall control.</p>

                <p>This Website is offered and available to users who are 18 years of age or older and reside in the United States or any of its territories or possessions. By using this Website, you represent and warrant that you are of legal age to form a binding contract with the Company and meet all of the foregoing eligibility requirements. If you do not meet all of these requirements, you must not access or use the Website.</p>

                <p ><strong>By clicking to accept or agree to the MNDA & Trial Agreement when this option is made available to you, you accept and agree to be bound and abide by this Agreement, found at<a [routerLink]="['/mndatrial']"> www.amassinsights.com/mndatrial </a>. </strong></p>
                <p >In consideration of the premises and the mutual conditions and covenants contained herein, the Parties agree as follows:</p>

                <ol type="1">
                <h6 class="content-title"><li>Purpose</li></h6>
                <p>Each Party is willing to furnish the other with certain information, whether in oral, written, demonstrative, graphic, electronic, machine  readable,  or  in  other  tangible  or  intangible  form,  in  whole  or  in  part,  and  whether  delivered  to  or  obtained  by  the recipient directly or indirectly (the <strong>“Information”</strong>), pertaining, but not limited, to such Party which is non-public, confidential, or  proprietary  in  nature  (<strong>“Confidential  Information”</strong>).  Confidential  Information  also  includes  printed  or  electronic  books, records,  reports,  memoranda,  correspondence,  statements,  confirmations,  presentations,  analyses,  models,  spreadsheets, compilations, studies or other documents prepared by the receiving Party or its Representatives that contain or otherwise reflect such information (<strong>“Analyses”</strong>).</p>
                <p>For the avoidance of doubt, Company’s Confidential Information shall include, without limitation, the identities of Company’s Representatives,  Authorized  Recipients,  business  partners  or  suppliers,  information  about  the  Company’s  Representatives, Authorized Recipients, business partners or suppliers, and the software, source code, systems, technology, algorithms, concepts, database structuring, processes and general knowledge and techniques developed or used by Company or its suppliers</p>
               <p>You are willing to furnish Company with certain Information about your software, services, research and data including related documentation, data, files and other information (collectively, the<strong> “Service”</strong>), such that Company and any Authorized Recipient can test and evaluate the effectiveness and usefulness of the Service which may lead to a future commercial agreement, but not for use in trading securities (the <strong>“CompanyPurpose”</strong>). </p>
               <p>Company is willing to furnish you with certain Information about its software, service, research, and data including related documentation, data, files and other information (collectively, the <strong>“Platform”</strong>), such that you can evaluate the effectiveness and  usefulness  of  the  Platform  and  the  expertise  of  Company  which  may  lead  to  a  future  commercial  agreement  (<strong>“Your Purpose”</strong>).</p>
               <p>Company  agrees  that  the  Service  is  part  of  your  Confidential  Information  and  constitutes  or  incorporates  your  trade  secrets and/or those of your third party data suppliers. Each Party confirms its interest in examining the Information of the other and in consideration of the disclosing Party furnishing the Information.</p>
               <h6 class="content-title"><li>Confidentiality</li></h6>
                <p>Each Party will exercise due diligence to maintain all Confidential Information in confidence and will use it solely in connection with the Company Purpose or Your Purpose. “Due diligence” means at least the same precautions and standard of care which a reasonable person in such business would use to safeguard proprietary information of its own and its clients. This Agreement covers any Information whether disclosed prior to, contemporaneously with or following the execution of this Agreement.</p>
                <p>The  receiving  Party  may  permit  access  to  the  Confidential  Information  only  to  officers,  directors,  employees,  consultants, agents, or representatives (collectively, <strong>“Representatives”</strong>) and, in the case of Company, Verified Insights Users (collectively, <strong>“Authorized Recipients”)</strong>.</p>
                <h6 class="content-title"><li>Scope Limitation</li></h6>
                <p>Confidential Information does not include information that (a) is or becomes generally available to the public other than as a result of direct or indirect disclosure by the receiving Party or anyone to whom it discloses the information (for purposes of clarity, this exception does not include Content made available through the Platform that are based upon public information); (b) becomes available to the receiving Party on a non-confidential basis from a source other than the disclosing Party who is not  bound  by  a  confidentiality  agreement  with  the  disclosing  Party  or  other  legal  or  fiduciary  obligation  of  secrecy;  (c)  the receiving Party can demonstrate was known to it or in its possession on a non-confidential basis prior to the date of disclosure by the disclosing Party; (d) the receiving Party can demonstrate was independently developed by it, without use of or reference to the Information (and is not a recreation of information provided through the Platform by accessing and compiling the original sources of such information); or (f) is furnished by the disclosing Party to others with written confirmation that such information is not confidential and may be disclosed</p>
                <p>The Parties acknowledge that certain data points or findings may not, on a stand-alone basis, constitute Confidential Information (as some may fall under the scope limitation referenced above), however it is the compilation of part or of all data points based disclosing Party’s skill and prior research efforts that is proprietary and valuable to disclosing Party.</p>
                <h6 class="content-title"><li>Proprietary Rights</li></h6>
                <p>The  Information  provided  by  or  on  behalf  of  the  disclosing  Party  shall  at  all  times  remain  the  exclusive  property  of  the disclosing Party and the receiving Party will not use or disclose Information to anyone, other than to Authorized Recipients, without the disclosing Party’s prior written consent.  No trademarks, inventions, copyrights, patents, or other proprietary rights are implied under this Agreement.</p>
                <p>For  the  avoidance  of  doubt,  you  own  and  retain  all  right,  title  and  interest,  including  all  copyright  and  intellectual  property rights in the Service and copies thereof, in any form or medium, whether now known or hereafter devised, sufficient to grant the licenses hereunder.</p>
                <h6 class="content-title"><li>License</li></h6>
                <p>You grant to Company and all Authorized Recipients a limited, non-exclusive, non-transferable, non-sublicensable, worldwide, royalty-free right and license to access, copy, and use the Service, free of charge solely for the Company Purpose during the term of this Agreement. This license allows a service provider, for the benefit of an Authorized Recipient, to access, copy, and host the Service on computers and other media at a service provider facility, regardless of location. This license grants the right to  Authorized  Recipients  to  import  the  Service  into  its  various  databases  and  internally  redistribute  within  Authorized Recipient’s departments at any of their respective locations without restriction strictly as part of the Company Purpose. All rights not granted hereunder by you are expressly reserved by you. </p>
                <h6 class="content-title"><li>Restrictions</li></h6>
                <p>Without prior written consent, the receiving Party shall not, and shall not allow its Representatives to, or attempt to disassemble, decompile, decipher, reconfigure, unobfuscate, reformat, alter or reproduce or make derivatives or improvements to or from, reverse engineer, or subject to experimentation, or otherwise seek to duplicate the performance characteristics of any datasets, software programs or hardware devices provided by the disclosing Party hereunder.</p>
                <p>For the avoidance of doubt, Authorized Recipients may not: (i) modify or create any derivative works of or improvements to the Service or the Platform; (ii) disassemble, decipher, reconfigure, reverse engineer, decompile, alter, reproduce, or otherwise seek to duplicate the performance characteristics or source code or protocols from, the executable, object, source or database code  of  the  Service  or  the  Platform  or  any  components  thereof;  (iii)  redistribute,  disseminate,  encumber,  sell,  rent,  lease, sublicense, use the Service or the Platform in a timesharing or service bureau arrangement, or otherwise transfer rights in and to the Service or the Platform; (iv) use the Service for commercial purposes other than for the Company Purpose; or (v) use the Platform for commercial purposes other than Your Purpose.</p>
                <h6 class="content-title"><li>Your Representations and Warranties</li></h6>
                <p>You represent, warrant, and covenant that: </p>
                    <ol type="I">
                    <li>You have taken all corporate action necessary for the authorization, execution, and delivery of this Agreement; </li>
                    <li>You  have  obtained  and  shall  maintain  all  rights,  approvals,  licenses,  certifications,  accreditations  and  consents necessary to perform your obligations under this Agreement and disclose the Service to Authorized Recipients for the Company Purpose; </li>
                    <li>The Service shall not infringe upon the intellectual property or proprietary rights of any third party.</li>
                    <li>Where the Service includes third party information and/or sources, all necessary permissions and licenses have been obtained by you; </li>
                    <li>The Service is not intended to provide, and does not provide, tax, legal, insurance, or investment advice;</li>
                    <li>Nothing in the Service should be construed as an offer to sell, a solicitation of an offer to buy, or a recommendation for any security by you or any third party;</li>
                    <li>The Service does not constitute a recommendation that any particular security, portfolio of securities, transaction, or investment strategy is suitable for any specific person;</li>
                   <li>Each  disclosure  of  the  Service  by  it  hereunder  will  be  in  full  compliance  with  all  applicable  laws  and  regulations, including the Gramm-Leach-Bliley Act of 1999 and its implementing regulations and guidelines, and the European Union’s General Data Protection Regulation (GDPR);</li>
                   <li>You have all rights required to permit Company to use the Service described herein without infringing any copyright, patent, trade secret or other proprietary right of any third party;</li>
                   <li>There are no approvals from any governmental agency or authority which are required for the execution, delivery, and performance by you of this agreement and the transactions contemplated hereby; </li>
                   <li>You have all rights required to permit Authorized Recipients to use the Service free and clear of all liens, security interests, pledges, charges or other encumbrances;</li>
                   <li>To  your  knowledge,  there  is  no  material  violation,  conflict  or  infringement  by  any  person  or  entity  of  any  right  of yours with respect to the Service;</li>
                   <li>There is no claim, suit, action or proceeding pending or, to your knowledge, threatened against you:</li>
                   <ol type="a">
                   <li>alleging any violation, conflict or infringement with any intellectual property or other proprietary right owned by any other person or entity; or </li>
              <li>challenging your ownership or use of, or the validity or enforceability of, the Service;</li>
                   </ol>

                <li>You and your Representatives will not disclose to Company or Authorized Recipients any: </li>
                <ol type="a">
                   <li>information that you do not have the right to disclose;</li>
                   <li>material, non-public information;</li>
                   <li>information  that  you  know  or  reasonably  should  know  breaches  or  breached  any  agreement,  contract, confidentiality obligation or duty to which your direct or indirect source was subject; or</li>
              <li>information  or  materials,  in  any  form,  that  alone,  or  in  combination  with  other  information  or  materials, uniquely identifies, directly or indirectly, an individual (e.g., a name, an identification number such as a social security  number,  address  or  other  location  data,  telephone  number,  information  concerning  accounts, financial standing, investment holdings and other financial data and information, assets, etc.); is considered "sensitive personal data", such as political opinions, ethnicity, religious beliefs or information related to the physical  or  mental  health  of  an  individual,  protected  health  information;  or  information  relating  to  an individual or individuals which is otherwise protected under applicable law (<strong>“Personal Information”</strong>); and</li>
                </ol>
                <li>To the best of your knowledge, the Service described herein do not contain any disabling devices or viruses that are intended  to  damage  any  system  or  data  or  could  prevent  Company  from  using  Company’s  system  or  data,  and  the Service described herein will be free of defects which materially affect their performance. You shall use commercially reasonable efforts to scan, identify and remove any viruses uploaded to or placed in the Service or incorporated into them</li>
            </ol>
            <p></p>
                <p>For  the  avoidance  of  doubt,  you  shall  be  solely  responsible  for  compliance  with  all  applicable  laws,  rules,  regulations  and administrative orders relating to privacy and data protection, including, but without limitation, the European Union’s General Data Protection Regulation (GDPR). In no event shall you disclose or otherwise provide any Personal Information to Company or Authorized Recipients or provide any information to Company or Authorized Recipients which would allow Company or Authorized Recipients to identify any underlying individual to which the Service relates.</p>
                <p>You shall notify Company immediately after discovering any possible breach of these covenants.</p>
                <h6 class="content-title"><li>Company Representations and Warranties</li></h6>
                <p>Company represents, warrants, and covenants that:</p>
                <ol type="I">
                    <li>The Service is provided to the Company for the Company Purpose only;</li>
                    <li>Company has all legal rights and permissions necessary to perform its obligations under this Agreement;</li>
                    <li>Company  shall  comply  with  all  local,  state,  national,  and  international  laws,  rules,  and  regulations  applicable  to Company’s use of the Service.</li>
                    <li>Company will not use the Service for illegal, fraudulent, unethical, or inappropriate purposes.</li>
                </ol>
                <p></p>
                <h6 class="content-title"><li>Fees</li></h6>
                <p>There are no fees associated with this Agreement.</p>

                <h6 class="content-title"><li>Term and Termination</li></h6>
                <p>This Agreement commences on the date when you affirmatively agree to accept it through Company’s website and remains in full force and effect until terminated by either Party. Either Party may terminate this Agreement for convenience upon thirty (30) days’ advance written notice to the other Party.</p>
                <p>You will disable Company’s access to the Service at the expiration or termination of this Agreement.  Thereafter, the license granted hereunder to Company shall terminate. </p>
                <p>On or after termination, upon written request by the disclosing Party, the receiving Party will promptly return to the disclosing Party, or destroy, as the parties agree, the Confidential Information and any copies, notes, extracts, or other derivative material thereof  in  the  receiving  Party’s  possession  or  within  its  control,  except:  (i)  the  portion  of  the  Confidential  Information  that consists of or is incorporated into Analyses prepared by Authorized Recipients; (ii) copies of the Confidential Information to the  extent  required  by  law  or  maintained  pursuant  to  receiving  Party’s  document  retention  program;  or  (iii)  Confidential Information on receiving Party’s backup tapes or its servers if permanent deletion would be infeasible.  If receiving Party does not  request  in  writing  that  the  other  Party  delete  the  Confidential  Information,  receiving  Party  may  retain  the  Confidential Information only as set forth above subject to its confidentiality obligations herein.</p>
                <p>The terms of this Agreement that by their terms are perpetual or are otherwise intended to survive this Agreement shall survive the termination or expiration of this Agreement.</p>
                <h6 class="content-title"><li>Disclosure</li></h6>
                <p>In the event that a receiving Party receives a request or otherwise becomes legally compelled by a court, government, judicial or  administrative  agency,  legislative  body  or  committee,  self-regulatory  organization  or  applicable  regulatory  body  of competent jurisdiction or under any subpoena, law, statute, regulation, directive, decree, order, inquiry, or binding notification to provide or disclose any of the Confidential Information, the receiving Party will provide the disclosing Party with prompt written notice, to the extent legally permissible,so that the disclosing Party may contest such disclosure, seek a protective order or other appropriate remedy (and if the disclosing Party seeks such an order, the receiving Party will provide such cooperation as the disclosing Party reasonably requests) and/or waive compliance with the provisions of this Agreement. If a protective order  or  other  remedy  is  not  obtained,  the  receiving  Party  may  disclose,  without  liability  hereunder,  such  Confidential Information in accordance with, but solely to the extent necessary, in the reasonable opinion of its counsel, to comply with the foregoing. Such disclosing Party agrees to reimburse such receiving Party for its reasonable expenses, including the reasonable fees and expenses of its counsel, in connection with action taken pursuant to this paragraph. Notwithstanding the foregoing, notice to such disclosing Party shall not be required where disclosure is made in response to an examination by a self-regulatory organization.</p>
                <p>Company shall have the right to disclose your identity and the existence or nature of this Agreement.</p>
                <h6 class="content-title"><li> No Restriction on Trading</li></h6>
                <p>Nothing  herein  is  intended  to  limit  or  prohibit  Company  or  any  Authorized  Recipients  from  trading  any  financial  product, including specifically those regulated by the SEC or CFTC.</p>
                <h6 class="content-title"><li> No Limitations</li></h6>
                <p>Each Party acknowledges that either Party may, from time to time, evaluate investments in, offer services to, purchase and sell securities and loans issued by, and enter into other transactions with, companies that may be competitors, suppliers or clients of other Party. Nothing herein limits either Party’s ability to conduct such activities and determine, in its sole discretion, the direction of its business and any products or services it may purchase or offer. The Parties further acknowledge that either Party may be engaged in the research, development, production, marketing, licensing and/or sale of similar services or products to those being considered under this Agreement, which may be competitive with those of the other and may display the same or similar functionality or direction. Nothing in this Agreement shall be construed to prevent a Party from engaging independently in such activities, provided it does not use the Confidential Information of the other in order to do so.</p>
                <h6 class="content-title"><li> No Representations</li></h6>
                <p><strong>Neither Party nor any of its Representatives have makes any express or implied representation or warranty hereunder as  to  the  accuracy  or  completeness  of  the  Information,  including  the  warranty  of  merchantability  or  fitness  for  a particular  purpose  or  use  (whether  or  not  the  purpose  or  use  has  been  disclosed),  warranties  of  title  and  non-infringement,  any  implied  indemnification  obligations  or  other  warranties  that  arise  from  trade  usage  or  custom. Neither  Party  shall  have  any  liability  hereunder  to  Authorized  Recipients  relating  to  or  resulting  from  use  of  the Information  or  for  any  errors  therein  or  omissions  therefrom.  The  Information  is  provided  on  an  “as-is”  and  “as-available” basis and use thereof is at Authorized Recipients’ own risk.</strong></p>
                <h6 class="content-title"><li>Indemnity</li></h6>
                <p>You shall defend, hold harmless, indemnify, or, at its option, settle any third party claim, suit, or proceeding against Company and Authorized Recipients from and against all losses, liabilities, costs, damages and expenses, including but not limited to reasonable  legal  fees  and  expenses,  incurred  or  suffered  by  any  of  the  foregoing  indemnitees  as  a  result  of:  (i)  any  claims, actions  or  demands  of  infringement  or  violation  of  intellectual  property  or  other  proprietary  rights  by  you  or  your Representatives; (ii) breach of this Agreement by you or your Representatives; or (iii) relating to or based on the use of the Service by Company or its Authorized Recipients. Company will notify you in writing of the claim, suit or proceeding and give all information and assistance reasonably requested by you or your designee.</p>
                <h6 class="content-title"><li>Limitation on Liability</li></h6>
                <p>EXCEPT FOR YOUR INDEMNIFICATION OBLIGATION, A PARTY’S FRAUD, GROSS NEGLIGENCE OR WILLFUL MISCONDUCT, IN NO EVENT SHALL EITHER PARTY BE LIABLE HEREUNDER FOR ANY INDIRECT, SPECIAL, INCIDENTAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES, INCLUDING BUT NOT LIMITED TO LOSS OF PROFITS, LOST TIME OR GOODWILL, EVEN IF IT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, WHETHER IN CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE.</p>
                <h6 class="content-title"> <li>No Obligations or Contract</li></h6>
                <p>
                    The Parties acknowledge that you are an independent contractor for purposes of this Agreement and this Agreement does not give rise to any intention, commitment, or obligation of either Party to enter into any kind of business relationship with the other  Party.   Any  business  relationship  between  the  Parties,  if  any,  must  be  governed  by  a  separate  definitive  agreement pursuant to which the Parties intend to be legally bound.</p>
                <h6 class="content-title"><li>Choice of Law</li></h6>
                <p>This Agreement will be governed by and construed under, the laws of the State of New York, without regard to the principles of choice of law to the extent such principles or rules are not mandatorily applicable by statute and would require or permit the application of the laws of another jurisdiction, as to all matters, including but not limited to matters of validity, construction, effect, performance and remedies. In no event shall this Agreement be governed by the United Nations Convention on Contracts for the International Sale of Goods. Further, UCITA whether enacted in whole or in part by any state or applicable jurisdiction, regardless of how codified shall not apply to this Agreement and is hereby disclaimed. This Agreement shall inure to the benefit of the Parties and their respective successor and assigns. </p>
                <p>Each Party agrees: (i) that the Federal Courts of the United States in the Southern District of New York and the courts of the State  of  New  York  in  New  York  County,  in  the  borough  of  Manhattan  are  to  have  jurisdiction  to  settle  any  disputes  in connection with this Agreement; (ii) to submit to the jurisdiction of such courts; and (iii) to waive any objection which it may have at any time to the laying of venue of any proceedings brought in any such court, waive any objection that such proceedings have been brought in an inconvenient forum and further waive the right to object, with respect to such proceedings, that such court does not have jurisdiction over said party.</p>
                <p>The Parties acknowledge that in the event of any breach or threatened or anticipated breach of this Agreement by a Party or its Representatives,  the  non-breaching  Party  may  be  irreparably  and  immediately  harmed  and  could  not  be  made  whole  by monetary  damages.  Therefore,  in  such  event,  without  prejudice  to  any  rights  and  remedies  otherwise  available,  the  non-breaching Party shall be entitled to seek equitable relief by way of injunction, specific performance or otherwise. Each party, to the extent permitted by law, knowingly, voluntarily, and intentionally waives its right to a trial by jury in any action or other legal proceeding arising out of or relating to this Agreement.</p>
                <h6 class="content-title"><li>Severability</li></h6>
                <p>No course of dealing, course of performance, or failure or delay on the part of either party in the exercise of any right, term, condition, power, or remedy under this Agreement shall operate as a waiver thereof, nor shall any single or partial exercise of any right, term, condition, power or remedy preclude other or further exercise thereof, or the exercise of any other right, term, condition, power or remedy. Waiver of any terms of this Agreement shall be valid only if in writing and if designated as such. In the event that any court having competent jurisdiction over the interpretation of this Agreement shall finally determine that one or more of the provisions shall be illegal, unenforceable, void, or invalid in any respect, then such provision shall be deemed limited and restricted to the extent that such court shall deem it to be enforceable, and, as so limited or restricted, shall remain in full force and effect. Any other provision not affected will remain in full force and effect. Any such judicial interpretation requiring limitation or deletion of a provision shall be valid only in the jurisdiction in which such interpretation is made.</p>
                <h6 class="content-title"><li> Counterparts</li></h6>
                <p>In construing the terms of this Agreement, no presumption shall operate in either party’s favor as a result of its counsel’s role in drafting the terms or provisions hereof. Section headings in this Agreement are for convenience only and shall not affect the interpretation  of  any  provision  of  this  Agreement.   This  Agreement  and  any  amendments  thereto  may  be  executed  in  any number of counterparts by an authorized representative of each of the respective parties, each of which shall be an original, but all of which together shall constitute one and the same instrument.</p>

                <h6 class="content-title"><li>Assignment & Binding Effect</li></h6>
                <p>Neither Party may assign this Agreement without the other Party’s prior written consent, except that no such consent is needed in the event of a Party’s assignment or transfer of the majority of its stock or all or substantially all of its assets to which the Service or Platform relates, as part of a merger, acquisition or asset sale. Any assignment in violation of this Agreement will be void.</p>
            </ol>
          </div>
             </div>
              </div>
</section>
