<div *ngIf="show"  class="spinner medium">
                <div class="spinner-wrapper">
                  <div class="rotator">
                    <div class="inner-spin"></div>
                    <div class="inner-spin"></div>
                  </div>
                </div>
              </div>
