.provider-nav{
    margin: 0;
    padding: 0;
}
.provider-nav li {
    list-style-type: none;
    padding: 10px 0 0 0;
    float: right;
}
.provider-nav a{
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    padding: 0 10px;
}
.desc-text{
    font-size: 14px !important;
}
.desc-text-margin{
    margin: 5px 0;
}
.clear{
    clear: both;
}
.social-container {
    text-align: center;
  }

.social-container ul {
    float: right;
  }

.social-container ul li {
    float: left;
    padding-left: 10px;
    list-style-type: none;
  }

.bot-date-sec{
    border-right: 1px solid #ddd;
}
.text-center{
    text-align: center;
}
.media-heading a{
    color: #333;
    text-decoration: none;
}
.cat-request-btn{
    border: none;
    position: relative;
    min-width: 125px !important;
    height: 28px;
    text-align: left;
    cursor: pointer;
    font-size: 12px;
    color: #3306f9;
    background:#cecfd0;
    font-weight: 600;
    margin: 1px 0;
}
.cat-request-btn img
{
	display: inline-block;
    vertical-align: middle;
    /* margin-bottom: 2px; */
}
.cat-request-btn i
{
	display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}


.cat-request-btn span
{
	display:inline-block;
    vertical-align:middle;
    padding: 4px;
}
.cat-btn-lock
{
    border: none;
    position: relative;
    min-width: 125px !important;
    height: 28px;
    text-align: left;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
    background:#fe5722;
    font-weight: 600;
    margin: 1px 0;
}
.cat-btn-lock img
{
	display: inline-block;
    vertical-align: middle;
   /*  margin-bottom: 2px; */
}
.cat-btn-lock i
{
	display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}
.cat-btn-lock span
{
	display:inline-block;
    vertical-align:middle;
    padding: 4px;
}
.lock-icon-bg{
    background-color: #fff;
}
.no-padding-btn-sec{
    padding: 0;
}
/* .category-tooltip{
    animation-duration:500s !important;
    animation-delay: 500s !important;
    z-index: 99999;
  }
.category-popover{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
} */

.popover-span{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 100 !important;
    font-size: 14px !important;
    display: table-cell !important;
    text-align: left !important;
    padding-left: 6px !important;
}

/* .categories-title {
    font-size: 16px;
    position: relative;
    display: inline-block;
} */

.categories-title .categories-tooltiptext {
    visibility: hidden;
    width: 260px;
    background-color: white;
    text-align: center;
    border: 1px solid #80808070;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0%;
    margin-left: -100px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 500ms;
  }

  .categories-title .categories-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -9px;
    border-width: 9px;
    border-style: solid;
    border-color: #c0c0c0 transparent transparent transparent;
  }

  .categories-title:hover .categories-tooltiptext {
    visibility: visible;
    opacity: 1;
  }
