<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDataCategoryLabel" jhiTranslate="datamarketplaceApp.dataCategory.home.createOrEditLabel">Create or edit a Data Category</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!dataCategory.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="dataCategory.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataCategory.recordID" for="field_recordID">Record ID</label>
            <input type="text" class="form-control" name="recordID" id="field_recordID"
                [(ngModel)]="dataCategory.recordID"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataCategory.datacategory" for="field_datacategory">Datacategory</label>
            <input type="text" class="form-control" name="datacategory" id="field_datacategory"
                [(ngModel)]="dataCategory.datacategory" required />
            <div [hidden]="!(editForm.controls.datacategory?.dirty && editForm.controls.datacategory?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.datacategory?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataCategory.explanation" for="field_explanation">Explanation</label>
            <textarea class="form-control" name="explanation" id="field_explanation"
                [(ngModel)]="dataCategory.explanation"  ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataCategory.inactive" for="field_inactive">Inactive</label>
            <input type="number" class="form-control" name="inactive" id="field_inactive"
                [(ngModel)]="dataCategory.inactive" required max="2" />
            <div [hidden]="!(editForm.controls.inactive?.dirty && editForm.controls.inactive?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.inactive?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.inactive?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 2 }">
                    This field cannot be more than 2.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.inactive?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataCategory.createdDate" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="dataCategory.createdDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataCategory.updatedDate" for="field_updatedDate">Updated Date</label>
            <div class="d-flex">
                <input id="field_updatedDate" type="datetime-local" class="form-control" name="updatedDate" [(ngModel)]="dataCategory.updatedDate"
                  />
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="datamarketplaceApp.dataCategory.categoryAuthority" for="field_categoryAuthority">Category Authority</label>
            <select class="form-control" id="field_categoryAuthority" multiple name="categoryAuthority" [(ngModel)]="dataCategory.categoryAuthorities">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
