<div>
    <div class="page-title">
            <span jhiTranslate="datamarketplaceApp.dataCategory.home.title" class="text-uppercase">Data Categories</span>
    </div>
<jhi-alert></jhi-alert>
<div class="container">
        <div class="static-list-clear">
                <ul class="provider-nav">
                    <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                        <a class="nav-link" routerLink="/providers" (click)="provider({'label':'Data Categories - Providers - Button','category':'Providers','event': 'Internal Link Clicked'})">
                            <span matTooltip="See all data & analytics providers" > <span>Show me all of the Data Providers</span></span>
                        </a>
                    </li>
                </ul>
        </div>
    <div class="row static-list-clear">
            <div class="col-md-12">
                <form name="searchForm" class="searchForm form-inline">
                    <div class="input-group w-100 mt-3">
                        <input type="text" class="form-control" [(ngModel)]="currentSearchQuery" (change)="onKeydown({'keyword': currentSearchQuery})" id="currentSearch" name="currentSearch" placeholder="{{ 'datamarketplaceApp.dataCategory.home.search' | translate }}">
                            <button class="input-group-addon btn" (click)="search(currentSearchQuery); searchClear({'label':'Data Categories - Search - Search Button','category':'Categories','event': 'Search Submitted'})">
                                <span matTooltip="Search" >
                                    <img src="../../../content/images/search.png" alt="search" width="20px">
                                </span>
                            </button>
                            <button class="input-group-addon btn" (click)="clear(); searchClear({'label':'Data Categories - Search - Clear Button','category':'Categories','event': 'Search Cleared'})" *ngIf="currentSearchQuery">
                                <span matTooltip="Clear Search" >
                                    <img src="../../../content/images/delete.png" alt="delete" width="20px">
                                </span>
                            </button>
                    </div>
                </form>
            </div>
    </div>

    <jhi-sortbar [sortCategory]="sortCategory" [sortingArray]="sortingArray" [totalItems]="totalItems" entityType="Categories" (sortBy)="sortBy($event)"></jhi-sortbar>
    <section class="section-margin">
        <div class="row">
            <div class="col-md-3">
                <jhi-generic-filter [filterCheckBox]="filterCheckBox" [filterList]="filters" (onFilterChanges)="onFilterChanges($event)"></jhi-generic-filter>
            </div>
  <!-- <div *ngIf="loader" class="spinner medium">
    <div class="spinner-wrapper">
      <div class="rotator">
        <div class="inner-spin"></div>
        <div class="inner-spin"></div>
      </div>
    </div>
  </div>-->
    <div class="col-md-9" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last'] || loaderInfinite" [infiniteScrollDistance]="0" >
        <jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)" [pageName]="pageName"></jhi-inactivity-timer>
        <div class="spinner-sec">
            <jhi-spinner [show]="loader"></jhi-spinner>
        </div>
      <div *ngIf="dataCategories">
           <div class="data-list static-list-clear" *ngFor="let dataCategory of dataCategories;trackBy: trackId">
                <div class="media" *ngIf="isAdmin; else nonAdminCategories">
                    <div class="media-body">
                        <mat-card [ngStyle]="{'min-height': '140px'}" >
                            <div class="clear col-md-12 no-padding">
                                <div class="col-md-2 pull-left no-padding" *ngIf="!dataCategory.locked && dataCategory.logo && dataCategory.logo.logo">
                                    <a class="pull-left media-heading" [routerLink]="['/providers']" [queryParams]="{ filter1: 'categories.id', value1: dataCategory.id, type1: 'checkbox' }">
                                        <span [matTooltip]="dataCategory.datacategory" ><img [src]="_DomSanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + dataCategory.logo.logo)" onerror="this.style.display='none'" style="width:128px" class="data-list-logo"/></span>
                                    </a>
                               </div>
                               <div class="pull-left no-padding" [ngClass]="(!dataCategory.locked && dataCategory.logo && dataCategory.logo.logo) ? 'col-md-10' : 'col-md-12'">
                                   <div class="clear col-md-12 no-padding">
                                    <!-- <ng-template #tipContentIsAdmin class="category-tooltip" >
                                        <span (mouseleave)="a.close()" class="category-popover">Your account does not have permission to view this.<br>
                                            <button style="margin:0 38px !important;" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
                                        </span>
                                    </ng-template> -->
                                        <div class="col-md-8 pull-left no-padding">
                                                <h4 class="media-heading"> 
                                                    <a *ngIf="!dataCategory.locked" [ngClass]="{blurText: dataCategory.locked}" target="_self" [routerLink]="['/providers']" [queryParams]="{ filter1: 'categories.id', value1: dataCategory.id, type1: 'checkbox' }" (click)="categoryNav({'label':'Data Categories - Category - Name  ' + dataCategory.datacategory,'category':'Category','event': 'Internal Link Clicked'})">
                                                        <!-- <span [ngbPopover]="tipContentIsAdmin" #a="ngbPopover" (mouseenter)="a.open(); mouseEnter(a)" *ngIf="dataCategory.locked">{{dataCategory.datacategory}}</span> -->
                                                        <ng-container *ngIf="!dataCategory.locked">
                                                            <span [matTooltip]="dataCategory.datacategory">{{dataCategory.datacategory}}</span>
                                                        </ng-container>
                                                    </a>
                                                    <span class="categories-title">
                                                        <span *ngIf="dataCategory.locked" [ngClass]="{blurText: dataCategory.locked}" >{{dataCategory.datacategory}}</span>
                                                        <span class="categories-tooltiptext">
                                                            <span class="popover-span">Your account does not have permission to view this.<br>
                                                                <button style="margin:0 38px !important;font-family: 'OpenSans-Light';" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    
                                                </h4>
                                        </div>
                                        <div class="col-md-4 pull-left no-padding">
                                            <div class="grey-text media-desc pull-left">
                                                <span *ngIf="dataCategory.relevantDataCategoryProviderCount">
                                                    <span matTooltip="Number of providers with this related data category">
                                                        <div class="text-center">{{dataCategory.relevantDataCategoryProviderCount }}</div>
                                                        <div><strong> Providers</strong></div>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="grey-text media-desc pull-right">
                                            <span *ngIf="dataCategory.mainDataCategoryProviderCount">
                                                    <span matTooltip="Number of providers with this as their main data category">
                                                        <div class="text-center">{{dataCategory.mainDataCategoryProviderCount }}</div>
                                                        <div><strong> Main Providers</strong></div>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                   </div>
                                   <div class="clear col-md-12 no-padding">
                                        <div class="col-md-9 pull-left no-padding">
                                            <p class="media-desc truncate-text  no-padding static-summary " >
                                                    <span *ngIf="dataCategory.explanation">
                                                        <ng-container *ngIf="!dataCategory.locked">
                                                            <span [matTooltip]="dataCategory.explanation">{{dataCategory.explanation}}</span>
                                                        </ng-container>
                                                        <span class="categories-title">
                                                            <span *ngIf="dataCategory.locked" [ngClass]="{blurText: dataCategory.locked}">{{dataCategory.explanation}}</span>
                                                            <span class="categories-tooltiptext">
                                                                <span class="popover-span">Your account does not have permission to view this.<br>
                                                                    <button style="margin:0 38px !important;font-family: 'OpenSans-Light';" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                            </p>
                                        </div>
                                        <div class="social-container social  col-md-3 pull-left no-padding-btn-sec">
                                            <ul>
                                                <li>
                                                    <a *ngIf="!dataCategory?.locked" (click)=" dataCategory.followed = !dataCategory.followed; followAction(dataCategory.id)">
                                                        <!--<span matTooltip="Unfollow Category Updates" >
                                                            <img *ngIf="dataCategory.followed" title="Unfollow Category Updates" src="../../../content/images/icons/follow-active.svg" (click)="categoryFollow({'label':'Data Categories - Category - Unfollow','category':'Category Follow','event': 'Unfollowed'})"/>
                                                        </span>-->
                                                        <span matTooltip="Unfollow Category Updates" *ngIf="dataCategory.followed" (click)="categoryFollow({'label':'Data Categories - Category - Unfollow','category':'Category Follow','event': 'Unfollowed'})">
                                                            <button class="cat-request-btn" type="submit" value="Follow">
                                                                 <i class="fa fa-minus-circle" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;color:#3306f9"></i>
                                                                <span>Unfollow</span>
                                                            </button>
                                                        </span>
                                                        <!--<span matTooltip="Follow Category Updates" >
                                                            <img *ngIf="!dataCategory.followed" title="Follow Category Updates" src="../../../content/images/icons/follow.svg" (click)="categoryFollow({'label':'Data Categories - Category - Follow','category':'Category Follow','event': 'Followed'})"/>
                                                        </span>-->
                                                        <span matTooltip="Follow Category Updates" *ngIf="!dataCategory.followed">
                                                            <button class="cat-btn-lock" color="warn" type="submit" value="Follow" (click)="categoryFollow({'label':'Data Categories - Category - Follow','category':'Category Follow','event': 'Followed'})">
                                                                <i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;color:#fff"></i>
                                                                <span>Follow</span>
                                                            </button>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                               </div>
                           </div>
                            <div class="clear col-md-12 no-padding " [ngStyle]="{'overflow': 'auto'}">
                                    <div class="col-md-2 pull-left media-text no-padding-right bot-date-sec" >
                                        <div class="grey-text media-desc " *ngIf="dataCategory.createdDate">
                                            <div><strong>Added: </strong></div>
                                            <div matTooltip="Date this data category was created"> {{dataCategory.createdDate | date:'mediumDate'}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 pull-left media-text no-padding-right">
                                        <div class="grey-text media-desc " *ngIf="dataCategory.newRelevantProviderDate">
                                            <div><strong>Provider Last Added: </strong></div>
                                            <div matTooltip="Date a provider was most recently added to this data category">{{dataCategory.newRelevantProviderDate | date:'mediumDate'}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 pull-left media-text no-padding-right" >
                                        <div class="grey-text media-desc " *ngIf="dataCategory.newMainProviderDate">
                                            <div><strong>Main Provider Last Added: </strong></div>
                                            <div matTooltip="Date a main provider was most recently added to this data category"> {{dataCategory.newMainProviderDate | date:'mediumDate'}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pull-left media-text no-padding-right">
                                        <div class="grey-text media-desc " *ngIf="dataCategory.newRelevantProviderDate">

                                        </div>
                                    </div>
                                    <div class="col-md-2 pull-left media-text no-padding-right">
                                        <div class="grey-text media-desc " *ngIf="dataCategory.newRelevantProviderDate">

                                        </div>
                                    </div>
                            </div>
                        </mat-card>
                    </div>
                </div> 
                <ng-template #nonAdminCategories>
                    <div class="media" *ngIf="dataCategory.datacategory !== 'DATA_CATEGORY_NULL' && dataCategory.datacategory !== ''">
                        <div class="media-body">
                            <mat-card [ngStyle]="{'min-height': '140px'}" >
                                <div>
                                <div class="clear col-md-12 no-padding">
                                    <div class="col-md-2 pull-left no-padding" *ngIf="!dataCategory.locked && dataCategory.logo && dataCategory.logo.logo">
                                        <a class="pull-left media-heading" [routerLink]="['/providers']" [queryParams]="{ filter1: 'categories.id', value1: dataCategory.id, type1: 'checkbox' }">
                                            <span [matTooltip]="dataCategory.datacategory" ><img [src]="_DomSanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + dataCategory.logo.logo)" onerror="this.style.display='none'" style="width:128px" class="data-list-logo"/></span>
                                        </a>
                                   </div>
                                   <div class="pull-left no-padding" [ngClass]="(!dataCategory.locked && dataCategory.logo && dataCategory.logo.logo) ? 'col-md-10' : 'col-md-12'">
                                       <div class="clear col-md-12 no-padding">
                                        <!-- <ng-template #tipContent class="category-tooltip" >
                                            <span (mouseleave)="p.close()" class="category-popover">Your account does not have permission to view this.<br>
                                                <button style="margin:0 38px !important;" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
                                            </span>
                                        </ng-template> -->
                                            <div class="col-md-8 pull-left no-padding">
                                                    <h4 class="media-heading"> 
                                                        <a *ngIf="!dataCategory.locked" [ngClass]="{blurText: dataCategory.locked}" target="_self" [routerLink]="['/providers']" [queryParams]="{ filter1: 'categories.id', value1: dataCategory.id, type1: 'checkbox' }" (click)="categoryNav({'label':'Data Categories - Category - Name  ' + dataCategory.datacategory,'category':'Category','event': 'Internal Link Clicked'})">
                                                            <!-- <span [ngbPopover]="tipContent" #p="ngbPopover" (mouseenter)="p.open(); mouseEnter(p)">{{dataCategory.datacategory}}</span> -->
                                                            <ng-container *ngIf="!dataCategory.locked">
                                                                <span [matTooltip]="dataCategory.datacategory">{{dataCategory.datacategory}}</span>
                                                            </ng-container>
                                                        </a>
                                                        <span class="categories-title">
                                                            <span *ngIf="dataCategory.locked" [ngClass]="{blurText: dataCategory.locked}" >{{dataCategory.datacategory}}</span>
                                                            <span class="categories-tooltiptext">
                                                                <span class="popover-span">Your account does not have permission to view this.<br>
                                                                    <button style="margin:0 38px !important;font-family: 'OpenSans-Light';" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </h4>
                                            </div>
                                            <div class="col-md-4 no-padding pull-left">
                                                <div class="grey-text media-desc pull-left">
                                                    <span *ngIf="dataCategory.relevantDataCategoryProviderCount">
                                                        <span matTooltip="Number of providers with this related data category">
                                                            <div class="text-center">{{dataCategory.relevantDataCategoryProviderCount }}</div>
                                                            <div><strong> Providers</strong></div>
                                                        </span>
                                                    </span>
                                                </div>

                                                <div class="grey-text media-desc pull-right">
                                                <span *ngIf="dataCategory.mainDataCategoryProviderCount">
                                                        <span matTooltip="Number of providers with this as their main data category">
                                                            <div class="text-center">{{dataCategory.mainDataCategoryProviderCount }}</div>
                                                            <div><strong> Main Providers</strong></div>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                       </div>
                                       <div class="clear col-md-12 no-padding">
                                            <div class="col-md-9 pull-left no-padding">
                                                <p class="media-desc truncate-text  no-padding static-summary " >
                                                        <span *ngIf="dataCategory.explanation" >
                                                            <ng-container *ngIf="!dataCategory.locked">
                                                                <span [matTooltip]="dataCategory.explanation">{{dataCategory.explanation}}</span>
                                                            </ng-container>
                                                            <span class="categories-title">
                                                                <span *ngIf="dataCategory.locked" [ngClass]="{blurText: dataCategory.locked}">{{dataCategory.explanation}}</span>
                                                                <span class="categories-tooltiptext">
                                                                    <span class="popover-span">Your account does not have permission to view this.<br>
                                                                        <button style="margin:0 38px !important;font-family: 'OpenSans-Light';" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                </p>
                                            </div>
                                            <div class="social-container social  col-md-3 pull-left no-padding-btn-sec">
                                                <ul>
                                                    <li>
                                                        <a *ngIf="!dataCategory?.locked" (click)=" dataCategory.followed = !dataCategory.followed; followAction(dataCategory.id)">
                                                            <!--<span matTooltip="Unfollow Category Updates" >
                                                                <img *ngIf="dataCategory.followed" title="Unfollow Category Updates" src="../../../content/images/icons/follow-active.svg" (click)="categoryFollow({'label':'Data Categories - Category - Unfollow','category':'Category Follow','event': 'Unfollowed'})"/>
                                                            </span>-->
                                                            <span matTooltip="Unfollow Category Updates" *ngIf="dataCategory.followed" (click)="categoryFollow({'label':'Data Categories - Category - Unfollow','category':'Category Follow','event': 'Unfollowed'})">
                                                                <button class="cat-request-btn" type="submit" value="Follow">
                                                                    <i class="fa fa-minus-circle" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;color:#3306f9"></i>
                                                                    <span>Unfollow</span>
                                                                </button>
                                                            </span>
                                                            <!--<span matTooltip="Follow Category Updates" >
                                                                <img *ngIf="!dataCategory.followed" title="Follow Category Updates" src="../../../content/images/icons/follow.svg" (click)="categoryFollow({'label':'Data Categories - Category - Follow','category':'Category Follow','event': 'Followed'})"/>
                                                            </span>-->
                                                            <span matTooltip="Follow Category Updates" *ngIf="!dataCategory.followed">
                                                                    <button class="cat-btn-lock" color="warn" type="submit" value="Follow" (click)="categoryFollow({'label':'Data Categories - Category - Follow','category':'Category Follow','event': 'Followed'})">
                                                                        <i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;color:#fff"></i>
                                                                        <span>Follow</span>
                                                                    </button>
                                                                </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                   </div>
                               </div>
                                <div class="clear col-md-12 no-padding " [ngStyle]="{'overflow': 'auto'}">
                                        <div class="col-md-2 pull-left media-text no-padding-right bot-date-sec" >
                                            <div class="grey-text media-desc " *ngIf="dataCategory.createdDate">
                                                <div><strong>Added: </strong></div>
                                                <div matTooltip="Date this data category was created"> {{dataCategory.createdDate | date:'mediumDate'}}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 pull-left media-text no-padding-right" *ngIf="dataCategory.newRelevantProviderDate">
                                            <div class="grey-text media-desc">
                                                <div><strong>Provider Last Added: </strong></div>
                                                <div matTooltip="Date a provider was most recently added to this data category">{{dataCategory.newRelevantProviderDate | date:'mediumDate'}}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 pull-left media-text no-padding-right" *ngIf="dataCategory.newMainProviderDate">
                                            <div class="grey-text media-desc ">
                                                <div><strong>Main Provider Last Added: </strong></div>
                                                <div matTooltip="Date a main provider was most recently added to this data category"> {{dataCategory.newMainProviderDate | date:'mediumDate'}}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 pull-left media-text no-padding-right" *ngIf="dataCategory.newRelevantProviderDate">
                                            <div class="grey-text media-desc">

                                            </div>
                                        </div>
                                        <div class="col-md-2 pull-left media-text no-padding-right" *ngIf="dataCategory.newRelevantProviderDate">
                                            <div class="grey-text media-desc">

                                            </div>
                                        </div>
                                </div>
                            </div>
                            </mat-card>
                        </div>
                    </div>
                </ng-template>
            </div>
           <!-- <div *ngIf="loaderInfinite" class="spinner medium">
                <div class="spinner-wrapper">
                <div class="rotator">
                    <div class="inner-spin"></div>
                    <div class="inner-spin"></div>
                </div>
                </div>
            </div>-->
        </div>
        <!--<ng-container *ngFor="let card of genericProfileCard;let i = index;">
            <jhi-generic-profile-card [genericProfileCard]="card" (onClick)="onButtonClick($event, card.id, i)"></jhi-generic-profile-card>
        </ng-container>-->
        <div class="spinner-sec">
                <jhi-spinner [show]="loaderInfinite"></jhi-spinner>
        </div>
    </div>
    </div>
    </section>
</div>
</div>
