
<div *ngIf="dataCategory">
    <h2><span jhiTranslate="datamarketplaceApp.dataCategory.detail.title">Data Category</span> {{dataCategory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="datamarketplaceApp.dataCategory.datacategory">Datacategory</span></dt>
        <dd>
            <span>{{dataCategory.datacategory}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataCategory.explanation">Explanation</span></dt>
        <dd>
            <span>{{dataCategory.explanation}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataCategory.createdDate">Created Date</span></dt>
        <dd>
            <span>{{dataCategory.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataCategory.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{dataCategory.updatedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataCategory.categoryAuthority">Category Authority</span></dt>
        <dd>
            <span *ngFor="let categoryAuthority of dataCategory.categoryAuthorities; let last = last">
                <a [routerLink]="['/authority', categoryAuthority?.id ]">{{categoryAuthority.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
