<div>
    <h2>
        <span jhiTranslate="datamarketplaceApp.amassUserProvider.home.title">Amass User Providers</span>
        <button class="btn btn-primary float-right jh-create-entity create-amass-user-provider" [routerLink]="['/', { outlets: { popup: ['amass-user-provider-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="datamarketplaceApp.amassUserProvider.home.createLabel">
            Create new Amass User Provider
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'datamarketplaceApp.amassUserProvider.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="amassUserProviders">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userID"><span jhiTranslate="datamarketplaceApp.amassUserProvider.userID">User ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="providerID"><span jhiTranslate="datamarketplaceApp.amassUserProvider.providerID">Provider ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="getNotifications"><span jhiTranslate="datamarketplaceApp.amassUserProvider.getNotifications">Get Notifications</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="notificationType"><span jhiTranslate="datamarketplaceApp.amassUserProvider.notificationType">Notification Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="interestType"><span jhiTranslate="datamarketplaceApp.amassUserProvider.interestType">Interest Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="inactive"><span jhiTranslate="datamarketplaceApp.amassUserProvider.inactive">Inactive</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="datamarketplaceApp.amassUserProvider.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updatedDate"><span jhiTranslate="datamarketplaceApp.amassUserProvider.updatedDate">Updated Date</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let amassUserProvider of amassUserProviders ;trackBy: trackId">
                <td><a [routerLink]="['../amass-user-provider', amassUserProvider.id ]">{{amassUserProvider.id}}</a></td>
                <td>{{amassUserProvider.userID}}</td>
                <td>{{amassUserProvider.providerID}}</td>
                <td>{{amassUserProvider.getNotifications}}</td>
                <td>{{amassUserProvider.notificationType}}</td>
                <td>{{amassUserProvider.interestType}}</td>
                <td>{{amassUserProvider.inactive}}</td>
                <td>{{amassUserProvider.createdDate}}</td>
                <td>{{amassUserProvider.updatedDate}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../amass-user-provider', amassUserProvider.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'amass-user-provider/'+ amassUserProvider.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'amass-user-provider/'+ amassUserProvider.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
