
<div *ngIf="amassUserProvider">
    <h2><span jhiTranslate="datamarketplaceApp.amassUserProvider.detail.title">Amass User Provider</span> {{amassUserProvider.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="datamarketplaceApp.amassUserProvider.userID">User ID</span></dt>
        <dd>
            <span>{{amassUserProvider.userID}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserProvider.providerID">Provider ID</span></dt>
        <dd>
            <span>{{amassUserProvider.providerID}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserProvider.getNotifications">Get Notifications</span></dt>
        <dd>
            <span>{{amassUserProvider.getNotifications}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserProvider.notificationType">Notification Type</span></dt>
        <dd>
            <span>{{amassUserProvider.notificationType}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserProvider.interestType">Interest Type</span></dt>
        <dd>
            <span>{{amassUserProvider.interestType}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserProvider.inactive">Inactive</span></dt>
        <dd>
            <span>{{amassUserProvider.inactive}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserProvider.createdDate">Created Date</span></dt>
        <dd>
            <span>{{amassUserProvider.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserProvider.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{amassUserProvider.updatedDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'amass-user-provider/'+ amassUserProvider.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
