<div class="page-title">
    <span class="text-uppercase">Privacy Policy</span>
</div>
<section class="content-wrapper page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Last modified: January 5, 2021</p>
                <ol type="I">
                <h6 class="content-title"><li>Introduction</li> </h6>

                <p>Amass Insights LLC (<strong>”Company”</strong> or <strong>“We”</strong>) respect your privacy and are committed to protecting it through our compliance with this privacy policy (the “Policy”). All capitalized terms used herein without definition shall have the same meaning in this Policy as set forth in the Terms of Use Agreement (“Agreement”).  In the event of a conflict between the terms of the Agreement and this Policy, the terms of this Policy shall control.</p>

                <p>This policy describes the types of information we may collect from you or that you may provide when you visit the website amassinsights.com  (the  <strong>“Website”</strong>)  and  our  practices  for  collecting,  using,  maintaining,  protecting,  and  disclosing  that information.</p>

                <p>This policy applies to information we collect:</p>
                <ul>
                    <li>On this Website.</li>
                    <li>In email, text, and other electronic messages between you and this Website.</li>
                    <li>When you interact with our Third Party Sites  and services.</li>
                    <li>From our business partners in connection with your visit to our site.</li>
                </ul>
<p></p>
                <p>It does not apply to information collected by:</p>
                <ul>
                    <li>us offline or through any other means, including on any other website operated by Company or any third party.</li>
                    <li>Any Third Party Site or services.</li>
                    <li>Any third party, including through any application or content (including advertising, and third party publications or data) that may link to or be accessible from or on the Website.</li>
                </ul>
<p></p>
                <p>
                    Please read this policy carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies and practices, your choice is not to use the Website. By accessing or using the Website, you agree to this policy. This policy may change from time to time (see <a (click)="scrollTo('changes-to-our-policy')" (click)="anchorLinks({'label':'Privacy Policy - Introduction - Link - Changes to Our Privacy Policy','category':'Privacy Policy','event':'Anchor Link Clicked'})">Changes to Our Privacy Policy</a>). Your continued use of the Website after we make changes is deemed to be acceptance of those changes, so please check the policy periodically for updates.
                </p>

                <h6 class="content-title"><li>Children Under the Age of 13</li></h6>
                <p>
                    The Website is not intended for children under 13 years of age. No one under age 13 may provide any information to or on the Website. We do not knowingly collect personal information from children under 13. If you are under 13, do not use or provide any information on the Website or on or through any of its features, register on the Website, use any of the interactive or public comment features of this Website or provide any information about yourself to us, including your name, address, telephone number,  email  address,  or  any  screen  name  or  user  name  you  may  use.  If  we  learn  we  have  collected  or  received  Personal Information from a child under 13 without verification of parental consent, we will delete that information. If you believe we might have any information from or about a child under 13, please contact us at <a href="mailto:info@amassinsights.com" (click)="mailTo({'label':'Privacy Policy - Children - Email - Info','category':'Contact Us','event':'Email'})">info@amassinsights.com</a>.
                </p>

                <h6 class="content-title"><li>Information We Collect About You and How We Collect It</li></h6>
                <p>
                    We collect several types of information from and about users of the Website, including information:
                </p>
                <ul>
                    <li>by which you may be personally identified, such as name, postal address, email address, telephone number, place of employment, and any other identifier by which you may be contacted online or offline (<strong>”Personal Information”</strong>);</li>
                    <li>that is about you but individually does not identify you, such as your areas of interest for instance, sectors, geographies, equities, or data categories, your company’s characteristics, for instance its size, assets under management, or location; and/or</li>
                    <li>about your internet connection, the equipment you use to access the Website and usage details.</li>
                </ul>
               <p></p>
                <p>We collect this information:</p>
                <ul>
                    <li>Directly from you when you provide it to us or as you make comments on our site.</li>
                    <li>Automatically  as  you  navigate  through  the  site.  Information  collected  automatically  may  include  usage  details,  IP addresses, and information collected through cookies web beacons, Google Analytics and other tracking technologies.</li>
                    <li>From third parties, for example, our business partners.</li>
                </ul>
<p></p>
                <h6 class="content-title"><li>Information You Provide to Us</li></h6>
                <p>
                    The information we collect on or through the Website may include:
                </p>
                <ul>
                    <li>User Contributions, such as information that you provide by filling in forms on the Website. This includes information provided at the time of registering to use the Website, on your account page, on pages that allow users to choose their settings, subscribing to our service, posting material, or requesting further services. We may also ask you for information when you report a problem with the Website.</li>
                    <li>Records and copies of your correspondence (including email addresses), if you contact us or any other parties.</li>
                    <li>Your responses to surveys that we might ask you to complete for research purposes.</li>
                    <li>Details of transactions you carry out through the Website and of the fulfillment of your orders. You may be required to provide financial information before placing an order through the Website.</li>
                    <li>Your search queries on the Website.</li>
                </ul>
                <p></p>
               <p>Your User Contributions are posted on and transmitted to others at your own risk. User Contributions consisting of uploaded files may contain metadata, which may contain Personal Information or other information about or relating to you. You may wish to remove metadata from your file(s) before transmitting such file(s).</p>
            <p>Private User Contributions will be published or displayed in areas of the Website only you or Company administrators have access to. Limited Access User Contributions will be published or displayed in areas of the Website only accessible by you, Company Administrators, or the specified Users that were chosen.</p>
            <p>Public User Contributions will be published or displayed in public areas of the Website or transmitted to other Users or third parties and result in others having access to and the ability to use and share these Public User Contributions with third parties. Any Public User Contribution you transmit or post will be treated as non-confidential and non-proprietary.</p>    
            <h6 class="content-title"><li>Information We Collect Through Automatic Data Collection Technologies</li></h6>
                <p>
                    As you navigate through and interact with the Website, we or our service providers may use automatic data collection technologies to collect certain information about your equipment, browsing actions, and patterns, including:
                </p>
                <ul>
                    <li>Details of your visits to the Website, including traffic data, logs, and other communication data and the resources that you access and use on the Website. </li>
                    <li>Information about your computer and internet connection, including your IP address, operating system, and browser type.</li>
                </ul>
                <p></p>
                <p>
                    The information collected automatically is statistical data and does not include Personal Information, but we may maintain it or associate it with Personal Information we collect in other ways or receive from third parties. It helps us to improve our Website and to deliver a better and more personalized service, including by enabling us to:
                </p>
                <ul>
                    <li>Estimate our audience size and usage patterns.</li>
                    <li>Store information about your preferences, allowing us to customize the Website according to your individual interests.</li>
                    <li>Provide you with access to a business network of insights based on analyzing the aggregate and aggregated data of all Users, including you.</li>
                    <li>Speed up your searches.</li>
                    <li>Recognize you when you return to the Website.</li>
                    <li>Help us identify your device for fraud prevention and diagnostic purposes.</li>
                </ul>
                <p></p>
                <p>The technologies we use for this automatic data collection may include:</p>
                <ul>
                    <li><strong>Cookies (or browser cookies).</strong> A cookie is a small file placed on the hard drive of your computer. You may refuse to accept browser cookies by activating the appropriate setting on your browser. However, if you select this setting you may be unable to access certain parts of the Website. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you direct your browser to the Website.</li>
                    <li><strong>Web Beacons.</strong> Pages of the Website and our emails may contain small electronic files known as web beacons (also referred to as clear gifs, pixel tags, and single-pixel gifs) that permit the Company, for example, to count users who have visited those pages or opened an email and for other related website statistics (for example, recording the popularity of certain website content and verifying system and server integrity).</li>
                </ul>
                <p></p>
                <p>You agree to grant, and hereby grant, Company and its Representatives a nonexclusive worldwide royalty-free and fully paid license and right to transmit, monitor, retrieve, store, maintain and use any and all data generated by you or any Registered User affiliated with User’s Organization on or through the Website, including any information related to the use of the Website, and to use, reproduce, modify, and create derivative works of, distribute and display such data, including usage reports provided to you on Users’ usage of the Website. Company will not have any obligation to delete or destroy any such data stores following any termination or expiration of this Agreement.</p>
                <h6 class="content-title"><li>How We Use Your Information</li></h6>
                <p>We use information that we collect about you or that you provide to us, including any personal information:</p>
                <ul>
                    <li>To present our Website and its contents to you.</li>
                    <li>To provide you with information, products, or services, including reports on Users’ usage of the Website</li>
                    <li>To fulfill any other purpose for which you provide it.</li>
                    <li>To provide you with notices about your account/subscription, including expiration and renewal notices.</li>
                    <li>To communicate with you via email</li>
                    <li>To carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including for billing and collection.</li>
                    <li>To notify you about changes to the Website or any products or services we offer or provide though it.</li>
                    <li>To allow you to participate in Interactive Services on the Website.</li>
                    <li>To improve and customize your experience on the Website, such as informing and/or connecting you to people, information, services that may be of interest to you.</li>
                    <li>In any other way we may describe when you provide the information.</li>
                    <li>For any other purpose with your consent.</li>
                </ul>
                <p></p>
                <p>
                    The Company has the right to use your information to communicate, including without limitation by email or by posting notices on the Website, with you for marketing purposes, such as our own and third parties’ goods and services that may be of interest to you (including explanations of benefits available to Registered Users or Subscribers), and for any purpose relating to use of the Website, including assistance with registration and provision of support to any Registered User. If you do not want us to use your information in this way, please uncheck the relevant box in the signup form or adjust your user preferences in your account profile. For more information, see <a (click)="scrollTo('choices-about-disclose-info')" (click)="anchorLinks({'label':'Privacy Policy - How We Use - Link - Choices','category':'Privacy Policy','event':'Anchor Link Clicked'})">Choices About How We Use and Disclose Your Information</a>.
                </p>

                <h6 class="content-title"><li>Disclosure of Your Information </li></h6>
                <p>We may disclose aggregated information about our users, and information that does not identify any individual, without restriction.</p>
                <p>We may disclose Personal Information that we collect or you provide as described in this privacy policy:</p>
                <ul>
                    <li>To contractors, service providers, and other third parties we use to support our business.</li>
                    <li>To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of our assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which Personal Information held by us about our Website users is among the assets transferred.</li>
                    <li>To fulfill the purpose for which you provide it. </li>
                    <li>For any other purpose disclosed by us when you provide the information.</li>
                    <li>With your consent. </li>
                </ul>
                <p></p>
                <p>We may also disclose your Personal Information:</p>
                <ul>
                        <li>To comply with any court order, law, or legal process, including to respond to any government or regulatory request.</li>
                        <li>To enforce or apply our <a [routerLink]="['/terms']" (click)="terms({'label':'Privacy Policy - Disclosure - Link - Terms of Use','category':'Terms of Use','event':'Internal Link Clicked'})">terms of use</a> and other agreements, including for billing and collection purposes.</li>
                        <li>If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of the Company, our customers, or others. This includes exchanging information with other companies and organizations for the purposes of fraud protection and credit risk reduction.</li>
                </ul>
<p></p>
                <h6 class="content-title" id="choices-about-disclose-info"><li>Choices About How We Use and Disclose Your Information</li></h6>
                <p>We strive to provide you with choices regarding the Personal Information you provide to us. We have created mechanisms to provide you with the following control over your information:</p>
                <ul>
                    <li><strong>Tracking Technologies.</strong> You can set your browser to refuse all or some browser cookies, or to alert you when cookies are being sent. If you disable or refuse cookies, please note that some parts of this site may then be inaccessible or not function properly.</li>
                    <li><strong>Promotional Offers from the Company.</strong> If you do not wish to have your contact information used by the Company to promote our own or third parties’ products or services, you can opt-out by checking the relevant box in the signup form, by logging into the Website and adjusting your user preferences in your account profile or by sending us an email stating your request to <a href="mailto:info@amassinsights.com" (click)="mailTo({'label':'Privacy Policy - Choices - Email - Info','category':'Contact Us','event':'Email'})">info@amassinsights.com</a>. If we have sent you a promotional email, you may send us a return email asking to be omitted from future email distributions. </li>
                </ul>
<p></p>
                <h6 class="content-title"><li>Accessing and Correcting Your Information</li></h6>
                <p>You can review and change your Personal Information by logging into the Website and visiting your account profile page.</p>

                <p>You may also send us an email at <a href="mailto:info@amassinsights.com" (click)="mailTo({'label':'Privacy Policy - Accessing - Email - Info','category':'Contact Us','event':'Email'})">info@amassinsights.com</a> to request access to, correct or delete any Personal Information that you have provided to us. We cannot delete your Personal Information except by also deleting your user account. We may not accommodate a request to change information if we believe the change would violate any law or legal requirement or cause the information to be incorrect.</p>

                <p>If you delete your User Contributions from the Website, copies of your User Contributions may remain viewable in cached and archived pages, on live pages stripped of any Personal Information, or might have been copied or stored by other Website users. Proper access and use of information provided on the Website, including User Contributions, is governed by our <a [routerLink]="['/terms']" (click)="termsService({'label':'Privacy Policy - Disclosure - Link - Terms of Use','category':'Terms of Use','event':'Internal Link Clicked'})">terms of use</a>.</p>

                <h6 class="content-title"><li>Third Party Sites</li></h6>
                <p>There may be hyperlinks on the Website to Third Party Sites.  These Third Party Sites may use their own cookies, web beacons and other technology to independently collect information about you.   We make no representations regarding the policies or business practices of such Third Party Sites.   Collection of your information by third parties is not governed by this Policy.  Please consult the privacy policies of those third parties to determine how they collect and use their information.</p>
                <h6 class="content-title"><li>Social Features</li></h6>
                <p>If you choose to use Social Features, information you post or provide access to may be publicly displayed on the site or by the provider of the Social Feature that you use.</p>

                <p>Similarly, if you post information on a third party platform that references the Website (e.g., by using a hashtag associated with the Company or its properties in a tweet or status update), your post may be published on the Third Party Site in accordance with the terms of the Third Party Site or service. Also, both the Company and the third party may have access to certain information about you and your use of the Website and the Third Party Site or service. In addition, we may receive information about you if other users of a Third Party Site give us access to their profiles and you are one of their “connections,” or information about you is otherwise accessible through your “connections’” web pages, profile pages, or similar pages on a social networking or other Third Party Site or interactive service.</p>

                <p>The information we collect in connection with Social Features is subject to this Privacy Policy. The information collected and stored by the third party remains subject to the third party’s privacy practices, including whether the third party continues to share information with us, the types of information shared, and your choices with regard to what is visible to others on that Third Party Site or service.</p>

                <h6 class="content-title"><li>Your California Privacy Rights</li></h6>
               <p>We  value  your  privacy  and  have  taken  the  necessary  precautions  to  be  in  compliance  with  the  California  Online  Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent. Registered Users may make changes to their information at any time by editing their profile or user settings.</p>
                <p>California Civil Code Section § 1798.83 permits users of the Website that are California residents to request certain information regarding our disclosure of Personal Information to third parties for their direct marketing purposes. To make such a request, please send an email to <a href="mailto:info@amassinsights.com" (click)="mailTo({'label':'Privacy Policy - Your California - Email - Info','category':'Contact Us','event':'Email'})">info@amassinsights.com</a> or write us at: 555 W 23rd St, #N5F, New York, NY 10011.</p>

                <h6 class="content-title"><li>Data Security</li></h6>
                <p>We have implemented measures designed to secure your Personal Information from accidental loss and from unauthorized access, use, alteration, and disclosure. All information you provide to us is stored on secure servers behind firewalls. </p>

                <p>The safety and security of your information also depends on you. Where we have given you (or where you have chosen) a password for access to certain parts of our Website, you are responsible for keeping this password confidential. We ask you not to share your password with anyone. We urge you to be careful about giving out information in public areas of the Website. The information you share in public areas may be viewed by any user of the Website.</p>

                <p>Unfortunately, the transmission of information via the internet is not completely secure. Although we do our best to protect your Personal Information, we cannot guarantee the security of your Personal Information transmitted to the Website. Any transmission of Personal Information is at your own risk. We are not responsible for circumvention of any privacy settings or security measures contained on the Website.</p>
                <h6 class="content-title" id="changes-to-our-policy"><li>Changes to Our Privacy Policy</li></h6>
                <p>It is our procedure to post any changes we make to our Policy here. If we make material changes to how we treat our users’ Personal Information, we will notify you through a notice on the Website home page or through an email to your email address. The date the Policy was last revised is identified at the top of the page. You are responsible for ensuring we have an up-to-date active and deliverable email address for you, and for periodically visiting the Website and this Policy to check for any changes.</p>

                <h6 class="content-title"><li>Contact Information</li></h6>
                <p>To ask questions or comment about this Policy and our privacy practices, <a [routerLink]="['/contact-us']" (click)="contactUs({'label':'Privacy Policy - Contact Information - Link - Contact Us','category':'Contact Us','event':'Internal Link Clicked'})">contact us</a>.</p>
            </ol>
            </div>
        </div>
    </div>
</section>
