<div class="responsive-container">
    <!-- <h2 mat-dialog-title class="text-center" *ngIf="!success"><img src="../../../content/images/logo_small.png" width="100"> -->
    <div class="text-uppercase text-center"><div [hidden]="success"><strong>Activate your Insights Account</strong></div></div>
        <mat-dialog-content>
                <div class="justify-content-center">
                    <div class="alert" *ngIf="success" jhiTranslate="register.messages.success">
                        <strong>Registration successful! </strong> Please check your email for confirmation.
                    </div>

                    <div class="alert-message" *ngIf="error" >
                        <!-- <strong>Registration failed!</strong> Please try again later. -->
                        The account you are trying to activate is either already activated or has been deactivated. If you already have an account, please <strong>login</strong>. If not, please try signing up by entering your email address and corresponding information in the <strong>Sign Up</strong>  Page.
                    </div>
                    <div class="alert-message" *ngIf="userErrorMessage">
                        The account you are trying to activate is either already activated or has been deactivated. If you already have an account, please <strong>login</strong>. If not, please try signing up by entering your email address and corresponding information in the <strong>Sign Up</strong>  Page.
                    </div>
                    <div class="alert-message" *ngIf="userErrorMessage">
                        The account you are trying to activate is either already activated or has been deactivated. If you already have an account, please <strong>login</strong>. If not, please try signing up by entering your email address and corresponding information in the <strong>Sign Up</strong>  Page.
                    </div>
                    <div class="alert" *ngIf="validationMessage">
                        {{validationMessage}}
                    </div>
                </div>

                <form class="signup-form" name="form" role="form" (ngSubmit)="register(registerForm)" #registerForm="ngForm" *ngIf="!success && !error">
                        <!-- <input type="text" class="mat-elevation-z2 signup-form-first-name" id="firstName" name="firstName" #email="ngModel" placeholder="First Name*"
                        [(ngModel)]="accountActivation.firstName" maxlength=50 required matInput>

                        <input type="text" class="mat-elevation-z2 signup-form-last-name" id="lastName" name="lastName" #email="ngModel" placeholder="Last Name*"
                        [(ngModel)]="accountActivation.lastName" maxlength=50 required>

                        <input type="text" class="mat-elevation-z2" [(ngModel)]="accountActivation.company" id="applyCompany" name="applyCompany" #applyCompany="ngModel" required placeholder="{{'global.form.company.placeholder' | translate}}*"> -->


                        <input type="email" class="mat-elevation-z2" autocomplete="off" id="applyEmail" name="applyEmail" #applyEmail="ngModel" placeholder="Email Address*"
                                [(ngModel)]="accountActivation.email" email required pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$" readonly>
                                <div class="justify-content-center">
                                    <div class="alert" *ngIf="errorUserExists">
                                        Email is already in use! Please login with your email. <br><button mat-button [mat-dialog-close]="true" (click)="openSigninDialog({'label':'Sign Up - Link - Login','category':'Login','event':'Popup Link Clicked'})" class="text-uppercase" color="blue">Login >></button>
                                    </div>
                                    <div class="alert" *ngIf="errorEmailExists">
                                        Email is already in use! Please login with your email. <br><button mat-button [mat-dialog-close]="true" (click)="openSigninDialog({'label':'Sign Up - Link - Login','category':'Login','event':'Popup Link Clicked'})" class="text-uppercase" color="primary">Login >></button>
                                    </div>
                                </div>
                        <div *ngIf="applyEmail.dirty && applyEmail.invalid">
                            <div class="justify-content-center">
                                <div class="alert" *ngIf="applyEmail.errors.required">
                                    Please enter a valid email address to sign up.
                                </div>
                            </div>
                            <div class="justify-content-center">
                                <div class="alert" *ngIf="applyEmail.errors && applyEmail.errors.pattern">
                                    Please enter a valid email address to sign up.
                                </div>
                            </div>
                        </div>

                        <input type="password" class="mat-elevation-z2 nomargin" autocomplete="new-password" id="password" name="password" #password="ngModel" placeholder="{{'global.form.newpassword.placeholder' | translate}}*"
                                [(ngModel)]="accountActivation.password" (keyup)="onKeydown(accountActivation.password)" minlength=4 maxlength=50 required>
                                <div class="justify-content-center">
                                    <div class="alert" *ngIf="strengthBarValidationMessage">
                                        {{strengthBarValidationMessage}}
                                    </div>
                                </div>
                        <div *ngIf="password.dirty && password.invalid">
                            <div class="justify-content-center">
                                <div class="alert" *ngIf="password.errors.required"
                                jhiTranslate="global.messages.validate.newpassword.required">
                                Your password is required.
                                </div>
                            </div>
                            <div class="justify-content-center">
                                <div class="alert" *ngIf="password.errors.minlength"
                                jhiTranslate="global.messages.validate.newpassword.minlength">
                                Your password is required to be at least 4 characters.
                                </div>
                            </div>
                            <div class="justify-content-center">
                                <div class="alert" *ngIf="password.errors.maxlength"
                                jhiTranslate="global.messages.validate.newpassword.maxlength">
                                Your password cannot be longer than 50 characters.
                                </div>
                            </div>
                        </div>
                        <jhi-password-strength-bar *ngIf="passwordStrengthBar" [passwordToCheck]="accountActivation.password" (errorMsg)="change($event)"></jhi-password-strength-bar>

                        <input type="password" class="mat-elevation-z2" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                                [(ngModel)]="confirmPassword" (ngModelChange)="valuechange($event)" maxlength=50 required>
                                <div class="justify-content-center">
                                    <div class="alert" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                                        The password and its confirmation do not match!
                                    </div>
                                </div>
                        <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                            <div class="justify-content-center">
                                <div class="alert" *ngIf="confirmPasswordInput.errors.required"
                                jhiTranslate="global.messages.validate.confirmpassword.required">
                                Your confirmation password is required
                                </div>
                            </div>
                            <!-- <div class="justify-content-center">
                                <div class="alert" *ngIf="confirmPasswordInput.errors.minlength"
                                jhiTranslate="global.messages.validate.confirmpassword.minlength">
                                Your confirmation password is required to be at least 4 characters.
                                </div>
                            </div> -->
                            <div class="justify-content-center">
                                <div class="alert" *ngIf="confirmPasswordInput.errors.maxlength"
                                jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                                Your confirmation password cannot be longer than 50 characters.
                                </div>
                            </div>
                        </div>
                        <!-- <mat-form-field class="signup-drop-down">
                            <mat-select class="user-role" placeholder="My company is best described as:" name="authorities" id="authorities" [(ngModel)]="accountActivation.authorities" (selectionChange)="roleValueChange($event)" required>
                                <mat-option value="ROLE_INVESTOR"><span class="main-text" >An Asset Manager</span><span class="sub-text" > looking to discover, learn about and purchase data.</span></mat-option>
                                <mat-option value="ROLE_PROVIDER"><span class="main-text" >A Data/Research Provider</span> <span class="sub-text" >looking to monetize my data, analytics, and/or research.</span></mat-option>

                            </mat-select>
                        </mat-form-field> -->
                        <mat-checkbox class="amass-checkbox checkbox-label" color="warn" [(ngModel)]="accountActivation.notify_news_update" [checked]="true" name="notify_news_update" (click)="newsletter({'label':'Account Activation - Checkbox - Newsletter','category':'Newsletter','event':'Signed Up'})">
                            Send me occassional news and updates about Alternative Data
                        </mat-checkbox>
                        <mat-checkbox class="amass-checkbox" color="warn" (change)="agreeCheck($event)" name="agreeTerms" id="agreeTerms" [(ngModel)]="accountActivation.agreeTerms" >
                            I agree to the <a class="link" (click)="terms();termsOfService({'label':'Account Activation - Checkbox - Terms and Privacy', 'category':'Terms', 'event':'Internal Link Clicked'})">Terms of Service</a> and <a class="link" (click)="privacyPolicy();termsOfService({'label':'Account Activation - Link - Privacy', 'category':'Privacy Policy', 'event':'Internal Link Clicked'})">Privacy Policy*</a>
                        </mat-checkbox>
                        <div class="justify-content-center">
                            <div class="alert" *ngIf="agreeValidationMessage">
                                {{agreeValidationMessage}}
                            </div>
                        </div>

                    <button type="submit" class="text-uppercase mat-button-large" mat-raised-button color="warn" (click)="signUp({'label':'Account Activation - Button - Activate', 'category':'Account Activation', 'event':'Form Submitted'})">Activate My Account</button>
                    <p class="text-uppercase text-center" [ngStyle]="{'color': '#7f7f7f','margin-top': '2px', 'margin-bottom': '0'}"><strong>OR</strong></p>

                   <!--  <div>
                        <jhi-social dialogType="Sign Up" provider="linkedin" [authorities]="accountActivation.authorities" [agreeTerms]="accountActivation.agreeTerms" [csrf]="csrf"></jhi-social>
                    </div> -->
                </form>
                <div *ngIf="!success && !error">
                    <jhi-social dialogType="Activate My Account" provider="linkedin" [authorities]="accountActivation.authorities" [agreeTerms]="accountActivation.agreeTerms" [csrf]="csrf"></jhi-social>
                </div>
               <!--  <div *ngIf="!success">
                    <jhi-social dialogType="Sign Up" provider="linkedin" [agreeTerms]="agreeTerms" [csrf]="csrf"></jhi-social>
                </div> -->
        </mat-dialog-content>
    <mat-dialog-actions align="center" *ngIf="!success && !error">
        <span class="dialog-bottom-text">Already have an account?</span> <button  mat-button (click)="openSigninDialog({'label':'Account Activation - Link - Login', 'category':'Login', 'event':'Popup Link Clicked'})" class="text-uppercase signup-login" color="primary">Login >></button>
    </mat-dialog-actions>
    </div>
