<div class="page-title">
    <span class="text-uppercase">Checkout & Subscribe</span>
</div>

<div class="container bg-gradient p-5 checkout">
    <div class="row">
        <jhi-inactivity-timer
            (onExpire)="onExpireSession($event)"
            (beforeSessionExpire)="beforeSessionExpires($event)"
            [pageName]="pageName"
        ></jhi-inactivity-timer>
        <div class="col-sm-6">
            <table id="cart" class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th style="width:70%">Subscription Plan</th>
                        <th style="width:15%"></th>
                        <th style="width:15%">Price</th>
                    </tr>
                </thead>
                <tbody *ngIf="subscription === 'Bronze'">
                    <tr>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h6 class="nomargin">{{ subscription }}</h6>
                                    <div>
                                        <ul class="list-unstyled mb-5 position-relative">
                                            <li>Access to 3 Data Categories of your Choice</li>
                                            <li>First-look Advantage to New Data Providers</li>
                                            <li>Real-time Tracking of Data Provider Updates</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td data-th="Quantity">
                            <!-- <input type="number" class="form-control text-center" value="1"> -->
                        </td>
                        <td data-th="Subtotal" class="text-center">{{ currencySymbol }}{{ amount }}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="subscription === 'Starter'">
                    <tr>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h6 class="nomargin">Starter</h6>
                                    <div>
                                        <ul class="list-unstyled mb-5 position-relative">
                                            <li>
                                                Access to an additional 3,000+ Data Provider Profiles within the 6 Data Categories of your
                                                Choice
                                            </li>
                                            <li>Your Data Request Curated & Fulfilled by Amass Experts</li>
                                            <li>Amass Alternative Data Reports & Thought Leadership</li>
                                            <li>Advanced Notice of New Data Providers</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td data-th="Quantity">
                            <!-- <input type="number" class="form-control text-center" value="1"> -->
                        </td>
                        <td data-th="Subtotal" class="text-center">{{ currencySymbol }}1000</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="visible-xs"></tr>
                    <tr>
                        <td></td>
                        <td><strong>Total : </strong></td>
                        <td class="hidden-xs text-center">{{ currencySymbol }}1000</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-sm-6 shadow">
            <h3 class="text-light1">
                Input your Payment Information
                <hr>
            </h3>
            <form novalidate (ngSubmit)="buy($event)" [formGroup]="stripeTest" class="checkout" *ngIf="checkout">
                <div class="row input-group input-group-sm">
                    <div class="col-md-6">
                        <label class="checkbox-inline">Name on Card</label>
                        <input
                            type="text"
                            [(ngModel)]="checkout.firstName"
                            class="form-control no-border"
                            formControlName="name"
                            placeholder="Name"
                        />
                    </div>

                    <div class="col-md-6">
                        <label class="checkbox-inline">Payer Email</label>
                        <input
                            type="text"
                            [(ngModel)]="checkout.email"
                            class="form-control no-border"
                            formControlName="email"
                            placeholder="Email"
                        />
                    </div>
                </div>
                <br><br>
                <label class="checkbox-inline">Card Details</label>
                <div id="card-element" class="field"></div>
                <div id="card-errors" role="alert" style="color:red"></div>
                <label class="checkbox-inline">
                    <input type="checkbox" formControlName="privacy" required /> I agree to the
                    <a [routerLink]="['/terms']" target="_blank">Terms of Service </a> , including the Subscriber Terms, and
                    <a target="_blank" [routerLink]="['/privacy-policy']">Privacy Policy</a>
                </label>
                <br><br>
                <button type="submit" [disabled]="!stripeTest.valid" class="btn btn-primary">
                    {{ pay }}
                </button>
            </form>
        </div>
    </div>
</div>

<!-- [(ngModel)]="checkout.firstName"
  [(ngModel)]="checkout.email" -->
