
<div *ngIf="adminRole">
    <h2><span jhiTranslate="datamarketplaceApp.adminRole.detail.title">Admin Role</span> {{adminRole.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="datamarketplaceApp.adminRole.userID">User ID</span></dt>
        <dd>
            <span>{{adminRole.userID}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.adminRole.adminRole">Admin Role</span></dt>
        <dd>
            <span>{{adminRole.adminRole}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.adminRole.description">Description</span></dt>
        <dd>
            <span>{{adminRole.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'admin-role/'+ adminRole.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
