<div>
    <h2>
        <span jhiTranslate="datamarketplaceApp.adminRole.home.title">Admin Roles</span>
        <button class="btn btn-primary float-right jh-create-entity create-admin-role" [routerLink]="['/', { outlets: { popup: ['admin-role-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="datamarketplaceApp.adminRole.home.createLabel">
            Create new Admin Role
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'datamarketplaceApp.adminRole.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="adminRoles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userID"><span jhiTranslate="datamarketplaceApp.adminRole.userID">User ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="adminRole"><span jhiTranslate="datamarketplaceApp.adminRole.adminRole">Admin Role</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="datamarketplaceApp.adminRole.description">Description</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let adminRole of adminRoles ;trackBy: trackId">
                <td><a [routerLink]="['../admin-role', adminRole.id ]">{{adminRole.id}}</a></td>
                <td>{{adminRole.userID}}</td>
                <td>{{adminRole.adminRole}}</td>
                <td>{{adminRole.description}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../admin-role', adminRole.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'admin-role/'+ adminRole.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'admin-role/'+ adminRole.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
