<div class="page-title">
    <span class="text-uppercase">Terms Of Use</span>
</div>
<section class="content-wrapper page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Last Updated: January 5, 2021</p>
            
                <ol type="I">
                    <h6 class="content-title"><li> Acceptance of the Terms of Use</li>  </h6>
                <p>
                    These terms of  use are entered  into by and  between You (<strong>”you”</strong>,<strong>"your"</strong>) and  
                    Amass Insights  LLC (<strong>”Company”</strong>, <strong>“we”</strong>, or <strong>“us”</strong>) (each a <strong>"Party"</strong> and collectively,  the <strong>"Parties"</strong>). The following terms and conditions (the <strong>“Terms of Use”</strong> or  the <strong>“Agreement”</strong>), govern your access to and use of amassinsights.com, including any content, functionality, and services offered on or through amassinsights.com (the <strong>“Website”</strong>), whether as a Guest User or a Registered User.To the extent you access the Website, 
                    Content  or  Interactive  Services  as  an  agent  of  any  legal  entity  or  on  behalf  of  an  organization  
                    or  entity  ( <strong>“User’s Organization”</strong>), you represent and warrant that you have the authority to agree to this Agreement 
                    on behalf of the relevant organization or entity and bind them to this Agreement (in which case, the references to “you” and “your”
                    in this Agreement, expect for in this sentence, refer to that organization or entity), but you are still required to sign up each
                    individual user from your entity as a Registered User.
                </p>
<p>
    This Agreement permits you to use the Website for the purpose of conducting research for your professional use and interacting with third party organizations in your professional capacity (the <strong>“Purpose”</strong>).
</p>
                <p>
                    Please read the Terms of Use carefully before you start to use the Website. <strong>By using the Website, by requesting a subscription,  or by clicking to accept or agree to the Terms of Use when this option is made available to you, you accept and agree to be bound and abide by these Terms of Use,  found at <a [routerLink]="['/terms']" (click)="anchorLink({'label':'Terms of Use - Acceptance - Link - Terms','category':'Terms of Use','event':'Anchor Link Clicked'})">www.amassinsights.com/terms</a> and our Privacy Policy, found at <a [routerLink]="['/privacy-policy']" (click)="anchorLink({'label':'Terms of Use - Acceptance - Link - Privacy Policy','category':'Privacy Policy','event':'Internal Link Clicked'})">www.amassinsights.com/privacy-policy</a> which is incorporated herein by reference.</strong> If you do not want to agree to this Agreement or the Privacy Policy, you must not access or use the Website.
                </p>

                <p>This Website is offered and available to users who are 18 years of age or older and reside in the United States or any of its territories or possessions. By using this Website, you represent and warrant that you are of legal age and have the authority to form a binding contract with the Company and meet all of the foregoing eligibility requirements and  performance  of  its obligations hereunder does not conflict with any other agreement either signed or contemplated. If you do not meet all of these requirements, you must not access or use the Website.</p>

                <p class="text-uppercase"><strong>THESE TERMS REQUIRE THE USE OF ARBITRATION ON AN INDIVIDUAL BASIS TO RESOLVE DISPUTES, RATHER THAN JURY TRIALS OR CLASS ACTIONS.</strong></p>
                <p class="text-uppercase"><strong>BY PURCHASING A SUBSCRIPTION, YOU AFFIRM THAT YOU ARE OF LEGAL AGE TO ENTER INTO THIS AGREEMENT, AND YOU ACCEPT AND ARE BOUND BY THIS AGREEMENT.</strong></p>

                <h6 class="content-title"><li>Changes to this Agreement</li></h6>
                <p>We may revise and update this Agreement from time to time in our sole discretion. All changes are effective immediately when we post them and apply to all access to and use of the Website thereafter. However, any changes to the dispute resolution provisions set out in <a (click)="scrollTo('governing-law-jurisdiction')" (click)="anchorLink({'label':'Terms of Use - Changes - Link - Governing Law','category':'Terms of Use','event':'Anchor Link Clicked'})">Governing Law and Jurisdiction</a> will not apply to any disputes for which the parties have actual notice on or before the date the change is posted on the Website.</p>
                <p>Your continued use of the Website following the posting of revised Terms of Use means that you accept and agree to the changes. You are expected to check this page from time to time so you are aware of any changes, as they are binding on you.</p>

                <h6 class="content-title"><li>Accessing the Website and Account Security</li></h6>
                <p> The  Website  is  strictly  reserved  for  legal  entities  under  public  or  private  law,  or  physical  persons  acting  in  a  professional capacity, to the exclusion of physical persons who are consumers.
                    We reserve the right to withdraw or amend this Website, and any service or material we provide on the Website, in our sole discretion without notice. We will not be liable if for any reason all or any part of the Website is unavailable at any time or for any period. From time to time, we may restrict access to some parts of the Website, or the entire Website, to users,including those users that have not input Login Credentials  ( <strong>“Guest  Users”</strong>)  and  those  users  that  have  input  Login  Credentials  (<strong>“Registered  Users”</strong>  or  <strong>“Registered Accounts”</strong>) (collectively, <strong>“Users”</strong>).
                </p>
                <span>You are responsible for:</span>
                <ul>
                    <li>
                        Making all arrangements necessary for you to have access to the Website.
                    </li>
                    <li>
                        Ensuring that all persons who access the Website through your internet connection are aware of this Agreement and comply with them.
                    </li>
                </ul>
                <p></p>
                <p> To  access  the  Website  or  some  of  the  resources  it  offers,  you  may  be  asked  to  provide  certain  non-transferable  registration details  or  other  information,  including  an  email  address  only  accessible  by  you  (<strong>“Login  ID”</strong>)  and  a  private  password (collectively, <strong>“Login Credentials”</strong>). You will not become a Registered User nor be entitled to access some parts of the Website unless and until we notify you of our acceptance of your account request and activate your Registered Account. It is a condition of your use of the Website that all the information you provide on the Website is correct, current, and complete. You will also inform us of any changes to that information as soon as reasonably possible. You agree not to register Login Credentials using a false identity or information, or on behalf of anyone other than yourself. You also agree not to register Login Credentials or otherwise use this Website if you have been previously removed by the Company. You agree that all information you provide to  register  with  this  Website  or  otherwise,  including  but  not  limited  to  through  the  use  of  any  Interactive  Services  on  the Website, is governed by our <a [routerLink]="['/privacy-policy']" (click)="privacyPolicy({'label':'Terms of Use - Accessing - Link - Privacy Policy','category':'Privacy Policy','event':'Internal Link Clicked'})">Privacy Policy</a>,  and you consent to all actions we take with respect to your information consistent with our Privacy Policy.</p>
                <p>If you choose, or are provided with, a Login ID, password, or any other piece of information as part of our security procedures, you  must  treat  such  information  as  confidential,  and  you  must  not  disclose  it  to  any  other  person  or  entity.  You  also acknowledge that your Registered Account and Login Credentials are personal to you and agree not to provide any other person or entity with access to this Website or portions of it using your Login Credentials or other security information. You agree that you are responsible for maintaining the security of your Login Credentials. You agree to notify us immediately in writing of any unauthorized access to or use of your Login Credentials or any other breach of security of which you become aware. You  also  agree  to  ensure  that  you  exit  or  logout  from  your  Registered  Account  at  the  end  of  each  session.  You  should  use particular caution when accessing your Registered Account from a public or shared computer so that others are not able to view or record your password or other personal information. If you elect to opt out of, remove or disable any aspects of the Website, the Company will not be liable for any security incident and/or breach due to the opt out, removal or disabling of such element. You agree to and will be responsible for any security incident and/or breach due to the opt out, removal or disabling of any such element or security control.</p>
                <p>Unless otherwise specified in writing by Company, Company does not intend uses of the Website to create obligations under the Health Insurance Portability and Accountability Act of 1996 as it may be amended from time to time, and any regulations issued under it (“HIPAA”), and makes no representations that the Website or Content satisfy HIPAA requirements. If you are or  become  a  Covered  Entity  or  Business  Associate,  as  defined  in  HIPAA,  you  will  not  use  the  Website  or  Content  for  any purpose or in any manner involving Protected Health Information (as defined in HIPAA) unless you have received prior written consent for such use from Company.</p>
                <p>We have the right to disable any user name, password, or other identifier, whether chosen by you or provided by us, at any time in our sole discretion for any or no reason, including if, in our opinion, you have violated any provision of this Agreement or Privacy Policy. </p>
                <p>  Your Registered Account will continue indefinitely.   If you wish to terminate your Registered Account, please contact us at <a href="mailto:info@amassinsights.com" (click)="mailTo({'label':'Terms of Use - Intellectual Property - Email - Info','category':'Contact Us','event':'Email'})">info@amassinsights.com</a>. </p>
              
                <h6 class="content-title"><li>Subscription Fees</li></h6>
                <p>If  you  decide  to  upgrade  your  registration  to  purchase  additional  products  or  services  through  a  paid  subscription  (a <strong>“Subscription”</strong>) you must be a Registered User and provide the Company with a valid credit card (Visa, MasterCard, or any other issuer accepted by us) or PayPal account (<strong>“Payment Provider”</strong>), or purchase order information as a condition to signing up for the Subscription. Your Payment Provider agreement governs your use of the designated credit card or PayPal account, and you must refer to that agreement and not this Agreement to determine your rights and liabilities. By providing the Company with your credit card number or PayPal account and associated payment information, you agree that the Company is authorized to immediately invoice you for all fees and charges due and payable to the Company hereunder, that you will be responsible for  payment  of  the  applicable  subscription  fee  (each,  a  <strong>“Subscription  Fee”</strong>)  at  the  time  you  select  a  Subscription  (each,  a <strong>“Subscription Commencement Date”</strong>) and that no additional notice or consent is required. All amount owing will be paid without set-off or counterclaim, and without any deduction or withholding. You agree to immediately notify the Company of any  change  in  your  billing  address,  purchase  order  information  or  the  Payment  Provider  used  for  payment  hereunder. The Company reserves the right at any time to change its prices and billing methods, either immediately upon posting on the Website or by email delivery to you.</p>
                <p>A  Registered  User  that  has  upgraded  to  a  Subscription  (<strong>“Subscriber”</strong>)  shall  pay  invoices  within  thirty  (30)  days,  from  the invoice receipt date.  In the event Subscriber disputes all or any portion of fees and reimbursable expenses set out in any such invoice,  Subscriber  shall  notify  Company  in  writing  within  fifteen  (15)  days  of  receipt  of  invoice  with  details  sufficient  to identify the amounts in dispute and the Parties shall thereafter promptly attempt in good faith to resolve such dispute. Failure to make such notification will indicate full acceptance of the invoice.   Undisputed amounts remaining unpaid for more than thirty (30) days from the invoice date shall accrue interest at a rate equal to the lesser of one and one-half (1.5%) percent per month and the maximum rate of interest allowed by applicable law. In the event Company is required to retain the services of attorneys  or  take  other  actions  including  engaging  a  collection  agent  to  enforce  this  Agreement  or  to  collect  funds  due hereunder, Subscriber shall pay all costs, fees and expenses incurred by Company in connection therewith.</p>
                <p>All Subscriptions will be governed by the this Agreement (including the <a [routerLink]="['/privacy-policy']" (click)="privacyPolicy({'label':'Terms of Use - Subscription - Link - Privacy Policy','category':'Privacy Policy','event':'Internal Link Clicked'})">Privacy Policy</a>) unless otherwise specified in a separate Subscription Agreement (the <strong>“Subscription Agreement”</strong>). No contract will exist between you and the Company for the Subscription until the Company accepts your order by a confirmatory email or other appropriate means of communication.</p>

                <h6 class="content-title"><li>Term and Termination</li></h6>
            <p>This Agreement commences on the date when you affirmatively agree to accept it and remain in full force and effect while you use the Website and during the entire term of your Subscription (if applicable), unless terminated earlier in accordance with this Agreement.</p>
            <ol type="A">
            <h6 class="content-title"><li>Termination for Cause</li></h6>
            <p>Either Party may terminate this Agreement (i) in the event of a material breach by the other Party that is not cured (if curable) within thirty (30) days from the receipt of written notice and option to cure; (ii) immediately for material violation of confidentiality obligations or any infringement of Intellectual Property rights by the other Party; or (iii) applies for, consents to, or acquiesces in, the appointment of a trustee, receiver, administrator or other custodian; (iv) or commences any bankruptcy, reorganization, debt arrangement or other case or proceeding under any local, state or federal bankruptcy or insolvency law or any dissolution or liquidation proceeding.</p>
            <h6 class="content-title"><li>Termination by Company</li></h6>
<p>The Company has the right to, immediately and without notice, suspend or terminate any Subscription provided to you if: (i) timely payment cannot be charged to your Payment Provider for any reason, (ii) you become insolvent or generally fail to pay or are unable to pay or admit in writing your inability to pay your debts as they become due, (iii) the Company is required to do so by law (e.g., where the provision of the Website becomes, unlawful), or (iv) the Company determines in its sole discretion that such access or use may pose a security risk, adversely impact any systems or data, or subject the Company or other Party to liability or prosecution, action or other proceeding by a governmental authority. You agree that all terminations for cause shall be made in the Company’s sole discretion and that the Company shall not be liable to you or any third party for any termination of your Registered Account.</p>
<h6 class="content-title"><li>Termination by You</li></h6>
<p> You will have thirty (30) days from the Renewal Commencement Date, to cancel your Subscription, in which case the Company will refund your Subscription Fee for the Renewal Term in question. Except as set forth above, all Subscription Fees shall be non-refundable. If you want to terminate the Subscription provided by the Company, you may do so by (i) notifying the Company at any time and (ii) closing your Registered Account. Your notice should be sent, in writing, to <a href="mailto:info@amassinsights.com" (click)="mailTo({'label':'Terms of Use - Intellectual Property - Email - Info','category':'Contact Us','event':'Email'})">info@amassinsights.com</a>.</p>
<h6 class="content-title"><li>Effect of Termination</li></h6>
<p>Upon termination or expiration of any Subscription (i) all payments due under any invoice shall be immediately due and payable in accordance with this Agreement and (ii) your Registered Account will have its access to such Subscription removed and your right to use such Subscription will automatically terminate immediately.</p>
<p>Termination of any Subscription is not the same as deleting or terminating your Registered Account. Deleting or terminating your  Registered  Account  includes  removal  of  access  to  and  barring  of  further  use  of  the  Website,  deletion  of  your  Login Credentials and may delete related information, files and content associated with your Registered Account. You understand that any termination of Subscription may involve deletion of content associated therewith. The Company will not have any 
    liability whatsoever to you for any suspension or termination, including for deletion of your content. </p>
<p>All provisions of this Agreement which by their nature should survive, shall survive termination of Subscriptions, including without limitation, Intellectual Property Rights, Disclaimer of Warranties, Limitation of Liability, and Indemnification.</p>
<h6 class="content-title"><li>Subscription Term and Automatic Renewal</li></h6>
<p>Your Subscription will continue until terminated in accordance with this Agreement. After your initial subscription period, and again  after  any  subsequent  subscription  period  (each,  a  <strong>“Renewal” </strong> and,  together  with  the  initial  subscription  period,  the <strong>“Subscription Term”</strong>), your Subscription will automatically renew on the first day following the end of such period (each a <strong>“Renewal Commencement Date”</strong>) and continue for an additional equivalent period, at the Company’s then current price for such Subscription. You agree that your Subscription will be subject to this automatic renewal feature unless you cancel your Subscription at any time prior to the Renewal Commencement Date by contacting us at <a href="mailto:info@amassinsights.com" (click)="mailTo({'label':'Terms of Use - Intellectual Property - Email - Info','category':'Contact Us','event':'Email'})">info@amassinsights.com</a>. If you cancel your Subscription, you may use your Subscription until the end of your then current Subscription Term; your Subscription will not be renewed after your then-current term expires. However, you will not be eligible for a prorated refund of any portion of the Subscription Fee paid for the then-current subscription period. By subscribing, you authorize the Company to charge your Payment Provider now, and again at the beginning of any subsequent subscription period. Upon renewal of your Subscription, if the Company does not receive payment from your Payment Provider, (i) you agree to pay all amounts due on your Registered Account upon demand, and/or (ii) you agree that the Company may either terminate or suspend your Subscription and continue to  attempt  to  charge  your  Payment  Provider  until  payment  is  received  (upon  receipt  of  payment,  your  Subscription  will  be activated and for purposes of automatic renewal, your new Subscription commitment period will begin as of the day payment was received).</p>
</ol>
<h6 class="content-title"><li>Intellectual Property Rights </li></h6>
<p>The Website and its entire contents (whether received or derived), features, and functionality (including but not limited to all information, data, documents, software, text, displays, images, video, and audio, and the design, selection, and arrangement thereof) (collectively, the <strong>“Content”</strong>) are owned by the Company, its licensors, or other providers of such material and are protected  by  United  States  and  international  copyright,  trademark,  patent,  trade  secret,  and  other  intellectual  property  or proprietary rights laws. The Content is made available solely for general information purposes. We do not warrant the accuracy, completeness, or usefulness of this Content. We may update the Content from time to time, but the Content is not necessarily complete or up to date. Any of the Content may be out of date at any given time, and we are under no obligation to update such Content. Any reliance you place on such Content is strictly at your own risk. We disclaim all liability and responsibility arising from any reliance placed on such Content by you or any other visitor to the Website, or by anyone who may be informed of any of the Content.</p>              
<p><strong>“Intellectual  Property”</strong> means  all  (i)  patents,  patent  applications,  patent  disclosures  and  inventions  (whether  patentable  or not);  (ii)  trademarks,  service  marks,  trade  dress,  trade  names,  product  and  service  names,  logos,  corporate  names,  slogans, Internet domain names, and registrations and applications for the registration thereof together with all of the goodwill associated therewith;  (iii)  copyrights  and  copyrightable  works  (including  computer  programs  and  mask  works)  and  registrations  and applications  thereof;  (iv)  trade  secrets,  know-how  and  other  confidential  information;  (v)  waivable  or  assignable  rights  of publicity, waivable or assignable moral rights; (vi) database rights; and (vii) all other rights or forms of protection of a similar nature or having similar or equivalent effect to any of them which may subsist anywhere in the world now existing or hereafter arising.</p>
<p>User’s permitted use of the Website is not intended to be a disclosure or publication of such Intellectual Property as is embedded therein.  Except as expressly stated herein, this Agreement does not grant to User any ownership, license or other rights in, to or under any such Intellectual Property rights, in respect of the Website or Content (including any rights to use any of any of Company’s names, marks, service marks in any manner, for any purpose without Company’s express prior written consent).  All right, title and interest in the Content are and shall remain the sole and exclusive property of Company, with the exception of User Contributions. User acknowledges that Company, as part of its business, has been and is conducting ongoing financial and alternative data research and analysis and will continue to provide such research and analysis services to companies which may be competitors of User. Therefore, this Agreement does not restrict or deprive Company of any of its rights or proprietary interests in (i) any materials that existed prior to or that are created independent of User’s interactions with Company, and (ii) any repeatable processes and reusable reports, designs, charts, plans, models, know-how, specifications, documentation, forms, templates  or  output  which  are  developed,  created  or  otherwise  used  by  Company  in  the  course  of  providing  the  services  or products, that are used by Company for other customers, provided that they do not specifically incorporate User Contributions.</p>
<p>You must not routinely or systematically collect, reproduce, distribute, modify, create derivative works of, publicly display,publicly perform, republish, download, store, or transmit any of the Content, except as follows:</p>                  
 <ul>
                    <li>Your computer may temporarily store copies of such materials in RAM incidental to your accessing and viewing those materials.</li>
                    <li>You may store files that are automatically cached by your Web browser for display enhancement purposes.</li>
                    <li>If we provide desktop, mobile, or other applications for download, you may download a single copy to your computer or mobile device solely for the Purpose, provided you agree to be bound by our end user license agreement for such applications.</li>
                    <li>If we provide social media features with certain content, you may take such actions as are enabled by such features.</li>
                </ul>
                <p></p>
                <p>You must not:</p>
                <ul>
                    <li>Modify or distribute copies of any materials from the Website.</li>
                    <li>Use any illustrations, photographs, video or audio sequences, or any graphics separately from the accompanying text.</li>
                   <li>Use a third party’s Intellectual Property displayed within the Content without the prior written permission of the Company and that third party.</li>
                    <li>Delete or alter any copyright, trademark, or other proprietary rights notices from copies of materials from the Website.</li>
                   <li>Access or use any part of the Website, Content, or Interactive Services available through the Website for any reason other than the Purpose.</li>
                </ul>
                <p></p>
                <p>Access the Website in order to build a similar or competitive website, application, or service.
                </p>
                <p>If you wish to make any use of material on the Website other than that set out in this section, please address your request to: <a href="mailto:info@amassinsights.com" (click)="mailTo({'label':'Terms of Use - Intellectual Property - Email - Info','category':'Contact Us','event':'Email'})">info@amassinsights.com</a>.</p>
                <p>If you print, copy, modify, download, or otherwise use or provide any other person with access to any part of the Website in breach of the Terms of Use, your right to use the Website will stop immediately and you must, at our option, return or destroy any copies of the materials you have made. No right, title, or interest in or to the Website or any content on the Website is transferred to you, and all rights not expressly granted are reserved by the Company. Any use of the Website not expressly permitted by this Agreement is a breach of this Agreement and may violate copyright, trademark, and other laws.</p>
<p>The Parties acknowledge that breach of this section of this Agreement may result in irreparable and continuing damage to the non-defaulting Party for which monetary damages may not be sufficient, and therefore agree that a Party will be entitled to seek, in addition to its other rights and remedies in contract or at law, injunctive or all other equitable relief, and such further relief as may be proper from a court of competent jurisdiction.</p>
               
                <h6 class="content-title"><li>Prohibited Uses</li></h6>
                <p>You may use the Website only for lawful purposes and in accordance with this Agreement. You agree not to use the Website:</p>
                <ul>
                    <li>In any way that violates any applicable federal, state, local, or international law or regulation (including, without limitation, any laws regarding the export of data or software to and from the US or other countries or regulations promulgated by the U.S. Securities and Exchange Commission, any rules of any national or other securities exchange, including, without limitation, the New York Stock Exchange, the American Stock Exchange or NASDAQ).</li>
                    <li>For the purpose of exploiting, harming, or attempting to exploit or harm minors in any way by exposing them to inappropriate content, asking for personally identifiable information, or otherwise.</li>
                    <li>To transmit, or procure the sending of, any advertising or promotional material without our prior written consent, including any “junk mail”, “chain letter”, “spam”, or any other similar solicitation.</li>
                    <li>To impersonate or attempt to impersonate the Company, a Company employee, another user, or any other person or entity (including, without limitation, by using email addresses associated with any of the foregoing).</li>
                    <li>To engage in any other conduct that restricts or inhibits anyone’s use or enjoyment of the Website, or which, as determined by us, may harm the Company or users of the Website or expose them to liability.</li>
                </ul>
                <p>Additionally, you agree not to:</p>
                <ul>
                    <li>Use the Website in any manner that could disable, overburden, damage, or impair the site or interfere with any other party’s use of the Website, including their ability to engage in real time activities through the Website.</li>
                    <li>Use any robot, spider, or other automatic device, process, or means to access the Website for any purpose, including monitoring or copying any of the material on the Website.</li>
                    <li>Use any manual process to monitor or copy any of the material on the Website or for any other unauthorized purpose without our prior written consent.</li>
                   
                    <li>Use any device, software or routine or introduce or insert any computer code designed to: </li>
                    <ul>
                        <li>
                            disrupt, disable, harm, or otherwise impede the operation of the Website, the server on which the Website is stored, or any server, computer, or database connected to the Website, such as viruses, Trojan horses, or worms.
                        </li>
                   <li>disable the Website, the server on which the Website is stored, or any server, computer, or database connected to the Website or impair in any way their operation based on the elapsing of a period of time, the exceeding of an authorized number  of  copies,  or  the  advancement  to  a  particular  date  or  other  numeral,  such  as  "time  bombs",  "time  locks", “logic bombs”, or "drop dead" devices.</li>     
                <li>gain  unauthorized  access  to  the  Website,  the  servers  on  which  the  Website  is  stored,  or  any  server,  computer,  or database connected to the Website, such as "traps", "access codes" or "trap door" devices.</li>
            <li>track, monitor or otherwise report the operation and use of the Website.</li>   
            <li>Interfere with the proper working of, be malicious to, or technologically harmful to the Website, the server on which the Website is stored, or any server, computer, or database connected to the Website.</li>
            </ul>
                    <li>Decompile, reverse engineer, or otherwise attempt to derive source code, underlying ideas, algorithms, structure or organization of the Website.</li>
                    <li>Attack the Website via a denial-of-service attack or a distributed denial-of-service attack.</li>
                    <li>Otherwise attempt to interfere with the proper working of the Website.</li>
                </ul>
<p></p>
                <h6 class="content-title"><li>User Contributions</li></h6>
                <p>The Website may contain message/comment boards, personal, company, brand, product, or event web pages or profiles, forums, bulletin or announcement boards, file uploaders, rating or review boards, voting or upvotes, tagging, or requesting, and other interactive features (collectively, <strong>“Interactive Services”</strong>) that allow users to post, submit, publish, display, or transmit to other users or other persons (hereinafter, <strong>“post”</strong>) content or materials (collectively, <strong>“User Contributions”</strong>) on or through the Website.</p>
              <p>All  statements  and/or  opinions  expressed  in  these  User  Contributions,  and  all  articles  and  responses  to  questions  and  other content, other than the Content, are solely the opinions and the responsibility of the person or entity providing those materials. These materials do not necessarily reflect the opinion of the Company. We are not responsible, or liable to you or any third party, for the content or accuracy of any materials provided by any third parties, including User Contributions. </p>
                <p>Any User Contributions may be used, without compensation, by the Company for any purpose, and you hereby grant to the Company a non-exclusive, perpetual, irrevocable, royalty-free, worldwide license under all intellectual property laws to use, reproduce,  disclose,  transmit,  publish,  edit,  display,  distribute,  adapt,  translate,  modify  (for  technical  purposes,  for  example making sure your content is viewable on an iPhone as well as a laptop), re-format, and post all User Contributions, in each case to enable us to operate the Website. You acknowledge and agree that Company, in performing the required technical steps to provide the Website to our users (including you), may need to make changes to your User Contributions to conform and adapt those User Contributions to the technical requirements of communication networks, devices, services, or media, and the licenses you grant under this Agreement include the rights to do so. If you do not agree with the foregoing, then you should not transmit or post any User Contributions.</p>
                <p>If you choose to make a User Contribution private, in a manner that is not viewable by any other user except you (a <strong>“Private User Contribution”</strong>), you grant Company the license stated in the previous paragraph of this section, as well as a license to display, perform, and distribute your Private User Contribution for the sole purpose of making that Private User Contribution accessible to you. If you do not agree with the foregoing, then you should not transmit or post any Private User Contributions.</p>
              <p>If you choose to make a User Contribution accessible to certain specified Users (for example, a private message to one or more other users) (a<strong> “Limited Audience User Contribution”</strong>), then you grant Company the license stated in the previous paragraph of this section, as well as a license to display, perform, and distribute your Limited Audience User Contribution for the sole purpose  of  making  that  Limited  Audience User  Contribution accessible to  such  other  specified Users.  Also,  you grant  such other specified Users a license to access that Limited Audience User Contribution, and to use and exercise all rights in it, as permitted by the functionality of the Website. If you do not agree with the foregoing, then you should not transmit or post any Limited Audience User Contributions.</p>  
                <p>If  you  choose  to  make  public  a  User  Submission  on  the  Website  or  in  a  manner  that  allows  more  than  just  you  or  certain specified users to view it, or if you provide us (in a direct email or otherwise) with any feedback, suggestions, improvements, enhancements, or feature requests relating to the Website (each a<strong> “Public User Contribution”</strong>), then you grant Company the license  stated  in  the  previous  paragraph  of  this  section,  as  well  as  a  non-exclusive,  perpetual,  sublicensable,  irrevocable,transferable, royalty-free, worldwide license under all intellectual property laws to use, reproduce, disclose, transmit, publish, edit, display, adapt, modify, re-format, create derivative works of, post, perform, distribute and otherwise commercially or non-commercially  exploit  in  any  manner,  your  Public  User  Contributions  for  any  purpose.  Further,  the  Company  is  free  to  use, without compensation to you, any ideas, concepts, know-how or techniques contained in any Public User Contributions for any purpose whatsoever, including but not limited to developing and marketing products, advertising, publicity, and promotional activities. Also, you grant all other Users a license to access that Public User Contribution, and to use and exercise all rights in it, as permitted by the functionality of the Website. If you do not agree with the foregoing, then you should not transmit or post any Public User Contributions.</p>
              <p>Company represents and warrants that all right, title and interest, in the User Contributions are and shall remain the sole and exclusive property of the User or the User’s Organization, as applicable.</p>
                <p>You represent and warrant that:</p>
                <ul>
                    <li>You own or control all rights in and to (or otherwise have the right to use) the User Contributions and have the right to grant the license granted above to us and our service providers, and each of their respective licensees, successors, and assigns.</li>
                    <li>All of your User Contributions do and will comply with this Agreement.</li>
                </ul>
                <p>You understand and acknowledge that you are responsible for any User Contributions you submit or contribute, and you, not the Company, have full responsibility for such content, including its legality, reliability, accuracy, and appropriateness.</p>
                <h6 class="content-title"><li>Monitoring and Enforcement</li></h6>
                <p>We have the right to:</p>
                <ul>
                <li>Remove or refuse to post any User Contributions for any or no reason in our sole discretion.</li>
                <li>Take any action with respect to any User Contribution that we deem necessary or appropriate in our sole discretion, including if we believe that such User Contribution violates the Terms of Use, including the Content Standards, infringes any intellectual property right or other right of any person or entity, threatens the personal safety of users of the Website or the public, or could create liability for the Company.</li>
                <li>Disclose your identity or other information about you to any third party who claims that material posted by you violates their rights, including their intellectual property rights or their right to privacy.</li>
                <li>Take appropriate legal action, including without limitation, referral to law enforcement, for any illegal or unauthorized use of the Website.</li>
                </ul>
                <p></p>
                <p>
                    Without  limiting  the  foregoing,  we  have  the  right  to  cooperate  fully  with  any  law  enforcement  authorities  or  court  order requesting  or  directing  us  to  disclose  the  identity  or  other  information  of  anyone  posting  any  materials  on  or  through  the Website. However, we do not undertake to review material before it is posted on the Website and cannot ensure prompt removal of  objectionable  material  after  it  has  been  posted.  Accordingly,  we  assume  no  liability  for  any  action  or  inaction  regarding transmissions, communications, or content provided by any User or third-party. We have no liability or responsibility to anyone for performance or nonperformance of the activities described in this section.
</p>
                <h6 class="content-title"><li>Content Standards</li></h6>
                <p>These content standards (<strong>“Content Standards”</strong>) apply to any and all User Contributions and use of Interactive Services. User Contributions  must  in  their  entirety  comply  with  all  applicable  federal,  state,  local,  and  international  laws  and  regulations. Without limiting the foregoing, User Contributions must not:</p>
                <ul>
                    <li>Be taken to be the provision of advice (including, without limitation, investment advice) or a recommendation to buy or refrain from buying a particular investment or which has the purpose of affecting the price or value of any investment.</li>
                <li>Contain any material that is defamatory, obscene, indecent, abusive, offensive, harassing, violent, hateful, inflammatory, or otherwise objectionable.</li>
                <li>Promote sexually explicit or pornographic material, violence, or discrimination based on race, sex, religion, nationality, disability, sexual orientation, or age.</li>
                <li>Infringe any patent, trademark, trade secret, copyright, or other intellectual property or other rights of any other person.</li>
                <li>Violate the legal rights (including the rights of publicity and privacy) of others or contain any material that could give rise to any civil or criminal liability under applicable laws or regulations or that otherwise may be in conflict with this Agreement and our <a [routerLink]="['/privacy-policy']" (click)="privacyPolicy({'label':'Terms of Use - Content - Link - Privacy Policy','category':'Privacy Policy','event':'Internal Link Clicked'})">Privacy Policy</a>.</li>
                <li>Be likely to deceive any person.</li>
                <li>Promote any illegal activity, or advocate, promote, or assist any unlawful act.</li>
                <li>Cause annoyance, inconvenience, or needless anxiety or be likely to upset, embarrass, alarm, or annoy any other person.</li>
                <li>Impersonate any person, or misrepresent your identity or affiliation with any person or organization.</li>
                <li>Give the impression that they emanate from or are endorsed by us or any other person or entity, if this is not the case.</li>
                    </ul>
<p></p>
                <h6 class="content-title" id="copright-policy"><li>Copyright Policy</li></h6>
                <p>Website is a conduit to data published on various locations on the internet. Like any search engine, Website makes no claim to own the data it indexes or caches. Company endeavors to respect copyright.</p>
                <p>We take claims of copyright infringement seriously. We will respond to notices of alleged copyright infringement that comply with applicable law. If you believe any materials accessible on or from the Website infringe your copyright, you may request removal of those materials (or access to them) from the Website by submitting written notification to our copyright agent designated below. In accordance with the Online Copyright Infringement Liability Limitation Act of the Digital Millennium Copyright Act (17 U.S.C. § 512) (<strong>”DMCA”</strong>), the written notice (the <strong>“DMCA Notice”</strong>) must include substantially the following:</p>
                <ul>
                <li>Your physical or electronic signature.</li>
                <li>Identification of the copyrighted work you believe to have been infringed or, if the claim involves multiple works on the Website, a representative list of such works.</li>
                <li>Identification of the material you believe to be infringing in a sufficiently precise manner to allow us to locate that material.</li>
                <li>Adequate information by which we can contact you (including your name, postal address, telephone number, and, if available, email address).</li>
                <li>A statement that you have a good faith belief that use of the copyrighted material is not authorized by the copyright owner, its agent, or the law.</li>
                <li>A statement that the information in the written notice is accurate.</li>
                <li>A statement, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.</li>
                </ul>
                <p></p>
                <p>Our designated copyright agent to receive DMCA Notices is:</p>

<p></p>
                    <ul style="list-style: none;">
                        <li>
                            Jordan Hauer
                        </li>
                        <li>Amass Insights LLC</li>
                        <li>555 W 23rd St, #N5F, New York, NY 10011</li>
                        <li>+1-(646)-770-2791</li>
                        <li>jordan@amassinsights.com</li>
                    </ul>
<p></p>

                <p>If you fail to comply with all of the requirements of Section 512(c)(3) of the DMCA, your DMCA Notice may not be effective.</p>

                <p>Please be aware that if you knowingly materially misrepresent that material or activity on the Website is infringing your copyright, you may be held liable for damages (including costs and attorneys’ fees) under Section 512(f) of the DMCA.</p>
                <p>Please be aware that if you knowingly materially misrepresent that material or activity on the Website was removed or disabled by mistake or misidentification, you may be held liable for damages (including costs and attorneys’ fees) under Section 512(f) of the DMCA. It is our policy in appropriate circumstances to disable and/or terminate the Registered Accounts of Users who are repeat infringers.</p>
                <h6 class="content-title"><li>Linking to the Website and Social Features</li></h6>
                <p>You may link to our homepage, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval, or endorsement on our part without our express written consent.</p>

                <p>This Website may provide certain functionality that may permit interactions that you initiate between the Website and other sites or locations that are operated and controlled by third parties (<strong>“Third Party Sites”</strong>) (collectively, <strong>“Social Features”</strong>) and enable you to:</p>
                <ul>
                <li>Link from your own or certain third-party websites to certain content on this Website.</li>
                <li>Send emails, posts, messages, or other communications with certain content, or links to certain content, on this Website.</li>
                <li>Cause limited portions of content on this Website to be displayed or appear to be displayed on your own or certain third-party websites.</li>
            <li>Transmit third party content to the Website.</li>    
        <li>“like” or “share” Website Content to other sites or services.</li>   
        <li>login to the Website using your username and password for a Third Party Site or service.</li>
        </ul>
<p>You may use these features solely as they are provided by us, and solely with respect to the content they are displayed with and otherwise in accordance with any additional terms and conditions we provide with respect to such features. Subject to the foregoing, you must not:</p>
<ul>
<li>Establish a link from any website that is not owned by you.</li>
<li>Cause the Website or portions of it to be displayed on, or appear to be displayed by, any other site, for example, framing, deep linking, or in-line linking.</li>
<li>Otherwise take any action with respect to the materials on this Website that is inconsistent with any other provision of this Agreement.</li>
</ul>
<p>The website from which you are linking, or on which you make certain content accessible, must comply in all respects with the Content Standards set out in this Agreement. </p>

<p>You agree to cooperate with us in causing any unauthorized framing or linking immediately to stop. We reserve the right to withdraw linking permission without notice.</p>

<p>We may disable all or any social media features and any links at any time without notice in our discretion.</p>
<h6 class="content-title"><li>Links from the Website</li></h6>
<p>The Website contains links to other sites and resources provided by third parties which are provided for your convenience only. The Company makes no representations whatsoever about any of these sites or resources. References on this Website to any names, marks, products or services of any third parties or hypertext links to third party sites or information are provided solely as a convenience to you, and do not constitute or imply an endorsement, sponsorship or recommendation of, or affiliation with the third party or its products and services. It is up to you to take precautions to ensure that whatever you select for your use is free of destructive elements.  You hereby agree that neither the Company nor its Representatives shall be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such third-party content, products or services available on or through any such site or resource. If you decide to access any of the third-party websites linked to this Website, you do so entirely at your own risk and subject to the terms and conditions of use for such websites.‌</p>

<h6 class="content-title"><li>No Investment Advice</li></h6>
<p>The information and services on this Website are not intended to and shall not be used as investment advice. You use the content, information, and services on this website at your own risk. <strong>IN NO EVENT WILL THE COMPANY OR ANY OF ITS REPRESENTATIVES BE LIABLE, IN CONTRACT, TORT, STRICT LIABILITY, OR OTHERWISE, FOR ANY DECISION MADE OR ACTION TAKEN BY CUSTOMER IN RELIANCE UPON THE AVAILABILITY OF OR CONTENT MADE AVAILABLE THROUGH THIS WEBSITE.</strong></p>

<h6 class="content-title"><li>Geographic Restrictions</li></h6>
<p>The owner of the Website is based in the state of Delaware in the United States. We provide this Website for use only by persons located in the United States. We make no claims that the Website or any of its content is accessible or appropriate outside of the United States. Access to the Website may not be legal by certain persons or in certain countries. If you access the Website from outside the United States, you do so on your own initiative and are responsible for compliance with local laws.</p>
<h6 class="content-title"><li>Disclaimer of Warranties</li></h6>
<p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT TO THE EXTENT PERMITTED BY LAW, THE COMPANY, ITS REPRESENTATIVES, AND ANY OTHER PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE SERVICES, THE CONTENT, OR THE WEBSITE (COLLECTIVELY, THE <strong>“PROVIDERS”</strong>) ARE PROVIDING THE WEBSITE, ITS CONTENT, AND ANY PRODUCTS OR SERVICES OBTAINED THROUGH THE WEBSITE ON AN “AS IS” AND AS AVAILABLE BASIS AND MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, WITH RESPECT TO THE OPERATION OF THE WEBSITE, THE INFORMATION OBTAINED THROUGH THE WEBSITE OR THROUGH LINKS TO THIRD PARTIES OR FOR ANY BREACH OF SECURITY ASSOCIATED WITH THE TRANSMISSION OF SENSITIVE INFORMATION THROUGH THE WEBSITE OR ANY LINKED WEBSITE. TO THE FULLEST EXTENT PERMITTED BY LAW, THE COMPANY DISCLAIMS ALL SUCH REPRESENTATIONS AND WARRANTIES, INCLUDING, FOR EXAMPLE, WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT; WHETHER EXPRESS OR IMPLIED BY LAW, COURSE OF DEALING, COURSE OF PERFORMANCE, USAGE OF TRADE, OR OTHERWISE.  WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, WE HEREBY EXPRESSLY DISCLAIM ALL LIABILITY RELATING TO THE CONTENT CONTAINED ON OUR WEBSITE.</p>

<p>NONE OF THE CONTENT OR SERVICES AVAILABLE ON OUR WEBSITE CONSTITUTES A RECOMMENDATION THAT ANY PARTICULAR SECURITY, PORTFOLIO OF SECURITIES, TRANSACTION OR INVESTMENT STRATEGY IS SUITABLE FOR ANY SPECIFIC PERSON OR PURPOSE AND IS NOT INTENDED TO PROVIDE INVESTMENT ADVICE.  NONE OF THE CONTENT OR SERVICES AVAILABLE ON OUR WEBSITE SHOULD BE CONSTRUED AS AN OFFER TO SELL, A SOLICITATION OF AN OFFER TO BUY, OR A RECOMMENDATION FOR ANY SECURITY BY THE COMPANY OR ANY THIRD PARTY. USER IS SOLELY RESPONSIBLE FOR THE DETERMINATION OF THE APPROPRIATE USES OF THE CONTENT AND ITS OUTPUT, IN ORDER TO ACHIEVE USER’S INTENDED RESULTS.</p>

<p>IN ADDITION, NEITHER THE COMPANY NOR ANY OF IT’S REPRESENTATIVES MAKE ANY WARRANTY OR REPRESENTATION, EXPRESS OR IMPLIED THAT THE WEBSITE, ITS CONTENT, OR ANY PRODUCTS OBTAINED THROUGH THE WEBSITE WILL MEET YOUR EXPECTATIONS, WILL BE ACCURATE, RELIABLE, ERROR-FREE, OR UNINTERRUPTED, THAT DEFECTS WILL BE CORRECTED, THAT OUR WEBSITE OR THE SERVER THAT MAKES IT AVAILABLE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS, THAT THE WEBSITE OR ANY SERVICES OR PRODUCTS OBTAINED THROUGH THE WEBSITE WILL OTHERWISE MEET YOUR NEEDS OR EXPECTATIONS.</p>

<p>BECAUSE SOME JURISDICTIONS MAY NOT PERMIT THE EXCLUSION OF CERTAIN WARRANTIES SOME OF THE EXCLUSIONS MAY NOT APPLY TO YOU.</p>

<h6 class="content-title"><li>Limitation of Liability</li></h6>
<p>We assume no responsibility or liability for any damages to, or any viruses that may infect, your computer, telecommunication equipment, or other property caused by or arising from your access to or use of use of the Website. TO THE FULLEST EXTENT PROVIDED BY LAW, IN NO EVENT WILL THE COMPANY OR ITS REPRESENTATIVES BE LIABLE UNDER ANY LEGAL THEORY ARISING OUT OF OR IN CONNECTION WITH (A) INTERRUPTION OF BUSINESS; (B) ACCESS DELAYS OR ACCESS INTERRUPTIONS TO THE WEBSITE; (C) DATA LOSS, NON-DELIVERY, MIS-DELIVERY, CORRUPTION, DESTRUCTION, OR OTHER MODIFICATION; (D) LOSS OR DAMAGES OF ANY SORT INCURRED AS A RESULT OF DEALINGS WITH OR THE PRESENCE OF OFF-WEBSITE LINKS ON THE WEBSITE; (E) COMPUTER VIRUSES, HARMFUL CODE, DOS ATTACKS, SYSTEM FAILURES, OR MALFUNCTIONS WHICH MAY OCCUR IN CONNECTION WITH YOUR USE OF THE WEBSITE, INCLUDING DURING HYPERLINK TO OR FROM THIRD-PARTY WEBSITES; (F) ANY INACCURACIES OR OMISSIONS IN CONTENT (G) THE QUALITY OF ANY PRODUCTS, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED THROUGH OUR WEBSITE (H) EVENTS BEYOND OUR REASONABLE CONTROL. YOU ALSO AGREE THAT WE WILL NOT BE LIABLE IN CONTRACT, WARRANTY OR IN TORT (INCLUDING NEGLIGENCE) FOR ANY PRODUCT OBTAINED THROUGH THE WEBSITE OR THROUGH THIRD PARTY MEANS, INCLUDING BUT NOT LIMITED TO ANY MODIFICATION TO A PRODUCT CAUSED BY THIRD PARTIES.</p>

<p>FURTHER, WE WILL NOT BE LIABLE IN CONTRACT, WARRANTY, OR IN TORT (INCLUDING NEGLIGENCE) FOR ANY INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL OR PUNITIVE DAMAGES OF ANY KIND, INCLUDING BUT NOT LIMITED TO PERSONAL INJURY, PAIN AND SUFFERING, EMOTIONAL DISTRESS, LOSS OF REVENUE OR PROFITS, LOSS OF BUSINESS OR ANTICIPATED SAVINGS, LOSS OF USE, LOSS OF GOODWILL, LOSS OF DATA, WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF CONTRACT, OR OTHERWISE, EVEN IF FORESEEABLE AND IN NO EVENT SHALL OUR MAXIMUM AGGREGATE LIABILITY FOR SUCH CLAIMS EXCEED ONE HUNDRED DOLLARS ($100.00).FOR  SUBSCRIBERS,  EXCEPT  FOR  CLAIMS ARISING  UNDER  OR  RELATED  TO  GROSS  NEGLIGENCE,  WILLFUL  MISCONDUCT,  OR  DEATH  OR  BODILY INJURY,  THE  MAXIMUM  CUMULATIVE  LIABILITY  OF  COMPANY  FOR  ANY  AND  ALL  CLAIMS  ARISING UNDER OR RELATED TO THIS AGREEMENT, REGARDLESS OF THE FORM OF ACTION, CANNOT EXCEED, IN THE AGGREGATE, THE FEES PAID OR PAYABLE BY SUBSCRIBER TO COMPANY DURING THE TWELVE (12) MONTHS PRECEDING THE CLAIM.</p>

<p>UNLESS OTHERWISE SPECIFIED BY THE LAWS IN THE APPLICABLE JURISDICTION, YOU AGREE THAT NO CLAIMS OR ACTION IN CONTRACT, WARRANTY, OR IN TORT (INCLUDING NEGLIGENCE) ARISING OUT OF, OR RELATED TO, THE USE OF THE WEBSITE OR THESE TERMS AND OF USE MAY BE BROUGHT BY YOU MORE THAN ONE (1) YEAR AFTER THE CAUSE OF ACTION RELATING TO SUCH CLAIM OR ACTION AROSE.  IF YOU ARE DISSATISFIED WITH THE WEBSITE, TERMINATION OF YOUR USE OF THE WEBSITE IS YOUR SOLE REMEDY.  WE HAVE NO OTHER OBLIGATION, LIABILITY, OR RESPONSIBILITY TO YOU.</p>

<p>APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OF LIABILITY, IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES SET FORTH ABOVE, SO THIS LIMITATION OF LIABILITY MAY NOT APPLY TO YOU. IF ANY PART OF THIS LIMITATION ON LIABILITY IS FOUND TO BE INVALID OR UNENFORCEABLE FOR ANY REASON, THEN THE AGGREGATE LIABILITY OF THE COMPANY UNDER SUCH CIRCUMSTANCES FOR LIABILITIES THAT OTHERWISE WOULD HAVE BEEN LIMITED SHALL NOT EXCEED ONE HUNDRED DOLLARS ($100).</p>

<h6 class="content-title"><li>Indemnification</li></h6>
<p>You agree to defend, indemnify, and hold harmless the Company, its officers, directors, employees, shareholders, affiliates, agents,  successors  and  assigns  (the  Company’s  <strong>“Representatives”</strong>)  and  Company’s  Subscribers  and  service  providers (collectively, the <strong>“Indemnified Parties”</strong>) from and against all losses, liabilities, expenses, damages and costs, including but not  limited  to  reasonable  attorneys’  fees  and  expenses,  incurred  or  suffered  as  a  result  of  third-party  claims,  suits  actions, demands, or judgements arising from (i) your use of the Website or the Content in violation of any law, rule, regulation or any of the representations, warranties, and covenants in this Agreement, or (ii) any part of your User Contributions.  You also agree to defend, indemnify, and hold harmless the Indemnified Parties for any loss, damages, or costs, including reasonable attorneys’ fees, resulting from your use of software robots, spiders, crawlers, or similar data gathering and extraction tools, or any other action  you  take  that  imposes  an  unreasonable  burden  or  load  on  our  infrastructure  or  which  violates  any  of  the  Company’s Intellectual Property rights.</p>

<h6 class="content-title" id="governing-law-jurisdiction"><li>Governing Law,  Jurisdiction, Venue and Waiver of Jury Trial</li></h6>
<p>All matters relating to the Website and this Agreement and any dispute or claim arising therefrom or related thereto (in each case, including non-contractual disputes or claims), shall be governed by and construed in accordance with the internal laws of the State of New York without giving effect to any choice or conflict of law provision or rule (whether of the State of New York or any other jurisdiction). Each Party consents to the exclusive jurisdiction and venue in the New York state courts located in the County of New York, in the borough of Manhattan and in the federal courts located in the Southern District of New York.</p>

<h6 class="content-title"><li>Dispute Resolution, Waiver of Jury Trial, and Binding Arbitration</li></h6>
<p>If there is a dispute between Users on this Website, or between Users and any third party, you agree that Company is under no obligation  to  become  involved.  If  you  have  a  dispute  with  one  or  more  other  Users,  you  release  Company  and  its Representatives from claims, demands, and damages of every kind or nature, known or unknown, suspected or unsuspected, disclosed or undisclosed, arising out of or in any way related to such disputes or our Website. If you are a California resident, you are expressly waiving California Civil Code Section 1542, which says: "A general release does not extend to claims which the creditor does not know or suspect to exist in his or her favor at the time of executing the release, which, if known by him or her must have materially affected his or her settlement with the debtor."</p>
<p>YOU AGREE TO GIVE UP ANY RIGHTS TO LITIGATE CLAIMS IN A COURT OR BEFORE A JURY. OTHER RIGHTS THAT YOU WOULD HAVE IF YOU WENT TO COURT MAY ALSO BE UNAVAILABLE OR MAY BE LIMITED IN ARBITRATION.</p>

<p>ANY CLAIM, DISPUTE OR CONTROVERSY (WHETHER IN CONTRACT, TORT OR OTHERWISE, WHETHER PRE-EXISTING, PRESENT OR FUTURE, AND INCLUDING STATUTORY, CONSUMER PROTECTION, COMMON LAW, INTENTIONAL TORT, INJUNCTIVE AND EQUITABLE CLAIMS) BETWEEN YOU AND US ARISING FROM OR RELATING IN ANY WAY TO YOUR USE OF PRODUCTS OR SERVICES THROUGH THE WEBSITE, WILL BE RESOLVED EXCLUSIVELY AND FINALLY BY BINDING ARBITRATION.</p>
<ol type="A">
<h6 class="content-title"><li>Informal Dispute Resolution.</li></h6>
<p> We want to address your concerns without the need to initiate a formal legal case. In the event of a dispute, you and the Company agree to try to resolve such dispute informally by first sending a notice to the other clearly marked “Notice of Dispute” and containing a brief written statement setting forth the name, address, and contact information of the party giving it, the facts giving rise to the dispute and the relief requested. You must send any such notice to us at <a href="mailto:info@amassinsights.com" (click)="mailTo({'label':'Terms of Use - Dispute - Email - Info','category':'Contact Us','event':'Email'})">info@amassinsights.com</a>. We will contact you via email at the address specified in any such notice. You and The Company agree to use reasonable, good faith efforts to settle any dispute through consultation and good faith negotiations within thirty (30) days of submission of such notice. If a dispute is not resolved within thirty (30) days of such submission, you or the Company may resort to the other alternatives described in this section.</p>
<h6 class="content-title"><li>Agreement to Arbitrate. </li></h6>
<p>In the event that any Dispute is unresolved through informal discussions within thirty (30) days as described above, you and the Company agree to resolve such dispute through final and binding arbitration.  The arbitration will be administered by the American Arbitration Association ("AAA") under its Commercial Arbitration Rules (<strong>"Commercial Rules"</strong>).  The arbitrator will have exclusive authority to resolve any dispute relating to arbitrability and/or enforceability of this arbitration provision, including any unconscionability challenge or any other challenge that the arbitration provision or the agreement is void, voidable or otherwise invalid. The arbitrator will be empowered to grant whatever relief would be available in court under law or in equity. Any award of the arbitrator(s) will be final and binding on each of the parties, and may be entered as a judgment in any court of competent jurisdiction. The arbitration will be held New York, NY and you agree to submit to the personal jurisdiction of the state of New York.</p>
<h6 class="content-title"><li>No Class Actions. </li></h6>
<p>You agree that you may only resolve disputes with us on an individual basis, and may not bring a claim as a plaintiff of, or participate as part of, any purported class, joint, consolidated or representative action. Further, unless you and the Company otherwise agree in writing, the arbitrator may not consolidate more than one person’s claims, and may not otherwise preside over any form of any class, joint, consolidated or representative proceeding.</p>
<h6 class="content-title"><li>Judicial Forum for Disputes.</li> </h6>
<p>If any court or arbitrator determines that the class, joint, consolidated or representative action waiver set forth in this section is void or unenforceable for any reason or that arbitration can proceed on a class, joint, consolidated or representative basis, then the Dispute will not be subject to arbitration and, other than small claims actions, must be brought in the appropriate federal or state court in New York, New York. Both you and the Company consent to venue and personal jurisdiction there.</p>
</ol>
<h6 class="content-title"><li>Notices</li></h6>
<p>You consent to receive any agreements, notices, disclosures and other communications (collectively, <strong>“Notices”</strong>) to which this Agreement refers from us electronically including without limitation by email or by posting notices on this Website.  You agree that all Notices that we provide to you electronically satisfy any legal requirement that such communications be in writing and shall be considered given on the date of receipt confirmation or a reply-back.  To withdraw your consent to receive Notices electronically, you must provide written notice to us of your withdrawal of such consent and discontinue your use of this Website.  In such event, all rights granted to you pursuant to this Agreement, shall automatically terminate.  Unfortunately, we cannot provide the benefits of this Website to any User that cannot consent to receipt of Notices electronically.</p>
<h6 class="content-title"><li>Assignment,Waiver and Severability</li></h6>
<p>Neither Party shall assign, transfer or delegate its rights or obligations under this Agreement without the prior written consent of the other Party, and any assignment, transfer or delegation contrary to this provision shall be null and void except that either Party may assign the Agreement without consent to any subsidiary or parent company of such Party following the sale of all or  substantially  all  of  the  assets  of  such  party,  provided  that  such  subsidiary  or  parent  company  or  successor  assumes  or  is otherwise fully bound by all of the obligations of the assigning Party under the Agreement.</p>
<p>No waiver by the Company of any term or condition set out in this Agreement shall be deemed a further or continuing waiver of  such  term  or  condition  or  a  waiver  of  any  other  term  or  condition,  and  any  failure  of  the  Company  to  assert  a  right  or provision under this Agreement shall not constitute a waiver of such right or provision. This Agreement may only be modified or amended in writing, which makes express reference to this Agreement and is signed by a duly authorized representative of each Party. No other act, communication, representation, document, usage custom or practice shall be deemed to modify or amend this Agreement.</p>
<p>In the event that any court having competent jurisdiction over the interpretation of this Agreement shall finally determine that one or more of the provisions contained in this Agreement shall be unenforceable in any respect, then such provision shall be deemed limited and restricted to the extent that such court shall deem it to be enforceable, and, as so limited or restricted, shall remain in full force and effect. In the event that any such provision or provisions shall be deemed wholly unenforceable, such provision shall be deemed deleted from this Agreement, and the remaining provisions shall remain in full force and effect. Any such judicial interpretation requiring limitation or deletion of a provision shall be valid only in the jurisdiction in which such interpretation is made.</p>
<h6 class="content-title"><li>Force Majeure</li></h6>
<p>Any delays in or failure of performance by each Party of their respective obligations hereunder shall not be considered a breach of this Agreement if such delay or failure is caused by actions outside of its reasonable control and to which it did not contribute, including, acts of God, unforeseeable circumstances, acts (including a delay or failure to act) of any governmental authority (de jure or de facto), embargoes, strikes, labor disputes, riots, fire, floods, earthquakes, wars (declared or undeclared) or other military action, terrorism, sabotage, or epidemics.</p>
<h6 class="content-title"><li>Entire Agreement</li></h6>
<p>This Agreement and our Privacy Policy constitute the sole and entire agreement between you and the Company regarding the Website  and  supersede  all  prior  and  contemporaneous  understandings,  agreements,  representations,  and  warranties,  both written and oral, regarding the Website.</p>
<h6 class="content-title"><li>Your Comments and Concerns</li></h6>
<p>This website is operated by Amass Insights LLC, 555 W 23rd St, #N5F, New York, NY 10011.</p>
<p>All notices of copyright infringement claims should be sent to the copyright agent designated in our <a (click)="scrollTo('copright-policy')">Copyright Policy</a> in the manner and by the means set out therein.</p>
<p>All Feedback relating to the Website should be directed to: <a href="mailto:info@amassinsights.com" (click)="mailTo({'label':'Terms of Use - Term - Email - Info','category':'Contact Us','event':'Email'})">info@amassinsights.com</a>.</p>
</ol>           
</div>
        </div>
    </div>
</section>
