<div class="page-title">
    <div class="row no-margin">
        <div class="col-md-3 pull-left">

        </div>
        <div class="col-md-6 text-center">
            <span [ngStyle]="{'padding':' 0 10px'}">Add New Organization Profile - Admin</span>
        </div>
        <div class="col-md-3 pull-right">
            <button [disabled]="progressSpinner" mat-raised-button color="warn"
                (click)="submitOrganizationAdmin(basicModel, 'Overall Details');formSubmit({'label':'Organization Admin - Button - Submit Changes','category':'Organization Admin','event': 'Submitted'})">Submit
                Changes</button>
                <ng-container *ngIf="progressSpinner && overAll === 'Overall Details'">
                    <jhi-progress-spinner></jhi-progress-spinner>
                </ng-container>
        </div>
    </div>
</div>
<div class="container">
    <!--<jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)"></jhi-inactivity-timer>-->
    <section class="section-margin">
        <div class="row">
            <div class="col-md-12">
                <mat-tab-group disableRipple class="mat-elevation-z2" [(selectedIndex)]="tabIndex">
                    <mat-tab label="Overview" (backgroundColor)="progressBarColor">
                        <ng-template mat-tab-label>
                            <span
                                matTooltip="High-level overview of the organization's characteristics.">Overview</span>
                        </ng-template>

                        <div class="tab-content-row">
                            <mat-accordion>
                                <mat-expansion-panel [expanded]="basicExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <b matTooltip="Organization's basic information."
                                            class="tab-content-title">Basic</b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="basicForm" [formGroup]="basicForm"
                                        (ngSubmit)="submitOrganizationAdmin(basicModel, 'Basic Details', 'basicExpansionPanel', 'organizationExpansionPanel', 0, 'basicForm')"
                                        class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="basicFields"
                                            [options]="basicOptions" [form]="basicForm">
                                            <button [disabled]="progressSpinner" mat-raised-button color="warn"
                                                (click)="formSave({'label':'Organization Admin - Panel - Basic - Button - Save and Continue','category':'Organization Admin','event': 'Saved'})">Save
                                                and Continue</button>
                                        </formly-form>
                                        <ng-container *ngIf="progressSpinner && panelName === 'Basic Details'">
                                            <jhi-progress-spinner></jhi-progress-spinner>
                                        </ng-container>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion>
                                <mat-expansion-panel [expanded]="organizationExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Organization Details</b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="organizationDetailsForm"
                                        [formGroup]="organizationDetailsForm"
                                        (ngSubmit)="submitOrganizationAdmin(basicModel, 'Organization Details', 'organizationExpansionPanel', 'adminExpansionPanel', 0, 'organizationDetailsForm')"
                                        class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="organizationDetailsFields"
                                            [options]="organizationDetailsOptions" [form]="organizationDetailsForm">
                                            <button [disabled]="progressSpinner" mat-raised-button color="warn"
                                                (click)="formSave({'label':'Organization Admin - Panel - Organization Details - Button - Save and Continue','category':'Organization Admin','event': 'Saved'})">Save
                                                and Continue</button>
                                        </formly-form>
                                        <ng-container *ngIf="progressSpinner && panelName === 'Organization Details'">
                                            <jhi-progress-spinner></jhi-progress-spinner>
                                        </ng-container>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion>
                                <mat-expansion-panel [expanded]="adminExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Admin</b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="adminForm" [formGroup]="adminForm"
                                        (ngSubmit)="submitOrganizationAdmin(basicModel, 'Admin', 'adminExpansionPanel', '', 0, 'adminForm')"
                                        class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="adminFields"
                                            [options]="adminOptions" [form]="adminForm">
                                            <button [disabled]="progressSpinner" mat-raised-button color="warn"
                                                (click)="formSave({'label':'Organization Admin - Panel - Admin - Button - Save and Continue','category':'Organization Admin','event': 'Saved'})">Save
                                                and Continue</button>
                                        </formly-form>
                                        <ng-container *ngIf="progressSpinner && panelName === 'Admin'">
                                            <jhi-progress-spinner></jhi-progress-spinner>
                                        </ng-container>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </section>
</div>
