<div class="page-title">
    <div class="row no-margin">
        <div class="col-md-3 pull-left">
            <!-- <div class="text-center amass-progressbar-container">
                <div class="amass-progressbar-value"><span matTooltip="Percent of the data provider's profile that has been filled in" class="white-text">{{dataProvider.completeness}}% Complete</span></div>
                <mat-progress-bar class="amass-progressbar amass-progressbar-default" [color]="progressBarColor" [mode]="progressBarMode" [value]="dataProvider.completeness" [bufferValue]="dataProvider.completeness"></mat-progress-bar>
            </div> -->
        </div>
        <div class="col-md-6 text-center">
            <!-- <span [ngStyle]="{'padding':' 0 10px'}">Admin: Edit</span><span *ngIf="dataProvider" [ngClass]="{blurText: dataProvider.locked}">{{dataProvider.providerName}}</span> <span *ngIf="dataProvider"> Data Profile</span> -->
            <span [ngStyle]="{ padding: ' 0 10px' }">Data Provider Onboarding</span>
        </div>
        <!-- <div class="col-md-3 pull-right">
            <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="submitResourceAdmin(basicModel, 'Overall Details');formSubmit({'label':'Provider Profile Admin - Button - Submit Changes','category':'Provider Profile Admin','event': 'Submitted'})">Submit Changes</button>
            <ng-container *ngIf="progressSpinner && overAll === 'Overall Details'">
                <jhi-progress-spinner></jhi-progress-spinner>
            </ng-container>
            <button mat-raised-button color="warn">Discard My Changes</button>
            <a [routerLink]="['../']"><button mat-raised-button color="warn" type="button">View Profile</button></a>
        </div> -->
    </div>
</div>
<div class="container">
    <section class="section-margin">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content-row">
                    <mat-accordion>
                        <mat-expansion-panel [expanded]="dataChecklistPanel">
                            <mat-expansion-panel-header>
                                <b class="tab-content-title" matTooltip="Everything to complete to begin selling your data"
                                    >Data Provider Checklist</b
                                >
                            </mat-expansion-panel-header>

                            <mat-checkbox
                                [(ngModel)]="providerUserModel.confirmed"
                                [disabled]="providerUserModel.confirmed"
                                (change)="updateChecklist($event, 'confirmed')"
                                ></mat-checkbox
                                >&nbsp;&nbsp;&nbsp;<span
                                (click)="signup($event)"
                                routerLinkActive="router-link-active"
                                [ngStyle]="{ 'text-decoration': providerUserModel.confirmed ? 'line-through' : 'none' }"
                            >Register my Account and Gain Access to Insights</span
                            ><br />
                            <mat-checkbox
                                [(ngModel)]="providerUserModel.activated"
                                [disabled]="providerUserModel.activated"
                                (change)="updateChecklist($event, 'activated')"
                                [ngStyle]="{ 'text-decoration': providerUserModel.activated ? 'line-through' : 'none' }"
                            ></mat-checkbox
                            >&nbsp;&nbsp;&nbsp;<span
                                [routerLink]="providerUserModel.activated ? null : ['/activationUser']"
                                routerLinkActive="router-link-active"
                                [ngStyle]="{ 'text-decoration': providerUserModel.activated ? 'line-through' : 'none' }"
                                >Verify my Identity and Gain Access to my Data Profile</span
                            ><br />
                            <mat-checkbox [(ngModel)]="providerUserModel.userOnboarding" (change)="updateChecklist($event, 'userOnboarding')"></mat-checkbox>&nbsp;&nbsp;&nbsp;<span
                                [routerLink]="['/settings']"
                                routerLinkActive="router-link-active"
                                style="text-decoration: line-through;"
                                [ngStyle]="{ 'text-decoration': providerUserModel.userOnboarding ? 'line-through' : 'none' }"
                                ><a href="javascript:void(0);" (click)="updateLinkChecklist($event, 'userOnboarding')">Set my Preferences</a></span
                            ><br />
                            <mat-checkbox
                                [(ngModel)]="providerUserModel.userRoleOnboarding"
                                (change)="updateChecklist($event, 'userRoleOnboarding')"
                            ></mat-checkbox
                            >&nbsp;&nbsp;&nbsp;<span
                                [routerLink]="providerUserModel.userRoleOnboarding ? null : ['/provider-onboarding']"
                                routerLinkActive="router-link-active"
                                [ngStyle]="{ 'text-decoration': providerUserModel.userRoleOnboarding ? 'line-through' : 'none' }"
                                ><a href="javascript:void(0);" (click)="updateLinkChecklist($event, 'userRoleOnboarding')">Review my Data Profile Card</a></span
                            ><br />
                            <mat-checkbox *ngIf="providerRecordID"
                                [(ngModel)]="providerUserModel.dataProfile"
                                (change)="updateChecklist($event, 'dataProfile')"
                                ></mat-checkbox
                                ><span *ngIf="providerRecordID" style="padding-left: 9px;"
                                    [routerLink]="providerRecordID ? ['/providers', providerRecordID, 'edit'] : null"
                                    routerLinkActive="router-link-active"
                                    [ngStyle]="{'text-decoration': providerUserModel.dataProfile ? 'line-through' : 'none'}"
                                    ><a href="javascript:void(0);" (click)="updateLinkChecklist($event, 'dataProfile')">Complete my Data Profile</a>
                                    </span>
                            <mat-checkbox *ngIf="!providerRecordID"
                                [(ngModel)]="providerUserModel.dataProfile"
                                (change)="updateChecklist($event, 'dataProfile')"
                                >
                                <span [ngStyle]="{'text-decoration': providerUserModel.dataProfile ? 'line-through' : 'none'}">
                                Complete my Data Profile</span>
                            </mat-checkbox>
                            <br />
                            <mat-checkbox [(ngModel)]="providerUserModel.compliance" (change)="updateChecklist($event, 'compliance')">Complete Compliance Questionnaire</mat-checkbox><br />
                            <mat-checkbox
                                [(ngModel)]="providerUserModel.investorsPage"
                                (change)="updateChecklist($event, 'investorsPage')"
                            ></mat-checkbox
                            >&nbsp;&nbsp;&nbsp;<span
                                [routerLink]="['/investors']"
                                routerLinkActive="router-link-active"
                                style="text-decoration: line-through;"
                                [ngStyle]="{ 'text-decoration': providerUserModel.investorsPage ? 'line-through' : 'none' }"
                                ><a href="javascript:void(0);" (click)="updateLinkChecklist($event, 'investorsPage')">Match with Data Buyers</a></span
                            ><br />
                            <mat-checkbox [(ngModel)]="providerUserModel.trialAgreement" (change)="updateChecklist($event, 'trialAgreement')">Set up my Trial Agreement</mat-checkbox><br />
                            <mat-checkbox [(ngModel)]="providerUserModel.licenseAgreement" (change)="updateChecklist($event, 'licenseAgreement')">Set up my License Agreement</mat-checkbox><br />
                            <mat-checkbox [(ngModel)]="providerUserModel.supportAgreement" (change)="updateChecklist($event, 'supportAgreement')">Set up my Support Agreement</mat-checkbox><br />
                            <mat-checkbox [(ngModel)]="providerUserModel.sellMyData" (change)="updateChecklist($event, 'sellMyData')">Sell some of my Data!</mat-checkbox><br />
                            <mat-checkbox
                                [(ngModel)]="providerUserModel.partnersCheckList"
                                (change)="updateChecklist($event, 'partnersCheckList')"
                                ><span
                            [ngStyle]="{'text-decoration': providerUserModel.partnersCheckList ? 'line-through' : 'none'}"
                            >Partner with Amass to Increase my Data Sales</span
                            ></mat-checkbox
                            ><br />
                            <mat-checkbox
                                [(ngModel)]="providerUserModel.providersPage"
                                (change)="updateChecklist($event, 'providersPage')"
                                id="providerUserOnboardingForm"></mat-checkbox
                            >&nbsp;&nbsp;&nbsp;<span
                                [routerLink]="['/providers']"
                                routerLinkActive="router-link-active"
                                [ngStyle]="{'text-decoration': providerUserModel.providersPage ? 'line-through' : 'none'}"
                                ><a href="javascript:void(0);" (click)="updateLinkChecklist($event, 'providersPage')"
                                    >Browse Data Provider Profiles to find Complementary or Competitive Data Products</a
                                ></span
                            >
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </section>
</div>
<div style="text-align: center;">
    <span class="text-uppercase"><strong>Additional Account Information and Preferences</strong></span>
</div>
<div class="container">
    <section class="section-margin">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content-row">
                    <span>
                        In order for us to better serve you, please input more details about you, your firm and your preferences. Don't
                        worry if you're not sure about all of this right now, you'll be able to modify your choices here later.
                    </span>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)"></jhi-inactivity-timer>
    <section class="section-margin">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content-row">
                    <mat-accordion>
                        <mat-expansion-panel [expanded]="dataProductsPanel">
                            <mat-expansion-panel-header>
                                <b class="tab-content-title" matTooltip="">About my Data Products</b>
                            </mat-expansion-panel-header>

                            <form
                                role="form"
                                novalidate
                                id="dataProductsForm"
                                [formGroup]="dataProductsForm"
                                (ngSubmit)="
                                    submitProviderUser(
                                        providerUserModel,
                                        'Basic Details',
                                        'basicExpansionPanel',
                                        'documentExpansionPanel',
                                        0,
                                        'basicForm'
                                    )
                                "
                                class="formlyJSONForm"
                            >
                                <formly-form
                                    [model]="providerUserModel"
                                    [fields]="dataProductsFields"
                                    [options]="dataProductsOptions"
                                    [form]="dataProductsForm"
                                >
                                </formly-form>
                            </form>
                        </mat-expansion-panel>
                    </mat-accordion>

                    <mat-accordion>
                        <mat-expansion-panel [expanded]="documentExpansionPanel">
                            <mat-expansion-panel-header>
                                <b
                                    class="tab-content-title"
                                    matTooltip="Important documents detailing your company, data provider brand, data products, and datasets including file attachments and URLs of publicly-available websites."
                                    >Documents</b
                                >
                            </mat-expansion-panel-header>

                            <form
                                role="form"
                                novalidate
                                id="marketingForm"
                                [formGroup]="marketingForm"
                                (ngSubmit)="submitProviderUser(providerUserModel)"
                                class="formlyJSONForm"
                            >
                                <div class="col-sm-12 user-msg-text">
                                    <span
                                        ><strong>NOTICE:</strong> For your convenience, you can choose between uploading file attachments or
                                        submitting the URLs of websites containing the requested information (or add both!). This prevents
                                        the need to submit repetitive files if the information we ask for below already exists on your
                                        publicly-available websites. Max file size is 100MB.</span
                                    >
                                </div>
                                <formly-form
                                    [model]="documentMarketingModel"
                                    [fields]="documentMarketingLiterature"
                                    [options]="documentOptions"
                                    [form]="marketingForm"
                                >
                                    <div class="form-group row"></div>
                                    <ng-container *ngIf="marketingLiteratureList && marketingLiteratureList.length > 0">
                                        <table class="table">
                                            <thead>
                                                <tr style="text-align: center;border: 1px solid #dee2e6;">
                                                    <th scope="col" [ngStyle]="{ width: '90%' }">Marketing Literature Links and Files</th>
                                                    <th scope="col" [ngStyle]="{ width: '10%' }">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody style="font-size: 13px;border: 1px solid #dee2e6;">
                                                <tr *ngFor="let item of marketingLiteratureList; let i = index">
                                                    <td *ngIf="item.fileType" (click)="onclick(item.fileType)">{{ item.name }}</td>
                                                    <td *ngIf="item.linkType">
                                                        <a class="text-color-none" href="{{ item.linkType }}" target="_blank">{{
                                                            item.linkType
                                                        }}</a>
                                                    </td>
                                                    <td *ngIf="item.linkName">
                                                        <a class="text-color-none" href="{{ item.linkName }}" target="_blank">{{
                                                            item.linkName
                                                        }}</a>
                                                    </td>
                                                    <td *ngIf="item.filesName" (click)="onclick(item.fileID)">{{ item.filesName }}</td>
                                                    <td>
                                                        <button
                                                            type="button"
                                                            mat-raised-button
                                                            color="warn"
                                                            class="btn-edit"
                                                            [ngStyle]="{ 'margin-bottom': '10px' }"
                                                            (click)="
                                                                deleteMarketingLiterature(item, i);
                                                                removeLink({
                                                                    label: 'Provider Profile Form - Marketing Literature - Button - Remove',
                                                                    category: 'Provider Profile Form - Resource',
                                                                    event: 'Removed'
                                                                })
                                                            "
                                                        >
                                                            X Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-container>
                                </formly-form>
                                <formly-form
                                    [model]="documentDataDictionaryModel"
                                    [fields]="documentDataDictionary"
                                    [options]="documentOptions"
                                    [form]="documentForm"
                                >
                                    <div class="form-group row"></div>
                                    <ng-container *ngIf="dataDictionaryList && dataDictionaryList.length > 0">
                                        <table class="table">
                                            <thead>
                                                <tr style="text-align: center;">
                                                    <th scope="col" [ngStyle]="{ width: '90%' }">
                                                        Documenation & Data Dictionary Links and Files
                                                    </th>
                                                    <th scope="col" [ngStyle]="{ width: '10%' }">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody style="font-size: 13px;">
                                                <tr *ngFor="let item of dataDictionaryList; let i = index">
                                                    <td *ngIf="item.fileType" (click)="onclick(item.fileType)">{{ item.name }}</td>
                                                    <td *ngIf="item.linkType">
                                                        <a class="text-color-none" href="{{ item.linkType }}" target="_blank">{{
                                                            item.linkType
                                                        }}</a>
                                                    </td>
                                                    <td *ngIf="item.linkName">
                                                        <a class="text-color-none" href="{{ item.linkName }}" target="_blank">{{
                                                            item.linkName
                                                        }}</a>
                                                    </td>
                                                    <td *ngIf="item.filesName" (click)="onclick(item.fileID)">{{ item.filesName }}</td>
                                                    <td>
                                                        <button
                                                            type="button"
                                                            mat-raised-button
                                                            color="warn"
                                                            class="btn-edit"
                                                            [ngStyle]="{ 'margin-bottom': '10px' }"
                                                            (click)="
                                                                deleteDocumentationDataDictionary(item, i);
                                                                removeLink({
                                                                    label:
                                                                        'Provider Profile Form - Documentation & Data Dictionary - Button - Remove',
                                                                    category: 'Provider Profile Form - Resource',
                                                                    event: 'Removed'
                                                                })
                                                            "
                                                        >
                                                            X Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-container>
                                </formly-form>
                                <formly-form
                                    [model]="documentSampleModel"
                                    [fields]="documentSamples"
                                    [options]="documentOptions"
                                    [form]="samplesForm"
                                >
                                    <div class="form-group row"></div>
                                    <ng-container *ngIf="samplesAndExamplesList && samplesAndExamplesList.length > 0">
                                        <table class="table">
                                            <thead>
                                                <tr style="text-align: center;">
                                                    <th scope="col" [ngStyle]="{ width: '90%' }">Samples & Examples Links and Files</th>
                                                    <th scope="col" [ngStyle]="{ width: '10%' }">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody style="font-size: 13px;">
                                                <tr *ngFor="let item of samplesAndExamplesList; let i = index">
                                                    <td *ngIf="item.fileType" (click)="onclick(item.fileType)">{{ item.name }}</td>
                                                    <td *ngIf="item.linkType">
                                                        <a class="text-color-none" href="{{ item.linkType }}" target="_blank">{{
                                                            item.linkType
                                                        }}</a>
                                                    </td>
                                                    <td *ngIf="item.linkName">
                                                        <a class="text-color-none" href="{{ item.linkName }}" target="_blank">{{
                                                            item.linkName
                                                        }}</a>
                                                    </td>
                                                    <td *ngIf="item.filesName" (click)="onclick(item.fileID)">{{ item.filesName }}</td>
                                                    <td>
                                                        <button
                                                            type="button"
                                                            mat-raised-button
                                                            color="warn"
                                                            class="btn-edit"
                                                            [ngStyle]="{ 'margin-bottom': '10px' }"
                                                            (click)="
                                                                deleteSamplesExamples(item, i);
                                                                removeLink({
                                                                    label: 'Provider Profile Form - Samples & Examples - Button - Remove',
                                                                    category: 'Provider Profile Form - Resource',
                                                                    event: 'Removed'
                                                                })
                                                            "
                                                        >
                                                            X Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-container>
                                </formly-form>
                                <formly-form
                                    [model]="documentReportModel"
                                    [fields]="documentReportsAnalyses"
                                    [options]="documentOptions"
                                    [form]="reportForm"
                                >
                                    <div class="form-group row"></div>
                                    <ng-container *ngIf="reportsAnalysesList && reportsAnalysesList.length > 0">
                                        <table class="table">
                                            <thead>
                                                <tr style="text-align: center;">
                                                    <th scope="col" [ngStyle]="{ width: '90%' }">Reports & Analyses Links and Files</th>
                                                    <th scope="col" [ngStyle]="{ width: '10%' }">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody style="font-size: 13px;">
                                                <tr *ngFor="let item of reportsAnalysesList; let i = index">
                                                    <td *ngIf="item.fileType" (click)="onclick(item.fileType)">{{ item.name }}</td>
                                                    <td *ngIf="item.linkType">
                                                        <a class="text-color-none" href="{{ item.linkType }}" target="_blank">{{
                                                            item.linkType
                                                        }}</a>
                                                    </td>
                                                    <td *ngIf="item.linkName">
                                                        <a class="text-color-none" href="{{ item.linkName }}" target="_blank">{{
                                                            item.linkName
                                                        }}</a>
                                                    </td>
                                                    <td *ngIf="item.filesName" (click)="onclick(item.fileID)">{{ item.filesName }}</td>
                                                    <td>
                                                        <button
                                                            type="button"
                                                            mat-raised-button
                                                            color="warn"
                                                            class="btn-edit"
                                                            [ngStyle]="{ 'margin-bottom': '10px' }"
                                                            (click)="
                                                                deleteReportAnalyses(item, i);
                                                                removeLink({
                                                                    label: 'Provider Profile Form - Reports & Analyses - Button - Remove',
                                                                    category: 'Provider Profile Form - Resource',
                                                                    event: 'Removed'
                                                                })
                                                            "
                                                        >
                                                            X Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-container>
                                </formly-form>
                            </form>
                        </mat-expansion-panel> </mat-accordion
                    ><br />
                    <button
                        [disabled]="progressSpinner"
                        type="submit"
                        mat-raised-button
                        color="warn"
                        (click)="
                            submitProviderUser(providerUserModel);
                            formSave({
                                label: 'Provider User Onboarding - Button - Save and Submit',
                                category: 'Provider User Onboarding',
                                event: 'Saved'
                            })
                        "
                    >
                        Save and Submit
                    </button>
                    <ng-container *ngIf="progressSpinner">
                        <jhi-progress-spinner></jhi-progress-spinner>
                    </ng-container>
                </div>
            </div>
        </div>
    </section>
</div>
