<div class="page-title">
    <span class="text-uppercase">Amass Insights in the Press</span>
</div>
<section class="content-wrapper">
    <div class="container">
        <div>
            <div class="row nomargin">
                <div class="col-md-12 row nomargin">
                    <div class="col-md-4 image-padding">
                        <img class="press-img press-yahoo" src="../../content/images/yahoo.png" alt="yahoo">
                    </div>
                    <div class="col-md-4 image-padding">
                        <img class="press-img press-times" src="../../content/images/New_York_Times_logo.png" alt="newyork">
                    </div>
                    <div class="col-md-4 image-padding">
                        <img class="press-img" src="../../content/images/Bobsguide_logo.png" alt="guide">
                    </div>
                </div>
                <div class="col-md-12 row nomargin">
                    <div class="col-md-3 image-padding">
                        <img class="press-img press-statellite" src="../../content/images/Via-Satellite-Logo_Black.png" alt="statellite">
                    </div>
                    <div class="col-md-3 image-padding">
                        <img class="press-img" src="../../content/images/Reuters-Logo.png" alt="reuters">
                    </div>
                    <div class="col-md-3 image-padding">
                        <img class="press-img press-nect" src="../../content/images/nect.png" alt="nect">
                    </div>
                    <div class="col-md-3 image-padding">
                        <img class="press-img press-nect" src="../../content/images/fundfire-logo.png" alt="fundfire">
                    </div>
                </div>
            </div>
        </div>
        <jhi-spinner [show]="loader"></jhi-spinner>
        <div *ngIf="isAuthenticated()">
            <div class="row mat-elevation-z2 blog-card" *ngFor="let articleObject of articleObj">  
                <div class="row col-md-12 blog-card-sec" *ngIf="articleObject">
                    <div class="col-md-6 blog-content-section">
                        <div class="blog-date" (click)="pressArticle('Press - Published Date - ' + articleObject.title)" *ngIf="articleObject && articleObject.recordID"><a *ngIf="articleObject && articleObject.recordID" [routerLink]="['../news', articleObject.recordID ]">{{articleObject.publishedDate | date : 'mediumDate'}}</a></div>
                        <a *ngIf="articleObject && articleObject.recordID" [routerLink]="['../news', articleObject.recordID ]"><h6 class="blog-title" *ngIf="articleObject.authorOrganization && articleObject.authorOrganization.name && articleObject.authorOrganization.name !== 'NAME_NULL'" (click)="pressArticle('Press - Title - ' + articleObject.title)">{{articleObject.authorOrganization.name}}</h6></a>
                        <a *ngIf="articleObject && articleObject.recordID" [routerLink]="['../news', articleObject.recordID ]"> <h5 class="blog-title" (click)="pressArticle('Press - Title - ' + articleObject.title)">{{articleObject.title}}</h5></a>
                        <p class="blog-content" (click)="pressArticle('Press - Summary - ' + articleObject.title)"><a [routerLink]="['../news', articleObject.recordID ]">{{articleObject.summary}}</a></p>
                        <a *ngIf="articleObject && articleObject.recordID" [routerLink]="['../news', articleObject.recordID ]">
                            <button type="button" (click)="pressArticle('Press - Read Button - ' + articleObject.title)" mat-raised-button color="warn" class="blog-action-button">Read</button>
                        </a>
                    </div>
                    <div class="col-md-6 blog-img-section no-padding" *ngIf="articleObject && articleObject.visualUrl">
                            <a *ngIf="articleObject && articleObject.recordID" [routerLink]="['../news', articleObject.recordID ]"><img (click)="pressArticle('Press - Image - ' + articleObject.title)" [src]="_DomSanitizer.bypassSecurityTrustUrl(articleObject.visualUrl)" onerror="this.style.display='none'" width="100%" /></a>
                    </div>
                    <div class="col-md-6 blog-img-section no-padding" *ngIf="articleObject && !articleObject.visualUrl">
                            <a *ngIf="articleObject && articleObject.recordID" [routerLink]="['../news', articleObject.recordID ]"><img (click)="pressArticle('Press - Image - ' + articleObject.title)" src="../../content/images/blog/placeholder.jpg" width="100%" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!isAuthenticated()">
            <div class="row mat-elevation-z2 blog-card" *ngFor="let articleObject of articleObj">  
                <div class="row col-md-12 blog-card-sec" *ngIf="articleObject">
                    <div class="col-md-6 blog-content-section">
                        <div class="blog-date" (click)="pressArticle('Press - Published Date - ' + articleObject.title)" *ngIf="articleObject && articleObject.recordID"><a *ngIf="articleObject && articleObject.recordID" [href]="articleObject.url" target="_blank">{{articleObject.publishedDate | date : 'mediumDate'}}</a></div>
                        <a *ngIf="articleObject && articleObject.recordID" [href]="articleObject.url" target="_blank"><h6 class="blog-title" *ngIf="articleObject.authorOrganization && articleObject.authorOrganization.name && articleObject.authorOrganization.name !== 'NAME_NULL'" (click)="pressArticle('Press - Title - ' + articleObject.title)">{{articleObject.authorOrganization.name}}</h6></a>
                        <a *ngIf="articleObject && articleObject.recordID" [href]="articleObject.url" target="_blank"> <h5 class="blog-title" (click)="pressArticle('Press - Title - ' + articleObject.title)">{{articleObject.title}}</h5></a>
                        <p class="blog-content" (click)="pressArticle('Press - Summary - ' + articleObject.title)"><a [href]="articleObject.url" target="_blank">{{articleObject.summary}}</a></p>
                        <a *ngIf="articleObject && articleObject.recordID" [href]="articleObject.url" target="_blank">
                            <button type="button" (click)="pressArticle('Press - Read Button - ' + articleObject.title)" mat-raised-button color="warn" class="blog-action-button">Read</button>
                        </a>
                    </div>
                    <div class="col-md-6 blog-img-section no-padding" *ngIf="articleObject && articleObject.visualUrl">
                            <a *ngIf="articleObject && articleObject.recordID" [href]="articleObject.url" target="_blank"><img (click)="pressArticle('Press - Image - ' + articleObject.title)" [src]="_DomSanitizer.bypassSecurityTrustUrl(articleObject.visualUrl)" onerror="this.style.display='none'" width="100%" /></a>
                    </div>
                    <div class="col-md-6 blog-img-section no-padding" *ngIf="articleObject && !articleObject.visualUrl">
                            <a *ngIf="articleObject && articleObject.recordID" [href]="articleObject.url" target="_blank"><img (click)="pressArticle('Press - Image - ' + articleObject.title)" src="../../content/images/blog/placeholder.jpg" width="100%" /></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row mat-elevation-z2 blog-card">
            <div class="col-md-6 blog-img-section no-padding">
                <img src="../../content/images/blog/placeholder2.jpg" width="100%" />
            </div>
            <div class="col-md-6 blog-content-section">
                <div class="blog-date">Jun 19, 2016</div>
                <h5 class="blog-title">Our aim is to meet your blind or awning needs at a price that's right for you</h5>
                <p class="blog-content">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the ...
                </p>
                <button type="button" mat-raised-button color="warn" class="blog-action-button">Read More</button>
            </div>
        </div> -->
    </div>
</section>
