<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDataProviderTagLabel" jhiTranslate="datamarketplaceApp.dataProviderTag.home.createOrEditLabel">Create or edit a Data Provider Tag</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!dataProviderTag.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="dataProviderTag.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProviderTag.recordID" for="field_recordID">Record ID</label>
            <input type="text" class="form-control" name="recordID" id="field_recordID"
                [(ngModel)]="dataProviderTag.recordID" maxlength="50" />
            <div [hidden]="!(editForm.controls.recordID?.dirty && editForm.controls.recordID?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.recordID?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProviderTag.providerTag" for="field_providerTag">Provider Tag</label>
            <input type="text" class="form-control" name="providerTag" id="field_providerTag"
                [(ngModel)]="dataProviderTag.providerTag" required maxlength="64" />
            <div [hidden]="!(editForm.controls.providerTag?.dirty && editForm.controls.providerTag?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.providerTag?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.providerTag?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 64 }">
                   This field cannot be longer than 64 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProviderTag.explanation" for="field_explanation">Explanation</label>
            <textarea class="form-control" name="explanation" id="field_explanation"
                [(ngModel)]="dataProviderTag.explanation"  ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProviderTag.inactive" for="field_inactive">Inactive</label>
            <input type="number" class="form-control" name="inactive" id="field_inactive"
                [(ngModel)]="dataProviderTag.inactive" max="2" />
            <div [hidden]="!(editForm.controls.inactive?.dirty && editForm.controls.inactive?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.inactive?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 2 }">
                    This field cannot be more than 2.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.inactive?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProviderTag.createdDate" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="dataProviderTag.createdDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProviderTag.updatedDate" for="field_updatedDate">Updated Date</label>
            <div class="d-flex">
                <input id="field_updatedDate" type="datetime-local" class="form-control" name="updatedDate" [(ngModel)]="dataProviderTag.updatedDate"
                  />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
