
<div *ngIf="dataProviderTag">
    <h2><span jhiTranslate="datamarketplaceApp.dataProviderTag.detail.title">Data Provider Tag</span> {{dataProviderTag.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="datamarketplaceApp.dataProviderTag.providerTag">Provider Tag</span></dt>
        <dd>
            <span>{{dataProviderTag.providerTag}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataProviderTag.explanation">Explanation</span></dt>
        <dd>
            <span>{{dataProviderTag.explanation}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataProviderTag.createdDate">Created Date</span></dt>
        <dd>
            <span>{{dataProviderTag.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataProviderTag.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{dataProviderTag.updatedDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
