<div class="page-title">
    <span class="text-uppercase">My Account Information and Settings</span>
</div>
<section class="content-wrapper">
    <div class="container">
        <!-- <div class="row" *ngFor="let providerRecordId of providerId">
            <a (click)="recordIdLink({'label':'Account Settings - My Data Profile','category':'Account Settings','event': 'Internal Link Clicked'})" [routerLink]="['../providers', providerRecordId.providerRecordID ]" [ngStyle]="{'padding': '10px 15px','text-decoration': 'none','font-family': 'OpenSans-SemiBold'}">{{providerRecordId.providerName}}</a>
        </div> -->
        <jhi-inactivity-timer
            (onExpire)="onExpireSession($event)"
            (beforeSessionExpire)="beforeSessionExpires($event)"
        ></jhi-inactivity-timer>
        <mat-tab-group color="primary" backgroundColor="primary" [selectedIndex]="0">
            <mat-tab label="My Account">
                <ng-template mat-tab-label>
                    <span matTooltip="Your Account's Basic Details">My Account</span>
                </ng-template>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <!-- <h2 jhiTranslate="settings.title" translateValues="{username: '{{settingsAccount.login}}'}" *ngIf="settingsAccount">User settings for [<b>{{settingsAccount.login}}</b>]</h2> -->

                            <div class="alert alert-success" *ngIf="success" jhiTranslate="settings.messages.success">
                                <strong>Settings saved!</strong>
                            </div>

                            <jhi-alert-error></jhi-alert-error>
                            <form name="form" role="form" (ngSubmit)="save()" #settingsForm="ngForm" *ngIf="settingsAccount" novalidate>
                                <div class="form-group">
                                    <label class="form-control-label" for="firstName">First Name*</label>
                                    <input
                                        type="text"
                                        class="form-control mat-elevation-z2 amassInput"
                                        id="firstName"
                                        name="firstName"
                                        placeholder="{{ 'settings.form.firstname.placeholder' | translate }}"
                                        [(ngModel)]="settingsAccount.firstName"
                                        minlength="1"
                                        maxlength="50"
                                        #firstNameInput="ngModel"
                                        required
                                    />
                                    <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="firstNameInput.errors.required"
                                            jhiTranslate="settings.messages.validate.firstname.required"
                                        >
                                            Your first name is required.
                                        </small>
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="firstNameInput.errors.minlength"
                                            jhiTranslate="settings.messages.validate.firstname.minlength"
                                        >
                                            Your first name is required to be at least 1 character.
                                        </small>
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="firstNameInput.errors.maxlength"
                                            jhiTranslate="settings.messages.validate.firstname.maxlength"
                                        >
                                            Your first name cannot be longer than 50 characters.
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="lastName">Last Name*</label>
                                    <input
                                        type="text"
                                        class="form-control mat-elevation-z2 amassInput"
                                        id="lastName"
                                        name="lastName"
                                        placeholder="{{ 'settings.form.lastname.placeholder' | translate }}"
                                        [(ngModel)]="settingsAccount.lastName"
                                        minlength="1"
                                        maxlength="50"
                                        #lastNameInput="ngModel"
                                        required
                                    />
                                    <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="lastNameInput.errors.required"
                                            jhiTranslate="settings.messages.validate.lastname.required"
                                        >
                                            Your last name is required.
                                        </small>
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="lastNameInput.errors.minlength"
                                            jhiTranslate="settings.messages.validate.lastname.minlength"
                                        >
                                            Your last name is required to be at least 1 character.
                                        </small>
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="lastNameInput.errors.maxlength"
                                            jhiTranslate="settings.messages.validate.lastname.maxlength"
                                        >
                                            Your last name cannot be longer than 50 characters.
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="email">Work Email*</label>
                                    <input
                                        type="email"
                                        class="form-control mat-elevation-z2 amassInput"
                                        id="email"
                                        name="email"
                                        placeholder="{{ 'global.form.email.placeholder' | translate }}"
                                        [(ngModel)]="settingsAccount.email"
                                        #emailInput="ngModel"
                                        email
                                        required
                                        pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$"
                                    />
                                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                                        <small class="form-text text-danger" *ngIf="emailInput.errors.required">
                                            Your work email is required.
                                        </small>
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="emailInput.errors && emailInput.errors.pattern"
                                            jhiTranslate="global.messages.validate.email.invalid"
                                        >
                                            Your email is invalid.
                                        </small>
                                    </div>
                                    <div *ngIf="previousMail !== null">
                                        <small class="form-text text-info">
                                            You changed your email id from {{ previousMail }} to {{ updatedMail }}. Please confirm by
                                            clicking the link received in your new email.
                                        </small>
                                    </div>
                                    <div *ngIf="errorUserExists && !success">
                                        <small class="form-text text-danger">
                                            Entered email address was being used by some other user in Amass Insights. Please try with some
                                            other email address.
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="company">Company Name*</label>
                                    <input
                                        type="text"
                                        class="form-control mat-elevation-z2 amassInput"
                                        id="company"
                                        name="company"
                                        placeholder="Company Name"
                                        [(ngModel)]="settingsAccount.company"
                                        #companyInput="ngModel"
                                        required
                                    />
                                    <div *ngIf="companyInput.dirty && companyInput.invalid">
                                        <small class="form-text text-danger" *ngIf="companyInput.errors.required">
                                            Your Company Name is required.
                                        </small>
                                    </div>
                                </div>
                                <!--<div class="form-group" *ngIf="providerId">
                                    <label class="form-control-label">Organizations my Account Has Been Authorized as an Operator</label>
                                    <div class="row" *ngFor="let providerRecordId of providerId">
                                        <a (click)="recordIdLink({'label':'Account Settings - My Data Profile','category':'Account Settings','event': 'Internal Link Clicked'})" [routerLink]="['../providers', providerRecordId.providerRecordID ]" [ngStyle]="{'padding': '10px 15px','text-decoration': 'none','font-family': 'OpenSans-SemiBold'}">{{providerRecordId.providerName}}</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="notification">Notification Settings</label>
                                    <div>
                                        <mat-checkbox id="notification" name="notification" class="filter-checkbox" color="warn" [(ngModel)]="settingsAccount.notify_news_update" (change)="onChange($event)">
                                            <div class="filter-text">Receive occasional news and updates about Alternative Data in Investing</div>
                                        </mat-checkbox>
                                    </div>
                                </div> -->
                                <button
                                    (click)="
                                        saveSetting({
                                            label: 'Account Settings - Button - Save',
                                            category: 'Account Settings',
                                            event: 'Save'
                                        })
                                    "
                                    type="submit"
                                    [disabled]="settingsForm.form.invalid"
                                    mat-raised-button
                                    color="warn"
                                >
                                    Save and Update
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="My Settings">
                <ng-template mat-tab-label>
                    <span matTooltip="Your Account's Settings">My Settings</span>
                </ng-template>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <ng-container *ngIf="provider">
                                <!-- <mat-accordion>
                                    <mat-expansion-panel  [expanded]="false">
                                    <mat-expansion-panel-header>
                                    <b class="tab-content-title">Data Provider Details</b>
                                    </mat-expansion-panel-header> -->
                                <!-- <form role="form" novalidate id="providerForm" [formGroup]="providerForm"  class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="providerFields" [options]="providerOptions" [form]="providerForm">
                                        </formly-form>
                                    </form> -->
                                <!-- </mat-expansion-panel>
                                    </mat-accordion> -->
                            </ng-container>
                            <div *ngIf="investor">
                                <form
                                    role="form"
                                    novalidate
                                    id="investigationForm"
                                    [formGroup]="investigationForm"
                                    (ngSubmit)="submit(basicModel)"
                                    class="formlyJSONForm"
                                >
                                    <formly-form
                                        [model]="basicModel"
                                        [fields]="investigationFields"
                                        [options]="investigationOptions"
                                        [form]="investigationForm"
                                    >
                                        <!--<button mat-raised-button color="warn" (click)="formSave()">Save</button>-->
                                    </formly-form>
                                </form>
                            </div>
                            <div class="form-group" *ngIf="providerId">
                                <label class="form-control-label">Organizations my Account Has Been Authorized as an Operator</label>
                                <div class="row" *ngFor="let providerRecordId of providerId">
                                    <a
                                        (click)="
                                            recordIdLink({
                                                label: 'Account Settings - My Data Profile',
                                                category: 'Account Settings',
                                                event: 'Internal Link Clicked'
                                            })
                                        "
                                        [routerLink]="['../providers', providerRecordId.providerRecordID]"
                                        [ngStyle]="{ padding: '10px 15px', 'text-decoration': 'none', 'font-family': 'OpenSans-SemiBold' }"
                                        >{{ providerRecordId.providerName }}</a
                                    >
                                </div>
                            </div>
                            <div *ngIf="provider && providerId">
                                <form
                                    role="form"
                                    novalidate
                                    id="privacySecurityForm"
                                    [formGroup]="privacySecurityForm"
                                    (ngSubmit)="submit(basicModel)"
                                    class="formlyJSONForm"
                                >
                                    <formly-form
                                        [model]="basicModel"
                                        [fields]="privacySecurityFields"
                                        [options]="privacySecurityOptions"
                                        [form]="privacySecurityForm"
                                    >
                                    </formly-form>
                                </form>
                            </div>
                            <div *ngIf="provider && !providerId">
                                <form
                                    role="form"
                                    novalidate
                                    id="providerSecurityForm"
                                    [formGroup]="providerSecurityForm"
                                    (ngSubmit)="submit(basicModel)"
                                    class="formlyJSONForm"
                                >
                                    <formly-form
                                        [model]="basicModel"
                                        [fields]="providerSecurityFields"
                                        [options]="providerSecurityOptions"
                                        [form]="providerSecurityForm"
                                    >
                                    </formly-form>
                                </form>
                            </div>
                            <div *ngIf="investor">
                                <form
                                    role="form"
                                    novalidate
                                    id="investorSecurityForm"
                                    [formGroup]="investorSecurityForm"
                                    (ngSubmit)="submit(basicModel)"
                                    class="formlyJSONForm"
                                >
                                    <formly-form
                                        [model]="basicModel"
                                        [fields]="investorSecurityFields"
                                        [options]="investorSecurityOptions"
                                        [form]="investorSecurityForm"
                                    >
                                    </formly-form>
                                </form>
                            </div>
                            <ng-container *ngIf="(!admin && provider) || investor">
                                <button mat-raised-button color="warn" (click)="submit(basicModel)">SAVE</button>
                            </ng-container>
                            <div *ngIf="subscription !== null">
                                <div *ngIf="subscription && subscription.payment">
                                    <label class="form-control-label" for="Mysubscription" style="margin-top: 15px;"
                                        >My Subscription:</label
                                    >
                                    <div style="text-transform: uppercase;">
                                        <label class="form-control-label"></label>
                                        {{ subscription.subscription }}
                                    </div>
                                    <div>
                                        <label class="form-control-label">Started:</label>
                                        {{ subscription.createdDate }}
                                    </div>
                                    <div>
                                        <label class="form-control-label">Ending:</label>
                                        {{ subscription.expirationDate }}
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="subscription === null && !userRole">
                                <label class="form-control-label" for="Mysubscription">My Subscription:</label>
                                <div class="form-group">
                                    <a [routerLink]="['../upgrade']"
                                        ><button mat-raised-button class="buttoncheck" color="warn" type="button">Upgrade</button></a
                                    >
                                </div>
                            </div>
                            <div *ngIf="subscription === null && userRole">
                                <label class="form-control-label" for="Mysubscription">My Subscription:</label>
                                <div class="form-group" *ngIf="userAuthoritiesValue">
                                    <ng-container *ngFor="let authorities of userAuthoritiesValue.authorities">
                                        <div *ngIf="authorities && authorities.description && authorities.description !== 'Registered'">
                                            {{ authorities.description }}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div *ngIf="subscription !== null">
                                <div *ngIf="subscription && subscription.payment && cardDetails">
                                    <label class="form-control-label" for="paymentsetting">Payment Settings:</label>
                                    <div>
                                        <label class="form-control-label"
                                            >Payment Card ending in {{ cardDetails.cardNumber }} expiring {{ cardDetails.expMonth }}
                                            {{ cardDetails.expYear }}</label
                                        >
                                    </div>
                                    <div class="form-group">
                                        <mat-accordion>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        EDIT
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <form
                                                                novalidate
                                                                (ngSubmit)="buy($event)"
                                                                [formGroup]="stripeTest"
                                                                class="checkout"
                                                                *ngIf="cardList"
                                                            >
                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="name">Name on Card</label>
                                                                    <input
                                                                        type="text"
                                                                        [(ngModel)]="cardList.name"
                                                                        class="form-control no-border"
                                                                        formControlName="name"
                                                                        placeholder="Name"
                                                                    />
                                                                </div>
                                                                <label class="checkbox-inline">Card Details</label>
                                                                <div id="card-element" #cardInfo class="field"></div>
                                                                <div id="card-errors" role="alert" style="color:red"></div>
                                                                <button type="submit" mat-raised-button color="warn">Save</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                </div>
                            </div>
                            <!-- <form name="form" role="form" (ngSubmit)="save()" #settingsForm="ngForm" *ngIf="settingsAccount" novalidate>
                            <div class="form-group">
                                <label class="form-control-label" for="notification">Notification Settings</label>
                                <div>
                                    <mat-checkbox id="notification" name="notification" class="filter-checkbox" color="warn" [(ngModel)]="settingsAccount.notify_news_update" (change)="onChange($event)">
                                        <div class="filter-text">Receive occasional news and updates about Alternative Data in Investing</div>
                                    </mat-checkbox>
                                </div>
                            </div>
                            <button (click)="saveSetting({'label':'Account Settings - Button - Save', 'category':'Account Settings', 'event': 'Save'})" type="submit" [disabled]="settingsForm.form.invalid" mat-raised-button color="warn">Save and Update</button>
                            </form>    -->
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="My Password">
                <ng-template mat-tab-label>
                    <span (click)="doPassword()" matTooltip="Change your Account's Password">My Password</span>
                </ng-template>
            </mat-tab>
            <mat-tab label="My Data Profile " *ngIf="providerId">
                <ng-template mat-tab-label>
                    <span (click)="doSomethingProfile()" matTooltip="Your Data Provider Profile">My Data Profile</span>
                </ng-template>
            </mat-tab>
            <mat-tab label="Update my Data Profile" *ngIf="providerId">
                <ng-template mat-tab-label>
                    <span (click)="doSomething()" matTooltip="Update your Data Provider's Profile">Update my Data Profile</span>
                </ng-template>
            </mat-tab>
            <mat-tab label="My Data & Alerts">
                <ng-template mat-tab-label>
                    <span matTooltip="Preferences on the Data you are Looking to Acquire">My Data & Alerts</span>
                </ng-template>
                <label class="form-control-label" for="Data Preferences:">Data Preferences:</label>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <form
                                role="form"
                                novalidate
                                id="basicForm"
                                [formGroup]="basicForm"
                                (ngSubmit)="submitProviderEdit(basicModel)"
                                class="formlyJSONForm"
                            >
                                <formly-form [model]="basicModel" [fields]="basicFields" [options]="basicOptions" [form]="basicForm">
                                </formly-form>
                                <div class="form-group">
                                    <label class="form-control-label" for="notification">Alert Preferences:</label>
                                    <div>
                                        <mat-checkbox
                                            id="notification"
                                            name="notification"
                                            class="filter-checkbox"
                                            color="warn"
                                            [(ngModel)]="settingsAccount.notify_news_update"
                                            [ngModelOptions]="{ standalone: true }"
                                            (change)="onChange($event)"
                                        >
                                            <div class="filter-text">
                                                Receive occasional news and updates about Alternative Data in Investing
                                            </div>
                                        </mat-checkbox>
                                    </div>
                                </div>
                                <button mat-raised-button color="warn" (click)="formSave()">SAVE AND UPDATE</button>
                            </form>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <ng-container *ngIf="!admin && userRole">
                <mat-tab label="Purchase History">
                    <ng-template mat-tab-label>
                        <span matTooltip="Your Account's Purchase History">Purchase History</span>
                    </ng-template>
                    <div class="data-list">
                        <div class="media">
                            <div class="media-body" *ngIf="subscription !== null">
                                <div class="form-group" *ngIf="subscription && subscription.payment && cardDetails">
                                    <!--<mat-card [ngStyle]="{'min-height':'140px'}" *ngFor="let cardDetail of cardDetails">-->
                                    <mat-card [ngStyle]="{ 'min-height': '140px' }">
                                        <div class="row" style="margin-bottom:10px">
                                            <div class="col-md-4 pull-right text-left media-text no-padding-left">
                                                <strong></strong> <span>{{ cardDetails.cardNumber }} </span>
                                            </div>
                                            <div class="col-md-4 pull-right text-left media-text no-padding-left">
                                                <strong>Currency: </strong> {{ cardDetails.payment.currency }}
                                            </div>
                                            <div class="col-md-4 pull-left media-text no-padding-left">
                                                <strong class="static-list-txt">Amount: </strong>
                                                <span>
                                                    {{ cardDetails.payment.amount / 100 }}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-bottom:10px">
                                            <div class="col-md-12 pull-right text-left media-text no-padding-left">
                                                <strong class="static-list-txt"> </strong>
                                                <span>
                                                    {{ cardDetails.payment.description }}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 pull-right text-left media-text no-padding-left">
                                                <strong></strong><span>{{ cardDetails.payment.createdDate }}</span>
                                            </div>
                                            <!--  <div class="col-md-4 pull-right text-left media-text no-padding-left">
                                                    <strong>End Date: </strong> {{cardDetails.payment.expirationDate}}   </span>
                                                </div> -->
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </ng-container>
        </mat-tab-group>
    </div>
</section>
