.data-list {
    font-family: OpenSans-Regular;
    margin-bottom: 10px;
}

.data-list .blurText {
    color: transparent !important;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-shadow: 0px 0px 0px 10px #e7e7e7;
}

.data-list .media-body .mat-card {
    padding: 5px 8px;
    min-height: 145px;
    /* overflow: auto; */
}

.data-list .media-body .mat-card .row {
    margin-left: 0;
    margin-right: 0;
}

.data-list .media-body .media-heading {
    font-size: 1em;
    font-weight: bold;
}

.data-list .media-body .media-heading a {
    color: #333;
    display: block;
    margin: 3px 0;
}

.data-list .media-body .media-heading a:hover {
    text-decoration: none;
}

.data-list .media-body .media-text {
    font-size: 0.8em;
    margin-bottom: 10px;
}

.data-list .media-body .media-text .col-md-3:not(:last-child), .data-list .media-body .media-text .col-md-4:not(:last-child) {
    border-right: 1px solid #ddd;
}

.data-list .media-body .media-text .grey-text {
    color: #858585;
}

.media-text a{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.data-list .media-desc {
    color: #858585;
    font-size: 0.9em;
}

.data-list .truncate-text {
    display: -webkit-box;
    line-height: 1.4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
