:host {
    >.container {
        max-width: 1264px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        background: black;
    }
    ::ng-deep {
        .mat-tab-group {
            flex-direction: row;
        }
        mat-tab-group .mat-tab-label:not(:last-child) {
            border-right: 0px solid #ddd !important;
        }
        .mat-tab-label {
            padding: 0 24px;
            cursor: pointer;
            box-sizing: border-box;
            min-width: 194px !important;
            text-align: center;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            position: relative;
        }
        .mat-tab-header {
          border-bottom: none;
        }
        .mat-tab-header-pagination {
            display: none !important;
        }
        .mat-tab-labels {
            flex-direction: column;
            color: white;
/*             background-color:black;
 */        }
        .mat-tab-label-active {
         //color: #fff;
        background-color: #007bff !important;
        } 
        
        .mat-ink-bar {
            height: 100%;
            left: 98% !important;
            color: white;
        }
        .mat-tab-body-wrapper {
            flex: 1 1 auto;
        }
        .mat-tab-list{
            background: #151313;
        }
    }
}



#content {
    box-sizing: content-box;
    margin: 0 auto;
    padding: 15px;
    width: 1264px;
    background-color: #ffffff;
}

#content {
    max-width: 1100px;
    width: 100%;
    background-color: #ffffff;
    padding: 24px;
    box-sizing: border-box;
}
.buttoncheck{
    text-transform: none;

}
#content,
#main-content {
    &::before,
    &::after {
        content: "";
        display: table;
    }
    &::after {
        clear: both;
    }
}


//Ranjith

.text-light1 {
    color: #438afe !important;
    padding: 11px 15px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.bg-gradient {
    background: #C9D6FF;
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    }

    .checkout .table thead th {    
    background: #438afe;
    color: #fff;
    font-size: 20px;
}

#cart ul {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
}
.checkout label.checkbox-inline {
    font-weight: bold;
    color: #212529;
}
.checkout {
    padding-bottom: 15px;
}
#cart .nomargin {
    margin-bottom: 35px;
}

.checkout .table{
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
    ul li {
      margin-bottom:1.4rem;
    }
    .pricing-divider {
    border-radius: 20px;
    background: #C64545;
    padding: 1em 0 4em;
    position: relative;
    max-height: 300px;
    height: 207px;
    }
    .blue .pricing-divider{
    background: #2D5772;
    }
    .green .pricing-divider {
    background: #1AA85C;
    }
    .red b {
      color:#C64545
    }
    .blue b {
      color:#2D5772
    }
    .green b {
      color:#1AA85C
    }
    .pricing-divider-img {
        position: absolute;
        bottom: -11px;
        left: 0;
        width: 100%;
        height: 80px;
    }
    .deco-layer {
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
    }
    .btn-custom  {
      background:#C64545; color:#fff; border-radius:20px
    }

    .img-float {
      width:50px; position:absolute;top:-3.5rem;right:1rem
    }

    .princing-item {
      transition: all 150ms ease-out;
    }
    .princing-item:hover {
      transform: scale(1.05);
    }
    .princing-item:hover .deco-layer--1 {
      -webkit-transform: translate3d(15px, 0, 0);
      transform: translate3d(15px, 0, 0);
    }
    .princing-item:hover .deco-layer--2 {
      -webkit-transform: translate3d(-15px, 0, 0);
      transform: translate3d(-15px, 0, 0);
    }


    .display-2 {
        font-size: 2em !important;

    }
.card-body {
    height: 460px;
}
button.bronze {
    margin-top: 141px;
}
button.silver {
    margin-top: 119px;
}


.btn-custom1  {
    background:#2D5772; color:#fff; border-radius:20px
  }
  .btn-custom2  {
    background:#1AA85C; color:#fff; border-radius:20px
  }

  .red {
    background-color: #4caf5000 !important;
}
.green {
    background-color: #4caf5000 !important;
}
.blue {
    background-color: #4caf5000 !important;
}
.bg-gradient {
    background: #fff;

}
/* .StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
} */