<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">JHipster activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
    </head>
    <body>
    <p th:text="#{email.greeting(${user.firstName})}">
        Dear
    </p>
    <span th:text="#{email.adminapprovededits.text1}" />
                <a th:href="@{|${baseUrl}/#/providers/${dataProvider.recordID}|}" th:text="${dataProvider.getProviderName()}"> Data Profile</a>. 
                    <span th:text="#{email.adminapprovededits.text3}" />
                
<p th:text="#{email.adminapprovededits.text2}">
</p>
    <span th:text="#{email.adminapprovededits.text6}" />
     <br/>
    <span th:text="#{email.adminapprovededits.text7}" />
     <br/>
    <span th:text="#{email.adminapprovededits.text8}" />

<p th:text="#{email.adminapprovededits.text4}">
</p>
<p th:text="#{email.adminapprovededits.text5}">
</p>
<p>
    <span th:text="#{email.signature1}">Regards, </span>
    <br/>
    <em th:text="#{email.signature2}">Amass Insights Team.</em>
</p>
</body>
</html>
