<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.providerEditAdmin.text}">Provider Profile Edits</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p th:text="#{email.admin.greeting}">
    Dear
</p>

<p th:text="#{email.article.content}">
</p>
<u><span th:text="#{email.article.articledetails}"/></u>
<br/>
<span th:text="#{email.article.articledetails1}"/>
<br/>
<span th:text="@{|${url}|}" th:remove="tag"></span>
<span th:text="#{email.article.articledetailstext3}"/>&nbsp;<span th:text="@{|${baseUrl}/#/news|}" th:remove="tag"></span>
<span th:text="${dataTopic.hashtag}"/>&nbsp;<span  th:text="#{email.article.articledetailstext2}" />
<br/>
<br/>
<a th:href="@{|${baseUrl}/#/email-action?api=cancel-linkedIn&amp;key=${dataArticle.recordID}|}">Click here to cancel the LinkedIn post</a>
<br/>
<u><span th:text="#{email.article.twitterdetails}"/></u>
<br/>
<span th:text="#{email.article.twitterdetails1}"/>
<br/>
<span th:text="@{|${url}|}" th:remove="tag"></span>
<span th:text="${dataTopic.hashtag}"/>&nbsp;<span  th:text="#{email.article.articledetailstext2}" />
<br/>
<br/>
<a th:href="@{|${baseUrl}/#/email-action?api=cancel-twitter&amp;key=${dataArticle.recordID}|}">Click here to cancel the Twitter post</a>
<p>
    <span th:text="#{email.signature1}">Regards,</span>
    <br/>
    <em th:text="#{email.signature2}">Amass Insights Team.</em>
</p>
</body>
</html>
