<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.category.follow.title}">followCategoryToAdmin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
    <p>
        Details of follow:
        <br/>
        <b>User Information</b>
        <br/>
        Name: <span th:text="${user.firstName}" /> <span th:text="${user.lastName}" />
        <br/>
        Email: <span th:text="${user.email}" />
        <br/>
        Company Name: <span th:text="${user.company}" />
        <br/>
    </p>
    <p>
        <b>Category Information</b>
        <br/>
        Data Category Name: <span><a th:href="${baseUrl} + '/#/providers?filter=mainDataCategory.id&amp;id=' + ${dataCategory.id} + '&amp;type=checkbox'" th:text="${dataCategory.datacategory}"></a></span>
    </p>
</body>
</html>
