<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.activation.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p th:text="#{email.greeting(${user.firstName})}">
    Dear
</p>
<p>
    <span th:text="#{email.category.follow.text1}" />
    <a th:href="${baseUrl} + '/#/providers?filter=mainDataCategory.id&amp;id=' + ${dataCategory.id} + '&amp;type=checkbox'" th:text="${dataCategory.datacategory}">You are now following all news and updates about {Category Name} </a>
    <span th:text="#{email.category.follow.text2}" />
    <br/>
</p>
<p>
    <span th:text="#{email.category.follow.text3}" />
    <a th:href="${baseUrl} + '/#/email-action?api=unfollow-category&amp;key=' + ${deletionKey}">click here</a>
</p>
<span th:text="#{email.signature1}">Regards, </span>
<br/>
<em th:text="#{email.signature2}">Amass Insights Team.</em>
</body>
</html>
