<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.updation.admin.title}">JHipster creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p th:text="#{email.investor.greeting}">
    Hi,
</p>
<p th:text="#{email.investorActivation.provider.text}">
</p>
<span th:text="#{email.investorActivation.provider.text1}" />&nbsp;<a th:href="@{|${baseUrl}/#/activationUser?key=${user.activationKey}|}">click here</a>&nbsp;<span th:text="#{email.investorActivation.provider.text2}" />
<br/>
<br/>
<span th:text="@{|${baseUrl}/#/activationUser?key=${user.activationKey}|}" th:remove="tag"></span>
<p>
    <span th:text="#{email.investor.signature}">Looking forward to bringing you on board!</span>
    <br/>
    <span th:text="#{email.signature1}">Regards,</span>
    <br/>
    <em th:text="#{email.signature2}">Amass Insights Team.</em>
</p>
</body>
</html>