<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.updation.admin.title}">JHipster creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p th:text="#{email.investorActivationadmin.provider.text}">
</p>
<span th:text="#{email.investorActivationadmin.admin.text1}" />&nbsp;<span th:text="@{|${baseUrl}/#/activationUser?key=${user.activationKey}|}" th:remove="tag"></span>
<br/>
<span th:text="#{email.investorActivationadmin.admin.text2}" />&nbsp;<span th:text="${user.email}"/>
<br/>
<span th:text="#{email.investorActivationadmin.admin.text3}" /><span th:text="${inviteType}"/>
<br/>
<p>
    <span th:text="#{email.signature1}">Regards,</span>
    <br/>
    <em th:text="#{email.signature2}">Amass Insights Team.</em>
</p>
</body>
</html>