<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.updation.admin.title}">JHipster creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p th:text="#{email.admin.greeting}">
    Dear
</p>
<p th:text="#{email.inviteUserAccount.admin.text1}">
</p>
<span th:text="#{email.inviteUserAccount.userType}"/>
<span th:text="${user.role}"/>
<br/>
<span  th:text="#{email.inviteUserAccount.username}" />&nbsp;<span th:text="${user.firstName}"/>&nbsp;<span th:text="${user.lastName}" />
<br/>
<span th:text="#{email.inviteUserAccount.email1}"/>
<span th:text="${user.email}" />
<br/>
<span th:if="${user.company} != null" th:text="#{email.creation.company}" />
<span th:if="${user.company} != null" th:text="${user.company}" />
<p>
    <span th:text="#{email.signature1}">Regards,</span>
    <br/>
    <em th:text="#{email.signature2}">Amass Insights Team.</em>
</p>
</body>
</html>
