<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.activation.title}">JHipster activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p th:text="#{email.greeting(${user.firstName})}">
    Dear
</p>
<p th:text="#{email.activation.text1}">
    Congratulations! Your Insights account has been approved and activated.
</p>
<p th:text="#{email.activation.text4}">
    Insights is the largest repository of information about data providers. Our system rapidly sources and categorizes any data asset offered by an organization.  As a user, you have the ability to quickly sort, filter, and curate a list of data providers pertaining to your research strategy, along with tracking notes and updates related to those providers of interest.
</p>

<p>
    <span  th:text="#{email.activation.text5}">You have immediately been given full access to</span>
    <a th:href="@{|${baseUrl}/#/providers?filter1=marketplaceStatus&amp;value1=Unlocked&amp;type1=radio|}">over a thousand Data Providers' Profiles </a>
    <span th:text="#{email.activation.text6}">to get you started. Feel free to request access to more profiles as you see fit.</span>
</p>

<p>
    <span  th:text="#{email.confirmation.text2}">Please</span>
    <a th:href="@{|${baseUrl}/#/?login=true|}">click here</a>
    <span th:text="#{email.activation.text2}">to login or copy and paste the following link into your web browser:</span>
    <br/>
    <span th:text="@{|${baseUrl}/#/?login=true|}" th:remove="tag"></span>
</p>
<p th:text="#{email.activation.text3}"></p>
<p>
    <span th:text="#{email.signature1}">Regards, </span>
    <br/>
    <em th:text="#{email.signature2}">Amass Insights Team.</em>
</p>
</body>
</html>
