<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.updation.admin.title}">JHipster creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p th:text="#{email.admin.greeting}">
    Dear
</p>
<p th:text="#{email.newsLetterSignUpAccount.admin.text1}">
</p>
<span th:text="#{email.newsLetterSignUpAccount.Email}"/>
<span th:text="${user.email}"/>
<br/>
<p>
    <span th:text="#{email.signature1}">Regards,</span>
    <br/>
    <em th:text="#{email.signature2}">Amass Insights Team.</em>
</p>
</body>
</html>
