<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.updation.admin.title}">JHipster creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<span  th:text="#{email.user.mymatches.greeting}" />&nbsp;<span th:text="${user.firstName}"/>,
<br/>
<p th:text="#{email.user.nomymatches}">
</p>
<p th:text="#{email.user.nomymatches1}">
</p>
<p>
    <span th:text="#{email.mymatches}">Cheers,</span>
    <br/>
    <em th:text="#{email.signature2}">Amass Insights Team.</em>
</p>
</body>
</html>