<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">JHipster activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
    </head>
    <body>
    <p th:text="#{email.greeting(${user.firstName})}">
        Dear
    </p>
    <span th:text="#{email.operatorPermissionApproved.text1}" />
                <a th:href="@{|${baseUrl}/#/providers/${dataProvider.recordID}|}"> Data Profile</a>, 
                    <span th:text="#{email.operatorPermissionApproved.text2}" />
                                <a th:href="@{|${baseUrl}/#/providers/${dataProvider.recordID}/edit|}"> editing it here</a>, 
                
<p th:text="#{email.operatorPermissionApproved.text3}">
</p>
    
<p>
    <span th:text="#{email.operatorPermissionApproved.signature1}">Thanks, </span>
    <br/>
    <em th:text="#{email.signature2}">Amass Insights Team.</em>
</p>
</body>
</html>
