<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">JHipster password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
    </head>
    <body>
        <p th:text="#{email.greeting(${user.firstName == null ? 'user' : user.firstName})}">
            Dear
        </p>
        <p>
        <span th:text="#{email.reset.text1}">
            For your JHipster account a password reset was requested, please click on the URL below to reset it:
        </span> <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"> click here </a>
            <span th:text="#{email.reset.text2}"></span>
        </p>
        <p>
            <span th:text="${baseUrl} + '/#/reset/finish?key=' + ${user.resetKey}" th:remove="tag"></span>
        </p>
        <p th:text="#{email.reset.text3}">If this was not initiated by you, ignore this email or reply to this email and let us know.</p>
        <p>
            <span th:text="#{email.signature1}">Regards, </span>
            <br/>
            <em th:text="#{email.signature2}">Amass Insights Team.</em>
        </p>
    </body>
</html>
