<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.providerVerifiedEmail.text}">Data Profile Edits Verified</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p th:text="#{email.greeting(${user.firstName})}">
    Dear
</p>

<span th:text="#{email.providerVerifiedEmail.text1}" />
<a th:href="@{|${baseUrl}/#/providers/${dataProvider.recordID}|}" th:text="${dataProvider.getProviderName()}">{Provider Name}'s Data Profile</a><span th:text="#{email.providerVerifiedEmail.text2}" /> Thanks for sharing this information with us! It will greatly help us connect you to potential data buyers.
<br/>
<span th:text="#{email.providerVerifiedEmail.text3}">Please review your profile and make further edits if you deem it necessary.</span>
<br/>

    <span th:text="#{email.signature1}">Regards, </span>
    <br/>
    <em th:text="#{email.signature2}">Amass Insights Team.</em>
</p>
</body>
</html>
