<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.providerEdit.text1}">Data Profile Edits</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p th:text="#{email.greeting(${user.firstName})}">
    Dear
</p>

<span th:text="#{email.provider.edit.text1}" />
<a th:href="@{|${baseUrl}/#/providers/${dataProviderEdit.recordID}|}" th:text="${dataProviderEdit.getProviderName()}">We have received the edits to your Insights Data Profile for {Provider Name}</a>.
<br/>
<div th:if="${dataProviderEdit.visibility} != null">
    <b th:if="${dataProviderEdit.visibility} != null" th:text="#{email.providerEdit.visibility}" />
    <span th:if="${dataProviderEdit.visibility} != null" th:text="${dataProviderEdit.visibility}" />
    <br/>
</div>
<div th:if="${dataProviderEdit.consent} != null">
    <b th:if="${dataProviderEdit.consent} != null" th:text="#{email.providerEdit.consent}" />
    <span th:if="${dataProviderEdit.consent} != null" th:text="${dataProviderEdit.consent}" />
    <br/>
</div>
<div th:if="${partnership} != null">
    <b th:if="${partnership} != null" th:text="#{email.providerEdit.partnership}" />
    <span th:if="${partnership} != null" th:text="${partnership}" />
    <br/>
</div>
<div th:if="${dataEdit.providerName} != null">
    <b th:if="${dataEdit.providerName} != null" th:text="#{email.providerEdit.providerName}" />
    <span th:if="${dataEdit.providerName} != null" th:text="${dataEdit.providerName}" />
    <br/>
</div>
<div th:if="${dataEdit.website} != null">
    <b th:if="${dataEdit.website} != null" th:text="#{email.providerEdit.website}" />
    <span th:if="${dataEdit.website} != null" th:text="${dataEdit.website}" />
    <br/>
</div>
<div th:if="${dataEdit.shortDescription} != null">
    <b th:if="${dataEdit.shortDescription} != null" th:text="#{email.providerEdit.shortDescription}" />
    <span th:if="${dataEdit.shortDescription} != null" th:text="${dataEdit.shortDescription}" />
    <br/>
</div>
<div th:if="${dataEdit.longDescription} != null">
    <b th:if="${dataEdit.longDescription} != null" th:text="#{email.providerEdit.longDescription}" />
    <span th:if="${dataEdit.longDescription} != null" th:text="${dataEdit.longDescription}" />
    <br/>
</div>
<div th:if="${dataEdit.notes} != null">
    <b th:if="${dataEdit.notes} != null" th:text="#{email.providerEdit.notes}" />
    <span th:if="${dataEdit.notes} != null" th:text="${dataEdit.notes}" />
    <br/>
</div>
<div th:if="${dataEdit.dataUpdateFrequency} != null">
    <b th:if="${dataEdit.dataUpdateFrequency} != null" th:text="#{email.providerEdit.dataUpdateFrequency}" />
    <span th:if="${dataEdit.dataUpdateFrequency} != null" th:text="${dataEdit.dataUpdateFrequency}" />
    <br/>
</div>
<div th:if="${dataEdit.dataUpdateFrequencyNotes} != null">
    <b th:if="${dataEdit.dataUpdateFrequencyNotes} != null" th:text="#{email.providerEdit.dataUpdateFrequencyNotes}" />
    <span th:if="${dataEdit.dataUpdateFrequencyNotes} != null" th:text="${dataEdit.dataUpdateFrequencyNotes}" />
    <br/>
</div>

<div th:if="${dataEdit.dateCollectionRangeExplanation} != null">
    <b th:if="${dataEdit.dateCollectionRangeExplanation} != null" th:text="#{email.providerEdit.dateCollectionRangeExplanation}" />
    <span th:if="${dataEdit.dateCollectionRangeExplanation} != null" th:text="${dataEdit.dateCollectionRangeExplanation}" />
    <br/>
</div>
<div th:if="${dataEdit.collectionMethodsExplanation} != null">
    <b th:if="${dataEdit.collectionMethodsExplanation} != null" th:text="#{email.providerEdit.collectionMethodsExplanation}" />
    <span th:if="${dataEdit.collectionMethodsExplanation} != null" th:text="${dataEdit.collectionMethodsExplanation}" />
    <br/>
</div>
<div th:if="${dataEdit.potentialDrawbacks} != null">
    <b th:if="${dataEdit.potentialDrawbacks} != null" th:text="#{email.providerEdit.potentialDrawbacks}" />
    <span th:if="${dataEdit.potentialDrawbacks} != null" th:text="${dataEdit.potentialDrawbacks}" />
    <br/>
</div>
<div th:if="${dataEdit.keyDataFields} != null">
    <b th:if="${dataEdit.keyDataFields} != null" th:text="#{email.providerEdit.keyDataFields}" />
    <span th:if="${dataEdit.keyDataFields} != null" th:text="${dataEdit.keyDataFields}" />
    <br/>
</div>
<div th:if="${dataEdit.summary} != null">

    <b th:if="${dataEdit.summary} != null" th:text="#{email.providerEdit.summary}" />
    <span th:if="${dataEdit.summary} != null" th:text="${dataEdit.summary}" />
    <br/>
</div>
<div th:if="${dataEdit.investor_clients} != null">

    <b th:if="${dataEdit.investor_clients} != null" th:text="#{email.providerEdit.investor_clients}" />
    <span th:if="${dataEdit.investor_clients} != null" th:text="${dataEdit.investor_clients}" />
    <br/>
</div>
<div th:if="${dataEdit.publicCompaniesCovered} != null">

    <b th:if="${dataEdit.publicCompaniesCovered} != null" th:text="#{email.providerEdit.publicCompaniesCovered}" />
    <span th:if="${dataEdit.publicCompaniesCovered} != null" th:text="${dataEdit.publicCompaniesCovered}" />
    <br/>
</div>
<div th:if="${dataEdit.productDetails} != null">
    <b th:if="${dataEdit.productDetails} != null" th:text="#{email.providerEdit.productDetails}" />
    <span th:if="${dataEdit.productDetails} != null" th:text="${dataEdit.productDetails}" />
    <br/>
</div>

<div th:if="${dataProvider.scoreInvestorsWillingness} != null">
    <b th:if="${dataProvider.scoreInvestorsWillingness.lookupcode} != null" th:text="#{email.providerEdit.scoreInvestorsWillingness}" />
    <span th:if="${dataProvider.scoreInvestorsWillingness.lookupcode} != null" th:text="${dataProvider.scoreInvestorsWillingness.lookupcode}" />
    <br/>
</div>

<div th:if="${dataEdit.sampleOrPanelSize} != null">
   <b th:if="${dataEdit.sampleOrPanelSize} != null" th:text="#{email.providerEdit.sampleOrPanelSize}" />
    <span th:if="${dataEdit.sampleOrPanelSize} != null" th:text="${dataEdit.sampleOrPanelSize}" />
    <br/>
</div>
<div th:if="${dataEdit.useCasesOrQuestionsAddressed} != null">
    <b th:if="${dataEdit.useCasesOrQuestionsAddressed} != null" th:text="#{email.providerEdit.useCasesOrQuestionsAddressed}" />
    <span th:if="${dataEdit.useCasesOrQuestionsAddressed} != null" th:text="${dataEdit.useCasesOrQuestionsAddressed}" />
    <br/>
</div>
<div th:if="${dataEdit.dataLicenseTypeDetails} != null">
    <b th:if="${dataEdit.dataLicenseTypeDetails} != null" th:text="#{email.providerEdit.dataLicenseTypeDetails}" />
    <span th:if="${dataEdit.dataLicenseTypeDetails} != null" th:text="${dataEdit.dataLicenseTypeDetails}" />
    <br/>
</div>
<div th:if="${dataEdit.emails} != null">

    <b th:if="${dataEdit.emails} != null" th:text="#{email.providerEdit.emails}" />
    <span th:if="${dataEdit.emails} != null" th:text="${dataEdit.emails}" />
    <br/>
</div>
<div th:if="${dataEdit.dataRoadmap} != null">
   <b th:if="${dataEdit.dataRoadmap} != null" th:text="#{email.providerEdit.dataRoadmap}" />
    <span th:if="${dataEdit.dataRoadmap} != null" th:text="${dataEdit.dataRoadmap}" />
    <br/>
</div>
<div th:if="${dataEdit.deliveryFrequencyNotes} != null">
    <b th:if="${dataEdit.deliveryFrequencyNotes} != null" th:text="#{email.providerEdit.deliveryFrequencyNotes}" />
    <span th:if="${dataEdit.deliveryFrequencyNotes} != null" th:text="${dataEdit.deliveryFrequencyNotes}" />
    <br/>
</div>

<div th:if="${dataEdit.outOfSampleData} != null">
    <b th:if="${dataEdit.outOfSampleData} != null" th:text="#{email.providerEdit.outOfSampleData}" />
    <span th:if="${dataEdit.outOfSampleData} != null" th:text="${dataEdit.outOfSampleData}" />
    <br/>
</div>
<div th:if="${dataEdit.trialDuration} != null">
    <b th:if="${dataEdit.trialDuration} != null" th:text="#{email.providerEdit.trialDuration}" />
    <span th:if="${dataEdit.trialDuration} != null" th:text="${dataEdit.trialDuration}" />
    <br/>
</div>
<div th:if="${dataEdit.city} != null">
   <b th:if="${dataEdit.city} != null" th:text="#{email.providerEdit.city}" />
    <span th:if="${dataEdit.city} != null" th:text="${dataEdit.city}" />
    <br/>
</div>
<div th:if="${dataEdit.state} != null">
    <b th:if="${dataEdit.state} != null" th:text="#{email.providerEdit.state}" />
    <span th:if="${dataEdit.state} != null" th:text="${dataEdit.state}" />
    <br/>
</div>
<div th:if="${dataEdit.country} != null">
   <b th:if="${dataEdit.country} != null" th:text="#{email.providerEdit.country}" />
    <span th:if="${dataEdit.country} != null" th:text="${dataEdit.country}" />
    <br/>
</div>
<div th:if="${dataEdit.zipCode} != null">
    <b th:if="${dataEdit.zipCode} != null" th:text="#{email.providerEdit.zipCode}" />
    <span th:if="${dataEdit.zipCode} != null" th:text="${dataEdit.zipCode}" />
    <br/>
</div>
<div th:if="${dataEdit.yearFounded} != null">
   <b th:if="${dataEdit.yearFounded} != null" th:text="#{email.providerEdit.yearFounded}" />
    <span th:if="${dataEdit.yearFounded} != null" th:text="${dataEdit.yearFounded}" />
    <br/>
</div>
<div th:if="${dataEdit.mainAssetClass} != null">
   <b th:if="${dataEdit.mainAssetClass} != null" th:text="#{email.providerEdit.mainAssetClass}" />
    <span th:if="${dataEdit.mainAssetClass} != null" th:text="${dataEdit.mainAssetClass}" />
    <br/>
</div>
<div th:if="${dataProvider.secRegulated} != null">
    <b th:if="${dataProvider.secRegulated.lookupcode} != null" th:text="#{email.providerEdit.secRegulated}" />
    <span th:if="${dataProvider.secRegulated.lookupcode} != null" th:text="${dataProvider.secRegulated.lookupcode}" />
    <br/>
</div>
<div th:if="${dataProvider.duplicatesCleaned} != null">
    <b th:if="${dataProvider.duplicatesCleaned.lookupcode} != null" th:text="#{email.providerEdit.duplicatesCleaned}" />
    <span th:if="${dataProvider.duplicatesCleaned.lookupcode} != null" th:text="${dataProvider.duplicatesCleaned.lookupcode}" />
    <br/>
</div>
<div th:if="${dataProvider.dataLicenseType} != null">
    <b th:if="${dataProvider.dataLicenseType.lookupcode} != null" th:text="#{email.providerEdit.dataLicenseType}" />
    <span th:if="${dataProvider.dataLicenseType.lookupcode} != null" th:text="${dataProvider.dataLicenseType.lookupcode}" />
    <br/>
</div>

<div th:if="${dataProvider.profileVerificationStatus} != null">
    <b th:if="${dataProvider.profileVerificationStatus.lookupcode} != null" th:text="#{email.providerEdit.profileVerificationStatus}" />
    <span th:if="${dataProvider.profileVerificationStatus.lookupcode} != null" th:text="${dataProvider.profileVerificationStatus.lookupcode}" />
    <br/>
</div>


<div th:if="${dataEdit.investorClientsCount} != null">
    <b th:if="${dataEdit.investorClientsCount} != null" th:text="#{email.providerEdit.investorClientsCount}" />
    <span th:if="${dataEdit.investorClientsCount} != null" th:text="${dataEdit.investorClientsCount}" />
    <br/>
</div>
<div th:if="${dataProvider.trialAgreementType} != null">
    <b th:if="${dataProvider.trialAgreementType.lookupcode} != null" th:text="#{email.providerEdit.trialAgreementType}" />
    <span th:if="${dataProvider.trialAgreementType.lookupcode} != null" th:text="${dataProvider.trialAgreementType.lookupcode}" />
    <br/>
</div>
<div th:if="${dataProvider.trialPricingModel} != null">
    <b th:if="${dataProvider.trialPricingModel.lookupcode} != null" th:text="#{email.providerEdit.trialPricingModel}" />
    <span th:if="${dataProvider.trialPricingModel.lookupcode} != null" th:text="${dataProvider.trialPricingModel.lookupcode}" />
    <br/>
</div>
<div th:if="${dataEdit.trialPricingDetails} != null">
    <b th:if="${dataEdit.trialPricingDetails} != null" th:text="#{email.providerEdit.trialPricingDetails}" />
    <span th:if="${dataEdit.trialPricingDetails} != null" th:text="${dataEdit.trialPricingDetails}" />
    <br/>
</div>
<div th:if="${dataEdit.pricingDetails} != null">
    <b th:if="${dataEdit.pricingDetails} != null" th:text="#{email.providerEdit.pricingDetails}" />
    <span th:if="${dataEdit.pricingDetails} != null" th:text="${dataEdit.pricingDetails}" />
    <br/>
</div>
<div th:if="${dataEdit.lagTime} != null">
    <b th:if="${dataEdit.lagTime} != null" th:text="#{email.providerEdit.lagTime}" />
    <span th:if="${dataEdit.lagTime} != null" th:text="${dataEdit.lagTime}" />
    <br/>
</div>
<div th:if="${dataEdit.competitiveDifferentiators} != null">
    <b th:if="${dataEdit.competitiveDifferentiators} != null" th:text="#{email.providerEdit.competitiveDifferentiators}" />
    <span th:if="${dataEdit.competitiveDifferentiators} != null" th:text="${dataEdit.competitiveDifferentiators}" />
    <br/>
</div>
<div th:if="${dataEdit.discussionAnalytics} != null">
   <b th:if="${dataEdit.discussionAnalytics} != null" th:text="#{email.providerEdit.discussionAnalytics}" />
    <span th:if="${dataEdit.discussionAnalytics} != null" th:text="${dataEdit.discussionAnalytics}" />
    <br/>
</div>
<div th:if="${dataEdit.discussionCleanliness} != null">
    <b th:if="${dataEdit.discussionCleanliness} != null" th:text="#{email.providerEdit.discussionCleanliness}" />
    <span th:if="${dataEdit.discussionCleanliness} != null" th:text="${dataEdit.discussionCleanliness}" />
    <br/>
</div>
<div th:if="${dataEdit.sampleOrPanelBiases} != null">
    <b th:if="${dataEdit.sampleOrPanelBiases} != null" th:text="#{email.providerEdit.sampleOrPanelBiases}" />
    <span th:if="${dataEdit.sampleOrPanelBiases} != null" th:text="${dataEdit.sampleOrPanelBiases}" />
    <br/>
</div>
<div th:if="${dataEdit.datasetSize} != null">
    <b th:if="${dataEdit.datasetSize} != null" th:text="#{email.providerEdit.datasetSize}" />
    <span th:if="${dataEdit.datasetSize} != null" th:text="${dataEdit.datasetSize}" />
    <br/>
</div>
<div th:if="${dataEdit.datasetNumberOfRows} != null">
    <b th:if="${dataEdit.datasetNumberOfRows} != null" th:text="#{email.providerEdit.datasetNumberOfRows}" />
    <span th:if="${dataEdit.datasetNumberOfRows} != null" th:text="${dataEdit.datasetNumberOfRows}" />
    <br/>
</div>
<div th:if="${dataEdit.numberOfAnalystEmployees} != null">
    <b th:if="${dataEdit.numberOfAnalystEmployees} != null" th:text="#{email.providerEdit.numberOfAnalystEmployees}" />
    <span th:if="${dataEdit.numberOfAnalystEmployees} != null" th:text="${dataEdit.numberOfAnalystEmployees}" />
    <br/>
</div>
<div th:if="${dataProvider.pointInTimeAccuracy} != null">
    <b th:if="${dataProvider.pointInTimeAccuracy.lookupcode} != null" th:text="#{email.providerEdit.pointInTimeAccuracy}" />
    <span th:if="${dataProvider.pointInTimeAccuracy.lookupcode} != null" th:text="${dataProvider.pointInTimeAccuracy.lookupcode}" />
    <br/>
</div>
<div th:if="${dataEdit.dataSourcesDetails} != null">
    <b th:if="${dataEdit.dataSourcesDetails} != null" th:text="#{email.providerEdit.dataSourcesDetails}" />
    <span th:if="${dataEdit.dataSourcesDetails} != null" th:text="${dataEdit.dataSourcesDetails}" />
    <br/>
</div>
<div th:if="${dataProvider.dataGaps} != null">
    <b th:if="${dataProvider.dataGaps.lookupcode} != null" th:text="#{email.providerEdit.dataGaps}" />
    <span th:if="${dataProvider.dataGaps.lookupcode} != null" th:text="${dataProvider.dataGaps.lookupcode}" />
    <br/>
</div>
<div th:if="${dataProvider.includesOutliers} != null">
    <b th:if="${dataProvider.includesOutliers.lookupcode} != null" th:text="#{email.providerEdit.includesOutliers}" />
    <span th:if="${dataProvider.includesOutliers.lookupcode} != null" th:text="${dataProvider.includesOutliers.lookupcode}" />
    <br/>
</div>
<div th:if="${dataProvider.normalized} != null">
    <b th:if="${dataProvider.normalized.lookupcode} != null" th:text="#{email.providerEdit.normalized}" />
    <span th:if="${dataProvider.normalized.lookupcode} != null" th:text="${dataProvider.normalized.lookupcode}" />
    <br/>
</div>
<div th:if="${dataEdit.duplicatesCleaned} != null">
    <b th:if="${dataEdit.duplicatesCleaned} != null" th:text="#{email.providerEdit.duplicatesCleaned}" />
    <span th:if="${dataEdit.duplicatesCleaned} != null" th:text="${dataEdit.duplicatesCleaned}" />
    <br/>
</div>
<div th:if="${dataEdit.publicEquitiesCoveredRange} != null">
    <b th:if="${dataEdit.publicEquitiesCoveredRange} != null" th:text="#{email.providerEdit.publicEquitiesCoveredRange}" />
    <span th:if="${dataEdit.publicEquitiesCoveredRange} != null" th:text="${dataEdit.publicEquitiesCoveredRange}" />
    <br/>
</div>
<div th:if="${dataEdit.publicEquitiesCoveredCount} != null">
    <b th:if="${dataEdit.publicEquitiesCoveredCount} != null" th:text="#{email.providerEdit.publicEquitesCovered}" />
    <span th:if="${dataEdit.publicEquitiesCoveredCount} != null" th:text="${dataEdit.publicEquitiesCoveredCount}" />
    <br/>
</div>
<div th:if="${dataEdit.investorClientBucket} != null">
    <b th:if="${dataEdit.investorClientBucket} != null" th:text="#{email.providerEdit.investorClientBucket}" />
    <span th:if="${dataEdit.investorClientBucket} != null" th:text="${dataEdit.investorClientBucket}" />
    <br/>
</div>
<div th:if="${dataProvider.subscriptionTimePeriod} != null">
    <b th:if="${dataProvider.subscriptionTimePeriod.lookupcode} != null" th:text="#{email.providerEdit.subscriptionTimePeriod}" />
    <span th:if="${dataProvider.subscriptionTimePeriod.lookupcode} != null" th:text="${dataProvider.subscriptionTimePeriod.lookupcode}" />
    <br/>
</div>
<div th:if="${dataEdit.yearFirstDataProductLaunched} != null">
    <b th:if="${dataEdit.yearFirstDataProductLaunched} != null" th:text="#{email.providerEdit.yearFirstDataProductLaunched}" />
    <span th:if="${dataEdit.yearFirstDataProductLaunched} != null" th:text="${dataEdit.yearFirstDataProductLaunched}" />
    <br/>
</div>
<div th:if="${dataProvider.monthlyPriceRange} != null">
    <b th:if="${dataProvider.monthlyPriceRange.lookupcode} != null" th:text="#{email.providerEdit.monthlyPriceRange}" />
    <span th:if="${dataProvider.monthlyPriceRange.lookupcode} != null" th:text="${dataProvider.monthlyPriceRange.lookupcode}" />
    <br/>
</div>
<div th:if="${dataProvider.subscriptionModel} != null">
    <b th:if="${dataProvider.subscriptionModel.lookupcode} != null" th:text="#{email.providerEdit.subscriptionModel}" />
    <span th:if="${dataProvider.subscriptionModel.lookupcode} != null" th:text="${dataProvider.subscriptionModel.lookupcode}" />
    <br/>
</div>
<div th:if="${dataEdit.minimumYearlyPrice} != null">
    <b th:if="${dataEdit.minimumYearlyPrice} != null" th:text="#{email.providerEdit.minimumYearlyPrice}" />
    <span th:if="${dataEdit.minimumYearlyPrice} != null" th:text="${dataEdit.minimumYearlyPrice}" />
    <br/>
</div>
<div th:if="${dataEdit.maximumYearlyPrice} != null">
    <b th:if="${dataEdit.maximumYearlyPrice} != null" th:text="#{email.providerEdit.maximumYearlyPrice}" />
    <span th:if="${dataEdit.maximumYearlyPrice} != null" th:text="${dataEdit.maximumYearlyPrice}" />
    <br/>
</div>
<div th:if="${dataProvider.numberOfDataSources} != null">
    <b th:if="${dataProvider.numberOfDataSources.lookupcode} != null" th:text="#{email.providerEdit.numberOfDataSources}" />
    <span th:if="${dataProvider.numberOfDataSources.lookupcode} != null" th:text="${dataProvider.numberOfDataSources.lookupcode}" />
    <br/>
</div>
<div th:if="${dataEdit.yearExit} != null">
    <b th:if="${dataEdit.yearExit} != null" th:text="#{email.providerEdit.yearExit}" />
    <span th:if="${dataEdit.yearExit} != null" th:text="${dataEdit.yearExit}" />
    <br/>
</div>
<div th:if="${dataEdit.financialPosition} != null">
    <b th:if="${dataEdit.financialPosition} != null" th:text="#{email.providerEdit.financialPosition}" />
    <span th:if="${dataEdit.financialPosition} != null" th:text="${dataEdit.financialPosition}" />
    <br/>
</div>
<div th:if="${dataEdit.clientBase} != null">
    <b th:if="${dataEdit.clientBase} != null" th:text="#{email.providerEdit.clientBase}" />
    <span th:if="${dataEdit.clientBase} != null" th:text="${dataEdit.clientBase}" />
    <br/>
</div>
<div th:if="${dataEdit.headcountNumber} != null">
    <b th:if="${dataEdit.headcountNumber} != null" th:text="#{email.providerEdit.headcountNumber}" />
    <span th:if="${dataEdit.headcountNumber} != null" th:text="${dataEdit.headcountNumber}" />
    <br/>
</div>
<div th:if="${dataEdit.headCount} != null">
    <b th:if="${dataEdit.headCount} != null" th:text="#{email.providerEdit.headCount}" />
    <span th:if="${dataEdit.headCount} != null" th:text="${dataEdit.headCount}" />
    <br/>
</div>
<div th:if="${headcountbucket} != null">
    <b th:if="${headcountbucket} != null" th:text="#{email.providerEdit.headcountBucket}" />
    <span th:if="${headcountbucket} != null" th:text="${headcountbucket}" />
    <br/>
</div>
<div th:if="${industries != null and !industries.isEmpty()}">
    <b th:if="${industries} != null" th:text="#{email.providerEdit.industries}" />
   <div th:each="industry : ${industries}">
    <span th:if="${industry.desc} != null" th:text="${industry.desc}" />
    <br/>
    </div>
</div>
<div th:if="${sources != null and !sources.isEmpty()}">
    <b th:if="${sources} != null" th:text="#{email.providerEdit.sources}" />
   <div th:each="source : ${sources}">
    <span th:if="${source.desc} != null" th:text="${source.desc}" />
    <br/>
    </div>
</div>
<div th:if="${geo != null and !geo.isEmpty()}">
    <b th:if="${geo} != null" th:text="#{email.providerEdit.geo}" />
   <div th:each="geos : ${geo}">
    <span th:if="${geos.desc} != null" th:text="${geos.desc}" />
    <br/>
    </div>
</div>
<div th:if="${organizationtype != null and !organizationtype .isEmpty()} ">
    <b th:if="${organizationtype} != null" th:text="#{email.providerEdit.organizationtype}" />
   <div th:each="organizationtypes : ${organizationtype}">
    <span th:if="${organizationtypes.desc} != null" th:text="${organizationtypes.desc}" />
    <br/>
    </div>
</div>
<div th:if="${managertype != null and !managertype .isEmpty()}">
    <b th:if="${managertype} != null" th:text="#{email.providerEdit.managertype}" />
   <div th:each="managertypes : ${managertype}">
    <span th:if="${managertypes.desc} != null" th:text="${managertypes.desc}" />
    <br/>
    </div>
</div>
<div th:if="${investortype != null and !investortype .isEmpty()}">
    <b th:if="${investortype} != null" th:text="#{email.providerEdit.investortype}" />
   <div th:each="investortypes : ${investortype}">
    <span th:if="${investortypes.desc} != null" th:text="${investortypes.desc}" />
    <br/>
    </div>
</div>
<div th:if="${strategies != null and !strategies.isEmpty()}">
   <b th:if="${strategies} != null" th:text="#{email.providerEdit.strategies}" />
   <div th:each="strategie : ${strategies}">
    <span th:if="${strategie.desc} != null" th:text="${strategie.desc}" />
    <br/>
    </div>
</div>
<div th:if="${research != null and !research.isEmpty()}">
    <b th:if="${research} != null" th:text="#{email.providerEdit.research}" />
   <div th:each="researchs : ${research}">
    <span th:if="${researchs.desc} != null" th:text="${researchs.desc}" />
    <br/>
    </div>
</div>
<div th:if="${investing != null and !investing.isEmpty()}">
    <b th:if="${investing} != null" th:text="#{email.providerEdit.investing}" />
   <div th:each="investings : ${investing}">
    <span th:if="${investings.desc} != null" th:text="${investings.desc}" />
    <br/>
    </div>
</div>
<div th:if="${focus != null and !focus.isEmpty()}">
    <b th:if="${focus} != null" th:text="#{email.providerEdit.focus}" />
   <div th:each="focuss : ${focus}">
    <span th:if="${focuss.desc} != null" th:text="${focuss.desc}" />
    <br/>
    </div>
</div>
<div th:if="${style != null and !style.isEmpty()} ">
    <b th:if="${style} != null" th:text="#{email.providerEdit.style}" />
   <div th:each="styles : ${style}">
    <span th:if="${styles.desc} != null" th:text="${styles.desc}" />
    <br/>
    </div>
</div>
<div th:if="${assetclass != null and !assetclass.isEmpty()}">
    <b th:if="${assetclass} != null" th:text="#{email.providerEdit.assetclass}" />
   <div th:each="assetclasses : ${assetclass}">
    <span th:if="${assetclasses.desc} != null" th:text="${assetclasses.desc}" />
    <br/>
    </div>
</div>
<div th:if="${security != null and !security.isEmpty()}">
    <b th:if="${security} != null" th:text="#{email.providerEdit.security}" />
   <div th:each="securities : ${security}">
    <span th:if="${securities.desc} != null" th:text="${securities.desc}" />
    <br/>
    </div>
</div>
<div th:if="${sector != null and !sector.isEmpty()}">
    <b th:if="${sector} != null" th:text="#{email.providerEdit.sector}" />
   <div th:each="sectors : ${sector}">
    <span th:if="${sectors.desc} != null" th:text="${sectors.desc}" />
    <br/>
    </div>
</div>
<div th:if="${identifiers != null and !identifiers.isEmpty()}">
    <b th:if="${identifiers} != null" th:text="#{email.providerEdit.identifiers}" />
   <div th:each="identifier : ${identifiers}">
    <span th:if="${identifier.desc} != null" th:text="${identifier.desc}" />
    <br/>
    </div>
</div>
<div th:if="${access != null and !access.isEmpty()}">
    <b th:if="${access} != null" th:text="#{email.providerEdit.access}" />
   <div th:each="accesses : ${access}">
    <span th:if="${accesses.desc} != null" th:text="${accesses.desc}" />
    <br/>
    </div>
</div>
<div th:if="${product != null and !product.isEmpty()}">
    <b th:if="${product} != null" th:text="#{email.providerEdit.product}" />
   <div th:each="products : ${product}">
    <span th:if="${products.desc} != null" th:text="${products.desc}" />
    <br/>
    </div>
</div>
<div th:if="${types != null and !types.isEmpty()} ">
    <b th:if="${types} != null" th:text="#{email.providerEdit.types}" />
   <div th:each="type : ${types}">
    <span th:if="${type.desc} != null" th:text="${type.desc}" />
    <br/>
    </div>
</div>
<div th:if="${language != null and !language.isEmpty()}">
   <b th:if="${language} != null" th:text="#{email.providerEdit.language}" />
   <div th:each="languages : ${language}">
    <span th:if="${languages.desc} != null" th:text="${languages.desc}" />
    <br/>
    </div>
</div>
<div th:if="${delivery != null and !delivery.isEmpty()}">
    <b th:if="${delivery} != null" th:text="#{email.providerEdit.delivery}" />
   <div th:each="deliverys : ${delivery}">
    <span th:if="${deliverys.desc} != null" th:text="${deliverys.desc}" />
    <br/>
    </div>
</div>
<div th:if="${deliveryformat != null and !deliveryformat.isEmpty()}">
   <b th:if="${deliveryformat} != null" th:text="#{email.providerEdit.deliveryformat}" />
   <div th:each="deliveryformats : ${deliveryformat}">
    <span th:if="${deliveryformats.desc} != null" th:text="${deliveryformats.desc}" />
    <br/>
    </div>
</div>
<div th:if="${frequencies != null and !frequencies.isEmpty()}">
    <b th:if="${frequencies} != null" th:text="#{email.providerEdit.frequencies}" />
   <div th:each="frequency : ${frequencies}">
    <span th:if="${frequency.desc} != null" th:text="${frequency.desc}" />
    <br/>
    </div>
</div>
<div th:if="${payment != null and !payment.isEmpty()}">
    <b th:if="${payment} != null" th:text="#{email.providerEdit.payment}" />
   <div th:each="payments : ${payment}">
    <span th:if="${payments.desc} != null" th:text="${payments.desc}" />
    <br/>
    </div>
</div>
<div th:if="${gap != null and !gap.isEmpty()}">
   <b th:if="${gap} != null" th:text="#{email.providerEdit.gap}" />
   <div th:each="gaps : ${gap}">
    <span th:if="${gaps.desc} != null" th:text="${gaps.desc}" />
    <br/>
    </div>
</div>
<div th:if="${outlier != null and !outlier.isEmpty()}">
   <b th:if="${outlier} != null" th:text="#{email.providerEdit.outlier}" />
   <div th:each="outliers : ${outlier}">
    <span th:if="${outliers.desc} != null" th:text="${outliers.desc}" />
    <br/>
    </div>
</div>
<div th:if="${biase != null and !outlier.isEmpty()} ">
    <b th:if="${biase} != null" th:text="#{email.providerEdit.biase}" />
   <div th:each="biases : ${biase}">
    <span th:if="${biases.desc} != null" th:text="${biases.desc}" />
    <br/>
    </div>
</div>
<div th:if="${providerpartner} != null">
    <b th:if="${providerpartner} != null" th:text="#{email.providerEdit.providerpartner}" />
    <span th:if="${providerpartner} != null" th:text="${providerpartner}" />
    <br/>
</div>
<div th:if="${distributionpartner} != null">
    <b th:if="${distributionpartner} != null" th:text="#{email.providerEdit.distributionpartner}" />
    <span th:if="${distributionpartner} != null" th:text="${distributionpartner}" />
    <br/>
</div>
<div th:if="${consumerpartner} != null">
    <b th:if="${consumerpartner} != null" th:text="#{email.providerEdit.consumerpartner}" />
    <span th:if="${consumerpartner} != null" th:text="${consumerpartner}" />
    <br/>
</div>
<div th:if="${complimentarypartner} != null">
    <b th:if="${complimentarypartner} != null" th:text="#{email.providerEdit.complimentarypartner}" />
    <span th:if="${complimentarypartner} != null" th:text="${complimentarypartner}" />
    <br/>
</div>
<div th:if="${competitors} != null">
    <b th:if="${competitors} != null" th:text="#{email.providerEdit.competitors}" />
    <span th:if="${competitors} != null" th:text="${competitors}" />
    <br/>
</div>

<div th:if="${pricingmodel != null and !pricingmodel.isEmpty()}">
    <b th:if="${pricingmodel} != null" th:text="#{email.providerEdit.pricingmodel}" />
   <div th:each="pricingmodels : ${pricingmodel}">
    <span th:if="${pricingmodels.desc} != null" th:text="${pricingmodels.desc}" />
    <br/>
    </div>
</div>
<div th:if="${providertype} != null">
    <b th:if="${providertype} != null" th:text="#{email.providerEdit.providertype}" />
    <span th:if="${providertype} != null" th:text="${providertype}" />
    <br/>
</div>
<div th:if="${datecollection} != null">
    <b th:if="${datecollection} != null" th:text="#{email.providerEdit.datecollection}" />
    <span th:if="${datecollection} != null" th:text="${datecollection}" />
    <br/>
</div>
<div th:if="${freetrial} != null">
    <b th:if="${freetrial} != null" th:text="#{email.providerEdit.freetrial}" />
    <span th:if="${freetrial} != null" th:text="${freetrial}" />
    <br/>
</div>
<div th:if="${categories != null and !categories.isEmpty()}">
    <b th:if="${categories} != null" th:text="#{email.providerEdit.categories}" />
   <div th:each="category : ${categories}">
    <span th:if="${category.desc} != null" th:text="${category.desc}" />
    <br/>
    </div>
</div>
<div th:if="${feature != null and !feature.isEmpty()} ">
    <b th:if="${feature} != null" th:text="#{email.providerEdit.feature}" />
   <div th:each="features : ${feature}">
    <span th:if="${features.desc} != null" th:text="${features.desc}" />
    <br/>
    </div>
</div>
<div th:if="${mainindustry} != null">
    <b th:if="${mainindustry} != null" th:text="#{email.providerEdit.mainindustry}" />
    <span th:if="${mainindustry} != null" th:text="${mainindustry}" />
    <br/>
</div>
<div th:if="${maincategory} != null">
    <b th:if="${maincategory} != null" th:text="#{email.providerEdit.maincategory}" />
    <span th:if="${maincategory} != null" th:text="${maincategory}" />
    <br/>
</div>
<p>
    <span th:text="#{email.provider.edit.text2}" />
    <span th:text="#{email.provider.edit.text3}">You will receive a follow up notification should these edits be approved or denied.</span>
    <span th:text="#{email.provider.edit.text4}">If you would like to make any changes to these edits or cancel them, please let us know.</span>
</p>
<p>
    <span th:text="#{email.signature1}">Regards, </span>
    <br/>
    <em th:text="#{email.signature2}">Amass Insights Team.</em>
</p>
</body>
</html>
