<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.providerEditAdmin.text}">Provider Profile Edits</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p th:text="#{email.admin.greeting}">
    Dear
</p>
<span th:text="${user.firstName}"/> <span th:text="${user.lastName}" /> <span th:text="#{email.providerOnboarding.text1}"/>
<br/>
<div th:if="${user.dataRequirements} != null">
    <b th:if="${user.dataRequirements} != null" th:text="#{email.usernboarding.dataRequirements}" />
    <span th:if="${user.dataRequirements} != null" th:text="${user.dataRequirements}" />
    <br/>
</div>
<div th:if="${geographies} != null">
    <b th:if="${geographies} != null" th:text="#{email.usernboarding.geographies}" />
   <div th:each="geographie : ${geographies}">
    <span th:if="${geographie.lookupcode} != null" th:text="${geographie.lookupcode}" />
    <br/>
    </div>
</div>
<div th:if="${assetClasses} != null">
    <b th:if="${assetClasses} != null" th:text="#{email.usernboarding.assetClasses}" />
   <div th:each="assetClasse : ${assetClasses}">
    <span th:if="${assetClasse.lookupcode} != null" th:text="${assetClasse.lookupcode}" />
    <br/>
    </div>
</div>
<div th:if="${categories} != null">
    <b th:if="${categories} != null" th:text="#{email.usernboarding.categories}" />
   <div th:each="categorie : ${categories}">
    <span th:if="${categorie.datacategory} != null" th:text="${categorie.datacategory}" />
    <br/>
    </div>
</div>
<div th:if="${sectors} != null">
    <b th:if="${sectors} != null" th:text="#{email.usernboarding.sectors}" />
   <div th:each="sector : ${sectors}">
    <span th:if="${sector.lookupcode} != null" th:text="${sector.lookupcode}" />
    <br/>
    </div>
</div>
<p>
    <span th:text="#{email.signature1}">Regards, </span>
    <br/>
    <em th:text="#{email.signature2}">Amass Insights Team.</em>
</p>
</body>
</html>