<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">JHipster creation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
    </head>
    <body>
        <p th:text="#{email.admin.greeting}">
            Dear
        </p>
        <p th:text="#{email.creation.admin.text1}">
        </p>
        <span th:text="#{email.user.type}" />&nbsp;<span th:text="${user.role}"/>
        <br/>
        <span  th:text="#{email.creation.username}" />&nbsp;<span th:text="${user.firstName}"/>&nbsp;<span th:text="${user.lastName}" />
        <br/>
        <span th:text="#{email.creation.email}" />
        <span th:text="${user.email}" />
        <br/>
        <span th:if="${user.company} != null" th:text="#{email.creation.company}" />
        <span th:if="${user.company} != null" th:text="${user.company}" />
        <span th:if="${socialConnection} != null" th:text="#{email.creation.profile}"></span>
        <span th:if="${socialConnection} != null" th:text="${socialConnection.getProfileUrl()}"></span>
        <p>
          <!--<a th:href="@{|${baseUrl}/#/reset/finish?key=${user.activationKey}|}"-->
             <!--th:text="@{|${baseUrl}/#/reset/finish?key=${user.activationKey}|}">Login link</a>-->
            <a th:href="@{|${baseUrl}/#/activate?key=${user.activationKey}|}">Click here to activate the account</a>
           </p>
           <p>
               <span th:text="#{email.signature1}">Regards,</span>
               <br/>
               <em th:text="#{email.signature2}">Amass Insights Team.</em>
           </p>
       </body>
   </html>
