<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.creation.title}">JHipster activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<div>
    <p  th:text="#{email.emailaddressconfirmation.text1}">
        Thank you for subscribing to our newsletter. Congratulations! You will be receiving the most comprehensive collecton of important, timely news and updates regarding Alternative and Traditional Data. To finalize, please click on the button below.  If you didn't intend to subscribe, no worries, simply ignore this email.
    </p>
</div>
<div>
    <p>
        <!--<a th:href="@{|${baseUrl}/#/confirm?key=${user.confirmationKey}|}">Click here to confirm</a>-->
        <a th:href="${baseUrl} + '/#/email-action?api=sign-up-newsletter-subscription&amp;key=' + ${confirmationkey}">Click here to confirm</a>
        <!--<a th:href="@{|${baseUrl}/#/activate?key=|}">Click here to confirm</a>-->
        <br/>
        <span th:text="#{email.emailaddressconfirmation.text2}">If you are having troubles with the button, copy/paste the following URL in your browser:</span>
        <span th:text="@{|${baseUrl}/#/email-action?api=sign-up-newsletter-subscription&amp;key=${confirmationkey}|}" th:remove="tag"></span>
        <!--<span th:text="@{|${baseUrl}/#/?login=true|}" th:remove="tag"></span>-->
    </p>
    <p  th:text="#{email.emailaddressconfirmation.text3}">
        Please contact us with any questions or comments.
    </p>
</div>

<p>
    <em th:text="#{email.signature3}"></em>
    <br/>
    <em th:text="#{email.signature2}">Amass Insights Team.</em>
</p>
</body>
</html>
