<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.creation.title}">JHipster activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
    </head>
    <body>
        <p th:text="#{email.greeting(${user.firstName})}">
            Dear
        </p>
        <div th:if="${user.confirmed}">
            <p  th:text="#{email.registration.text1}">
                Thank you for confirming your email address.
            </p>

        </div>
        <div th:if="${!user.confirmed}">
            <p>
            <span th:if="${socialConnection} == null" th:text="#{email.confirmation.text1}">We have received your Insights account registration.</span>
            <span th:if="${socialConnection} != null" th:text="#{email.social.confirmation.text1}">We have received your Insights account registration via LinkedIn Single Sign On. </span>
        </p>
        <p>
            <span  th:text="#{email.confirmation.text2}">Please</span>
            <a th:href="@{|${baseUrl}/#/confirm?key=${user.confirmationKey}|}">click here</a>
            <span th:text="#{email.confirmation.text3}">to confirm your account creation or copy and paste the following link into your web browser:</span>
            <br/>
            <span th:text="@{|${baseUrl}/#/confirm?key=${user.confirmationKey}|}" th:remove="tag"></span>
        </p>
    </div>
        <p>
        <em th:text="#{email.signature1}"></em>
        <br/>
        <em th:text="#{email.signature2}">Amass Insights Team.</em>
        </p>
    </body>
</html>
