<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.remainder.title}">JHipster activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p th:text="#{email.greeting(${user.firstName})}">
    Dear
</p>
<div>
    <p th:text="#{email.remainder.message}">
    </p>
    <p>
        <span  th:text="#{email.confirmation.text2}">Please</span>
        <a th:href="@{|${baseUrl}/#/confirm?key=${user.confirmationKey}|}">click here</a>
        <span th:text="#{email.confirmation.text3}">to confirm your account creation or copy and paste the following link into your web browser:</span>
        <br/>
        <span th:text="@{|${baseUrl}/#/confirm?key=${user.confirmationKey}|}" th:remove="tag"></span>
    </p>

</div>
<p>
    <em th:text="#{email.signature1}">Regards,</em>
    <br/>
    <em th:text="#{email.signature2}">Amass Insights Team.</em>
</p>
</body>
</html>
