<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.creation.title}">JHipster activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
    </head>
    <body>
        <p th:text="#{email.greeting(${user.firstName})}">
            Dear
        </p>
        <span th:text="#{email.social.registration.text1(${provider})}">
            Your JHipster account has been created with the social connection: Provider.
        </span>
        <br/>
        <span th:text="#{email.registration.text2}"></span>
        <br/>
        <br/>
        <span th:text="#{email.signature1}">Regards,</span>
        <br/>
        <em th:text="#{email.signature2}">Amass Insights Team.</em>
    </body>
</html>
