<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">JHipster activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
    </head>
    <body>
    <p th:text="#{email.greeting(${user.firstName})}">
        Dear
    </p>

        <span th:text="#{email.provider.unfollow.text1}" />
             <a th:href="@{|${baseUrl}/#/providers/${dataProvider.recordID}|}" th:text="${dataProvider.getProviderName()}">You are now following all news and updates about {Provider Name}</a>
            <br/>
            <span th:text="#{email.provider.unfollow.text2}">We will be sending you notifications about this Provider on occasions such as a new related article or an update to the Data Profile.</span>
    <br/>
                <p th:text="#{email.provider.unfollow.text3}">Please let us know if you are interested in something more specific regarding this Provider.</p>
        <span th:text="#{email.provider.unfollow.text4}">If you followed this Provider by mistake or would like to unfollow these notifications,</span>
    <a th:href="${baseUrl} + '/#/email-action?api=follow-provider&amp;key=' + ${deletionKey}">click here</a>
    <!--<a th:href="@{|${baseUrl}/api/ur/unfollow-provider?key=${deletionKey}|}">click here</a>-->
    <span th:text="#{email.provider.unfollow.text5}">or copy and paste the following link into your web browser:</span>
    <br/>
    <span th:text="${baseUrl} + '/#/email-action?api=follow-provider&amp;key=' + ${deletionKey}" th:remove="tag"></span>
    <p>
        <span th:text="#{email.signature1}">Regards, </span>
        <br/>
        <em th:text="#{email.signature2}">Amass Insights Team.</em>
    </p>
    </body>
</html>
