<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.category.unfollow.title}">UnfollowCategoryToAdmin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p>
    Details of Unfollow:
</p>
<p>
    <b>User Information:</b>
    <br/>
    Name: <span th:text="${user.firstName}" />
    <br/>
    Email: <span th:text="${user.email}" />
    <br/>
    Company Name: <span th:text="${user.company}" />
    <br/>
</p>
<p>
    <b>Category Information</b>
    <br/>
    Data Category Name: <span><a th:href="${baseUrl} + '/#/providers?filter=mainDataCategory.id&amp;id=' + ${dataCategory.id} + '&amp;type=checkbox'" th:text="${dataCategory.datacategory}"></a></span>
</p>
</body>
</html>
