<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.updation.admin.title}">JHipster creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<span th:text="#{email.unsubscription.text}" />&nbsp;<span th:text="${user.firstName}"/>&nbsp;<span th:text="${user.lastName}"/>
<p th:text="#{email.unsubscription.text1}">
</p>
<p th:text="#{email.unsubscription.text2}">
</p>
<span th:text="#{email.unsubscription.text3}"/>&nbsp;<span th:text="@{|${baseUrl}|}" th:remove="tag"></span>&nbsp;<span th:text="#{email.unsubscription.text4}"/>
<br/>
<a th:href="@{|${baseUrl}|}">Click here</a>
<br/>
<p>
    <span th:text="#{email.signature1}">Regards,</span>
    <br/>
    <em th:text="#{email.signature2}">Amass Insights Team.</em>
</p>
</body>
</html>
