<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.updation.title}">JHipster activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p th:text="#{email.greeting(${user.firstName})}">
    Dear
</p>
<div th:if="${user.confirmed}">
    <p>
        You have successfully confirmed your new email address and we have updated your email address in our records. Please let us know if this was a mistake or if you would like to change your email address back.            </p>

</div>

<p>
    <em th:text="#{email.signature1}">Regards,</em>
    <br/>
    <em th:text="#{email.signature2}">Amass Insights Team.</em>
</p>
</body>
</html>
