<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.updation.title}">Insights Account Change</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p th:text="#{email.greeting(${user.firstName})}">
    Dear
</p>
<!--<div th:if="${user.confirmed}">
    <p  th:text="#{email.updation.text1}">
        Thank you for updating your email address.
    </p>
    <p>
        <span  th:text="#{email.updation.text2}"></span>
        <br/>
        <span  th:text="#{email.updation.text4}"></span>
    </p>
</div>-->
<div th:if="${!user.confirmed}">
     <p>
        <span  th:text="#{email.updation.text2}"></span>
        <a th:href="@{|${baseUrl}/#/confirm?key=${user.confirmationKey}|}">click here</a>
        <span th:text="#{email.updation.text3}">to confirm your account's new email address or copy and paste the following link into your web browser:</span>
        <br/>
        <span th:text="@{|${baseUrl}/#/confirm?key=${user.confirmationKey}|}" th:remove="tag"></span>
    </p>
</div>
<p>
    <em th:text="#{email.signature1}"></em>
    <br/>
    <em th:text="#{email.signature2}">Amass Insights Team.</em>
</p>
</body>
</html>
