<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.updation.admin.title}">JHipster creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<span  th:text="#{email.admin.upgrade.content}" />&nbsp;<span th:text="${userCheckout.subscription}"/>&nbsp;<span th:text="#{email.admin.upgrade.content1}"/>&nbsp;<span th:text="#{email.admin.upgrade.content2}"/>
<br/>
<span th:text="#{email.admin.upgrade.name}"/>
<span th:text="${user.firstName}"/>&nbsp;<span th:text="${user.lastName}"/>
<br/>
<span  th:text="#{email.admin.upgrade.email}" />&nbsp;<span th:text="${user.email}"/>
<br/>
<span  th:text="#{email.admin.upgrade.subscription}" />&nbsp;<span th:text="${userCheckout.subscription}"/>
<br/>
<span  th:text="#{email.admin.upgrade.subscriptionfee}" />&nbsp;<span th:text="#{email.admin.upgrade.fee}" />&nbsp;<span th:text="${amount}"/>
<br/>
<span  th:text="#{email.admin.upgrade.subscriptionperiod}" />&nbsp;<span th:text="${subscriptionPeriod}"/>
<br/>
<span  th:text="#{email.admin.upgrade.startdate}" />&nbsp;<span th:text="${localDateTime}"/>
<br/>
<span  th:text="#{email.admin.upgrade.enddate}" />&nbsp;<span th:text="${localDate}"/>
<br/>
</body>
</html>
