<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.accountactivation.title}">Insights Alternative Data Platform</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p th:text="#{email.user.greeting1}">
    Dear
</p>
<div>
    <p>
        <span  th:text="#{email.providerActivation.text}"></span>
    </p>
    <p>
        <span  th:text="#{email.providerActivation.text1}"/>&nbsp; <span  th:text="#{email.providerActivation.text2}"/>&nbsp;<a th:href="@{|${baseUrl}/#/activationUser?key=${user.activationKey}|}">click here</a>
        <span th:text="#{email.accountactivation.text3}">and set your password or copy and paste the following link into your web browser:</span>
    </p>
    <p>
        <span th:text="@{|${baseUrl}/#/activationUser?key=${user.activationKey}|}" th:remove="tag"></span>
        <br/>
        <br/>
        <span th:text="#{email.accountactivation.text4}">Looking forward to bringing you on board!</span>
    </p>
</div>
<p>
    <em th:text="#{email.signature1}"></em>
    <br/>
    <em th:text="#{email.signature2}">Amass Insights Team.</em>
</p>
</body>
</html>
