<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.providerEditAdmin.text}">Provider Profile Edits</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p th:text="#{email.admin.greeting}">
    Dear
</p>
<span th:text="${user.firstName}"/> <span th:text="${user.lastName}" /> <span th:text="#{email.userOnboarding.text1}"/>
<br/>
<div th:if="${user.providerName} != null">
    <span th:if="${user.providerName} != null" th:text="#{email.usernboarding.providerName}" />
    <span th:if="${user.providerName} != null" th:text="${user.providerName}" />
    <br/>
</div>
<div th:if="${user.providerWebsite} != null">
    <span th:if="${user.providerWebsite} != null" th:text="#{email.usernboarding.providerWebsite}" />
    <span th:if="${user.providerWebsite} != null" th:text="${user.providerWebsite}" />
    <br/>
</div>
<div th:if="${partnership} != null">
    <span th:if="${partnership} != null" th:text="#{email.usernboarding.partnership}" />
    <span th:if="${partnership} != null" th:text="${partnership}" />
    <br/>
</div>
<div th:if="${user.introductions} != null">
    <span th:if="${user.introductions} != null" th:text="#{email.usernboarding.introductions}" />
    <span th:if="${user.introductions} != null" th:text="${user.introductions}" />
    <br/>
</div>
<div th:if="${user.visibility} != null">
    <span th:if="${user.visibility} != null" th:text="#{email.usernboarding.visibility}" />
    <span th:if="${user.visibility} != null" th:text="${user.visibility}" />
    <br/>
</div>
<div th:if="${user.orgvisibility} != null">
    <span th:if="${user.orgvisibility} != null" th:text="#{email.usernboarding.orgvisibility}" />
    <span th:if="${user.orgvisibility} != null" th:text="${user.orgvisibility}" />
    <br/>
</div>
<div th:if="${user.firstName} != null">
    <span th:if="${user.firstName} != null" th:text="#{email.usernboarding.firstName}" />
    <span th:if="${user.firstName} != null" th:text="${user.firstName}" />
    <br/>
</div>
<div th:if="${user.lastName} != null">
    <span th:if="${user.lastName} != null" th:text="#{email.usernboarding.lastName}" />
    <span th:if="${user.lastName} != null" th:text="${user.lastName}" />
    <br/>
</div>
<div th:if="${user.company} != null">
    <span th:if="${user.company} != null" th:text="#{email.usernboarding.company}" />
    <span th:if="${user.company} != null" th:text="${user.company}" />
    <br/>
</div>
<div th:if="${user.dataRequirements} != null">
    <span th:if="${user.dataRequirements} != null" th:text="#{email.usernboarding.dataRequirements}" />
    <span th:if="${user.dataRequirements} != null" th:text="${user.dataRequirements}" />
    <br/>
</div>
<div th:if="${user.dataRequests} != null">
    <span th:if="${user.dataRequests} != null" th:text="#{email.usernboarding.dataRequests}" />
    <span th:if="${user.dataRequests} != null" th:text="${user.dataRequests}" />
    <br/>
</div>
<div th:if="${investor} ==false">
<div th:if="${user.mndatrial} != null">
    <span th:if="${user.mndatrial} != null" th:text="#{email.usernboarding.mndatrial}" />
    <span th:if="${user.mndatrial} != null" th:text="${user.mndatrial}" />
    <br/>
</div>
</div>
<div th:if="${investor} ==false">
<div th:if="${user.consent} != null">
    <span th:if="${user.consent} != null" th:text="#{email.usernboarding.consent}" />
    <span th:if="${user.consent} != null" th:text="${user.consent}" />
    <br/>
</div>
</div>
<div th:if="${investor} ==true">
<div th:if="${geographies} != null">
    <b th:if="${geographies} != null" th:text="#{email.usernboarding.geographies}" />
   <div th:each="geographie : ${geographies}">
    <span th:if="${geographie.lookupcode} != null" th:text="${geographie.lookupcode}" />
    <br/>
    </div>
</div>
</div>
<div th:if="${investor} ==true">
<div th:if="${assetClasses} != null">
    <b th:if="${assetClasses} != null" th:text="#{email.usernboarding.assetClasses}" />
   <div th:each="assetClasse : ${assetClasses}">
    <span th:if="${assetClasse.lookupcode} != null" th:text="${assetClasse.lookupcode}" />
    <br/>
    </div>
</div>
</div>
<div th:if="${investor} ==true">
<div th:if="${categories} != null">
    <b th:if="${categories} != null" th:text="#{email.usernboarding.categories}" />
   <div th:each="categorie : ${categories}">
    <span th:if="${categorie.datacategory} != null" th:text="${categorie.datacategory}" />
    <br/>
    </div>
</div>
</div>
<div th:if="${investor} ==true">
<div th:if="${sectors} != null">
    <b th:if="${sectors} != null" th:text="#{email.usernboarding.sectors}" />
   <div th:each="sector : ${sectors}">
    <span th:if="${sector.lookupcode} != null" th:text="${sector.lookupcode}" />
    <br/>
    </div>
</div>
</div>
<p>
    <span th:text="#{email.signature1}">Regards, </span>
    <br/>
    <em th:text="#{email.signature2}">Amass Insights Team.</em>
</p>
</body>
</html>