<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.weekly.title}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
    </head>
    <body>
        <p th:text="#{email.greeting(${user.firstName})}"></p>
        <p th:text="#{email.weekly.update.msg(${pastDays})}"></p>
        <ul>
            <li>
                <a th:href="@{|${baseUrl}/#/providers?np=1&amp;cd=${filterDate}|}" th:text="${newProviders} + ' new'"></a> data providers
            </li>
            <li>
                <a th:href="@{|${baseUrl}/#/providers?up=1&amp;ud=${filterDate}|}" th:text="${updatedProviders} + ' updated'"></a> data providers
            </li>

            <li>
                <a th:href="@{|${baseUrl}/#/news?na=1&amp;cd=${filterDate}|}" th:text="${newArticles} + ' new articles'"></a>
            </li>

            <li>
                <a th:href="@{|${baseUrl}/#/news?na=1&amp;dt=2&amp;cd=${filterDate}|}" th:text="${alternateDataArticlesCount} + ' articles related to Alternate Data in investing'"></a> including:
            </li>
                <ul th:each="article,iterationStatus : ${alternateDataArticles}">
                    <li>
                        <a th:href="@{${article.url}}" th:text="${article.title}"></a>
                        <span th:if="${article.author} != null" th:text="' by ' + ${article.author}"></span>
                    </li>
                </ul>

            <p  th:if="${followedProviderUpdates.size()} > 0">
            <li>
                <a th:href="@{|${baseUrl}/#/providers?f=1&amp;up=1&amp;ud=${filterDate}|}" th:text="${followedProviderUpdates.size()} + ' updated providers that you are following:'"></a>
            </li>

                <ul th:each="provider,iterationStatus : ${followedProviderUpdates}">
                    <li>
                        <a th:href="@{|${baseUrl}/#/providers/${provider.recordID}|}" th:text="${provider.providerName}"></a>
                    </li>
                </ul>
            </p>
            <p  th:if="${followedProviderArticles.size()} > 0">
                    <li th:text="#{email.weekly.followedProviderArticles(${followedProvidersArticleCount})}"></li>
                        <ul th:each="element : ${followedProviderArticles}">
                            <li>
                                <a th:href="@{|${baseUrl}/#/providers/${element.getKey().getRecordID()}|}" th:text="${element.getKey().getProviderName()}"></a>
                                <ul th:each="anews : ${element.value}">
                                    <li>
                                        <a th:href="@{${anews.url}}" th:text="${anews.title}"></a><span th:if="${anews.author != null}" th:text="' by ' + ${anews.author}"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
            </p>
            <!--<li><a th:href="@{|${baseUrl}/#/providers|}">Provider List</a></li>-->
        </ul>
        <p th:text="#{email.weekly.contactUs.msg}"></p>
        <p>
            <em th:text="#{email.signature1}">Regards</em>
            <br/>
            <em th:text="#{email.signature2}">Amass Insights Team.</em>
        </p>
    </body>
</html>
