

<footer class="footer footer-dark">
    <div class="container">
    	<div class="row">
    		<div class="text-center" [ngClass]="{'col-md-12': isAuthenticated(), 'col-md-6': !isAuthenticated()}" style="padding-top: 25px;">
    			<h6>Connect with us</h6>
    			<ul class="list-inline social-list">
    				<li>
                        <a href="mailto:info@amassinsights.com" (click)="footerLink({'label':'Footer - Email','category':'Contact Us','event': 'Email'})">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/amass-insights/" (click)="footerLink({'label':'Footer - LinkedIn','category':'Social Media','event': 'External Link Clicked'})">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/AmassInsights" (click)="footerLink({'label':'Footer - Twitter','category':'Social Media','event': 'External Link Clicked'})">
                            <i class="fa fa-twitter-square"></i>
                        </a>
                    </li>
                    <li id="linkedin-follow-btn">

                    </li>
                </ul>
            </div>
            <div class="col-md-6" *ngIf="!isAuthenticated()">
                <jhi-newsletter-footer></jhi-newsletter-footer>
                <!-- <iframe frameborder="0" *ngIf="!inProduction" scrolling="no" marginheight="0" marginwidth="0" src="https://app.mailjet.com/widget/iframe/2DW0/5tn" width="100%"></iframe>
                <iframe frameborder="0" *ngIf="inProduction" scrolling="no" marginheight="0" marginwidth="0" src="https://app.mailjet.com/widget/iframe/2DW0/5Dq" width="100%"></iframe> -->
                <button data-token="fb3c33e4f8f8963757667313d96bef9e" style="position: absolute; visibility: hidden;" #subscribeBtn onclick="mjOpenPopin(event, this)" (click)="footerLink({'label':'Footer - Newsletter - Submit Button','category':'Newsletter','event': 'Form Submitted'})">Subscribe now!</button>
            </div>
    	</div>

    	<div class="row">
    		<div class="col-md-12 text-center">
    			<ul class="list-inline footer-links">
    				<li>
                        <a [routerLink]="['/about-us']" (click)="footerLink({'label':'Footer - About','category':'about-us','event': 'Internal Link Clicked'})">
                        	About
                        </a>
                    </li>
                    <li *ngIf="isAuthenticated()">
                        <a target="_blank" href="https://amassinsights.atlassian.net/wiki/spaces/IKB/pages/173211649" (click)="footerLink({'label':'Footer - FAQ','category':'FAQ','event': 'Internal Link Clicked'})">
                        	FAQ
                        </a>
                    </li>
                    <!-- <li *ngIf="!isAuthenticated()">
                        <a [routerLink]="['amassing-insights-in-the-new-world-of-data']" (click)="footerLink({'label':'Footer - Blog','category':'blog','event': 'Internal Link Clicked'})">
                        	Blog
                        </a>
                    </li> -->
                    <li>
                        <a [routerLink]="['blog']" (click)="footerLink({'label':'Footer - Blog','category':'blog','event': 'Internal Link Clicked'})">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['press']" (click)="footerLink({'label':'Footer - Press','category':'press','event': 'Internal Link Clicked'})">
                            Press
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['contact-us']" (click)="footerLink({'label':'Footer - Contact Us','category':'contact-us','event': 'Internal Link Clicked'})">
                        	Contact Us
                        </a>
                    </li>
                    <li *ngIf="isAuthenticated()">
                        <a target="_blank" href="https://amassinsights.atlassian.net/wiki/spaces/IKB/overview" (click)="footerLink({'label':'Footer - Knowledge Base','category':'Knowledge Base','event': 'Internal Link Clicked'})">
                        	Knowledge Base
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['terms']" (click)="footerLink({'label':'Footer - Terms','category':'terms','event': 'Internal Link Clicked'})">
                        	Terms of Use
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/privacy-policy']" (click)="footerLink({'label':'Footer - Privacy','category':'privacy-policy','event': 'Internal Link Clicked'})">
                        	Privacy Policy
                        </a>
                    </li>
                    <li *ngIf="isAuthenticated() && isProvider">
                        <a [routerLink]="['/mndatrial']" (click)="footerLink({'label':'Footer - MNDA & Trial','category':'mnda-trial','event': 'Internal Link Clicked'})">
                        	MNDA & Trial
                        </a>
                    </li>
                </ul>
    		</div>
    	</div>

    	<div class="row">
    		<!-- <div class="col-md-12 copyright">
    			<div><p>&copy; <span class="copyright-text">{{currentyear}} by Amass Insights, LLC</span>. All Rights Reserved. <span class="pull-right">New York City</span></p></div>
            </div> -->
            <div class="col-md-5 copyright">
    			<div><p>&copy; <span class="copyright-text">{{currentyear}} by Amass Insights, LLC</span>. All Rights Reserved.</p></div>
            </div>

            <div class="col-md-4 copyright">
    			<div><p class="nomargin"><span class="pull-right">New York City</span></p></div>
    		</div>
    	</div>
    </div>
</footer>
