.footer {
	padding: 0px 0 20px 0;
}

.footer-dark {
	background-color: #313131;
}

.footer-dark h1,
.footer-dark h2,
.footer-dark h3,
.footer-dark h4,
.footer-dark h5,
.footer-dark h6,
.footer-links.list-inline li a:hover,
.footer-dark p,
.copyright {
	color: #fff;
}

.social-list {
	margin: 0;
}

.list-inline {
	margin-left: 0;
}
.list-inline > li {
	padding: 0 8px;
	display: inline-block;
}
.list-inline > li:last-child {
	padding-right: 0;
}
.list-inline > li:first-child {
	padding-left: 0;
}

.list-inline > li > a {
	color: #7f7f7f;
}

.list-inline > li > a:hover {
	color: #2caae1;
}

.list-inline > li > a > i {
	font-size: 20px;
}

.footer-logo {
	margin: 30px 0 15px;
}

.footer-links {
    margin-top: 2px;
    margin-bottom: 5px !important;
}

.footer-links.list-inline li {
	border-left: 1px solid #7f7f7f;
	margin: .25em 0;
    padding: 0 1em !important;
    height: 20px;
    line-height: 15px;
}

.footer-links.list-inline li:first-child {
	border-left: 0px;
}

.footer-links.list-inline li a {
	font-size: 1em;
}

.footer-links.list-inline li a:hover {
	text-decoration: none;
}

.copyright-text {
	color: #fff;
}

.copyright-text p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.signup-newsletter-btn {
    padding-top: 6px;
    padding-bottom: 6px;
    min-width: 100% !important;
}

.footer-description-text {
    font-size: 0.9rem;
}
.comodo-padding{
    padding: 0 80px;
}
.nomargin{
    margin: 0px;
}
