<div class="dropdown list-padding share-buttons-wrapper pull-right" ngbDropdown placement="bottom-right">
    <button class="btn btn-lock dropdown-toggle text-uppercase" ngbDropdownToggle type="button" id="shareMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: -24px;">
        Share
    </button>
    <div class="dropdown-menu dropdown-menu-left" ngbDropdownMenu aria-labelledby="shareMenuButton">
        <ng-container *ngFor="let share of shareButtons">
            <share-button class="dropdown-menu-item share-button-btn"
                [button]="share?.type"
                [showText]="true"
                [autoSetMeta]="false"
                [description]="share?.description"
            ></share-button>
        </ng-container>
    </div>
</div>
