.sb-button.sb-default {
    margin: 2% 5% !important;
    &.sb-group {
        /** ... share buttons container */
    }
    .sb-wrapper {
        /** ... share button wrapper */
        width: 90% !important;

        .sb-inner {
            /** ... inner wrapper */
            .sb-content {
                /** ... content wrapper */
                .sb-icon {
                    /** ... icon wrapper */
                }
                .sb-text {
                    /** ... text wrapper */
                }
            }
            .sb-count {
                /** ... count wrapper */
            }
        }

        // For conditional styles
        &.sb-show-icon.sb-show-text.sb-show-count {
            /** ... Apply when icon, text and count are shown */
            .sb-icon {
                /** ... icon wrapper */
            }
            .sb-text {
                /** ... text wrapper */
            }
        }
    }
}

.share-buttons {
    border-right: 0px !important;
}

.share-buttons-wrapper button {
    background-color: #fe5722;
    color: #fff;
    min-width: 130px !important;
    height: 28px;
    font-size: 12px;
    border: none;
    text-align: left;
    line-height: 0;
    padding: 0 8px;
}
.btn-lock span{
	display:inline-block;
    vertical-align:middle;
    padding: 4px;
}
.share-button-wrappers button.dropdown-toggle {
    margin-left: -24px;
}

.share-buttons-wrapper button.dropdown-toggle::after {
    float: right;
    font-size: large;
}
.share-img{
    width: 1.3rem;
    height: 1.3rem;
    vertical-align: middle;
}

.dropdown-toggle::after {
    margin-top: 8px;
}
.user-msg-text{
    color: #f52727;
    font-weight: 600;
}
.user-msg{
    color: #007bff !important;
    text-decoration: none;
    background-color: transparent;
}
.locked-user-msg{
    color: #007bff !important;
    background-color: transparent;
}
.menubar.dropdown-toggle::after{
    display:none;
  }