<!-- <div class="page-title">
    <span class="text-uppercase">Featured Data Provider</span>
</div> -->
<div class="container section-margin slider-transition scroll-smooth">
    <div>
        <h4 class="feature-provider-title" (click)="featureSignup()">Featured Data Provider</h4>

        <div *ngFor="let datafeature of dataFeatureProvider" class="provider-list">
                <div *ngIf='datafeature.providerName !== "RECORD_NULL" && datafeature.recordID !== "PROVIDER_NULL"' class="media">
                    <div class="media-body">
                        <mat-card class="card-shadow scroll-smooth" [ngStyle]="{'min-height': datafeature.logo && datafeature.logo.logo ? '145px' : '80px'}">
                            <div class="row col-md-12 noPadding">
                                <div class="row col-md-10 noPadding">
                                    <div class="col-md-3" *ngIf="datafeature.logo">
                                        <a *ngIf="datafeature.logo && datafeature.logo.logo" class="pull-left" target="_self" (click)="unrestrictedUsers()">
                                            <img [src]="_DomSanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + datafeature.logo.logo)" style="width:128px;max-height: 175px;" [ngStyle]="{'background-color': datafeature.recordID === 'recwXv6JcH4MKWx0z' || datafeature.recordID === 'recG0ZppNxNml1ErI' ? '#9e9e9e' : ''}" class="provider-logo"/>
                                        </a>
                                    </div>
                                    <div class=" media-text" [ngClass]="{'col-md-9': datafeature.logo, 'col-md-12': !datafeature.logo}">
                                        <div  class="col-md-12 noPadding">
                                            <h4 class="media-heading">
                                                <div class="row col-md-12 noPadding">
                                                    <div class="col-md-9 noPadding">
                                                        <a *ngIf="!datafeature?.locked" target="_self" class="provider-title" [routerLink]="['../unproviders', datafeature.recordID ]"   [ngClass]="{blurText: datafeature?.locked}">{{datafeature.providerName}}
                                                            <span *ngIf="datafeature.ownerOrganization && datafeature.ownerOrganization.name && datafeature.ownerOrganization.name.toLocaleUpperCase() != datafeature.providerName.toLocaleUpperCase() && datafeature.ownerOrganization.name !='NAME_NULL'"> by {{datafeature.ownerOrganization.name}}</span>
                                                        </a>
                                                        <span>
                                                            <a class="provider-title" *ngIf="datafeature?.locked && !(datafeature.userProviderStatus && datafeature.userProviderStatus.indexOf(262) !== -1)" target="_self" [routerLink]="['../unproviders', datafeature.recordID ]"  [ngClass]="{blurText: datafeature?.locked}">{{datafeature.providerName}}
                                                                <span *ngIf="datafeature.ownerOrganization && datafeature.ownerOrganization.name &&  datafeature.ownerOrganization.name.toLocaleUpperCase() != datafeature.providerName.toLocaleUpperCase() && datafeature.ownerOrganization.name !='NAME_NULL'"> by {{datafeature.ownerOrganization.name}}</span>
                                                            </a>

                                                        </span>
                                                        <span *ngIf="datafeature?.locked && (datafeature.userProviderStatus && datafeature.userProviderStatus.indexOf(262) !== -1)" triggers="manual">
                                                            <a class="provider-title" target="_self" [routerLink]="['../unproviders', datafeature.recordID ]"   [ngClass]="{blurText: datafeature?.locked}">{{datafeature.providerName}}
                                                                <span *ngIf="datafeature.ownerOrganization && datafeature.ownerOrganization.name && datafeature.ownerOrganization.name.toLocaleUpperCase() != datafeature.providerName.toLocaleUpperCase() && datafeature.ownerOrganization.name !='NAME_NULL'"> by {{datafeature.ownerOrganization.name}}</span>
                                                            </a>
                                                        </span>
                                                </div>
                                                    <div class="col-md-3 noPadding" [ngStyle]="{'border': 'none'}" (click)="unrestrictedUsers()">
                                                        <span class="text-center pull-right amass-progressbar-container" *ngIf="(datafeature.scoreOverall && datafeature.scoreOverall.description && datafeature.scoreOverall.description === '5')" [matTooltip]="datafeature.scoreOverall.description + '/5 Overall Score'">
                                                                <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                                <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                                <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                                <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                                <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                        </span>
                                                        <span class="text-center pull-right amass-progressbar-container" *ngIf="(datafeature.scoreOverall && datafeature.scoreOverall.description && datafeature.scoreOverall.description === '4')" [matTooltip]="datafeature.scoreOverall.description + '/5 Overall Score'">
                                                            <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                            <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                            <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                            <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                        </span>
                                                        <span class="text-center pull-right amass-progressbar-container" *ngIf="(datafeature.scoreOverall && datafeature.scoreOverall.description  && datafeature.scoreOverall.description === '3')" [matTooltip]="datafeature.scoreOverall.description + '/5 Overall Score'">
                                                            <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                            <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                            <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                        </span>
                                                        <span class="text-center pull-right amass-progressbar-container" *ngIf="(datafeature.scoreOverall && datafeature.scoreOverall.description  && datafeature.scoreOverall.description === '2')" [matTooltip]="datafeature.scoreOverall.description + '/5 Overall Score'">
                                                            <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                            <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                        </span>
                                                        <span class="text-center pull-right amass-progressbar-container" *ngIf="(datafeature.scoreOverall && datafeature.scoreOverall.description  && datafeature.scoreOverall.description === '1')" [matTooltip]="datafeature.scoreOverall.description + '/5 Overall Score'">
                                                            <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </h4>
                                        </div>
                                        <div  class="col-md-12 noPadding">
                                            <div class="row col-md-12 noPadding">
                                                <div class="col-md-6 no-padding">
                                                    <span *ngIf='datafeature.mainDataIndustry && datafeature.mainDataIndustry.dataIndustry != "DATA_INDUSTRY_NULL"'>
                                                        <span class="grey-text"><a class="clickable-link" target="_self" (click)="unrestrictedUsers()">Main Data Industry:</a>
                                                        </span> <br>
                                                        <a (click)="unrestrictedUsers()">
                                                            <span [matTooltip]="datafeature.mainDataIndustry?.explanation" >{{datafeature.mainDataIndustry?.dataIndustry}}</span>
                                                        </a>
                                                    </span>
                                                </div>
                                                <div class="col-md-6 ">
                                                    <span *ngIf='datafeature.mainDataCategory && datafeature.mainDataCategory.datacategory != "DATA_CATEGORY_NULL"'>
                                                        <span class="grey-text"><a class="clickable-link" target="_self" (click)="unrestrictedUsers()">Main Data Category:</a>
                                                        </span> <br>
                                                            <a (click)="unrestrictedUsers()" *ngIf="!datafeature.mainDataCategory.locked">
                                                                <span [matTooltip]="datafeature.mainDataCategory?.explanation" [matTooltipDisabled]="datafeature.mainDataCategory?.locked">{{datafeature.mainDataCategory?.datacategory}}</span>
                                                            </a>
                                                        <span (click)="unrestrictedUsers()" [ngClass]="{blurText: datafeature.mainDataCategory.locked}" [matTooltip]="'Your account does not have permission to view this.'"*ngIf="datafeature.mainDataCategory.locked">{{datafeature.mainDataCategory?.datacategory}}</span>
                                                    </span>
                                                </div>
                                                <p *ngIf='datafeature.shortDescription != "DESCRIPTION_NULL"' class="media-desc col-md-12 no-padding" style="margin-top: 10px;"><a class="clickable-link" target="_self" (click)="unrestrictedUsers()">{{datafeature.shortDescription}}</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-md-12 noPadding media-text list-bootom">
                                        <div class="col-md-4" style="margin-top: 0px;padding:5px 10px 0 0px;">
                                            <div [ngStyle]="{'float': 'left'}">
                                                <span class="text-center pull-right amass-progressbar-container" [ngStyle]="{'padding-right':'0px','width': '136px'}">
                                                    <a class="clickable-link" target="_self" (click)="unrestrictedUsers()">
                                                        <mat-progress-bar class="amass-progressbar amass-progressbar-default" aria-label="% Complete" [color]="progressBarColor" [mode]="progressBarMode" [value]="datafeature.completeness"  [bufferValue]="datafeature.completeness"><span>{{datafeature.completeness}}% Complete</span></mat-progress-bar>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="amass-progressbar-value progress-value" [ngStyle]="{'margin-left': '30px'}">
                                                <span [matTooltip]="datafeature.completeness + '% ' + 'percent of this data providers profile that has been filled in'" >{{datafeature.completeness}}% Complete</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="margin-top: 0px">
                                                    <span class="media-desc" *ngIf="datafeature.createdDate != null"><a class="clickable-link" target="_self" (click)="unrestrictedUsers()">Added: {{datafeature.createdDate | date : 'mediumDate'}}</a></span>
                                        </div>
                                        <div class="col-md-4" style="margin-top: 0px">
                                            <span class="media-desc" *ngIf="datafeature.updatedDate != null"><a class="clickable-link" target="_self" (click)="unrestrictedUsers()">Last Updated: {{datafeature.updatedDate | date : 'mediumDate'}}</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-2 noPadding" style="margin-top: 5px;padding-right: 10px;">
                                    <div class="social">
                                        <div class="social-container">
                                            <ul [ngStyle]="{'padding': '0','margin':'0'}">
                                                <li [ngStyle]="{'clear': 'both'}" class="profile-list-padding">
                                                    <a *ngIf="!datafeature?.locked" (click)="featureSignup()">
                                                        <!-- <span matTooltip="Unfollow Provider Updates" *ngIf="datafeature.followed" >
                                                            <button class="request-btn text-uppercase" type="submit" value="Follow">
                                                                <i class="fa fa-minus-circle" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;color:#3306f9"></i>
                                                                <span>Unfollow</span>
                                                            </button>
                                                        </span> -->
                                                        <span matTooltip="Follow Provider Updates">
                                                            <button class="btn-lock text-uppercase" color="warn" type="submit" value="Follow" (click)="providerFollow({'label':'Providers List - Provider - Follow','category':'Provider Follow','event': 'Followed'})">
                                                                <i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;color:#fff"></i>
                                                                <span>Follow</span>
                                                            </button>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li style="clear: both" ngbDropdown class="nav-item dropdown pointer request-drop-dwn request-list profile-list-padding" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                                    <a class="request-drop-dwn" href="javascript:void(0);" id="entity-menu" [ngStyle]="{'color': '#fff'}">
                                                        <button matTooltip="Make a Request Related to this Provider" type="button" (click)="featureSignup()" ngbDropdownToggle mat-button class="btn-lock text-uppercase headerSignUp dropdown-toggle">
                                                            <img src="../../../content/images/icons/White-Request-icon-original.png" class="request-share-img">
                                                                <span>Request</span>
                                                        </button>

                                                    </a>
                                                </li>
                                                <li class="dropdown profile-list-padding share-buttons-wrapper" ngbDropdown>
                                                    <button matTooltip="Share This Provider" class="btn btn-lock dropdown-toggle text-uppercase" (click)="shreDropDown({'label':'Providers List - Provider - Share','category':'Provider Profile','event': 'Share Link Clicked'})" ngbDropdownToggle type="button" id="shareMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <img src="../../../content/images/icons/White-Share-icon-original.png" class="share-image" />
                                                        <span>Share</span>
                                                    </button>
                                                    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="shareMenuButton">
                                                        <share-button class="dropdown-menu-item" (click)="shreDropDown({'label':'Providers List - Provider - Share - Email','category':'Provider Profile','event': 'Share Link Clicked'})"
                                                            [button]="'email'"
                                                            [showText]="true"
                                                            [autoSetMeta]="false"
                                                            [url]="datafeature?.url"
                                                            [description]="datafeature?.emailText"
                                                            [matTooltip]="'Share This Provider Through Email'"
                                                        ></share-button>
                                                        <share-button class="dropdown-menu-item" (click)="shreDropDown({'label':'Providers List - Provider - Share - LinkedIn','category':'Provider Profile','event': 'Share Link Clicked'})"
                                                            [button]="'linkedin'"
                                                            [showText]="true"
                                                            [autoSetMeta]="false"
                                                            [url]="datafeature?.url"
                                                            [description]="datafeature?.linkedInText"
                                                            [matTooltip]="'Share This Provider Through LinkedIn'"
                                                        ></share-button>
                                                        <share-button class="dropdown-menu-item" (click)="shreDropDown({'label':'Providers List - Provider - Share - Twitter','category':'Provider Profile','event': 'Share Link Clicked'})"
                                                            [button]="'twitter'"
                                                            [showText]="true"
                                                            [autoSetMeta]="false"
                                                            [url]="datafeature?.url"
                                                            [description]="datafeature?.twitterText"
                                                            [matTooltip]="'Share This Provider Through Twitter'"
                                                        ></share-button>
                                                        <share-button class="dropdown-menu-item" (click)="shreDropDown({'label':'Providers List - Provider - Share - Link','category':'Provider Profile','event': 'Share Link Clicked'})"
                                                            [button]="'copy'"
                                                            [showText]="true"
                                                            [url]="datafeature?.url"
                                                            [autoSetMeta]="false"
                                                            [matTooltip]="'Copy the Link to this Provider'"
                                                        ></share-button>
                                                    </div>
                                                </li>
                                                <li class="dropdown profile-list-padding" ngbDropdown [autoClose]="'outside'">
                                                    <button class="btn btn-lock tag-buttons-wrapper dropdown-toggle text-uppercase" matTooltip="Add Personal Tag to Provider"  (click)="featureSignup();shreDropDown({'label':'Providers List - Provider - Tags','category':'Provider Tag','event': 'Tagged'})" ngbDropdownToggle type="button" id="shareMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <img src="../../../content/images/icons/tag icon white.png" class="share-image" />
                                                        <span>Tag</span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
    </div>
    <div class="upcoming-btn">
        <button class="home-button" type="button" mat-raised-button color="warn" (click)="featureSignups()">Sign Up to See Thousands More Providers</button>
    </div>
    <div>
        <h4 class="recent-provider-title" (click)="featureSignup()">Recently Discovered Featured Data Providers</h4>
        <div *ngFor="let datafeature of dataRecentProvider" class="provider-list">
            <div *ngIf='datafeature.providerName !== "RECORD_NULL" && datafeature.recordID !== "PROVIDER_NULL"' class="media">
                <div class="media-body">
                    <mat-card class="card-shadow scroll-smooth" [ngStyle]="{'min-height': datafeature.logo && datafeature.logo.logo ? '145px' : '80px'}">
                        <div class="row col-md-12 noPadding scroll-smooth">
                            <div class="row col-md-10 noPadding">
                                <div class="col-md-3 " *ngIf="datafeature.logo">
                                    <a *ngIf="datafeature.logo && datafeature.logo.logo" class="pull-left" target="_self" (click)="unrestrictedUsers()">
                                        <img [src]="_DomSanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + datafeature.logo.logo)" style="width:128px;max-height: 175px;" [ngStyle]="{'background-color': datafeature.recordID === 'recwXv6JcH4MKWx0z' || datafeature.recordID === 'recG0ZppNxNml1ErI' ? '#9e9e9e' : ''}" class="provider-logo"/>
                                    </a>
                                </div>
                                <div class=" media-text" [ngClass]="{'col-md-9': datafeature.logo && datafeature.logo.logo, 'col-md-12': !datafeature.logo}">
                                    <div  class="col-md-12 noPadding">
                                        <h4 class="media-heading">
                                            <div class="row col-md-12 noPadding">
                                                <div class="col-md-9 noPadding">
                                                    <a *ngIf="!datafeature?.locked" target="_self" class="provider-title" [routerLink]="['../unproviders', datafeature.recordID ]" [ngClass]="{blurText: datafeature?.locked}">{{datafeature.providerName}}
                                                        <span *ngIf="datafeature.ownerOrganization && datafeature.ownerOrganization.name && datafeature.ownerOrganization.name.toLocaleUpperCase() != datafeature.providerName.toLocaleUpperCase() && datafeature.ownerOrganization.name !='NAME_NULL'"> by {{datafeature.ownerOrganization.name}}</span>
                                                    </a>
                                                    <span>
                                                        <a class="provider-title" *ngIf="datafeature?.locked && !(datafeature.userProviderStatus && datafeature.userProviderStatus.indexOf(262) !== -1)" target="_self" [routerLink]="['../unproviders', datafeature.recordID ]" [ngClass]="{blurText: datafeature?.locked}">{{datafeature.providerName}}
                                                            <span *ngIf="datafeature.ownerOrganization && datafeature.ownerOrganization.name &&  datafeature.ownerOrganization.name.toLocaleUpperCase() != datafeature.providerName.toLocaleUpperCase() && datafeature.ownerOrganization.name !='NAME_NULL'"> by {{datafeature.ownerOrganization.name}}</span>
                                                        </a>
                                                    </span>
                                                    <span *ngIf="datafeature?.locked && (datafeature.userProviderStatus && datafeature.userProviderStatus.indexOf(262) !== -1)" triggers="manual">
                                                        <a class="provider-title" target="_self" [routerLink]="['../unproviders', datafeature.recordID ]"  [ngClass]="{blurText: datafeature?.locked}">{{datafeature.providerName}}
                                                            <span *ngIf="datafeature.ownerOrganization && datafeature.ownerOrganization.name && datafeature.ownerOrganization.name.toLocaleUpperCase() != datafeature.providerName.toLocaleUpperCase() && datafeature.ownerOrganization.name !='NAME_NULL'"> by {{datafeature.ownerOrganization.name}}</span>
                                                        </a>
                                                    </span>
                                                </div>
                                                <div class="col-md-3 noPadding" [ngStyle]="{'border': 'none'}" (click)="unrestrictedUsers()">
                                                    <span class="text-center pull-right amass-progressbar-container" *ngIf="(datafeature.scoreOverall && datafeature.scoreOverall.description && datafeature.scoreOverall.description === '5')" [matTooltip]="datafeature.scoreOverall.description + '/5 Overall Score'">
                                                        <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                        <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                        <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                        <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                        <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                    </span>
                                                    <span class="text-center pull-right amass-progressbar-container" *ngIf="(datafeature.scoreOverall && datafeature.scoreOverall.description && datafeature.scoreOverall.description === '4')" [matTooltip]="datafeature.scoreOverall.description + '/5 Overall Score'">
                                                        <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                        <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                        <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                        <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                    </span>
                                                    <span class="text-center pull-right amass-progressbar-container" *ngIf="(datafeature.scoreOverall && datafeature.scoreOverall.description  && datafeature.scoreOverall.description === '3')" [matTooltip]="datafeature.scoreOverall.description + '/5 Overall Score'">
                                                        <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                        <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                        <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                    </span>
                                                    <span class="text-center pull-right amass-progressbar-container" *ngIf="(datafeature.scoreOverall && datafeature.scoreOverall.description  && datafeature.scoreOverall.description === '2')" [matTooltip]="datafeature.scoreOverall.description + '/5 Overall Score'">
                                                        <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                        <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                    </span>
                                                    <span class="text-center pull-right amass-progressbar-container" *ngIf="(datafeature.scoreOverall && datafeature.scoreOverall.description  && datafeature.scoreOverall.description === '1')" [matTooltip]="datafeature.scoreOverall.description + '/5 Overall Score'">
                                                        <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </h4>
                                    </div>
                                    <div  class="col-md-12 noPadding">
                                        <div class="row col-md-12 noPadding">
                                            <div class="col-md-6 no-padding">
                                                <span *ngIf='datafeature.mainDataIndustry && datafeature.mainDataIndustry.dataIndustry != "DATA_INDUSTRY_NULL"'>
                                                    <span class="grey-text"><a class="clickable-link" target="_self" (click)="unrestrictedUsers()">Main Data Industry:</a>
                                                    </span> <br>
                                                    <a (click)="unrestrictedUsers()">
                                                        <span [matTooltip]="datafeature.mainDataIndustry?.explanation" >{{datafeature.mainDataIndustry?.dataIndustry}}</span>
                                                    </a>
                                                </span>
                                            </div>
                                            <div class="col-md-6 ">
                                                <span *ngIf='datafeature.mainDataCategory && datafeature.mainDataCategory.datacategory != "DATA_CATEGORY_NULL"'>
                                                    <span class="grey-text"><a class="clickable-link" target="_self" (click)="unrestrictedUsers()">Main Data Category:</a>
                                                    </span> <br>
                                                    <a (click)="unrestrictedUsers()" *ngIf="!datafeature.mainDataCategory.locked">
                                                            <span [matTooltip]="datafeature.mainDataCategory?.explanation" [matTooltipDisabled]="datafeature.mainDataCategory?.locked">{{datafeature.mainDataCategory?.datacategory}}</span>
                                                    </a>
                                                    <span (click)="unrestrictedUsers()" [ngClass]="{blurText: datafeature.mainDataCategory.locked}" [matTooltip]="'Your account does not have permission to view this.'"*ngIf="datafeature.mainDataCategory.locked">{{datafeature.mainDataCategory?.datacategory}}</span>
                                                </span>
                                            </div>
                                            <p *ngIf='datafeature.shortDescription != "DESCRIPTION_NULL"' class="media-desc col-md-12 no-padding" style="margin-top: 10px;"><a class="clickable-link" target="_self" (click)="unrestrictedUsers()">{{datafeature.shortDescription}}</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-12 noPadding media-text list-bootom">
                                    <div class="col-md-4" style="margin-top: 0px;padding:5px 10px 0 0px;">
                                        <div [ngStyle]="{'float': 'left'}">
                                            <span class="text-center pull-right amass-progressbar-container" [ngStyle]="{'padding-right':'0px','width': '136px'}">
                                                <a class="clickable-link" target="_self" (click)="unrestrictedUsers()">
                                                    <mat-progress-bar class="amass-progressbar amass-progressbar-default" aria-label="% Complete" [color]="progressBarColor" [mode]="progressBarMode" [value]="datafeature.completeness"  [bufferValue]="datafeature.completeness"><span>{{datafeature.completeness}}% Complete</span></mat-progress-bar>
                                                </a>
                                            </span>
                                        </div>
                                        <div class="amass-progressbar-value progress-value" [ngStyle]="{'margin-left': datafeature.logo && datafeature.logo.logo ? '30px': '30px'}">
                                            <span (click)="unrestrictedUsers()" [matTooltip]="datafeature.completeness + '% ' + 'percent of this data providers profile that has been filled in'" >{{datafeature.completeness}}% Complete</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="margin-top: 0px">
                                        <span class="media-desc" *ngIf="datafeature.createdDate != null"><a class="clickable-link" target="_self" (click)="unrestrictedUsers()">Added: {{datafeature.createdDate | date : 'mediumDate'}}</a></span>
                                    </div>
                                    <div class="col-md-4" style="margin-top: 0px">
                                        <span class="media-desc" *ngIf="datafeature.updatedDate != null"><a class="clickable-link" target="_self" (click)="unrestrictedUsers()">Last Updated: {{datafeature.updatedDate | date : 'mediumDate'}}</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-2 noPadding" style="margin-top: 5px;padding-right: 10px;">
                                <div class="social">
                                    <div class="social-container">
                                        <ul [ngStyle]="{'padding': '0','margin':'0'}">
                                            <li [ngStyle]="{'clear': 'both'}" class="profile-list-padding">
                                                <a>
                                                    <!-- <span matTooltip="Unfollow Provider Updates" *ngIf="datafeature.followed" >
                                                        <button class="request-btn text-uppercase" type="submit" value="Follow">
                                                            <i class="fa fa-minus-circle" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;color:#3306f9"></i>
                                                            <span>Unfollow</span>
                                                        </button>
                                                    </span> -->
                                                    <span matTooltip="Follow Provider Updates">
                                                        <button class="btn-lock text-uppercase" color="warn" type="submit" value="Follow" (click)="unrestrictedUsers();providerFollow({'label':'Providers List - Provider - Follow','category':'Provider Follow','event': 'Followed'})">
                                                            <i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;color:#fff"></i>
                                                            <span>Follow</span>
                                                        </button>
                                                    </span>
                                                </a>
                                            </li>
                                            <li style="clear: both" ngbDropdown class="nav-item dropdown pointer request-drop-dwn request-list profile-list-padding" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                                <a class="request-drop-dwn" href="javascript:void(0);" id="entity-menu" [ngStyle]="{'color': '#fff'}">

                                                    <button matTooltip="Make a Request Related to this Provider" type="button" (click)="featureRequest()" ngbDropdownToggle mat-button class="btn-lock text-uppercase headerSignUp dropdown-toggle">
                                                        <img src="../../../content/images/icons/White-Request-icon-original.png" class="request-share-img">
                                                        <span>Request</span>
                                                    </button>
                                                </a>
                                            </li>
                                            <li class="dropdown profile-list-padding share-buttons-wrapper" ngbDropdown>
                                                <button matTooltip="Share This Provider" class="btn btn-lock dropdown-toggle text-uppercase" (click)="featureRequest();shreDropDown({'label':'Providers List - Provider - Share','category':'Provider Profile','event': 'Share Link Clicked'})" ngbDropdownToggle type="button" id="shareMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img src="../../../content/images/icons/White-Share-icon-original.png" class="share-image" />
                                                    <span>Share</span>
                                                </button>
                                                <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="shareMenuButton">
                                                    <share-button class="dropdown-menu-item" (click)="shreDropDown({'label':'Providers List - Provider - Share - Email','category':'Provider Profile','event': 'Share Link Clicked'})"
                                                            [button]="'email'"
                                                            [showText]="true"
                                                            [autoSetMeta]="false"
                                                            [url]="datafeature?.url"
                                                            [description]="datafeature?.emailText"
                                                            [matTooltip]="'Share This Provider Through Email'"
                                                    ></share-button>
                                                    <share-button class="dropdown-menu-item" (click)="shreDropDown({'label':'Providers List - Provider - Share - LinkedIn','category':'Provider Profile','event': 'Share Link Clicked'})"
                                                            [button]="'linkedin'"
                                                            [showText]="true"
                                                            [autoSetMeta]="false"
                                                            [url]="datafeature?.url"
                                                            [description]="datafeature?.linkedInText"
                                                            [matTooltip]="'Share This Provider Through LinkedIn'"
                                                    ></share-button>
                                                    <share-button class="dropdown-menu-item" (click)="shreDropDown({'label':'Providers List - Provider - Share - Twitter','category':'Provider Profile','event': 'Share Link Clicked'})"
                                                            [button]="'twitter'"
                                                            [showText]="true"
                                                            [autoSetMeta]="false"
                                                            [url]="datafeature?.url"
                                                            [description]="datafeature?.twitterText"
                                                            [matTooltip]="'Share This Provider Through Twitter'"
                                                    ></share-button>
                                                    <share-button class="dropdown-menu-item" (click)="shreDropDown({'label':'Providers List - Provider - Share - Link','category':'Provider Profile','event': 'Share Link Clicked'})"
                                                            [button]="'copy'"
                                                            [showText]="true"
                                                            [url]="datafeature?.url"
                                                            [autoSetMeta]="false"
                                                            [matTooltip]="'Copy the Link to this Provider'"
                                                    ></share-button>
                                                </div>
                                            </li>
                                            <li class="dropdown profile-list-padding" ngbDropdown [autoClose]="'outside'">
                                                <button matTooltip="Add Personal Tag to Provider" class="btn btn-lock tag-buttons-wrapper dropdown-toggle text-uppercase" (click)="featureRequest();shreDropDown({'label':'Providers List - Provider - Tags','category':'Provider Tag','event': 'Tagged'})" ngbDropdownToggle type="button" id="shareMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                     <img src="../../../content/images/icons/tag icon white.png" class="share-image" />
                                                    <span>Tag</span>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="upcoming-btn">
        <button class="home-button" type="button" mat-raised-button color="warn" (click)="featureSignups()">Sign Up to See Thousands More Providers</button>
    </div>
</div>
