<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDataProviderLabel" jhiTranslate="datamarketplaceApp.dataProvider.home.createOrEditLabel">Create or edit a Data Provider</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!dataProvider.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="dataProvider.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.recordID" for="field_recordID">Record ID</label>
            <input type="text" class="form-control" name="recordID" id="field_recordID"
                [(ngModel)]="dataProvider.recordID" maxlength="50" />
            <div [hidden]="!(editForm.controls.recordID?.dirty && editForm.controls.recordID?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.recordID?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.providerName" for="field_providerName">Provider Name</label>
            <input type="text" class="form-control" name="providerName" id="field_providerName"
                [(ngModel)]="dataProvider.providerName" required maxlength="100" />
            <div [hidden]="!(editForm.controls.providerName?.dirty && editForm.controls.providerName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.providerName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.providerName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.website" for="field_website">Website</label>
            <input type="text" class="form-control" name="website" id="field_website"
                [(ngModel)]="dataProvider.website" required maxlength="128" />
            <div [hidden]="!(editForm.controls.website?.dirty && editForm.controls.website?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.website?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.website?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 128 }">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.shortDescription" for="field_shortDescription">Short Description</label>
            <textarea class="form-control" name="shortDescription" id="field_shortDescription"
                [(ngModel)]="dataProvider.shortDescription" required ></textarea>
            <div [hidden]="!(editForm.controls.shortDescription?.dirty && editForm.controls.shortDescription?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.shortDescription?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.longDescription" for="field_longDescription">Long Description</label>
            <textarea class="form-control" name="longDescription" id="field_longDescription"
                [(ngModel)]="dataProvider.longDescription" required ></textarea>
            <div [hidden]="!(editForm.controls.longDescription?.dirty && editForm.controls.longDescription?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.longDescription?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.mainAssetClass" for="field_mainAssetClass">Main Asset Class</label>
            <input type="text" class="form-control" name="mainAssetClass" id="field_mainAssetClass"
                [(ngModel)]="dataProvider.mainAssetClass" required maxlength="64" />
            <div [hidden]="!(editForm.controls.mainAssetClass?.dirty && editForm.controls.mainAssetClass?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.mainAssetClass?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.mainAssetClass?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 64 }">
                   This field cannot be longer than 64 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.notes" for="field_notes">Notes</label>
            <textarea class="form-control" name="notes" id="field_notes"
                [(ngModel)]="dataProvider.notes" required ></textarea>
            <div [hidden]="!(editForm.controls.notes?.dirty && editForm.controls.notes?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.notes?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.live" for="field_live">Live</label>
            <input type="number" class="form-control" name="live" id="field_live"
                [(ngModel)]="dataProvider.live" required max="2" />
            <div [hidden]="!(editForm.controls.live?.dirty && editForm.controls.live?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.live?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.live?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 2 }">
                    This field cannot be more than 2.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.live?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.createdDate" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="dataProvider.createdDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.updatedDate" for="field_updatedDate">Updated Date</label>
            <div class="d-flex">
                <input id="field_updatedDate" type="datetime-local" class="form-control" name="updatedDate" [(ngModel)]="dataProvider.updatedDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.dataUpdateFrequency" for="field_dataUpdateFrequency">Data Update Frequency</label>
            <input type="text" class="form-control" name="dataUpdateFrequency" id="field_dataUpdateFrequency"
                [(ngModel)]="dataProvider.dataUpdateFrequency" maxlength="50" />
            <div [hidden]="!(editForm.controls.dataUpdateFrequency?.dirty && editForm.controls.dataUpdateFrequency?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dataUpdateFrequency?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.dataUpdateFrequencyNotes" for="field_dataUpdateFrequencyNotes">Data Update Frequency Notes</label>
            <input type="text" class="form-control" name="dataUpdateFrequencyNotes" id="field_dataUpdateFrequencyNotes"
                [(ngModel)]="dataProvider.dataUpdateFrequencyNotes" maxlength="64" />
            <div [hidden]="!(editForm.controls.dataUpdateFrequencyNotes?.dirty && editForm.controls.dataUpdateFrequencyNotes?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dataUpdateFrequencyNotes?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 64 }">
                   This field cannot be longer than 64 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.dateCollectionBegan" for="field_dateCollectionBegan">Date Collection Began</label>
            <input type="text" class="form-control" name="dateCollectionBegan" id="field_dateCollectionBegan"
                [(ngModel)]="dataProvider.dateCollectionBegan" maxlength="50" />
            <div [hidden]="!(editForm.controls.dateCollectionBegan?.dirty && editForm.controls.dateCollectionBegan?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateCollectionBegan?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.dateCollectionRangeExplanation" for="field_dateCollectionRangeExplanation">Date Collection Range Explanation</label>
            <input type="text" class="form-control" name="dateCollectionRangeExplanation" id="field_dateCollectionRangeExplanation"
                [(ngModel)]="dataProvider.dateCollectionRangeExplanation" maxlength="128" />
            <div [hidden]="!(editForm.controls.dateCollectionRangeExplanation?.dirty && editForm.controls.dateCollectionRangeExplanation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateCollectionRangeExplanation?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 128 }">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.collectionMethodsExplanation" for="field_collectionMethodsExplanation">Collection Methods Explanation</label>
            <textarea class="form-control" name="collectionMethodsExplanation" id="field_collectionMethodsExplanation"
                [(ngModel)]="dataProvider.collectionMethodsExplanation"  ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.potentialDrawbacks" for="field_potentialDrawbacks">Potential Drawbacks</label>
            <input type="text" class="form-control" name="potentialDrawbacks" id="field_potentialDrawbacks"
                [(ngModel)]="dataProvider.potentialDrawbacks" maxlength="512" />
            <div [hidden]="!(editForm.controls.potentialDrawbacks?.dirty && editForm.controls.potentialDrawbacks?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.potentialDrawbacks?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 512 }">
                   This field cannot be longer than 512 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.uniqueValueProps" for="field_uniqueValueProps">Unique Value Props</label>
            <input type="text" class="form-control" name="uniqueValueProps" id="field_uniqueValueProps"
                [(ngModel)]="dataProvider.uniqueValueProps" maxlength="1024" />
            <div [hidden]="!(editForm.controls.uniqueValueProps?.dirty && editForm.controls.uniqueValueProps?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.uniqueValueProps?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                   This field cannot be longer than 1024 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.historicalDateRange" for="field_historicalDateRange">Historical Date Range</label>
            <input type="text" class="form-control" name="historicalDateRange" id="field_historicalDateRange"
                [(ngModel)]="dataProvider.historicalDateRange" maxlength="50" />
            <div [hidden]="!(editForm.controls.historicalDateRange?.dirty && editForm.controls.historicalDateRange?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.historicalDateRange?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.keyDataFields" for="field_keyDataFields">Key Data Fields</label>
            <input type="text" class="form-control" name="keyDataFields" id="field_keyDataFields"
                [(ngModel)]="dataProvider.keyDataFields" maxlength="512" />
            <div [hidden]="!(editForm.controls.keyDataFields?.dirty && editForm.controls.keyDataFields?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.keyDataFields?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 512 }">
                   This field cannot be longer than 512 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.summary" for="field_summary">Summary</label>
            <input type="text" class="form-control" name="summary" id="field_summary"
                [(ngModel)]="dataProvider.summary" maxlength="1024" />
            <div [hidden]="!(editForm.controls.summary?.dirty && editForm.controls.summary?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.summary?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                   This field cannot be longer than 1024 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.researchMethodsCompleted" for="field_researchMethodsCompleted">Research Methods Completed</label>
            <input type="text" class="form-control" name="researchMethodsCompleted" id="field_researchMethodsCompleted"
                [(ngModel)]="dataProvider.researchMethodsCompleted" maxlength="512" />
            <div [hidden]="!(editForm.controls.researchMethodsCompleted?.dirty && editForm.controls.researchMethodsCompleted?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.researchMethodsCompleted?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 512 }">
                   This field cannot be longer than 512 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.scoreInvestorsWillingness" for="field_investorsScoreWillingness">Investors Score Willingness</label>
            <input type="text" class="form-control" name="scoreInvestorsWillingness" id="field_investorsScoreWillingness"
                [(ngModel)]="dataProvider.scoreInvestorsWillingness" maxlength="64" />
            <div [hidden]="!(editForm.controls.scoreInvestorsWillingness?.dirty && editForm.controls.scoreInvestorsWillingness?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.scoreInvestorsWillingness?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 64 }">
                   This field cannot be longer than 64 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.investor_clients" for="field_investor_clients">Investor Clients</label>
            <input type="text" class="form-control" name="investor_clients" id="field_investor_clients"
                [(ngModel)]="dataProvider.investor_clients" maxlength="50" />
            <div [hidden]="!(editForm.controls.investor_clients?.dirty && editForm.controls.investor_clients?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.investor_clients?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.historicalDateRangeEstimate" for="field_historicalDateRangeEstimate">Historical Date Range Estimate</label>
            <input type="text" class="form-control" name="historicalDateRangeEstimate" id="field_historicalDateRangeEstimate"
                [(ngModel)]="dataProvider.historicalDateRangeEstimate" maxlength="50" />
            <div [hidden]="!(editForm.controls.historicalDateRangeEstimate?.dirty && editForm.controls.historicalDateRangeEstimate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.historicalDateRangeEstimate?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.publicCompaniesCovered" for="field_publicCompaniesCovered">Public Companies Covered</label>
            <input type="text" class="form-control" name="publicCompaniesCovered" id="field_publicCompaniesCovered"
                [(ngModel)]="dataProvider.publicCompaniesCovered" maxlength="50" />
            <div [hidden]="!(editForm.controls.publicCompaniesCovered?.dirty && editForm.controls.publicCompaniesCovered?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.publicCompaniesCovered?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.scoreUniqueness" for="field_uniquenessScore">Uniqueness Score</label>
            <input type="text" class="form-control" name="scoreUniqueness" id="field_uniquenessScore"
                [(ngModel)]="dataProvider.scoreUniqueness" maxlength="64" />
            <div [hidden]="!(editForm.controls.scoreUniqueness?.dirty && editForm.controls.scoreUniqueness?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.scoreUniqueness?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 64 }">
                   This field cannot be longer than 64 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.scoreValue" for="field_valueScore">Value Score</label>
            <input type="text" class="form-control" name="scoreValue" id="field_valueScore"
                [(ngModel)]="dataProvider.scoreValue" maxlength="56" />
            <div [hidden]="!(editForm.controls.scoreValue?.dirty && editForm.controls.scoreValue?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.scoreValue?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 56 }">
                   This field cannot be longer than 56 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.scoreReadiness" for="field_readinessScore">Readiness Score</label>
            <input type="text" class="form-control" name="scoreReadiness" id="field_readinessScore"
                [(ngModel)]="dataProvider.scoreReadiness" maxlength="50" />
            <div [hidden]="!(editForm.controls.scoreReadiness?.dirty && editForm.controls.scoreReadiness?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.scoreReadiness?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.marketplaceStatus" for="field_marketplaceStatus">Marketplace Status</label>
            <input type="text" class="form-control" name="marketplaceStatus" id="field_marketplaceStatus"
                [(ngModel)]="dataProvider.marketplaceStatus" maxlength="50" />
            <div [hidden]="!(editForm.controls.marketplaceStatus?.dirty && editForm.controls.marketplaceStatus?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.marketplaceStatus?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.freeTrialAvailable" for="field_freeTrialAvailable">Free Trial Available</label>
            <input type="text" class="form-control" name="freeTrialAvailable" id="field_freeTrialAvailable"
                [(ngModel)]="dataProvider.freeTrialAvailable" maxlength="50" />
            <div [hidden]="!(editForm.controls.freeTrialAvailable?.dirty && editForm.controls.freeTrialAvailable?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.freeTrialAvailable?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.productDetails" for="field_productDetails">Product Details</label>
            <input type="text" class="form-control" name="productDetails" id="field_productDetails"
                [(ngModel)]="dataProvider.productDetails" maxlength="50" />
            <div [hidden]="!(editForm.controls.productDetails?.dirty && editForm.controls.productDetails?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.productDetails?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.mainDataCategory" for="field_mainDataCategory">Main Data Category</label>
            <select class="form-control" id="field_mainDataCategory" name="mainDataCategory" [(ngModel)]="dataProvider.mainDataCategory" >
                <option [ngValue]="null"></option>
                <option [ngValue]="dataCategoryOption.id === dataProvider.mainDataCategory?.id ? dataProvider.mainDataCategory : dataCategoryOption" *ngFor="let dataCategoryOption of datacategories; trackBy: trackDataCategoryById">{{dataCategoryOption.datacategory}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.ownerOrganization" for="field_ownerOrganization">Owner Organization</label>
            <select class="form-control" id="field_ownerOrganization" name="ownerOrganization" [(ngModel)]="dataProvider.ownerOrganization" >
                <option [ngValue]="null"></option>
                <option [ngValue]="dataOrganizationOption.id === dataProvider.ownerOrganization?.id ? dataProvider.ownerOrganization : dataOrganizationOption" *ngFor="let dataOrganizationOption of dataorganizations; trackBy: trackDataOrganizationById">{{dataOrganizationOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.mainDataIndustry" for="field_mainDataIndustry">Main Data Industry</label>
            <select class="form-control" id="field_mainDataIndustry" name="mainDataIndustry" [(ngModel)]="dataProvider.mainDataIndustry" >
                <option [ngValue]="null"></option>
                <option [ngValue]="dataIndustryOption.id === dataProvider.mainDataIndustry?.id ? dataProvider.mainDataIndustry : dataIndustryOption" *ngFor="let dataIndustryOption of dataindustries; trackBy: trackDataIndustryById">{{dataIndustryOption.dataIndustry}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataProvider.providerType" for="field_providerType">Provider Type</label>
            <select class="form-control" id="field_providerType" name="providerType" [(ngModel)]="dataProvider.providerType" >
                <option [ngValue]="null"></option>
                <option [ngValue]="dataProviderTypeOption.id === dataProvider.providerType?.id ? dataProvider.providerType : dataProviderTypeOption" *ngFor="let dataProviderTypeOption of dataprovidertypes; trackBy: trackDataProviderTypeById">{{dataProviderTypeOption.providerType}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="datamarketplaceApp.dataProvider.geographicalFocus" for="field_geographicalFocus">Geographical Focus</label>
            <select class="form-control" id="field_geographicalFocus" multiple name="geographicalFocus" [(ngModel)]="dataProvider.geographicalFoci">
                <option [ngValue]="getSelected(dataProvider.geographicalFoci, lookupCodeOption)" *ngFor="let lookupCodeOption of lookupcodes; trackBy: trackLookupCodeById">{{lookupCodeOption.description}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="datamarketplaceApp.dataProvider.partner" for="field_partner">Partner</label>
            <select class="form-control" id="field_partner" multiple name="partner" [(ngModel)]="dataProvider.partners">
                <option [ngValue]="getSelected(dataProvider.partners, dataProviderOption)" *ngFor="let dataProviderOption of dataproviders; trackBy: trackDataProviderById">{{dataProviderOption.providerName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="datamarketplaceApp.dataProvider.industry" for="field_industry">Industry</label>
            <select class="form-control" id="field_industry" multiple name="industry" [(ngModel)]="dataProvider.industries">
                <option [ngValue]="getSelected(dataProvider.industries, dataIndustryOption)" *ngFor="let dataIndustryOption of dataindustries; trackBy: trackDataIndustryById">{{dataIndustryOption.dataIndustry}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="datamarketplaceApp.dataProvider.category" for="field_category">Category</label>
            <select class="form-control" id="field_category" multiple name="category" [(ngModel)]="dataProvider.categories">
                <option [ngValue]="getSelected(dataProvider.categories, dataCategoryOption)" *ngFor="let dataCategoryOption of datacategories; trackBy: trackDataCategoryById">{{dataCategoryOption.dataCategory}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="datamarketplaceApp.dataProvider.feature" for="field_feature">Feature</label>
            <select class="form-control" id="field_feature" multiple name="feature" [(ngModel)]="dataProvider.features">
                <option [ngValue]="getSelected(dataProvider.features, dataFeatureOption)" *ngFor="let dataFeatureOption of datafeatures; trackBy: trackDataFeatureById">{{dataFeatureOption.dataFeature}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="datamarketplaceApp.dataProvider.articles" for="field_articles">Articles</label>
            <select class="form-control" id="field_articles" multiple name="articles" [(ngModel)]="dataProvider.articles">
                <option [ngValue]="getSelected(dataProvider.articles, dataArticleOption)" *ngFor="let dataArticleOption of dataarticles; trackBy: trackDataArticleById">{{dataArticleOption.title}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="datamarketplaceApp.dataProvider.providerTag" for="field_providerTag">Provider Tag</label>
            <select class="form-control" id="field_providerTag" multiple name="providerTag" [(ngModel)]="dataProvider.providerTags">
                <option [ngValue]="getSelected(dataProvider.providerTags, dataProviderTagOption)" *ngFor="let dataProviderTagOption of dataprovidertags; trackBy: trackDataProviderTagById">{{dataProviderTagOption.providerTag}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="datamarketplaceApp.dataProvider.source" for="field_source">Source</label>
            <select class="form-control" id="field_source" multiple name="source" [(ngModel)]="dataProvider.sources">
                <option [ngValue]="getSelected(dataProvider.sources, dataSourceOption)" *ngFor="let dataSourceOption of datasources; trackBy: trackDataSourceById">{{dataSourceOption.dataSource}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="datamarketplaceApp.dataProvider.assetClass" for="field_assetClass">Asset Class</label>
            <select class="form-control" id="field_assetClass" multiple name="assetClass" [(ngModel)]="dataProvider.assetClasses">
                <option [ngValue]="getSelected(dataProvider.assetClasses, lookupCodeOption)" *ngFor="let lookupCodeOption of lookupcodes; trackBy: trackLookupCodeById">{{lookupCodeOption.description}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="datamarketplaceApp.dataProvider.investorType" for="field_investorType">Investor Type</label>
            <select class="form-control" id="field_investorType" multiple name="investorType" [(ngModel)]="dataProvider.investorTypes">
                <option [ngValue]="getSelected(dataProvider.investorTypes, lookupCodeOption)" *ngFor="let lookupCodeOption of lookupcodes; trackBy: trackLookupCodeById">{{lookupCodeOption.description}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="datamarketplaceApp.dataProvider.securityType" for="field_securityType">Security Type</label>
            <select class="form-control" id="field_securityType" multiple name="securityType" [(ngModel)]="dataProvider.securityTypes">
                <option [ngValue]="getSelected(dataProvider.securityTypes, lookupCodeOption)" *ngFor="let lookupCodeOption of lookupcodes; trackBy: trackLookupCodeById">{{lookupCodeOption.description}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="datamarketplaceApp.dataProvider.deliveryMethod" for="field_deliveryMethod">Delivery Method</label>
            <select class="form-control" id="field_deliveryMethod" multiple name="deliveryMethod" [(ngModel)]="dataProvider.deliveryMethods">
                <option [ngValue]="getSelected(dataProvider.deliveryMethods, lookupCodeOption)" *ngFor="let lookupCodeOption of lookupcodes; trackBy: trackLookupCodeById">{{lookupCodeOption.description}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="datamarketplaceApp.dataProvider.deliveryFormat" for="field_deliveryFormat">Delivery Format</label>
            <select class="form-control" id="field_deliveryFormat" multiple name="deliveryFormat" [(ngModel)]="dataProvider.deliveryFormats">
                <option [ngValue]="getSelected(dataProvider.deliveryFormats, lookupCodeOption)" *ngFor="let lookupCodeOption of lookupcodes; trackBy: trackLookupCodeById">{{lookupCodeOption.description}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="datamarketplaceApp.dataProvider.deliveryFrequency" for="field_deliveryFrequency">Delivery Frequency</label>
            <select class="form-control" id="field_deliveryFrequency" multiple name="deliveryFrequency" [(ngModel)]="dataProvider.deliveryFrequencies">
                <option [ngValue]="getSelected(dataProvider.deliveryFrequencies, lookupCodeOption)" *ngFor="let lookupCodeOption of lookupcodes; trackBy: trackLookupCodeById">{{lookupCodeOption.description}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="datamarketplaceApp.dataProvider.pricingModel" for="field_pricingModel">Pricing Model</label>
            <select class="form-control" id="field_pricingModel" multiple name="pricingModel" [(ngModel)]="dataProvider.pricingModel">
                <option [ngValue]="getSelected(dataProvider.pricingModel, lookupCodeOption)" *ngFor="let lookupCodeOption of lookupcodes; trackBy: trackLookupCodeById">{{lookupCodeOption.description}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="datamarketplaceApp.dataProvider.relevantSector" for="field_relevantSector">Relevant Sector</label>
            <select class="form-control" id="field_relevantSector" multiple name="relevantSector" [(ngModel)]="dataProvider.relevantSectors">
                <option [ngValue]="getSelected(dataProvider.relevantSectors, lookupCodeOption)" *ngFor="let lookupCodeOption of lookupcodes; trackBy: trackLookupCodeById">{{lookupCodeOption.description}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
