<div class="page-title">
    <div class="row no-margin" *ngIf="dataProvider">
        <div class="col-md-3 pull-left" *ngIf="!pendingEdits">
            <div class="text-center amass-progressbar-container">
                <div class="amass-progressbar-value"><span matTooltip="Percent of your data profile that has been filled in" class="white-text">{{completeness}}% Complete</span></div>
                <mat-progress-bar class="amass-progressbar amass-progressbar-default" [color]="progressBarColor" [mode]="progressBarMode" [value]="dataProvider.completeness" [bufferValue]="dataProvider.completeness"></mat-progress-bar>
            </div>
            <div class="form-group">
                <button mat-raised-button  (click)="settings()" color="warn" type="button">Account Settings</button>
            </div>
        </div>

        <div class="col-md-6 text-center" *ngIf="!pendingEdits">
            <span *ngIf="dataProvider"> Edit </span> <span *ngIf="dataProvider" [ngClass]="{blurText: dataProvider.locked}">{{dataProvider.providerName}}</span> <span *ngIf="dataProvider"> Data Profile</span>
        </div>
        <div class="col-md-3 pull-right" *ngIf="!pendingEdits">
            <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="submitProviderEdit(basicModel,'Overall Details');formSubmit({'label':'Provider Profile Form - Button - Submit Changes','category':'Provider Profile Form','event': 'Submitted'})">Submit Changes</button>
            <ng-container *ngIf="progressSpinner && overAll === 'Overall Details'">
                <jhi-progress-spinner></jhi-progress-spinner>
            </ng-container>
            <!-- <button mat-raised-button color="warn">Discard My Changes</button> -->
            <a [routerLink]="['../']"><button mat-raised-button color="warn" type="button">View My Profile</button></a>
        </div>
    </div>
</div>
<div class="col-sm-12 user-msg-text" *ngIf="dataProvider">
    <span><p><strong>NOTICE:</strong> The purpose of this form is to accurately profile your data provider brand, including all of your data product offerings, for inclusion in the Insights Platform. The more information you share the better, as data buyers with large budgets will be looking for the most complete profiles. You also have the opportunity to choose the level of privacy of the information you share with us below.<br><br>
        You will see that we may have already filled in some of the information below for you, primarily from public sources. Please check the accuracy of this and fill in the blanks as much as you can.<br><br>
        If you have any questions or problems, take a look at <a class="link" [routerLink]="['/how-it-works-providers']" routerLinkActive="router-link-active">How It Works</a> or email team@amassinsights.com.</p></span>
</div>
<section class="content-wrapper" *ngIf="pendingEdits">
        <div class="container">
            <mat-card>
                <div class="col-md-8">
                    <h1>Pending Edits!</h1>
                </div>
            </mat-card>
        </div>
</section>
<div class="container">
    <jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)"></jhi-inactivity-timer>
<section class="section-margin" *ngIf="!pendingEdits">
    <div class="row" *ngIf="dataProvider">
        <div class="col-md-12">
            <mat-tab-group disableRipple class="mat-elevation-z2" [(selectedIndex)]="tabIndex">
                <mat-tab label="Overview" (backgroundColor)="progressBarColor">
                    <ng-template mat-tab-label>
                            <span matTooltip="High-level overview of your characteristics.">Overview</span>
                    </ng-template>

                    <div class="tab-content-row">
                        <mat-accordion>
                            <mat-expansion-panel [expanded]="privacySecurityPanel">
                                <mat-expansion-panel-header>
                                    <b class="tab-content-title" matTooltip="Your preferences on the visibility and security of your data profile.">Privacy and Security</b>
                                </mat-expansion-panel-header>

                                <form role="form" novalidate id="privacySecurityForm" [formGroup]="privacySecurityForm" (ngSubmit)="submitProviderEdit(basicModel, 'Privacy and Security', 'privacySecurityPanel', 'basicExpansionPanel', 0, 'privacySecurityForm')" class="formlyJSONForm">
                                    <formly-form [model]="basicModel" [fields]="privacySecurityFields" [options]="privacySecurityOptions" [form]="privacySecurityForm">
                                        <div class="form-group row">
                                                <label class="col-sm-2 col-form-label opensans-bold">
                                                    Consent + Confirmation: *
                                                </label>
                                                <div class="col-sm-10">
                                                    <label class="form-description">
                                                        <mat-checkbox class="amass-checkbox" color="warn" [(ngModel)]="basicModel.consent" [ngModelOptions]="{standalone: true}">
                                                            <p>I agree to the <a [routerLink]="['/terms']" routerLinkActive="router-link-active">Terms of Service</a> , <a [routerLink]="['/privacy-policy']" routerLinkActive="router-link-active">Privacy Policy</a> , and depending on my choice of Partnership above, the Referral Agreement or Reseller Agreement (if applicable). I agree that, despite my choice of Visibility above, Amass Insights LLC and its affiliates (and certain trusted service providers) will have access to the information I share here. Additionally, I agree that Amass Insights LLC will have the right to share this information with the users or types of users I have chosen here.</p>
                                                        </mat-checkbox>
                                                        <span class="alert" *ngIf="!basicModel.consent">
                                                            {{agreeValidationMessage}}
                                                        </span>
                                                    </label>
                                                </div>
                                        </div>
                                        <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Form - Panel - Basic - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                        <ng-container *ngIf="progressSpinner && panelName === 'Privacy and Security'">
                                            <jhi-progress-spinner></jhi-progress-spinner>
                                        </ng-container>
                                    </formly-form>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel [expanded]="basicExpansionPanel">
                                <mat-expansion-panel-header>
                                    <b class="tab-content-title" matTooltip="Your basic information.">Basic</b>
                                </mat-expansion-panel-header>

                                <form role="form" novalidate id="basicForm" [formGroup]="basicForm" (ngSubmit)="submitProviderEdit(basicModel, 'Basic Details', 'basicExpansionPanel', 'documentExpansionPanel', 0, 'basicForm')" class="formlyJSONForm">
                                    <formly-form [model]="basicModel" [fields]="basicFields" [options]="basicOptions" [form]="basicForm">
                                        <!-- <div class="form-group row">
                                            <label class="col-sm-2 col-form-label opensans-bold">
                                                Relevant Files:
                                            </label>
                                            <div class="col-sm-10">
                                                <label class="form-description">
                                                    Please upload any documents that contain information describing your data offerings, such as marketing literature, data dictionaries, data snapshots, case studies, white papers or anything else you think would help a potential data buyer understand your products.
                                                </label>
                                                <button type="button" mat-raised-button color="warn" (click)="openUppyDialog({'label':'Provider Profile Form - Panel - Basic - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Upload Files</button>
                                                <div>
                                                    <span class="form-placeholder-explanation">
                                                        Should the the documents you upload here address the majority of the forthcoming questions, NO NEED TO PROCEED. Amass' researchers will complete this form to the best of their abilities on your behalf, relying upon the details included in these attached materials. If any clarifications are needed or once Amass is finished reviewing the materials, you will be notified and have the opportunity to make further modifications to your data profile.
                                                    </span>
                                                </div>
                                            </div>
                                        </div> -->
                                    <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Form - Panel - Basic - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                    <ng-container *ngIf="progressSpinner && panelName === 'Basic Details'">
                                        <jhi-progress-spinner></jhi-progress-spinner>
                                    </ng-container>
                                    </formly-form>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel [expanded]="documentExpansionPanel">
                                <mat-expansion-panel-header>
                                    <b class="tab-content-title" matTooltip="Important documents detailing your company, data provider brand, data products, and datasets including file attachments and URLs of publicly-available websites.">Documents</b>
                                </mat-expansion-panel-header>

                                <form role="form" novalidate id="marketingForm" [formGroup]="marketingForm" (ngSubmit)="submitProviderEdit(basicModel, 'Document Details', 'documentExpansionPanel', 'companyExpansionPanel', 0, 'marketingForm')" class="formlyJSONForm">
                                    <div class="col-sm-12 user-msg-text">
                                        <span><strong>NOTICE:</strong> For your convenience, you can choose between uploading file attachments or submitting the URLs of websites containing the requested information (or add both!). This prevents the need to submit repetitive files if the information we ask for below already exists on your publicly-available websites. Max file size is 100MB.</span>
                                    </div>
                                    <formly-form [model]="documentMarketting" [fields]="documentMarkettingLiterature" [options]="documentOptions" [form]="marketingForm">
                                        <div class="form-group row">
                                           <!-- <button *ngIf="activeMarkettingLink" [ngStyle]="{'margin-left': '180px'}" mat-raised-button color="warn">+ Add Link</button> -->
                                        </div>
                                        <ng-container *ngIf="marketingLiteratureList && marketingLiteratureList.length > 0">
                                            <table class="table">
                                                <thead>
                                                    <tr style="text-align: center;">
                                                        <th scope="col" [ngStyle]="{'width': '90%'}">Marketing Literature Links and Files</th>
                                                        <th scope="col" [ngStyle]="{'width': '10%'}">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="font-size: 13px;">
                                                    <tr *ngFor="let item of marketingLiteratureList; let i = index">
                                                        <td *ngIf="item.fileType" (click)="onclick(item.fileType)">{{item.name}}</td>
                                                        <td *ngIf="item.linkType"><a class="text-color-none" href="{{item.linkType}}" target="_blank">{{item.linkType}}</a></td>
                                                        <td *ngIf="item.linkName"><a class="text-color-none" href="{{item.linkName}}" target="_blank">{{item.linkName}}</a></td>
                                                        <td *ngIf="item.filesName" (click)="onclick(item.fileID)">{{item.filesName}}</td>
                                                        <td><button type="button" mat-raised-button color="warn" class="btn-edit" [ngStyle]="{'margin-bottom': '10px'}" (click)="deleteMarketingLiterature(item, i); removeLink({'label':'Provider Profile Form - Marketing Literature - Button - Remove', 'category':'Provider Profile Form - Resource', 'event':'Removed'})">X Remove</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ng-container>
                                    </formly-form>
                                    <formly-form [model]="documentData" [fields]="documentDataDictionary" [options]="documentOptions" [form]="documentForm">
                                        <div class="form-group row">
                                            <!-- <button *ngIf="activeDataLink" [ngStyle]="{'margin-left': '180px'}" mat-raised-button color="warn">+ Add Link</button> -->
                                        </div>
                                        <ng-container *ngIf="dataDictionaryList && dataDictionaryList.length > 0">
                                            <table class="table">
                                                <thead>
                                                    <tr style="text-align: center;">
                                                        <th scope="col" [ngStyle]="{'width': '90%'}">Documenation & Data Dictionary Links and Files</th>
                                                        <th scope="col" [ngStyle]="{'width': '10%'}">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="font-size: 13px;">
                                                    <tr *ngFor="let item of dataDictionaryList; let i = index">
                                                        <td *ngIf="item.fileType" (click)="onclick(item.fileType)">{{item.name}}</td>
                                                        <td *ngIf="item.linkType"><a class="text-color-none" href="{{item.linkType}}" target="_blank">{{item.linkType}}</a></td>
                                                        <td *ngIf="item.linkName"><a class="text-color-none" href="{{item.linkName}}" target="_blank">{{item.linkName}}</a></td>
                                                        <td *ngIf="item.filesName" (click)="onclick(item.fileID)">{{item.filesName}}</td>
                                                        <td><button type="button" mat-raised-button color="warn" class="btn-edit" [ngStyle]="{'margin-bottom': '10px'}" (click)="deleteDocumentationDataDictionary(item, i); removeLink({'label':'Provider Profile Form - Documentation & Data Dictionary - Button - Remove', 'category':'Provider Profile Form - Resource', 'event':'Removed'})">X Remove</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ng-container>
                                    </formly-form>
                                    <formly-form [model]="documentSample" [fields]="documentSamples" [options]="documentOptions" [form]="samplesForm">
                                        <div class="form-group row">
                                           <!--  <button *ngIf="activeSamplesLink" [ngStyle]="{'margin-left': '180px'}" mat-raised-button color="warn">+ Add Link</button> -->
                                        </div>
                                        <ng-container *ngIf="samplesAndExamplesList && samplesAndExamplesList.length > 0">
                                            <table class="table">
                                                <thead>
                                                    <tr style="text-align: center;">
                                                        <th scope="col" [ngStyle]="{'width': '90%'}">Samples & Examples Links and Files</th>
                                                        <th scope="col" [ngStyle]="{'width': '10%'}">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="font-size: 13px;">
                                                    <tr *ngFor="let item of samplesAndExamplesList; let i = index">
                                                        <td *ngIf="item.fileType" (click)="onclick(item.fileType)">{{item.name}}</td>
                                                        <td *ngIf="item.linkType"><a class="text-color-none" href="{{item.linkType}}" target="_blank">{{item.linkType}}</a></td>
                                                        <td *ngIf="item.linkName"><a class="text-color-none" href="{{item.linkName}}" target="_blank">{{item.linkName}}</a></td>
                                                        <td *ngIf="item.filesName" (click)="onclick(item.fileID)">{{item.filesName}}</td>
                                                        <td><button type="button" mat-raised-button color="warn" class="btn-edit" [ngStyle]="{'margin-bottom': '10px'}" (click)="deleteSamplesExamples(item, i); removeLink({'label':'Provider Profile Form - Samples & Examples - Button - Remove', 'category':'Provider Profile Form - Resource', 'event':'Removed'})">X Remove</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ng-container>
                                    </formly-form>
                                    <formly-form [model]="documentReport" [fields]="documentReportsAnalyses" [options]="documentOptions" [form]="reportForm">
                                        <div class="form-group row">
                                            <!-- <button *ngIf="activeReportsLink" [ngStyle]="{'margin-left': '180px'}" mat-raised-button color="warn">+ Add Link</button> -->
                                        </div>
                                        <ng-container *ngIf="reportsAnalysesList && reportsAnalysesList.length > 0">
                                            <table class="table">
                                                <thead>
                                                    <tr style="text-align: center;">
                                                        <th scope="col" [ngStyle]="{'width': '90%'}">Reports & Analyses Links and Files</th>
                                                        <th scope="col" [ngStyle]="{'width': '10%'}">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="font-size: 13px;">
                                                    <tr *ngFor="let item of reportsAnalysesList; let i = index">
                                                        <td *ngIf="item.fileType" (click)="onclick(item.fileType)">{{item.name}}</td>
                                                        <td *ngIf="item.linkType"><a class="text-color-none" href="{{item.linkType}}" target="_blank">{{item.linkType}}</a></td>
                                                        <td *ngIf="item.linkName"><a class="text-color-none" href="{{item.linkName}}" target="_blank">{{item.linkName}}</a></td>
                                                        <td *ngIf="item.filesName" (click)="onclick(item.fileID)">{{item.filesName}}</td>
                                                        <td><button type="button" mat-raised-button color="warn" class="btn-edit" [ngStyle]="{'margin-bottom': '10px'}" (click)="deleteReportAnalyses(item, i); removeLink({'label':'Provider Profile Form - Reports & Analyses - Button - Remove', 'category':'Provider Profile Form - Resource', 'event':'Removed'})">X Remove</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ng-container>
                                    </formly-form>
                                    <div class="col-sm-12 user-msg-text">
                                        <span><strong>NOTICE:</strong> If you've provided us with all of the requested documents in this section and you believe these will address the majority of the forthcoming questions, you can click the "SAVE AND SUBMIT" button and then there is NO NEED TO PROCEED. Amass' researchers will complete this form to the best of their abilities on your behalf, relying upon the details included in the above documents. Once Amass is finished reviewing the materials and if any clarifications are needed, you will be notified and will have the opportunity to make further modifications to your data profile.</span>
                                    </div>
                                    <button [disabled]="progressSpinner" mat-raised-button color="warn" matTooltip="Amass will fill out your profile based on the documents you shared above" (click)="formSave({'label':'Provider Profile Form - Panel -Basic - Button - Save and Submit','category':'Provider Profile Form','event': 'Saved'}); documentCheck('Document')">Save and Submit</button>
                                    <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Form - Panel -Basic - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                    <ng-container *ngIf="progressSpinner && panelName === 'Document Details'">
                                        <jhi-progress-spinner></jhi-progress-spinner>
                                    </ng-container>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel [expanded]="companyExpansionPanel">
                                <mat-expansion-panel-header>
                                    <b class="tab-content-title">Company Details</b>
                                </mat-expansion-panel-header>

                                <form role="form" novalidate id="companyDetailsForm" [formGroup]="companyDetailsForm" (ngSubmit)="submitProviderEdit(basicModel, 'Company Details', 'companyExpansionPanel', 'descriptionsExpansionPanel', 0, 'companyDetailsForm')" class="formlyJSONForm">
                                    <formly-form [model]="basicModel" [fields]="companyDetailsFields" [options]="companyDetailsOptions" [form]="companyDetailsForm">
                                        <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Form - Panel - Company Details - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                    </formly-form>
                                    <ng-container *ngIf="progressSpinner && panelName === 'Company Details'">
                                        <jhi-progress-spinner></jhi-progress-spinner>
                                    </ng-container>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel [expanded]="descriptionsExpansionPanel">
                                <mat-expansion-panel-header>
                                    <b class="tab-content-title">Descriptions</b>
                                </mat-expansion-panel-header>

                                <form role="form" novalidate id="descriptionsForm" [formGroup]="descriptionsForm" (ngSubmit)="submitProviderEdit(basicModel, 'Descriptions', 'descriptionsExpansionPanel', 'categorizationsExpansionPanel', 0, 'descriptionsForm')" class="formlyJSONForm">
                                    <formly-form [model]="basicModel" [fields]="descriptionsFields" [options]="descriptionsOptions" [form]="descriptionsForm">
                                        <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Form - Panel - Descriptions - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                    </formly-form>
                                    <ng-container *ngIf="progressSpinner && panelName === 'Descriptions'">
                                        <jhi-progress-spinner></jhi-progress-spinner>
                                    </ng-container>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel [expanded]="categorizationsExpansionPanel">
                                <mat-expansion-panel-header>
                                    <b class="tab-content-title">Categorizations</b>
                                </mat-expansion-panel-header>

                                <form role="form" novalidate id="categorizationsForm" [formGroup]="categorizationsForm" (ngSubmit)="submitProviderEdit(basicModel, 'Categorizations', 'categorizationsExpansionPanel', 'investigationExpansionPanel', 0, 'categorizationsForm')" class="formlyJSONForm">
                                    <formly-form [model]="basicModel" [fields]="categorizationsFields" [options]="categorizationsOptions" [form]="categorizationsForm">
                                        <button  [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Form - Panel - Categorizations - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                    </formly-form>
                                    <ng-container *ngIf="progressSpinner && panelName === 'Categorizations'">
                                        <jhi-progress-spinner></jhi-progress-spinner>
                                    </ng-container>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel [expanded]="investigationExpansionPanel">
                                <mat-expansion-panel-header>
                                    <b class="tab-content-title">Investing-Related Details</b>
                                </mat-expansion-panel-header>

                                <form role="form" novalidate id="investigationForm" [formGroup]="investigationForm" (ngSubmit)="submitProviderEdit(basicModel, 'Investing-Related Details', 'investigationExpansionPanel', '', 1, 'investigationForm')" class="formlyJSONForm">
                                    <formly-form [model]="basicModel" [fields]="investigationFields" [options]="investigationOptions" [form]="investigationForm">
                                        <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Form - Panel - Investing-Related - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                    </formly-form>
                                    <ng-container *ngIf="progressSpinner && panelName === 'Investing-Related Details'">
                                        <jhi-progress-spinner></jhi-progress-spinner>
                                    </ng-container>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>

                </mat-tab>
                <mat-tab label="Details" (backgroundColor)="progressBarColor">
                    <ng-template mat-tab-label>
                            <span matTooltip="Important details regarding your data offerings.">Details</span>
                    </ng-template>

                    <div class="tab-content-row">
                        <mat-accordion>
                            <mat-expansion-panel [expanded]="relatedProvidersExpansionPanel">
                                <mat-expansion-panel-header>
                                    <b class="tab-content-title">Related Providers</b>
                                </mat-expansion-panel-header>

                                <form role="form" novalidate id="relatedProvidersForm" [formGroup]="relatedProvidersForm" (ngSubmit)="submitProviderEdit(basicModel, 'Related Providers', 'relatedProvidersExpansionPanel', 'dataDetailsExpansionPanel', 0, 'relatedProvidersForm')" class="formlyJSONForm">
                                    <formly-form [model]="basicModel" [fields]="relatedProvidersFields" [options]="relatedProvidersOptions" [form]="relatedProvidersForm">
                                        <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Form - Panel - Related Providers - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                    </formly-form>
                                    <ng-container *ngIf="progressSpinner && panelName === 'Related Providers'">
                                        <jhi-progress-spinner></jhi-progress-spinner>
                                    </ng-container>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel [expanded]="dataDetailsExpansionPanel">
                                <mat-expansion-panel-header>
                                    <b class="tab-content-title">Data Details</b>
                                </mat-expansion-panel-header>

                                <form role="form" novalidate id="dataDetailsForm" [formGroup]="dataDetailsForm" (ngSubmit)="submitProviderEdit(basicModel, 'Data Details', 'dataDetailsExpansionPanel', 'dataDeliveryExpansionPanel', 0, 'dataDetailsForm')" class="formlyJSONForm">
                                    <formly-form [model]="basicModel" [fields]="dataDetailsFields" [options]="dataDetailsOptions" [form]="dataDetailsForm">
                                        <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Form - Panel - Data Details - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                    </formly-form>
                                    <ng-container *ngIf="progressSpinner && panelName === 'Data Details'">
                                        <jhi-progress-spinner></jhi-progress-spinner>
                                    </ng-container>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel [expanded]="dataDeliveryExpansionPanel">
                                <mat-expansion-panel-header>
                                    <b class="tab-content-title">Data Delivery</b>
                                </mat-expansion-panel-header>

                                <form role="form" novalidate id="dataDeliveryForm" [formGroup]="dataDeliveryForm" (ngSubmit)="submitProviderEdit(basicModel, 'Data Delivery', 'dataDeliveryExpansionPanel', 'triallingExpansionPanel', 0, 'dataDeliveryForm')" class="formlyJSONForm">
                                    <formly-form [model]="basicModel" [fields]="dataDeliveryFields" [options]="dataDeliveryOptions" [form]="dataDeliveryForm">
                                        <button  [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Form - Panel - Data Delivery - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                    </formly-form>
                                    <ng-container *ngIf="progressSpinner && panelName === 'Data Delivery'">
                                        <jhi-progress-spinner></jhi-progress-spinner>
                                    </ng-container>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel [expanded]="triallingExpansionPanel">
                                <mat-expansion-panel-header>
                                    <b class="tab-content-title">Trialling</b>
                                </mat-expansion-panel-header>

                                <form role="form" novalidate id="triallingForm" [formGroup]="triallingForm" (ngSubmit)="submitProviderEdit(basicModel, 'Trialling', 'triallingExpansionPanel', 'licensingExpansionPanel', 0, 'triallingForm')" class="formlyJSONForm">
                                    <formly-form [model]="basicModel" [fields]="triallingFields" [options]="triallingOptions" [form]="triallingForm">
                                        <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Form - Panel - Trialling - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                    </formly-form>
                                    <ng-container *ngIf="progressSpinner && panelName === 'Trialling'">
                                        <jhi-progress-spinner></jhi-progress-spinner>
                                    </ng-container>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel [expanded]="licensingExpansionPanel">
                                <mat-expansion-panel-header>
                                    <b class="tab-content-title">Licensing</b>
                                </mat-expansion-panel-header>

                                <form role="form" novalidate id="licensingForm" [formGroup]="licensingForm" (ngSubmit)="submitProviderEdit(basicModel, 'Licensing', 'licensingExpansionPanel', 'pricingExpansionPanel', 0, 'licensingForm')" class="formlyJSONForm">
                                    <formly-form [model]="basicModel" [fields]="licensingFields" [options]="licensingOptions" [form]="licensingForm">
                                        <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Form - Panel - Licensing - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                    </formly-form>
                                    <ng-container *ngIf="progressSpinner && panelName === 'Licensing'">
                                        <jhi-progress-spinner></jhi-progress-spinner>
                                    </ng-container>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel [expanded]="pricingExpansionPanel">
                                <mat-expansion-panel-header>
                                    <b class="tab-content-title">Pricing</b>
                                </mat-expansion-panel-header>

                                <form role="form" novalidate id="pricingForm" [formGroup]="pricingForm" (ngSubmit)="submitProviderEdit(basicModel, 'Pricing', 'pricingExpansionPanel', 'dataQualityExpansionPanel', 0, 'pricingForm')" class="formlyJSONForm">
                                    <formly-form [model]="basicModel" [fields]="pricingFields" [options]="pricingOptions" [form]="pricingForm">
                                        <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Form - Panel - Pricing - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                    </formly-form>
                                    <ng-container *ngIf="progressSpinner && panelName === 'Pricing'">
                                        <jhi-progress-spinner></jhi-progress-spinner>
                                    </ng-container>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel [expanded]="dataQualityExpansionPanel">
                                <mat-expansion-panel-header>
                                    <b class="tab-content-title">Data Quality</b>
                                </mat-expansion-panel-header>

                                <form role="form" novalidate id="dataQualityForm" [formGroup]="dataQualityForm" (ngSubmit)="submitProviderEdit(basicModel, 'Data Quality', 'dataQualityExpansionPanel', 'discussionExpansionPanel', 0, 'dataQualityForm')" class="formlyJSONForm">
                                    <formly-form [model]="basicModel" [fields]="dataQualityFields" [options]="dataQualityOptions" [form]="dataQualityForm">
                                        <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Form - Panel - Data Quality - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                    </formly-form>
                                    <ng-container *ngIf="progressSpinner && panelName === 'Data Quality'">
                                        <jhi-progress-spinner></jhi-progress-spinner>
                                    </ng-container>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel [expanded]="discussionExpansionPanel">
                                <mat-expansion-panel-header>
                                    <b class="tab-content-title">Discussion</b>
                                </mat-expansion-panel-header>

                                <form role="form" novalidate id="discussionForm" [formGroup]="discussionForm" (ngSubmit)="submitProviderEdit(basicModel)" class="formlyJSONForm">
                                    <formly-form [model]="basicModel" [fields]="discussionFields" [options]="discussionOptions" [form]="discussionForm">
                                        <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSubmit({'label':'Provider Profile Form - Button - Submit Changes','category':'Provider Profile Form','event': 'Submitted'})">Save and Submit</button>
                                    </formly-form>
                                    <ng-container *ngIf="progressSpinner && panelName === 'Data Discussion'">
                                        <jhi-progress-spinner></jhi-progress-spinner>
                                    </ng-container>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>

                </mat-tab>
                <!-- <mat-tab label="Resources" (backgroundColor)="progressBarColor">
                    <ng-template mat-tab-label>
                            <span>Resources</span>
                    </ng-template>

                    <div class="tab-content-row">
                        <mat-accordion>
                            <mat-expansion-panel [expanded]="true">
                                <mat-expansion-panel-header>
                                    <span><h6 class="tab-content-title"><b>Basic</b></h6></span>
                                </mat-expansion-panel-header>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>

                </mat-tab> -->
            </mat-tab-group>
        </div>
    </div>
</section>
