<!-- <ng-template #tipContent class="tooltip" >
    <span (mouseleave)="a.close()" class="popover-span">Your account does not have permission to view this.<br>
        <button style="margin:0 38px !important;" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
    </span>
</ng-template> -->
<div class="page-title">
    <span class="detail-title">
        <span *ngIf="dataProvider" [ngClass]="{blurText: dataProvider.locked}">{{dataProvider.providerName}}</span> <span *ngIf="dataProvider"> Data Profile</span>
        <span class="detail-tooltiptext" *ngIf="dataProvider && dataProvider.locked && !isAdmin">
            <span class="popover-span">Your account does not have permission to view this.<br>
                <button style="margin:0 38px !important;font-family: 'OpenSans-Light';" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
            </span>
        </span>
    </span>
</div>
<div class="container">
    <ng-container *ngIf="isAuthenticated()">
        <jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)" [pageName]="pageName"></jhi-inactivity-timer>
    </ng-container><section class="section-margin">
    <div class="row" *ngIf="dataProvider">
        <div class="col-sm-12 user-msg-text" *ngIf="unregisterUserMsg">
            <span class="notice-text" *ngIf="allDataAccess"><strong>NOTICE:</strong> For access to all features on this page, please  <a class="user-msg" (click)="openSigninDialog()">Login</a> or <a class="user-msg" (click)="openApplyDialog()">Sign Up</a>.</span>
            <span class="notice-text" *ngIf="!allDataAccess"><strong>NOTICE:</strong> The information in this data profile is locked for unregistered users. For access to all the metadata and features on this page, please  <a class="user-msg" (click)="openSigninDialog()">Login</a> or <a class="user-msg" (click)="openApplyDialog()">Sign Up</a>.</span>
        </div>
        <div class="col-sm-12 user-msg-text" *ngIf="dataProvider && dataProvider.locked">
            <span class="locked-notice-text"><strong>NOTICE:</strong> This data profile is locked for your account because you do not have the permission-level to access. Please  <a class="locked-user-msg" href="javascript:void(0);" (click)="upgrade()">Upgrade to Access</a>.</span>
        </div>
        <div class="col-md-3">
            <a *ngIf="dataProvider.logo" href="http://{{dataProvider.website}}" target="_blank" class="thumbnail">
                <img class="img-thumbnail" src="data:image/png;base64,{{dataProvider.logo.logo}}" [ngStyle]="{'background-color': dataProvider.recordID === 'recwXv6JcH4MKWx0z' || dataProvider.recordID === 'recG0ZppNxNml1ErI' ? '#9e9e9e' : ''}">
            </a>
            <!-- <ng-container>
                <p-blockUI [target]="test" [blocked]="((dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(561) === -1) && !allowEditAccess && !isAdmin) || (editAccessDisable && !isAdmin && dataProvider.locked)" *ngIf='((dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(561) === -1) && !allowEditAccess && !isAdmin) || (editAccessDisable && !isAdmin && dataProvider.locked)'>
                    <i class="fa fa-lock fa-3x" style="position:absolute;left:46%;z-index: 1;margin-top:6px;font-size:24px;"></i>
                </p-blockUI>
                <span #test [ngStyle]="{'clear': 'both'}" *ngIf='((dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(561) === -1) && !allowEditAccess && !isAdmin) || (editAccessDisable && !isAdmin && dataProvider.locked)'>
                    <button [ngStyle]="{'background-color':((dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(561) === -1) && !allowEditAccess && !isAdmin) || (editAccessDisable && !isAdmin && dataProvider.locked)? 'rgba(0, 0, 0, 0.4)': '#fe5722'}" [disabled]="((dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(561) === -1) && !allowEditAccess && !isAdmin) || (editAccessDisable && !isAdmin && dataProvider.locked)" mat-raised-button color="warn" class="edit-btn" [routerLink]="['../edit']">
                        <img src="../../../content/images/Edit Profile Icon.png" class="edit-profile-icon-locked">
                        <span class="edit-btn-label-text" matTooltip="Edit the data provider\'s profile information">Edit Profile</span>
                    </button>
                </span> -->
                <!-- <button *ngIf='((dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(561) !== -1) && allowEditAccess && !isAdmin)' mat-raised-button color="warn" class="edit-btn" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact: true}"  [routerLink]="['../edit']"><span matTooltip="Edit the data provider\'s profile information">Edit Profile</span></button> -->
            <!-- </ng-container> -->
            <!-- ........non admin users and who has operator permission can access this button......... -->
           <ng-container *ngIf="isAuthenticated()">
            <ng-container>
                <button *ngIf="unlockOperatorPermission && !editAccessPending && !isAdmin" mat-raised-button color="warn" class="edit-btn" [routerLink]="['../edit']">
                    <img src="../../../content/images/Edit Profile Icon.png" class="edit-profile-icon">
                    <span class="edit-btn-label-text" matTooltip="Edit the data provider\'s profile information">Edit Profile</span>
                </button>
            </ng-container>
            <!-- .......once user submit the form after that only profile edits pending button display...... -->
            <ng-container>
                <p-blockUI [target]="editpending" [blocked]="editAccessPending && !isAdmin" *ngIf='editAccessPending && !isAdmin'>
                   <i class="fa fa-lock fa-3x" style="position:absolute;left:46%;z-index: 1;margin-top:6px;font-size:24px;"></i>
                </p-blockUI>
                <span #editpending [ngStyle]="{'clear': 'both'}" *ngIf='editAccessPending && !isAdmin'>
                    <button [disabled]="(editAccessPending && !isAdmin)" mat-raised-button color="warn" class="edit-btn" [ngStyle]="{'background-color': (editAccessPending && !isAdmin) ? 'rgba(0, 0, 0, 0.4)': ''}">
                        <img src="../../../content/images/Edit Profile Icon.png" class="edit-profile-icon">
                        <span class="edit-btn-label-text">Profile Edits Pending</span>
                    </button>
                </span>
            </ng-container>
            <!--  ........admin users only access edit profile button......... -->
            <ng-container>
                <button *ngIf='isAdmin'  mat-raised-button color="warn" class="edit-btn" [routerLink]="['../admin']">
                    <img src="../../../content/images/Edit Profile Icon.png" class="edit-profile-icon">
                    <span class="edit-btn-label-text" matTooltip="Edit the data provider\'s profile information">Edit Profile</span>
                </button>
            </ng-container>
        </ng-container>
            <!-- <button *ngIf="!dataProvider.locked" mat-raised-button color="warn" class="edit-btn" (click)="openCommentsWindow('addNotes')"><span matTooltip="Save a note related to this provider">Add Note</span></button> -->
            <!-- <button *ngIf="!dataProvider.locked" mat-raised-button color="warn" class="edit-btn" (click)="openCommentsWindow('getNotes')"><span matTooltip="View all notes and discussions about this provider">Discussion</span><span class="discuss-comment">({{this.comments.length}})</span></button> -->
            <div *ngIf="!dataProvider.locked" style="clear: both">
                <ul class="drp-down-ul-discussion-detail-padding">
                    <li style="clear: both" ngbDropdown class="nav-item dropdown pointer request-drop-dwn request-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="request-drop-dwn" href="javascript:void(0);" id="entity-menu" [ngStyle]="{'color': '#fff'}" (click)="authenticationCheck()">
                            <button type="button" (click)="openCommentsWindow('getNotes', 'All')" mat-button class="discussion-btn-detail-label text-uppercase headerSignUp discussion-dropdown-toggle-detail">
                                <img src="../../../content/images/Discussion.png" />
                                <span class="discussion-btn-detail-label-text" matTooltip="View all notes and discussions about this provider">Discussion</span><span class="discuss-comment">({{comments.length}})</span>
                            </button>
                            <button type="button" ngbDropdownToggle mat-button class="discussion-btn-detail text-uppercase headerSignUp">
                            </button>
                        </a>
                        <ul class="dropdown-menu drp-down-ul-discussion-detail" ngbDropdownMenu *ngIf="isAuthenticated()">
                            <li [ngStyle]="{'margin': '0px 0 0px 0px','clear': 'both','padding': '2px 8px'}">
                                <a>
                                    <span>
                                        <button class=" drp-down-btn-discussion-detail" (click)="openNotesComments('getNotes', dataProvider.id, 'private')" color="warn" type="submit" value="Notes">
                                            <img src="../../../content/images/icons/UX-UI-Icon_processed-33.png" class="share-image" />
                                            <span matTooltip="View all notes related to this provider" [ngStyle]="{'margin-left': '5px'}">Notes</span>
                                        </button>
                                    </span>
                                </a>
                            </li>
                            <li  [ngStyle]="{'margin': '0px 0 0px 0px','clear': 'both','padding': '2px 8px'}">
                                <a>
                                    <span>
                                        <button class=" drp-down-btn-discussion-detail" (click)="openNotesComments('getNotes', dataProvider.id, 'public')" color="warn" type="submit" value="Comments " width="210">
                                            <img src="../../../content/images/Comments.png" class="drp-down-ul-discussion-detail-img"/>
                                            <span matTooltip="View all comments on this provider">Comments </span>
                                        </button>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div style="clear: both">
                <jhi-comments [(focusForm)]="focusForm" [privacyType]="filterCode" [(comments)]="comments" [(commentsButtonType)]="commentsButtonType" [user]="currentAccount" [provider]="providerID" [(displayCommentSidebar)]="displayCommentsSidebar" (onCommentsClose)="displayCommentsSidebar = false;" (reloadComments)="reloadComments($event)"></jhi-comments>
            </div>

    <mat-card class="left-card">
        <mat-card-title class="detail-card-title"> <span matTooltip="About">About</span></mat-card-title>
        <mat-card-content>
            <div class="text-center amass-progressbar-container" [ngStyle]="{'margin-bottom': '2px'}">
                <div class="amass-progressbar-value"><span matTooltip="Percent of the data provider's profile that has been filled in" >{{dataProvider.completeness}}% Complete</span></div>
                <mat-progress-bar class="amass-progressbar amass-progressbar-default" [color]="progressBarColor" [mode]="progressBarMode" [value]="dataProvider.completeness" [bufferValue]="dataProvider.completeness"></mat-progress-bar>
            </div>
            <div class="text-center" *ngIf="!dataProvider.locked && dataProvider && dataProvider.inactive">
                <p class="btn-status"><span [matTooltip]="!dataProvider.locked? 'Does this provider still operate?' : 'Your account does not have permission to view this.'">Inactive</span></p>
            </div>
            <div class="text-center profile-action">
                <div class="action-icons">
                    <div class="social-container">
                        <ul>
                            <li *ngIf="!dataProvider?.locked">
                            <div *ngIf="dataProvider.providerTagCount>0"  class="dropdown profile-list-padding" ngbDropdown [autoClose]="'outside'">
                                <button class="btn btn-lock tag-buttons-wrapper dropdown-toggle text-uppercase" [ngStyle]="{'background-color': 'rgb(67, 138, 254)'}" color="warn" type="submit" (click)="getTagList(dataProvider.id);" ngbDropdownToggle id= "shareMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                    <span [ngStyle]="{'padding':'0px'}"><img  class="counter-icon" src="../../../content/images/icons/tag_icon.svg"/>{{dataProvider.providerTags.length}}<span>{{ dataProvider.providerTags.length === 1 ? 'Tag' : 'Tags'}}</span>
                                    </span>
                                </button>
                                <ul class="dropdown-menu drp-down-ul-tag" ngbDropdownMenu [ngStyle]="{'min-width':'178px'}">
                                    <span *ngIf='loaderActive' class="spinner"></span>
                                    <ng-container *ngFor="let providerTags of tagDropDownValues; let pIndex = index">
<!--                                       <div *ngIf="providerTags.providerTag">
 -->                                        <li *ngIf="providerTags.privacy === 'Private'" [ngStyle]="{'margin': '2px 0 2px 0px','clear': 'both','padding': '2px 8px'}">
                                            <a>
                                                <span >
                                                    <button class="btn-lock-tag drp-down-btn-tag" [ngStyle]="{'background-color':providerTags.providerTag? 'rgb(67, 138, 254)': 'rgb(206, 207, 208)'}" color="warn" type="submit" (click)="providerNewTag({'tagId':providerTags.id, 'providerId': dataProvider.id}, pIndex)">
                                                        <img src="../../../content/images/icons/tag icon white.png" class="share-image" />
                                                        <span class="tag-name-list">{{providerTags.tagName}}</span>
                                                        <span *ngIf="providerTags.providerTag">
                                                            <i class="fa fa-check" aria-hidden="true" style="font-size: 1rem;line-height: 1rem;vertical-align: middle;margin-left: 5px;float: right"></i>
                                                        </span>
                                                    </button>
                                                </span>
                                            </a>
                                        </li>
<!--                                     //</div>
 -->                                    </ng-container>
                                    <li *ngIf="customTags" [ngStyle]="{'margin': '2px 0 2px 0px','clear': 'both','padding': '2px 8px'}">
                                        <form role="form" class="new-tag-form" novalidate (ngSubmit)="onKeydownTag({'tag':newTagValue, 'providerID': dataProvider.id})">
                                            <a>
                                                <span>
                                                    <input class="new-tag-input" type="text" name="tag" value="" [(ngModel)]="newTagValue">
                                                </span>
                                            </a>
                                            <a>
                                                <span>
                                                    <button (click)="customTag({'label':'Provider Profile - About - Tags - Create New Tag','category':'Provider Tag','event': 'Tag Created'})" [disabled]="!userLevel" [ngStyle]="{'background-color':!userLevel? 'rgba(0, 0, 0, 0.4)': '#fe5722', 'cursor': !userLevel? 'not-allowed' : ''}" class="btn-lock drp-down-btn-tag text-position" color="warn" type="submit">
                                                        <span matTooltip="Create a New Custom Tag" [ngStyle]="{'padding': '0px'}">+ Create New Tag</span>
                                                    </button>
                                                </span>
                                            </a>
                                        </form>
                                    </li>
                                    <ng-container *ngIf="!customTags">
                                        <p-blockUI [target]="pnl" [blocked]="!userLevel" *ngIf="!userLevel">
                                            <i class="fa fa-lock fa-3x" style="position:absolute;bottom:4%;left:46%;z-index: 1;font-size: 24px;"></i>
                                        </p-blockUI>
                                        <li #pnl [ngStyle]="{'margin': '2px 0 2px 0px','clear': 'both','padding': '2px 8px'}">
                                            <a>
                                                <span>
                                                    <button (click)="customTag({'label':'Provider Profile - About - Tags - Create New Tag','category':'Provider Tag','event': 'Tag Created'})" [disabled]="!userLevel" [ngStyle]="{'background-color':!userLevel? 'rgba(0, 0, 0, 0.4)': '#fe5722', 'cursor': !userLevel? 'not-allowed' : ''}" class="btn-lock drp-down-btn-tag text-position" color="warn" type="submit">
                                                        <span matTooltip="Create a New Custom Tag" [ngStyle]="{'padding': '0px'}">+ Create New Tag</span>
                                                    </button>
                                                </span>
                                            </a>
                                        </li>
                                    </ng-container>
                                    </ul>
                                </div>
                                <ng-container *ngIf="isAuthenticated()">
                            <div *ngIf="dataProvider.relavantResourceArticle>0">
                            <button class="btn-lock text-uppercase btn-lock-button" [ngStyle]="{'background-color': 'rgb(67, 138, 254)'}" color="warn" type="submit" (click)="resource()">
                                <span [ngStyle]="{'padding':'0px'}"><img  class="counter-icon" src="../../../content/images/icons/resources_icon.svg"/>{{dataProvider.relavantResourceArticle}}<span>{{ dataProvider.relavantResourceArticle === 1 ? 'Resource' : 'Resources'}}</span>
                                </span>
                            </button>
                            </div>
                            <div *ngIf="dataProvider.partnersCount>0">
                            <button class="btn-lock text-uppercase btn-lock-button" [ngStyle]="{'background-color': 'rgb(67, 138, 254)'}" color="warn" type="submit"  (click)="partners()">
                                <span [ngStyle]="{'padding':'0px'}"><img  class="counter-icon" src="../../../content/images/icons/partner_icon.svg"/>{{dataProvider.partnersCount}}<span>{{ dataProvider.partnersCount === 1 ? 'Partner' : 'Partners'}}</span>
                                </span>
                            </button>
                            </div>
                            <div *ngIf="dataProvider.commentsCount>0">
                            <button class="btn-lock text-uppercase btn-lock-button" [ngStyle]="{'background-color': 'rgb(67, 138, 254)'}" color="warn" type="submit"(click)="openCommentsWindow('getNotes', 'All')" >
                                <span [ngStyle]="{'padding':'0px'}"><img  class="counter-icon" src="../../../content/images/icons/comments_icon.svg"/>{{dataProvider.commentsCount}}<span>{{ dataProvider.commentsCount === 1 ? 'Comment' : 'Comments'}}</span>
                                </span>
                            </button>
                            </div>
                        </ng-container>
                        </li>
                            <ng-container *ngIf="loaderTag && dataProvider.id === loaderProviderId">
                                <p-progressSpinner [style]="{width: '70px', height: '70px',transform:'translate(-50%, -50%)', top: '50px',left: '5px'}"></p-progressSpinner>
                             </ng-container>
                           <li *ngIf="!dataProvider?.locked" class="profile-list-padding">
                                <div *ngIf='tagInterstedArray.indexOf(dataProvider.id) !== -1  else unmatchtag'>
                                    <span *ngIf="!dataProvider.locked" matTooltip="Interested in learning more about this Provider" (click)="providerActionTag({'tagId':tagProviderMatch.id, 'providerId': dataProvider.id})">
                                 <button class="btn-lock text-uppercase btn-lock-button" [ngStyle]="{'background-color': 'rgb(67, 138, 254)'}" color="warn" type="submit" >
                                     <span [ngStyle]="{'padding':'0px'}">{{tagProviderMatch.providerTag}}
                                     </span>
                                 </button>
                                        </span>
                                         </div>

                                      <ng-template #unmatchtag>
                                         <span *ngIf="!dataProvider.locked" matTooltip="Interested in learning more about this Provider" (click)="isAuthenticated()? providerActionTag({'tagId':tagProviderMatch.id, 'providerId': dataProvider.id}): authenticationCheck()">
                                             <button class="btn-lock text-uppercase btn-lock-button"  color="warn" type="submit"  >
                                                 <span [ngStyle]="{'padding':'0px'}">INTERESTED
                                                     </span>
                                                     </button>
                                         </span>
                                         </ng-template>
                           </li>
                           <li *ngIf="!dataProvider?.locked" class="profile-list-padding">
                                         <div *ngIf='tagNotInterstedArray.indexOf(dataProvider.id) !== -1  else unnotinterstedmatchtag'>
                                    <span *ngIf="!dataProvider.locked" matTooltip="Not interested in learning more about this Provider" (click)="providerActionTagnotIntersted({'tagId':tagNotInterstedMatch.id, 'providerId': dataProvider.id})">
                                 <button class="btn-lock text-uppercase btn-lock-button" [ngStyle]="{'background-color': 'rgb(67, 138, 254)'}" color="warn" type="submit" >
                                     <span [ngStyle]="{'padding':'0px'}">{{tagNotInterstedMatch.providerTag}}
                                     </span>
                                 </button>
                                 </span>
                             </div>
                                      <ng-template #unnotinterstedmatchtag>
                                         <span *ngIf="!dataProvider.locked" matTooltip="Not interested in learning more about this Provider" (click)="isAuthenticated()? providerActionTagnotIntersted({'tagId':tagNotInterstedMatch.id, 'providerId': dataProvider.id}): authenticationCheck()">
                                             <button class="btn-lock text-uppercase btn-lock-button"  color="warn" type="submit"  >
                                                 <span [ngStyle]="{'padding':'0px'}">NOT INTERESTED
                                                     </span>
                                                     </button>
                                         </span>
                                         </ng-template>
                                         </li>
                                         <li *ngIf="!dataProvider?.locked" class="profile-list-padding">
                                         <div *ngIf='tagInUseArray.indexOf(dataProvider.id) !== -1  else inusematchtag'>
                                             <span *ngIf="!dataProvider.locked" matTooltip="Already using this Provider's Data Products" (click)="providerActionTagInuse({'tagId':tagInUseMatch.id, 'providerId': dataProvider.id})">
                                          <button class="btn-lock text-uppercase btn-lock-button" [ngStyle]="{'background-color': 'rgb(67, 138, 254)'}" color="warn" type="submit" >
                                              <span [ngStyle]="{'padding':'0px'}">{{tagInUseMatch.providerTag}}
                                              </span>
                                          </button>
                                          </span>
                                      </div>
                                               <ng-template #inusematchtag>
                                                  <span *ngIf="!dataProvider.locked" matTooltip="Already using this Provider's Data Products" (click)="isAuthenticated()? providerActionTagInuse({'tagId':tagInUseMatch.id, 'providerId': dataProvider.id}): authenticationCheck()">
                                                      <button class="btn-lock text-uppercase btn-lock-button"  color="warn" type="submit"  >
                                                          <span [ngStyle]="{'padding':'0px'}">IN USE
                                                              </span>
                                                              </button>
                                                  </span>
                                                  </ng-template>
                                                  </li>
                                                  <li *ngIf="!dataProvider?.locked" class="profile-list-padding">
                                                  <div *ngIf='tagTestingArray.indexOf(dataProvider.id) !== -1  else testingmatchtag'>
                                                     <span *ngIf="!dataProvider.locked" matTooltip="Already testing this Provider's Data Products" (click)="providerActionTagTesting({'tagId':tagTestingMatch.id, 'providerId': dataProvider.id})">
                                                  <button class="btn-lock text-uppercase btn-lock-button" [ngStyle]="{'background-color': 'rgb(67, 138, 254)'}" color="warn" type="submit" >
                                                      <span [ngStyle]="{'padding':'0px'}">In Testing
                                                      </span>
                                                  </button>
                                                  </span>
                                              </div>
                                                       <ng-template #testingmatchtag>
                                                          <span *ngIf="!dataProvider.locked" matTooltip="Already testing this Provider's Data Products" (click)="isAuthenticated()? providerActionTagTesting({'tagId':tagTestingMatch.id, 'providerId': dataProvider.id}): authenticationCheck()">
                                                              <button class="btn-lock text-uppercase btn-lock-button"  color="warn" type="submit"  >
                                                                  <span [ngStyle]="{'padding':'0px'}">In Testing
                                                                      </span>
                                                                      </button>
                                                          </span>
                                                          </ng-template>
                                                        </li>
                            <li *ngIf="!dataProvider?.locked && !isAdmin" class="profile-list-padding">
                                <a (click)="isAuthenticated()?dataProvider.followed = !dataProvider.followed:!dataProvider.followed; followAction(dataProvider.id)">
                                    <span matTooltip="Unfollow Provider Updates" *ngIf="dataProvider.followed && isAuthenticated()">
                                        <button class="request-btn text-uppercase" type="submit" value="Follow">
                                            <i class="fa fa-minus-circle" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;color:#3306f9"></i>
                                            <span>Unfollow</span>
                                        </button>
                                    </span>
                                    <span matTooltip="Follow Provider Updates" *ngIf="!dataProvider.followed">
                                        <button class="btn-lock text-uppercase" color="warn" type="submit" value="Follow" (click)="providerFollow({'label':'Providers List - Provider - Follow','category':'Provider Follow','event': 'Followed'})">
                                            <i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;color:#fff"></i>
                                            <span>Follow</span>
                                        </button>
                                    </span>
                                </a>
                            </li>
                            <ng-container *ngIf="isAuthenticated()">
                            <li [ngStyle]="{'clear': 'both', 'padding': '2px 10px'}">
                                <ng-container *ngIf="(dataProvider.categoryPermissionOverride || dataProvider.providerPermissionOverride) else categoryPermissionOverride">
                                    <span *ngIf="(dataProvider.categoryPermissionOverride || dataProvider.providerPermissionOverride) else categoryPermissionOverride">
                                        <span class="btn-pending">
                                            <img src="../../../content/images/icons/profile_pending_user_confirm_unlock.png" class="unlock-icon" />
                                            <span>Access Granted</span>
                                        </span>
                                    </span>
                                </ng-container>
                                <ng-template #categoryPermissionOverride>
                                    <a *ngIf='!dataProvider.userProviderStatus || (dataProvider.userProviderStatus && (dataProvider.userProviderStatus.indexOf(269) !== -1 && dataProvider.locked)); else pendingReviewAdmin' (click)="openContactDialog('Request for Access to Provider', 'Press submit or add more context about your request for access to this Provider\'s Data Profile.', 'unlockProvider', dataProvider.id, null)">
                                            <span *ngIf="dataProvider.locked" matTooltip="Request Access to Provider">
                                                <button class="btn-lock text-uppercase" color="warn" type="submit" >
                                                    <img  src="../../../content/images/icons/profile_unlock.png" class="unlock-icon lock-icon-bg request-access-icon" (click)="unlockProviders({'label':'Providers List - Provider - Unlock','category':'Provider Unlock','event': 'Popup Link Clicked'})" />
                                                    <span>Request Access</span>
                                               </button>
                                            </span>
                                    </a>
                                    <ng-template #pendingReviewAdmin>
                                            <ng-container *ngIf="dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(2087) !== -1; else pendingUserConfirm">
                                                <span matTooltip="Access to this Data Profile in Review.">
                                                    <span class="btn-pending">
                                                        <img  src="../../../content/images/icons/profile_pending_unlock.png" class="unlock-icon" />
                                                        <span>Pending Access</span>
                                                    </span>
                                                </span>
                                            </ng-container>
                                    </ng-template>
                                    <ng-template #pendingUserConfirm>
                                        <span *ngIf='dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(268) !== -1'>
                                            <span class="btn-pending">
                                                <img *ngIf='dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(268) !== -1'  src="../../../content/images/icons/profile_pending_user_confirm_unlock.png" class="unlock-icon" />
                                                <span>Access Granted</span>
                                            </span>
                                        </span>
                                    </ng-template>
                                </ng-template>
                            </li>
                                 </ng-container>
                            <li *ngIf="!dataProvider?.locked && !isAdmin && (!dataProvider.userProviderStatus || (dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(561) === -1))" [ngStyle]="{'clear': 'both'}" ngbDropdown class="nav-item dropdown pointer request-drop-dwn request-list profile-list-padding" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    <a class="request-drop-dwn" href="javascript:void(0);" id="entity-menu" [ngStyle]="{'color': '#fff'}" (click)="authenticationCheck()">
                                            <button type="button" class="btn-lock text-uppercase headerSignUp dropdown-toggle" ngbDropdownToggle (click)="authenticationCheck()">
                                                <!-- <span><p [ngStyle]="{'margin': '-7px 0 0px 0px'}">Request</p></span> -->
                                                <img src="../../../content/images/icons/White-Request-icon-original.png" class="request-share-img">
                                                <span matTooltip="Make a Request Related to this Provider">Request</span>
                                                <!-- <i class="fa fa-caret-down" aria-hidden="true" style="font-size: 1rem;line-height: 1.5rem;vertical-align: middle;color:#fff; margin-left: 30px;margin-bottom: 10px;"></i> -->
                                            </button>
                                    </a>
                                    <ul class="dropdown-menu drp-down-profile-ul" ngbDropdownMenu *ngIf="isAuthenticated()">
                                        <!-- <li class="list-padding" *ngIf='!dataProvider?.locked && (!dataProvider.userProviderStatus || dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(261) === -1)'> -->
                                            <li *ngIf='!dataProvider?.locked && !isAdmin && (!dataProvider.userProviderStatus || (dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(261) === -1 || dataProvider.userProviderStatus.indexOf(261) !== -1))' [ngStyle]="{'margin': '2px 0 2px 0px','clear': 'both','padding': '2px 8px'}">
                                            <a *ngIf='!dataProvider?.locked && (!dataProvider.userProviderStatus || dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(261) === -1)' (click)="openContactDialog('Request for More Information', 'Press submit or add more context about your information request.', 'moreInformation', dataProvider.id, null, null, 261);requestMoreInfo({'label':'Provider Profile - About - More Info','category':'Provider More Info','event': 'Popup Link Clicked'})">
                                                <span matTooltip="Request More Information about Provider">
                                                    <button class="btn-lock drp-down-btn" color="warn" type="submit" value="Request More Info">
                                                        <i class="fa fa-info" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;margin-left: 7px;"></i>
                                                         <span [ngStyle]="{'margin-left': '7px'}">Request More Info</span>
                                                    </button>
                                                </span>
                                            </a>
                                        <!-- </li> -->
                                        <!-- <li class="list-padding" *ngIf='!dataProvider.locked && !isAdmin && (dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(261) !== -1)' [ngStyle]="{'margin': '2px 0 2px 0px','clear': 'both','padding': '2px 8px'}"> -->
                                        <!-- <li class="list-padding" *ngIf='!dataProvider?.locked && !isAdmin && (!dataProvider.userProviderStatus || (dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(561) === -1 && dataProvider.userProviderStatus.indexOf(261) !== -1))' [ngStyle]="{'margin': '2px 0 2px 0px','clear': 'both','padding': '2px 8px'}"> -->
                                            <a *ngIf='!dataProvider.locked && !isAdmin && (dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(261) !== -1)' (click)="cancelMoreInformationAction(dataProvider.id, null, 261);requestMoreInfo({'label':'Provider Profile - Cancel More Info','category':'Provider More Info','event': 'Request Cancelled'})">
                                                <span matTooltip="More Information Request In Progress. Click to Cancel">
                                                    <button class="request-btn drp-down-btn" type="submit" value="Cancel Request" >
                                                        <i class="fa fa-info" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;color:#3306f9;margin-left: 7px;"></i>
                                                        <span [ngStyle]="{'margin-left': '6px'}">Cancel Request</span>
                                                    </button>
                                                </span>
                                            </a>
                                        </li>
                                        <li *ngIf='!dataProvider?.locked' [ngStyle]="{'margin': '2px 0 2px 0px','clear': 'both','padding': '2px 8px'}">
                                                <a *ngIf='!dataProvider.userProviderStatus || (dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(566) === -1)' (click)="openContactDialog('Request for Contact ', 'Please describe the purpose for your request for direct contact in as much details as possible and we will put you in touch soon.', 'requestDirectContact', dataProvider.id, null, null, 566)" >
                                                    <span matTooltip="Request More Information about Provider">
                                                        <button class="btn-lock drp-down-btn" color="warn" type="submit" value="Request Direct Contact" width="210">
                                                            <!-- <img src="../../../content/images/icons/Request for Direct Contact.png" style="width: 1.5rem;line-height: 1.5rem;vertical-align: middle;"> -->
                                                            <i class="fa fa-phone" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;"></i>
                                                             <span class="request-text">Request Direct Contact</span>
                                                        </button>
                                                    </span>
                                                </a>
                                                <a *ngIf='dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(566) !== -1' (click)="cancelMoreInformationAction(dataProvider.id, null, 566);">
                                                    <span matTooltip="More Information Request In Progress. Click to Cancel">
                                                        <button class="request-btn drp-down-btn" type="submit" value="Cancel Request for Direct Contact" >
                                                            <!-- <img src="../../../content/images/icons/Request for Direct Contact Cancel.png" style="width: 1.5rem;line-height: 1.5rem;vertical-align: middle;color:#3306f9;"> -->
                                                            <i class="fa fa-phone" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;color:#3306f9;"></i>
                                                            <span class="request-text">Cancel Request for Direct Contact</span>
                                                        </button>
                                                    </span>
                                                </a>
                                        </li>
                                        <li *ngIf='!dataProvider?.locked' [ngStyle]="{'margin': '2px 0 2px 0px','clear': 'both','padding': '2px 8px'}">
                                            <a *ngIf='!dataProvider.userProviderStatus || (dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(565) === -1)' (click)="openContactDialog('Request for Data Sample ', 'Amass can collect a data sample from a provider on your behalf. Please add any additional details about the data you would like to receive and we will be in touch soon.', 'requestDataSample', dataProvider.id, null, null, 565)" >
                                                <span matTooltip="Request More Information about Provider">
                                                    <button class="btn-lock drp-down-btn" color="warn" type="submit" value="Request Data Sample">
                                                        <!-- <img src="../../../content/images/icons/Request Data Sample.png" style="width: 1.5rem;line-height: 1.5rem;vertical-align: middle;"> -->
                                                        <i class="fa fa-archive" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;"></i>
                                                        <span>Request Data Sample</span>
                                                    </button>
                                                </span>
                                            </a>
                                            <a *ngIf='!dataProvider.locked && (dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(565) !== -1)' (click)="cancelMoreInformationAction(dataProvider.id, null, 565)">
                                                <span matTooltip="More Information Request In Progress. Click to Cancel">
                                                    <button class="request-btn drp-down-btn" type="submit" value="Cancel Request for Data Sample" >
                                                        <!-- <img src="../../../content/images/icons/Request Data Sample Cancel.png" style="width: 1.5rem;line-height: 1.5rem;vertical-align: middle;color:#3306f9;"> -->
                                                        <i class="fa fa-archive" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;color:#3306f9;"></i>
                                                        <span>Cancel Request for Data Sample</span>
                                                    </button>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                        <ng-container *ngIf="isAuthenticated()">
                                <ng-container *ngIf="!dataProvider.locked">
                                    <li class="dropdown profile-list-padding" ngbDropdown>
                                        <p-blockUI [target]="test1" [blocked]="!userLevel && !allowEditAccess" *ngIf="!userLevel && !allowEditAccess">
                                            <i class="fa fa-lock fa-3x" style="position:absolute;left:40%;margin-top:4px;z-index: 1;font-size:24px;"></i>
                                        </p-blockUI>
                                        <span class="category-title">
                                            <button #test1 class="btn btn-lock tag-buttons-wrapper text-uppercase" type="button" [ngStyle]="{'background-color':!userLevel && !allowEditAccess? 'rgba(0, 0, 0, 0.4)': '#fe5722', 'cursor': !userLevel? 'not-allowed' : ''}" (click)="openCommentsWindow('addNotes', '')" [disabled]="!userLevel && !allowEditAccess">
                                                <img src="../../../content/images/icons/UX-UI-Icon_processed-33.png" class="share-image" />
                                                <span [matTooltip]="userLevel && !allowEditAccess ? 'Save a note related to this provider' : ''">Add Note</span>
                                            </button>
                                            <div class="category-tooltiptext" *ngIf="!userLevel && !allowEditAccess">
                                                <span class="popover-span">Your account is not allowed to use this feature.<br>
                                                    <button style="margin:0 38px !important;font-family: 'OpenSans-Light';" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
                                                </span>
                                            </div>
                                        </span>
                                    </li>
                                    </ng-container>
                                    </ng-container>
                            <!-- <li class="dropdown profile-list-padding" ngbDropdown [autoClose]="'outside'">
                                <ng-container *ngIf="dataProvider.locked">
                                    <p-blockUI  [blocked]="dataProvider.locked" *ngIf="dataProvider.locked">
                                        <i class="fa fa-lock fa-3x" style="position:absolute;bottom:0%;top:20%;left:45%;z-index: 1;font-size: 24px;"></i>
                                    </p-blockUI>
                                <button class="btn btn-lock tag-buttons-wrapper dropdown-toggle text-uppercase" ngbDropdownToggle type="button" [disabled]="dataProvider.locked" [ngStyle]="{'background-color':dataProvider.locked? 'rgba(0, 0, 0, 0.4)': '#fe5722', 'cursor': dataProvider.locked? 'not-allowed' : ''}"  (click)="getTagList(dataProvider.id);shreDropDown({'label':'Provider Profile - About - Tags','category':'Provider Tag','event': 'Tagged'})" id="shareMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                    <img src="../../../content/images/icons/tag icon white.png" class="share-image" />
                                    <span matTooltip="Tag this Provider">Tag</span> <span>({{tagCount}})</span>
                                </button>
                                </ng-container>
                                <ng-container *ngIf="!dataProvider.locked">
                                    <button class="btn btn-lock tag-buttons-wrapper dropdown-toggle text-uppercase" ngbDropdownToggle type="button" [disabled]="dataProvider.locked" [ngStyle]="{'background-color':dataProvider.locked? 'rgba(0, 0, 0, 0.4)': '#fe5722', 'cursor': dataProvider.locked? 'not-allowed' : ''}"  (click)="getTagList(dataProvider.id);shreDropDown({'label':'Provider Profile - About - Tags','category':'Provider Tag','event': 'Tagged'})" id="shareMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                        <img src="../../../content/images/icons/tag icon white.png" class="share-image" />
                                        <span matTooltip="Tag this Provider">Tag</span> <span>({{tagCount}})</span>
                                    </button>
                                <ul class="dropdown-menu drp-down-ul-tag" ngbDropdownMenu [ngStyle]="{'min-width':'178px'}" *ngIf="isAuthenticated()">
                                    <span *ngIf='loaderActive' class="spinner"></span>
                                    <ng-container *ngFor="let providerTags of tagDropDownValues; let pIndex = index">
                                        <li *ngIf="providerTags.privacy === 'Private'" [ngStyle]="{'margin': '2px 0 2px 0px','clear': 'both','padding': '2px 8px'}">
                                            <a>
                                                <span>
                                                    <button class="btn-lock-tag drp-down-btn-tag" color="warn" type="submit" [ngStyle]="{'background-color':providerTags.providerTag? 'rgb(67, 138, 254)': 'rgb(206, 207, 208)'}" (click)="providerNewTag({'tagId':providerTags.id, 'providerId': dataProvider.id}, pIndex)">
                                                        <img src="../../../content/images/icons/tag icon white.png" class="share-image" />
                                                        <span class="tag-name-list">{{providerTags.tagName}}</span>
                                                        <span *ngIf="providerTags.providerTag">
                                                            <i class="fa fa-check" aria-hidden="true" style="font-size: 1rem;line-height: 1rem;vertical-align: middle;margin-left: 5px;float: right"></i>
                                                        </span>
                                                    </button>
                                                </span>
                                            </a>
                                        </li>
                                    </ng-container>
                                    <li *ngIf="customTags" [ngStyle]="{'margin': '2px 0 2px 0px','clear': 'both','padding': '2px 8px'}">
                                        <form role="form" class="new-tag-form" novalidate (ngSubmit)="onKeydownTag({'tag':newTagValue, 'providerID': dataProvider.id})">
                                            <a>
                                                <span>
                                                    <input class="new-tag-input" type="text" name="tag" value="" [(ngModel)]="newTagValue">
                                                </span>
                                            </a>
                                            <a>
                                                <span>
                                                    <button (click)="customTag({'label':'Provider Profile - About - Tags - Create New Tag','category':'Provider Tag','event': 'Tag Created'})" [disabled]="!userLevel" [ngStyle]="{'background-color':!userLevel? 'rgba(0, 0, 0, 0.4)': '#fe5722', 'cursor': !userLevel? 'not-allowed' : ''}" class="btn-lock drp-down-btn-tag text-position" color="warn" type="submit">
                                                        <span matTooltip="Create a New Custom Tag" [ngStyle]="{'padding': '0px'}">+ Create New Tag</span>
                                                    </button>
                                                </span>
                                            </a>
                                        </form>
                                    </li>
                                    <ng-container *ngIf="!customTags">
                                        <p-blockUI [target]="pnl" [blocked]="!userLevel" *ngIf="!userLevel">
                                            <i class="fa fa-lock fa-3x" style="position:absolute;bottom:4%;left:46%;z-index: 1;font-size: 24px;"></i>
                                        </p-blockUI>
                                        <li #pnl [ngStyle]="{'margin': '2px 0 2px 0px','clear': 'both','padding': '2px 8px'}">
                                            <a>
                                                <span>
                                                    <button (click)="customTag({'label':'Provider Profile - About - Tags - Create New Tag','category':'Provider Tag','event': 'Tag Created'})" [disabled]="!userLevel" [ngStyle]="{'background-color':!userLevel? 'rgba(0, 0, 0, 0.4)': '#fe5722', 'cursor': !userLevel? 'not-allowed' : ''}" class="btn-lock drp-down-btn-tag text-position" color="warn" type="submit">
                                                        <span matTooltip="Create a New Custom Tag" [ngStyle]="{'padding': '0px'}">+ Create New Tag</span>
                                                    </button>
                                                </span>
                                            </a>
                                        </li>
                                    </ng-container>
                                </ul>
                                </ng-container>
                            </li> -->
                            <li class="dropdown profile-list-padding share-buttons-wrapper" ngbDropdown>
                                    <button class="btn btn-lock dropdown-toggle text-uppercase" ngbDropdownToggle type="button" id="shareMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="authenticationCheck()">
                                        <img src="../../../content/images/icons/White-Share-icon-original.png" class="share-image" />
                                        <span matTooltip="Share This Provider">Share</span>
                                    </button>
                                    <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="shareMenuButton" *ngIf="isAuthenticated()">
                                        <share-button class="dropdown-menu-item"
                                            [button]="'email'"
                                            [showText]="true"
                                            [autoSetMeta]="false"
                                            [description]="dataProvider?.emailText"
                                            matTooltip="Share This Provider Through Email"
                                        ></share-button>
                                        <share-button class="dropdown-menu-item"
                                            [button]="'linkedin'"
                                            [showText]="true"
                                            [autoSetMeta]="false"
                                            [description]="dataProvider?.linkedInText"
                                            matTooltip="Share This Provider Through LinkedIn"
                                        ></share-button>
                                        <share-button class="dropdown-menu-item"
                                            [button]="'twitter'"
                                            [showText]="true"
                                            [autoSetMeta]="false"
                                            [description]="dataProvider?.twitterText"
                                            matTooltip="Share This Provider Through Twitter"
                                        ></share-button>
                                        <share-button class="dropdown-menu-item"
                                            [button]="'copy'"
                                            [showText]="true"
                                            [autoSetMeta]="false"
                                            matTooltip="Copy the Link to this Provider"
                                        ></share-button>
                                    </div>
                                </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div *ngIf="dataProvider.website != null" class="text-overflow-ellipsis">
                <p class="text-center">
                        <span matTooltip="Link to the home page website of the provider or the division within the company/organization that provides/analyzes data."> <a href="///{{dataProvider.website}}"  target="_blank" (click)="profileWebsite({'label':'Provider Profile - About - Website','category':'Provider','event': 'External Link Clicked'})">{{dataProvider.website}}</a></span>
                </p>
            </div>
            <div *ngIf="resourceLink" class="text-overflow-ellipsis">
                <p class="text-center" >
                    <!-- <span *ngFor="let iconLinks of dataProvider.link">
                        <a *ngIf="iconLinks.linkCategory && iconLinks.linkCategory[0].desc" (click)="getLinkUrl(iconLinks.link)" class="icon-links">
                            <img [ngStyle]="{'width': '40px', 'height': '40px', 'margin-right': '9px', 'margin-bottom': '1rem'}" [src]="getLinkImgUrl(iconLinks.linkCategory[0].desc)" />
                        </a>
                    </span> -->
                    <span *ngFor="let iconLinks of resourceLink">
                        <a *ngIf="iconLinks.dataLinksCategory && iconLinks.dataLinksCategory[0] && iconLinks.dataLinksCategory[0].description" (click)="getLinkUrl(iconLinks.link)" class="icon-links">
                            <span [matTooltip]="iconLinks.dataLinksCategory[0].description + (iconLinks.linkTitle? ' : ' + iconLinks.linkTitle : '') "><img [ngStyle]="{'width': '40px', 'height': '40px', 'margin-right': '9px', 'margin-bottom': '1rem'}" [src]="getLinkImgUrl(iconLinks.dataLinksCategory[0].description)" />
                            </span>
                        </a>
                    </span>
                </p>
            </div>
            <div *ngIf="(dataProvider.mainDataIndustry && dataProvider.mainDataIndustry?.dataIndustry === 'DATA_INDUSTRY_NULL' && isAdmin)  || (dataProvider.mainDataIndustry && dataProvider.mainDataIndustry?.dataIndustry && isAdmin) || (dataProvider.mainDataIndustry && dataProvider.mainDataIndustry?.dataIndustry !== 'DATA_INDUSTRY_NULL' && !isAdmin)"><span class="grey-text"><span matTooltip="Primary industry that the provider operates in and provides data to."><b>Main Industry: </b></span></span>
                <span *ngIf="isAuthenticated()">
                    <a [routerLink]="['/providers']" [queryParams]="{ filter: 'mainDataIndustry.id', id: dataProvider.mainDataIndustry?.id, type: 'checkbox' }" >
                        <span *ngIf="!dataProvider.mainDataIndustry.locked" [matTooltip]="dataProvider.mainDataIndustry?.explanation ">{{ dataProvider.mainDataIndustry?.dataIndustry}}</span>
                        <span class="detailcategory-title">
                            <span *ngIf="dataProvider.mainDataIndustry.locked">{{ dataProvider.mainDataIndustry?.dataIndustry}}</span>
                            <span class="detailcategory-tooltiptext">
                                <span class="popover-span">Your account does not have permission to view this.<br>
                                    <button style="margin:0 38px !important;font-family: 'OpenSans-Light';" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
                                </span>
                            </span>
                        </span>
                    </a>
               </span>
               <span *ngIf="!isAuthenticated()">
                <a (click)="authenticationCheck()" >
                    <span [matTooltip]="dataProvider.mainDataIndustry.locked? 'Your account does not have permission to view this.' : dataProvider.mainDataIndustry?.explanation " [matTooltipShowDelay]="mdTooltipDelay">{{ dataProvider.mainDataIndustry?.dataIndustry}}</span>
                </a>
           </span>
            </div>
            <div *ngIf="(dataProvider.mainDataCategory && dataProvider.mainDataCategory?.datacategory === 'DATA_CATEGORY_NULL' && isAdmin)  || (dataProvider.mainDataCategory && dataProvider.mainDataCategory?.datacategory && isAdmin) || (dataProvider.mainDataCategory && dataProvider.mainDataCategory?.datacategory !== 'DATA_CATEGORY_NULL' && !isAdmin)">
                <span class="grey-text">
                    <span matTooltip="The main type of data or information that the provider collects/provides/analyzes."><b>Main Category: </b></span>
                </span>
                <span *ngIf="isAuthenticated()">
                    <span *ngIf="dataProvider.mainDataCategory?.locked">
                        <span class="detailcategory-title">
                            <span class="blurText" *ngIf="dataProvider.mainDataCategory?.locked">{{ dataProvider.mainDataCategory?.datacategory}}</span>
                            <span class="detailcategory-tooltiptext">
                                <span class="popover-span">Your account does not have permission to view this.<br>
                                    <button style="margin:0 38px !important;font-family: 'OpenSans-Light';" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
                                </span>
                            </span>
                        </span>
                    </span>
                    <a *ngIf="!dataProvider.mainDataCategory?.locked" [routerLink]="['/providers']" [queryParams]="{ filter: 'mainDataCategory.id', id: dataProvider.mainDataCategory?.id, type: 'checkbox' }">
                        <span [matTooltip]="dataProvider.mainDataCategory?.explanation" [matTooltipShowDelay]="mdTooltipDelay" [matTooltipDisabled]="dataProvider.mainDataCategory?.locked">{{ dataProvider.mainDataCategory?.datacategory}}</span>
                    </a>
                </span>
                <span *ngIf="!isAuthenticated()">
                    <a *ngIf="!dataProvider.mainDataCategory?.locked" (click)="authenticationCheck()">
                        <span [matTooltip]="dataProvider.mainDataCategory?.explanation" [matTooltipShowDelay]="mdTooltipDelay" [matTooltipDisabled]="dataProvider.mainDataCategory?.locked">{{ dataProvider.mainDataCategory?.datacategory}}</span>
                    </a>
                </span>
            </div>
            <div *ngIf="dataProvider.createdDate">
                <span class="grey-text" matTooltip="Date the data provider was discovered and added."> <b>Added: </b></span>
                <span>{{ dataProvider.createdDate | date}}</span>
            </div>
            <div *ngIf="dataProvider.updatedDate">
                <span class="grey-text" matTooltip="Date the data provider's profile was last updated."><b>Updated: </b></span>
                <span>{{ dataProvider.updatedDate | date}}</span>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div class="col-md-9">
 <jhi-generic-tab [tabs]="tabs" [dataResourceValue]="providerID" [operatorPermission]="unlockOperatorPermission" [userRole]= "userRole" [dataResourceName]="dataProviderName" [dataResourceRecId]="dataProviderRecID" [isLocked]="isLocked" (subTabLoadData)="subTabLoadData($event)" (buttonActions)="buttonActions($event)" [resourceTab]="resourceTab" ></jhi-generic-tab>
  <p class="text-left">Logos provided by <a href="http://clearbit.com/" target="_new">Clearbit</a></p>
</div>
</div>
    <div class="row" *ngIf="!dataProvider && !this.isLoading">
        <div class="col-md-12 text-center">
            <img src="../../../content/images/icons/404.png" />
            <h1 class="opensans-bold">500</h1>
            <p>Sorry, no provider found for this ID</p>
            <div>Go back to <a [routerLink]="['/providers']">Provider List</a> page</div>
        </div>
    </div>
</section>
</div>
