<span aria-hidden="true" (click)="closeSignUpDialog()" [ngStyle]="{'float': 'right','margin-right': '-9px','margin-top':'-33px','font-weight': 'bold','font-size':'24px'}">&times;</span>
<div class="page-title">
    <div class="row no-margin">
        <div class="col-md-3 pull-left">
            <!-- <div class="text-center amass-progressbar-container">
                <div class="amass-progressbar-value"><span matTooltip="Percent of the data provider's profile that has been filled in" class="white-text">{{dataProvider.completeness}}% Complete</span></div>
                <mat-progress-bar class="amass-progressbar amass-progressbar-default" [color]="progressBarColor" [mode]="progressBarMode" [value]="dataProvider.completeness" [bufferValue]="dataProvider.completeness"></mat-progress-bar>
            </div> -->
        </div>
        <div class="col-md-6 text-center">
            <span *ngIf="editLinkTitle" [ngStyle]="{'padding':' 0 10px'}">Admin: Edit</span><span *ngIf="editLinkTitle">{{editLinkTitle}}</span> <span *ngIf="editLinkTitle"> Details</span>
            <span [ngStyle]="{'padding':' 0 10px'}" *ngIf="!editLinkTitle">Admin: New Link</span>
        </div>
        <div class="col-md-3 pull-right">
            <button [disabled]="progressSpinner"  mat-raised-button color="warn" (click)="submitAdminEditLink(basicModel,'Overall Details');formSubmit({'label':'Link Admin - Button - Submit Changes','category':'Link Admin','event': 'Submitted'})">Submit Changes</button>
            <!-- <button mat-raised-button color="warn">Discard My Changes</button> -->
            <ng-container *ngIf="progressSpinner && overAll === 'Overall Details'">
                <jhi-progress-spinner></jhi-progress-spinner>
            </ng-container>
        </div>
    </div>
</div>
<mat-dialog-content>
<div class="container">
    <jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)"></jhi-inactivity-timer>
<section class="section-margin">
    <div class="row" >
        <div class="col-md-12">
            <!-- <mat-tab-group disableRipple class="mat-elevation-z2" [(selectedIndex)]="tabIndex">
                <mat-tab> -->
                    <!-- <ng-template mat-tab-label>
                            <span matTooltip="High-level overview of the provider's characteristics.">Overview</span>
                    </ng-template> -->

                    <div class="tab-content-row">
                        <mat-accordion>
                            <mat-expansion-panel [expanded]="basicExpansionPanel">
                               <!--  <mat-expansion-panel-header>
                                    <b matTooltip="Provider's basic information." class="tab-content-title">Basic</b>
                                </mat-expansion-panel-header> -->

                                <form role="form" novalidate id="basicForm" [formGroup]="basicForm" (ngSubmit)="submitAdminEditLink(basicModel)" class="formlyJSONForm">
                                    <formly-form [model]="basicModel" [fields]="basicFields" [options]="basicOptions" [form]="basicForm">
                                        <!-- <div class="form-group row">
                                            <label class="col-sm-2 col-form-label opensans-bold">
                                                Relevant Files:
                                            </label>
                                            <div class="col-sm-10">
                                                <label class="form-description">
                                                    Please upload any documents that contain information describing your data offerings, such as marketing literature, data dictionaries, data snapshots, case studies, white papers or anything else you think would help a potential data buyer understand your products.
                                                </label>
                                                <button mat-raised-button color="primary" (click)="openUppyDialog()">Upload Files</button>
                                                 <jhi-uppy [plugins]="uppyPlugins" [on]="uppyEvent"></jhi-uppy>
                                                <span class="form-placeholder-explanation">
                                                    Should the the documents you upload here address the majority of the forthcoming questions, NO NEED TO PROCEED. Amass will complete this form to the best of its abilities on your behalf, relying upon the details included in these attached materials. If any clarifications are needed or once Amass is finished reviewing the materials, you will be notified and have the opportunity to make further modifications to your data profile.
                                                </span>
                                            </div>
                                        </div>  -->
                                        <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Link Admin - Button - Save and Submit','category':'Link Admin','event': 'Saved'})">Save and Submit</button>
                                    </formly-form>
                                    <ng-container *ngIf="progressSpinner">
                                        <jhi-progress-spinner></jhi-progress-spinner>
                                    </ng-container>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
               <!--  </mat-tab>
            </mat-tab-group> -->
        </div>
    </div>
</section>
</div>
</mat-dialog-content>
