<div class="page-title">
    <div class="row no-margin" *ngIf="dataProvider">
        <div class="col-md-3 pull-left">
            <!-- <div class="text-center amass-progressbar-container">
                <div class="amass-progressbar-value"><span matTooltip="Percent of the data provider's profile that has been filled in" class="white-text">{{dataProvider.completeness}}% Complete</span></div>
                <mat-progress-bar class="amass-progressbar amass-progressbar-default" [color]="progressBarColor" [mode]="progressBarMode" [value]="dataProvider.completeness" [bufferValue]="dataProvider.completeness"></mat-progress-bar>
            </div> -->
        </div>
        <div class="col-md-6 text-center">
            <span *ngIf="dataProvider" [ngStyle]="{'padding':' 0 10px'}">Admin: Edit</span><span *ngIf="dataProvider" [ngClass]="{blurText: dataProvider.locked}">{{dataProvider.providerName}}</span> <span *ngIf="dataProvider"> Data Profile</span>
        </div>
        <div class="col-md-3 pull-right">
            <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="submitProviderEdit(basicModel, 'Overall Details');formSubmit({'label':'Provider Profile Admin - Button - Submit Changes','category':'Provider Profile Admin','event': 'Submitted'})">Submit Changes</button>
            <ng-container *ngIf="progressSpinner && overAll === 'Overall Details'">
                <jhi-progress-spinner></jhi-progress-spinner>
            </ng-container>
            <p *ngIf="pendingEdits"><button [disabled]="approveSpinner" mat-raised-button color="warn" (click)="approveAllChanges();formSubmit({'label':'Provider Profile Admin - Button - Approve All','category':'Provider Profile Admin','event': 'Submitted'})">Approve All Changes</button>
                <ng-container *ngIf="approveSpinner">
                    <jhi-progress-spinner></jhi-progress-spinner>
                </ng-container>
            </p>
            <!-- <button mat-raised-button color="warn">Discard My Changes</button> -->
            <a [routerLink]="['../']"><button mat-raised-button color="warn" type="button">View Profile</button></a>
        </div>
    </div>
</div>
<div class="container">
    <jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)"></jhi-inactivity-timer>
    <section class="section-margin">
        <div class="row" *ngIf="dataProvider">
            <div class="col-md-12">
                <mat-tab-group disableRipple class="mat-elevation-z2" [(selectedIndex)]="tabIndex">
                    <mat-tab label="Overview" (backgroundColor)="progressBarColor">
                        <ng-template mat-tab-label>
                                <span matTooltip="High-level overview of the provider's characteristics.">Overview</span>
                        </ng-template>

                        <div class="tab-content-row">
                            <mat-accordion>
                                <mat-expansion-panel [expanded]="basicExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <b matTooltip="Provider's basic information." class="tab-content-title">Basic</b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="basicForm" [formGroup]="basicForm" (ngSubmit)="submitProviderEdit(basicModel, 'Basic Details', 'basicExpansionPanel', 'companyExpansionPanel', 0, 'basicForm')" class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="basicFields" [options]="basicOptions" [form]="basicForm">
                                            <!-- <div class="form-group row">
                                                <label class="col-sm-2 col-form-label opensans-bold">
                                                    Relevant Files:
                                                </label>
                                                <div class="col-sm-10">
                                                    <label class="form-description">
                                                        Please upload any documents that contain information describing your data offerings, such as marketing literature, data dictionaries, data snapshots, case studies, white papers or anything else you think would help a potential data buyer understand your products.
                                                    </label>
                                                    <button mat-raised-button color="primary" (click)="openUppyDialog()">Upload Files</button>
                                                    <jhi-uppy [plugins]="uppyPlugins" [on]="uppyEvent"></jhi-uppy>
                                                    <span class="form-placeholder-explanation">
                                                        Should the the documents you upload here address the majority of the forthcoming questions, NO NEED TO PROCEED. Amass will complete this form to the best of its abilities on your behalf, relying upon the details included in these attached materials. If any clarifications are needed or once Amass is finished reviewing the materials, you will be notified and have the opportunity to make further modifications to your data profile.
                                                    </span>
                                                </div>
                                            </div>  -->
                                            <button [disabled]="progressSpinner"  mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Basic - Button - Save and Continue','category':'Provider Profile Admin','event': 'Saved'})">Save and Continue</button>
                                    <ng-container *ngIf="progressSpinner && panelName === 'Basic Details'">
                                        <jhi-progress-spinner></jhi-progress-spinner>
                                    </ng-container>
                                        </formly-form>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion>
                                <mat-expansion-panel [expanded]="companyExpansionPanel" style="overflow: inherit;">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Company Details</b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="companyDetailsForm" [formGroup]="companyDetailsForm" (ngSubmit)="submitProviderEdit(basicModel, 'Company Details', 'companyExpansionPanel', 'adminExpansionPanel', 0, 'companyDetailsForm')" class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="companyDetailsFields" [options]="companyDetailsOptions" [form]="companyDetailsForm"></formly-form>
                                        <button *ngIf="!emptyField" type="button" mat-raised-button color="warn" (click)="openOrganizationDialog('editOrganization'); formSave({'label':'Provider Profile Admin - Owner Organization - Button - Edit','category':'Provider Profile Admin - Linked Organization','event': 'Edited'})">Edit Owner Organization</button>
                                        <button *ngIf="emptyField" type="button" mat-raised-button color="warn" (click)="openOrganizationDialog('addOrganization'); formSave({'label':'Provider Profile Admin - Owner Organization - Button - Add','category':'Provider Profile Admin - Linked Organization','event': 'Added'})">+ Add New Organization</button>
                                        <formly-form [model]="basicModel" [fields]="numberOfAnalystEmployeesFields" [options]="numberOfAnalystEmployeesOptions" [form]="numberOfAnalystEmployeesForm"></formly-form>
                                            <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Company Details - Button - Save and Continue','category':'Provider Profile Admin','event': 'Saved'})">Save and Continue</button>
                                            <ng-container *ngIf="progressSpinner && panelName === 'Company Details'">
                                                <jhi-progress-spinner></jhi-progress-spinner>
                                            </ng-container>
                                        </form>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion>
                                <mat-expansion-panel [expanded]="adminExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Admin</b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="adminForm" [formGroup]="adminForm" (ngSubmit)="submitProviderEdit(basicModel, 'Admin', 'adminExpansionPanel', 'descriptionsExpansionPanel', 0, 'adminForm')" class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="adminFields" [options]="adminOptions" [form]="adminForm">
                                            <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin  - Panel - Admin - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                        </formly-form>
                                        <ng-container *ngIf="progressSpinner && panelName === 'Admin'">
                                            <jhi-progress-spinner></jhi-progress-spinner>
                                        </ng-container>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion>
                                <mat-expansion-panel [expanded]="descriptionsExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Descriptions</b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="descriptionsForm" [formGroup]="descriptionsForm" (ngSubmit)="submitProviderEdit(basicModel, 'Descriptions', 'descriptionsExpansionPanel', 'categorizationsExpansionPanel', 0, 'descriptionsForm')" class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="descriptionsFields" [options]="descriptionsOptions" [form]="descriptionsForm">
                                            <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Descriptions - Save and Continue','category':'Provider Profile Admin','event': 'Saved'})">Save and Continue</button>
                                        </formly-form>
                                        <ng-container *ngIf="progressSpinner && panelName === 'Descriptions'">
                                            <jhi-progress-spinner></jhi-progress-spinner>
                                        </ng-container>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion>
                                <mat-expansion-panel [expanded]="categorizationsExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Categorizations</b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="categorizationsForm" [formGroup]="categorizationsForm" (ngSubmit)="submitProviderEdit(basicModel, 'Categorizations', 'categorizationsExpansionPanel', 'investigationExpansionPanel', 0, 'categorizationsForm')" class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="categorizationsFields" [options]="categorizationsOptions" [form]="categorizationsForm">
                                            <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Categorizations - Button - Save and Continue','category':'Provider Profile Admin','event': 'Saved'})">Save and Continue</button>
                                        </formly-form>
                                        <ng-container *ngIf="progressSpinner && panelName === 'Categorizations'">
                                            <jhi-progress-spinner></jhi-progress-spinner>
                                        </ng-container>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion>
                                <mat-expansion-panel [expanded]="investigationExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Investing-Related Details</b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="investigationForm" [formGroup]="investigationForm" (ngSubmit)="submitProviderEdit(basicModel, 'Investing-Related Details', 'investigationExpansionPanel', '', 1, 'investigationForm')" class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="investigationFields" [options]="investigationOptions" [form]="investigationForm">
                                            <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Investing-Related - Button - Save and Continue','category':'Provider Profile Admin','event': 'Saved'})">Save and Continue</button>
                                        </formly-form>
                                        <ng-container *ngIf="progressSpinner && panelName === 'Investing-Related Details'">
                                            <jhi-progress-spinner></jhi-progress-spinner>
                                        </ng-container>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>

                    </mat-tab>
                    <mat-tab label="Details" (backgroundColor)="progressBarColor">
                        <ng-template mat-tab-label>
                                <span matTooltip="Important details regarding your data offerings.">Details</span>
                        </ng-template>

                        <div class="tab-content-row">
                            <mat-accordion>
                                <mat-expansion-panel [expanded]="relatedProvidersExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Related Providers</b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="relatedProvidersForm" [formGroup]="relatedProvidersForm" (ngSubmit)="submitProviderEdit(basicModel, 'Related Providers', 'relatedProvidersExpansionPanel', 'dataDetailsExpansionPanel', 0, 'relatedProvidersForm')" class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="relatedProvidersFields" [options]="relatedProvidersOptions" [form]="relatedProvidersForm">
                                            <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Related Providers - Button - Save and Continue','category':'Provider Profile Admin','event': 'Saved'})">Save and Continue</button>
                                        </formly-form>
                                        <ng-container *ngIf="progressSpinner && panelName === 'Related Providers'">
                                            <jhi-progress-spinner></jhi-progress-spinner>
                                        </ng-container>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion>
                                <mat-expansion-panel [expanded]="dataDetailsExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Data Details</b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="dataDetailsForm" [formGroup]="dataDetailsForm" (ngSubmit)="submitProviderEdit(basicModel, 'Data Details', 'dataDetailsExpansionPanel', 'dataQualityExpansionPanel', 0, 'dataDetailsForm')" class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="dataDetailsFields" [options]="dataDetailsOptions" [form]="dataDetailsForm">
                                            <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Data Details - Button - Save and Continue','category':'Provider Profile Admin','event': 'Saved'})">Save and Continue</button>
                                        </formly-form>
                                        <ng-container *ngIf="progressSpinner && panelName === 'Data Details'">
                                            <jhi-progress-spinner></jhi-progress-spinner>
                                        </ng-container>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>
                            <mat-accordion>
                                <mat-expansion-panel [expanded]="dataQualityExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Data Quality</b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="dataQualityForm" [formGroup]="dataQualityForm" (ngSubmit)="submitProviderEdit(basicModel, 'Data Quality', 'dataQualityExpansionPanel', 'dataDeliveryExpansionPanel', 0, 'dataQualityForm')" class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="dataQualityFields" [options]="dataQualityOptions" [form]="dataQualityForm">
                                            <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Data Details - Button - Save and Continue','category':'Provider Profile Admin','event': 'Saved'})">Save and Continue</button>
                                        </formly-form>
                                        <ng-container *ngIf="progressSpinner && panelName === 'Data Quality'">
                                            <jhi-progress-spinner></jhi-progress-spinner>
                                        </ng-container>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion>
                                <mat-expansion-panel [expanded]="dataDeliveryExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Data Delivery</b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="dataDeliveryForm" [formGroup]="dataDeliveryForm" (ngSubmit)="submitProviderEdit(basicModel, 'Data Delivery', 'dataDeliveryExpansionPanel', 'triallingExpansionPanel', 0, 'dataDeliveryForm')" class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="dataDeliveryFields" [options]="dataDeliveryOptions" [form]="dataDeliveryForm">
                                            <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Data Delivery - Button - Save and Continue','category':'Provider Profile Admin','event': 'Saved'})">Save and Continue</button>
                                        </formly-form>
                                        <ng-container *ngIf="progressSpinner && panelName === 'Data Delivery'">
                                            <jhi-progress-spinner></jhi-progress-spinner>
                                        </ng-container>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion>
                                <mat-expansion-panel [expanded]="triallingExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Trialling</b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="triallingForm" [formGroup]="triallingForm" (ngSubmit)="submitProviderEdit(basicModel, 'Trialling', 'triallingExpansionPanel', 'licensingExpansionPanel', 0, 'triallingForm')" class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="triallingFields" [options]="triallingOptions" [form]="triallingForm">
                                            <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Trialling - Button - Save and Continue','category':'Provider Profile Admin','event': 'Saved'})">Save and Continue</button>
                                        </formly-form>
                                        <ng-container *ngIf="progressSpinner && panelName === 'Trialling'">
                                            <jhi-progress-spinner></jhi-progress-spinner>
                                        </ng-container>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion>
                                <mat-expansion-panel [expanded]="licensingExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Licensing</b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="licensingForm" [formGroup]="licensingForm" (ngSubmit)="submitProviderEdit(basicModel, 'Licensing', 'licensingExpansionPanel', 'pricingExpansionPanel', 0, 'licensingForm')" class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="licensingFields" [options]="licensingOptions" [form]="licensingForm">
                                            <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Licensing - Button - Save and Continue','category':'Provider Profile Admin','event': 'Saved'})">Save and Continue</button>
                                        </formly-form>
                                        <ng-container *ngIf="progressSpinner && panelName === 'Licensing'">
                                            <jhi-progress-spinner></jhi-progress-spinner>
                                        </ng-container>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>
                            <mat-accordion>
                                <mat-expansion-panel [expanded]="pricingExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Pricing</b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="pricingForm" [formGroup]="pricingForm" (ngSubmit)="submitProviderEdit(basicModel, 'Pricing', 'pricingExpansionPanel', 'discussionExpansionPanel', 0, 'pricingForm')" class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="pricingFields" [options]="pricingOptions" [form]="pricingForm">
                                            <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Licensing - Button - Save and Continue','category':'Provider Profile Admin','event': 'Saved'})">Save and Continue</button>
                                        </formly-form>
                                        <ng-container *ngIf="progressSpinner && panelName === 'Pricing'">
                                            <jhi-progress-spinner></jhi-progress-spinner>
                                        </ng-container>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>

                        <mat-accordion>
                                <mat-expansion-panel [expanded]="discussionExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Discussion</b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="discussionForm" [formGroup]="discussionForm" (ngSubmit)="submitProviderEdit(basicModel, 'Discussion', 'discussionExpansionPanel', '', 2, 'discussionForm')" class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="discussionFields" [options]="discussionOptions" [form]="discussionForm">
                                            <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Discussion - Button - Save and Continue','category':'Provider Profile Admin','event': 'Saved'})">Save and Continue</button>
                                        </formly-form>
                                        <ng-container *ngIf="progressSpinner && panelName === 'Discussion'">
                                            <jhi-progress-spinner></jhi-progress-spinner>
                                        </ng-container>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>

                    </mat-tab>
                    <mat-tab label="Resources" (backgroundColor)="progressBarColor">
                        <ng-template mat-tab-label>
                                <span>Resources</span>
                        </ng-template>

                        <div class="tab-content-row">
                            <mat-accordion>
                                <mat-expansion-panel [expanded]="resourceProvidersExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <span><h6 class="tab-content-title"><b>Resources </b></h6></span>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="resourceProviderForm" [formGroup]="resourceProviderForm" (ngSubmit)="submitProviderEdit(basicModel)" class="formlyJSONForm">
                                        <button type="button" mat-raised-button color="warn" (click)="addResource();formSave({'label':'Provider Profile Admin - Button - Add Resource','category':'Add Resource','event': 'Internal Link Clicked'})" [ngStyle]="{'margin-bottom': '10px'}">+ Add New Resource</button><br>
                                        <div class="col-md-12 row">
                                            <div class="col-md-2 " [ngStyle]="{'float': 'left'}"> <span [ngStyle]="{'color': 'black', 'font-family': 'OpenSans-Bold'}">Relevant Files:</span></div>
                                            <div class="col-md-8 " [ngStyle]="{'float': 'right'}"><span >Upload any documents that contain further details about this data provider\'s offerings, such as marketing literature, data dictionaries, data snapshots, data samples, or anything else you think would help a potential data consumer to understand the data provider\'s products.</span></div>
                                        </div>
                                        <formly-form [model]="basicModel" [fields]="dataResourceFieldsFile" [options]="resourcrProviderOption" [form]="resourceProviderForm">
                                                <ng-container *ngIf="dataRelevantFiles && dataRelevantFiles.length > 0">
                                                        <table class="table">
                                                            <thead>
                                                                <tr style="text-align: center;">
                                                                    <th scope="col" [ngStyle]="{'width': '90%'}">Relevant Files</th>
                                                                    <th scope="col" [ngStyle]="{'width': '10%'}">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody style="font-size: 13px;">
                                                                <tr *ngFor="let item of dataRelevantFiles; let i = index">
                                                                    <td>{{item.resFileName}}</td>
                                                                    <td><button type="button" mat-raised-button color="warn" class="btn-edit" (click)="editFile(item?.resourceID)" [ngStyle]="{'margin-bottom': '10px'}">Edit</button></td>
                                                                    <td><button type="button" mat-raised-button color="warn" class="btn-edit" [ngStyle]="{'margin-bottom': '10px'}" (click)="deleteResourceFile(item, i)">Remove</button></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </ng-container>
                                        </formly-form><br>
                                        <formly-form [fields]="dataResourceFieldsLink" [options]="relevantLinksOption" [form]="relevantLinksForm">
                                            <ng-container *ngIf="addRelevantLinks && addRelevantLinks.length > 0 && disableTable">
                                                <table class="table">
                                                        <thead>
                                                            <tr style="text-align: center;">
                                                                <th scope="col" [ngStyle]="{'width': '90%'}">Relevant Links</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody style="font-size: 13px;">
                                                            <tr *ngFor="let item of addRelevantLinks; let i = index">
                                                                <td>{{item.link}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </ng-container>

                                            <ng-container>
                                                <span [ngStyle]="{'color': 'black', 'font-family': 'OpenSans-Bold'}" matTooltip="Only add a link if the information within the link has not already been added to the Data Provider Research, such as when there are numerous partners listed and it would take a lot of time to add them all.
                                                If there is an affiliate program, what is the website where the affiliate program is described or laid out?
                                                If the price of products is posted, what is the website where it's posted? (Only makes sense to fill this in if the prices are posted centrally onto one site.)
                                                If the site should be scraped for partners, what website has the listing of the partners? (Only makes sense to fill this in if the partners are listed centrally on one (or a couple) site.)
                                                If the site should be scraped for customers, what website had the listing of the customers? (Only makes sense to fill this in if the customers are listed centrally on one (or a couple) site.">Relevant Links</span>
                                            </ng-container>
                                            <ng-container *ngIf="dataRelevantLinks && dataRelevantLinks.length > 0">
                                                <table class="table">
                                                    <thead>
                                                        <tr style="text-align: center;">
                                                            <th scope="col" [ngStyle]="{'width': '90%'}">Relevant Links</th>
                                                            <th scope="col" [ngStyle]="{'width': '10%'}">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody style="font-size: 13px;">
                                                        <tr *ngFor="let item of dataRelevantLinks; let i = index">
                                                            <td *ngIf="item.linkName && item.resLinkName">{{item.resLinkName}}</td>
                                                            <td *ngIf="item.createResourceName">{{item.createResourceName}}</td>
                                                            <td *ngIf="item.updateResourceName">{{item.updateResourceName}}</td>
                                                            <td><button type="button" mat-raised-button color="warn" class="btn-edit" (click)="editLink(item?.resourceID)" [ngStyle]="{'margin-bottom': '10px'}">Edit</button></td>
                                                            <td><button type="button" mat-raised-button color="warn" class="btn-edit" [ngStyle]="{'margin-bottom': '10px'}" (click)="deleteResourceLink(item, i)">Remove</button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </ng-container>
                                        </formly-form> <br>
                                        <ng-container>
                                            <span [ngStyle]="{'color': 'black'}" matTooltip="Only add a link if the information within the link has not already been added to the Data Provider Research, such as when there are numerous partners listed and it would take a lot of time to add them all.
                                            If there is an affiliate program, what is the website where the affiliate program is described or laid out?
                                            If the price of products is posted, what is the website where it's posted? (Only makes sense to fill this in if the prices are posted centrally onto one site.)
                                            If the site should be scraped for partners, what website has the listing of the partners? (Only makes sense to fill this in if the partners are listed centrally on one (or a couple) site.)
                                            If the site should be scraped for customers, what website had the listing of the customers? (Only makes sense to fill this in if the customers are listed centrally on one (or a couple) site.">A list of the links that are relevant to gathering more information on this data provider.</span>
                                        </ng-container><br>
                                        <button mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Related Providers - Button - Save and Continue','category':'Provider Profile Admin','event': 'Saved'})">Save and Submit</button>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>

                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </section>
</div>
