mat-grid-tile:not(:last-child) {
	border-right: 1px solid #ddd;
}

.list {
	height: 19px;
    width: 55px;
    display: inline-block;
    vertical-align: middle;
    background: url("../../../content/images/icons/list.png") no-repeat center center;
}

.list-active {
	height: 19px;
    width: 55px;
    display: inline-block;
    vertical-align: middle;
    background: url("../../../content/images/icons/list-active.png") no-repeat center center;
}

.grid {
	height: 19px;
    width: 21px;
    display: inline-block;
    vertical-align: middle;
    background: url("../../../content/images/icons/grid.png") no-repeat center center;
}

.grid-active {
	height: 19px;
    width: 21px;
    display: inline-block;
    vertical-align: middle;
    background: url("../../../content/images/icons/grid-active.png") no-repeat center center;
}

.provider-data.mat-list {
	.mat-list-item {
		min-height: 100px;
		margin-bottom: 10px;
		.thumb-img.mat-list-avatar {
			width: 100px;
			height: 50px;
			border-radius: 0px;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			-o-border-radius: 0px;
		}

		.mat-card {
			padding: 5px 15px;
			.provider-name {
				font-weight: bold;
				color: #333;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.provider-list .mat-card a.clickable-link {
    color: inherit;
}

.provider-list .mat-card a.clickable-link:hover {
    text-decoration: none;
}

.provider-list {
    margin-bottom: 10px;
    .row {
        margin-left: auto;
        margin-right: auto;
    }
    .blurText {
        color: transparent !important;
        text-shadow: 0 0 10px rgba(0,0,0,0.5);
        text-shadow: 0px 0px 0px 10px #e7e7e7;
    }
	.media img.media-object {
		margin-right: 10px;
		max-width: 200px;
	}

	.media-body .mat-card {
		padding: 5px 8px;
		min-height: 145px;
	}

	.media-body .media-heading {
		font-size: 1em;
		font-weight: bold;
	}

	.media-body .media-heading a {
		color: #333;
		&:hover {
			text-decoration: none;
		}
	}

	.media-body .media-text {
		font-size: 0.8em;
		/* margin-bottom: 10px; */
        .col-md-3:not(:nth-child(4)),
        .col-md-4:not(:nth-child(3)),
        /* .col-md-6 {
			border-right: 1px solid #ddd;
        } */

		.grey-text {
			color: #858585;
		}
    }
    .list-bootom{
        margin-bottom: 5px;
        clear: both;
    }

    .profile-action {
        display: table;
        table-layout: fixed;
    }

	.profile-action-icon-wrapper {
		width: 25px;
		display: table-cell;
        margin-right: 6px;
        cursor: pointer;
        text-align: center;
	}
	.icon-text {
		font-weight: bold;
		line-height: 20px;
	}
	.unlock-icon,
	.rating-icon,
	.expand-icon {
	    display: inline-block;
	    vertical-align: middle;
	}

	.unlock-icon {
        width: 18px;
        margin-right: 4px;
		//height: 16px;
		//background: url("../../../content/images/icons/profile_unlock.svg") no-repeat center center;
	}

	.rating-icon {
		width: 23px;
		height: 21px;
		background: url("../../../content/images/icons/follow.svg") no-repeat center center;
	}

	.expand-icon {
		width: 20px;
		//height: 20px;
		//background: url("../../../content/images/icons/profile_expand.svg") no-repeat center center;
	}

	.media-desc {
		color: #858585;
		font-size: 0.9em;
	}
}

.grid-card {
	margin-bottom: 10px;
    background-color: #fafafa;
    height: 98%;
}

::ng-deep .grid-card .mat-card-footer {
	display: flex;
	justify-content: space-around;
	border-top: 1px solid #ddd;
	padding: 10px 5px;
}

::ng-deep .mat-card.sorting-wrapper {
    padding: 10px;
}

::ng-deep .mat-grid-tile .mat-line {
    padding: 0px 16px;
}

::ng-deep .mat-grid-tile img {
    padding-left: 16px;
}

.social .social-container {
    text-align: center;
  }

  .social .social-container ul {
    float: right;
  }

  .social .social-container ul li {
    /* float: left; */
    list-style-type: none;
  }

  .provider-logo {
      margin-right: 10px;
  }

  ::ng-deep .provider-status-btn .mat-button.mat-warn {
      cursor: default;
  }

  ::ng-deep .provider-status-btn .mat-button.mat-warn:hover .mat-button-focus-overlay,
  .provider-status-btn .mat-button.mat-warn:focus .mat-button-focus-overlay {
      background-color: transparent !important;
  }

  ::ng-deep .provider-status-btn .mat-button .mat-button-wrapper {
      font-family: OpenSans-Bold;
  }

  /* Progress bar */
.amass-progressbar-container {
   /*  height: 25px; */
    min-width: 128px;
   /*  margin: 0 10px; */
}

.amass-progressbar.mat-progress-bar {
    height: 18px;
}

.amass-progressbar-value {
    font-family: OpenSans-Regular;
    font-size: 0.8rem;
    color: #9e9e9e;
   /*  margin-bottom: 5px; */
}

::ng-deep .amass-progressbar-default.mat-progress-bar .mat-progress-bar-buffer {
    background-color: #bbdefb;
}

::ng-deep .amass-progressbar-default.mat-progress-bar .mat-progress-bar-fill::after {
    background-color: #438afe;
}

.amass-progressbar-success.mat-progress-bar .mat-progress-bar-buffer {
    background-color: #a5d6a7;
}

.amass-progressbar-success.mat-progress-bar .mat-progress-bar-fill::after {
    background-color: #2e7d32;
}

.amass-progressbar-warning.mat-progress-bar .mat-progress-bar-buffer {
    background-color: #ffcdd2;
}

.amass-progressbar-warnning.mat-progress-bar .mat-progress-bar-fill::after {
    background-color: #f44336;
}
.loader{
    margin-left: 340px;
    margin-top:100px;
    transition-duration: 0s;
    transition-delay: 0s;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    stroke-dasharray: 300px;
    animation-duration: 10s;
    stroke-width: 5%;
    transition: stroke-dashoffset 100ms linear;
}
  .spinner {
	display: block;
	margin: 2em auto;
	width: 4em;
	height: 4em;
    padding: 7px;
	border-radius: 50%;
	transform: scale(.7);
}

.medium {
  transform: scale(1)
}


.spinner-wrapper {
	position: relative;
	width: 4em;
	height: 4em;
	border-radius: 100%;
	left: calc(50% - 2em);
}

.spinner-wrapper::after {
	content: "";
	background: #e4e5e6;
	border-radius: 50%;
	width: 3em;
	height: 3em;
	position: absolute;
	top: 0.5em;
	left: 0.5em;
}

.rotator {
	position: relative;
	width: 4em;
	border-radius: 4em;
	overflow: hidden;
	animation: rotate 2000ms infinite linear;
}

.rotator:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #3F51B5;
	border: 3px solid #e4e5e6;
	border-radius: 100%;
}

.inner-spin {
	background: #e4e5e6;
	height: 4em;
	width: 2em;
}

.inner-spin {
	animation: rotate-left 2500ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
	border-radius: 2em 0 0 2em;
	transform-origin: 2em 2em;
}

.inner-spin:last-child {
	animation: rotate-right 2500ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
	margin-top: -4em;
	border-radius: 0 2em 2em 0;
	float: right;
	transform-origin: 0 50%;
}
.static-list-clear{
    clear: both;
}
.pull-right-icon{
    float: right;
}
.icons-sec{
    padding: 5px 0;
    margin-bottom: 20px;
}
//  .tooltip{
//     animation-duration:500s !important;
//     animation-delay: 500s !important;
//   }

// .tooltip {
//     position: relative;
//     display: inline-block;
// }

.popover-span{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 100 !important;
    font-size: 14px !important;
    display: table-cell !important;
    text-align: left !important;
    padding-left: 6px !important;
}

.provider-title {
    font-size: 16px;
    position: relative;
    display: inline-block;
}

.provider-title .tooltiptext {
    visibility: hidden;
    width: 260px;
    background-color: white;
    text-align: center;
    border: 1px solid #80808070;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 20%;
    margin-left: -60px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 500ms;
  }

  .provider-title .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: #c0c0c0 transparent transparent transparent;
  }

  .provider-title:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
//   .tooltip:hover .tooltiptext {
//     visibility: visible;
//     opacity: 1;
//   }

.category-title {
    font-size: 16px;
    position: relative;
    display: inline-block;
}

.category-title .category-tooltiptext {
    visibility: hidden;
    width: 260px;
    background-color: white;
    text-align: center;
    border: 1px solid #80808070;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0%;
    margin-left: -110px;
    opacity: 0;
    transition: opacity 500ms;
}

.category-title .category-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: #c0c0c0 transparent transparent transparent;
  }

  .category-title:hover .category-tooltiptext {
    visibility: visible;
    opacity: 1;
  }

@keyframes rotate-left {
	60%, 75%, 100% {
    	transform: rotate(360deg);
  	}
}

@keyframes rotate {
	0% {
    	transform: rotate(0);
  	}
  	100% {
    	transform: rotate(360deg);
  	}
}

@keyframes rotate-right {
	0%, 25%, 45% {
    	transform: rotate(0);
  	}

  	100% {
    	transform: rotate(360deg);
  	}
}

.progress-bar{
    background-color: #438afe !important;
}
.progress{
    background-color: #bbdefb !important;
    border-radius: 0 !important;
}
.score-rating{
    float: left;
    padding-right: 4px;
}
.progress-value{
    float: right;
    position: absolute;
    color: #fff;
    width: 120px;
}
.request-btn{
    border: none;
    position: relative;
    min-width: 130px;
    height: 28px;
    text-align: left;
    cursor: pointer;
    font-size: 12px;
    color: #3306f9;
    background:#cecfd0;
    font-weight: 600;
    margin: 1px 0;
    padding: 0 8px;
}
.request-btn img
{
	display: inline-block;
    vertical-align: middle;
    /* margin-bottom: 2px; */
}
.request-btn i
{
	display: inline-block;
    vertical-align: middle;
    /* margin-bottom: 2px; */
}


.request-btn span
{
	display:inline-block;
    vertical-align:middle;
    padding: 2px;
}
.btn-lock
{
    border: none;
    position: relative;
    min-width: 130px !important;
    height: 28px;
    text-align: left;
    cursor: pointer;
    font-size: 12px !important;
    color: #fff;
    background:#fe5722;
    font-weight: 600;
    margin: 1px 0;
    padding: 0 7px;
    line-height: 0px;
    border-radius: 0.15rem;
}
.btn-lock-button{
    padding: 0 0px 0 7px !important;
}
.btn-lock img
{
	display: inline-block;
    vertical-align: middle;
    /* background-color: #fff; */
   /*  margin-bottom: 2px; */
}
.btn-lock i
{
	display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}
.btn-lock span
{
	display:inline-block;
    vertical-align:middle;
    padding: 4px;
/*     letter-spacing: 1px; */
}
.discussion-btn-label
{
    border: none;
    position: relative;
    min-width: 106px !important;
    height: 28px;
    text-align: left;
    cursor: pointer;
    font-size: 12px !important;
    color: #fff;
    background:#fe5722;
    font-weight: 600;
    margin: 1px 0;
    padding: 0px 0px 0px 3px;
    line-height: 0px;
    border-radius: 0;
    float: left;
}
.discussion-btn-label span{
    display: inline-block;
    vertical-align: middle;
    padding: 3px;
}
.discussion-btn-label img{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0px;
    margin-right: 0px;
    vertical-align: middle;
}
.discussion-btn
{
    border: none;
    position: relative;
    min-width: 28px !important;
    height: 28px;
    text-align: left;
    cursor: pointer;
    font-size: 12px !important;
    color: #fff;
    background:#fe5722;
    font-weight: 600;
    margin: 1px 0;
    padding: 0 6px;
    line-height: 0px;
    border-radius: 0;
    margin-left: -4px;
    float: left;
}
.discussion-image{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0px;
    margin-right: 0px;
    vertical-align: middle;
    float: left;
}
.discussion-btn img{
	display: inline-block;
    vertical-align: middle;
    /* background-color: #fff; */
   /*  margin-bottom: 2px; */
}
.discussion-btn i
{
	display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}
.discussion-btn span
{
	display:inline-block;
    vertical-align:middle;
    /* padding: 4px; */
/*     letter-spacing: 1px; */
}
.discussion-btn-note{
    padding: 5px 36px 5px 12px;
}
.discussion-btn-comment{
    padding: 10px 0px 10px 0px;
}
.discussion-btn::after {
    margin-top: 2px !important;
}
.lock-icon-bg{
    background-color: #fff;
}
.btn-pending
{
    border: none;
    position: relative;
    min-width: 130px !important;
    height: 28px;
    text-align: left;
    font-size: 13px;
    color: #3306f9;
    background:#fff;
    font-weight: 600;
    /* margin: 1px 0; */
}
.btn-pending img
{
	display: inline-block;
    vertical-align: middle;
    /* margin-bottom: 2px; */
    /* margin-left: 5px; */
}
.btn-pending i
{
	display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}
.btn-pending span
{
	display:inline-block;
    vertical-align:middle;
}
.list-padding{
    padding: 0px 0px 3px 0px !important;
}
.profile-list-padding {
    padding: 2px 0px !important;
}
.list-padding-detail{
    padding: 1px 8px !important;
}
.list-padding-list-tag{
    padding: 0px 10px !important;
}
.list-padding-tag{
    padding: 0px 24px !important;
}
.drp-down-btn-request{
    min-width: 230px !important;
}
.drp-down-btn-discussion{
    min-width: 120px !important;
    text-align: center;
}
.drp-down-btn{
    min-width: 230px !important;
}
.drp-down-btn-tag{
    min-width: 172px !important;
}
.drp-down-ul{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    left: -111px !important;
}
.drp-down-ul-tag{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    left: -25px !important;
}
.drp-down-ul-discussion{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    left: -97px !important;
}
/* .btn-request {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
} */
.request-list{
    list-style-type: none;
}
.request-float{
    float: right;
}
.request-share-img{
    width: 1.2rem;
    height: 1.4rem;
    vertical-align: middle;
}
.share-image{
    width: 1rem;
    height: 1.3rem;
    margin-left: 0px;
    margin-right: 2px;
    vertical-align: middle;
}
.dropdown-toggle::after {
    float: right;
    margin-top: 8px;
    font-size: large;
}
.discussion-dropdown-toggle::after {
    content:none !important;
}
.noPadding{
    padding: 0;
}
.tag-buttons-wrapper button {
    background-color: #fe5722;
    color: #fff;
    min-width: 143px  !important;
    height: 28px;
    font-size: 12px;
    border: none;
    text-align: left;
    line-height: 0;
    padding: 0 8px;
}
.tag-buttons-wrapper button.dropdown-toggle::after {
    float: right;
    font-size: large;
}
.btn-lock-tag
{
    border: none;
    position: relative;
    min-width: 172px !important;
    height: 28px;
    text-align: left;
    cursor: pointer;
    font-size: 12px !important;
    color: #fff;
    /* background:#fe5722; */
    font-weight: 600;
    margin: 1px 0;
    padding: 0 7px;
    line-height: 0px;
}
.btn-lock-tag img
{
	display: inline-block;
    vertical-align: middle;
    /* background-color: #fff; */
   /*  margin-bottom: 2px; */
}
.btn-lock-tag i
{
	display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}
.btn-lock-tag span
{
	/* display:inline-block; */
    vertical-align:middle;
    padding: 0px;
    line-height: 14px;
/*     letter-spacing: 1px; */
}
.new-tag-input{
    width: 172px;
    margin-bottom: 5px;
}
.new-tag-form{
    width: 160px;
}
.tag-name-list {
    margin-left: 5px;
}
.disable-tag{
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}
.text-position{
    text-align: center;
}
.request-access-icon {
    background: #fe5722;
}
.category-link{
    float: right;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #007bff !important;
}
.provider-suggestion{
    text-align: center !important;
    font-weight: bold;
    font-size: 16px;
    color: #007bff;
}
.add-provider{
    font-weight: bold !important;
    font-size: 16px !important;
    color: #007bff;
    font-family: 'OpenSans-Regular';
}
.suggest-btn{
    padding: 0.25rem 1.5rem;
    white-space: nowrap;
    background-color: transparent;
    border: none;
}
.suggest-sec{
    padding: 0 93px;
}

/* Tag spinner */
.spinner {
    position: absolute;
    z-index: 999;
    /* margin: 0 62px; */
    left: 40%;
    top: 50%;
    height:15px;
    width:15px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .9s infinite linear;
    border-left:6px solid #438afe;
    border-right:6px solid #438afe;
    border-bottom:6px solid #438afe;
    border-top:6px solid #3F51B5;
    border-radius:100%;
 }

 @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
 }
 @-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
 }
 @-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
 }
 @keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
 }

 .search-btn {
    position: absolute;
    right: 0;
    border: none;
    padding: 5px;
}
button:focus { outline: none;
 }


.clear-search-btn {
    position: absolute;
    right: 0;
    padding: 5px;
}
.action-btn {
    display: flex;
    justify-content: flex-end;
}
.share-dropdown-menu {
    min-width: 8rem !important;
}
.clear-filters-button {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}
.clear-filters-button .clear-icon {
    float: right;
    color: #f44336;
    line-height: 36px;
}
/* .corona {
    background-color: #fe5722;
    margin-left: 20px;
} */
.counter-icon {
    height: 21px;
}


#profileCard .col-md-9, #profileCard .col-md-3, #profileCard .col-md-4, #profileCard .col-md-12, #profileCard .col-md-5,#profileCard .col-md-8 {
        padding-right: 0px;
        padding-left: 0px;
    }
#cardContent .col-md-12, #cardContent .col-md-8 {
        padding-left: 0px;
        padding-right: 0px;
    }
.category
{
    color: gray;
}
