
.img-thumbnail {
    background-color: #fff;
    min-width: 100%;
}

.left-card.mat-card,
.img-thumbnail {
    margin-bottom: 15px;
}

.left-card.mat-card {
    padding: 10px 24px;
}

.left-card .mat-card-title {
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.profile-action {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.profile-action-icon-wrapper {
    width: 25px;
    display: table-cell;
    margin-right: 6px;
    cursor: pointer;
    text-align: center;
}

.icon-text {
    font-weight: bold;
    line-height: 20px;
}

.unlock-icon,
.rating-icon,
.expand-icon {
    display: inline-block;
    vertical-align: middle;
}

.unlock-icon {
    width: 19px;
}

.rating-icon {
    width: 21px;
    height: 21px;
    background: url("../../../content/images/icons/follow.svg") no-repeat center center;
}

.expand-icon {
    width: 20px;
}

.attribute-card .mat-card-content {
    justify-content: space-between;
    display: flex;
    padding: 0 30px;
}

/**
 * Text truncate
 */
.block-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 40px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}
.icon-links:hover{
    text-decoration: none;
}

/**
 * Tabs
 */

::ng-deep mat-tab-group {
    margin-bottom: 15px;
}

::ng-deep mat-tab-group .mat-tab-header {
    background-color: #438afe;
}

::ng-deep mat-tab-group .mat-tab-label {
    color: #fff;
    opacity: 1;
    width: 33.33%;
    height: 30px;
    margin: 12px 0;
}

::ng-deep mat-tab-group .mat-tab-label:not(:last-child) {
    border-right: 1px solid #ddd;
}

::ng-deep .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
    background-color: transparent;
}

::ng-deep mat-tab-group .mat-tab-body-wrapper {
    background-color: #fff;
    padding: 15px 20px;
}

::ng-deep mat-tab-group.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #c7dcff;
    height: 3px;
}

.tab-content-title {
    text-transform: uppercase;
   /*  border-bottom: 1px solid #ddd; */
    padding-bottom: 10px;
}

.tab-content-row {
    margin-bottom: 25px;
}
.tab-content-row p, p.long-text {
    white-space: pre-line;
    text-indent: 0;
}

ul {
    list-style: none;
}

ul > li {
    padding-left: 1em;
    text-indent: -.7em;
}

/* ul > li::before {
    content: "• ";
    color: #438afe;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 8px;
}

/**
 * Products tab
 */
.grid-card {
    margin-bottom: 10px;
    background-color: #fafafa;
}

::ng-deep .grid-card .mat-card-footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ddd;
    padding: 10px 5px;
}

.footer-link {
    line-height: 40px;
}

.footer-icon {
    padding: 0 5px;
    border-left: 1px solid #ddd;
}

/**
 * Articles
 */
.mat-list .mat-list-item .mat-list-avatar,
.mat-nav-list .mat-list-item .mat-list-avatar,
.mat-selection-list .mat-list-item .mat-list-avatar {
    border: 1px solid #ddd;
}

.media-list {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.media img.media-object {
    margin-right: 10px;
    max-width: 200px;
}

.media-body .mat-card {
    padding: 10px 20px;
    min-height: 100px;
}

.media-body .media-heading {
    font-size: 1em;
    font-weight: bold;
}

.media-body .media-heading a {
    color: #333;
}

.media-body .media-heading a:hover {
    text-decoration: none;
}

.media-body .media-text {
    font-size: 0.8em;
    margin-bottom: 10px;
}

.media-desc {
    color: #858585;
    font-size: 0.9em;
}

::ng-deep .media-desc > img {
    width: 100%;
}

::ng-deep mat-tab-group.media-list-tab .mat-tab-body-wrapper {
    padding: 0px;
}

::ng-deep mat-tab-group.mat-grey-bg .mat-tab-body-wrapper {
    background-color: transparent;
}

::ng-deep mat-tab-group .mat-tab-body-content {
    overflow-x: hidden;
}

::ng-deep mat-tab-group.media-list-tab .mat-tab-body-wrapper .mat-tab-body-content {
    background-color: rgb(228, 229, 230) !important;
    padding: 10px !important;
}

::ng-deep mat-tab-group.media-list-tab .provider-list .media-body .mat-card {
    min-height: 178px !important;
}

.blurText,
.blurText span,
.blurText p,
.blurText div,
.blurText .media-heading a,
.blurText .media-desc p a,
.blurTextContainer span,
.blurTextContainer p,
.blurTextContainer a,
.blurTextContainer b {
    color: transparent !important;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 0px 10px #e7e7e7;
}

.detail-card-title {
    font-size: 25px !important;
}

.published-date {
    margin-top: 5px;
}
.action-icons{
    padding-left: 38px;
}
.action-icons .social-container {
    text-align: center;
  }
  .action-icons .social-container ul {
      padding-left: 0;
      float: left;
      /* display: inline-block; */
  }

  .action-icons .social-container ul li {
    /*   float: left; */
    padding-left: 0px;
    text-indent: 0;
    list-style-type: none;
  }

  .action-icons .social-container ul li:before {
      content: '';
  }
  .btn-status{
    min-width: 105px !important;
    line-height: 20px !important;
    padding: 5px 16px !important;
    color: #fe5722;
    font-weight: 600;
    cursor: default;
    font-size: 18px;
    margin: 0 0 0px 0;
}

/* Material Table */
.mat-table {
    margin-bottom: 10px;
}
.mat-table .mat-row .mat-cell {
    overflow: hidden;
    word-wrap: break-word;
}

.mat-table .mat-row .mat-cell,
.mat-table .mat-header-row .mat-cell {
    padding: 0 10px;
}

.mat-table .mat-row .mat-cell a {
    color: rgba(0,0,0,0.87);
}
.edit-btn{
    min-width: 100% !important;
    margin-right: 0;
    font-weight: bold;
    margin-bottom: 15px;
}
.edit-btn-label-text{
    padding: 0 0 0 10px;
}
.drp-down-profile-ul{
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    left: -45px !important;
    top: 0px !important;
}
.drp-down-profile-locked-ul{
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    left: -4px !important;
    top: 30px !important;
    padding: 2px 0;
}
.request-text{
    margin-left: 4px;
}
.add-note-button{
    padding: 10px 27px !important;
}
.profile-list-padding {
    padding: 2px 10px !important;
}
.new-resource-btn{
    background-color: #fe5722;
    color: #fff;
    min-width: 143px !important;
    height: 28px;
    font-size: 12px;
    border: none;
    text-align: left;
    line-height: 0;
    padding: 0 8px;
}
.discuss-comment{
    padding: 0 5px;
}
/* discussion button */
.discussion-btn-detail-label
{
    border: none;
    position: relative;
    min-width: 226px !important;
    height: 36px;
    /* text-align: left; */
    cursor: pointer;
    font-size: 14px !important;
    color: #fff;
    background:#fe5722;
    font-weight: 600;
    margin: 1px 0;
    padding: 0 8px;
    line-height: 0px;
    border-radius: 0;
    float: left;
    border-radius: 4px 0px 0 4px;
}
.discussion-btn-detail-label img{
    width: 1.9rem;
    height: 1.9rem;
}
.discussion-btn-detail-label-text{
    padding: 0 0 0 10px;
}
.discussion-btn-detail
{
    border: none;
    position: relative;
    min-width: 40px !important;
    height: 36px;
    text-align: left;
    cursor: pointer;
    font-size: 14px !important;
    color: #fff;
    background:#fe5722;
    font-weight: 600;
    margin: 1px 0;
    padding: 0 8px;
    line-height: 8px;
    border-radius: 0;
    /* margin-left: -4px; */
   /*  float: left; */
   border-radius: 0px 4px 4px 0px;
}
.discussion-btn-detail img
{
	display: inline-block;
    vertical-align: middle;
    /* background-color: #fff; */
   /*  margin-bottom: 2px; */
}
.discussion-btn-detail i
{
	display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}
.discussion-btn-detail span
{
	display:inline-block;
    vertical-align:middle;
    padding: 4px;
/*     letter-spacing: 1px; */
}
.discussion-btn-detail::after {
    margin-top: 2px !important;
}
.drp-down-btn-discussion-detail{
    min-width: 100% !important;
    text-align: center;
    border: none;
    position: relative;
    height: 36px;
    cursor: pointer;
    font-size: 14px !important;
    color: #fff;
    background:#fe5722;
    font-weight: 600;
    margin: 1px 16px;
    padding: 0 8px;
    border-radius: 0;
}
.drp-down-ul-discussion-detail-img{
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 5px;
}
.drp-down-ul-discussion-detail{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    left: -215px !important;
    width: 100%;
}
.discussion-dropdown-toggle-detail::after {
    content:none !important;
}
.drp-down-ul-discussion-detail-padding{
    padding-inline-start: 0 !important;
}
.drp-down-ul-discussion-detail-padding li{
    padding-left: 0 !important;
    clear: both;
}
.edit-profile-icon{
    width: 1.3rem;
    line-height: 1.3rem;
    vertical-align: middle;
    color:#ffffff;
}
.edit-profile-icon-locked{
    width: 1.3rem;
    line-height: 1.3rem;
    vertical-align: middle;
}
.edit-profile-icon-pending{
    width: 1.3rem;
    line-height: 1.3rem;
    vertical-align: middle;
}

.notice-text {
    font-size: larger;
}
.locked-notice-text {
    font-size: large;
}

.popover-span{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 100 !important;
    font-size: 14px !important;
    display: table-cell !important;
    text-align: left !important;
    padding-left: 6px !important;
    color: black;
}

/* .detail-title {
    font-size: 16px;
    position: relative;
    display: inline-block;
} */

.detail-title .detail-tooltiptext {
    visibility: hidden;
    width: 260px;
    background-color: white;
    text-align: center;
    border: 1px solid #80808070;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 99999 !important;
    top: 50%;
    left: 42%;
    margin-left: -60px;
    
    opacity: 0;
    transition: opacity 500ms;
  }

  .detail-title .detail-tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent white transparent;
  }

  .detail-title:hover .detail-tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  /* categoryandindustry */

  .detailcategory-title .detailcategory-tooltiptext {
    visibility: hidden;
    width: 260px;
    background-color: white;
    text-align: center;
    border: 1px solid #80808070;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1 !important;
    top: 48% !important;
    left: 20%;
    margin-left: -50px;
    
    opacity: 0;
    transition: opacity 500ms;
  }

  .detailcategory-title .detailcategory-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -9px;
    border-width: 9px;
    border-style: solid;
    border-color: #c0c0c0 transparent transparent transparent;
  }

  .detailcategory-title:hover .detailcategory-tooltiptext {
    visibility: visible;
    opacity: 1;
  }
