.col-form-label {
    font-weight: bold;
}

::ng-deep formly-wrapper-description .text-muted {
    display: none;
}

::ng-deep jhi-formly-horizontal-wrapper .form-control {
    font-size: 1.2em;
    font-family: 'OpenSans-Light';
}

::ng-deep jhi-formly-horizontal-wrapper .form-description {
    font-size: larger;
}

::ng-deep jhi-formly-horizontal-wrapper .form-placeholder-explanation {

}
