.blurTextContainer {
    color: transparent !important;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.5) !important;
    text-shadow: 0px 0px 0px 10px #e7e7e7;
}

a, a:not([href]):not([tabindex]) {
    color: #007bff;
}

a.noLink {
    color: inherit;
}

.amass-flat-tree .mat-tree-node {
    min-height: 40px !important;
    font-size: 16px;
}
.line-break{
    white-space: pre-line;
}
.tree-clear{
    clear: both;
}
.tree-float{
    float: left;
}
.tree-float-padding{
    padding-left: 20px !important;
}
