<mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl" class="amass-flat-tree tree-clear">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding class="tree-float" [ngClass]="{'tree-float-padding': treeNodeData}">
    <button mat-icon-button disabled></button>
    <a (click)="anchorLink(node)" *ngIf="(node.locked !== true && !node.locked && node.id); else noLink;"><span class="line-break" [matTooltip]="node.tooltip" [ngClass]="{'opensans-bold': node.font}">{{node.label}}</span></a>
    <ng-template #noLink><span class="line-break" [ngClass]="{'blurTextContainer': node.locked}">{{node.label}}</span></ng-template>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding class="tree-clear">
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.filename">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <span [matTooltip]="node.tooltip"><b>{{node.label}}</b></span>
  </mat-tree-node>
</mat-tree>
