
<div *ngIf="dataIndustry">
    <h2><span jhiTranslate="datamarketplaceApp.dataIndustry.detail.title">Data Industry</span> {{dataIndustry.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="datamarketplaceApp.dataIndustry.dataIndustry">Data Industry</span></dt>
        <dd>
            <span>{{dataIndustry.dataIndustry}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataIndustry.explanation">Explanation</span></dt>
        <dd>
            <span>{{dataIndustry.explanation}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataIndustry.createdDate">Created Date</span></dt>
        <dd>
            <span>{{dataIndustry.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataIndustry.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{dataIndustry.updatedDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
