<span aria-hidden="true" (click)="closeSignUpDialog()" [ngStyle]="{'float': 'right','margin-right': '-9px','margin-top':'-33px','font-weight': 'bold','font-size':'24px'}">&times;</span>
<div class="page-title">
    <div class="row no-margin">
        <div class="col-md-3 pull-left">

        </div>
        <div class="col-md-6 text-center">
            <span *ngIf="dataResourceId" [ngStyle]="{'padding':' 0 10px'}">Admin: Edit</span><span *ngIf="dataResourceName">{{dataResourceName}}</span>
            <span *ngIf="!dataResourceId" [ngStyle]="{'padding':' 0 10px'}">Add New Resource - Admin</span>
        </div>
        <div class="col-md-3 pull-right">
            <button [disabled]="progressSpinner"  mat-raised-button color="warn"(click)="submitResourceAdmin(basicModel,'Overall Details',null,null,null,null,'submit');formSubmit({'label':'Resource Admin - Button - Submit Changes','category':'Resource Admin','event': 'Submitted'})">Submit Changes</button>
            <ng-container *ngIf="progressSpinner && overAll === 'Overall Details'">
                <jhi-progress-spinner></jhi-progress-spinner>
            </ng-container>
        </div>
    </div>
</div>
<mat-dialog-content>
<div class="container">
    <!--<jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)"></jhi-inactivity-timer>-->
    <section class="section-margin">
        <div class="row">
            <div class="col-md-12">
                <mat-dialog-content class="mat-typography">
                <mat-tab-group disableRipple class="mat-elevation-z2" [(selectedIndex)]="tabIndex">
                    <mat-tab label="Overview" (backgroundColor)="progressBarColor">
                        <ng-template mat-tab-label>
                            <span
                                matTooltip="High-level overview of the resource's characteristics.">Overview</span>
                        </ng-template>

                        <div class="tab-content-row">
                            <mat-accordion>
                                <mat-expansion-panel [expanded]="basicExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <b matTooltip="Resource's basic information."
                                            class="tab-content-title">Basic</b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="basicForm" [formGroup]="basicForm"
                                        (ngSubmit)="submitResourceAdmin(basicModel, 'Basic Details', 'basicExpansionPanel', 'adminExpansionPanel', 0, 'basicForm')"
                                        class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="basicLinkFields" [options]="basicLinkOptions" [form]="basicLinkForm">
                                            <div>
                                                <button *ngIf="!emptyField" type="button" mat-raised-button color="warn" (click)="openLinkDialog('editLink')">Edit Link</button>
                                                <button *ngIf="emptyField" type="button" mat-raised-button color="warn" (click)="openLinkDialog('addLink');formSave({'label':'Resource Admin - Link - Button - Add','category':'Add Link','event': 'Internal Link Clicked'})">+ Add New Link</button>
                                            </div><br>
                                        </formly-form>
                                        <formly-form [model]="basicModel" [fields]="basicFileFields" [options]="basicFileOptions" [form]="basicFileForm"></formly-form>

                                        <formly-form [model]="basicModel" [fields]="basicResourceFields" [options]="basicResourceOptions" [form]="basicForm"></formly-form>
                                            <button [disabled]="progressSpinner" mat-raised-button color="warn"
                                                (click)="formSave({'label':'Organization Admin - Panel - Basic - Button - Save and Continue','category':'Organization Admin','event': 'Saved'})">Save and Continue</button>
                                  <ng-container *ngIf="progressSpinner && panelName === 'Basic Details'">
                                            <jhi-progress-spinner></jhi-progress-spinner>
                                        </ng-container>
                                            </form>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion>
                                <mat-expansion-panel [expanded]="adminExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Admin</b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="adminForm" [formGroup]="adminForm"
                                        (ngSubmit)="submitResourceAdmin(basicModel, 'Admin', 'adminExpansionPanel', 'categorizationsExpansionPanel', 0, 'adminForm')"
                                        class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="adminFields"
                                            [options]="adminOptions" [form]="adminForm">
                                            <button [disabled]="progressSpinner" mat-raised-button color="warn"
                                                (click)="formSave({'label':'Organization Admin - Panel - Admin - Button - Save and Continue','category':'Organization Admin','event': 'Saved'})">Save and Continue</button>
                                        </formly-form>
                                        <ng-container *ngIf="progressSpinner && panelName === 'Admin'">
                                            <jhi-progress-spinner></jhi-progress-spinner>
                                        </ng-container>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>

                            <mat-accordion>
                                <mat-expansion-panel [expanded]="categorizationsExpansionPanel">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Categorizations</b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="categorizationsDetailsForm" [formGroup]="categorizationsDetailsForm"
                                        (ngSubmit)="submitResourceAdmin(basicModel, 'Categorizations', 'categorizationsExpansionPanel', '', 1, 'categorizationsDetailsForm')"
                                        class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="categorizationsFields"
                                            [options]="categorizationsDetailsOptions" [form]="categorizationsDetailsForm">
                                            <button [disabled]="progressSpinner" mat-raised-button color="warn"
                                                (click)="formSave({'label':'Organization Admin - Panel - Admin - Button - Save and Continue','category':'Organization Admin','event': 'Saved'})">Save and Continue</button>
                                        </formly-form>
                                        <ng-container *ngIf="progressSpinner && panelName === 'Categorizations'">
                                            <jhi-progress-spinner></jhi-progress-spinner>
                                        </ng-container>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </mat-tab>
                    <mat-tab label="Overview" (backgroundColor)="progressBarColor">
                        <ng-template mat-tab-label>
                            <span
                                matTooltip="Important details related to this resource.">Details</span>
                        </ng-template>

                        <div class="tab-content-row">
                            <mat-accordion>
                                <mat-expansion-panel [expanded]="relevantEntitiesPanel">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Related Entities </b>
                                    </mat-expansion-panel-header>

                                    <form role="form" novalidate id="relevantEntitiesDetailsForm" [formGroup]="relevantEntitiesDetailsForm"
                                        (ngSubmit)="submitResourceAdmin(basicModel,null,null,null,null,null,'submit')"
                                        class="formlyJSONForm">
                                        <formly-form [model]="basicModel" [fields]="relevantEntitiesFields"
                                            [options]="relevantEntitiesDetailsOptions" [form]="relevantEntitiesDetailsForm">
                                            <button [disabled]="progressSpinner" mat-raised-button color="warn"
                                                (click)="formSave({'label':'Organization Admin - Panel - Admin - Button - Save and Continue','category':'Organization Admin','event': 'Saved'})">Save and Submit</button>
                                        </formly-form>
                                        <ng-container *ngIf="progressSpinner">
                                            <jhi-progress-spinner></jhi-progress-spinner>
                                        </ng-container>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-dialog-content>
            </div>
        </div>
    </section>
</div>
</mat-dialog-content>
