<div class="container">
    <mat-card class="card-container">
        <h3 jhiTranslate="confirm.title">Account Confirmed</h3>
        <div class="alert alert-success" *ngIf="success">
            <span jhiTranslate="confirm.messages.success">
                Your account and email address have been confirmed. We are  currently reviewing your account. Expect to receive an account activation email within 24 hours.
                <br><br>
                Thank you for your interest in Insights!
                <br><br>
                If you don't receive a notification for account activation within 24 hours, please check your SPAM folder! If you still don't see the notification, please Contact Us.
            </span>
        </div>
        <div class="alert" *ngIf="error" jhiTranslate="confirm.messages.error">
            <strong>Your user could not be confirmed.</strong> Please use the registration form to sign up.
        </div>
    </mat-card>
</div>
