<div class="page-title">
    <span class="text-uppercase">How It Works</span>
</div>
<section class="work-flow-sec white">
    <div class="container">
       <jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)" [pageName]="pageName"></jhi-inactivity-timer>
        <div class="container-provider">
        <div class="row">
            <div class="col-md-12 title-text-center">
                <div>
                    <h2 class="title-sec">For Data Providers</h2>
                </div>
            </div>
        </div>
        <div class="row padding-top-bottom">
            <div class="col-md-12 text-desc">
                <p>Insights is an online platform that empowers data, analytics, and research providers to effectively market their products to new and untapped data consumer channels.</p>
            </div>
        </div>
        <div class="data-profile">
            <img src="../../content/images/howworks/data-profile.png" alt="Data Profile" class="data-profile-img">
            <div class="overlay">
              <div class="text">Welcome to Insights</div>
            </div>
            <div class="overlay">
                <div class="pivotal-text">Pivotal Data Profile</div>
            </div>
            <div class="overlay">
                <div class="pivotal-img"><img src="../../content/images/howworks/pivotal.png"></div>
            </div>
        </div>
       <!--  <div class="row all-title">
            <div class="col-md-12 title-text-center">
                <div>
                    <h2 class="title-sec">All it takes</h2>
                </div>
            </div>
        </div> -->
        <div class="row all-title">
            <div class="col-md-12 title-text-center">
                <div>
                    <h2 class="title-sec">All it takes...</h2>
                </div>
            </div>
            <div class="col-md-12 no-padding">
               <!--  <div class="col-md-12">
                    <div class="data-profile-claim-sec">
                        <div class="data-profile-claim">
                            <img src="../../content/images/howworks/signup.png" alt="signup" class="float">
                            <p>to Claim your Data Profile</p>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12 row connectors">
                    <div class="col-md-12">
                        <div class="col-md-12 connectors-sec">
                            <div class="data-profile-claim-sec">
                                <div class="data-profile-claim" [ngStyle]="{'cursor': isAuthenticated() ? 'inherit' : 'pointer'}">
                                    <img src="../../content/images/howworks/signup.png" alt="signup" (click)="signup({'label':'How It Works - Providers - Sign Up','category':'Sign Up','event': 'Popup Link Clicked'})" class="float" [ngStyle]="{'cursor': isAuthenticated() ? 'inherit' : 'pointer'}">
                                    <p (click)="signup({'label':'How It Works - Providers - Sign Up','category':'Sign Up','event': 'Popup Link Clicked'})">to Claim your Data Profile</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 row connectors-sec">
                            <div class="col-md-3">
                                <img src="../../content/images/howworks/connector.png" class="update-connector">
                            </div>
                            <div class="col-md-9 nopadding">
                                <div class="data-profile-update-sec">
                                    <div class="col-md-12 row data-profile-update" [ngStyle]="{'cursor': isAuthenticated() && providerId && isProvider ? 'pointer' : 'inherit'}" (click)="navigateRelatedPage()">
                                        <div class="col-md-8"><p (click)="providerProfile({'label':'How It Works - Providers - Edit Profile','category':'Providers - How It Works','event': 'Internal Link Clicked'})">Update and Securely Share your Data Profile</p></div>
                                        <div class="col-md-4"><img src="../../content/images/howworks/update-data-profile.png" alt="signup" (click)="providerProfile({'label':'How It Works - Providers - Edit Profile','category':'Providers - How It Works','event': 'Internal Link Clicked'})" class="float"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 row connectors-global">
                            <div class="col-md-6 no-padding">
                                    <img src="../../content/images/howworks/connector.png" class="global-connector">
                            </div>
                            <div class="col-md-6 no-padding">
                                <div class="data-profile-global-sec">
                                    <div class="col-md-12 row data-profile-global" [ngStyle]="{'cursor': isAuthenticated() && isProvider ? 'pointer' : 'inherit'}" (click)="communityRelatedPage()">
                                        <div class="col-md-8"><p>Connect with a Global Community of Asset Managers & Data Tools</p></div>
                                        <div class="col-md-4">
                                            <img src="../../content/images/howworks/community.png" alt="signup" class="float">
                                            <img src="../../content/images/howworks/data-tools.png" alt="signup" class="float">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 row connectors-global">
                            <div class="col-md-8 no-padding">
                                    <img src="../../content/images/howworks/connector.png" class="events-connector">
                            </div>
                            <div class="col-md-4 no-padding">
                                <div class="data-profile-events-sec">
                                    <div class="col-md-12 row data-profile-events">
                                        <div class="col-md-4"><img src="../../content/images/howworks/clients.png" alt="signup" class="float"></div>
                                        <div class="col-md-8">
                                            <p>Attend <a class="links">Private Events</a> with Prospective Clients</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="data-profile-events-sec">
                                    <div class="col-md-12 row data-profile-events" [ngStyle]="{'cursor': isAuthenticated() ? 'pointer' : 'inherit'}">
                                        <div class="col-md-4"><img src="../../content/images/howworks/search.png" alt="signup" (click)="providers({'label':'How It Works - Providers - Competitors or Complementary','category':'Providers - How It Works','event': 'Internal Link Clicked'})" class="float"></div>
                                        <div class="col-md-8">
                                            <p (click)="providers({'label':'How It Works - Providers - Competitors or Complementary','category':'Providers - How It Works','event': 'Internal Link Clicked'})">Research Industry Competitors or Complementary Datasets</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-benifits all-title">
        <div class="row">
            <div class="col-md-12 benifit-title-text">
                <div>
                    <h1 class="title-sec">Benefits</h1>
                </div>
            </div>
        </div>
        <div class="row con-md-12">
            <div class="col-md-6 benifit-text">
                <p class="benifits-text">Get matched with qualified data buyers based on the qualifications within your Data Profile and your user settings. Secure your information by choosing exactly who to share with.</p></div>
            <div class="col-md-6">
                <img src="../../content/images/howworks/benifits.png" alt="benifits" class="benifit-img">
                <div class="overlay">
                    <div class="cloud-img"><img src="../../content/images/howworks/cloud.png"></div>
                </div>
                <div class="overlay">
                    <div class="user-img"><img src="../../content/images/howworks/user.png"></div>
                </div>
                <div class="overlay">
                    <div class="screen-img"><img src="../../content/images/howworks/screen.png"></div>
                </div>
                <div class="overlay">
                    <div class="direction-img"><img src="../../content/images/howworks/direction.png"></div>
                </div>
                <div class="overlay">
                    <div class="direction-list">
                        <div class="benifit-amass-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><span class="dir-text">Asset Managers </span></div>
                        <div class="benifit-amass-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><span class="dir-text">Consultants</span></div>
                        <div class="benifit-amass-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><span class="dir-text">Investment Banks</span></div>
                        <div class="benifit-amass-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><span class="dir-text">Retail & Brands</span></div>
                        <div class="benifit-amass-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><span class="dir-text">Government</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12 chat-nopadding chat-margin">
            <div class=" col-md-6 chat-nopadding chat-cmt-padding">
                <img src="../../content/images/howworks/chat.png" alt="alt" class="chat-bg">
                <div class="data-profile-comments-sec overlay">
                    <div class="col-md-12 row data-profile-comments nopadding">
                        <div class="col-md-12 row nopadding">
                            <div class="col-md-4 nopadding"><img src="../../content/images/howworks/human.png" alt="signup" class="float"></div>
                            <div class="col-md-8 chat-comment nopadding">
                                <p><strong>Eric (analyst):</strong> Hey, I’m interested in learning more about your dataset.  How much historical data do you have?</p>
                            </div>
                        </div>
                        <div class="col-md-12 row nopadding">
                            <div class="col-md-4 nopadding"><img src="../../content/images/howworks/benifit-pivotal.png" alt="signup" class="float"></div>
                            <div class="col-md-8 chat-comment nopadding">
                                <p class="chat-end"><strong>Michael (data provider):</strong> Thanks for reaching out!  Would love to help.  We have 3 years historical data.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p class="benifits-comments-text">Directly connect with qualified data buyers and attend our <a class="links">Private Event</a> series to meet them in person.</p>
            </div>
        </div>
        <div class="col-md-12 benifit-amass">
            <div class="text-color"><h1>Why Amass</h1></div>
            <div class="amass-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p>Tap into new revenue channels </p></div>
            <div class="amass-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p>It’s free (seriously!)</p></div>
            <div class="amass-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p>Research the data industry, including competitors & potential partners</p></div>
            <div class="amass-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p>Directly connect and build relationships with >350 hedge funds, consultants, investment banks, and venture capitalists</p></div>
        </div>
    </div>
    <div class="container-advantage">
        <div class="data-profile-advantage-sec">
            <div class="col-md-12 data-profile-advantage">
                <div class="advantage-title"><h1>Advantages</h1></div>
                <div class="advantage-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p>We are pioneers in commercializing new forms of<a> alternative data to asset managers.</a></p></div>
                <div class="advantage-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p>We have the widest<a> data category and largest data provider </a> coverage in the world.</p></div>
                <div class="advantage-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p>We connect you to<a> 3rd party tools and consultants</a> that can increase the value of your data and widen your target audience.</p></div>
            </div>
        </div>
        <div class="col-md-12 advantages">
            <img src="../../content/images/howworks/advantages.png" alt="Advantages">
            <div class="advantages-text-center">
                <h1>TAKE YOUR DATA TO THE NEXT LEVEL</h1>
                <p>Sponsor <a class="dir-text">YOUR LISTING</a> to increase your visibility <br> and receive more frequent leads.</p>
                <div><button routerLink="/contact-us" (click)="contactUs({'label':'How It Works - Providers - Contact Us','category':'Contact Us','event': 'Internal Link Clicked'})" class="contact-button" type="button" mat-raised-button color="warn">Contact Us For More Info</button></div>
                <p>Leverage our <a  class="dir-text">PARTNERSHIP NETWORK</a> to <br> improve your offerings, including:</p>
            </div>
        </div>
        <div class="col-md-12 advantages-bottom">
            <div class="advantage-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p><strong>TICKER MAPPING:</strong> Accurately link your data to publicly traded companies, globally</p></div>
            <div class="advantage-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p><strong>REPORTS:</strong> Backtest and build a case study to effectively market towards specific buyer personas</p></div>
            <div class="advantage-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p><strong>DERIVATIVE PRODUCTS:</strong> Widen your addressable market by delivering deeper analytics & customizable dashboards</p></div>
        </div>
    </div>
    </div>
</section>
