<div class="page-title">
    <span class="text-uppercase">How It Works</span>
</div>
<section class="work-flow-sec white">
    <div class="container">
 
        <div class="container-provider">
        <div class="row">
            <div class="col-md-12 title-text-center">
                <div>
                    <h2 class="title-sec">For Investment Managers</h2>
                </div>
            </div>
        </div>
        <div class="row padding-top-bottom">
            <div class="col-md-12 text-desc">
                <p>Insights is the online platform that empowers investment managers to efficiently navigate the endless landscape of data products and uncover actionable insights not previously possible in the capital markets arena.</p>
            </div>
        </div>
        <div class="data-profile">
            <img src="../../content/images/howworks/data-profile.png" alt="Data Profile" class="data-profile-img">
            <div class="overlay">
              <div class="text">Welcome to Insights</div>
            </div>
            <div class="overlay">
                <div class="pivotal-text">Pivotal Data Profile</div>
            </div>
            <div class="overlay">
                <div class="pivotal-img"><img src="../../content/images/howworks/pivotal.png"></div>
            </div>
        </div>
       <!--  <div class="row all-title">
            <div class="col-md-12 title-text-center">
                <div>
                    <h2 class="title-sec">All it takes</h2>
                </div>
            </div>
        </div> -->
        <div class="row all-title">
            <div class="col-md-12 title-text-center">
                <div>
                    <h2 class="title-sec">All it takes...</h2>
                </div>
            </div>
            <div class="col-md-12 no-padding">
               <!--  <div class="col-md-12">
                    <div class="data-profile-claim-sec">
                        <div class="data-profile-claim">
                            <img src="../../content/images/howworks/signup.png" alt="signup" class="float">
                            <p>to Claim your Data Profile</p>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12 row connectors">
                    <div class="col-md-12">
                        <div class="col-md-12 connectors-sec">
                            <div class="data-profile-claim-sec">
                                <div class="data-profile-claim">
                                    <img src="../../content/images/howworks/signup.png" alt="signup" (click)="signup({'label':'How It Works - Investors - Sign Up','category':'Sign Up','event': 'Popup Link Clicked'})" class="float">
                                    <p (click)="signup({'label':'How It Works - Investors - Sign Up','category':'Sign Up','event': 'Popup Link Clicked'})">and immediately access >9k data providers' profiles</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 row connectors-sec">
                            <div class="col-md-3">
                                <img src="../../content/images/howworks/connector.png" class="update-connector">
                            </div>
                            <div class="col-md-9 nopadding">
                                <div class="data-profile-update-sec">
                                    <div class="col-md-12 row data-profile-update">
                                        <div class="col-md-8">
                                            <p>Share your research objectives with Amass' Team of Data Experts</p>
                                        </div>
                                        <div class="col-md-4">
                                            <img src="../../content/images/howworks/update-data-profile.png" alt="Research" class="float">
                                        </div>
                                    </div>
                                    <div class="col-md-12 row data-profile-update">
                                        <div class="col-md-4">
                                            <img src="../../content/images/howworks/search.png" alt="Research" class="float">
                                        </div>
                                        <div class="col-md-8">
                                            <p>Challenge our Team with sourcing your ideal data product</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 row connectors-global">
                            <div class="col-md-6 no-padding">
                                    <img src="../../content/images/howworks/connector.png" class="global-connector">
                            </div>
                            <div class="col-md-6 no-padding">
                                <div class="data-profile-global-sec">
                                    <div class="col-md-12 row data-profile-global">
                                        <div class="col-md-8"><p (click)="providers()">Connect with a Global Community of Data Providers & Data Tools</p></div>
                                        <div class="col-md-4">
                                            <img (click)="providers()" src="../../content/images/howworks/community.png" alt="signup" class="float">
                                            <img (click)="providers()" src="../../content/images/howworks/data-tools.png" alt="signup" class="float">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 row connectors-global">
                            <div class="col-md-8 no-padding">
                                    <img src="../../content/images/howworks/connector.png" class="events-connector">
                            </div>
                            <div class="col-md-4 no-padding">
                                <div class="data-profile-events-sec">
                                    <div class="col-md-12 row data-profile-events">
                                        <div class="col-md-4"><img src="../../content/images/howworks/clients.png" alt="signup" class="float"></div>
                                        <div class="col-md-8">
                                            <p>Attend <a class="links">Private Events</a> with Prospective Clients</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="data-profile-events-sec">
                                    <div class="col-md-12 row data-profile-events">
                                        <div class="col-md-4"><img src="../../content/images/howworks/search.png" alt="signup" (click)="providers({'label':'How It Works - Providers - Edit Profile','category':'Providers - How It Works','event': 'Internal Link Clicked'})" class="float"></div>
                                        <div class="col-md-8">
                                            <p (click)="providers({'label':'How It Works - Providers - Edit Profile','category':'Providers - How It Works','event': 'Internal Link Clicked'})">Research Industry Competitors or Complementary Datasets</p>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-benifits all-title benefit-title">
        <div class="row">
            <div class="col-md-12 benifit-title-text">
                <div>
                    <h1 class="benefit-header">Benefits</h1>
                </div>
            </div>
        </div>
        <!-- <div class="row col-md-12">
            <div class="col-md-6 benifit-text">
                <p class="benifits-text">Quickly access the largest data provider directory and efficiently find a specific dataset that fits your research objectives.</p></div>
            <div class="col-md-6">
                <img src="../../content/images/howworks/benifits.png" alt="benifits" class="benifit-img">
                <div class="overlay">
                    <div class="cloud-img"><img src="../../content/images/howworks/cloud.png"></div>
                </div>
                <div class="overlay">
                    <div class="user-img"><img src="../../content/images/howworks/user.png"></div>
                </div>
                <div class="overlay">
                    <div class="screen-img"><img src="../../content/images/howworks/screen.png"></div>
                </div>
                <div class="overlay">
                    <div class="direction-img"><img src="../../content/images/howworks/direction.png"></div>
                </div>
                <div class="overlay">
                    <div class="direction-list">
                        <div class="benifit-amass-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><span class="dir-text">Asset Managers </span></div>
                        <div class="benifit-amass-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><span class="dir-text">Consultants</span></div>
                        <div class="benifit-amass-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><span class="dir-text">Investment Banks</span></div>
                        <div class="benifit-amass-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><span class="dir-text">Retail & Brands</span></div>
                        <div class="benifit-amass-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><span class="dir-text">Government</span></div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row col-md-12 benifit-sec-one">
            <div class="col-md-6 benifit-text">
                <p class="benifits-text">Quickly access the largest data provider directory and efficiently find a specific dataset that fits your research objectives.</p></div>
            <div class="col-md-6 no-padding">
                <img src="../../content/images/howworks/benifit-one.png" alt="benifits" class="benifit-img">
                <div class="overlay">
                    <div class="cloud-img-benifit-one"><img src="../../content/images/howworks/cloud.png"></div>
                </div>
            </div>
        </div>
        <div class="row col-md-12 benifit-sec-one">
            <div class="col-md-7">
                <img src="../../content/images/howworks/benift-two.png" alt="benifits" class="benifit-img">
                <div class="overlay">
                    <div class="cloud-img-benifit-two"><img src="../../content/images/howworks/cloud.png"></div>
                </div>
            </div>
            <div class="col-md-5 benifit-text">
                <p class="benifits-text">Bypass back-and-forth vendor communication or using other inefficient gatekeepers such as data brokers, marketplaces or consultants.</p>
            </div>
        </div>
        <div class="row col-md-12 benifit-sec-one">
            <div class="col-md-6 benifit-text">
                <p class="benifits-text">Gather insight into the most sought-after data providers, including those that are just entering the market for the first time (before anyone else). Receive notifications with provider updates.</p>
            </div>
            <div class="col-md-6 no-padding">
                <img src="../../content/images/howworks/benifit-three.png" alt="benifits" class="benifit-img">
            </div>
        </div>
        <div class="row col-md-12 chat-nopadding chat-margin">
            <div class="col-md-6">
                <!-- <p class="benifits-comments-text">Directly connect with qualified data buyers and attend our <a class="links">Private Event</a> series to meet them in person.</p> -->
                <p class="benifits-comments-text">Can't find what you're looking for? Tap into the brains of some of the pioneers in the alternative data industry....Yes, we are the best at data sourcing. Period.</p>
            </div>
            <div class=" col-md-6 chat-nopadding chat-cmt-padding">
                <img src="../../content/images/howworks/chat.png" alt="alt" class="chat-bg">
                <div class="data-profile-comments-sec overlay">
                    <div class="col-md-12 row data-profile-comments nopadding">
                        <div class="col-md-12 row nopadding">
                            <div class="col-md-3 nopadding"><img src="../../content/images/howworks/human.png" alt="signup" class="float"></div>
                            <div class="col-md-9 chat-comment nopadding">
                                <p><strong>Eric (analyst):</strong> Hey, can you help me find an under-the-radar transactional data provider with a panel of more than 2 million people with coverage in Europe?</p>
                            </div>
                        </div>
                        <div class="col-md-12 row nopadding">
                            <div class="col-md-3 nopadding"><img src="../../content/images/howworks/cloud.png" alt="signup" class="float"></div>
                            <div class="col-md-9 chat-comment nopadding">
                                <p class="chat-end"><strong>Michael (Amass Data Expert):</strong> Sure, we would be happy to help. There are several ways that companies collect transactional data (credit card statements, expense reports, paper receipts, email receipts, etc.). Please let us know if you have a preference between these. Additionally, the specific country/ies in Europe you may be looking to research would affect this.</p>
                                <p class="chat-end">There are a number of data providers that may satisfy your requirements:</p>
                                <p class="chat-end">1.Most promising providers with large samples:<br>
                                    a.Link to Provider X's Data Profile<br>
                                    b.Link to Provider Y' Data Profile</p>
                                <p class="chat-end">2.Providers that likely have valuable transactional data but, to our knowledge, have yet to sell their data externally:<br>
                                    a.Link to Provider Z's Data Profile<br>
                                    b.Link to Provider A's Data Profile</p>
                                <p class="chat-end">3.Particularly useful providers in only one (or a few) European countries:<br>
                                    a.Link to Provider B's Data Profile<br>
                                    b.Link to Provider C's Data Profile</p>
                                <p class="chat-end">Please let us know if this is of use and if you have any follow up questions. Thanks.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12 benifit-sec-user benifit-sec-one-big">
            <div class="col-md-12">
                <img src="../../content/images/howworks/benifit-four.png" alt="benifits" class="benifit-img">
            </div>
        </div>
    </div>
    <div class="container-advantage">
        <div class="data-profile-advantage-sec">
            <div class="col-md-12 data-profile-advantage">
                <div class="advantage-title"><h1>Advantages</h1></div>
                <div class="advantage-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p>We are pioneers in bringing new forms of <a> alternative data to asset managers.</a></p></div>
                <div class="advantage-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p>We have the widest<a> data category and largest data provider </a> coverage in the world, growing at a pace of >250 providers per month.</p></div>
                <div class="advantage-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p>Our proprietary data vendor rankings are unbiased, based on market signals rather than preferential relationships.</p></div>
                <div class="advantage-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p>Our platform is self-sustaining, with a robust taxonomy optimized for durability and scale, as opposed to manual input.</p></div>
            </div>
        </div>
        <div class="col-md-12 benifit-amass">
            <div class="text-color"><h1>Why Amass</h1></div>
            <div class="amass-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p>Tap into new, unique data providers that fit your research objectives </p></div>
            <div class="amass-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p>Don't overpay for inadequate consulting or directories that offer minimal results</p></div>
            <div class="amass-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p>Directly connect and build relationships with >9,000 traditional and alternative data, analytics and research providers across 138 data categories</p></div>
            <div class="amass-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p>Track providers by sharing tags and notes internally</p></div>
        </div>
        <!-- <div class="col-md-12 advantages">
            <img src="../../content/images/howworks/advantages.png" alt="Advantages">
            <div class="advantages-text-center">
                <h1>TAKE YOUR DATA TO THE NEXT LEVEL</h1>
                <p>Sponsor <a class="dir-text">YOUR LISTING</a> to increase your visibility <br> and receive more frequent leads.</p>
                <div><button routerLink="/contact-us" (click)="contactUs({'label':'How It Works - Providers - Contact Us','category':'Contact Us','event': 'Internal Link Clicked'})" class="contact-button" type="button" mat-raised-button color="warn">Contact Us For More Info</button></div>
                <p>Leverage our <a  class="dir-text">PARTNERSHIP NETWORK</a> to <br> improve your offerings, including:</p>
            </div>
        </div>
        <div class="col-md-12 advantages-bottom">
            <div class="advantage-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p><strong>TICKER MAPPING:</strong> Accurately link your data to publicly traded companies, globally</p></div>
            <div class="advantage-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p><strong>REPORTS:</strong> Backtest and build a case study to effectively market towards specific buyer personas</p></div>
            <div class="advantage-text"><span><i class="fa fa-check" aria-hidden="true"></i></span><p><strong>DERIVATIVE PRODUCTS:</strong> Widen your addressable market by delivering deeper analytics & customizable dashboards</p></div>
        </div> -->
    </div>
    <jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)" [pageName]="pageName"></jhi-inactivity-timer>
    </div>
</section>
