.margin-top {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-top-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

.padding-top-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.fab-icon-button {
    position: absolute;
    right: 25px;
    top: 425px;
    padding: 4px 20px;
    background-color: #fafafa;
    i {
        color: #fe5800;
    }
}

.linkedin-icon {
    width: 20px;
    height: 22px;
    background-image: url('../../content/images/icons/social_sprite.png');
    background-position: -451px -19px;
    display: inline-block;
    background-size: 255px 66px;
    margin-top: -5px;
}
/* #our-team{
    scroll-behavior: smooth;
    transform: translateY(650);
    -webkit-transition: -webkit-transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out;
    transition-delay: 10ms;
    transition-duration: 120ms;
} */
.team-sec{
    padding: 30px 90px 30px 90px;
}
.meet-sec-title{
    font-family: OpenSans-Bold;
   /*  margin-bottom: 45px; */
    position: relative;
    padding-bottom: 25px;
    line-height: 35px;
    margin-top: 0;
    text-transform: uppercase;
}
.meet-sec-title:before {
    content: '';
    position: absolute;
    width: 90px;
    margin-left: -45px;
    height: 1px;
    left: 50%;
    bottom: 0px;
    background-color: #fe5722;
}


/* ...........How Works...... */
.container {
    max-width: 100% !important;
}
.work-flow-sec{
    padding: 0px;
}
.title-sec{
    font-family: OpenSans-Bold;
    /* margin-bottom: 45px; */
    position: relative;
    /* padding-bottom: 25px; */
    line-height: 35px;
    margin-top: 0;
    color: #fff;
}
.title-text-center {
    text-align: center !important;
}
.benifit-title-text {
    text-align: center;
}
.text-desc{
    color: #fff;
    font-size: 24px;
    padding: 0 11%;
}
.data-profile{
    align-items: center;
    justify-content: center;
    display: flex;
}
.data-profile-img{
  display: block;
  /* width: 100%; */
  height: auto;
}
.container{
    position: relative;
    /* background-image: linear-gradient(#859aad, #a9c4dc); */
    background-image: linear-gradient(#394149, #394149);
    padding: 0px;
}
.container-provider{
    position: relative;
    /* background-image: linear-gradient(#394149,#a9c4dc); */
    padding: 10px;
}
.container-benifits{
    position: relative;
   /*  background-image: linear-gradient(#a9c4dc,#394149); */
    padding: 10px;
}
.container-advantage{
    position: relative;
    /* background-image: linear-gradient(#394149,#394149); */
    padding: 10px;
}
.all-title{
    margin-top: 6%;
}
.benefit-title{
    margin-top: 2% !important;
}
.benefit-header{
    font-family: OpenSans-Bold;
    position: relative;
    line-height: 35px;
    margin-top: 0;
    color: #fff;
    margin-bottom: 35px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;

  }
  .text {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 17%;
    left: 41%;
    text-align: center;
    background-color: #718292;
    padding: 5px 15px;
    border-radius: 5px;
  }
  .pivotal-text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 22%;
    left: 40%;
    text-align: center;
  }
  .pivotal-img {
    position: absolute;
    top: 26%;
    left: 40%;
    text-align: center;
    padding: 25px 10px;
  }
  .pivotal-img img{
    width: 70px;
    height: 70px;
  }
  .data-profile-claim-sec{
    border: 4px solid #438afe;
    width: 26%;
    border-radius: 10px;
    padding: 0 2px 2px 0px;
  }
  .data-profile-claim{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 1px 6px 0px rgb(255, 255, 255);
    font-weight: 600;
  }
  .data-profile-claim div{
    padding: 0px 5px;
  }
  .data-profile-claim p{
    vertical-align: top;
    font-size: 18px;
    margin: 0;
  }
  .float{
    float: left;
    margin-right: 15px;
    width: 70px;
    cursor: pointer;
  }
  .data-profile-update-sec{
    width: 33%;
    border-radius: 10px;
    padding: 0 2px 2px 0px;
    margin-left: 0px;
  }
  .data-profile-update{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 1px 6px 0px rgb(255, 255, 255);
    border: 4px solid #438afe;
    margin: 10px 0 0 0;
    font-weight: 600;
  }
  .data-profile-update div{
    padding: 0px 5px;
  }
  .data-profile-update p{
    vertical-align: top;
    font-size: 18px;
    margin: 0;
    cursor: pointer;
  }
  .update-connector{
   /*  width: 110px; */
    margin: 10% 31%;
  }
  .data-profile-global-sec{
    width: 45%;
    border-radius: 10px;
    padding: 0 2px 2px 0px;
    margin-left: 0px;
  }
  .data-profile-global{
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 3px 1px 6px 0px rgb(255, 255, 255);
    border: 4px solid #438afe;
    margin: 0px;
    font-weight: 600;
  }
  .data-profile-global div{
    padding: 0px 5px;
  }
  .data-profile-global p{
    vertical-align: top;
    font-size: 18px;
    margin: 0;
  }
  .data-profile-events-sec{
   /*  border: 4px solid #438afe; */
    width: 75%;
    border-radius: 10px;
    padding: 0 2px 2px 0px;
    /* margin-left: 53%; */
  }
  .data-profile-events{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 1px 6px 0px rgb(255, 255, 255);
    margin: 3px 0 0 65px;
    border: 4px solid #438afe;
    font-weight: 600;
  }
  .data-profile-events div{
    padding: 0px 5px;
  }
  .data-profile-events p{
    vertical-align: top;
    font-size: 18px;
    margin: 0;
    cursor: pointer;
  }
  .events-connector{
    margin: 5% 0 0 84%;
  }
  .connectors{
    padding: 10px 0;
    margin: 0;
  }
  .connectors-sec{
    padding: 10px 15px;
  }
  .connectors-global{
    padding: 10px 15px;
    /* margin-left: 85px; */
  }
  .global-connector{
    margin: 5% 0 0 70%;
    /* width: 110px; */
  }
  .no-padding{
      padding: 0px;
  }
.research-connector{
    padding: 64px 15px;
    margin-left: 400px;
    width: 140px;
}
.right-sec{

}
  .accept-overlay {
    /* color: white;
    font-size: 20px; */
    position: absolute;
    top: 190px;
    left: 35%;
    /* text-align: center;
    background-color: #718292;
    padding: 5px 15px;
    border-radius: 5px; */
  }
  .client-overlay {
    /* color: white; */
    /* font-size: 20px; */
    position: absolute;
    top: 395px;
    left: 13%;
    /* text-align: center;
    background-color: #718292;
    padding: 5px 15px;
    border-radius: 5px; */
  }
  .search-overlay {
    /* color: white;
    font-size: 20px; */
    position: absolute;
    top: 548px;
    left: 13%;
    /* text-align: center;
    background-color: #718292;
    padding: 5px 15px;
    border-radius: 5px; */
  }
.accept-sec{
    /* margin-top: 140px; */
}
.accept-img{
    width: 170px;
}
.benifit-img{
    /* float: right; */
}
.cloud-img {
    position: absolute;
    bottom: 78%;
    left: 30%;
    text-align: center;
    /* padding: 25px 10px; */
  }
  .cloud-img img{
    /* width: 150px;
    height: 150px; */
  }
  .user-img {
    position: absolute;
    top: 25%;
    left: 48%;
    text-align: center;
    /* padding: 25px 10px; */
  }
  .user-img img{
    width: 150px;
  }
  .benifit-amass{
    padding: 20px 205px;
  }
  .screen-img {
    position: absolute;
    top: 37%;
    left: 8%;
    text-align: center;
    /* padding: 25px 10px; */
  }
  .screen-img img{
    /* width: 102px;
    height: 102px; */
  }
  .direction-img {
    position: absolute;
    top: 41%;
    left: 26%;
    text-align: center;
  }
  .direction-list{
    position: absolute;
    top: 41%;
    left: 44%;
  }
  .dir-text {
      color:#438afe !important;
  }
  /* .benifits-text{
    font-weight: 600;
    font-size: larger;
  } */
  .chat-bg{
    margin-left: 175px;
    width: 100%;
  }
  .chat-end{
    color:#438afe !important;
    margin-bottom: 5px;
  }
  .data-profile-comments-sec{
    width: 75%;
    border-radius: 10px;
    padding: 10px 70px;
    margin-left: 175px;
    /* background-image: url('../../content/images/howworks/chat.png') */
  }
  .data-profile-comments{
    background-color: #fff;
    border-radius: 10px;
    /* padding: 20px; */
   /*  box-shadow: 3px 1px 6px 0px rgb(255, 255, 255); */
    /* border: 4px solid #438afe; */
    margin: 0px;
    top: 0%;
    left: 0%;
  }
  .benifits-comments-text{
    padding: 100px 100px 0 100px;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
  }
  .amass-text{
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    clear: both;
  }
  .amass-text span{
      float: left;
      padding: 0 10px 0px 0px;
      color: #528034;
  }
  .benifit-amass-text{
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    clear: both;
  }
  .benifit-amass-text span{
    float: left;
    padding: 0 10px 0px 0px;
    color: #528034;
  }
  .text-color{
    color: #ffffff;
  }
  .mid-border{
    border: 2px solid #ffffff;
  }
  .data-profile-advantage-sec{
    width: 70%;
    border-radius: 50px;
    padding: 0 2px 2px 0px;
    margin: 0px 193px;
  }
  .data-profile-advantage{
    background-color: #fff;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 3px 1px 6px 0px rgb(255, 255, 255);
    border: 4px solid #438afe;
    margin: 0px;
  }
  .advantage-text{
    font-size: 22px;
    font-weight: 600;
  }
  .advantage-text span{
      float: left;
      padding: 0 10px 0px 0px;
      color: #528034;
  }
  .advantage-text a{
      color: #438afe;
  }
  .advantage-title{
    text-align: center;
  }
  .advantages img{
    width: 75%;
    padding: 20px 10px;
    margin: 0 12%;
  }
  .advantages-text-center{
    text-align: center;
    color: #ffffff;
  }
  .advantages-text-center p{
    font-size: 24px;
    font-weight: 600;
  }
  .advantages-bottom{
    color: #ffffff;
    padding: 10px 275px;
  }
  .contact-button{
    font-size: 16px;
    font-weight: 700;
    margin: 30px 0;
  }
  .background-img{
    width: 100%;
    padding: 0 5px;
  }
  .links{
      color:#438afe !important;
  }
  .benifit-text{
    color: #fff;
    font-size: 24px;
    padding: 0 10% 0 13%;
    font-weight: 600;
    margin-top: 5%;
}
.chat-comment{
    font-weight: 600;
    font-size: 12px;
}
@media(max-width: 1920px) {
  .text{
    color: white;
    font-size: 24px;
    position: absolute;
    top: 16%;
    left: 44%;
    text-align: center;
    background-color: #718292;
    padding: 5px 15px;
    border-radius: 5px;
  }
  .pivotal-text{
    color: black;
    font-size: 20px;
    position: absolute;
    top: 21%;
    left: 43%;
    text-align: center;
  }
  .pivotal-img{
    position: absolute;
    top: 24%;
    left: 43%;
    text-align: center;
    padding: 25px 10px;
  }
  .data-profile-claim-sec{
    border: 4px solid #438afe;
    width: 25%;
    border-radius: 10px;
    padding: 0 2px 2px 0px;
  }
  .data-profile-claim p{
    vertical-align: top;
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .data-profile-update-sec{
    width: 34%;
    border-radius: 10px;
    padding: 0 2px 2px 0px;
    margin-left: 0px;
  }
  .data-profile-events{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 1px 6px 0px white;
    margin: 3px 0 0 98px;
    border: 4px solid #438afe;
    font-weight: 600;
  }
  .data-profile-events-sec{
    width: 75%;
    border-radius: 10px;
    padding: 10px 2px 2px 0px;
  }
  .cloud-img{
    position: absolute;
    bottom: 78%;
    left: 20%;
    text-align: center;
  }
  .user-img{
    position: absolute;
    top: 23%;
    left: 33%;
    text-align: center;
  }
  .direction-img{
    position: absolute;
    top: 41%;
    left: 21%;
    text-align: center;
  }
  .direction-list{
    position: absolute;
    top: 40%;
    left: 31%;
  }
  .data-profile-comments-sec{
    width: 88%;
    border-radius: 10px;
    padding: 10px 40px;
    margin-left: 60px;
  }
  .benifit-amass{
    padding: 20px 240px;
  }
  .chat-bg{
    margin-left: 0px;
    width: 100%;
  }
  .data-profile-advantage-sec{
    width: 74%;
    border-radius: 50px;
    padding: 0 2px 2px 0px;
    margin: 0px 235px;
  }
  .cloud-img-benifit-one{
    position: absolute;
    bottom: 79%;
    left: 82%;
    text-align: center;
  }
.cloud-img-benifit-two{
    position: absolute;
    bottom: 71%;
    left: 83%;
    text-align: center;
  }
  .benifit-img {
    width: 100%;
  }
  .benifit-sec-one{
    padding: 20px 0;
  }
  .chat-comment {
    font-weight: 600;
    font-size: 16px;
  }
}
@media(max-width: 1600px) {
    .text{
        color: white;
        font-size: 24px;
        position: absolute;
        top: 15%;
        left: 42%;
        text-align: center;
        background-color: #718292;
        padding: 5px 15px;
        border-radius: 5px;
    }
    .pivotal-text{
        color: black;
        font-size: 20px;
        position: absolute;
        top: 20%;
        left: 42%;
        text-align: center;
    }
    .pivotal-img{
        position: absolute;
        top: 24%;
        left: 41.5%;
        text-align: center;
        padding: 25px 10px;
    }
    .cloud-img{
        position: absolute;
        bottom: 78%;
        left: 24%;
        text-align: center;
    }
    .user-img{
        position: absolute;
        top: 23%;
        left: 38%;
        text-align: center;
    }
    .direction-img{
        position: absolute;
        top: 41%;
        left: 26%;
        text-align: center;
    }
    .direction-list{
        position: absolute;
        top: 40%;
        left: 38%;
    }
    .data-profile-advantage-sec{
        width: 74%;
        border-radius: 50px;
        padding: 0 2px 2px 0px;
        margin: 0px 195px;
    }
    .benifit-img {
        width: 100%;
    }
    .cloud-img-benifit-one{
        position: absolute;
        bottom: 78%;
        left: 78%;
        text-align: center;
    }
    .cloud-img-benifit-two{
        position: absolute;
        bottom: 66%;
        left: 81%;
        text-align: center;
    }
    .chat-bg{
        margin-left: 0px;
        width: 100%;
    }
    .benifit-sec-one{
        padding: 20px 0;
    }
    .benifit-sec-one-big{
        margin: 0 10px;
    }
    .data-profile-comments-sec {
        width: 90%;
        border-radius: 10px;
        padding: 10px 40px;
        margin-left: 50px;
    }
    .chat-comment {
        font-weight: 600;
        font-size: 14px;
    }
}
@media(max-width: 1444px) {
    .text{
        color: white;
        font-size: 24px;
        position: absolute;
        top: 16%;
        left: 42%;
        text-align: center;
        background-color: #718292;
        padding: 5px 15px;
        border-radius: 5px;
    }
    .pivotal-text{
        color: black;
        font-size: 20px;
        position: absolute;
        top: 21%;
        left: 42%;
        text-align: center;
    }
    .pivotal-img{
        position: absolute;
        top: 24%;
        left: 40.5%;
        text-align: center;
        padding: 25px 10px;
    }
    .cloud-img{
        position: absolute;
        bottom: 78%;
        left: 24%;
        text-align: center;
    }
    .user-img{
        position: absolute;
        top: 23%;
        left: 38%;
        text-align: center;
    }
    .direction-img{
        position: absolute;
        top: 41%;
        left: 26%;
        text-align: center;
    }
    .direction-list{
        position: absolute;
        top: 40%;
        left: 38%;
    }
    .data-profile-advantage-sec{
        width: 74%;
        border-radius: 50px;
        padding: 0 2px 2px 0px;
        margin: 0px 195px;
    }
    .benifit-img {
        width: 100%;
    }
    .cloud-img-benifit-one{
        position: absolute;
        bottom: 74%;
        left: 76%;
        text-align: center;
    }
    .cloud-img-benifit-two{
        position: absolute;
        bottom: 65%;
        left: 79%;
        text-align: center;
    }
    .chat-bg{
        margin-left: 0px;
        width: 100%;
    }
    .benifit-sec-one{
        padding: 20px 0;
    }
    .benifit-sec-one-big{
        margin: 0 10px;
    }
    .data-profile-comments-sec {
        width: 85%;
        border-radius: 10px;
        padding: 10px 10px;
        margin-left: 50px;
    }
    .chat-comment {
        font-weight: 600;
        font-size: 13px;
    }
}
@media(max-width: 1366px){
  .text{
    color: white;
    font-size: 24px;
    position: absolute;
    top: 16%;
    left: 41%;
    text-align: center;
    background-color: #718292;
    padding: 5px 15px;
    border-radius: 5px;
  }
  .pivotal-text{
    color: black;
    font-size: 20px;
    position: absolute;
    top: 22%;
    left: 40%;
    text-align: center;
  }
  .pivotal-img{
    position: absolute;
    top: 23%;
    left: 40%;
    text-align: center;
    padding: 25px 10px;
  }
  .data-profile-global-sec{
    width: 48%;
    border-radius: 10px;
    padding: 0 2px 2px 0px;
    margin-left: 0px;
  }
  .cloud-img{
    position: absolute;
    bottom: 78%;
    left: 30%;
    text-align: center;
  }
  .cloud-img-benifit-one{
    position: absolute;
    bottom: 73%;
    left: 75%;
    text-align: center;
  }
  .cloud-img-benifit-two{
    position: absolute;
    bottom: 64%;
    left: 77%;
    text-align: center;
  }
  .user-img{
    position: absolute;
    top: 23%;
    left: 45%;
    text-align: center;
  }
  .screen-img{
    position: absolute;
    top: 37%;
    left: 9%;
    text-align: center;
}
  .direction-img{
    position: absolute;
    top: 41%;
    left: 29%;
    text-align: center;
  }
  .direction-list{
    position: absolute;
    top: 40%;
    left: 43%;
  }
  .chat-bg{
    margin-left: 0px;
    width: 100%;
  }
  .data-profile-comments-sec{
    width: 82%;
    border-radius: 10px;
    padding: 10px 0px;
    margin-left: 59px;
  }
  .benifit-amass{
    padding: 20px 175px;
  }
  .data-profile-advantage-sec{
    width: 72%;
    border-radius: 50px;
    padding: 0 2px 2px 0px;
    margin: 0px 178px;
  }
  .advantages-bottom{
    color: #ffffff;
    padding: 10px 178px;
  }
  .benifit-sec-user{
    padding: 0px;
    margin: 0px;
  }
  .chat-comment {
    font-weight: 600;
    font-size: 12px;
  }
}
@media(max-width: 1200px){
  .text{
    color: white;
    font-size: 24px;
    position: absolute;
    top: 16%;
    left: 40%;
    text-align: center;
    background-color: #718292;
    padding: 5px 15px;
    border-radius: 5px;
  }
  .pivotal-text{
    color: black;
    font-size: 20px;
    position: absolute;
    top: 21%;
    left: 39%;
    text-align: center;
  }
  .pivotal-img{
    position: absolute;
    top: 23%;
    left: 39%;
    text-align: center;
    padding: 25px 10px;
  }
  .cloud-img{
    position: absolute;
    bottom: 78%;
    left: 33%;
    text-align: center;
  }
  .user-img{
    position: absolute;
    top: 23%;
    left: 51%;
    text-align: center;
  }
  .screen-img{
    position: absolute;
    top: 37%;
    left: 10%;
    text-align: center;
  }
  .direction-img{
    position: absolute;
    top: 41%;
    left: 32%;
    text-align: center;
  }
  .direction-list{
    position: absolute;
    top: 40%;
    left: 48%;
  }
  .chat-bg{
    /* margin-left: 75px; */
    width: 100%;
    height: 585px;
  }
  .data-profile-comments-sec{
    width: 75%;
    border-radius: 10px;
    padding: 10px 0px;
    margin-left: 59px;
  }
  .data-profile-advantage-sec{
    width: 72%;
    border-radius: 50px;
    padding: 0 2px 2px 0px;
    margin: 0px 158px;
  }
  .advantages-bottom{
    color: #ffffff;
    padding: 10px 155px;
  }
  .benifit-amass{
    padding: 20px 150px;
  }
  .data-profile-global-sec{
    width: 51%;
    border-radius: 10px;
    padding: 0 2px 2px 0px;
    margin-left: 0px;
  }
  .benifit-img{
    width: 100%;
  }
  .chat-nopadding{
    padding: 0px;
    margin: 10px 0px 0px 0px;
    }
  .cloud-img-benifit-one {
        position: absolute;
        bottom: 71%;
        left: 72%;
        text-align: center;
    }
    .cloud-img-benifit-two {
        position: absolute;
        bottom: 64%;
        left: 75%;
        text-align: center;
    }
}
@media(max-width: 1024px){
  .text{
    color: white;
    font-size: 24px;
    position: absolute;
    top: 16%;
    left: 38%;
    text-align: center;
    background-color: #718292;
    padding: 5px 15px;
    border-radius: 5px;
  }
  .pivotal-text{
    color: black;
    font-size: 20px;
    position: absolute;
    top: 21%;
    left: 37%;
    text-align: center;
  }
  .pivotal-img{
    position: absolute;
    top: 23%;
    left: 37%;
    text-align: center;
    padding: 25px 10px;
  }
  .data-profile-global-sec{
    width: 50%;
    border-radius: 10px;
    padding: 0 2px 2px 0px;
    margin-left: 0px;
  }
  .data-profile-events-sec{
    width: 85%;
    border-radius: 10px;
    padding: 5px 2px 2px 0px;
  }
  .data-profile-events{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 1px 6px 0px white;
    margin: 3px 0 0 65px;
    border: 4px solid #438afe;
    font-weight: 600;
  }
  .benifit-img{
    width: 100%;
  }
  .cloud-img{
    position: absolute;
    bottom: 74%;
    left: 32%;
    text-align: center;
  }
  .user-img{
    position: absolute;
    top: 22%;
    left: 48%;
    text-align: center;
  }
  .screen-img{
    position: absolute;
    top: 37%;
    left: 9%;
    text-align: center;
  }
  .direction-img{
    position: absolute;
    top: 41%;
    left: 32%;
    text-align: center;
  }
  .direction-list{
    position: absolute;
    top: 41%;
    left: 46%;
  }
  .chat-bg{
    margin-left: 0px;
    width: 100%;
  }
  .data-profile-comments-sec{
    width: 75%;
    border-radius: 10px;
    padding: 10px 0px;
    margin-left: 59px;
  }
  .benifits-comments-text{
    padding: 60px 100px 0 100px;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
  }
  .benifit-amass{
    padding: 20px 142px;
}
  .data-profile-advantage-sec{
    width: 72%;
    border-radius: 50px;
    padding: 0 2px 2px 0px;
    margin: 0px 134px;
  }
  .advantages-bottom{
    color: #ffffff;
    padding: 10px 130px;
  }
  .data-profile-claim p{
    vertical-align: top;
    font-size: 18px;
    margin: 0px;
  }
  .cloud-img-benifit-one {
    position: absolute;
    bottom: 64%;
    left: 67%;
    text-align: center;
  }
  .cloud-img-benifit-two {
    position: absolute;
    bottom: 57%;
    left: 70%;
    text-align: center;
  }
  .chat-comment {
    font-weight: 600;
    font-size: 11px;
  }
  .benifit-text {
    color: #fff;
    font-size: 24px;
    padding: 0 5% 0 5%;
    font-weight: 600;
    margin-top: 5%;
  }
  .chat-nopadding {
    padding: 0px;
    margin: 10px 0px 0 0;
  }
}
@media(max-width: 768px){
    .benifit-img{
        width: 100%;
    }
    .pivotal-img{
        position: absolute;
        top: 28%;
        left: 248px;
        text-align: center;
        padding: 25px 10px;
    }
    .pivotal-text{
        color: black;
        font-size: 20px;
        position: absolute;
        top: 25%;
        left: 31%;
        text-align: center;
    }
    .text{
        color: white;
        font-size: 24px;
        position: absolute;
        top: 20%;
        left: 33%;
        text-align: center;
        background-color: #718292;
        padding: 5px 15px;
        border-radius: 5px;
    }
    .data-profile-claim-sec{
        border: 4px solid #438afe;
        width: 33%;
        border-radius: 10px;
        padding: 0 2px 2px 0px;
    }
    .data-profile-update-sec {
        width: 53%;
        border-radius: 10px;
        padding: 0 2px 2px 0px;
        margin-left: 0px;
    }
    .global-connector{
        margin: 5% 0 0 60%;
    }
    .data-profile-global-sec{
        width: 65%;
        border-radius: 10px;
        padding: 0 2px 2px 0px;
        margin-left: 0px;
    }
    .float{
        float: left;
        margin-right: 0px;
        width: 60px;
        cursor: pointer;
    }
    .data-profile-events{
        background-color: #fff;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 3px 1px 6px 0px white;
        margin: 3px 0 0 25px;
        border: 4px solid #438afe;
        font-weight: 600;
    }
    .data-profile-events-sec{
        width: 100%;
        border-radius: 10px;
        padding: 0 2px 2px 0px;
    }
    .events-connector{
        margin: 5% 0 0 75%;
    }
    .cloud-img{
        position: absolute;
        bottom: 68%;
        left: 30%;
        text-align: center;
    }
    .user-img img{
        width: auto;
    }
    .benifit-amass-text{
        color: #ffffff;
        font-size: 12px;
        font-weight: 600;
        clear: both;
    }
    .direction-list{
        position: absolute;
        top: 40%;
        left: 56%;
    }
    .direction-img{
        position: absolute;
        top: 40%;
        left: 37%;
        text-align: center;
    }
    .screen-img{
        position: absolute;
        top: 31%;
        left: 8%;
        text-align: center;
    }
    .user-img{
        position: absolute;
        top: 22%;
        left: 55%;
        text-align: center;
    }
    .benifit-text{
        color: #fff;
        font-size: 24px;
        padding: 0 3% 0 3%;
        font-weight: 600;
        margin-top: 0%;
    }
    .chat-bg{
        margin-left: 0px;
        width: 100%;
    }
    .data-profile-comments-sec{
        width: 93%;
        border-radius: 10px;
        padding: 7px 15px;
        margin-left: 14px;
    }
    .chat-cmt-padding{
        padding:0px;
    }
    .benifits-comments-text{
        padding: 60px 10px 0 46px;
        font-weight: 600;
        font-size: 24px;
        color: #fff;
    }
    .benifit-amass{
        padding: 20px 74px;
    }
    .amass-text{
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        clear: both;
    }
    .data-profile-advantage-sec{
        width: 70%;
        border-radius: 50px;
        padding: 0 2px 2px 0px;
        margin: 0px 102px;
    }
    .advantages-bottom{
        color: #ffffff;
        padding: 10px 110px;
    }
    .chat-margin{
        margin:0px;
    }
    .advantages-text-center{
      text-align: center;
      color: #ffffff;
      padding: 0 74px;
    }
    .benifit-amass{
      padding: 20px 110px;
    }
    .cloud-img-benifit-one {
        position: absolute;
        bottom: 56%;
        left: 56%;
        text-align: center;
    }
    .cloud-img-benifit-two {
        position: absolute;
        bottom: 65%;
        left: 60%;
        text-align: center;
    }
    .chat-comment {
        font-weight: 600;
        font-size: 10px;
    }
    .advantage-text {
        font-size: 14px;
        font-weight: 600;
    }
}
@media(max-width: 414px){
    .text{
      color: white;
      font-size: 18px;
      position: absolute;
      top: 24%;
      left: 27%;
      text-align: center;
      background-color: #718292;
      padding: 5px 15px;
      border-radius: 5px;
    }
    .pivotal-text{
      color: black;
      font-size: 18px;
      position: absolute;
      top: 28%;
      left: 18%;
      text-align: center;
    }
    .data-profile-claim-sec{
      border: 4px solid #438afe;
      width: 100%;
      border-radius: 10px;
      padding: 0 2px 2px 0px;
    }
   .data-profile-claim p{
      vertical-align: top;
      font-size: 18px;
      margin-bottom: 15px;
    }
    .data-profile-update-sec{
      width: 100%;
      border-radius: 10px;
      padding: 0 2px 2px 0px;
      margin-left: 0px;
    }
    .data-profile-global-sec{
      width: 100%;
      border-radius: 10px;
      padding: 0 2px 2px 0px;
      margin-left: 0px;
    }
   .update-connector{
      margin: 3% 31%;
    }
    .global-connector{
      margin: 5% 0 5% 35%;
    }
    .data-profile-events-sec{
      width: 100%;
      border-radius: 10px;
      padding: 0 2px 2px 0px;
    }
    .data-profile-events{
      background-color: #fff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 3px 1px 6px 0px white;
      margin: 10px 0 0 0px;
      border: 4px solid #438afe;
      font-weight: 600;
    }
    .events-connector{
      margin: 5% 0 5% 34%;
    }
    .benifit-img{
      width: 100%;
    }
    .cloud-img{
      position: absolute;
      bottom: 70%;
      left: 30%;
      text-align: center;
    }
    .direction-list{
      position: absolute;
      top: 40%;
      left: 52%;
    }
    .benifit-amass-text{
      color: #ffffff;
      font-size: 14px;
      font-weight: 600;
      clear: both;
    }
    .direction-img{
      position: absolute;
      top: 41%;
      left: 35%;
      text-align: center;
    }
    .user-img{
      position: absolute;
      top: 25%;
      left: 52%;
      text-align: center;
    }
    .chat-bg{
      margin-left: 0;
      width: 100%;
    }
    .chat-nopadding{
        padding: 0px;
        margin: 10px 0px 0px 0px;
    }
    .data-profile-comments{
      background-color: #fff;
      border-radius: 10px;
      margin: 0px;
      top: 2%;
      left: 0%;
      /* width: 100%; */
      font-size: 12px;
     }
     .data-profile-comments-sec{
      width: 87%;
      border-radius: 10px;
      padding: 10px 0px;
      margin-left: 23px;
    }
    .float{
      float: left;
      /* margin-right: 15px; */
      /* width: 70px; */
      cursor: pointer;
    }
    .benifits-comments-text{
      padding: 0px 0px 0 0px;
      font-weight: 600;
      font-size: 24px;
      color: #fff;
     }
     .benifit-amass{
      padding: 0px 44px;
     }
     .data-profile-advantage-sec{
      /* width: 70%; */
      border-radius: 50px;
      /* padding: 0 2px 2px 0px; */
      margin: 0px 52px;
     }
     .advantages-bottom{
      color: #ffffff;
      padding: 10px 20px;
     }
     .connectors-global{
      padding: 10px 15px;
      margin: 0px;
     }
     .connectors-sec{
      padding: 10px 15px;
      margin: 0px;
    }
    .pivotal-img{
      position: absolute;
      top: 29%;
      left: 82px;
      text-align: center;
      padding: 25px 10px;
     }
     .data-profile-img{
        width:100%;
     }
    .contact-button{
      font-size: 12px;
      font-weight: 700;
      margin: 30px 0;
    }
    .cloud-img-benifit-one {
        position: absolute;
        bottom: 56%;
        left: 58%;
        text-align: center;
    }
    .cloud-img-benifit-two {
        position: absolute;
        bottom: 43%;
        left: 56%;
        text-align: center;
    }
    .chat-comment {
        font-weight: 600;
        font-size: 9px;
    }
    .benifit-sec-one {
        padding: 20px 0;
        margin: 0px;
    }
  }
  @media(max-width:375px){
    .pivotal-img{
        position: absolute;
        top: 28% !important;
        left: 19% !important;
        text-align: center;
        padding: 25px 10px;
    }
    .pivotal-text{
        color: black;
        font-size: 16px;
        position: absolute;
        top: 27% !important;
        left: 22% !important;
        text-align: center;
    }
    .text{
        color: white;
        font-size: 16px;
        position: absolute;
        top: 24% !important;
        left: 27% !important;
        text-align: center;
        background-color: #718292;
        padding: 5px 15px;
        border-radius: 5px;
    }
    .benifit-text {
        color: #fff;
        font-size: 24px;
        padding: 0 5% 0 5%;
        font-weight: 600;
        margin-top: 0%;
    }
    .cloud-img{
        bottom: 65% !important;
        left: 28% !important;
    }
    .user-img img{
        width: auto !important;
    }
    .user-img{
        top: 25% !important;
        left: 55% !important;
    }
    .benifit-amass-text{
        font-size: 12px !important;
    }
    .direction-list{
        position: absolute;
        top: 41% !important;
        left: 57% !important;
    }
    .direction-img{
        position: absolute;
        top: 41% !important;
        left: 38% !important;
        text-align: center;
    }
    .data-profile-comments-sec{
        width: 88% !important;
        border-radius: 10px;
        padding: 10px 0px;
        margin-left: 30px;
    }
    .nopadding{
        padding: 0px !important;
    }
    .chat-bg{
        margin-left: 0;
        width: 100%;
    }
    .data-profile-img{
        width: 100%;
    }
    button.mat-raised-button {
      min-width: 178px !important;
      margin-right: 0px;
  }
  .cloud-img-benifit-one {
    position: absolute;
    bottom: 50%;
    left: 54%;
    text-align: center;
  }
  .cloud-img-benifit-two {
    position: absolute;
    bottom: 29%;
    left: 51%;
    text-align: center;
  }
  .benifit-sec-one {
    padding: 20px 0;
    margin: 0px;
  }
  .chat-nopadding {
    padding: 0px;
    margin: 10px 0px 0px 0px;
  }
}




