<section class="section-margin">
    <div class="row justify-content-center">

        <div class="col-md-4">
            <mat-card>
                <span class="text-center">
                    <h1 jhiTranslate="reset.finish.title">Set New Password for Insights</h1>

                    <div class="alert" *ngIf="error">
                        <p>{{errorMessage}}</p>
                    </div>

                    <div *ngIf="success">
                        <div class="alert alert-success" jhiTranslate="reset.finish.messages.success">
                            <strong>Your password has been changed.</strong> </div>
                        <button type="button" mat-button color="primary" (click)="login()"><span jhiTranslate="reset.finish.messages.link">Login to Insights</span></button>
                    </div>
                </span>

                <div *ngIf="!keyMissing">
                    <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
                        <div class="form-group">
                            <input type="password" class="form-control mat-elevation-z2" id="password" name="password" #passwordInput="ngModel" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                                [(ngModel)]="resetAccount.password" minlength=4 maxlength=50 required>
                                <div class="justify-content-center">
                                        <div class="alert" *ngIf="strengthBarValidationMessage">
                                            {{strengthBarValidationMessage}}
                                        </div>
                                </div>
                            <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                                <small class="form-text text-danger" *ngIf="passwordInput.errors.required" jhiTranslate="global.messages.validate.newpassword.required">
                                    Your password is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="passwordInput.errors.minlength" jhiTranslate="global.messages.validate.newpassword.minlength">
                                    Your password is required to be at least 4 characters.
                                </small>
                                <small class="form-text text-danger" *ngIf="passwordInput.errors.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength">
                                    Your password cannot be longer than 50 characters.
                                </small>
                            </div>
                            <jhi-password-strength-bar [passwordToCheck]="resetAccount.password" (errorMsg)="change($event)"></jhi-password-strength-bar>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control mat-elevation-z2" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                                placeholder="{{'global.form.confirmpassword.placeholder' | translate}}" [(ngModel)]="confirmPassword"
                                minlength=4 maxlength=50 required>
                                <div class="justify-content-center">
                                    <div class="alert" *ngIf="doNotMatch" >
                                            {{unmatchedErrorMsg}}
                                    </div>
                                </div>
                            <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                                <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required" jhiTranslate="global.messages.validate.confirmpassword.required">
                                    Your password confirmation is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength" jhiTranslate="global.messages.validate.confirmpassword.minlength">
                                    Your password confirmation is required to be at least 4 characters.
                                </small>
                                <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength" jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                                    Your password confirmation cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>

                        <button type="submit" [disabled]="passwordForm.form.invalid" class="button-style" mat-raised-button (click)="passwordReset({'label':'Reset Password - Button - Set Password','category':'Forgot Password','event': 'Account Changed'})">
                            <span jhiTranslate="reset.finish.form.button">Set Password</span>
                        </button>
                    </form>
                </div>
            </mat-card>
        </div>
    </div>
</section>
