input {
   border: solid 1px rgba(0, 0, 0, 0.1);
   border-radius: 2px;
   outline: none;
   padding: 6px 16px;
   width: 100%;
   font-size: 16px;
   line-height: 34px;
   margin-bottom: 10px;
   background-color: #f5f5f5;
}

.row.justify-content-center{
   margin-left: 0px;
   margin-right: 0px;
}

.section-margin row{
   margin-right: 0px;
}

.justify-content-center h1:first-child{
   text-transform: uppercase;
   font-size: 1.4rem;
   font-weight: 800;
}

.button-color{
   background-color: #007bff;
   border-color: #007bff;
   width: 100%;
}

.button-style{
   width: 100%;
   background-color:#007bff;
   color:white;
   font-weight: 900;
}

.mat-button.mat-primary {
    color: #438afe;
}
