
<section class="content-wrapper">
    <div class="container">
        <div class="row nomargin">
            <div class="col-md-12 row sec-one">
                <div class="col-md-12 text-center feature-header">
                    <div class="feature-section-title feature-section-title-icon">
                        <h2 class="feature-section-title-text">Features and Pricing</h2>
                    </div>
                </div>
                <div class="col-md-12 feature-sub-header">
                    <div class="feature-section-title feature-section-title-icon">
                        <h4 class="feature-section-title-text">Leveling the Playing Field in Data</h4>
                    </div>
                </div>
                <div class="col-md-12 nopadding text-font feature-sub-header-text">
                    <p>Navigate to the hottest data trends and find newcomers that fit your research objectives.</p>
                </div>
                <div class="col-md-12 row field-investment-info">
                    <div class="col-md-8">
                        <div class="feature-section-title feature-section-title-icon">
                            <h4 class="feature-section-title-text">Find your next data investment with Insights.</h4>
                            <button type="button" class="start-btn" (click)="signUp()" mat-raised-button color="warn">GET STARTED</button>
                        </div>
                    </div>
                    <div class="col-md-4 graph-padding">
                        <img src="../../content/images/features/Money_Graph.png" alt="graph">
                    </div>
                </div>
            </div>
            <div class="col-md-12 row sec-two">
                <div class="col-md-6 feature-header">
                    <div class="feature-section-two-title feature-section-title-icon">
                        <h2 class="feature-section-two-title-text">Find the Right Data</h2>
                    </div>
                    <div class="text-font sec-two-desc">
                        <p>As the go-to destination for innovative investment managers to efficiently navigate the endless spectrum of datasets, researchers rapidly connect with relevant, esoteric data providers that fit their research objectives.  Use Insights to narrow down and select data investment opportunities that are undiscoverable elsewhere.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature-section-two-title feature-section-title-icon video-frame">
                        <video width="320" height="240" controls>
                        <source src=”http://techslides.com/demos/sample-videos/small.ogv” type=video/ogg>
                        <source src="../../content/images/features/Insights_Quick_Walkthrough.mp4" type=video/mp4>
                        </video>
                    </div>
                </div>
            </div>
            <div class="col-md-12 row sec-three">
                <div clsss="about-insights">
                    <p><strong>Insights</strong> is a research platform that makes it easy to discover alternative datasets and monitor industry trends.  From tracking popular data categories to immediately curating a list of data providers to investigate further, keep connected while focusing on the more integral, proprietary aspects of your business, like generating alpha.</p>
                </div>
            </div>
            <div class="col-md-12 row sec-four nopadding">
                <div class="col-md-8 nopadding">
                    <img src="../../content/images/features/Newsletter_Sample.png">
                </div>
                <div class="col-md-4 sec-four-desc">
                    <div class="feature-section-four-title feature-section-title-icon">
                        <h2 class="feature-section-four-title-text">Discover Untapped Data</h2>
                    </div>
                    <div class="text-font">
                        <p>Uncover the newest data providers entering the capital markets arena for the first time, before any of your competitors.  Leverage Insights’ comprehensive coverage on data providers and data/analytics tools to stay on the forefront of technology-enabled investing.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 row sec-five">
                <div class="col-md-12 nopadding">
                    <div class="feature-section-four-title feature-section-title-icon">
                        <h2 class="feature-section-four-title-text">Seamlessly Create your own Custom Searches for Data</h2>
                    </div>
                    <div class="text-font sec-five-desc">
                        <p>Insights’ users have access to thousands of filters and search criteria, allowing for unlimited combinations of custom searches. Below are some examples of representative custom searches tailored to specific sample research mandates an asset manager may have. Utilize additional filters and sorting criteria and let your imagination run wild!</p>
                    </div>
                </div>
                <div class="col-md-12 row port-data-sec">
                    <div class="col-md-12 row port-data-one">
                        <div class="col-md-5 port-data-img">
                            <img src="../../content/images/features/Port_Data.png">
                        </div>
                        <div class="col-md-7 port-data-text">
                            <div class="feature-section-custom-title feature-section-title-icon">
                                <h4 class="feature-section-custom-title-text">Manufacturing Supply Chain Insights between U.S. and China</h4>
                                <button type="button" class="start-btn" (click)="unrestrictedUser('Shipping')" mat-raised-button color="warn">VIEW TEMPLATE</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 row port-data-sec">
                    <div class="col-md-12 row port-data-one">
                        <div class="col-md-5 port-data-img">
                            <img src="../../content/images/features/Transactional_Data.png">
                        </div>
                        <div class="col-md-7 port-data-text">
                            <div class="feature-section-custom-title feature-section-title-icon">
                                <h4 class="feature-section-custom-title-text">B2C Transactional Data</h4>
                                <button type="button" class="start-btn" (click)="unrestrictedUser('Transactional')" mat-raised-button color="warn">VIEW TEMPLATE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 row sec-six">
                <div class="col-md-12 pricing-title">
                    <div class="feature-section-pricing-title feature-section-title-icon text-center">
                        <h2 class="feature-section-pricing-title-text">Plans & Pricing</h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bronze-box">
                        <div class="feature-section-pricing-title feature-section-title-icon text-center">
                            <h2 class="feature-section-pricing-title-text">Trial</h2>
                        </div>
                        <div class="feature-section-pricing-title feature-section-title-icon text-center">
                            <h2 class="feature-section-pricing-title-text">Free</h2>
                        </div>
                        <div class="feature-section-pricing-title feature-section-title-icon text-center">
                            <h5 class="feature-section-pricing-title-text">for two weeks</h5>
                            <ng-container *ngIf="!isAuthenticated()">
                                <button type="button" class="contact-btn" (click)="signUp()"  mat-raised-button color="warn">Sign Up for a Trial
                                </button>
                            </ng-container>
                        </div>                       
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="silver-box">
                        <div class="feature-section-pricing-title feature-section-title-icon text-center">
                            <h2 class="feature-section-pricing-title-text">Starter</h2>
                        </div>
                        <div class="feature-section-pricing-title feature-section-title-icon text-center">
                            <h2 class="feature-section-pricing-title-text">$1,000</h2>
                        </div>
                        <div class="feature-section-pricing-title feature-section-title-icon text-center">
                            <h5 class="feature-section-pricing-title-text">for one month</h5>
                            <ng-container *ngIf="!isAuthenticated()">
                                <button type="button" class="contact-btn"  (click)="signUp()" mat-raised-button color="warn">Sign Up to Subscribe to Starter
                                </button>
                             </ng-container>
                             <ng-container *ngIf="isAuthenticated()">
                            <button type="button" class="contact-btn"  (click)="submitPrice('Silver')" mat-raised-button color="warn">Subscribe to Starter
                            </button>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="Enterprise-box">
                        <div class="feature-section-pricing-title feature-section-title-icon text-center">
                            <h2 class="feature-section-pricing-title-text">Enterprise</h2>
                            <div>
                                <h2>&nbsp;</h2>
                            </div>
                            <div>
                                <h2>&nbsp;</h2>
                            </div>
                            <button type="button" class="contact-btn" (click)="contactUs({'label':'Features - Enterprise - Contact Us', 'category':'Contact Us', 'event':'Internal Link Clicked'})" mat-raised-button color="warn">Contact Us</button>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="col-md-12 row sec-seven">
                <div class="col-md-4 plan-enterprise">
                    <div class="Small-box">
                        <div class="feature-section-pricing-title feature-section-title-icon text-center">
                            <h5 class="feature-section-pricing-title-text">A Demonstration of Insights</h5>
                        </div>
                    </div>
                    <div class="Small-text">
                        <p>
                            <span><i class="fa fa-circle" style="font-size: 10px"></i></span>
                            <span class="small-text-span">Access to 1,000+ Data Provider Profiles within the 50 Key Data Categories
                            </span>
                        </p>
                        <p>
                            <span><i class="fa fa-circle" style="font-size: 10px"></i></span>
                            <span class="small-text-span">Alternative Data Industry News and Events
                            </span>
                        </p>
                        <p>
                            <span><i class="fa fa-circle" style="font-size: 10px"></i></span>
                            <span class="small-text-span">Data Dictionaries, Samples & Screenshots
                            </span>
                        </p>
                        <p>
                            <span><i class="fa fa-circle" style="font-size: 10px"></i></span>
                            <span class="small-text-span">Search, Filter & Sort Providers by Millions of Tags
                            </span>
                        </p>
                        <ng-container *ngIf="isAuthenticated()">
                            <p class="plues-icons">
                            <button mat-button  (click)="submitFeatures('Trial')">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                              </button> 
                              </p>
                        </ng-container>
                        <ng-container *ngIf="!isAuthenticated()">
                        <p class="plues-icon">
                            <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </p>
                        </ng-container>
                    </div>
                    
                </div>
               <!--  <div class="col-md-1"></div> -->
                <div class="col-md-4 plan-enterprise">
                    <div class="Dedicated-box">
                        <div class="feature-section-pricing-title feature-section-title-icon text-center">
                            <h5 class="feature-section-pricing-title-text">Proof of the Value of Insights</h5>
                            <h6 class="feature-section-pricing-title-text">Everything from Trial, Plus:	</h6>
                        </div>
                    </div>
                    <div class="Dedicated-text">
                        <p>
                            <span><i class="fa fa-circle" style="font-size: 10px"></i></span>
                            <span class="small-text-span">Access to an additional 3,000+ Data Provider Profiles within the 6 Data Categories of your Choice</span>
                        </p>
                        <p>
                            <span><i class="fa fa-circle" style="font-size: 10px"></i></span>
                            <span class="small-text-span">Your Data Request Curated & Fulfilled by Amass Experts</span>
                        </p>
                        <p>
                            <span><i class="fa fa-circle" style="font-size: 10px"></i></span>
                            <span class="small-text-span">Amass Alternative Data Reports & Thought Leadership</span>
                        </p>
                        <p>
                            <span><i class="fa fa-circle" style="font-size: 10px"></i></span>
                            <span class="small-text-span">Advanced Notice of New Data Providers</span>
                        </p>
                        <ng-container *ngIf="!isAuthenticated()">
                        <p class="plues-icon">
                            <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </p>
                        </ng-container>
                        <ng-container *ngIf="isAuthenticated()">
                            <p class="plues-icons">
                            <button mat-button  (click)="submitFeatures('Starter')">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                              </button> 
                              </p>
                        </ng-container>
                    </div>
                    
                </div>
                <!-- <div class="col-md-1"></div> -->
                <div class="col-md-4 plan-enterprise">
                    <div class="Large-box">
                        <div class="feature-section-pricing-title feature-section-title-icon text-center">
                            <h5 class="feature-section-pricing-title-text">A Package Customized for You	</h5>
                            <h6 class="feature-section-pricing-title-text">Everything from Starter, Plus:</h6>

                        </div>
                    </div>
                    <div class="Large-text">
                        <p>
                            <span><i class="fa fa-circle" style="font-size: 10px"></i></span>
                            <span class="small-text-span">Access to all 14,000+ Data Provider Profiles and 139 Data Categories</span>
                        </p>
                        <p>
                            <span><i class="fa fa-circle" style="font-size: 10px"></i></span>
                            <span class="small-text-span">API + CRM & RMS Integration</span>
                        </p>
                        <p>
                            <span><i class="fa fa-circle" style="font-size: 10px"></i></span>
                            <span class="small-text-span">Data Sourcing & Analytics Consulting</span>
                        </p>
                        <p>
                            <span><i class="fa fa-circle" style="font-size: 10px"></i></span>
                            <span class="small-text-span">Custom Data Sourcing & Analytics Projects</span>
                        </p>
                        <p>
                            <span><i class="fa fa-circle" style="font-size: 10px"></i></span>
                            <span class="small-text-span">Advanced Security / Encryption & CRM / SaaS Functionality</span>
                        </p>
                        <p>
                            <span><i class="fa fa-circle" style="font-size: 10px"></i></span>
                            <span class="small-text-span">Private Events & Provider Relationship Management</span>
                        </p>
                        <ng-container *ngIf="!isAuthenticated()">
                        <p class="plues-icon">
                          <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </p>
                        </ng-container>
                        <ng-container *ngIf="isAuthenticated()">
                            <p class="plues-icons">
                            <button mat-button  (click)="submitFeatures('Enterprise')">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                              </button> 
                              </p>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)" [pageName]="pageName"></jhi-inactivity-timer>

    </div>
            <ng-container *ngIf="plan">
              <table class="table table-bordered features" >
                <thead>
                  <tr>
                    <th scope="col" style="width: 16.5%;">Features</th>
                    <th scope="col" style="width: 28%;">Trial</th>
                    <th scope="col" style="width: 29%;">Starter</th>
                    <th scope="col">Enterprise</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row" matTooltip="Unlocked Data Providers allow users full access to their data profiles and their identifiable information.">Data Providers Unlocked</td>
                    <td matTooltip="Full access to 1,000+ Data Providers' profiles and their identifiable information">1,000+</td>
                    <td matTooltip="Full access to 4,000+ Data Providers' profiles and their identifiable information.">4,000+</td>
                    <td matTooltip="Full access to all Data Providers' profiles available in Insights and their identifiable information.">13702</td>
                  </tr>
                  <tr>
                    <td scope="row" matTooltip="Unlocked Data Categories allow users access to the details about this data category and the main providers within it.">Data Categories Unlocked</td>
                    <td matTooltip="Access to the details on 50+ data categories and the main providers within them.">50+</td>
                    <td matTooltip="Access to the details on 56+ data categories and the main providers within them.">56+</td>
                    <td matTooltip="Full access to the details on all the data categories and providers in Insights.">139</td>
                  </tr>
                  <tr>
                    <td scope="row" matTooltip="A data request is a reasonably specific Request for Data (RFD) in which a data consumer provides Amass with criteria around the data they are looking to acquire. Amass then hunts for the best data for this particular RFD and presents custom research to the data consumer.">Data Requests</td>
                    <td matTooltip="No data requests fulfilled by the Amass team.">0</td>
                    <td matTooltip="The Amass team will hunt for the best data for the data consumer and present this custom research based on one data request.">1</td>
                    <td matTooltip="The Amass team will hunt for the best data for the data consumer and present this custom research based on unlimited data requests.">Unlimited	</td>
                  </tr>
                  <tr>
                    <td scope="row" matTooltip="Notifications are sent through email to users when certain events occur, such as adding a new data provider, updating a data provider's profile, or a new relevant news article.">Notifications</td>
                    <td matTooltip="Notifications through email about the 1,000+ unlocked new or updated providers, as well as news articles and events.">Basic</td>
                    <td matTooltip="Notifications in-app or through email about the 4,000+ unlocked new or updated providers and the providers and data categories followed by you, as well as news articles and events.">Advanced</td>
                    <td matTooltip="Notifications in-app or through email about all the new or updated providers in Insights, as well as news articles and events, customized & prioritized to your needs.">Custom</td>
                  </tr>
                  <tr>
                    <td  scope="row"matTooltip="Client support from Amass experts through email, phone & in-app chat.">Support</td>
                    <td matTooltip="Basic support through email & in-app chat.">Basic</td>
                    <td matTooltip="Prioritized support through email, phone & in-app chat.">High Priority</td>
                    <td matTooltip="Prioritized support through email, phone & in-app chat, with the priority for this plan coming before any other plan.">Top Priority</td>
                  </tr>
                  <tr>
                    <td  scope="row" matTooltip="Access to resources provided by the data provider, such as data dictionaries, data snapshots & samples, demos & screenshots, marketing decks, documentation, links, and attachments.">Data Provider Resources</td>
                    <td   matTooltip="Access to resources provided by the data provider, such as data dictionaries, data snapshots & samples, demos & screenshots, marketing decks, documentation, links, and attachments."><i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                       <td   matTooltip="Access to resources provided by the data provider, such as data dictionaries, data snapshots & samples, demos & screenshots, marketing decks, documentation, links, and attachments."><i class="fa fa-check" aria-hidden="true"></i>
                       </td>
                         <td   matTooltip="Access to resources provided by the data provider, such as data dictionaries, data snapshots & samples, demos & screenshots, marketing decks, documentation, links, and attachments."><i class="fa fa-check" aria-hidden="true"></i>
                         </td>
                  </tr>
                         <tr>
                          <td  scope="row"  matTooltip="Enabling basic searches, filters & sorts of the data providers in Insights, using most (but not all) of the available categorizations and tags.">Basic Searching, Filtering & Sorting</td>
                          <td   matTooltip="Enabling basic searches, filters & sorts of the data providers in Insights, using most (but not all) of the available categorizations and tags."><i class="fa fa-check" aria-hidden="true"></i></td>
        
                          <td   matTooltip="Enabling basic searches, filters & sorts of the data providers in Insights, using most (but not all) of the available categorizations and tags."><i class="fa fa-check" aria-hidden="true"></i></td>
                        
                          <td   matTooltip="Enabling basic searches, filters & sorts of the data providers in Insights, using most (but not all) of the available categorizations and tags."><i class="fa fa-check" aria-hidden="true"></i></td>
                           </tr>            
                           <tr>
                            <td  scope="row" matTooltip="Adding personal (private) notes and tags linked to data providers' profiles.">Personal Notetaking & Tagging</td>
                           <td   matTooltip="Adding personal (private) notes and tags linked to data providers' profiles."><i class="fa fa-check" aria-hidden="true"></i></td>
                            <td   matTooltip="Adding personal (private) notes and tags linked to data providers' profiles."><i class="fa fa-check" aria-hidden="true"></i></td>
                           <td   matTooltip="Adding personal (private) notes and tags linked to data providers' profiles."><i class="fa fa-check" aria-hidden="true"></i></td> 
                          </tr>    
                          <tr>
                            <td  scope="row" matTooltip="A directory of events related to the data industry or the asset management industry.">Industry Events</td>
                            <td   matTooltip="A directory of events related to the data industry or the asset management industry."><i class="fa fa-check" aria-hidden="true"></i></td>
                           <td   matTooltip="A directory of events related to the data industry or the asset management industry."><i class="fa fa-check" aria-hidden="true"></i></td>
                            <td   matTooltip="A directory of events related to the data industry or the asset management industry."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td  scope="row"  matTooltip="A directory of news articles related to the data industry or the asset management industry.">Industry News</td>
                            <td   matTooltip="A directory of news articles related to the data industry or the asset management industry."><i class="fa fa-check" aria-hidden="true"></i></td>
                            <td   matTooltip="A directory of news articles related to the data industry or the asset management industry."><i class="fa fa-check" aria-hidden="true"></i></td>
                            <td   matTooltip="A directory of news articles related to the data industry or the asset management industry."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td  scope="row" matTooltip="Enabling advanced searches, filters & sorts of the data providers in Insights, using all of the available categorizations and tags including the providers' statistics, as well as combinations of these categorizations & tags. ">Advanced Searching, Filtering & Sorting </td>
                         <td></td>
                         <td   matTooltip="Enabling advanced searches, filters & sorts of the data providers in Insights, using all of the available categorizations and tags including the providers' statistics, as well as combinations of these categorizations & tags."><i class="fa fa-check" aria-hidden="true"></i></td>
                         <td   matTooltip="Enabling advanced searches, filters & sorts of the data providers in Insights, using all of the available categorizations and tags including the providers' statistics, as well as combinations of these categorizations & tags."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td  scope="row" matTooltip="Access to Amass experts' proprietary scores and opinions about data providers' offerings, which can be used to prioritize the most promising data products.">Amass Experts' Scores & Opinions</td>
                            <td></td>
                            <td   matTooltip="Access to Amass experts' proprietary scores and opinions about data providers' offerings, which can be used to prioritize the most promising data products."><i class="fa fa-check" aria-hidden="true"></i></td>
                            <td   matTooltip="Access to Amass experts' proprietary scores and opinions about data providers' offerings, which can be used to prioritize the most promising data products."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td  scope="row"  matTooltip="Access to providers' opinions and thoughts about their own data products.">Providers' Opinions</td>
                            <td ></td>
                            <td   matTooltip="Access to providers' opinions and thoughts about their own data products."><i class="fa fa-check" aria-hidden="true"></i></td>
                            <td   matTooltip="Access to providers' opinions and thoughts about their own data products."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td scope="row" mat-line matTooltip="Access to the identities of providers' data provider partners, data distribution partners, and data consumer partners.">Providers' Data Partners</td>
                            <td ></td>
                            <td  matTooltip="Access to the identities of providers' data provider partners, data distribution partners, and data consumer partners."><i class="fa fa-check" aria-hidden="true"></i></td>
                            <td   matTooltip="Access to the identities of providers' data provider partners, data distribution partners, and data consumer partners."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td scope="row"  matTooltip="Ability to follow and be notified of a provider's data profile updates, new resources and news articles.">Follow a Provider</td>
                            <td ></td>
                            <td   matTooltip="Ability to follow and be notified of a provider's data profile updates, new resources and news articles."><i class="fa fa-check" aria-hidden="true"></i></td>
                            <td   matTooltip="Ability to follow and be notified of a provider's data profile updates, new resources and news articles."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td scope="row" matTooltip="Ability to follow and be notified of the updates to all the providers in a data category or of any new provider in a data category.">Follow a Data Category</td>
                            <td></td>
                            <td   matTooltip="Ability to follow and be notified of the updates to all the providers in a data category or of any new provider in a data category."><i class="fa fa-check" aria-hidden="true"></i></td>
                            <td   matTooltip="Ability to follow and be notified of the updates to all the providers in a data category or of any new provider in a data category."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td scope="row" matTooltip="Access to all proprietary research published by Amass experts.">Amass Reports & Thought Leadership</td>
                            <td></td>
                            <td   matTooltip="Access to all proprietary research published by Amass experts."><i class="fa fa-check" aria-hidden="true"></i></td>
                            <td   matTooltip="Access to all proprietary research published by Amass experts."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td scope="row" matTooltip="Access to all members-only events hosted by Amass.">Member Events </td>
                            <td ></td>
                            <td   matTooltip="Access to all members-only events hosted by Amass."><i class="fa fa-check" aria-hidden="true"></i></td>
                            <td   matTooltip="Access to all members-only events hosted by Amass."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td scope="row" matTooltip="Access to an API containing all of the metadata on data providers profiled in Insights.">API / Metadata Export</td>
                            <td></td>
                            <td></td>
                            <td  matTooltip="Access to an API containing all of the metadata on data providers profiled in Insights."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td scope="row" matTooltip="Bespoke projects requested by you, ranging from data sourcing to data cleaning, analysis, visualization, backtesting, etc.">Consulting & Advisory Services</td>
                            <td ></td>
                            <td></td>
                            <td matTooltip="Bespoke projects requested by you, ranging from data sourcing to data cleaning, analysis, visualization, backtesting, etc."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td scope="row"  matTooltip="Managing and standardizing trial and license agreements with data providers.">Trial & License Agreement Management</td>
                            <td></td>
                            <td></td>
                            <td   matTooltip="Managing and standardizing trial and license agreements with data providers."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td scope="row" matTooltip="Outsourced legal services to properly vet data providers for all appropriate compliance concerns.">Legal & Compliance Reviews</td>
                            <td></td>
                            <td ></td>
                            <td  matTooltip="Outsourced legal services to properly vet data providers for all appropriate compliance concerns."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td scope="row" matTooltip="Retrieving data in a standardized format and analyzing, restructuring, and visualizing data for more efficient use within investment processes.	">Data Delivery & Analytics Services</td>
                            <td ></td>
                            <td ></td>
                            <td   matTooltip="Retrieving data in a standardized format and analyzing, restructuring, and visualizing data for more efficient use within investment processes."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td scope="row"  matTooltip="Handling all support issues with data providers, such as changes in format or missing data.">Provider Data Support</td>
                            <td ></td>
                            <td></td>
                            <td matTooltip="Handling all support issues with data providers, such as changes in format or missing data."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td scope="row" matTooltip="Prioritizing new features requested by you in the Insights development roadmap.">Development Roadmap Prioritization</td>
                            <td ></td>
                            <td></td>
                            <td  matTooltip="Prioritizing new features requested by you in the Insights development roadmap."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td scope="row"   matTooltip="Private events customized to your needs hosted by Amass.">Private Events</td>
                            <td></td>
                            <td ></td>
                            <td   matTooltip="Private events customized to your needs hosted by Amass."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td scope="row" matTooltip="When you navigate around Insights, Amass does not track the pages you visit or actions you take.">Private / Anonymous Usage of Insights</td>
                            <td ></td>
                            <td ></td>
                            <td  matTooltip="When you navigate around Insights, Amass does not track the pages you visit or actions you take."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td scope="row" matTooltip="Ability to privately add data providers that are not currently profiled in Insights.">Privately Add or Edit Provider Profiles</td>
                            <td></td>
                            <td   ></td>
                            <td matTooltip="Ability to privately add data providers that are not currently profiled in Insights."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td scope="row" matTooltip="Security and encryption features customized to your needs, such as on-prem deployment or encrypted data sharing.">Advanced Security / Encryption</td>
                            <td></td>
                            <td></td>
                            <td  matTooltip="Security and encryption features customized to your needs, such as on-prem deployment or encrypted data sharing."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td scope="row" matTooltip="Adding notes and tags linked to data providers' profiles, shared with your team members and only accessible by them.">Team Notetaking & Tagging</td>
                            <td></td>
                            <td ></td>
                            <td   matTooltip="Adding notes and tags linked to data providers' profiles, shared with your team members and only accessible by them.	"><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                          <tr>
                            <td scope="row" matTooltip="Permissions and features built for teams.">Team-based Permissions</td>
                            <td ></td>
                            <td ></td>
                            <td   matTooltip="Permissions and features built for teams."><i class="fa fa-check" aria-hidden="true"></i></td>
                          </tr>
                        </tbody>
              </table>
              
            </ng-container>
        
</section>
