.content-wrapper{
    background-color: #ffffff;
}
.nomargin {
    margin-left: 0px !important;
    margin-right: 0px !important;
    background-color: #fff;
}
.playing-title{
    text-align: center;
    padding: 0 0 35px 0;
}
.feature-header{
    padding: 0 0 30px 0;
}
.feature-section-title .feature-section-title-text {
    font-family: OpenSans-Bold;
    position: relative;
    /* padding-bottom: 25px; */
    line-height: 35px;
    margin-top: 0;
    text-transform: uppercase;
}

/* .feature-section-title .feature-section-title-text:before {
    content: '';
    position: absolute;
    width: 90px;
    margin-left: -45px;
    height: 1px;
    left: 50%;
    bottom: 0px;
    background-color: #fe5722;
} */

.feature-section-title .feature-section-title-text span {
    color: #82b541;
}
.text-center {
    text-align: center !important;
}
.feature-sub-header{
    padding: 0 15px;
}
.feature-sub-header-text{
    padding: 25px 15px !important;
}
.field-investment-info{
    padding: 0 15px;
}
.nopadding{
    padding: 0;
}
.text-font{
    font-size: 18px;
}
.sec-one{
    background: url("../../content/images/features/feature.png");
    color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.graph-padding{
    padding: 0 75px 0 115px;
}
.start-btn{
    margin: 35px 0;
}
.sec-two{
    background-color: #ffffff;
    padding: 55px 0 35px 0;
}
.feature-section-two-title .feature-section-two-title-text {
    font-family: OpenSans-Bold;
    position: relative;
    /* padding-bottom: 25px; */
    line-height: 35px;
    margin-top: 0;
    /* text-transform: uppercase; */
}
.feature-section-two-title .feature-section-two-title-text span {
    color: #82b541;
}
.sec-three{
    padding: 35px 145px;
    background-color: #d0cece;
    font-size: x-large;
    text-align: center;
    font-weight: 600;
}
.sec-four{
    padding: 45px 0 25px 0;
}
.feature-section-four-title .feature-section-four-title-text {
    font-family: OpenSans-Bold;
    position: relative;
    /* padding-bottom: 25px; */
    line-height: 35px;
    margin-top: 0;
    /* text-transform: uppercase; */
}
.feature-section-four-title .feature-section-four-title-text span {
    color: #82b541;
}
.sec-five{
    padding: 25px 0 0 0;
}
.feature-section-custom-title .feature-section-custom-title-text {
    font-family: OpenSans-Bold;
    position: relative;
    /* padding-bottom: 25px; */
    line-height: 35px;
    margin-top: 0;
    /* text-transform: uppercase; */
}
.sec-four-desc{
    padding: 140px 0;
}
.feature-section-custom-title .feature-section-custom-title-text span {
    color: #82b541;
}
.port-data-one{
    border-style: double;
    border-color: #d4caca;
}
.port-data-img{
    padding: 5px 120px;
}
.port-data-text{
    padding: 5px 85px;
}
.port-data-two{
    border: 1px solid;
    margin-top: 25px;
    margin-bottom: 25px;
}
.sec-five-desc{
    padding: 25px 0 0 0;
}
.port-data-sec{
    padding: 20px 140px;
}
.sec-six{

}
.pricing-title{
    padding: 25px 0;
}
.feature-section-pricing-title .feature-section-pricing-title-text {
    font-family: OpenSans-Bold;
    position: relative;
    /* padding-bottom: 25px; */
    line-height: 35px;
    margin-top: 0;
    text-transform: uppercase;
}
.feature-section-pricing-title .feature-section-pricing-title-text span {
    color: #82b541;
}
.bronze-box{
    border: 2px solid #4472c4;
    background-color: #4472c4;
    border-radius: 20px;
    color:#fff;
}
.silver-box{
    border: 2px solid #2f5597;
    background-color: #2f5597;
    border-radius: 20px;
    color:#fff;
}
.Enterprise-box{
    border: 2px solid #203864;
    background-color: #203864;
    border-radius: 20px;
    color:#fff;
}
.contact-btn{
    margin: 25px 0;
}
.price-btn
{
    margin: 50px;
}
.sec-seven{
    padding: 15px 15px;
}
.Small-box{
    border: 2px solid #7f7f7f;
    background-color: #7f7f7f;
    border-radius: 10px;
    padding: 16px 0;
    color:#fff;
}
.Dedicated-box{
    border: 2px solid #7f7f7f;
    background-color: #7f7f7f;
    border-radius: 10px;
   /*  padding: 16px 0; */
   color:#fff;
}
.Large-box{
    border: 2px solid #7f7f7f;
    background-color: #7f7f7f;
    border-radius: 10px;
    color:#fff;
}
.plan-enterprise{
    padding: 0 15px;
}
.Small-text{
    padding: 15px;
    background-color: #d0cece;
}
.Dedicated-text{
    padding: 15px;
    background-color: #d0cece;
}
.Large-text{
    padding: 15px 5px 15px 15px;
    background-color: #d0cece;
}
.small-text-span{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
}
.video-frame{
    background-color: currentColor;
}
.video-frame video{
   width:100%;
}
.sec-two-desc{
    padding: 20px 75px 0 0px;
}
.plues-icon{
    margin: 0;
    height: 20px;
    color: #6fac46;
}
.plues-icon i{
    float: right;
    font-size: 35px;
}
.plues-icons{
    margin-left: 250px;
    height: 20px;
    color: #6fac46;
}
.plues-icons i{
    float: right;
    font-size: 35px;
}
#A {
    background: #040404;
  }
  #A::after {
    content: "";
    position: relative;
    /* left: -3rem; */
    /* padding * -1 */
    top: calc( 33rem - 60rem / 2 );
    /* padding - height/2 */
    /* float: left; */
    display: block;
    height: 3rem;
    width: 100%;
    background: hsla(0, 0%, 100%, 0.5);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 70 500 60' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='500' height='130' style='stroke: none; fill: %233FDBFF;' /%3E%3Cpath d='M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z' style='stroke: none; fill: %229982D9;'%3E%3C/path%3E%3C/svg%3E");
    background-size: 100% 100%;
  }
  /** Cosmetics **/
  #A {
    padding: 3rem 0px;
    color: white;
    width: 100%;
  }
  .btn-custom1  {
    background:#2D5772; color:#fff; border-radius:20px
  }
  .btn-custom2  {
    background:#1AA85C; color:#fff; border-radius:20px
  }
  .features{
    margin-left: 2%;
    width: 81%;
    text-align: center;
  }