.mat-dialog-title .dialog-sub-title {
    font-size: 1rem;
    line-height: 1rem;
    font-family: 'OpenSans-Light';
}

.mat-dialog-content .mat-form-field {
    width: 100%;
}
.input-email{
    margin-bottom: 0 !important;
}
.contact-textarea {
    border: none;
}
.footer-text-suggestion{
    margin-top: 25px;
}
.suggest-textarea{
    min-height: 105px;
}
.request-textarea{
    min-height: 86px;
}
