<h2 mat-dialog-title class="text-center">
    <div class="text-center dialog-main-title">{{dialogTitle ? dialogTitle : 'Contact Us'}}</div>
    <div class="dialog-sub-title" *ngIf="dialogSubTitle">{{dialogSubTitle}}</div>
</h2>
<form class="form" role="form" (ngSubmit)="submitContactMessage(contactPopupForm)" #contactPopupForm="ngForm">
<mat-dialog-content>
    <div class="alert" *ngIf="validationError || userName =='' || userEmail ==''">
        {{validationError}}
    </div>
    <div class="alert alert-success" *ngIf="responseMessage">
        {{responseMessage}} <br>
        <button type="button" mat-raised-button color="warn" (click)="closeDialog()" style="margin-top: 5px;">Continue</button>
    </div>
    <div *ngIf="!isAuthenticated() && !responseMessage">
        <input type="text" class="amassInput" [(ngModel)] = "userName"  name="name"  placeholder="Name*"
             maxlength=50 required matInput>
        <input class="amassInput input-email" [(ngModel)]="userEmail" id="contactEmail"  name="contactEmail" #contactEmail="ngModel" placeholder="{{'global.form.email.placeholder' | translate}}*"
             email required pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$">
             <div *ngIf="contactEmail.dirty && contactEmail.invalid">
               <!--  <div class="justify-content-center">
                    <div class="alert" *ngIf="contactEmail.errors.required">
                        Please enter valid Email address.
                    </div>
                </div> -->
                <div class="justify-content-center">
                    <div class="alert" *ngIf="contactEmail.errors && contactEmail.errors.pattern" [ngStyle]="{'margin-bottom': '0'}">
                        Please enter valid Email address.
                    </div>
                </div>
            </div>
    </div>
    <div *ngIf="!responseMessage">
        <mat-form-field *ngIf="dialogType === 'contactUs'" floatLabel="never" class="contact-textarea">
            <textarea class="mat-elevation-z2 amassInput" id="message" name="message" placeholder="Enter your message*" [(ngModel)]="contactFields.message" #message maxlength="255" matInput required></textarea>
            <mat-hint align="end">{{contactFields.message.length || 0}}/255</mat-hint>
        </mat-form-field>

        <mat-form-field *ngIf="dialogType === 'moreInformation'" floatLabel="never" class="contact-textarea">
            <textarea class="mat-elevation-z2 amassInput" id="providerInformation" name="providerInformation" [(ngModel)]="contactFields.providerInformation" maxlength="255" matInput required></textarea>
            <mat-hint align="end">{{contactFields.providerInformation.length || 0}}/255</mat-hint>
        </mat-form-field>

        <mat-form-field *ngIf="dialogType === 'unlockProvider'" floatLabel="never" class="contact-textarea">
            <textarea class="mat-elevation-z2 amassInput" id="accessToProvider" name="accessToProvider" placeholder="I'd like access to this data provider" [(ngModel)]="contactFields.accessToProvider" maxlength="255" matInput required></textarea>
            <mat-hint align="end">{{contactFields.accessToProvider.length || 0}}/255</mat-hint>
        </mat-form-field>

        <mat-form-field *ngIf="dialogType === 'unlockCategory'" floatLabel="never" class="contact-textarea">
            <textarea class="mat-elevation-z2 amassInput" id="accessToCategory" name="accessToCategory" placeholder="I'd like access to this data category" [(ngModel)]="contactFields.accessToCategory" maxlength="255" matInput required></textarea>
            <mat-hint align="end">{{contactFields.accessToCategory.length || 0}}/255</mat-hint>
        </mat-form-field>

        <mat-form-field *ngIf="dialogType === 'requestFindingData'" floatLabel="never" class="contact-textarea">
            <textarea class="mat-elevation-z2 amassInput request-textarea" id="contactRequestFindingData" name="contactRequestFindingData" [(ngModel)]="contactFields.contactRequestFindingData" maxlength="255" matInput required></textarea>
            <mat-hint align="end">{{contactFields.contactRequestFindingData.length || 0}}/255</mat-hint>
        </mat-form-field>

        <mat-form-field *ngIf="dialogType === 'requestEngineeringData'" floatLabel="never" class="contact-textarea">
            <textarea class="mat-elevation-z2 amassInput" id="contactRequestEngineeringData" name="contactRequestEngineeringData"  [(ngModel)]="contactFields.contactRequestEngineeringData" maxlength="255" matInput required></textarea>
            <mat-hint align="end">{{contactFields.contactRequestEngineeringData.length || 0}}/255</mat-hint>
        </mat-form-field>

        <mat-form-field *ngIf="dialogType === 'requestSellingData'" floatLabel="never" class="contact-textarea">
            <textarea class="mat-elevation-z2 amassInput" id="contactRequestSellingData" name="contactRequestSellingData" [(ngModel)]="contactFields.contactRequestSellingData" maxlength="255" matInput required></textarea>
            <mat-hint align="end">{{contactFields.contactRequestSellingData.length || 0}}/255</mat-hint>
        </mat-form-field>
        <mat-form-field *ngIf="dialogType === 'requestDirectContact'" floatLabel="never" class="contact-textarea">
            <textarea class="mat-elevation-z2 amassInput request-textarea" id="contactDirectContact" name="contactDirectContact" [(ngModel)]="contactFields.contactDirectContact" maxlength="255" matInput required></textarea>
            <mat-hint align="end">{{contactFields.contactDirectContact.length || 0}}/255</mat-hint>
        </mat-form-field>

        <mat-form-field *ngIf="dialogType === 'requestDataSample'" floatLabel="never">
            <textarea class="mat-elevation-z2 amassInput request-textarea" id="contactDataSample" name="contactDataSample" [(ngModel)]="contactFields.contactDataSample" maxlength="255" matInput required></textarea>
            <mat-hint align="end">{{contactFields.contactDataSample.length || 0}}/255</mat-hint>
        </mat-form-field>
        <mat-form-field *ngIf="dialogType === 'suggestProvider'" floatLabel="never">
            <textarea class="mat-elevation-z2 amassInput suggest-textarea" id="suggestProviderType" name="suggestProviderType" [(ngModel)]="contactFields.suggestProviderType" maxlength="255" matInput required></textarea>
            <mat-hint align="end">{{contactFields.suggestProviderType.length || 0}}/255</mat-hint>
        </mat-form-field>
        <mat-form-field *ngIf="dialogType === 'suggestArticle'" floatLabel="never">
            <textarea class="mat-elevation-z2 amassInput suggest-textarea" id="suggestArticle" name="suggestArticle" [(ngModel)]="contactFields.suggestArticleType" maxlength="255" matInput required></textarea>
            <mat-hint align="end">{{contactFields.suggestArticleType.length || 0}}/255</mat-hint>
        </mat-form-field>
    </div>

</mat-dialog-content>
<mat-dialog-actions *ngIf="!responseMessage">
    <button type="submit" class="amass-button-small" style="bottom: 10px;" mat-raised-button color="warn">Submit</button>
    <button type="button" class="amass-button-small" style="bottom: 10px;"  mat-raised-button (click)="closeDialog()">Cancel</button>
    <div *ngIf="requestAccess">
    <button type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()">Upgrade to Access</button>
</div>
</mat-dialog-actions>
<div class="footer-text-suggestion" *ngIf="dialogType === 'Suggest' && !responseMessage">
    <span>You will be notified when your suggestion has been reviewed.<br> If approved you will be visibly credited alongside your contribution and be awarded a Karma point.</span>
</div>
</form>
