<div class="provider-list">
    <div class="media">
        <div class="media-body"
        [matTooltip]="lockedProvider || genericProfileCard.locked ? 'Your account does not have permission to view this. Please ugrade your account to access.' : ''">
            <!--<p-blockUI [target]="resource" [blocked]="lockedProvider || !userLevel && sampleResource && !editPermission" *ngIf="!userLevel && sampleResource && !editPermission">-->
            <p-blockUI [target]="resource" [blocked]="lockedProvider || genericProfileCard.locked"
                *ngIf="lockedProvider || genericProfileCard.locked">
                <i class="fa fa-lock fa-3x"
                    style="position:absolute;left:45%;margin-top:35px;z-index: 1;font-size:24px;"></i>
            </p-blockUI>
            <!--<mat-card class="genric-card"  [ngStyle]="{'background-color':lockedProvider || !userLevel && sampleResource && !editPermission ? 'rgba(0, 0, 0, 0.4)': '', 'cursor': lockedProvider || !userLevel && sampleResource && !editPermission ? 'not-allowed' : '', 'pointer-events': lockedProvider || !userLevel && sampleResource && !editPermission ? 'none' : ''}">-->
            <!--<div class="spinner-sec" *ngIf="loader && event.clickableObj.fileID">-->
            <!--<mat-progress-spinner mode="indeterminate"  class="mat-progress-spinner"></mat-progress-spinner>-->
            <!-- <p-progressSpinner [style]="{transform:'translate(-50%, -50%)', top: '50%',left: '50%'}"></p-progressSpinner>-->
            <!-- </div>  -->
            <mat-card class="genric-card"
                [ngStyle]="{'min-height':'110px','background-color':lockedProvider || genericProfileCard.locked ? 'rgba(0, 0, 0, 0.4)': '', 'cursor': lockedProvider || genericProfileCard.locked ? 'not-allowed' : '', 'pointer-events': lockedProvider || genericProfileCard.locked ? 'none' : ''}">

                <div #resource class="row" *ngFor="let mainContent of genericProfileCard.content;">
                    <ng-container *ngFor="let innerContent of mainContent.columnContent;let i = index;">
                        <div class="grey-text media-desc noPadding topicsStyle col-md-{{mainContent.columnSize[i]}}">
                            <span class="media-desc static-list-txt">

                                <ng-container
                                    *ngIf="innerContent.title && innerContent.url !== null && innerContent.url !== '' && innerContent.userPermission === false">
                                    <h4 class="media-heading pull-left no-padding"
                                        [ngStyle]="{'font-family': 'OpenSans-Regular'}">
                                        <a class="static-list-txt" href="{{innerContent.url}}" target="_blank"
                                            [class]="innerContent.style" [matTooltip]="innerContent.toolTip"
                                            [ngClass]="{blurText: lockedProvider}">{{innerContent.title}}</a>
                                    </h4>
                                </ng-container>
                                <ng-container
                                    *ngIf="innerContent.title && innerContent.url !== null && innerContent.url !== '' && innerContent.userPermission === true">
                                    <h4 class="media-heading pull-left no-padding"
                                        [ngStyle]="{'font-family': 'OpenSans-Regular'}">
                                        <a class="static-list-txt" href="{{innerContent.url}}" target="_blank" style=" color: currentColor;pointer-events: none; 
                                    cursor: not-allowed;
                                    opacity: 0.5;
                                    text-decoration: none;" [class]="innerContent.style"
                                            [matTooltip]="innerContent.toolTip"
                                            [ngClass]="{blurText: innerContent.userPermission === true}">{{innerContent.title}}</a>
                                    </h4>
                                    <!-- <i class="fa fa-lock fa-3x" style="position:absolute;left:10%;margin-top:0px;z-index: 1;font-size:24px;"></i>-->
                                </ng-container>
                                <ng-container
                                    *ngIf="innerContent.clickable && innerContent.clickable === true && innerContent.userPermission === false">
                                    <h4 class="media-heading pull-left no-padding"
                                        [ngStyle]="{'font-family': 'OpenSans-Regular'}">
                                        <a class="static-list-txt" (click)="onLinkClick(innerContent)"
                                            [class]="innerContent.style" [matTooltip]="innerContent.toolTip"
                                            [ngClass]="{blurText: lockedProvider}">{{innerContent.title}}</a>
                                    </h4>
                                    <ng-container
                                        *ngIf="loader && loaderValue.clickableObj.fileID ===innerContent.clickableObj.fileID ">
                                        <p-progressSpinner
                                            [style]="{width: '70px', height: '70px',transform:'translate(-50%, -50%)', top: '50px',left: '5px'}">
                                        </p-progressSpinner>
                                    </ng-container>
                                </ng-container>
                                <ng-container
                                    *ngIf="innerContent.clickable && innerContent.clickable === true && innerContent.userPermission === true">
                                    <h4 class="media-heading pull-left no-padding"
                                        [ngStyle]="{'font-family': 'OpenSans-Regular'}">
                                        <a class="static-list-txt" (click)="onLinkClick(innerContent)" style=" color: currentColor;pointer-events: none; 
                                        cursor: not-allowed;
                                        opacity: 0.5;
                                        text-decoration: none;" [class]="innerContent.style"
                                            [matTooltip]="innerContent.toolTip"
                                            [ngClass]="{blurText: innerContent.userPermission === true}">{{innerContent.title}}</a>
                                    </h4>
                                    <!-- <i class="fa fa-lock fa-3x" style="position:absolute;left:10%;margin-top:0px;z-index: 1;font-size:24px;"></i>-->
                                </ng-container>

                                <ng-container *ngIf="innerContent.label">
                                    <strong [class]="innerContent.labelStyle"
                                        [matTooltip]="innerContent.labelToolTip">{{innerContent.label}}</strong>
                                </ng-container>

                                <ng-container *ngIf="innerContent.image">
                                    <div class="pull-left no-padding">
                                        <span class="pull-left media-heading">
                                            <a *ngIf="innerContent.url" [href]="innerContent.url" target="_blank"><img
                                                    [src]="innerContent.image" [class]="innerContent.imageStyle"
                                                    style="width:50px"></a>
                                            <img *ngIf="!innerContent.url" [src]="innerContent.image"
                                                [class]="innerContent.imageStyle" style="width:50px">
                                        </span>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="innerContent.plainText || innerContent.plainTextUrl">
                                    <span *ngIf="innerContent.plainText && !innerContent.plainTextUrl"
                                        class="media-desc truncate-text no-padding static-summary"
                                        [class]="innerContent.style"
                                        [matTooltip]="innerContent.toolTip">{{innerContent.plainText}}</span>
                                    <a *ngIf="innerContent.plainTextUrl && innerContent.plainText"
                                        class="media-desc truncate-text no-padding static-summary"
                                        href="{{innerContent.plainTextUrl}}" [class]="innerContent.style"
                                        [matTooltip]="innerContent.toolTip">{{innerContent.plainText}}</a>
                                </ng-container>

                                <ng-container *ngIf="innerContent.text">
                                    <p *ngIf="innerContent.text"
                                        class="media-desc truncate-text no-padding static-summary"
                                        [class]="innerContent.style" [matTooltip]="innerContent.toolTip">
                                        {{innerContent.text}}</p>
                                </ng-container>

                                <ng-container *ngIf="innerContent.arrayText">
                                    <span *ngFor="let item of innerContent.arrayText; let last = last">
                                        <a
                                            href="{{innerContent.url}}?filter1={{innerContent.filterKey}}&value1={{item.id}}&type1={{innerContent.filterType}}">{{item.desc}}</a>{{last
                                        ? '' : ', '}}
                                    </span>
                                </ng-container>

                                <ng-container *ngIf="innerContent.buttons">
                                    <ng-container *ngFor="let btn of innerContent.buttons">
                                        <div class="noPadding action-btn">
                                            <div class="social">
                                                <div class="social-container">
                                                    <ul [ngStyle]="{'padding': '0','margin':'0'}">
                                                        <li [ngStyle]="{'clear': 'both'}" [class]="btn.listClass"
                                                            ngbDropdown>
                                                            <a>
                                                                <button color="warn" [class]="btn.btnClass"
                                                                    type="submit" [matTooltip]="btn.tooltip"
                                                                    (click)="onButtonClick(btn)">
                                                                    <img *ngIf="btn.btnImage" [src]="btn.btnImage"
                                                                        [class]="btn.btnImageClass" />
                                                                    <i *ngIf="btn.icon" [class]="btn.icon"
                                                                        aria-hidden="true"
                                                                        [style]="btn.iconStyle"></i><span
                                                                        [ngStyle]="{'padding': '0px'}">{{btn.label}}</span>
                                                                </button>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>

                                <ng-container *ngIf="innerContent.completeness">
                                    <div><span class="text-center pull-right amass-progressbar-container"
                                            [ngStyle]="{'padding-right':'5px'}">
                                            <a class="clickable-link">
                                                <mat-progress-bar class="amass-progressbar amass-progressbar-default"
                                                    aria-label="% Complete" [color]="'primary'" [mode]="'determinate'"
                                                    [value]="innerContent.completeness"
                                                    [bufferValue]="innerContent.completeness">
                                                    <span>{{innerContent.completeness}}% Complete</span>
                                                </mat-progress-bar>
                                            </a>
                                        </span></div>
                                    <div class="amass-progressbar-value progress-value" style="margin-left: 145px;">
                                        <span>{{innerContent.completeness}}% Complete</span></div>
                                </ng-container>
                                <ng-container *ngIf="innerContent?.shareButtons">
                                    <!-- <ng-container *ngFor="let btn of innerContent.shareButtons"> -->
                                    <!-- <div class="noPadding action-btn">
                                    <div class="social">
                                        <div class="social-container"> -->
                                    <li class="dropdown profile-list-padding share-buttons-wrapper"
                                        [ngStyle]="{'list-style-type':'none','margin-left':'68px'}" ngbDropdown>
                                        <button class="btn btn-lock dropdown-toggle text-uppercase" ngbDropdownToggle
                                            type="button" id="shareMenuButton" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false" style="margin-left: 5px;">
                                            <img src="../../../content/images/icons/White-Share-icon-original.png"
                                                class="share-image" />
                                            <span>Share</span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-left" ngbDropdownMenu
                                            aria-labelledby="shareMenuButton">
                                            <ng-container *ngFor="let share of innerContent?.shareButtons">
                                                <share-button class="dropdown-menu-item share-button-btn"
                                                    [button]="share?.type" [showText]="true" [autoSetMeta]="false"
                                                    [title]="'Article You Need to See'"
                                                    [description]="share?.description" [url]="share?.url"></share-button>
                                            </ng-container>
                                        </div>
                                    </li>
                                    <!--  </div>
                                    </div>
                                    </div> -->
                                    <!-- </ng-container> -->
                                </ng-container>
                            </span>
                        </div>
                    </ng-container>
                </div>
            </mat-card>
        </div>
    </div>
</div>