mat-grid-tile:not(:last-child) {
	border-right: 1px solid #ddd;
}

.list {
	height: 19px;
    width: 55px;
    display: inline-block;
    vertical-align: middle;
    background: url("../../../content/images/icons/list.png") no-repeat center center;
}

.list-active {
	height: 19px;
    width: 55px;
    display: inline-block;
    vertical-align: middle;
    background: url("../../../content/images/icons/list-active.png") no-repeat center center;
}

.grid {
	height: 19px;
    width: 21px;
    display: inline-block;
    vertical-align: middle;
    background: url("../../../content/images/icons/grid.png") no-repeat center center;
}

.grid-active {
	height: 19px;
    width: 21px;
    display: inline-block;
    vertical-align: middle;
    background: url("../../../content/images/icons/grid-active.png") no-repeat center center;
}

.provider-data.mat-list {
	.mat-list-item {
		min-height: 100px;
		margin-bottom: 10px;
		.thumb-img.mat-list-avatar {
			width: 100px;
			height: 50px;
			border-radius: 0px;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			-o-border-radius: 0px;
		}

		.mat-card {
			padding: 5px 15px;
			.provider-name {
				font-weight: bold;
				color: #333;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.provider-list .mat-card a.clickable-link {
    color: inherit;
}

.provider-list .mat-card a.clickable-link:hover {
    text-decoration: none;
}

.provider-list {
    margin-bottom: 10px;
    .row {
        margin-left: auto;
        margin-right: auto;
    }
    .blurText {
        color: transparent !important;
        text-shadow: 0 0 10px rgba(0,0,0,0.5);
        text-shadow: 0px 0px 0px 10px #e7e7e7;
    }
	.media img.media-object {
		margin-right: 10px;
		max-width: 200px;
    }
    .relatedProviders-image {
        height: 55px !important;
        width: 55px !important;
    }

	.media-body {

        .mat-card {
            padding: 5px 8px;
            min-height: 145px;
            overflow: auto;
        }

        .media-heading {
            font-size: 1em;
            font-weight: bold;
        }

        .media-heading a {
            color: #333;
            &:hover {
                text-decoration: none;
            }
        }

        .truncate-text {
            display: -webkit-box;
            line-height: 1.4;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .media-text {
            font-size: 0.8em;
            margin-bottom: 10px;
            .col-md-3:not(:nth-child(4)),
            .col-md-4:not(:nth-child(3)) {
                border-right: 1px solid #ddd;
            }

            .grey-text {
                color: #858585;
            }
        }

        .mat-raised-button {
            min-width: 175px !important;
            margin-right: 5px;
        }

        .cat-request-btn{
            border: none;
            position: relative;
            min-width: 125px !important;
            height: 32px;
            text-align: left;
            cursor: pointer;
            font-size: 12px;
            color: #3306f9;
            background:#cecfd0;
            font-weight: 600;
            margin: 1px 0;
        }
        .cat-request-btn img
        {
            display: inline-block;
            vertical-align: middle;
            /* margin-bottom: 2px; */
        }
        .cat-request-btn i
        {
            display: inline-block;
            font-size: 1.5rem;
            line-height: 1.5rem;
            vertical-align: middle;
            margin-bottom: 2px;
        }


        .cat-request-btn span
        {
            display:inline-block;
            vertical-align:middle;
            padding: 4px;
        }
        .cat-btn-lock {
            border: none;
            position: relative;
            min-width: 125px !important;
            height: 32px;
            text-align: left;
            cursor: pointer;
            font-size: 12px;
            color: #fff;
            background:#fe5722;
            font-weight: 600;
            margin: 1px 0;
        }
        .cat-btn-lock img
        {
            display: inline-block;
            vertical-align: middle;
            /*  margin-bottom: 2px; */
        }
        .cat-btn-lock i
        {
            display: inline-block;
            font-size: 1.5rem;
            line-height: 1.5rem;
            vertical-align: middle;
            margin-bottom: 2px;
        }
        .cat-btn-lock span
        {
            display:inline-block;
            vertical-align:middle;
            padding: 4px;
        }
    }

    .profile-action {
        display: table;
        table-layout: fixed;
    }

	.profile-action-icon-wrapper {
		width: 25px;
		display: table-cell;
        margin-right: 6px;
        cursor: pointer;
        text-align: center;
	}
	.icon-text {
		font-weight: bold;
		line-height: 20px;
	}
	.unlock-icon,
	.rating-icon,
	.expand-icon {
	    display: inline-block;
	    vertical-align: middle;
	}

	.unlock-icon {
		width: 17px;
	}

	.rating-icon {
		width: 23px;
		height: 21px;
		background: url("../../../content/images/icons/follow.svg") no-repeat center center;
	}

	.expand-icon {
		width: 20px;
	}

	.media-desc {
		color: #858585;
		font-size: 0.9em;
	}
}

.grid-card {
	margin-bottom: 10px;
    background-color: #fafafa;
    height: 98%;
}

::ng-deep .grid-card .mat-card-footer {
	display: flex;
	justify-content: space-around;
	border-top: 1px solid #ddd;
	padding: 10px 5px;
}

::ng-deep .mat-card.sorting-wrapper {
    padding: 10px;
}

::ng-deep .mat-grid-tile .mat-line {
    padding: 0px 16px;
}

::ng-deep .mat-grid-tile img {
    padding-left: 16px;
}

.social .social-container {
    text-align: center;
  }

  .social .social-container ul {
    float: right;
  }

  .social .social-container ul li {
    /* float: left;
    padding-left: 8px; */
    list-style-type: none;
  }

  .provider-logo {
      margin-right: 10px;
  }

  ::ng-deep .provider-status-btn .mat-button.mat-warn {
      cursor: default;
  }

  ::ng-deep .provider-status-btn .mat-button.mat-warn:hover .mat-button-focus-overlay,
  .provider-status-btn .mat-button.mat-warn:focus .mat-button-focus-overlay {
      background-color: transparent !important;
  }

  ::ng-deep .provider-status-btn .mat-button .mat-button-wrapper {
      font-family: OpenSans-Bold;
  }

  /* Progress bar */
.amass-progressbar-container {
    min-width: 138px;
    margin: 0 -19px;
}

.amass-progressbar.mat-progress-bar {
    height: 18px;
}

.amass-progressbar-value {
    font-family: OpenSans-Regular;
    font-size: 0.8rem;
    color: #9e9e9e;
}

::ng-deep .amass-progressbar-default.mat-progress-bar .mat-progress-bar-buffer {
    background-color: #bbdefb;
}

::ng-deep .amass-progressbar-default.mat-progress-bar .mat-progress-bar-fill::after {
    background-color: #438afe;
}

.amass-progressbar-success.mat-progress-bar .mat-progress-bar-buffer {
    background-color: #a5d6a7;
}

.amass-progressbar-success.mat-progress-bar .mat-progress-bar-fill::after {
    background-color: #2e7d32;
}

.amass-progressbar-warning.mat-progress-bar .mat-progress-bar-buffer {
    background-color: #ffcdd2;
}

.amass-progressbar-warnning.mat-progress-bar .mat-progress-bar-fill::after {
    background-color: #f44336;
}
.loader{
    margin-left: 340px;
    margin-top:100px;
    transition-duration: 0s;
    transition-delay: 0s;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    stroke-dasharray: 300px;
    animation-duration: 10s;
    stroke-width: 5%;
    transition: stroke-dashoffset 100ms linear;
}
  .spinner {
	display: block;
	margin: 2em auto;
	width: 4em;
	height: 4em;
    padding: 7px;
	border-radius: 50%;
	transform: scale(.7);
}

.medium {
  transform: scale(1)
}


.spinner-wrapper {
	position: relative;
	width: 4em;
	height: 4em;
	border-radius: 100%;
	left: calc(50% - 2em);
}

.spinner-wrapper::after {
	content: "";
	background: #e4e5e6;
	border-radius: 50%;
	width: 3em;
	height: 3em;
	position: absolute;
	top: 0.5em;
	left: 0.5em;
}

.rotator {
	position: relative;
	width: 4em;
	border-radius: 4em;
	overflow: hidden;
	animation: rotate 2000ms infinite linear;
}

.rotator:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #3F51B5;
	border: 3px solid #e4e5e6;
	border-radius: 100%;
}

.inner-spin {
	background: #e4e5e6;
	height: 4em;
	width: 2em;
}

.inner-spin {
	animation: rotate-left 2500ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
	border-radius: 2em 0 0 2em;
	transform-origin: 2em 2em;
}

.inner-spin:last-child {
	animation: rotate-right 2500ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
	margin-top: -4em;
	border-radius: 0 2em 2em 0;
	float: right;
	transform-origin: 0 50%;
}
.static-list-clear{
    clear: both;
}
.pull-right-icon{
    float: right;
}
.icons-sec{
    padding: 5px 0;
    margin-bottom: 20px;
}
 .tooltip{
    animation-duration:500s !important;
    animation-delay: 500s !important;
  }
.popover-span{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@keyframes rotate-left {
	60%, 75%, 100% {
    	transform: rotate(360deg);
  	}
}

@keyframes rotate {
	0% {
    	transform: rotate(0);
  	}
  	100% {
    	transform: rotate(360deg);
  	}
}

@keyframes rotate-right {
	0%, 25%, 45% {
    	transform: rotate(0);
  	}

  	100% {
    	transform: rotate(360deg);
  	}
}

.progress-bar{
    background-color: #438afe !important;
}
.progress{
    background-color: #bbdefb !important;
    border-radius: 0 !important;
}
.score-rating{
    float: right;
    padding-right: 10px;
}
.progress-value{
    float: right;
    position: absolute;
    color: #fff;
}
.request-btn{
    border: none;
    position: relative;
    min-width: 137px;
    height: 28px;
    text-align: left;
    cursor: pointer;
    font-size: 12px;
    color: #3306f9;
    background:#cecfd0;
    font-weight: 600;
    margin: 1px 0;
}
.request-btn img
{
	display: inline-block;
    vertical-align: middle;
}
.request-btn i
{
	display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}


.request-btn span
{
	display:inline-block;
    vertical-align:middle;
    padding: 4px;
}
.btn-lock
{
    border: none;
    position: relative;
    min-width: 130px !important;
    height: 28px;
    text-align: left;
    cursor: pointer;
    font-size: 12px !important;
    color: #fff;
    background:#fe5722;
    font-weight: 600;
    margin: 1px 0;
    padding: 0 7px;
    line-height: 0px;
    border-radius: 0.15rem;
}
.btn-lock img
{
	display: inline-block;
    vertical-align: middle;
   /*  margin-bottom: 2px; */
}
.btn-lock i
{
	display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
    font-size: 16px;
    margin-right: 14px;
}
.btn-lock span
{
	display:inline-block;
    vertical-align:middle;
    padding: 4px;
}
.lock-icon-bg{
    background-color: #fff;
}
.btn-pending
{
    border: none;
    position: relative;
    min-width: 137px !important;
    height: 28px;
    text-align: left;
    font-size: 12px;
    color: #3306f9;
    background:#fff;
    font-weight: 600;
    margin: 1px 0;
}
.btn-pending img
{
	display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.btn-pending i
{
	display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}
.btn-pending span
{
	display:inline-block;
    vertical-align:middle;
    padding:10px 4px 4px 0px;
}
.list-padding{
    padding: 0px 0px 3px 0px !important;
}
.drp-down-btn{
    min-width: 230px !important;
}
.drp-down-ul{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    left: -65px !important;
}
.request-float{
    float: right;
}
.noPadding{
    padding: 0;
}
.action-btn {
    display: flex;
    justify-content: flex-end;
}
.share-image{
    width: 1rem;
    height: 1.3rem;
    margin-left: 0px;
    margin-right: 2px;
    vertical-align: middle;
}
.share-dropdown-menu {
    min-width: 8rem !important;
}
.dropdown-toggle::after {
    float: right;
    margin-top: 8px;
    font-size: large;
}
.discussion-btn-label
{
    border: none;
    position: relative;
    min-width: 101px !important;
    height: 28px;
    text-align: left;
    cursor: pointer;
    font-size: 12px !important;
    color: #fff;
    background:#fe5722;
    font-weight: 600;
    margin: 1px 0;
    padding: 0 8px;
    line-height: 0px;
    border-radius: 0;
    float: left;
}
.discussion-btn
{
    border: none;
    position: relative;
    min-width: 15px !important;
    height: 28px;
    text-align: left;
    cursor: pointer;
    font-size: 12px !important;
    color: #fff;
    background:#fe5722;
    font-weight: 600;
    margin: 1px 0;
    padding: 0 8px;
    line-height: 8px;
    border-radius: 0;
    margin-left: -4px;
    float: left;
}
.discussion-btn img
{
	display: inline-block;
    vertical-align: middle;
    /* background-color: #fff; */
   /*  margin-bottom: 2px; */
}
.discussion-btn i
{
	display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}
.discussion-btn span
{
	display:inline-block;
    vertical-align:middle;
    /* padding: 4px; */
/*     letter-spacing: 1px; */
}
.discussion-btn-note{
    padding: 5px 36px 5px 12px;
}
.discussion-btn-comment{
    padding: 0 0px 0 10px;
}
.discussion-btn::after {
    margin-top: 2px !important;
}
.discussion-dropdown-toggle::after {
    content:none !important;
}
.request-list{
    list-style-type: none;
}
.request-share-img{
    width: 1.2rem;
    height: 1.4rem;
    vertical-align: middle;
}
.request-more-info {
    font-size: 1.5rem;
    line-height: 1.5rem;
    vertical-align: middle;
    margin-left: 5px;
}
.cancel-request {
    font-size: 1.5rem;
    line-height: 1.5rem;
    vertical-align: middle;
    color:#3306f9;
    margin-left: 5px;
}
.request-direct-contact {
    font-size: 1.5rem;
    line-height: 1.5rem;
    vertical-align: middle;
}
.cancel-request-direct-contact {
    font-size: 1.5rem;
    line-height: 1.5rem;
    vertical-align: middle;
    color:#3306f9;
}
.request-data-sample {
    font-size: 1.5rem;
    line-height: 1.5rem;
    vertical-align: middle;
}
.cancel-request-direct-sample {
    font-size: 1.5rem;
    line-height: 1.5rem;
    vertical-align: middle;
    color:#3306f9;
}
.profile-list-padding {
    padding: 2px 0px !important;
    margin-left: -6px;
}
.drp-down-ul-discussion{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    left: -91px !important;
}
.discussion-dropdown-symbol {
    display: inline-block;
    /*margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;*/
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.published-style {
    margin-left: 71px !important;
}
.topics-align {
    float: right !important;
}
.topicsStyle.col-md-7 {
    text-align: right !important;
}
.dropdown-menu-left {
    min-width: 5rem;
}
.genric-card{
    min-height: 140px;
    overflow: inherit;
}

  .loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .blurText {
    color: transparent !important;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-shadow: 0px 0px 0px 10px #e7e7e7;
}
  /* Transparent Overlay */
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  .mat-progress-spinner::ng-deep circle{
    stroke:#007bff !important;
    }
    .mat-progress-spinner {
        position: absolute;
  //text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

        //margin-right: 50%;
    }