<div class="text-center action-button">
    <button mat-raised-button color="warn" (click)="buttonAction()">
        <img src="../../../content/images/icons/White-Request-icon-original.png" width="20px" height="20px">
        <span>{{button.label}}</span>
    </button>
</div>
