.amass-flat-tree .mat-tree-node {
    min-height: 40px !important;
    font-size: 16px;
}
.line-break{
    white-space: pre-line;
}
.tree-clear{
    clear: both;
}
.tree-float{
    float: left;
}
.tree-float-padding{
    padding-left: 20px !important;
}

.blurTextContainer {
    color: transparent !important;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.5) !important;
    text-shadow: 0px 0px 0px 10px #e7e7e7 !important;
}

a, a:not([href]):not([tabindex]) {
    color: #007bff;
}

a.noLink {
    color: inherit;
}
mat-tree-node {
    display: flex;
    align-items: center;
    min-height: 48px;
    flex: 1;
    overflow: initial !important;
    word-wrap: break-word;
}
.popover-span{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 100 !important;
    font-size: 14px !important;
    display: table-cell !important;
    text-align: left !important;
    padding-left: 6px !important;
}

.provider-title {
    font-size: 16px;
    position: relative;
    display: inline-block;
}

.provider-title .tooltiptext {
    visibility: hidden;
    width: 260px;
    background-color: white;
    text-align: center;
    border: 1px solid #80808070;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0%;
    margin-left: -100px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 500ms;
  }

  .provider-title .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #ddd transparent transparent transparent;
  }

  .provider-title:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .popover-span{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 100 !important;
    font-size: 14px !important;
    display: table-cell !important;
    text-align: left !important;
    padding-left: 6px !important;
    color: black;
}

/* .detail-title {
    font-size: 16px;
    position: relative;
    display: inline-block;
} */

.detail-title .detail-tooltiptext {
    visibility: hidden;
    width: 260px;
    background-color: white;
    text-align: center;
    border: 1px solid #80808070;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1 !important;
    /* top: 0%; */
    /* bottom: 60%; */
    margin-top: 20px;
    left: 8%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 500ms;
  }

  .detail-title .detail-tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #c0c0c0 transparent;
  }

  .detail-title:hover .detail-tooltiptext {
    visibility: visible;
    opacity: 1;
  }
::ng-deep .ql-snow .ql-editor {
    font-size: 16px !important;
    font-family: OpenSans-Light !important;
    color: #000000DE !important;
    padding: 12px 0px !important;
}
::ng-deep .editor-field {
    min-width: 100% !important;
}
