.blurTextContainer {
    color: transparent !important;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 0px 10px #e7e7e7;
}

a, a:not([href]):not([tabindex]) {
    color: #007bff;
}

a.noLink {
    color: inherit;
}
.block-view-sec{
    background-color: #89898a !important;
    /* cursor: not-allowed; */
}
.resource-tab-btn{
    background-color: rgba(0, 0, 0, 0.4);
}
.button-title .button-tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: white;
    text-align: center;
    border: 1px solid #80808070;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 99999 !important;
    top: 26%;
    left: 10%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 500ms;
  }

  .button-title .button-tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #c0c0c0 transparent;
  }

  .button-title:hover .button-tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.popover-span{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 100 !important;
    font-size: 14px !important;
    display: table-cell !important;
    text-align: left !important;
    padding-left: 6px !important;
}
