<ng-container *ngIf="dataSource; else documentsUserMessage">
    <p-blockUI [target]="resource" [blocked]="!isAdmin && !editAccessPermissions" *ngIf="!isAdmin && !editAccessPermissions">
        <i class="fa fa-lock fa-3x" style="position:absolute;top:1%;left:11%;z-index: 1;font-size: 24px;"></i>
    </p-blockUI>
    <span class="button-title">
        <button #resource type="submit" matTooltip="Add new Attachment related to this Provider" (click)="addResource();formSave({'label':'Provider Profile - Resources - Add Resource','category':'Add Resource','event': 'Internal Link Clicked'})" [disabled]="!isAdmin && !editAccessPermissions" [ngStyle]="{'resource-tab-btn': !isAdmin && !editAccessPermissions}" mat-raised-button color="warn" class="new-resource-btn">+ Add Resource</button>
        <div class="button-tooltiptext" *ngIf="!isAdmin && !editAccessPermissions">
            <span class="popover-span">Your account is not allowed to use this feature.<br>
                <button style="margin:0 60px !important;font-family: 'OpenSans-Light';" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
            </span>
        </div>
    </span>
    <!-- <mat-table #table [dataSource]="dataSource" [disabled]="!blockContent && !userLevel" [ngClass]="{'block-view-sec' : !blockContent && !userLevel}">
        <ng-container cdkColumnDef="fileName">
            <mat-header-cell *cdkHeaderCellDef> File Name </mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <a *ngIf="userLevel || blockContent" (click)="googleAnalyticsService.emitEvent('File', 'Downloaded'); fileDownload(row.fileID)">{{row.fileName}}</a>
                <span *ngIf="!blockContent && !userLevel">{{row.fileName}}</span>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="purpose">
            <mat-header-cell *cdkHeaderCellDef> Purpose </mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <ng-container *ngIf="row.dataResourcePurpose">{{row.dataResourcePurpose['purpose']}}</ng-container>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="purposeType">
            <mat-header-cell *cdkHeaderCellDef> Purpose Type </mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <ng-container *ngIf="row.dataResourcePurposeType">{{row.dataResourcePurposeType['purposeType']}}</ng-container>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="dateCreated">
            <mat-header-cell *cdkHeaderCellDef> Created Time </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.dateCreated | date: 'medium'}} </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table> -->
</ng-container>

<ng-template #documentsUserMessage>
    <p>
        Samples & resources such as marketing materials, data dictionaries, data snapshots, full data samples,
        technical documentation, multimedia and others are not available for this provider yet.
    </p>

</ng-template>
<!-- <div class="text-center">
    <button mat-raised-button color="warn" (click)="openContactDialog('Request for More Information', 'Press submit or add more context about your information request.', 'moreInformation', dataProvider.id)"
        *ngIf="(!dataProvider.locked && (dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(261) === -1)) || (!dataProvider.locked && !dataProvider.userProviderStatus)">
        <span *ngIf="!dataSource">Request Samples & Resources for this Provider</span>
        <span *ngIf="dataSource">Think something is missing? Request Additional Samples & Resources for this Provider</span>
    </button>
    <ng-template #notPermissionedDocMsg>
        <p>Your account is not permitted to access samples & resources for this provider.</p>
    </ng-template>
    <button mat-raised-button color="warn" (click)="openContactDialog('Request for Access to Provider', 'Press submit or add more context about your request for access to this Provider\'s Data Profile.', 'unlockProvider', dataProvider.id)"
        *ngIf="dataProvider.locked && dataProvider.userProviderStatus == 0">Request Access to this Provider's Data
        Profile</button>
    <button mat-raised-button color="warn" *ngIf="dataProvider.locked && dataProvider.userProviderStatus == 262">Access
        to this Data Profile in Review.</button>
    <button *ngIf='!dataProvider.locked && (dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(261) !== -1)'
        mat-raised-button color="warn" (click)="cancelMoreInformationAction(dataProvider.id)">More Information Request
        In Progress. Click to Cancel</button>
</div> -->
