<mat-tab-group disableRipple class="mat-elevation-z2 tab-content-list-wrapper">
    <ng-container *ngFor="let subTab of subTabs;">
        <mat-tab label="{{subTab.tabLabelName}}" (backgroundColor)="tabBackgroundColor" *ngIf="subTab.tabLabelName === 'Organizer Organizations' || subTab.tabLabelName === 'Sponsor Organizations' || subTab.tabLabelName === 'Organizer Data Providers' || subTab.tabLabelName === 'Sponsor Data Providers' || subTab.tabLabelName === 'Authored Articles' || subTab.tabLabelName === 'Relevant Articles' || subTab.tabLabelName === 'Provider Partners' || subTab.tabLabelName === 'Distribution Partners' || subTab.tabLabelName === 'Consumer Partners' || (subTab.tabLabelName === 'Competitors' && userLevel)">
            <ng-template mat-tab-label>
                <span [matTooltip]="subTab.tabLabelTooltip" (click)="subTabTitle({'label':'Event Details - Sponsor Data Providers','category':'Linked Entity','event': 'Internal Link Clicked'})">{{subTab.tabLabelName}} </span><span [ngStyle]="{'padding': '0 0 0 20px'}" *ngIf=subTab.tabLabelRight><span [matTooltip]="subTab.tabLabelRightTooltip">{{subTab.tabLabelRight}}</span></span>
            </ng-template>
            <div class="tab-content-row">
                <ng-container *ngFor="let subTabContent of subTab.tabContent">
                    <span *ngIf="subTabContent.contentType === 2">
                        <div *ngIf="(subTabContent && subTabContent.list && subTabContent.list.data && subTabContent.list.data.length > 0); else noDataFound;">
                            <div infinite-scroll (scrolled)="loadSubTabPage(page + 1)" [infiniteScrollDisabled]="page >= pageLinks['last']" [infiniteScrollDistance]="0">
                                <div *ngFor="let listItem of subTabContent.list.data; trackBy: trackByIndex" class="tab-content-list data-list">
                                    <div class="media">
                                        <div class="media-body">
                                            <!-- <mat-card>
                                                <h4 class="media-heading">
                                                    <ng-container *ngIf="listItem.url; else noLink">
                                                        <a href="{{listItem.url}}" target="_blank">
                                                            <img *ngIf="listItem.image" [src]="listItem.image"
                                                        style="width:128px; max-height: 168px;" class="media-logo pull-left" onerror="this.style.display='none'" />
                                                        </a>
                                                        <a href="{{listItem.url}}" target="_blank">
                                                            <img *ngIf="listItem.base64Image" [src]="_DomSanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + listItem.base64Image)" style="width:64px" class="media-logo" />
                                                        </a>
                                                        <a href="{{listItem.url}}" target="_blank" [ngClass]="{'blurText': listItem.locked}" [matTooltip]="listItem.locked? 'Your account does not have permission to view this.' : '' ">{{listItem.title}}</a>
                                                    </ng-container>
                                                    <ng-template #noLink>
                                                        <img *ngIf="listItem.image" [src]="listItem.image"
                                                        style="width:128px; max-height: 168px;" class="media-logo pull-left" onerror="this.style.display='none'" />

                                                        <img *ngIf="listItem.base64Image" [src]="_DomSanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + listItem.base64Image)" style="width:64px" class="media-logo" />

                                                        {{listItem.title}}
                                                    </ng-template>
                                                </h4>
                                                <div class="row media-text">
                                                    <div class="grey-text media-desc col-md-12 no-padding">
                                                        by <span>{{listItem.subTitle}}</span>
                                                    </div>
                                                    <div class="col-md-6 no-padding">
                                                        <span class="grey-text media-desc" *ngIf="listItem.topLeftContent">
                                                            <strong *ngIf="listItem.topLeftLabel" [matTooltip]="listItem.topLeftLabelTooltip">{{listItem.topLeftLabel}}</strong>
                                                            <span *ngFor="let leftContent of listItem.topLeftContent; let last = last;">
                                                                <span [matTooltip]="leftContent.explanation">{{leftContent.title}}</span>{{last ? '' : ', '}}
                                                            </span>
                                                        </span>
                                                    </div>

                                                    <div class="col-md-6 no-padding text-right">
                                                        <span class="grey-text media-desc" *ngIf="listItem.topRightContent">
                                                            <strong *ngIf="listItem.topRightLabel" [matTooltip]="listItem.topRightLabelTooltip">{{listItem.topRightLabel}}</strong>
                                                            <span *ngFor="let rightContent of listItem.topRightContent; let last = last;">
                                                                <span [matTooltip]="rightContent.explanation">{{rightContent.title}}</span>{{last ? '' : ', '}}
                                                            </span>
                                                        </span>
                                                    </div>
                                                    <div class="col-md-9 no-padding">
                                                        <p class="media-desc no-margin" *ngIf="listItem.mainContent">
                                                            {{listItem.mainContent}}
                                                        </p>
                                                        <p class="media-desc no-margin" *ngIf="listItem.mainContentHTML" [innerHTML]="listItem.mainContentHTML"></p>
                                                    </div>
                                                    <div class="col-md-3 no-padding share-buttons" *ngIf="subTabContent.shareButtons">
                                                        <div class="dropdown list-padding share-buttons-wrapper pull-right" ngbDropdown placement="bottom-right">
                                                            <button class="btn btn-lock dropdown-toggle text-uppercase" ngbDropdownToggle type="button" id="shareMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: -24px;">
                                                                <img src="../../../content/images/icons/White-Share-icon-original.png" class="share-img" />
                                                                <span [matTooltip]="'Share This Article'">Share</span>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left" ngbDropdownMenu aria-labelledby="shareMenuButton">
                                                                <ng-container *ngFor="let share of subTabContent.shareButtons">
                                                                    <share-button class="dropdown-menu-item"
                                                                        [button]="share.type"
                                                                        [showText]="true"
                                                                        [autoSetMeta]="false"
                                                                        [url]="share.url ? share.url : listItem.url"
                                                                        [matTooltip]="share.buttonTooltip"
                                                                    ></share-button>
                                                                </ng-container>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    // <div class="grey-text media-desc col-md-12 no-padding text-right published-date" *ngIf="listItem.bottomRight" [innerHTML]="listItem.bottomRight"></div>

                                                    <div class="grey-text media-desc col-md-12 no-padding text-right published-date">
                                                        <strong *ngIf="listItem.bottomRightLabel" [matTooltip]="listItem.bottomRightLabelTooltip">{{listItem.bottomRightLabel}}</strong>
                                                        <span *ngFor="let bottomContent of listItem.bottomRightContent; let last = last;">
                                                            <span [matTooltip]="bottomContent.explanation">{{bottomContent.title}}</span>{{last ? '' : ', '}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </mat-card> -->
                                            <div *ngIf="listItem.articlesTabs">
                                                <mat-card [ngStyle]="{'min-height': listItem.url? '140px' : ''}">
                                                    <h4 class="media-heading">
                                                        <a href="{{listItem.url}}" target="_blank" class="pull-left">
                                                            <img *ngIf="listItem.image" [src]="listItem.image" onerror="this.style.display='none'" style="width:128px" class="data-list-logo"/>
                                                        </a>
                                                        <a href="{{listItem.url}}" target="_blank" class="pull-left">
                                                            <img *ngIf="listItem.base64Image" [src]="_DomSanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + listItem.base64Image)" onerror="this.style.display='none'" style="width:128px" class="data-list-logo"/>
                                                        </a>
                                                        <a href="{{listItem.url}}" target="_blank" [ngClass]="{'blurText': (listItem && listItem.locked)}" [matTooltip]="listItem.locked? 'Your account does not have permission to view this.' : '' ">
                                                            {{listItem.title}}
                                                        </a>
                                                    </h4>
                                                    <div class="row">
                                                        <div class="grey-text media-desc col-md-6 no-padding" [ngClass]="{'blurText': (listItem && listItem.locked)}" *ngIf="listItem.subTitle">
                                                            by <span>
                                                                    <a *ngIf="listItem.subTitle" >{{listItem.subTitle}}</a>
                                                                </span>
                                                        </div>
                                                        <div class="pull-right text-right media-text no-padding" [ngClass]="(listItem && listItem.subTitle) ? 'col-md-6' : 'col-md-12'">
                                                            <span class="media-desc">
                                                                    <strong *ngIf="listItem.bottomRightLabel" [matTooltip]="listItem.bottomRightLabelTooltip">{{listItem.bottomRightLabel}}</strong>
                                                                    <span *ngFor="let bottomContent of listItem.bottomRightContent; let last = last;">
                                                                        <span [matTooltip]="bottomContent.explanation">{{bottomContent.title}}</span>{{last ? '' : ', '}}
                                                                    </span>
                                                            </span>
                                                        </div>
                                                        <div class="col-md-6 pull-left media-text no-padding-left">
                                                            <span class="grey-text media-desc" *ngIf="listItem.topLeftContent">
                                                                <strong *ngIf="listItem.topLeftLabel" [matTooltip]="listItem.topLeftLabelTooltip">{{listItem.topLeftLabel}}</strong>
                                                                <span *ngFor="let leftContent of listItem.topLeftContent; let last = last;">
                                                                    <a>{{leftContent.title}}</a>{{last ? '' : ', '}}
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <div class="col-md-6 pull-right text-right media-text no-padding-right">
                                                            <span class="grey-text media-desc" *ngIf="listItem.topRightContent">
                                                                <strong *ngIf="listItem.topRightLabel" [matTooltip]="listItem.topRightLabelTooltip">{{listItem.topRightLabel}}</strong>
                                                                <span *ngFor="let rightContent of listItem.topRightContent; let last = last;">
                                                                    <a [matTooltip]="rightContent.explanation">{{rightContent.title}}</a>{{last ? '' : ', '}}
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <div  [ngClass]="listItem.url ? 'col-md-9' :'col-md-10'">
                                                            <p class="media-desc truncate-text col-md-12 no-padding" *ngIf="listItem.mainContent" [ngClass]="{'blurText': (listItem && listItem.locked)}">
                                                                {{listItem.mainContent}}
                                                            </p>
                                                            <p class="media-desc no-margin" *ngIf="listItem.mainContentHTML" [innerHTML]="listItem.mainContentHTML"></p>
                                                        </div>
                                                        <div class=" nopadding" [ngClass]="listItem.url ? 'col-md-3' :'col-md-2'" *ngIf="subTabContent?.shareButtons">
                                                            <!--<jhi-share-buttons [shareButtons]="shareButtons"></jhi-share-buttons>-->
                                                            <div class="dropdown list-padding share-buttons-wrapper pull-right" ngbDropdown placement="bottom-right">
                                                                <button class="btn btn-lock dropdown-toggle text-uppercase" ngbDropdownToggle type="button" id="shareMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: -24px;">
                                                                    <img src="../../../content/images/icons/White-Share-icon-original.png" class="share-img" />
                                                                    <span>Share</span>
                                                                </button>
                                                                <div class="dropdown-menu dropdown-menu-left" ngbDropdownMenu aria-labelledby="shareMenuButton">
                                                                    <ng-container *ngFor="let share of subTabContent?.shareButtons">
                                                                        <share-button class="dropdown-menu-item"
                                                                            [button]="share?.type"
                                                                            [showText]="true"
                                                                            [autoSetMeta]="false"
                                                                            [url]="share.url ? share.url : listItem?.url"
                                                                            [matTooltip]="share?.buttonTooltip"
                                                                        ></share-button>
                                                                    </ng-container>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </mat-card>
                                            </div>
                                            <div *ngIf="listItem.providersTabs">
                                                    <mat-card [ngStyle]="{'min-height': !listItem.url ? '80px' : '145px'}">
                                                            <div class="row col-md-12 noPadding">
                                                                <div class="row col-md-10 noPadding">
                                                                    <div class="col-md-3 noPadding" *ngIf="listItem.url">
                                                                        <a *ngIf="listItem.image" class="pull-left" target="_blank" href="{{listItem.url}}">
                                                                            <img [src]="listItem.image" style="width:128px;max-height: 175px;" [ngStyle]="{'background-color': listItem.recordID === 'recwXv6JcH4MKWx0z' || listItem.recordID === 'recG0ZppNxNml1ErI' ? '#9e9e9e' : ''}" class="provider-logo" onerror="this.style.display='none'"/>
                                                                        </a>
                                                                        <a *ngIf="listItem.base64Image" class="pull-left" target="_blank" href="{{listItem.url}}">
                                                                                <img [src]="_DomSanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + listItem.base64Image)" onerror="this.style.display='none'" style="width:128px;max-height: 175px;" [ngStyle]="{'background-color': listItem.recordID === 'recwXv6JcH4MKWx0z' || listItem.recordID === 'recG0ZppNxNml1ErI' ? '#9e9e9e' : ''}" class="provider-logo" onerror="this.style.display='none'"/>
                                                                        </a>
                                                                    </div>
                                                                    <div class="noPadding media-text" [ngClass]="{'col-md-9': listItem.url, 'col-md-12': !listItem.url}">
                                                                        <div  class="col-md-12 noPadding">
                                                                                <!-- <ng-template #tipContent class="tooltip" ><span (mouseleave)="p.close()" class="popover-span">Your account does not have permission to view this.<br> <button style="margin:0 56px !important; background: gainsboro !important;" type="button" class="btn btn-outline-secondary" (click)="p.close();openContactDialog('Request for Access to Provider', 'Press submit or add more context about your request for access to this Provider\'s Data Profile.', 'unlockProvider', dataProvider.id, null, index)"> Request Access </button></span></ng-template>
                                                                                <ng-template #tipContentPending class="tooltip" >Your account does not have permission to view this.</ng-template> -->
                                                                            <h4 class="media-heading">
                                                                                <div class="row col-md-12 noPadding">
                                                                                    <div class="col-md-9 noPadding">
                                                                                        <a *ngIf="!listItem?.locked"  href="{{listItem.url}}" class="provider-title" [ngClass]="{blurText: listItem?.locked}">{{listItem.title}}
                                                                                            <span *ngIf="listItem && listItem.subTitle && listItem.subTitle.toLocaleUpperCase() != listItem.title.toLocaleUpperCase() && listItem.subTitle !='NAME_NULL'"> by {{listItem.subTitle}}</span>
                                                                                        </a>
                                                                                        <span>
                                                                                            <a class="provider-title" *ngIf="listItem?.locked" target="_self"  [ngClass]="{blurText: listItem?.locked}">{{listItem.title}}
                                                                                                <span *ngIf="listItem && listItem.subTitle &&  listItem.subTitle.toLocaleUpperCase() != listItem.title.toLocaleUpperCase() && listItem.subTitle !='NAME_NULL'"> by {{listItem.subTitle}}</span>
                                                                                            </a>
                                                                                        </span>
                                                                                        <span *ngIf="listItem?.locked && (listItem.providerStatus && listItem.providerStatus.indexOf(262) !== -1)"  triggers="manual">
                                                                                            <a class="provider-title" target="_self" [ngClass]="{blurText: listItem?.locked}">{{listItem.title}}
                                                                                                <span *ngIf="listItem && listItem.subTitle && listItem.subTitle.toLocaleUpperCase() != listItem.title.toLocaleUpperCase() && listItem.subTitle !='NAME_NULL'"> by {{listItem.subTitle}}</span>
                                                                                            </a>
                                                                                        </span>
                                                                                </div>
                                                                                    <div class="col-md-3 noPadding" [ngStyle]="{'border': 'none'}">
                                                                                        <span class="text-center pull-right amass-progressbar-container" *ngIf="(listItem.overAllScore && listItem.overAllScore.description && listItem.overAllScore.description === '5')" [matTooltip]="listItem.overAllScore.description + '/5 Overall Score'">
                                                                                                <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                                                                <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                                                                <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                                                                <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                                                                <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                                                        </span>
                                                                                        <span class="text-center pull-right amass-progressbar-container" *ngIf="(listItem.overAllScore && listItem.overAllScore.description && listItem.overAllScore.description === '4')" [matTooltip]="listItem.overAllScore.description + '/5 Overall Score'">
                                                                                            <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                                                            <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                                                            <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                                                            <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                                                        </span>
                                                                                        <span class="text-center pull-right amass-progressbar-container" *ngIf="(listItem.overAllScore && listItem.overAllScore.description  && listItem.overAllScore.description === '3')" [matTooltip]="listItem.overAllScore.description + '/5 Overall Score'">
                                                                                            <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                                                            <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                                                            <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                                                        </span>
                                                                                        <span class="text-center pull-right amass-progressbar-container" *ngIf="(listItem.overAllScore && listItem.overAllScore.description  && listItem.overAllScore.description === '2')" [matTooltip]="listItem.overAllScore.description + '/5 Overall Score'">
                                                                                            <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                                                            <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                                                        </span>
                                                                                        <span class="text-center pull-right amass-progressbar-container" *ngIf="(listItem.overAllScore && listItem.overAllScore.description  && listItem.overAllScore.description === '1')" [matTooltip]="listItem.overAllScore.description + '/5 Overall Score'">
                                                                                            <span class="score-rating"><img   src="../../../content/images/icons/follow-active.svg"/></span>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </h4>
                                                                        </div>
                                                                        <div  class="col-md-12 noPadding">
                                                                            <div class="row col-md-12 noPadding">
                                                                                <div class="col-md-6 ">
                                                                                    <span *ngIf='listItem.topLeft'>
                                                                                            <span class="grey-text"><a class="clickable-link">Main Data Industry:</a>
                                                                                            </span> <br>
                                                                                            <a>
                                                                                                <span>{{listItem.topLeft}}</span>
                                                                                            </a>
                                                                                    </span>
                                                                                </div>
                                                                                <div class="col-md-6 ">
                                                                                    <span *ngIf='listItem.topRight'>
                                                                                        <span class="grey-text"><a class="clickable-link">Main Data Category:</a>
                                                                                        </span> <br>
                                                                                            <a>
                                                                                                <span>{{listItem.topRight}}</span>
                                                                                            </a>
                                                                                    </span>
                                                                                </div>
                                                                                <p *ngIf='listItem.mainContent' class="media-desc col-md-12" style="margin-top: 10px;"><a class="clickable-link" target="_self">{{listItem.mainContent}}</a></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row col-md-12 noPadding media-text list-bootom">
                                                                        <div class="col-md-4" style="margin-top: 0px;padding:5px 10px 0 0px;">
                                                                            <div [ngStyle]="{'float': 'left'}">
                                                                                <span class="text-center pull-right amass-progressbar-container" [ngStyle]="{'padding-right':'0px','width': '136px'}">
                                                                                    <a class="clickable-link">
                                                                                        <mat-progress-bar class="amass-progressbar amass-progressbar-default" aria-label="% Complete" [color]="progressBarColor" [mode]="progressBarMode" [value]="listItem.completenessBar"  [bufferValue]="listItem.completeness"><span>{{listItem.completenessBar}}% Complete</span></mat-progress-bar>
                                                                                    </a>
                                                                                </span>
                                                                            </div>
                                                                            <div class="amass-progressbar-value progress-value" [ngStyle]="{'margin-left': listItem.logo ? '30px': '30px'}">
                                                                                <span [matTooltip]="listItem.completenessBar + '% ' + 'percent of this data providers profile that has been filled in'" >{{listItem.completenessBar}}% Complete</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4" style="margin-top: 0px">
                                                                            <span class="media-desc" *ngIf="listItem.addedDate != null"><a class="clickable-link">Added: {{listItem.addedDate}}</a></span>
                                                                        </div>
                                                                        <div class="col-md-4" style="margin-top: 0px">
                                                                            <span class="media-desc" *ngIf="listItem.updatedDate != null"><a class="clickable-link">Last Updated: {{listItem.updatedDate}}</a></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row col-md-2 noPadding action-btn">
                                                                    <!-- <div class="social">
                                                                        <div class="social-container">
                                                                            <ul [ngStyle]="{'padding': '0','margin':'0'}">
                                                                                <li [ngStyle]="{'clear': 'both'}" class="list-padding" *ngIf='isAdmin || providerUserPermission'>
                                                                                    <a>
                                                                                        <span matTooltip="Edit the data provider's profile information" *ngIf='isAdmin'>
                                                                                            <button class="btn-lock text-uppercase" [routerLink]="['../providers', dataProvider.recordID, 'admin']" color="warn" type="submit" value="Edit Profile"  routerLinkActive="router-link-active"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                                                                                <span [ngStyle]="{'padding': '8px 20px'}">Edit Profile</span>
                                                                                            </button>
                                                                                        </span>
                                                                                        <span matTooltip="Edit the data provider's profile information" *ngFor="let userProvider of providerUserPermission">
                                                                                            <button class="btn-lock text-uppercase" [routerLink]="['../providers', dataProvider.recordID, 'edit']" color="warn" type="submit" value="Edit Profile" *ngIf='!isAdmin && dataProvider.recordID == userProvider.providerRecordID'  routerLinkActive="router-link-active"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                                                                                <span [ngStyle]="{'padding': '8px 20px'}">Edit Profile</span>
                                                                                            </button>
                                                                                        </span>
                                                                                    </a>
                                                                                </li>
                                                                                <li [ngStyle]="{'clear': 'both'}" class="profile-list-padding">
                                                                                    <a *ngIf="!dataProvider?.locked" (click)="dataProvider.followed = !dataProvider.followed; followAction(dataProvider.id)">
                                                                                        <span matTooltip="Unfollow Provider Updates" *ngIf="dataProvider.followed" (click)="providerFollow({'label':'Providers List - Provider - Unfollow','category':'Provider Follow','event': 'Followed'})">
                                                                                            <button class="request-btn text-uppercase" type="submit" value="Follow">
                                                                                                <i class="fa fa-minus-circle" aria-hidden="true" style="font-size: 1.4rem;line-height: 1.5rem;vertical-align: middle;color:#3306f9"></i>
                                                                                                <span>Unfollow</span>
                                                                                            </button>
                                                                                        </span>
                                                                                        <span matTooltip="Follow Provider Updates" *ngIf="!dataProvider.followed">
                                                                                            <button class="btn-lock text-uppercase" color="warn" type="submit" value="Follow" (click)="providerFollow({'label':'Providers List - Provider - Follow','category':'Provider Follow','event': 'Followed'})">
                                                                                                <i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 1.4rem;line-height: 1.5rem;vertical-align: middle;color:#fff"></i>
                                                                                                <span>Follow</span>
                                                                                            </button>
                                                                                        </span>
                                                                                    </a>
                                                                                </li>
                                                                                <li [ngStyle]="{'clear': 'both'}">
                                                                                    <ng-container *ngIf="(dataProvider.categoryPermissionOverride || dataProvider.providerPermissionOverride) else categoryPermissionOverride">
                                                                                        <span *ngIf="(dataProvider.categoryPermissionOverride || dataProvider.providerPermissionOverride) else categoryPermissionOverride">
                                                                                            <button class="btn-pending">
                                                                                                <img src="../../../content/images/icons/profile_pending_user_confirm_unlock.png" class="unlock-icon" />
                                                                                                <span>Access Granted</span>
                                                                                            </button>
                                                                                        </span>
                                                                                    </ng-container>
                                                                                    <ng-template #categoryPermissionOverride>
                                                                                        <a *ngIf='!dataProvider.userProviderStatus || (dataProvider.userProviderStatus && (dataProvider.userProviderStatus.indexOf(269) !== -1 && dataProvider.locked)); else pendingReviewAdmin' (click)="openContactDialog('Request for Access to Provider', 'Press submit or add more context about your request for access to this Provider\'s Data Profile.', 'unlockProvider', dataProvider.id, null, index)">
                                                                                            <span *ngIf="dataProvider.locked" matTooltip="Request Access to Provider">
                                                                                                <button class="btn-lock text-uppercase btn-lock-button" color="warn" type="submit" >
                                                                                                    <img  src="../../../content/images/icons/profile_unlock.png" class="unlock-icon lock-icon-bg request-access-icon" (click)="unlockProviders({'label':'Providers List - Provider - Unlock','category':'Provider Unlock','event': 'Popup Link Clicked'})" />
                                                                                                    <span [ngStyle]="{'padding':'0px'}">Request Access</span>
                                                                                                </button>
                                                                                            </span>
                                                                                        </a>
                                                                                        <ng-template #pendingReviewAdmin>
                                                                                            <ng-container *ngIf="dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(262) !== -1; else pendingUserConfirm">
                                                                                                <span matTooltip="Access to this Data Profile in Review.">
                                                                                                    <button class="btn-pending">
                                                                                                        <img  src="../../../content/images/icons/profile_pending_unlock.png" class="unlock-icon" />
                                                                                                        <span>Pending Access</span>
                                                                                                    </button>
                                                                                                </span>
                                                                                            </ng-container>
                                                                                        </ng-template>
                                                                                        <ng-template #pendingUserConfirm>
                                                                                            <span *ngIf='dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(268) !== -1'>
                                                                                                <button class="btn-pending">
                                                                                                    <img *ngIf='dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(268) !== -1'  src="../../../content/images/icons/profile_pending_user_confirm_unlock.png" class="unlock-icon" />
                                                                                                    <span>Access Granted</span>
                                                                                                </button>
                                                                                            </span>
                                                                                        </ng-template>
                                                                                    </ng-template>
                                                                                </li>
                                                                                <li *ngIf='!dataProvider?.locked && !isAdmin && (!dataProvider.userProviderStatus || (dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(561) === -1))' style="clear: both" ngbDropdown class="nav-item dropdown pointer request-drop-dwn request-list profile-list-padding" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                                                                    <a class="request-drop-dwn" href="javascript:void(0);" id="entity-menu" [ngStyle]="{'color': '#fff'}">

                                                                                        <button type="button" ngbDropdownToggle mat-button class="btn-lock text-uppercase headerSignUp dropdown-toggle">
                                                                                            <img src="../../../content/images/icons/White-Request-icon-original.png" class="request-share-img">
                                                                                                <span>Request</span>
                                                                                        </button>

                                                                                    </a>
                                                                                    <ul class="dropdown-menu drp-down-ul" ngbDropdownMenu>
                                                                                        <li *ngIf='!dataProvider?.locked && !isAdmin ' [ngStyle]="{'margin': '2px 0 2px 0px','clear': 'both','padding': '2px 8px'}">
                                                                                            <a *ngIf='!dataProvider.userProviderStatus || (dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(261) === -1)' (click)="openContactDialog('Request for More Information', 'Press submit or add more context about your information request.', 'moreInformation', dataProvider.id, null, index, 261);requestMoreInfo({'label':'Providers List - Provider - More Info','category':'Provider More Info','event': 'Popup Link Clicked'})" >
                                                                                                <span matTooltip="Request More Information about Provider">
                                                                                                    <button class="btn-lock drp-down-btn-request" color="warn" type="submit" value="Request More Info">
                                                                                                        <i class="fa fa-info" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;margin-left: 5px;"></i>
                                                                                                        <span [ngStyle]="{'margin-left': '5px'}">Request More Info</span>
                                                                                                    </button>
                                                                                                </span>
                                                                                            </a>
                                                                                            <a *ngIf='dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(261) !== -1' (click)="cancelMoreInformationAction(dataProvider.id, index, 261);requestMoreInfo({'label':'Providers List - Provider - Cancel More Info','category':'Provider More Info','event': 'Popup Link Clicked'})">
                                                                                                <span matTooltip="More Information Request In Progress. Click to Cancel">
                                                                                                    <button class="request-btn drp-down-btn-request" type="submit" value="Cancel Request" >
                                                                                                        <i class="fa fa-info" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;color:#3306f9;margin-left: 5px;"></i>
                                                                                                        <span [ngStyle]="{'margin-left': '5px'}">Cancel Request</span>
                                                                                                    </button>
                                                                                                </span>
                                                                                            </a>
                                                                                        </li>
                                                                                        <li  [ngStyle]="{'margin': '2px 0 2px 0px','clear': 'both','padding': '2px 8px'}">
                                                                                            <a *ngIf='!dataProvider.userProviderStatus || (dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(566) === -1)' (click)="openContactDialog('Request for Contact ', 'Please describe the purpose for your request for direct contact in as much details as possible and we will put you in touch soon.', 'requestDirectContact', dataProvider.id, null, index, 566)" >
                                                                                                <span matTooltip="Request More Information about Provider">
                                                                                                    <button class="btn-lock drp-down-btn-request" color="warn" type="submit" value="Request Direct Contact" width="210">
                                                                                                        <i class="fa fa-phone" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;"></i>
                                                                                                        <span>Request Direct Contact</span>
                                                                                                    </button>
                                                                                                </span>
                                                                                            </a>
                                                                                            <a *ngIf='dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(566) !== -1' (click)="cancelMoreInformationAction(dataProvider.id, index, 566);">
                                                                                                <span matTooltip="More Information Request In Progress. Click to Cancel">
                                                                                                    <button class="request-btn drp-down-btn-request" type="submit" value="Cancel Request for Direct Contact" >
                                                                                                        <i class="fa fa-phone" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;color:#3306f9;"></i>
                                                                                                        <span>Cancel Request for Direct Contact</span>
                                                                                                    </button>
                                                                                                </span>
                                                                                            </a>
                                                                                        </li>
                                                                                        <li  [ngStyle]="{'margin': '2px 0 2px 0px','clear': 'both','padding': '2px 8px'}">
                                                                                            <a *ngIf='!dataProvider.userProviderStatus || (dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(565) === -1)' (click)="openContactDialog('Request for Data Sample ', 'Amass can collect a data sample from a provider on your behalf. Please add any additional details about the data you would like to receive and we will be in touch soon.', 'requestDataSample', dataProvider.id, null, index, 565)" >
                                                                                                <span matTooltip="Request More Information about Provider">
                                                                                                    <button class="btn-lock drp-down-btn-request" color="warn" type="submit" value="Request Data Sample">
                                                                                                        <i class="fa fa-archive" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;"></i>
                                                                                                            <span [ngStyle]="{'padding': '0px'}">Request Data Sample</span>
                                                                                                    </button>
                                                                                                </span>
                                                                                            </a>
                                                                                            <a *ngIf='dataProvider.userProviderStatus && dataProvider.userProviderStatus.indexOf(565) !== -1' (click)="cancelMoreInformationAction(dataProvider.id, index, 565)">
                                                                                                <span matTooltip="More Information Request In Progress. Click to Cancel">
                                                                                                    <button class="request-btn drp-down-btn-request" type="submit" value="Cancel Request for Data Sample" >
                                                                                                        <i class="fa fa-archive" aria-hidden="true" style="font-size: 1.5rem;line-height: 1.5rem;vertical-align: middle;color:#3306f9;"></i>
                                                                                                        <span [ngStyle]="{'padding': '0px'}">Cancel Request for Data Sample</span>
                                                                                                    </button>
                                                                                                </span>
                                                                                            </a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </li>
                                                                                <li class="dropdown profile-list-padding share-buttons-wrapper" ngbDropdown>
                                                                                    <button class="btn btn-lock dropdown-toggle text-uppercase" (click)="shreDropDown({'label':'Providers List - Provider - Share','category':'Provider Profile','event': 'Share Link Clicked'})" ngbDropdownToggle type="button" id="shareMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                        <img src="../../../content/images/icons/White-Share-icon-original.png" class="share-image" />
                                                                                        <span>Share</span>
                                                                                    </button>
                                                                                    <div class="dropdown-menu share-dropdown-menu" ngbDropdownMenu aria-labelledby="shareMenuButton">
                                                                                        <share-button class="dropdown-menu-item" (click)="shreDropDown({'label':'Providers List - Provider - Share - Email','category':'Provider Profile','event': 'Share Link Clicked'})"
                                                                                            [button]="'email'"
                                                                                            [showText]="true"
                                                                                            [autoSetMeta]="false"
                                                                                            [url]="dataProvider.url"
                                                                                            [description]="dataProvider.emailText"
                                                                                        ></share-button>
                                                                                        <share-button class="dropdown-menu-item" (click)="shreDropDown({'label':'Providers List - Provider - Share - LinkedIn','category':'Provider Profile','event': 'Share Link Clicked'})"
                                                                                            [button]="'linkedin'"
                                                                                            [showText]="true"
                                                                                            [autoSetMeta]="false"
                                                                                            [url]="dataProvider.url"
                                                                                            [description]="dataProvider.linkedInText"
                                                                                        ></share-button>
                                                                                        <share-button class="dropdown-menu-item" (click)="shreDropDown({'label':'Providers List - Provider - Share - Twitter','category':'Provider Profile','event': 'Share Link Clicked'})"
                                                                                            [button]="'twitter'"
                                                                                            [showText]="true"
                                                                                            [autoSetMeta]="false"
                                                                                            [url]="dataProvider.url"
                                                                                            [description]="dataProvider.twitterText"
                                                                                        ></share-button>
                                                                                        <share-button class="dropdown-menu-item" (click)="shreDropDown({'label':'Providers List - Provider - Share - Link','category':'Provider Profile','event': 'Share Link Clicked'})"
                                                                                            [button]="'copy'"
                                                                                            [showText]="true"
                                                                                            [url]="dataProvider.url"
                                                                                            [autoSetMeta]="false"
                                                                                        ></share-button>
                                                                                    </div>
                                                                                </li>
                                                                                <li class="dropdown profile-list-padding" ngbDropdown [autoClose]="'outside'">
                                                                                    <button class="btn btn-lock tag-buttons-wrapper dropdown-toggle text-uppercase" (click)="getTagList(dataProvider.id);shreDropDown({'label':'Providers List - Provider - Tags','category':'Provider Tag','event': 'Tagged'})" ngbDropdownToggle type="button" id="shareMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                        <img src="../../../content/images/icons/tag icon white.png" class="share-image" />
                                                                                        <span>Tag</span>
                                                                                    </button>
                                                                                    <ul class="dropdown-menu drp-down-ul-tag" ngbDropdownMenu [ngStyle]="{'min-width':'178px'}">
                                                                                        <span *ngIf='loaderActive' class="spinner"></span>
                                                                                        <ng-container *ngFor="let providerTags of tagDropDownValues; let pIndex = index">
                                                                                            <li *ngIf="providerTags.privacy === 'Private'" [ngStyle]="{'margin': '2px 0 2px 0px','clear': 'both','padding': '2px 8px'}">
                                                                                                <a>
                                                                                                    <span>
                                                                                                        <button class="btn-lock-tag drp-down-btn-tag" [ngStyle]="{'background-color':providerTags.providerTag? 'rgb(67, 138, 254)': 'rgb(206, 207, 208)'}" color="warn" type="submit" (click)="providerNewTag({'tagId':providerTags.id, 'providerId': dataProvider.id}, pIndex)">
                                                                                                            <img src="../../../content/images/icons/tag icon white.png" class="share-image" />
                                                                                                            <span class="tag-name-list">{{providerTags.tagName}}</span>
                                                                                                            <span *ngIf="providerTags.providerTag">
                                                                                                                <i class="fa fa-check" aria-hidden="true" style="font-size: 1rem;line-height: 1rem;vertical-align: middle;margin-left: 5px;float: right"></i>
                                                                                                            </span>
                                                                                                        </button>
                                                                                                    </span>
                                                                                                </a>
                                                                                            </li>
                                                                                        </ng-container>
                                                                                        <li *ngIf="customTags" [ngStyle]="{'margin': '2px 0 2px 0px','clear': 'both','padding': '2px 8px'}">
                                                                                            <form role="form" class="new-tag-form" novalidate (ngSubmit)="onKeydownTag({'tag':newTagValue, 'providerID': dataProvider.id})">
                                                                                                <a>
                                                                                                    <span>
                                                                                                        <input class="new-tag-input" type="text" name="tag" value="" [(ngModel)]="newTagValue">
                                                                                                    </span>
                                                                                                </a>
                                                                                                <a>
                                                                                                    <span>
                                                                                                        <button (click)="customTag({'label':'Providers List - Provider - Tags - Create New Tag','category':'Provider Tag','event': 'Tag Created'})" [disabled]="!userLevel" [ngStyle]="{'background-color':!userLevel? 'rgba(0, 0, 0, 0.4)': '#fe5722', 'cursor': !userLevel? 'not-allowed' : ''}" class="btn-lock drp-down-btn-tag text-position" color="warn" type="submit">
                                                                                                            <span [ngStyle]="{'padding': '0px'}">+ Create New Tag</span>
                                                                                                        </button>
                                                                                                    </span>
                                                                                                </a>
                                                                                            </form>
                                                                                        </li>
                                                                                        <ng-container *ngIf="!customTags">
                                                                                            <p-blockUI [target]="pnl" [blocked]="!userLevel" *ngIf="!userLevel">
                                                                                                <i class="fa fa-lock fa-3x" style="position:absolute;bottom:4%;left:46%;z-index: 1;font-size: 24px;"></i>
                                                                                            </p-blockUI>
                                                                                            <li #pnl [ngStyle]="{'margin': '2px 0 2px 0px','clear': 'both','padding': '2px 8px'}">
                                                                                                <a>
                                                                                                    <span>
                                                                                                        <button (click)="customTag({'label':'Providers List - Provider - Tags - Create New Tag','category':'Provider Tag','event': 'Tag Created'})" [disabled]="!userLevel" [ngStyle]="{'background-color':!userLevel? 'rgba(0, 0, 0, 0.4)': '#fe5722', 'cursor': !userLevel? 'not-allowed' : ''}" class="btn-lock drp-down-btn-tag text-position" color="warn" type="submit">
                                                                                                            <span [ngStyle]="{'padding': '0px'}">+ Create New Tag</span>
                                                                                                        </button>
                                                                                                    </span>
                                                                                                </a>
                                                                                            </li>
                                                                                        </ng-container>
                                                                                    </ul>
                                                                                </li>
                                                                                <li style="clear: both" ngbDropdown class="nav-item dropdown pointer request-drop-dwn request-list profile-list-padding" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                                                                    <a class="request-drop-dwn" href="javascript:void(0);" id="entity-menu" [ngStyle]="{'color': '#fff'}">
                                                                                        <button type="button" (click)="openCommentsWindow('getNotes', dataProvider.id, 'All')" mat-button class="discussion-btn-label text-uppercase headerSignUp discussion-dropdown-toggle">
                                                                                            <span>Discussion</span>
                                                                                        </button>
                                                                                        <button type="button" ngbDropdownToggle mat-button class="discussion-btn text-uppercase headerSignUp">
                                                                                        </button>
                                                                                    </a>
                                                                                    <ul class="dropdown-menu drp-down-ul-discussion share-dropdown-menu" ngbDropdownMenu>
                                                                                        <li [ngStyle]="{'margin': '0px 0 0px 0px','clear': 'both','padding': '2px 8px'}">
                                                                                            <a>
                                                                                                <span>
                                                                                                    <button class="discussion-btn drp-down-btn-discussion" (click)="openNotesComments('getNotes', dataProvider.id, 'private')" color="warn" type="submit" value="Notes">
                                                                                                        <img src="../../../content/images/icons/UX-UI-Icon_processed-33.png" class="share-image" />
                                                                                                        <span class="discussion-btn-note" matTooltip="View all notes related to this provider">Notes</span>
                                                                                                    </button>
                                                                                                </span>
                                                                                            </a>
                                                                                        </li>
                                                                                        <li  [ngStyle]="{'margin': '0px 0 0px 0px','clear': 'both','padding': '2px 8px'}">
                                                                                            <a>
                                                                                                <span>
                                                                                                    <button class="discussion-btn drp-down-btn-discussion" (click)="openNotesComments('getNotes', dataProvider.id, 'public')" color="warn" type="submit" value="Comments " width="210">

                                                                                                        <span class="discussion-btn-comment" matTooltip="View all comments on this provider">Comments </span>
                                                                                                    </button>
                                                                                                </span>
                                                                                            </a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                     </div> -->
                                                                </div>
                                                            </div>
                                                        </mat-card>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template #noDataFound>
                            <mat-card>
                                {{subTabContent.noDataFoundMsg}}
                                <ng-container *ngIf="subTabContent.buttons">
                                    <ng-container *ngFor="let button of subTabContent.buttons">
                                        <jhi-generic-profile-buttons [button]="button" (action)="buttonClick($event)"></jhi-generic-profile-buttons>
                                    </ng-container>
                                </ng-container>
                            </mat-card>
                        </ng-template>

                    </span>
                </ng-container>
            </div>
        </mat-tab>
    </ng-container>
</mat-tab-group>
