<mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl" class="amass-flat-tree tree-clear" >
    <!-- <ng-template #tipContent class="tooltip" >
        <span (mouseleave)="a.close()" class="popover-span">Your account does not have permission to view this.<br>
            <button style="margin:0 38px !important;" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
        </span>
    </ng-template> -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding class="tree-float" 
    [ngClass]="{'tree-float-padding': treeNodeData, 'editor-field': editorFieldWidth}">
        <button mat-icon-button disabled></button>
        <a (click)="anchorLink(node)" *ngIf="(node.locked !== true && !node.locked && node.id); else noLink;">
            <img *ngIf="node.logo" src="data:image/png;base64,{{node.logo}}" width="30px">
            <span *ngIf="!node.locked" class="line-break" [matTooltip]="node.tooltip" [ngClass]="{'opensans-bold': node.font, 'blurTextContainer': node.locked}">{{node.label}}</span>
            <span class="detail-title">
                <span *ngIf="node.locked" class="line-break" [ngClass]="{'opensans-bold': node.font, 'blurTextContainer': node.locked}">{{node.label}}</span>
                <span class="detail-tooltiptext">
                    <span class="popover-span">Your account does not have permission to view this.<br>
                        <button style="margin:0 38px !important;font-family: 'OpenSans-Light';" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
                    </span>
                </span>
            </span>
        </a>
        <ng-template #noLink>
            <span class="detail-title" style="min-width: 90% !important;">
                <!-- <ng-container *ngIf="dataSource && dataSource.data && dataSource.data[0] && dataSource.data[0].label && dataSource.data[0].label !== 'In-Depth:' && dataSource.data[0].label !== 'Product Details:' && dataSource.data[0].label !== 'Use Cases:' && dataSource.data[0].label !== 'Key Data Fields:'">
                    <span class="line-break" [ngClass]="{'blurTextContainer': node.locked}" [innerHTML]="node.label">
                    </span>
                </ng-container>

                <ng-container *ngIf="node.locked && dataSource && dataSource.data && dataSource.data[0] && dataSource.data[0].label && (dataSource.data[0].label === 'In-Depth:' || dataSource.data[0].label === 'Product Details:' || dataSource.data[0].label === 'Use Cases:' || dataSource.data[0].label === 'Key Data Fields:')">
                    <span class="line-break" [ngClass]="{'blurTextContainer': node.locked}" [innerHTML]="node.label">
                    </span>
                </ng-container>
                
                <ng-container *ngIf="node.label !== undefined && !node.locked && editorFieldWidth && dataSource && dataSource.data && dataSource.data[0] && dataSource.data[0].label && (dataSource.data[0].label === 'In-Depth:' || dataSource.data[0].label === 'Product Details:' || dataSource.data[0].label === 'Use Cases:' || dataSource.data[0].label === 'Key Data Fields:')">
                    <span [ngClass]="{'blurTextContainer': node.locked}"><quill-view-html [content]="node.label" theme="snow"></quill-view-html></span>
                </ng-container> -->
                
                <span class="line-break" [ngClass]="{'blurTextContainer': node.locked}" [innerHTML]="node.label"></span>
                
                <span class="detail-tooltiptext" *ngIf="node.locked">
                    <span class="popover-span">Your account does not have permission to view this.<br>
                        <button style="margin:0 38px !important;font-family: 'OpenSans-Light';" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
                    </span>
                </span>
            </span>
        </ng-template>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding class="tree-clear">
        <button *ngIf="node.label && node.label !== ''" mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        <span [matTooltip]="!node.locked? node.tooltip : 'Your account does not have permission to view this.'"><b>{{node.label}}</b></span>
    </mat-tree-node>
</mat-tree>
