<mat-tab-group disableRipple class="mat-elevation-z2" (selectedTabChange)="tabChanges($event)"  [selectedIndex]="resource">
    <ng-container *ngFor="let tab of tabs;">
        <mat-tab label="{{tab.tabLabelName}}" (backgroundColor)="tabBackgroundColor">
            <ng-template mat-tab-label>
                <span [matTooltip]="tab.tabLabelTooltip">{{tab.tabLabelName}}</span><span [matTooltip]="tab.tabLabelRightTooltip">{{tab.tabLabelRight}}</span>
            </ng-template>
            <div class="tab-content-row">
                <ng-container *ngFor="let content of tab.tabContent">
                    <ng-container *ngIf="content.isTreeNodesWithPanel; else withoutPanel">
                        <ng-container *ngIf="content.expansionPanel.panelHeading === 'Provider\'s Views'; else anotherPanel">
                            <mat-accordion>
                                <mat-expansion-panel *ngIf="content.expansionPanel.panelHeading === 'Provider\'s Views'" [disabled]="content.expansionPanel.panelHeading === 'Provider\'s Views' && locked" [ngClass]="{'block-views' : content.expansionPanel.panelHeading === 'Provider\'s Views'&& locked}" [expanded]="content.expansionPanel.panelHeading === 'Provider\'s Views' && locked ? false : true" [ngStyle]="{'clear': 'both','overflow': 'hidden'}">
                                    <mat-expansion-panel-header  *ngIf="content.expansionPanel.panelHeading === 'Provider\'s Views'" [ngClass]="{'block-view-sec' : content.expansionPanel.panelHeading === 'Provider\'s Views' && locked}" [ngClass]="{'block-view-sec' : content.expansionPanel.panelHeading === 'Provider\'s Views' && locked}" (click)="expansionPanel(content.expansionPanel.panelHeading,tab.tabLabelName)">
                                        <p-blockUI [target]="amassviews" [blocked]="content.expansionPanel.panelHeading === 'Provider\'s Views' && locked" *ngIf="content.expansionPanel.panelHeading === 'Provider\'s Views' && locked">
                                            <i class="fa fa-lock fa-3x" style="position:absolute;left:46%;z-index: 1;font-size: 24px;"></i>
                                        </p-blockUI>
                                        <span #amassviews  [matTooltip]="content.expansionPanel.tooltip">
                                            <h6 class="tab-content-title" ><b>{{content.expansionPanel.panelHeading}}</b></h6>
                                        </span>
                                    </mat-expansion-panel-header>
                                    <span *ngFor="let tree of content.treeNodes">
                                        <jhi-generic-treenodes *ngIf="tree && tree[0] && tree[0].children" [treeData]="tree"></jhi-generic-treenodes>
                                    </span>
                                </mat-expansion-panel>
                                </mat-accordion>

                        </ng-container>
                        <ng-template #anotherPanel>
                        <mat-accordion>
                            <mat-expansion-panel *ngIf="content.expansionPanel.panelHeading" [disabled]="content.expansionPanel.panelHeading === 'Amass Views' && locked" [ngClass]="{'block-views' : content.expansionPanel.panelHeading === 'Amass Views' && locked }" [expanded]="content.expansionPanel.panelHeading === 'Amass Views' && locked? false : true" [ngStyle]="{'clear': 'both','overflow': 'hidden'}">
                                <mat-expansion-panel-header  [ngClass]="{'block-view-sec' : content.expansionPanel.panelHeading === 'Amass Views' && locked}" (click)="expansionPanel(content.expansionPanel.panelHeading,tab.tabLabelName)">
                                    <p-blockUI [target]="amassview" [blocked]="content.expansionPanel.panelHeading === 'Amass Views' && locked" *ngIf="content.expansionPanel.panelHeading === 'Amass Views' && locked">
                                        <i class="fa fa-lock fa-3x" style="position:absolute;left:46%;z-index: 1;font-size: 24px;"></i>
                                    </p-blockUI>
                                    <span #amassview [matTooltip]="content.expansionPanel.tooltip">
                                        <h6 class="tab-content-title" ><b>{{content.expansionPanel.panelHeading}}</b></h6>
                                    </span>
                                </mat-expansion-panel-header>
                                <span *ngFor="let tree of content.treeNodes">
                                    <jhi-generic-treenodes *ngIf="tree && tree[0] && tree[0].children" [treeData]="tree"></jhi-generic-treenodes>
                                </span>
                            </mat-expansion-panel>
                        </mat-accordion>
                        </ng-template>
                    </ng-container>
                    <ng-template #withoutPanel>
                        <span *ngFor="let tree of content.treeNodes">
                            <jhi-generic-treenodes *ngIf="tree" [treeData]="tree"></jhi-generic-treenodes>
                        </span>
                    </ng-template>

                    <ng-container *ngIf="content.dataTable">
                        <jhi-generic-profile-datatable [dataSource]="content.dataTable" [editResourcePermission]="accessPermission" [dataResource]="providerId" [dataProviderName]="providerName" [dataRecordId]="providerRecID"></jhi-generic-profile-datatable>
                        <ng-container *ngFor="let cardContent of content.dataTable">
                            <jhi-generic-profile-card [genericProfileCard]="cardContent" [editAccessPermission]="accessPermission" [locked]="locked" [loader]="loader" [loaderValue]="loaderValue"  (onLinkClickEmitter)="onclick($event)"></jhi-generic-profile-card>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="content.plainText">
                        <p>
                            {{content.plainText}}
                        </p>
                    </ng-container>

                    <ng-container *ngIf="content.buttons">
                        <ng-container *ngFor="let button of content.buttons">
                        <jhi-generic-profile-buttons [button]="button" (action)="buttonClick($event)"></jhi-generic-profile-buttons>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <!-- <div class="spinner-sec">
                    <jhi-spinner [show]="loader"></jhi-spinner>
                </div> -->
                <ng-container *ngIf="tab.subTabs">
                    <jhi-generic-profile-subtab [subTabs]="tab.subTabs" (buttonActions)="buttonClick($event)"></jhi-generic-profile-subtab>
                </ng-container>

            </div>
        </mat-tab>
    </ng-container>
</mat-tab-group>
