::ng-deep mat-tab-group.tab-content-list-wrapper .mat-tab-body-wrapper {
    padding: 0px;
}

::ng-deep mat-tab-group.mat-grey-bg .mat-tab-body-wrapper {
    background-color: transparent;
}

::ng-deep mat-tab-group .mat-tab-body-content {
    overflow-x: hidden;
}

::ng-deep mat-tab-group.tab-content-list-wrapper .mat-tab-body-wrapper .mat-tab-body-content {
    background-color: rgb(228, 229, 230) !important;
    padding: 10px !important;
}

::ng-deep mat-tab-group.tab-content-list-wrapper .tab-content-list .media-body .mat-card {
    min-height: 178px;
}

::ng-deep mat-tab-body.mat-tab-body-active {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden !important;
    z-index: 1;
    flex-grow: 1;
}

.tab-content-list .mat-card a.clickable-link {
    color: inherit;
}

.tab-content-list .mat-card a.clickable-link:hover {
    text-decoration: none;
}

.tab-content-list {
    margin-bottom: 10px;
    .row {
        margin-left: auto;
        margin-right: auto;
    }
    .blurText {
        color: transparent !important;
        text-shadow: 0 0 10px rgba(0,0,0,0.5);
        text-shadow: 0px 0px 0px 10px #e7e7e7;
    }
	.media img.media-object {
		margin-right: 10px;
		max-width: 200px;
	}

	.media-body .mat-card {
		padding: 5px 8px;
		min-height: 140px !important;
	}

	.media-body .media-heading {
		font-size: 1em;
		font-weight: bold;
	}

	.media-body .media-heading a {
		color: #333;
		&:hover {
			text-decoration: none;
		}
	}

	.media-body .media-text {
		font-size: 0.8em;
		margin-bottom: 10px;
        .col-md-3:not(:nth-child(4)),
        .col-md-4:not(:nth-child(3)) {
			border-right: 1px solid #ddd;
		}

		.grey-text {
			color: #858585;
		}
    }

    .profile-action {
        display: table;
        table-layout: fixed;
    }

	.profile-action-icon-wrapper {
		width: 25px;
		display: table-cell;
        margin-right: 6px;
        cursor: pointer;
        text-align: center;
	}
	.icon-text {
		font-weight: bold;
		line-height: 20px;
	}
	.unlock-icon,
	.rating-icon,
	.expand-icon {
	    display: inline-block;
	    vertical-align: middle;
	}

	.unlock-icon {
		width: 23px;
	}

	.rating-icon {
		width: 23px;
		height: 21px;
		background: url("../../../content/images/icons/follow.svg") no-repeat center center;
	}

	.expand-icon {
		width: 20px;
	}

	.media-desc {
		color: #858585;
		font-size: 0.9em;
	}
}
.block-view-sec{
    background-color: #89898a !important;
}
.block-views{
    margin-bottom: 10px;
}
