.user-msg-text{
    color: #f52727;
    font-weight: 600;
}
/**
 * Tabs
 */

 ::ng-deep mat-tab-group.mat-tab-group {
    margin-bottom: 15px;
}

::ng-deep mat-tab-group.mat-tab-group .mat-tab-header .mat-tab-label-container {
    background-color: #438afe;
}

::ng-deep mat-tab-group.mat-tab-group .mat-tab-label {
    color: #fff;
    opacity: 1;
    width: 33.33%;
    height: 30px;
    margin: 12px 0;
}

::ng-deep mat-tab-group.mat-tab-group .mat-tab-label:not(:last-child) {
    border-right: 1px solid #ddd;
}

::ng-deep mat-tab-group.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
    background-color: transparent;
}

::ng-deep mat-tab-group.mat-tab-group .mat-tab-body-wrapper {
    background-color: #fff;
    padding: 15px 20px;
}

::ng-deep mat-tab-group.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #c7dcff;
    height: 3px;
}

::ng-deep mat-tab-group.media-list-tab .mat-tab-body-wrapper {
    padding: 0px;
}

::ng-deep mat-tab-group.mat-grey-bg .mat-tab-body-wrapper {
    background-color: transparent;
}

::ng-deep mat-tab-group .mat-tab-body-content {
    overflow-x: hidden;
}

::ng-deep mat-tab-group.media-list-tab .mat-tab-body-wrapper .mat-tab-body-content {
    background-color: rgb(228, 229, 230) !important;
    padding: 10px !important;
}

::ng-deep mat-tab-group.media-list-tab .provider-list .media-body .mat-card {
    min-height: 178px !important;
}

.tab-content-title {
    text-transform: uppercase;
}

.tab-content-row {
    margin-bottom: 25px;
}
.tab-content-row p, p.long-text {
    white-space: pre-line;
    text-indent: 0;
}

ul {
    list-style: none;
}

ul > li {
    padding-left: 1em;
    text-indent: -.7em;
}

ul > li::before {
    content: "• ";
    color: #438afe;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 8px;
}

button.btn-edit {
    min-width: 100px !important;
}


.link{
    color:#007bff !important;
}

.text-color-none {
    color: #292d31;
    text-decoration: none;
}