<div class="page-title">
    <span class="text-uppercase">Get Started with Insights</span>
</div>
<div style="text-align: center;">
    <span class="text-uppercase"><strong>Additional Account Information and Preferences</strong></span>
</div>
<div class="col-sm-12">
    <span>
        In order for us to better serve you, please input more details about you, your firm and your preferences. Don't worry if you're not
        sure about all of this right now, you'll be able to modify your choices here later.
    </span>
</div>
<div class="col-sm-12 user-msg-text">
    <span
        ><strong>NOTICE: </strong>We will not share this information with anyone outside of Amass Insights. The information is strictly used
        for your benefit to better serve you relevant data.
    </span>
</div>
<div class="col-sm-12">
    <!-- <button mat-raised-button color="warn">
        <a onclick="Calendly.initPopupWidget({url: 'https://calendly.com/amassinsights/demo'});return false;"
            >Book an intro or demo of Amass Insights</a
        >
    </button> -->
</div>
<div class="container">
    <jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)"> </jhi-inactivity-timer>
    <section class="section-margin">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content-row">
                    <ng-container>
                        <mat-accordion>
                            <mat-expansion-panel [expanded]="true">
                                <mat-expansion-panel-header>
                                    <b class="tab-content-title" matTooltip="Your basic information."
                                        >Basic Information about You and Your Company</b
                                    >
                                </mat-expansion-panel-header>
                                <form
                                    role="form"
                                    novalidate
                                    id="basicForm"
                                    [formGroup]="basicForm"
                                    (ngSubmit)="
                                        submitProviderEdit(
                                            basicModel,
                                            'Basic Details',
                                            'basicExpansionPanel',
                                            'documentExpansionPanel',
                                            0,
                                            'basicForm'
                                        )
                                    "
                                    class="formlyJSONForm"
                                >
                                    <formly-form [model]="basicModel" [fields]="basicFields" [options]="basicOptions" [form]="basicForm" *ngIf="!basic">
                                    </formly-form>
                                    <button mat-raised-button color="warn">
                                        <a onclick="Calendly.initPopupWidget({url: 'https://calendly.com/amassinsights/demo'});return false;"
                                            >Book an intro or demo of Amass Insights</a
                                        >
                                    </button>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </ng-container>
                    <div >
                        <ng-container *ngIf="!privacy && isProvider">
                            <mat-accordion>
                                <mat-expansion-panel [expanded]="true">
                                    <mat-expansion-panel-header>
                                        <b
                                            class="tab-content-title"
                                            matTooltip="Your preferences on the visibility and security of your data profile."
                                            >Privacy and Security</b
                                        >
                                    </mat-expansion-panel-header>
                                    <form
                                        role="form"
                                        novalidate
                                        id="privacySecurityForm"
                                        [formGroup]="privacySecurityForm"
                                        (ngSubmit)="
                                            submitProviderEdit(
                                                basicModel,
                                                'Privacy and Security',
                                                'privacySecurityPanel',
                                                'basicExpansionPanel',
                                                0,
                                                'privacySecurityForm'
                                            )
                                        "
                                        class="formlyJSONForm"
                                    >
                                        <formly-form
                                            [model]="basicModel"
                                            [fields]="privacySecurityFields"
                                            [options]="privacySecurityOptions"
                                            [form]="privacySecurityForm"
                                        >
                                            <ng-container *ngIf="!mndaTrial">
                                                <div class="form-group row" *ngIf="isProvider">
                                                    <label class="col-sm-2 col-form-label opensans-bold">
                                                        Mutual Non-Disclosure & Trial Agreement:
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <label class="form-description">
                                                            <mat-checkbox
                                                                class="amass-checkbox"
                                                                color="warn"
                                                                [(ngModel)]="basicModel.mndatrial"
                                                                [ngModelOptions]="{ standalone: true }"
                                                            >
                                                                <p>
                                                                    I agree to the
                                                                    <a [routerLink]="['/mndatrial']" routerLinkActive="router-link-active"
                                                                        >MNDA & Trial Agreement</a
                                                                    >
                                                                    , which governs the confidentiality of information exchanged between
                                                                    Amass and I, and enables Amass to trial my data products. Also,
                                                                    depending on my choices of visibilty here, I agree to allow the chosen
                                                                    users of Insights to view my and my organization's information.
                                                                </p>
                                                            </mat-checkbox>
                                                        </label>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </formly-form>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </ng-container>
                    </div>
                    <ng-container *ngIf="isInvestor">
                        <ng-container *ngIf="!investorFields">
                            <mat-accordion>
                                <mat-expansion-panel [expanded]="true">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Preferences for the Data you are Looking to Acquire</b>
                                    </mat-expansion-panel-header>
                                    <form
                                        role="form"
                                        novalidate
                                        id="adminForm"
                                        [formGroup]="adminForm"
                                        (ngSubmit)="
                                            submitProviderEdit(
                                                basicModel,
                                                'Admin',
                                                'adminExpansionPanel',
                                                'descriptionsExpansionPanel',
                                                0,
                                                'adminForm'
                                            )
                                        "
                                        class="formlyJSONForm"
                                    >
                                        <formly-form
                                            [model]="basicModel"
                                            [fields]="adminFields"
                                            [options]="adminOptions"
                                            [form]="adminForm"
                                        >
                                            <!--<button mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin  - Panel - Admin - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>-->
                                        </formly-form>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="isInvestor">
                        <ng-container *ngIf="!assetField">
                            <mat-accordion>
                                <mat-expansion-panel [expanded]="true">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Investment Manager Details</b>
                                    </mat-expansion-panel-header>

                                    <form
                                        role="form"
                                        novalidate
                                        id="descriptionsForm"
                                        [formGroup]="descriptionsForm"
                                        class="formlyJSONForm"
                                    >
                                        <formly-form
                                            [model]="basicModel"
                                            [fields]="descriptionsFields"
                                            [options]="descriptionsOptions"
                                            [form]="descriptionsForm"
                                        >
                                            <!--<button mat-raised-button color="warn" (click)="formSave()">SAVE AND SUBMIT</button>-->
                                        </formly-form>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="isInvestor">
                        <button
                            [disabled]="progressSpinner"
                            mat-raised-button
                            color="warn"
                            (click)="submitProviderEdit(basicModel); formSave()"
                        >
                            SAVE AND SUBMIT
                        </button>
                    </ng-container>
                    <ng-container *ngIf="isProvider">
                        <ng-container *ngIf="!providerDetails">
                            <mat-accordion>
                                <mat-expansion-panel [expanded]="true">
                                    <mat-expansion-panel-header>
                                        <b class="tab-content-title">Data Provider Details</b>
                                    </mat-expansion-panel-header>
                                    <form role="form" novalidate id="providerForm" [formGroup]="providerForm" class="formlyJSONForm">
                                        <formly-form
                                            [model]="basicModel"
                                            [fields]="providerFields"
                                            [options]="providerOptions"
                                            [form]="providerForm"
                                        >
                                            <div class="form-group row" *ngIf="!consent">
                                                <label class="col-sm-2 col-form-label opensans-bold">
                                                    Consent + Confirmation:*
                                                </label>
                                                <div class="col-sm-10">
                                                    <label class="form-description">
                                                        <mat-checkbox
                                                            class="amass-checkbox"
                                                            color="warn"
                                                            [(ngModel)]="basicModel.consent"
                                                            [ngModelOptions]="{ standalone: true }"
                                                        >
                                                            <p>
                                                                I agree to the
                                                                <a [routerLink]="['/terms']" routerLinkActive="router-link-active"
                                                                    >Terms of Service</a
                                                                >
                                                                ,
                                                                <a [routerLink]="['/privacy-policy']" routerLinkActive="router-link-active"
                                                                    >Privacy Policy</a
                                                                >
                                                                , and the
                                                                <a
                                                                    [routerLink]="['/reseller-agreement']"
                                                                    routerLinkActive="router-link-active"
                                                                >
                                                                    Reseller Agreement</a
                                                                >
                                                                (if applicable). I agree that, despite my choice of Visibility above, Amass
                                                                Insights LLC and its affiliates (and certain trusted service providers) will
                                                                have access to the information I share here. Additionally, I agree that
                                                                Amass Insights LLC will have the right to share this information with the
                                                                users or types of users I have chosen here.
                                                            </p>
                                                        </mat-checkbox>
                                                        <span class="alert" *ngIf="!basicModel.consent">
                                                            {{ agreeValidationMessage }}
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </formly-form>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="isProvider && !privacy">
                        <button
                            [disabled]="progressSpinner"
                            mat-raised-button
                            color="warn"
                            (click)="submitProviderEdit(basicModel); formSave()"
                        >
                            SAVE AND SUBMIT
                        </button>
                    </ng-container>
                    <ng-container *ngIf="progressSpinner">
                        <jhi-progress-spinner></jhi-progress-spinner>
                    </ng-container>
                </div>
            </div>
        </div>
    </section>
</div>
