
<div *ngIf="dataFeature">
    <h2><span jhiTranslate="datamarketplaceApp.dataFeature.detail.title">Data Feature</span> {{dataFeature.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="datamarketplaceApp.dataFeature.dataFeature">Data Feature</span></dt>
        <dd>
            <span>{{dataFeature.dataFeature}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataFeature.explanation">Explanation</span></dt>
        <dd>
            <span>{{dataFeature.explanation}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataFeature.createdDate">Created Date</span></dt>
        <dd>
            <span>{{dataFeature.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataFeature.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{dataFeature.updatedDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
