<div>
    <h2>
        <span jhiTranslate="datamarketplaceApp.dataFeature.home.title">Data Features</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)" [pageName]="pageName"></jhi-inactivity-timer>
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'datamarketplaceApp.dataFeature.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dataFeatures">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="explanation"><span jhiTranslate="datamarketplaceApp.dataFeature.explanation">Explanation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="datamarketplaceApp.dataFeature.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updatedDate"><span jhiTranslate="datamarketplaceApp.dataFeature.updatedDate">Updated Date</span> <span class="fa fa-sort"></span></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let dataFeature of dataFeatures ;trackBy: trackId">
                <td><a [routerLink]="['../data-feature', dataFeature.id ]">{{dataFeature.dataFeature}}</a></td>
                <td>{{dataFeature.explanation}}</td>
                <td>{{dataFeature.createdDate | date:'mediumDate'}}</td>
                <td>{{dataFeature.updatedDate | date:'medium'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
