<div>
    <h2>
        <span jhiTranslate="datamarketplaceApp.lookupCode.home.title">Lookup Codes</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'datamarketplaceApp.lookupCode.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="lookupCodes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="description"><span jhiTranslate="datamarketplaceApp.lookupCode.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lookupmodule"><span jhiTranslate="datamarketplaceApp.lookupCode.lookupmodule">Lookupmodule</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lookupcode"><span jhiTranslate="datamarketplaceApp.lookupCode.lookupcode">Lookupcode</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sortorder"><span jhiTranslate="datamarketplaceApp.lookupCode.sortorder">Sortorder</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastupdatedby"><span jhiTranslate="datamarketplaceApp.lookupCode.lastupdatedby">Lastupdatedby</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdon"><span jhiTranslate="datamarketplaceApp.lookupCode.createdon">Createdon</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastupdate"><span jhiTranslate="datamarketplaceApp.lookupCode.lastupdate">Lastupdate</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdby"><span jhiTranslate="datamarketplaceApp.lookupCode.createdby">Createdby</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let lookupCode of lookupCodes ;trackBy: trackId">
                <td><a [routerLink]="['../lookup-code', lookupCode.id ]">{{lookupCode.description}}</a></td>
                <td>{{lookupCode.lookupmodule}}</td>
                <td>{{lookupCode.lookupcode}}</td>
                <td>{{lookupCode.sortorder}}</td>
                <td>{{lookupCode.lastupdatedby}}</td>
                <td>{{lookupCode.createdon | date:'medium'}}</td>
                <td>{{lookupCode.lastupdate | date:'medium'}}</td>
                <td>{{lookupCode.createdby}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
