<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLookupCodeLabel" jhiTranslate="datamarketplaceApp.lookupCode.home.createOrEditLabel">Create or edit a Lookup Code</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!lookupCode.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="lookupCode.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.lookupCode.lookupmodule" for="field_lookupmodule">Lookupmodule</label>
            <input type="text" class="form-control" name="lookupmodule" id="field_lookupmodule"
                [(ngModel)]="lookupCode.lookupmodule" required maxlength="20" />
            <div [hidden]="!(editForm.controls.lookupmodule?.dirty && editForm.controls.lookupmodule?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lookupmodule?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lookupmodule?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.lookupCode.lookupcode" for="field_lookupcode">Lookupcode</label>
            <input type="text" class="form-control" name="lookupcode" id="field_lookupcode"
                [(ngModel)]="lookupCode.lookupcode" maxlength="36" />
            <div [hidden]="!(editForm.controls.lookupcode?.dirty && editForm.controls.lookupcode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lookupcode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 36 }">
                   This field cannot be longer than 36 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.lookupCode.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="lookupCode.description" maxlength="36" />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 36 }">
                   This field cannot be longer than 36 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.lookupCode.sortorder" for="field_sortorder">Sortorder</label>
            <input type="number" class="form-control" name="sortorder" id="field_sortorder"
                [(ngModel)]="lookupCode.sortorder" max="11" />
            <div [hidden]="!(editForm.controls.sortorder?.dirty && editForm.controls.sortorder?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.sortorder?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 11 }">
                    This field cannot be more than 11.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.sortorder?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.lookupCode.lastupdatedby" for="field_lastupdatedby">Lastupdatedby</label>
            <input type="number" class="form-control" name="lastupdatedby" id="field_lastupdatedby"
                [(ngModel)]="lookupCode.lastupdatedby" max="11" />
            <div [hidden]="!(editForm.controls.lastupdatedby?.dirty && editForm.controls.lastupdatedby?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.lastupdatedby?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 11 }">
                    This field cannot be more than 11.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.lastupdatedby?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.lookupCode.createdon" for="field_createdon">Createdon</label>
            <div class="d-flex">
                <input id="field_createdon" type="datetime-local" class="form-control" name="createdon" [(ngModel)]="lookupCode.createdon"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.createdon?.dirty && editForm.controls.createdon?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdon?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.createdon?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.lookupCode.lastupdate" for="field_lastupdate">Lastupdate</label>
            <div class="d-flex">
                <input id="field_lastupdate" type="datetime-local" class="form-control" name="lastupdate" [(ngModel)]="lookupCode.lastupdate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.lookupCode.createdby" for="field_createdby">Createdby</label>
            <input type="number" class="form-control" name="createdby" id="field_createdby"
                [(ngModel)]="lookupCode.createdby" max="11" />
            <div [hidden]="!(editForm.controls.createdby?.dirty && editForm.controls.createdby?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.createdby?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 11 }">
                    This field cannot be more than 11.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.createdby?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
