
<div *ngIf="lookupCode">
    <h2><span jhiTranslate="datamarketplaceApp.lookupCode.detail.title">Lookup Code</span> {{lookupCode.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="datamarketplaceApp.lookupCode.lookupmodule">Lookupmodule</span></dt>
        <dd>
            <span>{{lookupCode.lookupmodule}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.lookupCode.lookupcode">Lookupcode</span></dt>
        <dd>
            <span>{{lookupCode.lookupcode}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.lookupCode.description">Description</span></dt>
        <dd>
            <span>{{lookupCode.description}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.lookupCode.sortorder">Sortorder</span></dt>
        <dd>
            <span>{{lookupCode.sortorder}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.lookupCode.lastupdatedby">Lastupdatedby</span></dt>
        <dd>
            <span>{{lookupCode.lastupdatedby}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.lookupCode.createdon">Createdon</span></dt>
        <dd>
            <span>{{lookupCode.createdon | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.lookupCode.lastupdate">Lastupdate</span></dt>
        <dd>
            <span>{{lookupCode.lastupdate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.lookupCode.createdby">Createdby</span></dt>
        <dd>
            <span>{{lookupCode.createdby}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
