
<div [ngStyle]="{'padding': '14px'}">
    <!-- <button type="button" (click)="closeSignUpDialog()" [ngStyle]="{'float': 'right','padding': '1px 6px','font-weight': 'bold'}"> -->
            <span aria-hidden="true" (click)="clear()" [ngStyle]="{'float': 'right','margin-right': '0px','margin-top':'-11px','font-weight': 'bold','font-size':'24px'}">&times;</span>
    <!-- </button> -->
    <div class="organization-page-title" [ngStyle]="{'margin-left': '15px','margin-right': '30px'}">
        <div class="row no-margin">
            <div class="col-md-3 pull-left">

            </div>
            <div class="col-md-6 text-center">
                <span [ngStyle]="{'padding':' 0 10px'}">Create or Edit User</span>

            </div>
         <!--    <div class="col-md-6 text-center" *ngIf="newOrganization">
                <span [ngStyle]="{'padding':' 0 10px'}">Admin: Edit</span><span>{{basicModel.name}}</span><span> Profile</span>
            </div> -->
           <!--  <div class="col-md-3 pull-right">
                <button [disabled]="progressSpinner" mat-raised-button color="warn" (click)="submitOrganizationAdmin(basicModel,'Overall Details',null,null,0,null,'submit',basicProvider);formSubmit({'label':'Organization Admin - Button - Submit Changes','category':'Organization Admin','event': 'Submitted'})" [ngStyle]="{'margin-left': '-6px'}">Submit Changes</button>

            </div> -->
        </div>
    </div>
    <div class="container">
<!--         <jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)"></jhi-inactivity-timer>
 -->       <section class="section-margin">
           <div class="row">
                <div class="col-md-12">
                    <ngb-alert [type]="alertType" *ngIf="isSaving">{{alertMessage}}</ngb-alert>
                    <mat-dialog-content class="mat-typography">
                        <mat-tab-group disableRipple class="mat-elevation-z2" [(selectedIndex)]="tabIndex">
                            <mat-tab label="Overview" (backgroundColor)="progressBarColor">
                                <ng-template mat-tab-label>
                                    <span
                                        matTooltip="High-level overview of the organization's characteristics.">Overview</span>
                                </ng-template>

                                    <div class="tab-content-row">

                                        <mat-accordion>
                                            <mat-expansion-panel [expanded]="adminExpansionPanel">
                                                <mat-expansion-panel-header>
                                                    <b class="tab-content-title">Basic</b>
                                                </mat-expansion-panel-header>

                                               <form role="form" novalidate id="adminForm" [formGroup]="adminForm" (ngSubmit)="submitProviderEdit(basicModel, 'Basic', 'adminExpansionPanel', '', 2, 'adminForm')" class="formlyJSONForm">
                                                    <formly-form [model]="basicModel" [fields]="adminFields" [options]="adminOptions" [form]="adminForm"></formly-form>
                                                    <button  mat-raised-button color="warn" (click)="formSave({'label':'Organization Admin - Panel - Admin - Button - Save and Continue','category':'Organization Admin','event': 'Saved'})">Save and Continue</button>
                                                   <!--  <ng-container *ngIf="progressSpinner && panelName === 'Admin'">
                                                        <jhi-progress-spinner></jhi-progress-spinner>
                                                    </ng-container> -->
                                                </form>
                                            </mat-expansion-panel>
                                        </mat-accordion>

                                        <mat-accordion>
                                            <mat-expansion-panel [expanded]="adminUserExpansionPanel">
                                                <mat-expansion-panel-header>
                                                    <b class="tab-content-title">Admin</b>
                                                </mat-expansion-panel-header>

                                               <form role="form" novalidate id="adminUserForm" [formGroup]="adminUserForm" (ngSubmit)="submitProviderEdit(basicModel, 'Admin', 'adminExpansionPanel', '', 2, 'adminUserForm')" class="formlyJSONForm">
                                                    <formly-form [model]="basicModel" [fields]="adminUserFields" [options]="adminUserOptions" [form]="adminUserForm"></formly-form>
                                                    <button  mat-raised-button color="warn" (click)="formSave({'label':'Organization Admin - Panel - Admin - Button - Save and Continue','category':'Organization Admin','event': 'Saved'})">Save and Continue</button>
                                                   <!--  <ng-container *ngIf="progressSpinner && panelName === 'Admin'">
                                                        <jhi-progress-spinner></jhi-progress-spinner>
                                                    </ng-container> -->
                                                </form>
                                            </mat-expansion-panel>
                                        </mat-accordion>

                                        <mat-accordion>
                                            <mat-expansion-panel [expanded]="relatedEntitiesPanel">
                                                <mat-expansion-panel-header>
                                                    <b matTooltip="Organization's basic information." class="tab-content-title">Related Entities</b>
                                                </mat-expansion-panel-header>

                                                <form role="form" name="editForm" #editForm="ngForm" novalidate id="relatedProvidersForm" [formGroup]="relatedProvidersForm" (ngSubmit)="submitProviderPartner(basicModel, 'Related Providers', 'relatedProvidersExpansionPanel', 'dataDetailsExpansionPanel', 0, 'relatedProvidersForm')" class="formlyJSONForm">
                                                    <formly-form [model]="basicModel" [fields]="relatedProvidersFields" [options]="relatedProvidersOptions" [form]="relatedProvidersForm">
                                                        <button  mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Related Providers - Button - Save and Continue','category':'Provider Profile Admin','event': 'Saved'})">Save</button>
                                                        <button  mat-raised-button color="warn" (click)="clear()">Cancel</button>
                                                    </formly-form>
                                                  
                                                </form>
                                            </mat-expansion-panel>
                                        </mat-accordion>



                                    </div>

                            </mat-tab>
                        </mat-tab-group>
                    </mat-dialog-content>
                </div>
            </div>
       </section>
    </div>
    </div>
