/* Form */


/* Address */
.contact-address.mat-list .mat-list-item .mat-line:nth-child(n+2),
.contact-address.mat-nav-list .mat-list-item .mat-line:nth-child(n+2),
.contact-address.mat-selection-list .mat-list-item .mat-line:nth-child(n+2) {
    font-size: inherit;
}

.mat-select.ng-valid,
.mat-select.ng-invalid {
    border-width: 0px;
}

::ng-deep .formlyJSONForm .mat-form-field.ng-invalid {
    border-left: 0px;
}

::ng-deep .ng-invalid:not(form) {
    border-left: 0px;
}

::ng-deep .amassInput .mat-select-placeholder {
    font-size: 16px;
    font-family: OpenSans-Italic;
}

::ng-deep .amassInput .mat-select-placeholder,
.amassInput ::-webkit-input-placeholder,
.amassInput :-moz-placeholder,
.amassInput ::-moz-placeholder,
.amassInput :-ms-input-placeholder {
    font-weight: normal !important;
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}

::ng-deep .amassInput .mat-select .mat-select-value {
    max-width: 100%;
}

::ng-deep .amassInput .mat-select .mat-select-value .mat-select-placeholder {
    color: rgb(117, 117, 117);
}

::ng-deep .amassInput .mat-select-invalid .mat-select-trigger .mat-select-placeholder.ng-trigger {
    color: rgba(0,0,0,.54) !important;
}

.section-title.white h2 {
    color: #fff;
}

.section-title .section-title-text {
    font-family: OpenSans-Bold;
    margin-bottom: 35px;
    position: relative;
    padding-bottom: 25px;
    line-height: 35px;
    margin-top: 0;
    text-transform: uppercase;
}

.section-title .section-title-text:before {
    content: '';
    position: absolute;
    width: 90px;
    margin-left: -45px;
    height: 1px;
    left: 50%;
    bottom: 0px;
    background-color: #fe5722;
}

.section-title .section-title-text span {
    color: #82b541;
}

.section-title p {
    margin-top: 25px;
}

.section-title-text.section-title-fullborder:before {
    width: 100% !important;
    left: 0 !important;
    margin-left: 0 !important;
}

button.mat-raised-button {
    min-width: 200px !important;
}

.section-title  .diamond-border {
    background-color: #e4e5e6;
}

.contact-address.mat-list .mat-list-item .mat-list-avatar {
    border-radius: 0%;
    -webkit-border-radius: 0%;
    max-width: 32px;
    max-height: 32px;
}

.contact-address-icon,
.contact-phone-icon,
.contact-email-icon {
    display: block;
    overflow: hidden;
    position: relative;
    height: 32px;
    width: 32px;
}

.contact-address-icon {
    background: url("../../content/images/icons/contact/building.png");
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
}

.contact-phone-icon {
    background: url("../../content/images/icons/contact/phone.png");
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
}

.contact-email-icon {
    background: url("../../content/images/icons/contact/email.png");
    -webkit-background-size: 30px 28px;
    background-size: 30px 28px;
    width: 30px;
    height: 28px;
}
.social-list {
	margin: 0;
}

.list-inline {
    margin-left: 0;
    float: left;
}

/* .list-inline > li {
	padding: 0 8px;
    display: inline-block;
} */
.list-inline > li:last-child {
	padding-right: 0;
}
.list-inline > li:first-child {
	padding-left: 0;
}

.list-inline > li > a {
    color: #7f7f7f;
    text-decoration: none;
    float: left;
}

.list-inline > li > a:hover {
	color: #2caae1;
}
/* .list-inline li span:hover {
	color: #ffffff;
} */
.list-inline > li > a > i {
	font-size: 20px;
}
agm-map {
    height: 185px;
}