<div class="page-title">
    <span class="text-uppercase">Contact Us</span>
</div>
<section class="content-wrapper">
<div class="container">
    <ng-container *ngIf="isAuthenticated()">
        <jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)"></jhi-inactivity-timer>
</ng-container>
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-success" *ngIf="responseMessage">
                Thank you for contacting Amass Insights. We will be in touch with you soon.<br>
                <button type="button" mat-raised-button color="warn" [routerLink]="['/']" style="margin-top: 5px;">Continue</button>
            </div>
            <div class="alert" *ngIf="error">
                <strong>Contact Form submission failed!</strong> Please try again later.
            </div>
            <form role="form" novalidate [formGroup]="form" (ngSubmit)="submit()" class="formlyJSONForm" *ngIf="!responseMessage">
                <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
                    <re-captcha (resolved)="resolved($event)" name="captcha" class="captcha" siteKey="6LdiukcUAAAAALCJGLFdmQu7tI863Q5HAPHuYX-d" #reCaptchaRef=""></re-captcha>
                    <mat-error style="font-size: 85%;height: 15px;">
                        <div>
                            <span *ngIf="validationError">{{validationError}}</span>
                        </div>
                    </mat-error>
                    <button type="submit" mat-raised-button color="warn" style="margin-top: 10px;" (click)="eventSubmit({'label':'Contact Us - Submit', 'category':'Contact Us', 'event':'Form Submitted'})">Submit</button>
                    <button type="button" mat-raised-button [routerLink]="['/']" (click)="cancel({'label':'Contact Us - Cancel', 'category':'Contact Us', 'event':'Form Cancelled'})">Cancel</button>
                </formly-form>
            </form>
            <br />
        </div>
        <!-- <div class="col-md-6">
            <div class="alert alert-success" *ngIf="responseMessage">
                Thank you for contacting Amass Insights. We will be in touch with you soon.<br>
                <button type="button" mat-raised-button color="warn" [routerLink]="['/']" style="margin-top: 5px;">Continue</button>
            </div>
            <div class="alert" *ngIf="error">
                <strong>Contact Form submission failed!</strong> Please try again later.
            </div>
            <div class="alert" *ngIf="validationError">
                {{validationError}}
            </div>
            <form name="contactForm" role="form" (ngSubmit)="contactSubmit(contactForm)" #contactForm="ngForm" *ngIf="!responseMessage">
                <input type="text" class="mat-elevation-z2 amassInput" id="name" name="name" placeholder="Name *" required [(ngModel)]="contactFields.userName" #name="ngModel" matInput>
                <input type="email" class="mat-elevation-z2 amassInput" id="email" name="email" placeholder="Email *" required email pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$" [(ngModel)]="contactFields.userEmail" #email="ngModel">
                <input type="text" class="mat-elevation-z2 amassInput" id="company" name="company" placeholder="Company *" required [(ngModel)]="contactFields.company" #company="ngModel">

                <div class="mat-elevation-z2 amassInput">
                    <mat-select #inquiryType name="requestTopic" placeholder="Inquiry Type" style="width: 91%;" [(value)]="contactFields.requestTopic" [(ngModel)]="contactFields.requestTopic">
                        <mat-option *ngFor="let inquiryType of inquiryTypes" [value]="inquiryType">
                            {{ inquiryType }}
                        </mat-option>
                    </mat-select>
                    <button type="button" mat-icon-button (click)="inquiryType.open()">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
                <textarea class="mat-elevation-z2 amassInput" id="message" name="message" placeholder="Enter your message *" required [(ngModel)]="contactFields.message" #message="ngModel"></textarea>

                <re-captcha (resolved)="resolved($event)" name="captcha" class="captcha" siteKey="6LdiukcUAAAAALCJGLFdmQu7tI863Q5HAPHuYX-d" #reCaptchaRef=""></re-captcha>
                <button type="submit" mat-raised-button color="warn" style="margin-top: 10px;" (click)="eventSubmit({'label':'Contact Us - Submit', 'category':'Contact Us', 'event':'Form Submitted'})">Submit</button>
                <button type="button" mat-raised-button [routerLink]="['/']" (click)="cancel({'label':'Contact Us - Cancel', 'category':'Contact Us', 'event':'Form Cancelled'})">Cancel</button>
            </form>

        </div> -->

        <div class="col-md-6">
            <div class="section-title section-title-icon">
                <h4 class="section-title-text section-title-fullborder">Find Us Here</h4>
                <div class="diamond-border align-right"></div>
            </div>
            <mat-list class="contact-address">
                <mat-list-item>
                    <mat-icon matListAvatar><div matListAvatar class="contact-address-icon"></div></mat-icon>
                    <h4 mat-line> 555 W 23rd St #N5F </h4>
                    <h4 mat-line> New York, NY 10011 </h4>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListAvatar><div class="contact-phone-icon"></div></mat-icon>
                    <h4 mat-line>(646) 770-2791</h4>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListAvatar><div class="contact-email-icon"></div></mat-icon>
                    <h4 mat-line><a href="mailto:info@amassinsights.com" style="color: #000;" (click)="eventMail({'label':'Contact Us - Textbox - Email', 'category':'Contact Us', 'event':'Email'})">info@amassinsights.com</a></h4>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListAvatar><div class="fa fa-linkedin-square" [ngStyle]="{'margin-left': '5px'}"></div></mat-icon>
                    <h4 mat-line><a href="https://www.linkedin.com/company/amass-insights/" style="color: #000;" (click)="footerLink({'label':'Contact Us - LinkedIn','category':'Social Media','event': 'External Link Clicked'})">linkedin.com/company/amass-insights</a></h4>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListAvatar><div class="fa fa-twitter-square" [ngStyle]="{'margin-left': '5px'}"></div></mat-icon>
                    <h4 mat-line><a href="https://www.twitter.com/AmassInsights" style="color: #000;" (click)="footerLink({'label':'Contact Us - Twitter','category':'Social Media','event': 'External Link Clicked'})">@AmassInsights</a></h4>
                </mat-list-item>
            </mat-list>
            <div>
                <agm-map [zoom]="16" [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </div>
        </div>
    </div>
</div>
</section>
