<section class="content-wrapper">
    <div class="container">
        <jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)"></jhi-inactivity-timer>
        <div class="row">
            <div class="col-md-8 justify-content-center">
                <div class="section-title section-title-icon">
                    <h4 class="section-title-text section-title-fullborder" jhiTranslate="password.title">Enter a new Password</h4>
                    <div class="diamond-border diamond-border-greybg align-right"></div>
                </div>

                <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success">
                    {{success}}
                </div>
                <div class="alert" *ngIf="error" jhiTranslate="password.messages.error">
                    <strong>An error has occurred!</strong> The password could not be changed.
                </div>
                <div class="alert" *ngIf="currentPasswordError">
                    <strong>{{currentPasswordError}}</strong>
                </div>

                <!--<div class="alert" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                    The password and its confirmation do not match!
                </div>-->

                <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">
                        <input type="password" class="mat-elevation-z2 amassInput" id="currentPassword" name="currentPassword" #currentPasswordInput="ngModel"
                        placeholder="Current Password*" [(ngModel)]="currentPassword" minlength=4 maxlength=50 required>
                        <div *ngIf="currentPasswordInput.dirty && currentPasswordInput.invalid">
                            <small class="form-text text-danger" *ngIf="currentPasswordInput.errors.required">
                                Your password is required.
                            </small>
                        </div>
                        <input type="password" class="mat-elevation-z2 amassInput" id="password" name="password" #passwordInput="ngModel" placeholder=" New Password*"
                            [(ngModel)]="password" minlength=4 maxlength=50 required>
                            <div class="justify-content-center">
                                <div class="alert" *ngIf="strengthBarValidationMessage">
                                    {{strengthBarValidationMessage}}
                                </div>
                            </div>
                        <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                            <small class="form-text text-danger" *ngIf="passwordInput.errors.required" jhiTranslate="global.messages.validate.newpassword.required">
                                Your password is required.
                            </small>
                            <small class="form-text text-danger" *ngIf="passwordInput.errors.minlength" jhiTranslate="global.messages.validate.newpassword.minlength">
                                Your password is required to be at least 4 characters.
                            </small>
                            <small class="form-text text-danger" *ngIf="passwordInput.errors.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength">
                                Your password cannot be longer than 50 characters.
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="password" (errorMsg)="change($event)"></jhi-password-strength-bar>


                        <input type="password" class="mat-elevation-z2 amassInput" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirm the new password*"
                            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                        <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required" jhiTranslate="global.messages.validate.confirmpassword.required">
                                Your confirmation password is required.
                            </small>
                            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength" jhiTranslate="global.messages.validate.confirmpassword.minlength">
                                Your confirmation password is required to be at least 4 characters.
                            </small>
                            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength" jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                                Your confirmation password cannot be longer than 50 characters.
                            </small>
                        </div>
                        <div class="alert" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                            The password and its confirmation do not match!
                        </div>


                    <button type="submit" mat-raised-button color="warn" [disabled]="passwordForm.form.invalid" (click)="passwordChange({'label':'Change Password - Button - Set Password','category':'Change Password','event': 'Account Changed'})"><span jhiTranslate="password.form.button">Set Password</span></button>
                </form>
            </div>
        </div>
    </div>
</section>
