.section-title.white h2 {
    color: #fff;
}

.section-title .section-title-text {
    font-family: OpenSans-Bold;
    margin-bottom: 35px;
    position: relative;
    padding-bottom: 25px;
    line-height: 35px;
    margin-top: 0;
    text-transform: uppercase;
}

.section-title .section-title-text:before {
    content: '';
    position: absolute;
    width: 90px;
    margin-left: -45px;
    height: 1px;
    left: 50%;
    bottom: 0px;
    background-color: #fe5722;
}

.section-title-text.section-title-fullborder:before {
    width: 100% !important;
    left: 0 !important;
    margin-left: 0 !important;
}
