/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
    &:last {
        margin:0 !important;
    }
}

ul#strengthBar {
    padding-left: 0px;
    margin-bottom: 5px;
}
.strengh-bar{
    width:100%;
}
.strengh-bar-txt{
    width: 27%;
    float: left;
}
.strengh-bar-value{
    width: 73%;
    float: left;
}
@media screen and (max-width: 414px){
    .strengh-bar-txt {
        width: 50%;
        float: left;
    }
    .strengh-bar-value {
        width: 50%;
        float: left;
    }
    .strengh-bar{
        width:100%;
        font-size: 12px;
    }
}
@media screen and (max-width: 320px){
    .strengh-bar-txt {
        width: 43%;
        float: left;
    }
    .strengh-bar-value {
        width: 57%;
        float: left;
    }
    .strengh-bar{
        width:100%;
        font-size: 12px;
    }
}
