<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDataOrganizationLabel" jhiTranslate="datamarketplaceApp.dataOrganization.home.createOrEditLabel">Create or edit a Data Organization</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!dataOrganization.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="dataOrganization.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.recordID" for="field_recordID">Record ID</label>
            <input type="text" class="form-control" name="recordID" id="field_recordID"
                [(ngModel)]="dataOrganization.recordID" maxlength="50" />
            <div [hidden]="!(editForm.controls.recordID?.dirty && editForm.controls.recordID?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.recordID?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="dataOrganization.name" maxlength="100" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.website" for="field_website">Website</label>
            <input type="text" class="form-control" name="website" id="field_website"
                [(ngModel)]="dataOrganization.website" maxlength="256" />
            <div [hidden]="!(editForm.controls.website?.dirty && editForm.controls.website?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.website?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 256 }">
                   This field cannot be longer than 256 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.description" for="field_description">Description</label>
            <textarea class="form-control" name="description" id="field_description"
                [(ngModel)]="dataOrganization.description"  ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                [(ngModel)]="dataOrganization.city" maxlength="50" />
            <div [hidden]="!(editForm.controls.city?.dirty && editForm.controls.city?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.city?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.state" for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                [(ngModel)]="dataOrganization.state" maxlength="50" />
            <div [hidden]="!(editForm.controls.state?.dirty && editForm.controls.state?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.state?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.country" for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                [(ngModel)]="dataOrganization.country" maxlength="50" />
            <div [hidden]="!(editForm.controls.country?.dirty && editForm.controls.country?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.country?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.zipCode" for="field_zipCode">Zip Code</label>
            <input type="text" class="form-control" name="zipCode" id="field_zipCode"
                [(ngModel)]="dataOrganization.zipCode" maxlength="50" />
            <div [hidden]="!(editForm.controls.zipCode?.dirty && editForm.controls.zipCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.zipCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.facebook" for="field_facebook">Facebook</label>
            <input type="text" class="form-control" name="facebook" id="field_facebook"
                [(ngModel)]="dataOrganization.facebook" maxlength="100" />
            <div [hidden]="!(editForm.controls.facebook?.dirty && editForm.controls.facebook?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.facebook?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.github" for="field_github">Github</label>
            <input type="text" class="form-control" name="github" id="field_github"
                [(ngModel)]="dataOrganization.github" maxlength="50" />
            <div [hidden]="!(editForm.controls.github?.dirty && editForm.controls.github?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.github?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.twitter" for="field_twitter">Twitter</label>
            <input type="text" class="form-control" name="twitter" id="field_twitter"
                [(ngModel)]="dataOrganization.twitter" maxlength="64" />
            <div [hidden]="!(editForm.controls.twitter?.dirty && editForm.controls.twitter?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.twitter?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 64 }">
                   This field cannot be longer than 64 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.blog" for="field_blog">Blog</label>
            <input type="text" class="form-control" name="blog" id="field_blog"
                [(ngModel)]="dataOrganization.blog" maxlength="128" />
            <div [hidden]="!(editForm.controls.blog?.dirty && editForm.controls.blog?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.blog?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 128 }">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.blogStatus" for="field_blogStatus">Blog Status</label>
            <input type="text" class="form-control" name="blogStatus" id="field_blogStatus"
                [(ngModel)]="dataOrganization.blogStatus" maxlength="64" />
            <div [hidden]="!(editForm.controls.blogStatus?.dirty && editForm.controls.blogStatus?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.blogStatus?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 64 }">
                   This field cannot be longer than 64 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.yearFounded" for="field_yearFounded">Year Founded</label>
            <input type="number" class="form-control" name="yearFounded" id="field_yearFounded"
                [(ngModel)]="dataOrganization.yearFounded" max="11" />
            <div [hidden]="!(editForm.controls.yearFounded?.dirty && editForm.controls.yearFounded?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.yearFounded?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 11 }">
                    This field cannot be more than 11.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.yearFounded?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.headCount" for="field_ceo">Ceo</label>
            <input type="text" class="form-control" name="headCount" id="field_ceo"
                [(ngModel)]="dataOrganization.headCount" maxlength="64" />
            <div [hidden]="!(editForm.controls.headCount?.dirty && editForm.controls.headCount?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.headCount?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 64 }">
                   This field cannot be longer than 64 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.financialPosition" for="field_financialPosition">Financial Position</label>
            <input type="text" class="form-control" name="financialPosition" id="field_financialPosition"
                [(ngModel)]="dataOrganization.financialPosition" maxlength="128" />
            <div [hidden]="!(editForm.controls.financialPosition?.dirty && editForm.controls.financialPosition?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.financialPosition?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 128 }">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.clientBase" for="field_clientBase">Client Base</label>
            <input type="text" class="form-control" name="clientBase" id="field_clientBase"
                [(ngModel)]="dataOrganization.clientBase" maxlength="50" />
            <div [hidden]="!(editForm.controls.clientBase?.dirty && editForm.controls.clientBase?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.clientBase?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.mnda" for="field_mnda">Mnda</label>
            <input type="checkbox" class="form-control" name="mnda" id="field_mnda"
                [(ngModel)]="dataOrganization.mnda"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.notes" for="field_notes">Notes</label>
            <textarea class="form-control" name="notes" id="field_notes"
                [(ngModel)]="dataOrganization.notes"  ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.inactive" for="field_inactive">Inactive</label>
            <input type="number" class="form-control" name="inactive" id="field_inactive"
                [(ngModel)]="dataOrganization.inactive" max="2" />
            <div [hidden]="!(editForm.controls.inactive?.dirty && editForm.controls.inactive?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.inactive?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 2 }">
                    This field cannot be more than 2.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.inactive?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.live" for="field_live">Live</label>
            <input type="number" class="form-control" name="live" id="field_live"
                [(ngModel)]="dataOrganization.live" max="2" />
            <div [hidden]="!(editForm.controls.live?.dirty && editForm.controls.live?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.live?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 2 }">
                    This field cannot be more than 2.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.live?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.createdDate" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="dataOrganization.createdDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.updateddate" for="field_updateddate">Updateddate</label>
            <div class="d-flex">
                <input id="field_updateddate" type="datetime-local" class="form-control" name="updateddate" [(ngModel)]="dataOrganization.updateddate"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataOrganization.parentOrganization" for="field_parentOrganization">Parent Organization</label>
            <select class="form-control" id="field_parentOrganization" name="parentOrganization" [(ngModel)]="dataOrganization.parentOrganization" >
                <option [ngValue]="null"></option>
                <option [ngValue]="dataOrganizationOption.id === dataOrganization.parentOrganization?.id ? dataOrganization.parentOrganization : dataOrganizationOption" *ngFor="let dataOrganizationOption of dataorganizations; trackBy: trackDataOrganizationById">{{dataOrganizationOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
