<div>
    <h2>
        <span jhiTranslate="datamarketplaceApp.dataOrganization.home.title">Data Organizations</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'datamarketplaceApp.dataOrganization.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dataOrganizations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="name"><span jhiTranslate="datamarketplaceApp.dataOrganization.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="parentOrganization.name"><span jhiTranslate="datamarketplaceApp.dataOrganization.parentOrganization">Parent Organization</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="website"><span jhiTranslate="datamarketplaceApp.dataOrganization.website">Website</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="city"><span jhiTranslate="datamarketplaceApp.dataOrganization.city">City</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="state"><span jhiTranslate="datamarketplaceApp.dataOrganization.state">State</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="country"><span jhiTranslate="datamarketplaceApp.dataOrganization.country">Country</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="zipCode"><span jhiTranslate="datamarketplaceApp.dataOrganization.zipCode">Zip Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="facebook"><span jhiTranslate="datamarketplaceApp.dataOrganization.facebook">Facebook</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="blog"><span jhiTranslate="datamarketplaceApp.dataOrganization.blog">Blog</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="blogStatus"><span jhiTranslate="datamarketplaceApp.dataOrganization.blogStatus">Blog Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="yearFounded"><span jhiTranslate="datamarketplaceApp.dataOrganization.yearFounded">Year Founded</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="headCount"><span jhiTranslate="datamarketplaceApp.dataOrganization.headCount">Ceo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="financialPosition"><span jhiTranslate="datamarketplaceApp.dataOrganization.financialPosition">Financial Position</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clientBase"><span jhiTranslate="datamarketplaceApp.dataOrganization.clientBase">Client Base</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mnda"><span jhiTranslate="datamarketplaceApp.dataOrganization.mnda">Mnda</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="notes"><span jhiTranslate="datamarketplaceApp.dataOrganization.notes">Notes</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="datamarketplaceApp.dataOrganization.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updateddate"><span jhiTranslate="datamarketplaceApp.dataOrganization.updateddate">Updateddate</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let dataOrganization of dataOrganizations ;trackBy: trackId">
                <td><a [routerLink]="['../data-organization', dataOrganization.id ]">{{dataOrganization.name}}</a></td>
                <td>
                    <div *ngIf="dataOrganization.parentOrganization">
                        <a [routerLink]="['../data-organization', dataOrganization.parentOrganization?.id ]" >{{dataOrganization.parentOrganization?.name}}</a>
                    </div>
                </td>
                <td>{{dataOrganization.website}}</td>
                <td>{{dataOrganization.city}}</td>
                <td>{{dataOrganization.state}}</td>
                <td>{{dataOrganization.country}}</td>
                <td>{{dataOrganization.zipCode}}</td>
                <td>{{dataOrganization.facebook}}</td>
                <td>{{dataOrganization.blog}}</td>
                <td>{{dataOrganization.blogStatus}}</td>
                <td>{{dataOrganization.yearFounded}}</td>
                <td>{{dataOrganization.headCount}}</td>
                <td>{{dataOrganization.financialPosition}}</td>
                <td>{{dataOrganization.clientBase}}</td>
                <td>{{dataOrganization.mnda}}</td>
                <td>{{dataOrganization.notes}}</td>
                <td>{{dataOrganization.createdDate | date:'mediumDate'}}</td>
                <td>{{dataOrganization.updateddate | date:'medium'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
