
<div *ngIf="dataOrganization">
    <h2><span jhiTranslate="datamarketplaceApp.dataOrganization.detail.title">Data Organization</span> {{dataOrganization.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="datamarketplaceApp.dataOrganization.name">Name</span></dt>
        <dd>
            <span>{{dataOrganization.name}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataOrganization.website">Website</span></dt>
        <dd>
            <span>{{dataOrganization.website}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataOrganization.description">Description</span></dt>
        <dd>
            <span>{{dataOrganization.description}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataOrganization.city">City</span></dt>
        <dd>
            <span>{{dataOrganization.city}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataOrganization.state">State</span></dt>
        <dd>
            <span>{{dataOrganization.state}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataOrganization.country">Country</span></dt>
        <dd>
            <span>{{dataOrganization.country}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataOrganization.zipCode">Zip Code</span></dt>
        <dd>
            <span>{{dataOrganization.zipCode}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataOrganization.facebook">Facebook</span></dt>
        <dd>
            <span>{{dataOrganization.facebook}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataOrganization.github">Github</span></dt>
        <dd>
            <span>{{dataOrganization.github}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataOrganization.twitter">Twitter</span></dt>
        <dd>
            <span>{{dataOrganization.twitter}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataOrganization.blog">Blog</span></dt>
        <dd>
            <span>{{dataOrganization.blog}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataOrganization.blogStatus">Blog Status</span></dt>
        <dd>
            <span>{{dataOrganization.blogStatus}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataOrganization.yearFounded">Year Founded</span></dt>
        <dd>
            <span>{{dataOrganization.yearFounded}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataOrganization.headCount">Ceo</span></dt>
        <dd>
            <span>{{dataOrganization.headCount}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataOrganization.financialPosition">Financial Position</span></dt>
        <dd>
            <span>{{dataOrganization.financialPosition}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataOrganization.clientBase">Client Base</span></dt>
        <dd>
            <span>{{dataOrganization.clientBase}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataOrganization.mnda">Mnda</span></dt>
        <dd>
            <span>{{dataOrganization.mnda}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataOrganization.notes">Notes</span></dt>
        <dd>
            <span>{{dataOrganization.notes}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataOrganization.createdDate">Created Date</span></dt>
        <dd>
            <span>{{dataOrganization.createdDate | date:'mediumDate'}}</span>
        </dd>
        <div *ngIf="dataOrganization.updateddate"><dt ><span jhiTranslate="datamarketplaceApp.dataOrganization.updateddate">Updateddate</span></dt>
        <dd>
            <span>{{dataOrganization.updateddate | date:'medium'}}</span>
        </dd>
        </div>
        <dt><span jhiTranslate="datamarketplaceApp.dataOrganization.parentOrganization">Parent Organization</span></dt>
        <dd>
            <div *ngIf="dataOrganization.parentOrganization">
                <a [routerLink]="['/data-organization', dataOrganization.parentOrganization?.id]">{{dataOrganization.parentOrganization?.name}}</a>
            </div>
        </dd>
    </dl>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
