<h1 mat-dialog-title>Confirm</h1>
<div mat-dialog-content>{{confirmMessage}}</div>
<div mat-dialog-actions>
    <!-- <div *ngFor="let btn of buttons">
        <button mat-raised-button [color]="btn.color" (click)="dialogRef.close(true)">{{btn.label}}</button>
    </div> -->
    <button mat-raised-button color="warn" *ngIf="button.leave && button.leaveText" (click)="onLeave()">{{button.leaveText}}</button>
    <button mat-raised-button color="warn" *ngIf="button.confirm && button.confirmText" (click)="onSave()">{{button.confirmText}}</button>
    <button mat-raised-button (click)="dialogRef.close('cancel')">Cancel</button>
</div>
