<form name="searchForm" class="searchForm form-inline">
    <div class="input-group w-100 mt-3">
        <ng-container *ngIf="isAuthenticated() && header">
                    <mat-form-field class="searchbar-full-width" [ngStyle]="{'margin-top': '-24px'}">
            <input #inputField type="text" placeholder="Search for Data" aria-label="Provider Names" matInput [formControl]="providerSearchControl" [matAutocomplete]="auto" [(ngModel)]="currentSearchQuery" >
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="blockAutocompleteSearch($event,'header')">
                <mat-option *ngFor="let option of providerNameOptions | async" [value]="option">
<!--                                     <span [innerHTML]="option"></span>
-->                                    <span [innerHTML]="option && option.providerTag ? option.type + ': '+ option.providerTag : option && option.providerName ? option.providerName : option"></span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </ng-container>
    <ng-container *ngIf="isAuthenticated() && !header && entityType!=='investors'">
        <mat-form-field class="searchbar-full-width" [ngStyle]="{'font-size.px': '18'}">
<input #inputField type="text" placeholder="{{ 'datamarketplaceApp.dataProvider.home.search' | translate }}" aria-label="Provider Names" matInput [formControl]="providerSearchControl" [matAutocomplete]="auto" [(ngModel)]="currentSearchQuery">
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="blockAutocompleteSearch($event,'nonheader')">
    <mat-option *ngFor="let option of providerNameOptions | async" [value]="option">
<!--                                     <span [innerHTML]="option"></span>
-->                                    <span [innerHTML]="option && option.providerTag ? option.type + ': '+ option.providerTag : option && option.providerName ? option.providerName : option"></span>
    </mat-option>
</mat-autocomplete>
</mat-form-field>
</ng-container>
<ng-container *ngIf="!isAuthenticated() && !header">
    <mat-form-field class="searchbar-full-width" [ngStyle]="{'font-size.px': '18'}">
<input #inputField type="text" placeholder="{{ 'datamarketplaceApp.dataProvider.home.search' | translate }}" aria-label="Provider Names" matInput [formControl]="providerSearchControl" [matAutocomplete]="auto" [(ngModel)]="currentSearchQuery" >
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="blockAutocompleteSearch($event, 'nonHeader')">
<mat-option *ngFor="let option of providerNameOptions | async" [value]="option">
<!--                                     <span [innerHTML]="option"></span>
-->                                    <span [innerHTML]="option && option.providerTag ? option.type + ': '+ option.providerTag : option.providerName"></span>
</mat-option>
</mat-autocomplete>
</mat-form-field>
</ng-container>
<ng-container *ngIf="!isAuthenticated() && header">
    <mat-form-field class="searchbar-full-width" [ngStyle]="{'margin-top': '-24px'}">
            <input #inputFieldHeader type="text" placeholder="Search for Data" aria-label="Provider Names" matInput [formControl]="providerSearchControl" [matAutocomplete]="auto" [(ngModel)]="currentSearchQuery">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="blockAutocompleteSearch($event, 'header')">
            <mat-option *ngFor="let option of providerNameOptions | async" [value]="option">
                                <span [innerHTML]="option.providerName"></span>
            </mat-option>
            <mat-option *ngFor="let optiona of providerNameOptionsTag" [value]="optiona">
                <span [innerHTML]="optiona"></span>
                </mat-option>
        </mat-autocomplete>
       <!--  <ng-container *ngIf=!dropdownShow>
            <input #inputField type="text" placeholder="Search for Data" aria-label="Provider Names"  [formControl]="providerSearchControl" matInput  [matAutocomplete]="auto" >
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="blockAutocompleteSearch($event, 'header')">
        <mat-option *ngFor="let optiona of providerNameOptionsTag">
            <span [innerHTML]="optiona"></span>
</mat-option>
</mat-autocomplete>
</ng-container> -->
    </mat-form-field>
</ng-container>
<ng-container *ngIf="isAuthenticated() && !header && entityType && entityType === 'investors'">
    <mat-form-field class="searchbar-full-width" [ngStyle]="{'font-size.px': '18'}">
<input #inputField type="text" placeholder="Search by typing any keyword, category, or Investor name" aria-label="Provider Names" matInput [formControl]="providerSearchControl" [matAutocomplete]="auto" [(ngModel)]="currentSearchQuery">
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="blockAutocompleteinvestorSearch($event)">
<mat-option *ngFor="let option of providerNameOptions | async" [value]="option">
                                    <span [innerHTML]="option"></span>
<!--                                     <span [innerHTML]="option && option.providerTag ? option.type + ': '+ option.providerTag : option && option.providerName ? option.providerName : option"></span>
 --></mat-option>
</mat-autocomplete>
</mat-form-field>
</ng-container>
<ng-container *ngIf ="entityType === 'investors'">
        <button class="btn search-btn" (click)="searchInvestorName(currentSearchQuery)" [ngStyle]="{'right': currentSearchQuery ? '40px' : '0px', 'margin-top': header ? '-23px' : '0px'}">
            <span matTooltip="Search" >
            <img src="../../../content/images/search.png" alt="search" width="20px" ></span>
        </button>
    </ng-container>
    <ng-container *ngIf ="entityType !== 'investors'">
        <button class="btn search-btn" (click)="searchName(currentSearchQuery)" [ngStyle]="{'right': currentSearchQuery ? '40px' : '0px', 'margin-top': header ? '-23px' : '0px'}">
            <span matTooltip="Search" >
            <img src="../../../content/images/search.png" alt="search" width="20px" ></span>
        </button>
    </ng-container>
        <button class="btn clear-search-btn" (click)="clearSearch()" *ngIf="currentSearchQuery">
            <span matTooltip="Clear Search" >
            <img src="../../../content/images/delete.png" alt="delete" width="20px" [ngStyle]="{'margin-top': header? '-44px': '0px'}"></span>
        </button>
    </div>
</form>