
<div *ngIf="dataSource">
    <h2><span jhiTranslate="datamarketplaceApp.dataSource.detail.title">Data Source</span> {{dataSource.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="datamarketplaceApp.dataSource.dataSource">Data Source</span></dt>
        <dd>
            <span>{{dataSource.dataSource}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataSource.explanation">Explanation</span></dt>
        <dd>
            <span>{{dataSource.explanation}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataSource.createdDate">Created Date</span></dt>
        <dd>
            <span>{{dataSource.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataSource.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{dataSource.updatedDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
