.transparentNav .jhi-navbar.navbar-default.fixed-top {
    background-color: rgba(64, 136, 255, 0.65) !important;
}

.hide {
    display: none;
}

.userSelect {
    user-select: text !important;
}

  .loader{
    margin-left: 340px;
    margin-top:100px;
    transition-duration: 0s;
    transition-delay: 0s;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    stroke-dasharray: 300px;
    animation-duration: 10s;
    stroke-width: 5%;
    transition: stroke-dashoffset 100ms linear;
}
  .spinner {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 4em;
	height: 4em;
    padding: 7px;
	border-radius: 50%;
    transform: scale(.7);
    position: absolute;
    width:100%;
    top:75px;
    left: 0;
    opacity: 1;
    z-index: 500000;
}

.medium {
  transform: scale(1)
}


.spinner-wrapper {
	position: relative;
	width: 4em;
	height: 4em;
	border-radius: 100%;
	left: calc(50% - 2em);
}

.spinner-wrapper::after {
	content: "";
	background: #888;
	border-radius: 50%;
	width: 3em;
	height: 3em;
	position: absolute;
	top: 0.5em;
	left: 0.5em;
}

.rotator {
	position: relative;
	width: 4em;
	border-radius: 4em;
	overflow: hidden;
	animation: rotate 2000ms infinite linear;
}

.rotator:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #3F51B5;
	border: 3px solid #888;
	border-radius: 100%;
}

.inner-spin {
	background: #888;
	height: 4em;
	width: 2em;
}

.inner-spin {
	animation: rotate-left 2500ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
	border-radius: 2em 0 0 2em;
	transform-origin: 2em 2em;
}

.inner-spin:last-child {
	animation: rotate-right 2500ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
	margin-top: -4em;
	border-radius: 0 2em 2em 0;
	float: right;
	transform-origin: 0 50%;
}

@keyframes rotate-left {
	60%, 75%, 100% {
    	transform: rotate(360deg);
  	}
}

@keyframes rotate {
	0% {
    	transform: rotate(0);
  	}
  	100% {
    	transform: rotate(360deg);
  	}
}

@keyframes rotate-right {
	0%, 25%, 45% {
    	transform: rotate(0);
  	}

  	100% {
    	transform: rotate(360deg);
  	}
}
