<jhi-page-ribbon></jhi-page-ribbon>
<div [ngClass]="{transparentNav: isScrolled}">
    <router-outlet name="navbar"></router-outlet>
</div>
<div>
    <div class="main-content" [ngClass]="{transparentNav: isScrolled, userSelect: isRightClickEnabled}">
    	<jhi-breadcrumb [ngClass]="{'hide': isHome}" (onClick)="onClickLink($event)"></jhi-breadcrumb>
        <router-outlet ></router-outlet>
        <router-outlet name="popup"></router-outlet>
        <router-outlet (activate)="onActivate($event)">
              <div *ngIf="showLoader" class="spinner medium">
                  <div class="spinner-wrapper">
                    <div class="rotator">
                      <div class="inner-spin"></div>
                      <div class="inner-spin"></div>
                    </div>
                  </div>
                </div>
          </router-outlet>
    </div>

    <jhi-footer></jhi-footer>
</div>
