<div class="container" *ngIf="actionPopup != true">
    <div class="row" >
        <div class="col-md-12">
            <mat-card class="card-container">

                <h3>{{title}}</h3>
                <div class="alert alert-success">
                    <span *ngIf="message">
                        {{message}}
                    </span>
                </div>

                <div *ngIf="title == 'Subscription confirmation'" [ngStyle]="{'display': 'flex', 'align-items': 'center', 'justify-content': 'center'}">
                    <button  type="submit" class="text-uppercase mat-button-large signup-btn" (click)="unsubscription({'label':'Email Action - Button - Unsubscribe','category':'Newsletter Unsubscribe','event': 'Popup Link Clicked'})" mat-raised-button color="warn">I changed my mind, unsubscribe me.</button>
                </div>
                <div class="alert" *ngIf="error">
                    Error occurred.
                </div>
            </mat-card>
        </div>
    </div>
</div>
