<div >
    <button type="button" class="close" aria-label="Close" (click)="closeLoginDialog({'label':'Login - Button - X','category':'Login','event':'Exit Popup Link Clicked'})">
        <span aria-hidden="true">&times;</span>
    </button>
    <h2 mat-dialog-title class="text-center"><img src="../../../content/images/logo_small.png" width="100">

    </h2>
    <div>
        <h4 *ngIf="title != 'Subscription confirmation'">{{title}}</h4>
        <h4 *ngIf="title == 'Subscription confirmation'">Email Subscription Confirmed</h4>
    </div>
        <div class="alert alert-success" *ngIf="success">
            <span *ngIf="message">
                {{message}}
            </span>
        </div>
        <div class="alert" *ngIf="error">
            Error occurred.
        </div>
    <div *ngIf="confirmBtn == true" [ngStyle]="{'display': 'flex', 'align-items': 'center', 'justify-content': 'center'}">
        <button  type="submit" class="text-uppercase mat-button-large signup-btn" (click)="confirm()" mat-raised-button color="warn">Confirm</button>
    </div>
</div>
