<button type="button" class="close" aria-label="Close" (click)="closeLoginDialog({'label':'Account Settings Confirmation Popup - Button - Cancel','category':'Newsletter Unsubscribe','event':'Exit Popup Link Clicked'})">
    <span aria-hidden="true">&times;</span>
</button>
<h2 mat-dialog-title class="text-center"><img src="../../content/images/logo_small.png" width="100">
   <div [hidden]="settingValidation">
       <div class="text-uppercase text-center">Unsubscribe</div>
       <div>Please confirm you no longer want to receive any email notifications from Insights by clicking button below.</div>
   </div>
</h2>

<div class="alert" *ngIf="settingValidation" [ngStyle]="{'text-align': 'center'}">
    <strong >Settings saved!</strong>
</div>
<div *ngIf="previousMail !== null">
    <small class="form-text text-info" [ngStyle]="{'text-align': 'center', 'margin-bottom': '1rem'}">
        You changed your email id from {{previousMail}} to {{currentMail}}. Please confirm by clicking the link received in your new email.
    </small>
</div>
<mat-dialog-content *ngIf="settingValidation">
    <button type="submit" (click)="close()" mat-raised-button color="warn" [ngStyle]="{'width': '100%'}">OK</button>
</mat-dialog-content>
<mat-dialog-content *ngIf="!settingValidation">
    <form class="form" role="form" (ngSubmit)="confirm(data)">
        <input [(ngModel)]="data.notify_news_update" name="notification" type="hidden">
        <button type="submit" (click)="confirmUnsubscribe({'label':'Account Settings Confirmation Popup - Button - Confirm', 'category':'Newsletter Unsubscribe', 'event': 'Form Submitted'})" mat-raised-button color="warn"  [ngStyle]="{'margin-bottom': '10px', 'width': '100%'}">Confirm and Unsubscribe</button>
        <button type="submit" (click)="close(); cancel({'label':'Account Settings Confirmation Popup - Button - Cancel', 'category':'Newsletter Unsubscribe', 'event': 'Exit Popup Link Clicked'})" mat-raised-button color="warn" [ngStyle]="{'width': '100%'}">Cancel</button>
    </form>
</mat-dialog-content>
