input {
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  outline: none;
  padding: 6px 16px;
  width: 100%;
  max-width: 375px;
  font-size: 16px;
  line-height: 34px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
}

.mat-button.mat-primary {
  color: #438afe;
}

form.form {
  margin-bottom: 0px;
}

button.close{
  outline: none;
  cursor: pointer;
}

.dialog-bottom-text {
    line-height: 36px;
    font-weight: bold;
}
.login-signup{
    font-weight: bold;
}
.validation-txt-color{
   color: #dc3545 !important;
}
.login-checkbox-left{
    margin-left: 15px;
}
.buttoncheck{
  text-transform: none;
}