<button type="button" class="close" aria-label="Close" (click)="closeForgotPasswordDialog()">
    <span aria-hidden="true">&times;</span>
</button>

<h2 mat-dialog-title class="text-center">
    <img src="../../content/images/logo_small.png" width="100">
    <div class="text-uppercase text-center">Forgot Password</div>
</h2>
<p *ngIf="success !=='OK'">Enter your email address below and we'll send you instructions to generate a new password</p>
<mat-dialog-content>
    <div class="justify-content-center">
        <div class="alert" *ngIf="errorEmailNotExists">
            <!-- <span>Your account has not yet been activated by the Amass admins. Please allow for at least 24 hours to verify your account and then you will be able to reset your password. If you think this is an error, </span><a routerLink="/contact-us"> Contact Us</a> -->
            <span>Email address isn't registered! Please check and try again.</span>
        </div>
        <div class="alert" *ngIf="errorMessage">
            Your account has not yet been activated by the Amass admins. Please allow for at least 24 hours to verify your account. If you think this is an error, <a href='/#/contact-us'>Contact Us</a>
        </div>
    </div>

    <div class="alert" *ngIf="inactiveUser" [innerHTML]="inactiveUser">

    </div>
    <div class="justify-content-center">
        <div class="alert" *ngIf="error" jhiTranslate="reset.request.messages.linkedinaccount">
            {{error}}
        </div>
    </div>
    <div class="justify-content-center">
        <div class="alert" *ngIf="success === 'OK'">
            <p jhiTranslate="reset.request.messages.success">Password reset. Please check your email for details. <br> If you can't find this notification, please check your SPAM folder!</p>
        </div>
    </div>

    <form class="form" role="form" (ngSubmit)="resetPassword()" #resetRequestForm="ngForm" *ngIf="success !=='OK'">
        <input type="email" class="mat-elevation-z2" placeholder="Work Email*" id="forgorPasswordEmail" name="email" [(ngModel)]="resetAccount.email" #emailInput="ngModel" email required pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$" matInput>

        <button type="submit" (click)="passwordReset({'label':'Forgot Password - Button - Reset Password','category':'Forgot Password','event': 'Reset Password'})" [disabled]="resetRequestForm.form.invalid || (emailInput.errors && emailInput.errors.pattern)" mat-raised-button color="warn" style="width: 100%;" class="text-uppercase">Reset Password</button>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-button [mat-dialog-close]="true" (click)="openSigninDialog({'label':'Forgot Password - Link - Login','category':'Login','event': 'Popup Link Clicked'})" color="primary" class="text-uppercase">Return to Login Page</button>
</mat-dialog-actions>
