<button type="button" class="close" aria-label="Close" (click)="closeLoginDialog({'label':'Login - Button - X','category':'Login','event':'Exit Popup Link Clicked'})">
    <span aria-hidden="true">&times;</span>
</button>
<h2 mat-dialog-title class="text-center"><img src="../../content/images/logo_small.png" width="100">
<div class="text-uppercase text-center">Login to Insights</div></h2>
<mat-dialog-content>
<div class="justify-content-center">
    <div class="alert" *ngIf="authenticationError">
        {{authenticationErrorMessage}}
    </div>
    <div class="alert" *ngIf="existingUserAuthentication">
        <span>Your account is already logged in on a different device or browser. Please log out there if you would like to login here. If you think this is an error, <a [routerLink]="['/contact-us']">Contact Us</a></span>
    </div>
    <div class="alert" *ngIf="inactiveUser">
        Your account has not yet been activated by the Amass admins. Please allow for at least 24 hours to verify your account. If you think this is an error, <a href='/#/contact-us' (click)="contactUs({'label':'Login - Link - Contact Us', 'category':'Contact Us', 'event':'Internal Link Clicked'})">Contact Us</a>
    </div>
</div>
<form class="form" role="form" (ngSubmit)="login({'label':'Login - Button - Login','category':'Login','event':'Logged In'})">
    <div class="alert" *ngIf="message">
        {{message}}
    </div>
    <input type="text" class="mat-elevation-z2" placeholder="Work Email" autocomplete="off" id="username" name="username" [(ngModel)]="username" matInput>
    <input type="password" class="mat-elevation-z2" placeholder="Password" autocomplete="off" id="password" name="password" [(ngModel)]="password">

    <!-- <button type="button" mat-button color="primary" (click)="forgotPassword({'label':'Login - Link - Forgot Password','category':'Forgot Password','event':'Popup Link Clicked'})">Forgot Password?</button> -->
    <mat-checkbox class="amass-checkbox login-checkbox-left" color="warn" name="remember-me" id="remember-me" (change)="remember($event)" [(ngModel)]="rememberMe">
        Remember Me?
    </mat-checkbox>
    <br>
    <button type="submit" mat-raised-button color="warn" style="width: 100%;">Login</button>
    <button type="button" mat-button color="primary" (click)="forgotPassword({'label':'Login - Link - Forgot Password','category':'Forgot Password','event':'Popup Link Clicked'})">Forgot Password?</button>
    <div><p class="text-uppercase text-center" [ngStyle]="{'color': '#7f7f7f','margin-top': '2px', 'margin-bottom': '5px'}"><strong>OR</strong></p></div>
</form>

<div>
    <jhi-social dialogType="login" provider="linkedin" [csrf]="csrf"></jhi-social>
</div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  	<span class="dialog-bottom-text">Don't have an account yet? </span><button type="submit" mat-raised-button class="buttoncheck" color="warn" style="width: 50%;" (click)="apply({'label':'Login - Link - Sign Up', 'category':'Sign Up', 'event':'Popup Link Clicked'}) "> Sign Up >> </button>
</mat-dialog-actions>
