<div class="page-title">
    <span class="text-uppercase">About Amass Insights</span>
</div>
<section class="section-big white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title section-title-icon">
                    <h2 class="section-title-text">Our Story</h2>
                    <div class="diamond-border"></div>
                </div>
            </div>
        </div>
        <div class="row padding-top-bottom">
            <div class="col-md-12">
                <p>While working with investment managers and technology companies in several different capacities, we recognized a substantial gap between the new technologies collecting valuable data and investors that could be leveraging this information...</p>

                <p>In this new era of alternative data, acquiring the right data requires countless hours and resources dedicated to sourcing, vetting, cleaning, analysis, & implementation, as well as endless back-and-forth vendor communication. We’ve spent the past several years expediting this workflow by building a platform-based research ecosystem that offers a rapid, differentiated, and unbiased viewpoint into the alternative data space, uncovering a constant stream of unique, alpha-generating insights never-before-seen in the capital markets arena.</p>
            </div>
        </div>
    </div>
</section>
<section class="section-big white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title section-title-icon">
                    <button mat-raised-button color="warn" id="scroll" (click)="scrollTo('our-team'); teamEvent({'label':'About Meet Our Team','category':'About','event': 'Internal Link Clicked'})">Meet Our Team</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-big white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title section-title-icon">
                    <h2 class="section-title-text">Our Mission</h2>
                    <div class="diamond-border"></div>
                </div>
            </div>
        </div>
        <div class="row padding-top-bottom">
            <div class="col-md-12">
                <p>To bring together data providers and investors, increasing transparency and reducing each's time spent understanding the other. Ultimately, we will architect, forensically test, and bring to market the largest portfolio of data, analytics & research products which will become intertwined into the fabric of investment professionals' daily lives.</p>
            </div>
        </div>
    </div>
</section>

<section class="section-big statistics-section">
    <div class="container">
        <jhi-amass-statistics></jhi-amass-statistics>
    </div>
</section>

<section class="section-big">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title section-title-icon">
                    <h2 class="meet-sec-title">Meet Our Team</h2>
                    <div class="diamond-border"></div>
                </div>
            </div>
        </div>
        <div class="row team-sec" id="our-team">
            <div class="col-md-6">
                <mat-card>
                    <img mat-card-image src="../../content/images/jordan.jpg" alt="Photo of Jordan Hauer" height="auto">
                    <a href="https://www.linkedin.com/in/JordanHauer">
                        <button mat-fab class="fab-icon-button" (click)="eventlinkedin({'label':'About - Jordan Hauer Profile -LinkedIn', 'category':'Social Media', 'event':'External Link Clicked'})">
                            <span class="linkedin-icon"></span>
                        </button>
                    </a>
                    <mat-card-content>
                        <h6 class="text-uppercase">Jordan Hauer</h6>
                        <mat-card-subtitle>Co-founder and CEO</mat-card-subtitle>
                        <p>
                            Jordan has spent the past three years consulting for technology companies striving to better monetize their proprietary data to institutional investors. Previously, Jordan worked at Hunter Global Investors (a $1B hedge fund) as their first technologist, adding a quantitative layer to their fundamental strategy and revamping their internal data systems. Before Hunter, Jordan spent three years at NERA Economic Consulting, performing economic analyses in several multi-billion dollar litigation proceedings in Securities, Antitrust, and Intellectual Property. Jordan graduated Cum Laude with his Bachelor of Science in Information Science, Systems, and Technology from Cornell University's College of Engineering in 2008.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-6">
                <mat-card>
                    <img mat-card-image src="../../content/images/mark.jpg" alt="Photo of Mark Donovick" height="auto">
                    <a href="https://www.linkedin.com/in/markkristopherdonovick" >
                        <button mat-fab class="fab-icon-button" (click)="eventlinkedin({'label':'About - Mark Donovick Profile -LinkedIn', 'category':'Social Media', 'event':'External Link Clicked'})">
                            <span class="linkedin-icon"></span>
                        </button>
                    </a>
                    <mat-card-content>
                        <h6 class="text-uppercase">Mark Donovick</h6>
                        <mat-card-subtitle>Co-Founder & Research</mat-card-subtitle>
                        <p>
                            Mark has been involved in the alternative data space for over 4 years. Previously, he spent three years at Nirvana Solutions, a portfolio software company for hedge funds. He started his tenure in Finance through Northeastern University's co-op program working at QS Investors (former Quantitative Strategies Group of Deutsche Bank) and Allianz Global Investors. He graduated with a Double Bachelors Degree in Finance and Econometrics from Northeastern University in 2012.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <!-- <div class="col-md-4">
                <mat-card>
                    <img mat-card-image src="../../content/images/rahul.jpg" alt="Photo Rahul Patil" height="350px">
                    <a href="https://www.linkedin.com/in/rahulapatil/">
                        <button mat-fab class="fab-icon-button" (click)="eventlinkedin({'label':'About - Rahul Patil Profile -LinkedIn', 'category':'Social Media', 'event':'External Link Clicked'})">
                            <span class="linkedin-icon"></span>
                        </button>
                    </a>
                    <mat-card-content>
                        <h6 class="text-uppercase">Rahul Patil</h6>
                        <mat-card-subtitle>CTO</mat-card-subtitle>
                        <p>
                            Rahul has been providing technology solutions, developing, deploying, and evaluating systems aimed at improving quality and efficiency for over fifteen years in various business domains like Insurance CRM, Supply Chain Analytics and Fintech. Before joining Amass Insights he had a brief stint at KPMG, working as Solutions Architect for their Global Organization. Prior to KPMG he worked at FusionOps (now Aera Technologies) for over eight years, ascending the corporate ladder from Software Developer to Senior Director, Cloud Infrastructure and Integration, wearing many hats to help succeed the company on many fronts as well as co-authoring a patent for secure and scalable cloud on-premise data integration.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div> -->
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h5 class="text-uppercase">Interested in Joining Our Team?</h5>
                <button mat-raised-button color="warn" [routerLink]="['/contact-us']" (click)="contactUs({'label':'About - Join Team - Contact Us', 'category':'Contact Us', 'event':'Internal Link Clicked'})">Contact Us</button>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row nomargin">
        <div class="col-md-12 text-center">
            <h2 class="section-title-text">Publications that featured Amass Insights</h2>
        </div>
    </div>
    <div class="row nomargin">
        <div class="col-md-12 row nomargin">
            <div class="col-md-4 image-padding">
                <img class="press-img press-yahoo" (click)="pressPage()" src="../../content/images/yahoo.png" alt="yahoo">
            </div>
            <div class="col-md-4 image-padding">
                <img class="press-img press-times" (click)="pressPage()" src="../../content/images/New_York_Times_logo.png" alt="newyork">
            </div>
            <div class="col-md-4 image-padding">
                <img class="press-img" (click)="pressPage()" src="../../content/images/Bobsguide_logo.png" alt="guide">
            </div>
        </div>
        <div class="col-md-12 row nomargin">
            <div class="col-md-3 image-padding">
                <img class="press-img press-statellite" (click)="pressPage()" src="../../content/images/Via-Satellite-Logo_Black.png" alt="statellite">
            </div>
            <div class="col-md-3 image-padding">
                <img class="press-img" (click)="pressPage()" src="../../content/images/Reuters-Logo.png" alt="reuters">
            </div>
            <div class="col-md-3 image-padding">
                <img class="press-img press-nect" (click)="pressPage()" src="../../content/images/nect.png" alt="nect">
            </div>
            <div class="col-md-3 image-padding">
                <img class="press-img press-nect"  (click)="pressPage()" src="../../content/images/fundfire-logo.png" alt="fundfire">
            </div>
        </div>
        <div class="col-md-12 text-center press-btn">
            <button mat-raised-button color="warn" (click)="pressPage(); amassView({'label':'About - Press - Button', 'category':'Press', 'event':'Internal Link Clicked'})">View Amass Insights in the Press</button>
        </div>
    </div>
</section>
