.margin-top {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-top-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

.padding-top-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.fab-icon-button {
    position: absolute;
    right: 25px;
    top: 425px;
    padding: 4px 20px;
    background-color: #fafafa;
    i {
        color: #fe5800;
    }
}

.linkedin-icon {
    width: 20px;
    height: 22px;
    background-image: url('../../content/images/icons/social_sprite.png');
    background-position: -451px -19px;
    display: inline-block;
    background-size: 255px 66px;
    margin-top: -5px;
}
/* #our-team{
    scroll-behavior: smooth;
    transform: translateY(650);
    -webkit-transition: -webkit-transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out;
    transition-delay: 10ms;
    transition-duration: 120ms;
} */
.team-sec{
    padding: 30px 90px 30px 90px;
}
.meet-sec-title{
    font-family: OpenSans-Bold;
   /*  margin-bottom: 45px; */
    position: relative;
    padding-bottom: 25px;
    line-height: 35px;
    margin-top: 0;
    text-transform: uppercase;
}
.meet-sec-title:before {
    content: '';
    position: absolute;
    width: 90px;
    margin-left: -45px;
    height: 1px;
    left: 50%;
    bottom: 0px;
    background-color: #fe5722;
}
/* press section */
.press-img{
    width: 400px;
}
.press-yahoo{
    padding: 52px 0px;
}
.press-times{
    padding: 70px 0px;
}
.press-statellite{
    padding: 45px 0px;
}
.press-nect{
    padding: 55px 0px;
}
.nomargin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.image-padding {
    padding: 0 115px;
}
.press-btn{
    padding: 10px 0;
}