<div mat-dialog-content>
  <p>Your session will expire soon. If you don't do anything, your edits in this form will be submitted and reviewed by the Amass team. If you'd like to continue editing, press the button below.</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Continue My Session</button>
</div>
