<div class="row">
    <div class="col-md-3" [ngClass]="count === '3' ? 'active-slider' : 'inactive-slider'" (mouseenter)="providerData('provider')" (mouseleave)="providerOut('providerLeft')">
        <a *ngIf="!isAuthenticated; else authenticatedProvider" (click)="signUps();triggerGETracking('Home - Counts - Data Providers')">
            <div class="text-center">
                <span class="statistics-data-providers-icon"></span>
                <p class="text-uppercase" [ngClass]="count === '3' ? 'active-slider' : 'inactive-slider'">Data Providers</p>
                <h3 [ngClass]="count === '3' ? 'active-slider' : 'inactive-slider'">{{providerCount | number}}</h3>
            </div>
        </a>
        <ng-template #authenticatedProvider>
            <div class="text-center">
                <span class="statistics-data-providers-icon"></span>
                <p class="text-uppercase" [ngClass]="count === '3' ? 'active-slider' : 'inactive-slider'">Data Providers</p>
                <h3 [ngClass]="count === '3' ? 'active-slider' : 'inactive-slider'">{{providerCount | number}}</h3>
            </div>
        </ng-template>
    </div>
    <div class="col-md-3">
        <a *ngIf="!isAuthenticated; else authenticatedCategory" (click)="signUp();triggerGETracking('Home - Counts - Data Categories')">
            <div class="text-center">
                <span class="statistics-data-categories-icon"></span>
                <p class="text-uppercase inactive-slider">Data Categories</p>
                <h3 class="inactive-slider">{{categoryCount | number}}</h3>
            </div>
        </a>
        <ng-template #authenticatedCategory>
            <div class="text-center">
                <span class="statistics-data-categories-icon"></span>
                <p class="text-uppercase inactive-slider">Data Categories</p>
                <h3 class="inactive-slider">{{categoryCount | number}}</h3>
            </div>
        </ng-template>
    </div>
    <div class="col-md-3" [ngClass]="count === '1' || count === '0' ? 'active-slider' : 'inactive-slider'" (mouseenter)="eventData('event')" (mouseleave)="eventOut('eventLeft')">
        <a *ngIf="!isAuthenticated; else authenticatedFeature" (click)="events();triggerGETracking('Home - Counts - Events')">
            <div class="text-center">
                <span class="statistics-data-events-icon"></span>
                <p class="text-uppercase" [ngClass]="count === '1' || count === '0' ? 'active-slider' : 'inactive-slider'">Events</p>
                <h3 [ngClass]="count === '1' || count === '0' ? 'active-slider' : 'inactive-slider'">{{eventcount | number}}</h3>
            </div>
        </a>
        <ng-template #authenticatedFeature>
            <div class="text-center">
                <span class="statistics-data-events-icon"></span>
                <p class="text-uppercase" [ngClass]="count === '1' || count === '0' ? 'active-slider' : 'inactive-slider'">Events</p>
                <h3 [ngClass]="count === '1' || count === '0' ? 'active-slider' : 'inactive-slider'">{{eventcount | number}}</h3>
            </div>
        </ng-template>
    </div>
    <div class="col-md-3" [ngClass]=" count === '2' ? 'active-slider' : 'inactive-slider'" (mouseenter)="articleData('article')" (mouseleave)="articleOut('articleLeft')">
        <a *ngIf="!isAuthenticated; else authenticatedArticle" (click)="article();triggerGETracking('Home - Counts - News Articles')">
            <div class="text-center">
                <span class="statistics-data-articles-icon"></span>
                <p class="text-uppercase" [ngClass]=" count === '2' ? 'active-slider' : 'inactive-slider'">Articles</p>
                <h3 [ngClass]=" count === '2' ? 'active-slider' : 'inactive-slider'">{{articleCount | number}}</h3>
            </div>
        </a>
        <ng-template #authenticatedArticle>
            <div class="text-center">
                <span class="statistics-data-articles-icon"></span>
                <p class="text-uppercase" [ngClass]=" count === '2' ? 'active-slider' : 'inactive-slider'">Articles</p>
                <h3 [ngClass]=" count === '2' ? 'active-slider' : 'inactive-slider'">{{articleCount | number}}</h3>
            </div>
        </ng-template>
    </div>
</div>
