.statistics-data-providers-icon {
    background: url("../../../content/images/icons/counts/data_providers_white.png");
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    display: block;
    position: relative;
    height: 32px;
    width: 32px;
    margin: 0 auto 5px;
}

.statistics-data-categories-icon {
    background: url("../../../content/images/icons/counts/data_categories_white.png");
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    display: block;
    position: relative;
    height: 32px;
    width: 32px;
    margin: 0 auto 5px;
}

.statistics-data-events-icon {
    background: url("../../../content/images/icons/counts/Event_Logo_Grey.png");
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    display: block;
    position: relative;
    height: 32px;
    width: 32px;
    margin: 0 auto 5px;
}

.statistics-data-articles-icon {
    background: url("../../../content/images/icons/counts/articles_white_logo.png");
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    display: block;
    position: relative;
    height: 32px;
    width: 32px;
    margin: 0 auto 5px;
}
.active-slider{
    background-color: #fff;
    color: #438afe;
}
.inactive-slider {
    background-color: #438afe;
    color: #fff;
}
