
<div *ngIf="clientRole">
    <h2><span jhiTranslate="datamarketplaceApp.clientRole.detail.title">Client Role</span> {{clientRole.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="datamarketplaceApp.clientRole.investorType">Investor Type</span></dt>
        <dd>
            <span>{{clientRole.investorType}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.clientRole.assets">Assets</span></dt>
        <dd>
            <span>{{clientRole.assets}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.clientRole.assetClasses">Asset Classes</span></dt>
        <dd>
            <span>{{clientRole.assetClasses}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.clientRole.equities">Equities</span></dt>
        <dd>
            <span>{{clientRole.equities}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.clientRole.description">Description</span></dt>
        <dd>
            <span>{{clientRole.description}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.clientRole.paid">Paid</span></dt>
        <dd>
            <span>{{clientRole.paid}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.clientRole.approvalStatus">Approval Status</span></dt>
        <dd>
            <span>{{clientRole.approvalStatus}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.clientRole.subscriptionType">Subscription Type</span></dt>
        <dd>
            <span>{{clientRole.subscriptionType}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client-role/'+ clientRole.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
