<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClientRoleLabel" jhiTranslate="datamarketplaceApp.clientRole.home.createOrEditLabel">Create or edit a Client Role</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!clientRole.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="clientRole.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.clientRole.investorType" for="field_investorType">Investor Type</label>
            <input type="number" class="form-control" name="investorType" id="field_investorType"
                [(ngModel)]="clientRole.investorType" required max="11" />
            <div [hidden]="!(editForm.controls.investorType?.dirty && editForm.controls.investorType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.investorType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.investorType?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 11 }">
                    This field cannot be more than 11.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.investorType?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.clientRole.assets" for="field_assets">Assets</label>
            <input type="number" class="form-control" name="assets" id="field_assets"
                [(ngModel)]="clientRole.assets" required max="11" />
            <div [hidden]="!(editForm.controls.assets?.dirty && editForm.controls.assets?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.assets?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.assets?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 11 }">
                    This field cannot be more than 11.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.assets?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.clientRole.assetClasses" for="field_assetClasses">Asset Classes</label>
            <input type="text" class="form-control" name="assetClasses" id="field_assetClasses"
                [(ngModel)]="clientRole.assetClasses" required maxlength="36" />
            <div [hidden]="!(editForm.controls.assetClasses?.dirty && editForm.controls.assetClasses?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.assetClasses?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.assetClasses?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 36 }">
                   This field cannot be longer than 36 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.clientRole.equities" for="field_equities">Equities</label>
            <input type="text" class="form-control" name="equities" id="field_equities"
                [(ngModel)]="clientRole.equities" required maxlength="36" />
            <div [hidden]="!(editForm.controls.equities?.dirty && editForm.controls.equities?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.equities?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.equities?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 36 }">
                   This field cannot be longer than 36 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.clientRole.description" for="field_description">Description</label>
            <textarea class="form-control" name="description" id="field_description"
                [(ngModel)]="clientRole.description" required ></textarea>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.clientRole.paid" for="field_paid">Paid</label>
            <input type="text" class="form-control" name="paid" id="field_paid"
                [(ngModel)]="clientRole.paid" required maxlength="20" />
            <div [hidden]="!(editForm.controls.paid?.dirty && editForm.controls.paid?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.paid?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.paid?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.clientRole.approvalStatus" for="field_approvalStatus">Approval Status</label>
            <input type="number" class="form-control" name="approvalStatus" id="field_approvalStatus"
                [(ngModel)]="clientRole.approvalStatus" required max="11" />
            <div [hidden]="!(editForm.controls.approvalStatus?.dirty && editForm.controls.approvalStatus?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.approvalStatus?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.approvalStatus?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 11 }">
                    This field cannot be more than 11.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.approvalStatus?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.clientRole.subscriptionType" for="field_subscriptionType">Subscription Type</label>
            <input type="number" class="form-control" name="subscriptionType" id="field_subscriptionType"
                [(ngModel)]="clientRole.subscriptionType" required max="11" />
            <div [hidden]="!(editForm.controls.subscriptionType?.dirty && editForm.controls.subscriptionType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.subscriptionType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.subscriptionType?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 11 }">
                    This field cannot be more than 11.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.subscriptionType?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
