<div>
    <h2>
        <span jhiTranslate="datamarketplaceApp.clientRole.home.title">Client Roles</span>
        <button class="btn btn-primary float-right jh-create-entity create-client-role" [routerLink]="['/', { outlets: { popup: ['client-role-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="datamarketplaceApp.clientRole.home.createLabel">
            Create new Client Role
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'datamarketplaceApp.clientRole.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clientRoles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="investorType"><span jhiTranslate="datamarketplaceApp.clientRole.investorType">Investor Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="assets"><span jhiTranslate="datamarketplaceApp.clientRole.assets">Assets</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="assetClasses"><span jhiTranslate="datamarketplaceApp.clientRole.assetClasses">Asset Classes</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="equities"><span jhiTranslate="datamarketplaceApp.clientRole.equities">Equities</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="datamarketplaceApp.clientRole.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paid"><span jhiTranslate="datamarketplaceApp.clientRole.paid">Paid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="approvalStatus"><span jhiTranslate="datamarketplaceApp.clientRole.approvalStatus">Approval Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="subscriptionType"><span jhiTranslate="datamarketplaceApp.clientRole.subscriptionType">Subscription Type</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let clientRole of clientRoles ;trackBy: trackId">
                <td><a [routerLink]="['../client-role', clientRole.id ]">{{clientRole.id}}</a></td>
                <td>{{clientRole.investorType}}</td>
                <td>{{clientRole.assets}}</td>
                <td>{{clientRole.assetClasses}}</td>
                <td>{{clientRole.equities}}</td>
                <td>{{clientRole.description}}</td>
                <td>{{clientRole.paid}}</td>
                <td>{{clientRole.approvalStatus}}</td>
                <td>{{clientRole.subscriptionType}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../client-role', clientRole.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-role/'+ clientRole.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client-role/'+ clientRole.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
