<div (window:resize)="onResize($event)">
    <div class="page-title">
        <span class="text-uppercase">Asset Managers & Data Consumers</span>
    </div>
    <jhi-alert></jhi-alert>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--   <form name="searchForm" class="searchForm form-inline">
                       <div class="input-group w-100 mt-3">
                           <mat-form-field class="searchbar-full-width" [ngStyle]="{'font-size.px': '18'}">
                               <input #inputField type="text" placeholder="{{ 'datamarketplaceApp.dataProvider.home.search' | translate }}" aria-label="Provider Names" matInput [formControl]="providerSearchControl" [matAutocomplete]="auto" [(ngModel)]="currentSearchQuery" >
                               <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onKeydown({'keyword': currentSearchQuery});blockAutocomplete($event)">
                                   <mat-option *ngFor="let option of providerNameOptions | async" [value]="option">
                                      <span [innerHTML]="option && option.providerTag ? option.type + ': '+ option.providerTag : option"></span>
                                   </mat-option>
                               </mat-autocomplete>
                           </mat-form-field>
                           <button class="btn search-btn"  [ngStyle]="{right: currentSearchQuery ? '40px' : '0px'}">
                               <span matTooltip="Search" >
                               <img src="../../../content/images/search.png" alt="search" width="20px"></span>
                           </button>
                           <button class="btn clear-search-btn" (click)="clear();searchClear({'label':'Providers List - Search - Clear Button','category':'Providers','event': 'Search Cleared'})" *ngIf="currentSearchQuery">
                               <span matTooltip="Clear Search" >
                               <img src="../../../content/images/delete.png" alt="delete" width="20px"></span>
                           </button>
                       </div>
                   </form>  -->
                <jhi-generic-search
                    [currentSearchQuery]="currentSearchQuery"
                    entityType="investors"
                    (searchCommon)="searchCommon($event)"
                    (clear)="clear()"
                ></jhi-generic-search>
            </div>
        </div>
        <jhi-sortbar
            [sortCategory]="sortCategory"
            [sortingArray]="sortingArray"
            [totalItems]="totalItems"
            [totalItemsTooltip]="totalItemsTooltip"
            [sortByTooltip]="sortByTooltip"
            entityType="investors"
            (sortBy)="sortBy($event)"
        ></jhi-sortbar>
        <section class="section-margin">
            <div class="row">
                <div class="col-md-3">
                   <!--  <div>
                        <button mat-raised-button class="clear-filters-button" *ngIf="corona" (click)="onClearFilter()">
                            Clear All Filters <i class="fa fa-times clear-icon" aria-hidden="true"></i>
                        </button>
                    </div> -->
                    <jhi-generic-filter
                        [filterCheckBox]="filterCheckBox"
                        [filterList]="filters"
                        (onFilterChanges)="onFilterChanges($event)"
                        (onFilterCheck)="onFilterCheck($event)"
                    ></jhi-generic-filter>
                </div>
                <div
                    class="col-md-9"
                    infinite-scroll
                    (scrolled)="loadPage(page + 1)"
                    [infiniteScrollDisabled]="page >= links['last'] || loaderInfinite"
                >
                    <!--  <ng-container *ngIf="isAuthenticated()">
                           <jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)" [pageName]="pageName"></jhi-inactivity-timer>
                       </ng-container> -->
                    <div class="spinner-sec">
                        <jhi-spinner [show]="loader"></jhi-spinner>
                    </div>
                    <div [ngSwitch]="isList">
                        <span *ngSwitchCase="true">
                            <div *ngFor="let investor of investors; let index = index" class="provider-list">
                                <div *ngIf="investor.name !== 'RECORD_NULL' && investor.name !== 'PROVIDER_NULL'" class="media">
                                    <div id="profileCard" class="media-body">
                                        <mat-card [ngStyle]="{ 'min-height': '80px' }">
                                            <div class="row col-md-12 noPadding">
                                                <div class="row col-md-12 noPadding">
                                                    <div class="col-md-12 noPadding media-text">
                                                        <div class="col-md-12 noPadding">
                                                            <h4 class="media-heading">
                                                                <div class="row col-md-12 noPadding">
                                                                    <div class="col-md-9 noPadding">
                                                                        <a  target="_self" class="provider-title">{{investor.name}}
                                                                        </a>
                                                                        <span class="provider-title">
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </h4>
                                                        </div>
                                                        <div class="row col-md-12 noPadding">
                                                        <div class="col-md-12 noPadding">
                                                            <div id="cardContent" class="row col-md-12">
                                                                <div class="row col-md-12" *ngIf="(investor.primaryType && investor.primaryType.lookupcode) || (investor.headQuartersLocation) || (investor.mainResearchStyle && investor.mainResearchStyle.lookupcode) || (investor.totalAumRange && investor.totalAumRange.lookupcode)">
                                                                    <p class="media-desc" [matTooltip]="'A short Explanation of this asset Manager'" style="margin-top: 10px;">
                                                                        <a class="clickable-link" target="_self"
                                                                            >{{ investor.name }}   {{investor.primaryType && investor.primaryType.lookupcode ? 'is a ' + investor.primaryType.lookupcode+' fund': (investor.primarySubtype && investor.primarySubtype.lookupcode ? 'is a '+ investor.primarySubtype.lookupcode +' fund' :(investor.headQuartersLocation ? 'is':'')) }} 
                                                                            {{ investor.headQuartersLocation ? ' located in' :''}}  
                                                                            {{ investor.headQuartersLocation }} {{investor.mainResearchStyle && investor.mainResearchStyle.lookupcode ? 'that mainly focuses on ' :'' }}{{investor.mainResearchStyle && investor.mainResearchStyle.lookupcode ? investor.mainResearchStyle.lookupcode + ' research' :'' }}  {{(investor.primaryType && investor.primaryType.lookupcode || investor.headQuartersLocation || investor.mainResearchStyle && investor.mainResearchStyle.lookupcode) && (investor.totalAumRange && investor.totalAumRange.lookupcode) ? 'and' :''}}{{investor.totalAumRange && investor.totalAumRange.lookupcode ? ' manages around $'+ investor.totalAumRange.lookupcode +' Million of assets (AUM)' :''}} </a
                                                                        >
                                                                    </p> 
                                                                </div>
                                                                <div class="row col-md-12">
                                                                    <div class="col-md-4 ">
                                                                        <span class="media-desc"[matTooltip]="'Date the data provider was discovered and added'" *ngIf="investor.createdDate != null"><a class="clickable-link" style="font-size: 10.5px;" target="_self">Added: {{investor.createdDate | date : 'mediumDate'}}</a></span>
                                                                        <br>
                                                                        </div>
                                                                    <div class="col-md-4" style="margin-top: 0px">
                                                                        <span class="media-desc" [matTooltip]="'Date the data provider\'s profile was last updated'" *ngIf="investor.lastUpdatedDate != null"
                                                                            ><a
                                                                                class="clickable-link"
                                                                                style="font-size: 10.5px;"
                                                                                target="_self"
                                                                                >Updated:
                                                                                {{ investor.lastUpdatedDate | date: 'mediumDate' }}</a
                                                                            ></span
                                                                        >
                                                                    </div>
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                    <div *ngIf="limitedProviders" class="justify-content-center">
                        <div class="alert" [ngStyle]="{ 'font-weight': 'bolder' }">
                            {{ limitedProviders }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
