<div class="page-title">
    <span class="text-uppercase">Reseller Agreement</span>
</div>

<section class="content-wrapper page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><strong>Last Updated: January 5, 2021</strong> </p>
                <div style="text-align: center;">
                <span class="text-uppercase"><strong>MASTER CONTENT DISTRIBUTION (RESELLER) AGREEMENT</strong></span>
                </div>
                <p></p>
                <p>
                    THIS MASTER CONTENT DISTRIBUTION AGREEMENT (the <strong>“Agreement”</strong>) is entered into by and between Amass Insights LLC a Delaware company with an address at 555 W 23rd St, #N5F, New York, NY 10011 (<strong>“Company”</strong>,<strong> “we”</strong>, or<strong> “us”</strong>), and You (“you”, “your”) (each party including its respective affiliates, subsidiaries, successors and/or assigns, a <strong>“Party”</strong> and collectively,  the  <strong>“Parties”</strong>).  To  the  extent  you  access  the  Website,  Content  or  Interactive  Services  as  an  agent  of  any  legal entity or on behalf of an organization or entity (<strong>“User’s Organization”</strong>), you represent and warrant that you have the legal and corporate power and authority to agree to this Agreement on behalf of the relevant organization or entity and bind them to this Agreement (in which case, the references to “you” and “your” in this Agreement, expect for in this sentence, refer to the User’s Organization).</p>
                <p>
                    All capitalized terms used herein without definition shall have the same meaning in this Agreement as set forth in the <a [routerLink]="['/terms']"> Terms of Use </a> or <a [routerLink]="['/privacy-policy']">Privacy Policy</a> or <a [routerLink]="['/mndatrial']"> MNDA & Trial Agreement</a>, as applicable.  In the event of a conflict between the terms of this Agreement and the Terms of Use or Privacy Policy, or MNDA & Trial Agreement, the terms of this Agreement shall control.</p>

                <p>This Website is offered and available to users who are 18 years of age or older and reside in the United States or any of its territories or possessions. By using this Website, you represent and warrant that you are of legal age to form a binding contract with the Company and meet all of the foregoing eligibility requirements. If you do not meet all of these requirements, you must not access or use the Website.</p>

                <p ><strong>By clicking to accept or agree to the Reseller Agreement when this option is made available to you, you accept and agree to be bound and abide by this Agreement, found at <a [routerLink]="['/reseller-agreement']"> www.amassinsights.com/reseller-agreement </a>. </strong></p>
                <p >In consideration of the premises and the mutual conditions and covenants contained herein, the Parties agree as follows:</p>

                <ol type="1">
                <h6><li>DEFINITIONS AND CONSTRUCTION</li></h6>
                <p>The word ‘including’ shall be deemed to mean ‘including but not limited to’ unless expressly set forth to the contrary.  The words “herein”, “hereof” and “hereunder” and other words of similar import refer to the Agreement as a whole, including the Attachments and Appendices hereto, as the same may be amended or supplemented and not to any subdivision contained in this Agreement.   References herein to a Section, subsection, clause, Attachment or Appendix shall refer to the appropriate Section, subsection, clause, Attachment or Appendix in or to the Agreement.   Neutral pronouns and any variations thereof shall be deemed to include the feminine and masculine and all terms used in the singular shall be deemed to include the plural, and vice versa, as the context may require.  References herein to “dollars” and “$” are to United States Dollars.  Where any provision in this Agreement refers to an action to be taken by a Party, or which such Party is prohibited from taking, such provision shall be applicable whether the action in question is taken directly or indirectly by such Party. Capitalized terms shall have the meanings ascribed to them below. Other capitalized terms may be defined in the body of the Agreement.</p>
                <p><strong>“Agreement”</strong> shall have the meaning set forth in the preamble.</p>
               <p><strong>“Change Notification”</strong> means the written notification by you to Company of Content Services Enhancements or Delivery System  Upgrades.    Such  Change  Notification  will  include  the  effective  date  of  the  change,  description  of  the  change, anticipated  impact,  period  for  implementation  of  such  change  by  Company  and  recommended  actions,  if  any.   For  the avoidance of doubt, no Change Notification is required for Content Updates.</p>
               <p><strong>“Clients”</strong>  means  entities  that  enter  into  agreements  with  Company  to  access  and  use  the  Content  Services  or  Derivative Products.</p>
               <p><strong>“Company”</strong> shall have the meaning set forth in the preamble.</p>
               <p><strong>“Company Modification”</strong> shall have the meaning set forth in Section 10.</p>
               <p><strong>“Content  Services”</strong> means  your  editorial  content,  business  data,  financial  data,  other  data  and  information,  compilation, selection and arrangement of such content and data, navigational aids and software within computer readable files, copies of documents, and databases compiled from that data.</p>
               <p><strong>“Content Services Enhancement”</strong> means any change, addition or enhancement to a Content Service which may be required or optional.</p>
               <p><strong>“Content Update”</strong> means ongoing updates of the Content in the ordinary course of business for the purpose of maintaining the Content current.</p>
               <p><strong>“Delivery  System”</strong> means  the  delivery  system  used  by  you  to  transmit  the  applicable  Content  Services  to  Company.  The Delivery  System  could  be  through  direct  access  to  your  cloud-hosted  database,  through  an  API  offering  equivalent information, or, if mutually preferable, through your web-based product, or another mutually agreeable method</p>
               <p><strong>“Delivery  System  Upgrade”</strong>  means  any  change,  upgrade,  or  enhancement  to  the  features  and  functionality  of  a  Delivery System which may be required or optional.</p>
               <p><strong>“Derivative Products”</strong> means any information, data or content created by Company or its affiliates, service providers, contractors, or third party providers that is derived from or based on the underlying Content Services.</p>
               <p><strong>“Derivative Documentation”</strong> means any documentation created by Company that is derived from or based on the underlying Content Services or Documentation.</p>
               <p><strong>“Distribution  Channels”</strong> means  Company’s  secure  website,  SFTP,  APIs,  direct  contact  (email,  paper,  verbal),  or  other equivalent secure electronic distribution channels, through which Company is authorized to allow Clients access to and use of the Content Services and Derivative Products.</p>
               <p><strong>“Distribution  Territory”</strong> means  approved  distribution  territories,  through  which  Company  is  authorized  to  allow  Clients access to and use of the Content Services. Unless otherwise noted, the Distribution Territory is worldwide.</p>
               <p><strong>“Documentation”</strong> means the Content Services and Delivery System specifications and any other documentation pertaining thereto that are provided by you to Company under this Agreement.</p>
               <p><strong>“Intellectual  Property  Rights”</strong> means  rights  in  and  to  patents,  trademarks,  service  marks,  trade  and  service  names, copyrights,  database  rights  and  design  rights  (whether  or  not  any  of  them  are  registered  and  including  applications  for registration  of  any  of  them),  know-how,  moral  rights,  trade  secrets,  confidential  and  proprietary  information,  all  rights  or forms of protection of a similar nature or having similar or equivalent effect to any of them which may subsist anywhere in the world now existing or hereafter arising.</p>
               <p><strong>“Losses”</strong> shall have the meaning set forth in Section 12(a).</p>
              <p><strong>“Net Sales”</strong> shall have the meaning set forth in Section 9(b).</p>
              <p><strong>“Party” or “Parties”</strong> shall have the meaning set forth in the preamble.</p>
              <p><strong>“Revenue Share”</strong> shall have the meaning set forth in Section 9(a).</p>
              <p><strong>“Term”</strong> shall have the meaning set forth in Section 14(a).</p>
              <p><strong>“User’s Organization”</strong> shall have the meaning set forth in the preamble.</p>
              <p><strong>“You” or “your”</strong> shall have the meaning set forth in the preamble.</p>
              <p><strong>“Your Trademarks”</strong> means your trademarks, service marks and logos.</p>
              <h6><li>LIMITED LICENSES</li></h6>
              <ol type="a">
              <p><li><u>Distribution</u>. You  hereby  grant  Company  a  limited,  non-exclusive,  worldwide  right  and  license  during  the  Term  to  sell, sublicense,  reproduce,  prepare,  distribute,  display,  and  perform  the  Content  Services  and  Derivative  Products  to  Clients, through Distribution Channels.Further,in orderto enable access to and to fit the Content Services and Derivative Products to the  format  and  look  &  feel  of  the  Distribution  Channels,  Company  may  store,  process,  reproduce,  adapt  and  reformat  the Content Services.</li></p>
              <p><li><u>Documentation</u>. You  hereby  grant  Company  a  limited,  non-exclusive  right  and  license,  during  the  Term  to  use  the Documentation  in  order  to  enable  Company  to  distribute  the  Content  Services  or  Derivative  Products  to  Clients  and prospective Clients pursuant to this Agreement. Company may make reasonable number of copies of the Documentation and reproduce  and  reformat  the  Documentation  and  display  electronically,  only  as  necessary  for  the  foregoing  purpose.   Any copies that Company makes are and shall be exclusively owned by you or your providers.</li></p>
               <p><li><u>Distribution Channels</u>. Company shall not market, display or otherwise provide the Content Services via any means other than the Distribution Channels in the Distribution Territory.</li></p>
               <p><li><u>Distribution Format</u>. Company shall distribute the Content Services in an electronic format through its Distribution Channels.</li></p>
               <p><li><u>Exclusions</u>: At  any  time  before  the  one-month  anniversary  of  the  start  of  the  Term,  you  may  provide  Company  a  list  of companies  with  which  you  have  a  current  or  prior  direct  relationship.  Companies  in  this  list  will  not  be  considered  a prospective Client and Company will refrain from marketing the Content Services to excluded companies unless otherwise agreed to in writing by you.</li></p>
               <p><li><u>Third Party Access</u>. Company may from time to time permit access to and use of the Content Services or Derivative Products by its affiliates, service providers, contractors, sales representatives, that maintain, develop, sell, or create the Content Services, Distribution Channels and Derivative Products, but solely for the benefit of and to effectuate the rights granted to Company hereunder.</li></p>
               <p><li><u>Reservation of Rights</u>. All rights not granted to Company herein are expressly reserved by you.</li></p>
            </ol>
               <h6><li>MARKETING</li></h6>
               <ol type="a">
                  <p><li><u>No Promises</u>. Company shall not make any promises or representations or give any warranties, guarantees or indemnities on behalf of you or in respect of the Content Services, except for those expressly authorized by you in writing and in advance.</li></p>
                 <p><li><u>Press Releases</u>. Each  Party  will  submit  to  the  other  Party,  for  its  prior  written  approval,  any  press  release  or  other  public statement regarding the transactions contemplated hereunder, which consent shall not be unreasonably withheld or delayed.</li> </p>
                 </ol>
                 <h6><li>DELIVERY OF CONTENT SERVICES</li></h6>
                 <ol type="a">
                 <p><li><u>Delivery and Format</u>. You will deliver the Content Services to Company or make it available for retrieval by Company via the Delivery System.</li></p>
                <p><li><u>Storage</u>.  Company  may,  at  its  option,  store  the  Content  Services  at  its  data  center,  solely  for  the  purpose  of  subsequent electronic distribution to Clients and the creation of Derivative Products.</li></p>
                <p><li><u>Security</u>. Company shall maintain adequate security precautions, consistent with then current standards in the industry, to prevent unauthorized access to or distribution of the Content Services or Derivative Products by or through the Distribution Channels.</li></p>
            </ol>
                <h6 ><li>SUPPORT</li></h6>
                <p>If Company experiences problems with the delivery or format of the Content Services or the Delivery System that negatively impact its ability to provide Content Services or Derivative Products to Clients, Company shall notify you. You will respond within a commercially reasonable time frame, so that Company’s ability to provide the Content Services or Derivative Products to clients is uninterrupted, or in the case of a more substantial issue, you will advise Company as to the length of the interruption. You will put forward commercially reasonable efforts to cure any issues in a timely fashion.</p>
                <h6 ><li>UPDATES, ENHANCEMENTS AND CHANGES</li></h6>
               <ol type="a">
                <p><li><u>Change Management</u>. You will use commercially reasonable efforts to provide Content Updates, Delivery System Upgrades and Content Services Enhancements. As you are developing Content Updates, Delivery System Upgrades, and Content Service Enhancements, you shall give Company the option to utilize each of these improvements in order to better service its clients. You  shall  also  keep  Company  informed  of  upcoming  Content  Updates,  Delivery  System  Upgrades,  and  Content  Service Enhancements. In the event this does not apply, Company shall follow your reasonable change management instructions.</li></p>
                <p><li><u>Take Down</u>. You,  in  reasonable  judgment,  may  determine  that  it  is  necessary  to  cease  to  provide  to  Company  or  require Company to delete, remove, correct, substitute or otherwise modify particular Content Service that has already been loaded into Company’s systems due to threat or initiation of legal action, violation of third party’s rights, compelled by contract, law or regulation, or a material error in the Content Services.  In any such event, you shall promptly give Company written notice of  such  request,  which  notice  shall  include  any  unique  identifier  of  the  Content  Service  in  question.   Company  shall  use commercially  reasonable  efforts  to  comply  with  such  request  promptly  upon  receipt  of  such  notice.  Notwithstanding  the foregoing  sentence,  if  you  take  down  any  Content  Services  pursuant  to  this  paragraph,  you  shall  pass  through  or  repay  to Company a pro-rata portion of any pre-paid payments, if any, for such Content Services and shall adjust any future payments pro-rata to reflect the take down of the relevant Content Services.</li></p>
                <p><li><u>Notification of Changes by Company</u>. f Company becomes aware of any necessary corrections to the Content Services, it shall contact your helpdesk or other relevant contacts so that you can rectify the situation.</li></p>
            </ol>
             <h6><li>PROPRIETARY RIGHTS</li></h6>
             <ol type="a">
                <p><li><u>Your  Ownership</u>. All  right,  title  and  interest,  including  all  Intellectual  Property  Rights  in  the  Content  Services,  Delivery System,  Documentation  and  Your  Trademarks,  in  any  form  or  medium,  whether  now  known  or  hereafter  devised,  are  and shall  remain  the  sole  and  exclusive  property  of  you  or  your  providers,  and  Company  is  not  by  reason  of  this  Agreement acquiring any rights therein, other than as expressly provided in this Agreement.</li></p>
                <p><li><u>Company  Ownership</u>. All  right,  title  and  interest,  including  all  Intellectual  Property  Rights  in  the  Distribution  Channels, Derivative Products, and Derivative Documentation, in any form or medium, whether now known or hereafter devised, are and shall remain the sole and exclusive property of Company or its providers, and you do not by reason of this Agreement acquire any rights therein, other than as expressly provided in this Agreement.</li></p>
                <p><li><u>No Reverse Engineering</u>. Except as expressly provided in Section 1, Company shall not create derivatives from the Content Services.  Company  shall  not  reverse  engineer,  disassemble,  decompile,  decipher,  or  otherwise  seek  to  duplicate  the performance characteristics of the Content Services, Delivery System, or any component thereof.</li></p>
                <p><li><u>Trademarks</u>.  You grant Company a non-exclusive, non-transferable, non-sublicensable, worldwide right and license, during the  Term  to  display  Your  Trademarks  in  connection  with  the  Content  Services  or  Derivative  Products  and  on  Company’s marketing and promotional materials. All uses of Your Trademarks shall inure solely to the benefit of you.   Company shall acquire  no  right,  title  or  interest  in  Your  Trademarks,  or  any  goodwill  associated  therewith.   All  rights  and  title  in  Your Trademarks are and shall be exclusively owned by you, and any rights not expressly granted therein and thereto are reserved to you. In the event you notify Company of any deficient usage of Your Trademarks, Company shall use all commercially reasonable efforts to correct such usage.</li></p>
                <p><li><u>Infringement</u>. You shall have the right, but not the obligation, to prosecute and conduct all proceedings or actions involving your Intellectual Property Rights and to take any actions that you may deem proper or necessary for the protection of your Intellectual Property Rights. Upon your request, Company shall cooperate fully with you in connection with any such actions.</li></p>
                <p><li><u>Injunctive Relief</u>.  Losses caused by a violation or threatened violation of this Section 7 may not be adequately compensated by money damages alone.  Accordingly, either Party shall be entitled to seek an injunctive relief in the event of a violation or threatened violation of this Section 7 as well as to money damages and such other appropriate relief in law or in equity.</li></p>
            </ol>
                <h6><li>ARRANGEMENTS WITH CLIENTS</li></h6>
                <ol type="a">
                <p><li><u>Client Agreement</u>.   Company will enter into written agreements with Clients for the provision of the Content Services and Derivative Products.</li></p>
                <p><li><u>Pricing, Invoicing and Billing</u>. Company will set the prices of the Content Services it licenses to Clients in consultation with you and will have sole responsibility for communicating pricing to prospective Clients.   Company shall be responsible for invoicing and billing of Clients for the usage of the Content Services and Derivative Products.</li></p>
            </ol>
                <h6><li>PAYMENTS AND REPORTING</li></h6>
                <ol type="a">
                <p><li><u>Payments</u>.  Company  shall  pay  to  you  seventy  percent  (70%)  of  Net  Sales  of  Content  Services  or  Derivative  Products (<strong>“Revenue Share”</strong>) on a monthly basis within thirty (30) days after receiving the payment from the Client. Company shall wire or otherwise pay amounts due to you through a mutually agreeable method.</li></p>
                <p><li><u>Calculation of Net Sales</u>. Net Sales shall be calculated based on the amount of revenue received by Company from Clients for the usage of the Content Services or Derivative Products in each calendar month excluding the items set forth below (<strong>“Net Sales”</strong>). Net Sales shall not include: (i) fees applicable to any additional Company service or product that is not the subject of this Agreement, (ii) any and all applicable fees billed to the Client or directly to Company by any other third party provider in connection with the Content Services or Derivative Products, and (iii) taxes, based on the products and services provided to Clients.</li></p>
                <p><li><u>Reporting</u>. Company shall supply a usage report within thirty (30) days after the end of each calendar quarter. Report shall include an accurate record of the number of active clients for Content Services and Derivative Products, the total value and length of their subscription, and the type of Content Service or Derivative Product they are subscribed to.</li></p>
            </ol>
                <h6><li>REPRESENTATIONS AND WARRANTIES</li></h6>
                <ol type="a">
                <p><li><u>Mutual</u>. Each Party represents, warrants, and covenants as to itself that: (i) it has the authority to enter into and perform the duties and obligations described in this Agreement; (ii) the performance of the obligations hereunder does not conflict with any other agreement either signed or contemplated; and (iii) it will comply with all laws and regulatory requirements which may be applicable to its obligations hereunder.</li></p>
                <p><li><u>By You</u>. You represent, warrant and covenant that: (i) you have taken all corporate action necessary for the authorization, execution,  and  delivery  of  this  Agreement;  (ii)  you  have  obtained  and  shall  maintain  all  the  rights,  approvals,  licenses, certifications, accreditations, and consents necessary to perform your obligations under this Agreement and deliver the Content Services to Company in the format and manner and for the use set forth hereunder; (iii) the Content Services, in the format and manner delivered to Company, do not infringe Intellectual Property Rights; (iv) where the Content Services include third party information and/or sources, all necessary permissions and licenses have been obtained by you; (v) the Content Services are not intended to provide, and do not provide, tax, legal, insurance, or investment advice; (vi) nothing in the Content Services should be construed as an offer to sell, a solicitation of an offer to buy, or a recommendation for any security by you or any third party; (vii) the Content Services do not constitute a recommendation that any particular security, portfolio of securities, transaction, or investment strategy is suitable for any specific person; (viii) the Content Services do not and will not include any material, non-public information; (ix) the Content Services do no and will not include information or materials, in any form, that alone, or in combination with other information or materials, uniquely identifies, directly or indirectly, an individual (e.g., a name, an identification number such as a social security number, address or other location data, telephone number, information  concerning  accounts,  financial  standing,  investment  holdings  and  other  financial  data  and  information,  assets, etc.) or is considered "sensitive personal data", such as political opinions, ethnicity, religious beliefs or information related to the  physical  or  mental  health  of  an  individual,  protected  health  information  or  information  relating  to  an  individual  or individuals which is otherwise protected under applicable law (<strong>“Personal Information”</strong>); (viii) each disclosure of the Content Services by you hereunder will be in full compliance with all applicable laws and regulations, including the Gramm-Leach-Bliley  Act  of  1999  and  its  implementing  regulations  and  guidelines,  and  the  European  Union’s  General  Data  Protection Regulation (GDPR); (ix) you have all rights required to permit Company to use the Content Services described herein without infringing any copyright, patent, trade secret or other proprietary right of any third party; (x) there are no approvals from any governmental agency or authority which are required for the execution, delivery, and performance by you of this agreement and the transactions contemplated hereby; (xii) to your knowledge, there is no material violation, conflict or infringement by any person or entity of any right of yours with respect to the Content Services; (xiii) there is no claim, suit, action or proceeding pending or, to your knowledge, threatened against you alleging any violation, conflict or infringement with any intellectual property or other proprietary right owned by any other person or entity challenging your ownership or use of, or the validity or enforceability of, the Content Services; and (xiv) to the best of your knowledge, the Content Services described herein do not contain any disabling devices or viruses that are intended to damage any system or data or could prevent Company from using Company’s system or data, and the Content Services described herein will be free of defects which materially affect their performance; and you shall use commercially reasonable efforts to scan, identify and remove any viruses uploaded to or placed  in  the  Content  Services  or  incorporated  into  them.  For  the  avoidance  of  doubt,  you  shall  be  solely  responsible  for compliance  with  all  applicable  laws,  rules,  regulations  and  administrative  orders  relating  to  privacy  and  data  protection, including, but without limitation, the European Union’s General Data Protection Regulation (GDPR). In no event shall you disclose or otherwise provide any Personal Information to Company or Clients or provide any information to Company or Clients which would allow Company or Clients to identify any underlying individual to which the Service relates. You shall notify Company immediately after discovering any possible breach of these covenants.</li></p>
               <p><li><u>By Company</u>. Company represents, warrants, and covenants that: (i) Company has all legal rights and permissions necessary to perform its obligations under this Agreement; (ii) the transmission and distribution (other than in the format and manner delivered  by  you),  of  the  Content  Services  or  any  other  changes  to  the  Content  Services,  including  Derivative  Products (collectively “Company Modification”), will not infringe upon, or otherwise violate any Intellectual Property Rights; (iii) Company shall comply with all local, state, national, and international laws, rules, and regulations applicable to Company’s use  of  the  Content  Services;  and  (iv)  Company  will  not  use  the  Content  Services  for  illegal,  fraudulent,  unethical,  or inappropriate purposes.</li></p>
               <p><li><u>Disclaimers</u>.  EXCEPT  FOR  THE  EXPRESS  REPRESENTATIONS  AND  WARRANTIES  HEREUNDER,  NEITHER PARTY  NOR  ANY  OF  ITS  REPRESENTATIVES  MAKES  ANY  REPRESENTATIONS  OR  WARRANTIES  AND SPECIFICALLY DISCLAIMS ANY AND ALL WARRANTIES AND REPRESENTATIONS, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE OR USE (WHETHER  OR  NOT  THE  PURPOSE  OR  USE  HAS  BEEN  DISCLOSED),  AS  TO  THE  CONTENT  SERVICES,  THE DOCUMENTATION, THE DELIVERY SYSTEM, DERIVATIVE PRODUCTS OR ANY COMPONENTS THEREOF OR THE RESULTS OBTAINED BY THEIR USE OR AS TO THE PERFORMANCE THEREOF.</li></p>
            </ol>
               <h6><li>LIMITS ON LIABILITY.</li></h6>
               <ol type="a">
               <p><li><u>Direct Damages</u>.   NEITHER PARTY SHALL BE LIABLE TO EACH OTHER OR TO ANY OTHER ENTITY OR PERSON FOR   INDIRECT,   SPECIAL,   INCIDENTAL,   EXEMPLARY,   PUNITIVE   OR   CONSEQUENTIAL   DAMAGES, INCLUDING  BUT  NOT  LIMITED  TO  LOSS  OF  PROFITS,  LOST  TIME  OR  GOOD  WILL,  EVEN  IF  IT  HAS  BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, WHETHER IN CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE.</li></p>
               <p><li><u>Cap</u>.  EXCEPT FOR CLAIMS ARISING UNDER OR RELATED TO A PARTY’S INDEMNIFICATION OBLIGATIONS, GROSS  NEGLIGENCE,  WILLFUL  MISCONDUCT,  OR  DEATH  OR  BODILY  INJURY,  IN  NO  EVENT  SHALL  THE MAXIMUM  CUMULATIVE  LIABILITY  OF  COMPANY  FOR  ANY  AND  ALL  CLAIMS  ARISING  UNDER  OR RELATED TO THIS AGREEMENT, REGARDLESS OF THE FORM OF ACTION, EXCEED, IN THE AGGREGATE, THE TOTAL AMOUNT PAID BY COMPANY TO YOU FOR THE RELEVANT CONTENT SERVICES THAT GAVE RISE TO SUCH CLAIM DURING THE PRECEDING TWELVE- (12-) MONTH PERIOD.</li></p>
            </ol>
               <h6><li>INDEMNIFICATION</li></h6>
               <ol type="a">
               <p><li><u>By Company</u>.  Company shall, at its sole cost and expense, indemnify, defend and hold harmless you, your affiliates and your respective officers, directors, employees, consultants, agents and third party providers from and against all losses, liabilities, costs, damages and expenses, including but not limited to reasonable legal fees and expenses (collectively "Losses"), incurred or suffered as a result of any third party claims (including informal claims), actions or demands of infringement or violation of Intellectual Property Rights brought against any of your indemnitees arising out of or in connection with (i) unauthorized use  of  the  Content  Services,  the  Documentation,  the  Delivery  System  or  Your  Trademarks  under  the  Agreement;  or  (ii) Company’s Modifications.</li></p>
               <p><li><u>By You</u>. You shall, at your sole cost and expense, indemnify, defend and hold harmless Company, its affiliates and its and their respective officers, directors, employees, consultants and agents from and against all Losses, incurred or suffered as a result of any third party claims (including informal claims), actions or demands of infringement or violation of Intellectual Property Rights brought against any Company indemnitee arising out of or in connection with the permitted use by Company of the Content Service, the Documentation, the Delivery System and Your Trademarks.</li> </p>
               <p><li><u>Additional  Actions  by  You</u>. Without  limiting  your  indemnification  obligations,  if  the  Content  Services,  Delivery  System, Documentation or Your Trademarks are enjoined for any reason or if you believe they may be enjoined, you shall have the right,  at  your  own  expense  to  take  action  to:  (A)  procure  for  Company  the  right  to  continue  using  the  Content  Services, Delivery System, Documentation or Your Trademarks or any parts thereof, (B) modify the Content Services, Delivery System, Documentation or Your Trademarks as applicable, or any parts thereof or re-direct the manner in which they are used such that they become non-infringing, (C) replace the Content Services, Delivery System, Documentation or Your Trademarks or any parts thereof, as applicable with non-infringing materials; or if none of the foregoing is commercially reasonable, terminate the Agreement and refund on a pro-rata basis of the payments paid by Company for the period such services were not available or usable.</li></p>
               <p><li><u>Process</u>.   The  indemnified  Party  shall  provide  the  indemnifying  Party  with  prompt  written  notice  and  copies  of  relevant documentation regarding any claim or action for which indemnification may be sought.  Failure by the indemnified Party to give such notice to the indemnifying Party shall not relieve the indemnifying Party of its indemnification obligation under this Agreement except to the extent that such failure materially disadvantages the indemnifying Party. If the indemnifying Party fails to appoint an attorney within ten (10) business days after it has been notified in writing of any such claim or action, the indemnified Party will have the right to select and appoint an attorney and the reasonable cost and expense thereof will be paid by the indemnifying Party. The indemnifying Party shall control the defense of any such claim, provided however that it shall not settle, compromise or consent to the entry of any judgment, unless such settlement, compromise or consent includes an unconditional release of the relevant indemnitees from all liability arising out of such claim or action, and is solely monetary in nature and does not include a statement as to, or an admission of fault, culpability or failure to act by or on behalf of, the relevant indemnitees or otherwise adversely affect any of them. The indemnified Party shall reasonably cooperate with the indemnifying Party in the defense thereof at the indemnifying Party’s expense.</li></p>
            </ol>
               <h6><li>NO LIMITATIONS</li></h6>
               <ol type="a">
            <p><li><u>Business  Opportunities</u>. Each  Party  acknowledges  that  either  Party  may,  from  time  to  time,  evaluate  investments  in,  offer services to, purchase and sell securities and loans issued by, and enter into other transactions with, companies that may be competitors,  suppliers  or  clients  of  other  Party.  Nothing  herein  limits  either  Party’s  ability  to  conduct  such  activities  and determine, in its sole discretion, the direction of its business and any products or services it may purchase or offer. The Parties further acknowledge that either Party may be engaged in the research, development, production, marketing, licensing and/or sale of similar services or products to those being considered under this Agreement, which may be competitive with those of the  other  and  may  display  the  same  or  similar  functionality  or  direction.  Nothing  in  this  Agreement  shall  be  construed  to prevent a Party from engaging independently in such activities, provided it does not use the Confidential Information of the other in order to do so.</li></p>
               <p><li><u>No Restriction on Trading</u>. Nothing herein is intended to limit or prohibit Company or any Clients from trading any financial product, including specifically those regulated by the SEC or CFTC.</li></p>
            </ol>
               <h6><li>TERM AND TERMINATION</li></h6>
               <ol type="a">
               <p><li><u>Agreement Term</u>. This Agreement commences on the date you affirmatively agree to accept it through Company’s website and shall continue in effect for a period of three (3) years (<strong>“Term”</strong>).  Notwithstanding the foregoing, a Party may terminate the Agreement earlier, in accordance with the terms of this Section 14.</li></p>
               <p><li><u>Termination for Material Breach</u>. In the case of material breach of any of the terms of this Agreement by a Party, the non-defaulting Party may terminate this Agreement within thirty (30) prior written notice and option to cure to the defaulting Party. The  Parties  acknowledge  that  in  the  event  of  a  material  breach  or  threatened  or  anticipated  breach  of  this  Agreement  by  a Party  or  its  Representatives,  the  non-breaching  Party  may  be  irreparably  and  immediately  harmed  and  could  not  be  made whole by monetary damages. Therefore, in such event, without prejudice to any rights and remedies otherwise available, the non-breaching Party shall be entitled to seek equitable relief by way of injunction, specific performance or otherwise. Each party, to the extent permitted by law, knowingly, voluntarily, and intentionally waives its right to a trial by jury in any action or other legal proceeding arising out of or relating to this Agreement.</li></p>
               <p><li><u>Immediate  Termination  by  Either  Party</u>. Either  Party  may  terminate  this  Agreement  immediately  for  (i)  violation  of confidentiality obligations or infringement of Intellectual Property Rights, or (ii) if the other Party (A) shall generally not pay its debts as such debts become due, or (B) shall admit in writing its inability to pay its debts generally, or (C) shall make a general assignment for the benefit of creditors or (D) any proceeding shall be instituted by or against such Party seeking to adjudicate it as bankrupt or insolvent, or seeking liquidation, winding up, reorganization, arrangement, adjustment, protection, relief, or composition of it or its debts under any law relating to bankruptcy, insolvency or reorganization or relief of debtors, or seeking the entry of an order for relief or the appointment of a receiver, trustee, or other similar official for it or for any substantial part of its property, and in the case of any proceeding instituted against such Party, such proceeding shall not be stayed or dismissed within sixty (60) days from the date of institution thereof, or (E) if such Party shall take any corporate action to authorize any of the actions set forth above in this Section 14(c).</li></p>
              <p><li><u>Effect of Termination</u>.  Upon termination of this Agreement, Company shall, unless otherwise instructed by you: (i) promptly terminate all access to the Content Services and cease distributing any portion thereof; (ii) upon written request by you, remove from its storage platform and any and all systems, all versions and copies of the Content Services and Documentation except to  the  extent  Company  is  required  to  retain  such  information  to  comply  with  regulatory  record  keeping  requirements;  (iii) cease advertising and promoting the availability of the Content Services and Derivative Products; (iv) discontinue any and all use of Your Trademarks, except for reasonable quantities of general purpose materials (i.e. catalogs and brochures) which are in use at that time and may be used until same are replaced or reprinted, but not for longer than six (6) months; and (v) upon written request by you, return or instead elect to destroy all Confidential Information, including all copies thereof and notes and other materials incorporating such Confidential Information, whether in tangible or electronic form.</li></p>
            </ol>
              <h6><li>FORCE MAJEURE</li></h6>
              <p>Any delays in or failure of performance by you shall not be considered a breach of this Agreement if such delay or failure is caused by acts of God, unforeseeable circumstances, acts (including a delay or failure to act) of any governmental authority (de jure or de facto), embargoes, strikes, labor disputes, riots, fire, floods, earthquakes, wars (declared or undeclared) or other military action, terrorism, sabotage, or epidemics.</p>
              <h6><li>MISCELLANEOUS</li></h6>
              <ol type="a">
              <p><li><u>Assignment</u>. Neither Party shall assign, novate or otherwise transfer this Agreement nor any rights granted hereunder whether voluntarily  or  by  operation  of  law  or  through  change  of  control,  including  by  way  of  sale  of  stock,  assets,  merger  or consolidation  or  otherwise  without  the  prior  written  consent  of  the  other  Party,  which  consent  shall  not  be  unreasonably withheld. Any assignment contrary to these provisions shall be null and void and of no legal effect. Subject to the foregoing, this Agreement shall be binding upon the parties and their respective legal successors and permitted assigns.</li> </p>
              <p><li><u>Independent Contractor</u>. This Agreement does not constitute a joint venture, partnership or other agency agreement between the Parties and that neither Party during the Term of this Agreement, nor after its termination, except pursuant to arrangements expressly provided for in this Agreement, represent itself as having such a relationship or act as an agent or bind or pledge the credit of or in any manner purpose to do any of those things with or for or of or in relation to the other.</li></p>
              <p><li><u>Amendment</u>.  This Agreement may only be modified or amended in a writing that makes express reference to this Agreement and is signed by a duly authorized representative of each Party. No other act, communication, representation, document, usage custom or practice shall be deemed to modify or amend this Agreement.</li></p>
              <p><li><u>No Waiver</u>. No failure or delay on the part of either Party in the exercise of any right, power or remedy under this Agreement shall operate as a waiver thereof, nor shall any single or partial exercise of any right, power or remedy preclude other or further exercise thereof, or the exercise of any other right, power or remedy.</li></p>
              <p><li><u>Severability</u>.  In the event that any court having competent jurisdiction over the interpretation of this Agreement shall finally determine that one or more of the provisions contained in this Agreement shall be unenforceable in any respect, then such provision shall be deemed limited and restricted to the extent that such court shall deem it to be enforceable, and, as so limited or restricted, shall remain in full force and effect.  In the event that any such provision or provisions shall be deemed wholly unenforceable, such provision shall be deemed deleted from this Agreement, and the remaining provisions shall remain in full force  and  effect.   Any  such  judicial  interpretation  requiring  limitation  or  deletion  of  a  provision  shall  be  valid  only  in  the jurisdiction in which such interpretation is made.</li></p>
              <p><li><u>Notices</u>. Notices shall be sent via email. Notices intended for Company shall be sent to <a href="mailto:jordan@amassinsights.com">jordan@amassinsights.com</a>. Notices meant for you shall be sent to the email address associated with your Login Credentials and be considered given upon receipt of the email delivery. Any such address may be changed by any Party hereto by the delivery of an email notice thereof to the other Party. Notices for change in Content Services, including additional services and/or users may be provided through email.</li></p>
              <p><li><u>Governing Law</u>.  This Agreement shall be governed by and construed in accordance with the laws of the State of New York, without giving effect to its principles or rules of conflict of laws to the extent such principles or rules are not mandatorily applicable by statute and would require or permit the application of the laws of another jurisdiction, as to all matters, including but not limited to matters of validity, construction, effect, performance and remedies.   In no event shall this Agreement be governed by the United Nations Convention on Contracts for the International Sale of Goods. Further, UCITA whether enacted in whole or in part by any state or applicable jurisdiction, regardless of how codified shall not apply to this Agreement and is hereby  disclaimed.  In  connection  with  any  litigation  between  the  Parties  arising  out  of  or  relating  to  this  Agreement,  each Party consents to the exclusive jurisdiction and venue in the New York state courts located in the County of New York, in the borough of Manhattan and in the federal courts located in the Southern District of New York. </li></p>
              <p><li><u>Survival</u>. The provisions of Sections  1, 2(g), 7, 10(d), 11, <strong><u>Error! Reference source not found.</u></strong>12, 14(d), and 16 shall survive the termination of this Agreement.</li></p>
              <p><li><u>No Presumptions</u>.  In construing the terms of this Agreement, no presumption shall operate in either Party’s favor as a result of its counsel’s role in drafting the terms or provisions hereof.</li></p>
              <p><li><u>Headings</u>. Section headings in this Agreement are for convenience only and shall not affect the interpretation of any provision of this Agreement. </li></p>
             <p><li><u>Counterparts</u>.  This Agreement may be executed in any number of counterparts, each of which shall be an original, but all of which together shall constitute one instrument.</li></p>
            </ol>
        </ol>
            </div>
        </div>
    </div>
</section>
