<div class="container">
    <mat-card class="card-container">
        <h3 *ngIf="success" jhiTranslate="social.register.title" translateValues="{ label: '{{providerLabel}}' }">Registration with</h3>
        <h3 *ngIf="error" jhiTranslate="social.register.errorTitle">Registration</h3>

        <div class="alert alert-success" *ngIf="success && !existingUser">
            <span jhiTranslate="social.register.messages.success">
                <strong>Registration successful!</strong> Please check your email for confirmation.<br>
                If you can't find this confirmation email, please check your SPAM folder!
            </span>
        </div>
        <div *ngIf="success && existingUser">
            <span class="alert alert-success" jhiTranslate="social.register.messages.existingUser"></span>
            <div style="max-width: 250px;"><jhi-social dialogType="login" provider="linkedin"></jhi-social></div>
        </div>
        <div class="alert" *ngIf="error" jhiTranslate="social.register.messages.error.fail">
            <strong>Registration failed!</strong> Please try again later.
        </div>
        <br/>
    </mat-card>
</div>
