<div class="responsive-container">
    <div class="text-center"><div [hidden]="success">Alternative Data Newsletter</div></div><br>
    <div class="text-subtitle"><div [hidden]="success">Interested in receiving occasional news and updates about Alternative & Traditional Data? Enter your email address below.</div></div><br>
        <mat-dialog-content>
                <div class="justify-content-center">
                    <div class="alert" *ngIf="success">
                        <p>Thanks for signing up for our Alternative Data Newsletter. Please check your email inbox for a message from team@amassinsights.com and confirm your email address in order to receive the newsletter.</p>
                        <p>If you don't see the confirmation email, please check your Spam folder.</p>
                    </div>
                </div>

                <form class="signup-form" name="form" role="form" (ngSubmit)="register(registerForm)" #registerForm="ngForm" *ngIf="!success">
                        <input type="email" class="mat-elevation-z2" autocomplete="off" id="applyEmail" name="applyEmail" #applyEmail="ngModel" placeholder="Email Address*"
                                [(ngModel)]="registerAccount.emailAddress" email required pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$">
                                <div class="justify-content-center">
                                    <div class="alert" *ngIf="errorEmailExists">
                                        <p>Your email address already receives the newsletter.</p>
                                        <p>Please check your spam folder if your are not receiving the newsletter and whitelist all email addresses with the amassinsights.com domain name.</p>
                                       <p>Or, feel free to subscribe with a different email address.</p>                                    
                                    </div>
                                </div>
                        <div *ngIf="applyEmail.dirty && applyEmail.invalid">
                            <div class="justify-content-center">
                                <div class="alert" *ngIf="applyEmail.errors.required">
                                    Please enter a valid email address to sign up for the newsletter.
                                </div>
                            </div>
                            <div class="justify-content-center">
                                <div class="alert" *ngIf="applyEmail.errors && applyEmail.errors.pattern">
                                    Please enter a valid email address to sign up for the newsletter.
                                </div>
                            </div>
                        </div>

                    <button type="submit" class="mat-elevation-z2 signup-button" mat-raised-button color="warn" (click)="signUp({'label':'Newsletter Sign Up Form - Button - Sign Up','category':'Newsletter Sign Up','event':'Form Submitted'})">Sign Up</button>
                    <button type="submit" class="mat-elevation-z2 nothanks-button" mat-raised-button (click)="closeSignUpDialog({'label':'Newsletter Sign Up Form - Button - No Thanks','category':'Newsletter Sign Up','event':'Exit Popup Link Clicked'})">No Thanks</button>
                </form>
        </mat-dialog-content>
    </div>
