input {
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    outline: none;
    padding: 6px 16px;
    width: 100%;
    /* max-width: 480px; */
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 8px;
    background-color: #f5f5f5;
  }
  
  input.ng-invalid.ng-touched,
  textarea.ng-invalid.ng-touched {
      border-left: 5px solid red;
  }
  
  .mat-button-large {
    width: 100%;
  }
  
  .text-center {
    text-align: center !important;
    font-size: larger !important;
  }

  .text-subtitle {
  text-align: center !important;
  font-size: medium !important;
  }

  .mat-button.mat-primary {
    color: #438afe !important;
  }
  
  button.close{
    outline: none;
    cursor: pointer;
  }
  
  .dialog-bottom-text {
      line-height: 36px;
      font-weight: bold;
  }
  .signup-login {
      font-weight: bold;
  }
  .validation-txt-color{
      color: #dc3545 !important;
   }
  .signup-form{
      width: 100%;
  }
  .signup-form-first-name{
      width: 49%;
      margin-right: 4px;
  }
  .footer-email-address{
    width: 60%;
    margin-right: 4px;
}
  .signup-form-last-name{
      width: 49%;
  }
  .signup-button {
      width: 49%;
      margin-right: 4px;
  } 
  .nothanks-button {
    width: 49%;
    float: right !important;
  } 
  .mat-dialog-title {
      margin: 0 0 3px !important;
      display: block;
  }
  .signup-drop-down{
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    outline: none;
    padding: 0 16px;
    width: 100%;
    /* max-width: 480px; */
    font-size: 16px;
    margin-bottom: 8px;
    background-color: #f5f5f5;
    border-top: none;
    height: 49px;
  }
  .main-text{
      font-size: 16px;
      font-weight: bold;
  }
  .sub-text{
      font-size: 11px;
  }
  .mat-dialog-actions{
      padding: 0 !important;
      margin-bottom: 0 !important;
  }
  .mat-dialog-content{
      max-height: 75vh;
  }
  .mat-dialog-content h6 {
    color: #fff !important;
    font-size: 15px !important;
  }
  .nomargin{
      margin-bottom: 3px !important;
  }
  .mat-dialog-container{
      padding: 10px 24px;
  }
  .user-role{
      border: none;
  }
  @media screen and (max-width: 414px){
      .mat-dialog-content{
          max-height: 52vh !important;
      }
      /* .text-center {
          text-align: center !important;
          font-size: larger !important;
      }
      .text-subtitle {
        text-align: center !important;
        font-size: small !important;
      } */
      .signup-form-first-name{
          width: 100%;
          /* margin-right: 4px; */
      }
      .signup-form-last-name {
          width: 100%;
      }
      input {
          border: solid 1px rgba(0, 0, 0, 0.1);
          border-radius: 2px;
          outline: none;
          padding: 5px 16px;
          width: 100%;
          font-size: 16px;
          line-height: 13px;
          margin-bottom: 4px;
          background-color: #f5f5f5;
          font-size: 12px;
      }
      /* .strengh-bar-txt {
          width: 50% !important;
          float: left;
      }
      .strengh-bar-value {
          width: 50% !important;
          float: left;
      } */
      .signup-drop-down {
          border: solid 1px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          outline: none;
          padding: 0 16px;
          width: 100%;
          font-size: 12px;
          margin-bottom: 4px;
          background-color: #f5f5f5;
          border-top: none;
          height: 36px;
      }
      .amass-checkbox .mat-checkbox-layout .mat-checkbox-label {
          font-size: 9px!important;
          line-height: 1rem!important;
      }
      .amass-checkbox{
          font-size: 9px !important;
          line-height: 0px !important;
          margin-bottom: 0px !important;
      }
      .mat-raised-button{
          line-height: 23px !important;
      }
      .mat-dialog-container{
          padding: 10px 24px;
          margin-bottom: 145px !important;
      }
      .responsive-container{
          margin-bottom: 145px !important;
      }
      .mat-dialog-actions{
          padding: 0 !important;
          margin-bottom: 0 !important;
          font-size: 12px;
      }
      .mat-button-large {
          width: 100%;
          line-height: 23px !important;
      }
  }
  @media screen and (max-width: 375px){
      .mat-dialog-content{
          max-height: 57vh !important;
      }
  }
  @media screen and (max-width: 320px){
      .mat-dialog-content{
          max-height: 68vh !important;
      }
  }
  @media screen and (max-width: 568px){
      .mat-dialog-content{
          max-height: 61vh !important;
      }
      .signup-form-first-name{
          width: 100%;
          /* margin-right: 4px; */
      }
      .signup-form-last-name {
          width: 100%;
      }
  }
  @media screen and (max-width: 667px){
      .mat-dialog-content{
          max-height: 67vh;
      }
  }
  @media screen and (max-width: 736px){
      .mat-dialog-content{
          max-height: 70vh;
      }
  }
  @media screen and (max-width: 812px){
      .mat-dialog-content{
          max-height: 67vh;
      }
  }
  