<div class="responsive-container">
            <mat-dialog-content><br>
                    <h6>Send me occasional news and updates about Alternative & Traditional Data.</h6>
                    <form class="signup-form" name="form" role="form" (ngSubmit)="register(registerForm)" #registerForm="ngForm">
                        <input type="email" class="mat-elevation-z2 footer-email-address" (keyup)="newsLetter($event)" autocomplete="off" id="applyEmail" name="applyEmail" #applyEmail="ngModel" placeholder="Email Address*" [(ngModel)]="registerAccount.emailAddress" email required
                        pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$">

                        <button type="submit" class="mat-elevation-z2 footer-signup" mat-raised-button color="warn" (click)="signUp({'label':'Newsletter Sign Up Form - Button - Sign Up','category':'Sign Up','event':'Form Submitted'})">Sign Up</button>

                        <div *ngIf="applyEmail.dirty && applyEmail.invalid">
                            <div class="justify-content-center" [ngStyle]="{'background-color': '#f5f5f5'}">
                                <div class="alert" *ngIf="applyEmail.errors.required">
                                    Please enter a valid email address to sign up for the newsletter.
                                </div>
                            </div>
                            <div class="justify-content-center" [ngStyle]="{'background-color': '#f5f5f5'}">
                                <div class="alert" *ngIf="applyEmail.errors && applyEmail.errors.pattern">
                                    Please enter a valid email address to sign up for the newsletter.
                                </div>
                            </div>
                        </div>

                        <div class="justify-content-center">
                            <div class="alert" *ngIf="success" [ngStyle]="{'background-color': '#f5f5f5'}">
                                <p>Thanks for signing up for our Alternative Data Newsletter. Please check your email inbox for a message from team@amassinsights.com and confirm your email address in order to receive the newsletter.</p>
                                  <p>If you don't see the confirmation email, please check your Spam folder.</p>
                            </div>
                        </div>
                        <div class="justify-content-center">
                            <div class="alert" *ngIf="errorEmailExists" [ngStyle]="{'background-color': '#f5f5f5'}">
                                <p>Your email address already receives the newsletter.</p>
                                <p>Please check your spam folder if your are not receiving the newsletter and whitelist all email addresses with the "amassinsights.com" domain name.</p>
                                <p>Or, feel free to subscribe with a different email address.</p>                          
                            </div>
                        </div>
                    </form>
            </mat-dialog-content>
        </div>
