/* Sortby Bar */
nav.navbar.amass-sortbar {
    background-color: #fff;
    margin: 10px 0;
    padding-right: 0px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    .navbar-collapse {
        .navbar-nav .nav-item {
            text-align: center !important;
            .nav-link {
                border-right: 1px solid #ddd;
                //padding-left: 13px;
                padding-right: 9.7px;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #212529;
            }
        }

        .navbar-nav .nav-item:last-child .nav-link {
            border-right: 0px;
        }
    }

    a.pointer {
        cursor: default;
    }
}
a.navbar-brand span{
    cursor: default;
    color: #212529;
}

a.nav-link.opensans-semibold {
    cursor: default;
}
a.navbar-brand {
    cursor: default;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
   // margin-left: 1rem;
    font-size: 1rem;
    line-height: inherit;
    white-space: nowrap;
}
.block-sortbar{
    background-color: #89898a !important;
}

@media screen and (max-width: 1024px) {
    .sortbar-count-container {
        width: 100%;
    }

    nav.navbar.amass-sortbar {
        flex-flow: wrap !important;
        .navbar-collapse {
            .navbar-nav .nav-item .nav-link {
                text-align: right;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    nav.navbar.amass-sortbar .jh-navbar-toggler {
        display: none;
    }
}

nav.navbar.amass-sortbar .jh-navbar-toggler {
    line-height: 40px;
}
.activate
{
    border: 2px solid rgb(72, 138, 254);
    border-radius: 5px;
    color: black;
    padding: 9px 13px;
    font-size: 16px;
    cursor: pointer;
}

.category-title {
    font-size: 16px;
    position: relative;
}

.category-title .category-tooltiptext {
    visibility: hidden;
    width: 260px;
    background-color: white;
    text-align: center;
    border: 1px solid #80808070;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0%;
    margin-left: -110px;
    opacity: 0;
    transition: opacity 500ms;
}

.category-title .category-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: #c0c0c0 transparent transparent transparent;
}

.category-title:hover .category-tooltiptext {
    visibility: visible;
    opacity: 1;
}

.popover-span{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 100 !important;
    font-size: 14px !important;
    display: table-cell !important;
    text-align: left !important;
    padding-left: 6px !important;
}
