<div>
<nav class="navbar navbar-expand-lg amass-sortbar mat-elevation-z2">
    <div class="sortbar-count-container">
        <button mat-icon-button class="jh-navbar-toggler hidden-lg-up float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#sortByBarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleSortByBar()">
            <mat-icon>more_vert</mat-icon>
        </button>
        <ng-container *ngIf="providerCount">
        <ng-container *ngIf="totalItems === providerCount">
            <a class="navbar-brand pointer">
                <span [matTooltip]="totalItemsTooltip" > <span class="opensans-bold">{{totalItems | number}} </span></span><span>{{entityType}}</span>
            </a>
        </ng-container>
        </ng-container>
    <ng-container *ngIf="providerCount">
        <ng-container *ngIf="totalItems !== providerCount">
            <a class="navbar-brand pointer">
            <span [matTooltip]="totalItemsTooltip" > <span class="opensans-bold">{{totalItems | number}} </span></span> <span>of</span> <span class="opensans">{{providerCount | number}} {{entityType}} </span>
        </a>    
        </ng-container>
</ng-container>
<ng-container *ngIf="!providerCount">
    <a class="navbar-brand pointer">
        <span [matTooltip]="totalItemsTooltip" > <span class="opensans-bold">{{totalItems | number}} </span></span><span>{{entityType}}</span>
    </a>
</ng-container>
    </div>
    <div class="navbar-collapse collapse" id="sortByBarResponsive" [ngStyle]="{'margin-right': entityType === 'investors' ? '12px' : '69px'}"  [ngbCollapse]="isSortByBarCollapsed" [ngbCollapse]="isNavbarCollapsed">
        <ul class="navbar-nav ml-auto right-menus">
            <li class="nav-item">
                <a class="nav-link pointer"><span class="opensans-semibold" [matTooltip]="sortByTooltip">Sort By</span></a>
            </li>
            <li class="nav-item" *ngFor="let item of sortingArray; let i = index" (click)="collapseSortByBar()" [ngClass]="{'block-sortbar': item.userLevel && item.userLevel === 'restricted'}">
                <p-blockUI [target]="sortbarblock" [blocked]="item.userLevel && item.userLevel === 'restricted'&& item.DropDown && item.DropDown!== 'Scores'" *ngIf="item.userLevel && item.userLevel === 'restricted' && item.DropDown && item.DropDown!== 'Scores'">
                    <i class="fa fa-lock fa-3x" style="position:absolute;bottom:30%;z-index: 1;font-size: 24px;"></i>
                </p-blockUI>
                <a class="nav-link" *ngIf="item.userLevel && item.userLevel === 'unrestricted' && item.DropDown  && item.DropDown!== 'Scores'" (click)="sort(item)" [ngClass]="{'warn-text bolder-text': (item.order === 'desc' || item.order === 'asc')}"><span [matTooltip]="item.mouseoverExplanation">{{item.label}}</span>
                    <span [ngClass]="{'fa-sort-desc': (item.order === 'desc'), 'fa-sort-asc': (item.order === 'asc'), 'fa-sort': (item.order === '')}" class="fa"></span>
                </a>
                <span class="category-title">
                    <a #sortbarblock *ngIf="item.userLevel && item.userLevel === 'restricted' && item.DropDown && item.DropDown!== 'Scores'" class="nav-link"  ><span [matTooltip]="item.mouseoverExplanation">{{item.label}}</span>
                        <span [ngClass]="{'fa-sort-desc': (item.order === 'desc'), 'fa-sort-asc': (item.order === 'asc'), 'fa-sort': (item.order === '')}" class="fa"></span>
                        <div class="category-tooltiptext" *ngIf="!item.mouseoverExplanation">
                            <span class="popover-span">Your account is not allowed to use this <br> feature.<br>
                                <button style="margin:0 38px !important;font-family: 'OpenSans-Light';" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
                            </span>
                        </div>
                    </a>
                </span>
                <p-blockUI [target]="sortbarblockscore" [blocked]="item.userLevel && item.userLevel === 'restricted' && item.DropDown && item.DropDown=== 'Scores'" *ngIf="item.userLevel && item.userLevel === 'restricted' && item.DropDown=== 'Scores'">
                    <i class="fa fa-lock fa-3x" style="position:absolute;bottom:30%;z-index: 1;font-size: 24px;"></i>
                </p-blockUI>
                <span class="category-title">
                    <a #sortbarblockscore *ngIf="item.userLevel && item.userLevel === 'restricted' && item.DropDown && item.DropDown=== 'Scores'" class="nav-link"  ><span [matTooltip]="item.mouseoverExplanation">{{item.label}}</span>
                        <span [ngClass]="{'fa-sort-desc': (item.order === 'desc'), 'fa-sort-asc': (item.order === 'asc'), 'fa-sort': (item.order === '')}" class="fa"></span>
                        <div class="category-tooltiptext" *ngIf="!item.mouseoverExplanation">
                            <span class="popover-span">Your account is not allowed to use this <br> feature.<br>
                                <button style="margin:0 38px !important;font-family: 'OpenSans-Light';" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
                            </span>
                        </div>
                    </a>
                </span>
                <div *ngIf="item.userLevel && item.userLevel === 'unrestricted' && item.DropDown && item.DropDown=== 'Scores'" >
                    <li ngbDropdown  class="nav-item dropdown pointer">
                            <button class="btn activate"  ngbDropdownToggle [ngStyle]="{'background-color': activated ? '#007bff' : ''}">
                                    <span style="color: black;">Scores</span>
                            </button>
                            <ul class="dropdown-menu" ngbDropdownMenu>
                                <li class="header-drp-provider-btn">
                                    <button class="dropdown-item" [ngStyle]="{'background-color': name === 'scoreInvestorsWillingness.sortorder' ? '#007bff' : '#fff'}" (click)="sort(item,'scoreInvestorsWillingness.sortorder')">
                                        <span >Willingness to Provide to Investors</span>
                                    </button>
                                </li>
                                <li class="header-drp-provider-btn">
                                    <button class="dropdown-item" [ngStyle]="{'background-color': name === 'scoreUniqueness.sortorder' ? '#007bff' : '#fff'}" (click)="sort(item,'scoreUniqueness.sortorder')">
                                        <span>Uniqueness</span>
                                    </button>
                                </li>
                                <li class="header-drp-provider-btn">
                                    <button class="dropdown-item" [ngStyle]="{'background-color': name === 'scoreValue.sortorder' ? '#007bff' : '#fff'}" (click)="sort(item,'scoreValue.sortorder')">
                                        <span>Value</span>
                                    </button>
                                </li>
                                <li class="header-drp-provider-btn">
                                    <button class="dropdown-item" [ngStyle]="{'background-color': name === 'scoreReadiness.sortorder' ? '#007bff' : '#fff'}" (click)="sort(item,'scoreReadiness.sortorder')">
                                        <span>Readiness</span>
                                    </button>
                                </li>
                                <li class="header-drp-provider-btn">
                                    <button class="dropdown-item" [ngStyle]="{'background-color': name === 'scoreOverall.sortorder' ? '#007bff' : '#fff'}" (click)="sort(item,'scoreOverall.sortorder')">
                                        <span>Overall</span>
                                    </button>
                                </li>
                            </ul>
                            </li>
                            </div>
            </li>
        </ul>
    </div>
</nav>
</div>
