
<div *ngIf="amassUserDataCategory">
    <h2><span jhiTranslate="datamarketplaceApp.amassUserDataCategory.detail.title">Amass User Data Category</span> {{amassUserDataCategory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="datamarketplaceApp.amassUserDataCategory.userID">User ID</span></dt>
        <dd>
            <span>{{amassUserDataCategory.userID}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserDataCategory.dataCategoryID">Data Category ID</span></dt>
        <dd>
            <span>{{amassUserDataCategory.dataCategoryID}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserDataCategory.getNotifications">Get Notifications</span></dt>
        <dd>
            <span>{{amassUserDataCategory.getNotifications}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserDataCategory.notificationType">Notification Type</span></dt>
        <dd>
            <span>{{amassUserDataCategory.notificationType}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserDataCategory.interestType">Interest Type</span></dt>
        <dd>
            <span>{{amassUserDataCategory.interestType}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserDataCategory.inactive">Inactive</span></dt>
        <dd>
            <span>{{amassUserDataCategory.inactive}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserDataCategory.createdDate">Created Date</span></dt>
        <dd>
            <span>{{amassUserDataCategory.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserDataCategory.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{amassUserDataCategory.updatedDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'amass-user-data-category/'+ amassUserDataCategory.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
