<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAmassUserDataCategoryLabel" jhiTranslate="datamarketplaceApp.amassUserDataCategory.home.createOrEditLabel">Create or edit a Amass User Data Category</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!amassUserDataCategory.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="amassUserDataCategory.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.amassUserDataCategory.userID" for="field_userID">User ID</label>
            <input type="number" class="form-control" name="userID" id="field_userID"
                [(ngModel)]="amassUserDataCategory.userID" required max="11" />
            <div [hidden]="!(editForm.controls.userID?.dirty && editForm.controls.userID?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.userID?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.userID?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 11 }">
                    This field cannot be more than 11.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.userID?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.amassUserDataCategory.dataCategoryID" for="field_dataCategoryID">Data Category ID</label>
            <input type="number" class="form-control" name="dataCategoryID" id="field_dataCategoryID"
                [(ngModel)]="amassUserDataCategory.dataCategoryID" required max="11" />
            <div [hidden]="!(editForm.controls.dataCategoryID?.dirty && editForm.controls.dataCategoryID?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dataCategoryID?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dataCategoryID?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 11 }">
                    This field cannot be more than 11.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dataCategoryID?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.amassUserDataCategory.getNotifications" for="field_getNotifications">Get Notifications</label>
            <input type="number" class="form-control" name="getNotifications" id="field_getNotifications"
                [(ngModel)]="amassUserDataCategory.getNotifications" required max="2" />
            <div [hidden]="!(editForm.controls.getNotifications?.dirty && editForm.controls.getNotifications?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.getNotifications?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.getNotifications?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 2 }">
                    This field cannot be more than 2.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.getNotifications?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.amassUserDataCategory.notificationType" for="field_notificationType">Notification Type</label>
            <input type="text" class="form-control" name="notificationType" id="field_notificationType"
                [(ngModel)]="amassUserDataCategory.notificationType" required maxlength="20" />
            <div [hidden]="!(editForm.controls.notificationType?.dirty && editForm.controls.notificationType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.notificationType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.notificationType?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.amassUserDataCategory.interestType" for="field_interestType">Interest Type</label>
            <input type="text" class="form-control" name="interestType" id="field_interestType"
                [(ngModel)]="amassUserDataCategory.interestType" required maxlength="20" />
            <div [hidden]="!(editForm.controls.interestType?.dirty && editForm.controls.interestType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.interestType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.interestType?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.amassUserDataCategory.inactive" for="field_inactive">Inactive</label>
            <input type="number" class="form-control" name="inactive" id="field_inactive"
                [(ngModel)]="amassUserDataCategory.inactive" required max="2" />
            <div [hidden]="!(editForm.controls.inactive?.dirty && editForm.controls.inactive?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.inactive?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.inactive?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 2 }">
                    This field cannot be more than 2.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.inactive?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.amassUserDataCategory.createdDate" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="amassUserDataCategory.createdDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.amassUserDataCategory.updatedDate" for="field_updatedDate">Updated Date</label>
            <div class="d-flex">
                <input id="field_updatedDate" type="datetime-local" class="form-control" name="updatedDate" [(ngModel)]="amassUserDataCategory.updatedDate"
                  />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
