<div>
    <h2>
        <span jhiTranslate="datamarketplaceApp.amassUserDataCategory.home.title">Amass User Data Categories</span>
        <button class="btn btn-primary float-right jh-create-entity create-amass-user-data-category" [routerLink]="['/', { outlets: { popup: ['amass-user-data-category-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="datamarketplaceApp.amassUserDataCategory.home.createLabel">
            Create new Amass User Data Category
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'datamarketplaceApp.amassUserDataCategory.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="amassUserDataCategories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userID"><span jhiTranslate="datamarketplaceApp.amassUserDataCategory.userID">User ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dataCategoryID"><span jhiTranslate="datamarketplaceApp.amassUserDataCategory.dataCategoryID">Data Category ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="getNotifications"><span jhiTranslate="datamarketplaceApp.amassUserDataCategory.getNotifications">Get Notifications</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="notificationType"><span jhiTranslate="datamarketplaceApp.amassUserDataCategory.notificationType">Notification Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="interestType"><span jhiTranslate="datamarketplaceApp.amassUserDataCategory.interestType">Interest Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="inactive"><span jhiTranslate="datamarketplaceApp.amassUserDataCategory.inactive">Inactive</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="datamarketplaceApp.amassUserDataCategory.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updatedDate"><span jhiTranslate="datamarketplaceApp.amassUserDataCategory.updatedDate">Updated Date</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let amassUserDataCategory of amassUserDataCategories ;trackBy: trackId">
                <td><a [routerLink]="['../amass-user-data-category', amassUserDataCategory.id ]">{{amassUserDataCategory.id}}</a></td>
                <td>{{amassUserDataCategory.userID}}</td>
                <td>{{amassUserDataCategory.dataCategoryID}}</td>
                <td>{{amassUserDataCategory.getNotifications}}</td>
                <td>{{amassUserDataCategory.notificationType}}</td>
                <td>{{amassUserDataCategory.interestType}}</td>
                <td>{{amassUserDataCategory.inactive}}</td>
                <td>{{amassUserDataCategory.createdDate}}</td>
                <td>{{amassUserDataCategory.updatedDate}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../amass-user-data-category', amassUserDataCategory.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'amass-user-data-category/'+ amassUserDataCategory.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'amass-user-data-category/'+ amassUserDataCategory.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
