.social-login-form {
    margin-top: 0px;
}
.social-linkedin{
    width: 20%;
    line-height: 34px;
    font-size: 1.2em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.social-lable{
    padding: 0 8%;
}
.btn.social-btn{
    padding: 0 !important;
    text-align: left;
    cursor: pointer;
}
.jh-btn-social{
    margin-bottom: 0 !important;
}
.nopadding{
    padding: 0;
}
@media screen and (max-width: 414px){
    .social-linkedin{
        width: 20%;
        line-height: 25px;
        font-size: 12px;
        text-align: center;
        border-right: 1px solid rgba(0,0,0,0.2);
    }
    .social-lable{
        padding: 0 8%;
        font-size: 12px;
    }
    .btn.social-btn{
        padding: 0 !important;
        text-align: left;
        cursor: pointer;
        /* height: 20px; */
    }
}
