<form ngNoForm action="{{ providerURL }}" (ngSubmit)="fire($event)" method="POST" class="social-login-form">
    <div class="alert" *ngIf="error">
        {{error}}
    </div>
    <button *ngIf="!isAccountActive" type="submit" (click)="linkdinSubmit($event)" class="btn social-btn btn-block jh-btn-social btn-linkedin btn-{{ provider }}">
        <span class="fa fa-linkedin social-linkedin"></span>
        <span class="social-lable">{{dialogLabel}} with {{ label }}</span>
    </button>
    <input name="scope" type="hidden" value="{{ providerSetting }}"/>
    <input name="_csrf" type="hidden" value="{{ csrf }}"/>
</form>
