<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
    <title>Your request cannot be processed</title>
    <style>
        *, *::before, *::after {
            box-sizing: border-box;
        }

        body {
            -webkit-user-select: none;
            -moz-user-select: -moz-none;
            -ms-user-select: none;
            user-select: none;
            background-color: #e4e5e6;
        }

        @font-face {
            font-family: 'OpenSans-Regular';
            src: url('content/OpenSans-Regular.ttf') format('truetype');
        }

        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: OpenSans-Regular;
        }

        .container img{
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .container div{
            padding: 10px;
        }

        .error-message{
            font-size: 42px;
            font-weight: 900;
        }

        a.provider-link{
            color: #007bff;
            text-decoration: none;
            background-color: transparent;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="content/404.png" />
        <div class="error-message">404</div>
        <h1 th:text="#{error.title}">Your request cannot be processed <span>:(</span></h1>

        <p th:text="#{error.subtitle}">Sorry, an error has occurred.</p>

        <span th:text="#{error.status}">Status:</span>&nbsp;<span th:text="${error}"></span>&nbsp;
        <span th:if="${!#strings.isEmpty(message)}">
            <span th:text="#{error.message}">Message:</span>&nbsp;<span th:text="${message}"></span><br/>
        </span>
        <div>Go back to <a href="/" class="provider-link">Home</a> page</div>
    </div>
    <script>
        // <![CDATA[
        window.addEventListener('load', init, false);
        function init() {
            if (window.location.search.length > 0) {
                var search = window.location.search.substring(1);
                if (search) {
                    var navigation = JSON.parse('{"' + decodeURI(search).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g,'":"') + '"}');
                    if(navigation.error === 'user_cancelled_login' || navigation.error === 'user_cancelled_authorize'){
                        window.location.href = '/';
                    }
                }
            }
        };
        // ]]>
    </script>
</body>
</html>
