
/* ==========================================================================
Navbar
========================================================================== */
// html, body {height:100%;overflow:auto}
.navbar-version {
    font-size: 10px;
    color: #ccc;
}

.jh-navbar {
    padding: .5rem 1rem;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active,
    .dropdown-item:hover,
    .dropdown-item:focus,
    .dropdown-item:active {
        color: #fff;
        background-color: #007bff;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.5rem;
        }
        .active.nav-item,
        .active button,
        .nav-item:hover, .nav-item:focus, .nav-item:active {
            background-color: rgba(0,0,0,.12);
        }
    }
    .request-drop-dwn{
        color:#fff;
        text-decoration: none;
    }
    /* .request-btn{
        margin-left: 180px !important;
    } */

    a.nav-link {
        font-weight: 400;
    }
    .profile-link{
        margin-left: 3px;
    }
    .profile-link-txt{
        margin-left: 4px;
    }
    .header-drp-provider{
        padding: 0 !important;
    }
    .header-drp-provider-btn{
        padding: 5px;
    }
    .request-share-img{
        width: 1.3rem;
        height: 1.3rem;
        vertical-align: middle;
        margin-bottom: 2px;
    }
    .jh-navbar-toggler {
        color: #ccc;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }

    .dropdown {
        max-width: 150px;
        span.menu-text {
            width: 60px;
            height: 24px;
            display: inline-flex;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.jh-navbar.navbar-default {
    background-color: #438afe;
}

.jh-navbar.navbar-inverse {
    background-color: #353d47;
}

@media screen and (min-width: 992px) {
    .amass-navbar .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

.nav-link {
    color: #fff;
}
.nopadding{
    padding: 0;
}
.req-dropdowm-btn{
    min-width: 20px;
}
.add-btn{
    margin-left: 5px;
}
.nav-link.test {
    background: #fff;
    color: #438afe;
}
/* ==========================================================================
Logo styles
========================================================================== */
.jh-navbar .navbar-brand {
    &.logo {
        padding: 5px 15px;
        .logo-img {
            height: 63px;
            width: 200px;
            display: inline-block;
            vertical-align: middle;
            z-index: 100050;
            position: relative;
        }

        .logo-img-grey {
            background: url("../../../content/images/logo_grey.png") no-repeat center center;
            background-size: 200px;
        }

         .logo-img-white {
            background: url("../../../content/images/logo_white.png") no-repeat center center;
            background-size: 200px;
        } 
    }
}

.jh-navbar .navbar-nav.right-menus {
    z-index: 10001;
}

.right-menus.navbar-nav button.mat-button {
    color: #418bcc;
}

.left-menus.navbar-nav button.mat-button {
    color: #fff;
}

.account-detail {
    padding: 0 5px;
}

.jh-navbar.navbar.fixed-top {
    z-index: 16;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.headerSignUp{
    font-weight: bold;
    font-family: 'OpenSans-Bold';
    font-size: 15px;
}

@media screen and (min-width:992px){
    ::ng-deep .jh-navbar .navbar-brand {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (max-width:1024px) {
    ::ng-deep .jh-navbar .navbar-brand {
        width: auto;
    }
}

@media screen and (max-width:992px) {
    .jh-navbar .dropdown {
        max-width: 100%;
    }

    .jh-navbar ul.navbar-nav .nav-item {
        margin-left: 0;
        padding: 0 16px;
    }

    .jh-navbar .navbar-nav {
        text-align: right;
    }
}

.navbar-expand-lg .navbar-collapse {
    z-index: 1000;
}

@media (min-width: 993px) and (max-width:1199px) {
    .jh-navbar  .navbar-brand.logo  .logo-img-white {
        /* background: url(content/df20f2b….png) no-repeat center center;
        background-size: 200px; */
        display: none;
    }
}
    @media (min-width: 1200px) and (max-width:1280px) {
        .jh-navbar  .navbar-brand.logo  .logo-img-white {
            /* background: url(content/df20f2b….png) no-repeat center center;
            background-size: 200px; */
            display: none;
        }
    }
     @media screen and (max-width:1365px) {
            .jh-navbar .navbar-brand {
                &.logo {
                    padding: 5px 15px;
                    .logo-img {
                        height: 63px;
                        width: 200px;
                        display: inline-block;
                        vertical-align: middle;
                        z-index: 100050;
                        position: relative;
                    }
            
                    .logo-img-grey {
                        background: url("../../../content/images/logo_grey.png") no-repeat center center;
                        background-size: 100px;
                        margin-left: -61px;
                    }
            
                     .logo-img-white {
                        background: url("../../../content/images/logo_white.png") no-repeat center center;
                        background-size: 200px;
                    } 
                }
            }
            .jh-navbar .navbar-nav.right-menus {
                z-index: 10001;
                margin-right: -33px;
            }
            .left-name {
                margin-right: -27px;
            }
            @media screen and (min-width:1366px) {
                .jh-navbar .navbar-brand {
                    &.logo {
                        padding: 5px 15px;
                        .logo-img {
                            height: 63px;
                            width: 200px;
                            display: inline-block;
                            vertical-align: middle;
                            z-index: 100050;
                            position: relative;
                        }
                
                        .logo-img-grey {
                            background: url("../../../content/images/logo_grey.png") no-repeat center center;
                            background-size: 200px;
                            margin-left: -61px;
                        }
                
                         .logo-img-white {
                            background: url("../../../content/images/logo_white.png") no-repeat center center;
                            background-size: 200px;
                        } 
                    }
                }
                .jh-navbar .navbar-nav.right-menus {
                    z-index: 10001;
                    margin-right: -33px;
                }
                .left-name {
                    margin-right: -27px;
                }
            }
            
}

