<nav class="navbar fixed-top navbar-expand-lg jh-navbar amass-navbar mat-elevation-z2" [ngClass]="{'navbar-default': isAuthenticated(), 'navbar-inverse': !isAuthenticated()}">

    <div class="jh-logo-container">
        <a class="jh-navbar-toggler hidden-lg-up float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive2" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <i class="fa fa-bars"></i>
        </a>
        <div class="navbar-brand mx-auto logo" (click)="collapseNavbar()">
            <a routerLink="/" class="logo-img logo-img-grey" *ngIf="!isAuthenticated()"></a>
            <a routerLink="providers" class="logo-img logo-img-white" *ngIf="isAuthenticated()"></a>
<!--<div class="logo-img logo-img-white"  *ngIf="isAuthenticated() && !investor"></div>-->
<!--<a  class="logo-img logo-img-white" *ngIf="isAuthenticated() && !investor"></a>-->
</div>
    </div>

    <div class="navbar-collapse collapse pro" id="navbarResponsive2" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav left-menus" style="margin-bottom: -20px;">
            <li *ngIf="isAuthenticated()">
                <jhi-generic-search [userSearch]="userSearch"></jhi-generic-search>
            </li>
            <li *ngIf="!isAuthenticated()" class="prosearch">
                <jhi-generic-search [userSearch]="userSearch"></jhi-generic-search>
            </li>
        </ul>
        <ul class="navbar-nav left-menus left-name">
             <li *ngSwitchCase="false" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/about-us">
                    <button type="button" mat-button class="text-uppercase headerSignUp" (click)="collapseNavbar();openAboutPage({'label':'Header - About','category':'About Amass Insights','event':'Internal Link Clicked'})">
                        About
                    </button>
                </a>
            </li>
            <li *ngSwitchCase="false" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/contact-us">
                    <button type="button" mat-button class="text-uppercase headerSignUp" (click)="collapseNavbar();openContactPage({'label':'Header - Contact Us','category':'Contact Us','event':'Internal Link Clicked'})">
                        Contact Us
                    </button>
                </a>
            </li>
           <!-- <li *jhiHasAnyAuthority="'ROLE_PROVIDER'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/how-it-works-providers']" routerLinkActive="router-link-active" >
                    <button type="button" mat-button class="text-uppercase headerSignUp" (click)="collapseNavbar();openAboutPage({'label':'Header - How It Works','category':'Providers - How It Works','event':'Internal Link Clicked'})">
                        How It Works
                    </button>
                </a>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_INVESTOR'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="['/how-it-works-investors']" routerLinkActive="router-link-active" >
                    <button type="button" mat-button class="text-uppercase headerSignUp" (click)="collapseNavbar();openAboutPage({'label':'Header - How It Works','category':'About Amass Insights','event':'Internal Link Clicked'})">
                        How It Works
                    </button>
                </a>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_INVESTOR'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/features">
                    <button type="button" mat-button class="text-uppercase headerSignUp" (click)="collapseNavbar();openContactPage({'label':'Header - Features','category':'Features','event':'Internal Link Clicked'})">
                        Features
                    </button>
                </a>
            </li> -->
            <div *jhiHasNotAuthority="'ROLE_ADMIN'">
                <li ngbDropdown placement="bottom-left" class="nav-item dropdown pointer">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle [ngStyle]="{'color': '#fff'}" matTooltip="Learn more about Insights">
                        <i class="fa fa-question-circle" aria-hidden="true" style="font-size: 18px;"></i>
                            <!-- <span>?</span> -->
                        <b class="caret add-btn"></b>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu class="header-drp-provider">
                        <li class="header-drp-provider-btn">
                            <button class="dropdown-item" routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar();newProvider({'label':'Header - About','category':'About','event':'Internal Link Clicked'})">
                                <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
                                <span matTooltip="Learn more about Amass Insights">About</span>
                            </button>
                        </li>
                        <li *jhiHasAnyAuthority="['ROLE_INVESTOR']" class="header-drp-provider-btn">
                            <button class="dropdown-item" routerLink="/how-it-works-investors" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                                (click)="collapseNavbar();newProvider({'label':'Header - How It Works','category':'How It Works','event':'Internal Link Clicked'})">
                                <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
                                <span matTooltip="Learn more about how Insights work for you">How It Works</span>
                            </button>
                        </li>
                        <li *jhiHasAnyAuthority="['ROLE_PROVIDER']" class="header-drp-provider-btn">
                            <button class="dropdown-item" routerLink="/how-it-works-providers" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                                (click)="collapseNavbar();newProvider({'label':'Header - How It Works','category':'How It Works','event':'Internal Link Clicked'})">
                                <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
                                <span matTooltip="Learn more about how Insights work for you">How It Works</span>
                            </button>
                        </li>
                        <li *jhiHasAnyAuthority="'ROLE_INVESTOR'" class="header-drp-provider-btn">
                            <button class="dropdown-item" routerLink="/features" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar();newProvider({'label':'Header - Features','category':'Features','event':'Internal Link Clicked'})">
                                <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
                                <span matTooltip="Features of Insights and Plans & Pricing">Features</span>
                            </button>
                        </li>
                        <li class="header-drp-provider-btn">
                            <button class="dropdown-item" routerLink="/blog" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar();newProvider({'label':'Header - Blog','category':'Blog','event':'Internal Link Clicked'})">
                                <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
                                <span>Blog</span>
                            </button>
                        </li>
                        <li class="header-drp-provider-btn">
                            <button class="dropdown-item" routerLink="/contact-us" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar();newProvider({'label':'Header - Contact Us','category':'Contact Us','event':'Internal Link Clicked'})">
                                <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
                                <span>Contact Us</span>
                            </button>
                        </li>
                    </ul>
                </li>
            </div>
            <div >
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer request-drop-dwn " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="dropdown-toggle request-drop-dwn" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" [ngStyle]="{'color': '#fff'}" matTooltip="Request">
                    <button type="button" mat-button class="text-uppercase headerSignUp nopadding req-dropdowm-btn">
                        <img src="../../../content/images/icons/White-Request-icon-original.png" class="request-share-img">
                       <!--  <span>Request</span> -->
                        <b class="caret"></b>
                    </button>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item"  (click)="collapseNavbar();openContactDialog('Request for Data (RFD)', 'Amass offers its extensive experience sourcing datasets to its clients. Please describe the data you are seeking in as much detail as possible and we will be in touch soon.', 'requestFindingData', 1)">
                            <span>Request Help Finding Data</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"  (click)="collapseNavbar();openContactDialog('Request for Data Engineering Quote (RFQ)', 'Amass can perform data science, data cleaning, data analysis, and/or other data engineering services on behalf of its clients. Please describe the work you are seeking help with as much detail as possible and we will be in touch soon.', 'requestEngineeringData', 2)">
                            <span>Request Help Engineering Data</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" (click)="collapseNavbar();openContactDialog('Request for Data Sales (RFS)', 'Amass offers assistance to data providers in sales, business development, and distribution in a variety of forms. Please describe the help you are looking to receive in as much detail as possible and we will be in touch soon.', 'requestSellingData', 3)">
                            <span>Request Help Selling Data</span>
                        </a>
                    </li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="dropdown-item" routerLink="/contact-us" (click)="collapseNavbar();">
                            <span>Request Contact With Us</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="collapseNavbar();openApplyDialog({'label':'Header - Sign Up','category':'Sign Up','event':'Popup Link Clicked'})" routerLinkActive="router-link-active"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
                            <span>Request Access to Insights </span>
                        </a>
                    </li>
                </ul>
            </li>
            </div>
            <div >
            <li *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_USER']" ngbDropdown placement="bottom-left" class="nav-item dropdown pointer">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle [ngStyle]="{'color': '#fff'}" matTooltip="Add, Suggest, or Invite">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            <!-- <span>Add</span> -->
                        <b class="caret add-btn"></b>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu class="header-drp-provider">
                            <li *jhiHasNotAuthority="'ROLE_ADMIN'" class="header-drp-provider-btn">
                                <p-blockUI [target]="addProvider" [blocked]="true" >
                                    <i class="fa fa-lock fa-3x" style="position:absolute;top:8%;left:45%;z-index: 1;font-size: 24px;"></i>
                                </p-blockUI>
                                <span matTooltip="'Your account is not allowed to use this feature. Please upgrade if you would like access to it.'">
                                    <button #addProvider class="dropdown-item" [ngStyle]="{'background-color': 'rgba(0, 0, 0, 0.4)'}" [disabled]="true">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <span>Add Provider</span>
                                    </button>
                                </span>
                            </li>
                            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" class="header-drp-provider-btn">
                                <button class="dropdown-item"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                                (click)="collapseNavbar();openAddProviderDialog();newProvider({'label':'Header - Add/Suggest - Add Provider','category':'Add Provider','event':'Internal Link Clicked'})">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <span matTooltip="Add a new Data Provider to Insights">Add Provider</span>
                                </button>
                            </li>
                            <!-- <li *jhiHasNotAuthority="'ROLE_ADMIN'" class="header-drp-provider-btn">
                                <p-blockUI [target]="Suggest" [blocked]="true" >
                                    <i class="fa fa-lock fa-3x" style="position:absolute;bottom:8%;left:45%;z-index: 999;font-size: 24px;"></i>
                                </p-blockUI>
                                <button #Suggest class="dropdown-item" [ngStyle]="{'background-color': 'rgba(0, 0, 0, 0.4)', 'cursor': 'not-allowed'}" [disabled]="true">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <span>Suggest Provider</span>
                                </button>
                            </li> -->
                            <li class="header-drp-provider-btn">
                                <button class="dropdown-item"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                                    (click)="collapseNavbar();openContactDialog('Suggest Provider', 'Please add the name of your Provider suggestion and any other appropriate supporting information (such as links and/or descriptions). Amass experts will consider your suggestion and incorporate the appropriate information about the Provider in the Insights Platform.', 'suggestProvider', 4);newProvider({'label':'Header - Add/Suggest - Suggest Article','category':'Suggest Article','event':'Popup Link Clicked'})">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <span matTooltip="Suggest a new Data Provider to be added to Insights">Suggest Provider</span>
                                </button>
                            </li>
                            <li *jhiHasNotAuthority="'ROLE_ADMIN'" class="header-drp-provider-btn">
                                <p-blockUI [target]="addProvider" [blocked]="true" >
                                    <i class="fa fa-lock fa-3x" style="position:absolute;top:56%;left:45%;z-index: 1;font-size: 24px;"></i>
                                </p-blockUI>
                                <span matTooltip="'Your account is not allowed to use this feature. Please upgrade if you would like access to it.'">
                                    <button #addProvider class="dropdown-item" [ngStyle]="{'background-color': 'rgba(0, 0, 0, 0.4)'}" [disabled]="true">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <span> Add Organization</span>
                                    </button>
                                </span>
                            </li>
                            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" class="header-drp-provider-btn">
                                <button class="dropdown-item" routerLink="add-organization-admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                                (click)="collapseNavbar();newProvider({'label':'Header - Add/Suggest - Add Organization','category':'Add Organization','event':'Internal Link Clicked'})">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <span matTooltip="Add a new Organization to Insights"> Add Organization</span>
                                </button>
                            </li>
                            <li *jhiHasNotAuthority="'ROLE_ADMIN'" class="header-drp-provider-btn">
                                <p-blockUI [target]="addProvider" [blocked]="true" >
                                    <i class="fa fa-lock fa-3x" style="position:absolute;top:81%;left:45%;z-index: 1;font-size: 24px;"></i>
                                </p-blockUI>
                                <span matTooltip="'Your account is not allowed to use this feature. Please upgrade if you would like access to it.'">
                                    <button #addProvider class="dropdown-item" [ngStyle]="{'background-color': 'rgba(0, 0, 0, 0.4)'}" [disabled]="true">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <span>  Add Resource</span>
                                    </button>
                                </span>
                            </li>
                            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" class="header-drp-provider-btn">
                                <button class="dropdown-item" routerLink="add-resource-admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                                (click)="collapseNavbar();newProvider({'label':'Header - Add/Suggest - Add Resource','category':'Add Resource','event':'Internal Link Clicked'})">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <span matTooltip="Add a new Organization to Insights">  Add Resource</span>
                                </button>
                            </li>
                    </ul>
                </li>
                </div>
            </ul>
        <ul class="navbar-nav ml-auto right-menus">
            <!-- <li *ngSwitchCase="false">
                <button mat-button class="text-uppercase" (click)="openApplyDialog()">
                    <span class="headerSignUp" jhiTranslate="global.menu.account.event">Events</span>
                </button>
            </li> -->
           <!--  <li *ngIf="!isAuthenticated()">
                <jhi-generic-search [userSearch]="userSearch"></jhi-generic-search>
            </li> -->
            <li *ngSwitchCase="false" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <button type="button" mat-button class="text-uppercase headerSignUp" routerLink="unproviders" (click)="collapseNavbar();openProvidersPage({'label':'Header - Providers','category':'Providers','event':'Internal Link Clicked'})" matTooltip="Data, Analytics & Research Providers">
                <!-- <a  class="text-uppercase headerSignUp" routerLink="providers" (click)="collapseNavbar();openProvidersPage({'label':'Header - Providers','category':'Providers','event':'Internal Link Clicked'})">
                    <span matTooltip="Data, Analytics & Research Providers">Providers</span>
                </a> -->
                Providers
                </button>
            </li>
            <li *ngSwitchCase="false">
                <a matTooltip="Events Relevant to Investors or Data Professionals">
                    <button type="button" mat-button class="text-uppercase headerSignUp" routerLink="events" (click)="collapseNavbar()">
                        Events
                    </button>
                </a>
            </li>
            <li *ngSwitchCase="false" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <button type="button" mat-button class="text-uppercase headerSignUp" routerLink="news" (click)="collapseNavbar();openLogoutNewsPage({'label':'Header - News','category':'Articles','event':'Restricted Internal Link Clicked'})" matTooltip="News Articles & Blog Posts">
                    News
                </button>
            </li>
            <li *ngSwitchCase="false" ngbDropdown class="nav-item dropdown pointer request-drop-dwn " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="dropdown-toggle request-drop-dwn" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" [ngStyle]="{'color': '#fff'}" matTooltip="Request">
                            <button type="button" mat-button class="text-uppercase headerSignUp nopadding">
                                Request
                                <b class="caret req-dowm-arrow"></b>
                            </button>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item"  (click)="collapseNavbar();openContactDialog('Request for Data (RFD)', 'Amass offers its extensive experience sourcing datasets to its clients. Please describe the data you are seeking in as much detail as possible and we will be in touch soon.', 'requestFindingData', 1)">
                            <span>Request Help Finding Data</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"  (click)="collapseNavbar();openContactDialog('Request for Data Engineering Quote (RFQ)', 'Amass can perform data science, data cleaning, data analysis, and/or other data engineering services on behalf of its clients. Please describe the work you are seeking help with as much detail as possible and we will be in touch soon.', 'requestEngineeringData', 2)">
                            <span>Request Help Engineering Data</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" (click)="collapseNavbar();openContactDialog('Request for Data Sales (RFS)', 'Amass offers assistance to data providers in sales, business development, and distribution in a variety of forms. Please describe the help you are looking to receive in as much detail as possible and we will be in touch soon.', 'requestSellingData', 3)">
                            <span>Request Help Selling Data</span>
                        </a>
                    </li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="dropdown-item" routerLink="/contact-us" (click)="collapseNavbar();">
                            <span>Request Contact With Us</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="collapseNavbar();openApplyDialog({'label':'Header - Sign Up','category':'Sign Up','event':'Popup Link Clicked'})" routerLinkActive="router-link-active"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
                            <span>Request Access to Insights </span>
                        </a>
                    </li>
                 </ul>
            </li>
            <!-- <li *ngSwitchCase="true">
                <button mat-button class="text-uppercase" (click)="openApplyDialog()">
                    <span class="headerSignUp" jhiTranslate="global.menu.account.event">Events</span>
                </button>
            </li> -->
            <li *ngSwitchCase="false">
                <button mat-button class="text-uppercase" (click)="collapseNavbar();openSigninDialog({'label':'Header - Login','category':'Login','event':'Popup Link Clicked'})" id="login">
                    <span class="headerSignUp"><span>Login</span></span>
                </button>
            </li>
            <li *ngSwitchCase="false">
                <button mat-button class="text-uppercase" (click)="collapseNavbar();openApplyDialog({'label':'Header - Sign Up','category':'Sign Up','event':'Popup Link Clicked'})">
                    <span class="headerSignUp" matTooltip="Sign Up for Insights"><span>Access</span></span>
                </button>
            </li>
            <div >
            <li *jhiHasAnyAuthority="'ROLE_INVESTOR'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                <a class="nav-link" routerLink="providers" (click)="collapseNavbar();openProvidersPage({'label':'Header - Providers','category':'Providers','event':'Internal Link Clicked'})">
                    <span matTooltip="Data, Analytics & Research Providers">Providers</span>
                </a>
            </li>
            </div>
            <div>
                <li *jhiHasAnyAuthority="'ROLE_PROVIDER'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <a class="nav-link" routerLink="investors" (click)="collapseNavbar();openProvidersPage({'label':'Header - Investors','category':'Investors','event':'Internal Link Clicked'})">
                        <span matTooltip="Asset Managers">Investors</span>
                    </a>
                </li>
            </div>
            <!-- <div >
            <li *jhiHasNotAuthority="'ROLE_ADMIN'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
                <a class="nav-link" routerLink="categories" (click)="collapseNavbar()">
                    <span jhiTranslate="global.menu.entities.dataCategory" matTooltip="Data Categories">Categories</span>
                 </a>
             </li>
             </div>
             <div >
            <li *jhiHasNotAuthority="'ROLE_ADMIN'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
                <a class="nav-link" routerLink="events" (click)="collapseNavbar()">
                    <span matTooltip="Events Relevant to Investors or Data Professionals">Events</span>
                </a>
            </li>
            </div>
            <div >
            <li *jhiHasNotAuthority="'ROLE_ADMIN'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
                <a class="nav-link" routerLink="news" (click)="collapseNavbar();openNewsPage({'label':'Header - News','category':'News','event':'Internal Link Clicked'})">
                    <span jhiTranslate="global.menu.entities.dataArticle" matTooltip="News Articles & Blog Posts">News</span>
                </a>
            </li>
            </div> -->

            <div>
                <li *jhiHasNotAuthority="'ROLE_ADMIN'" ngbDropdown placement="bottom-left" class="nav-item dropdown pointer">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle [ngStyle]="{'color': '#fff'}" matTooltip="Resources for Data & Investment Professionals">
                        <!-- <i class="fa fa-plus-circle" aria-hidden="true"></i> -->
                            <span>Resources</span>
                        <b class="caret add-btn"></b>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu class="header-drp-provider">
                        <!-- <li *jhiHasNotAuthority="'ROLE_ADMIN'" class="header-drp-provider-btn">
                            <p-blockUI [target]="addProvider" [blocked]="true" >
                                <i class="fa fa-lock fa-3x" style="position:absolute;top:8%;left:45%;z-index: 1;font-size: 24px;"></i>
                            </p-blockUI>
                            <span matTooltip="'Your account is not allowed to use this feature. Please upgrade if you would like access to it.'">
                                <button #addProvider class="dropdown-item" [ngStyle]="{'background-color': 'rgba(0, 0, 0, 0.4)'}" [disabled]="true">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <span>Add Provider</span>
                                </button>
                            </span>
                        </li> -->
                        <li class="header-drp-provider-btn">
                            <button class="dropdown-item" routerLink="categories" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar();newProvider({'label':'Header - Categories','category':'Categories','event':'Internal Link Clicked'})">
                                <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
                                <span matTooltip="Data Categories">Categories</span>
                            </button>
                        </li>
                        <!-- <li *jhiHasNotAuthority="'ROLE_ADMIN'" class="header-drp-provider-btn">
                            <p-blockUI [target]="Suggest" [blocked]="true" >
                                <i class="fa fa-lock fa-3x" style="position:absolute;bottom:8%;left:45%;z-index: 999;font-size: 24px;"></i>
                            </p-blockUI>
                            <button #Suggest class="dropdown-item" [ngStyle]="{'background-color': 'rgba(0, 0, 0, 0.4)', 'cursor': 'not-allowed'}" [disabled]="true">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <span>Suggest Provider</span>
                            </button>
                        </li> -->
                        <li class="header-drp-provider-btn">
                            <button class="dropdown-item" routerLink="events" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                                (click)="collapseNavbar();newProvider({'label':'Header - Events','category':'Events','event':'Internal Link Clicked'})">
                                <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
                                <span matTooltip="Events Relevant to Investors or Data Professionals">Events</span>
                            </button>
                        </li>
                        <!-- <li *jhiHasNotAuthority="'ROLE_ADMIN'" class="header-drp-provider-btn">
                            <p-blockUI [target]="addProvider" [blocked]="true" >
                                <i class="fa fa-lock fa-3x" style="position:absolute;top:56%;left:45%;z-index: 1;font-size: 24px;"></i>
                            </p-blockUI>
                            <span matTooltip="'Your account is not allowed to use this feature. Please upgrade if you would like access to it.'">
                                <button #addProvider class="dropdown-item" [ngStyle]="{'background-color': 'rgba(0, 0, 0, 0.4)'}" [disabled]="true">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <span> Add Organization</span>
                                </button>
                            </span>
                        </li> -->
                        <li class="header-drp-provider-btn">
                            <button class="dropdown-item" routerLink="news" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar();newProvider({'label':'Header - News','category':'News','event':'Internal Link Clicked'})">
                                <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
                                <span matTooltip="News Articles & Blog Posts">News</span>
                            </button>
                        </li>
                        <!-- <li *jhiHasNotAuthority="'ROLE_ADMIN'" class="header-drp-provider-btn">
                            <p-blockUI [target]="addProvider" [blocked]="true" >
                                <i class="fa fa-lock fa-3x" style="position:absolute;top:81%;left:45%;z-index: 1;font-size: 24px;"></i>
                            </p-blockUI>
                            <span matTooltip="'Your account is not allowed to use this feature. Please upgrade if you would like access to it.'">
                                <button #addProvider class="dropdown-item" [ngStyle]="{'background-color': 'rgba(0, 0, 0, 0.4)'}" [disabled]="true">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <span>  Add Resource</span>
                                </button>
                            </span>
                        </li>
                        <li *jhiHasAnyAuthority="'ROLE_ADMIN'" class="header-drp-provider-btn">
                            <button class="dropdown-item" routerLink="add-resource-admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar();newProvider({'label':'Header - Add/Suggest - Add Resource','category':'Add Resource','event':'Internal Link Clicked'})">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <span matTooltip="Add a new Organization to Insights">  Add Resource</span>
                            </button>
                        </li> -->
                    </ul>
                </li>
            </div>

            <div >
            <li *jhiHasNotAuthority="['ROLE_ADMIN','ROLE_SILVER','ROLE_GOLD','ROLE_PLATINUM','ROLE_BRONZE','ROLE_R_SILVER']"   routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
                <a class="nav-link test" routerLink="upgrade" (click)="collapseNavbar()">
                    <span>Upgrade</span>
                </a>
            </li>
            </div>


            <div >
                <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" (click)="entities({'label':'Header - Entities','category':'Entities','event':'Dropdown Link Clicked'})">
                        <span>
                            <i class="fa fa-th-list" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.main" class="menu-text">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li>
                            <a class="dropdown-item" routerLink="providers" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar();entitiesPageNav({'label':'Header - Entities - Providers','category':'Entities','event':'Dropdown Link Clicked'})">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.dataProvider" matTooltip="Data, Analytics & Research Providers">Providers</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="investors" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar();entitiesPageNav({'label':'Header - Entities - Investors','category':'Entities','event':'Dropdown Link Clicked'})">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span matTooltip="Asset Managers">Investors</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="news" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar();entitiesPageNav({'label':'Header - Entities - News','category':'Entities','event':'Dropdown Link Clicked'})">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.dataArticle" matTooltip="News Articles & Blog Posts">News</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="categories" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar();entitiesPageNav({'label':'Header - Entities - Categories','category':'Entities','event':'Dropdown Link Clicked'})">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.dataCategory" matTooltip="Data Categories">Categories</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="events" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span matTooltip="Events Relevant to Investors or Data Professionals">Events</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="amass-user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar();entitiesPageNav({'label':'Header - Entities - Users','category':'Entities','event':'Dropdown Link Clicked'})">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.amassUser">Users</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="amass-user-data-category" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar();entitiesPageNav({'label':'Header - Entities - User Data Categories','category':'Entities','event':'Dropdown Link Clicked'})">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.amassUserDataCategory">User Data Categories</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="amass-user-notification" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar();entitiesPageNav({'label':'Header - Entities - User Notifications','category':'Entities','event':'Dropdown Link Clicked'})">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.amassUserNotification">User Notifications</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="amass-user-provider" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar();entitiesPageNav({'label':'Header - Entities - User Providers','category':'Entities','event':'Dropdown Link Clicked'})">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.amassUserProvider">User Providers</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="admin-role" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar();entitiesPageNav({'label':'Header - Entities - Admin Role','category':'Entities','event':'Dropdown Link Clicked'})">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.adminRole">Admin Role</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="client-role" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar();entitiesPageNav({'label':'Header - Entities - Client Role','category':'Entities','event':'Dropdown Link Clicked'})">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.clientRole">Client Role</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="data-organization" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar();entitiesPageNav({'label':'Header - Entities - Organizations','category':'Entities','event':'Dropdown Link Clicked'})">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.dataOrganization">Organizations</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="data-feature" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar();entitiesPageNav({'label':'Header - Entities - Features','category':'Entities','event':'Dropdown Link Clicked'})">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.dataFeature">Features</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="data-industry" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar();entitiesPageNav({'label':'Header - Entities - Industries','category':'Entities','event':'Dropdown Link Clicked'})">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.dataIndustry">Industries</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="data-source" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar();entitiesPageNav({'label':'Header - Entities - Sources','category':'Entities','event':'Dropdown Link Clicked'})">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.dataSource">Sources</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="data-provider-tag" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar();entitiesPageNav({'label':'Header - Entities - Provider Tags','category':'Entities','event':'Dropdown Link Clicked'})">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.dataProviderTag">Provider Tags</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="data-provider-type" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar();entitiesPageNav({'label':'Header - Entities - Provider Types','category':'Entities','event':'Dropdown Link Clicked'})">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.dataProviderType">Provider Types</span>
                            </a>
                        </li>
                        <li *jhiHasAnyAuthority="'ROLE_ADMIN'">
                            <a class="dropdown-item" routerLink="lookup-code" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar();entitiesPageNav({'label':'Header - Entities - Lookup Code','category':'Entities','event':'Dropdown Link Clicked'})">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span jhiTranslate="global.menu.entities.lookupCode">Lookup Code</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown placement="bottom-right" class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" (click)="admin({'label':'Header - Admin','category':'Admin','event':'Dropdown Link Clicked'})">
                    <span>
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.admin.main" class="menu-text">Admin</span>
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar();adminPageNav({'label':'Header - Admin - User Management','category':'Admin','event':'Dropdown Link Clicked'})">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.userManagement">User Management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="user-requests" routerLinkActive="active" (click)="collapseNavbar();adminPageNav({'label':'Header - Admin - User Requests','category':'Admin','event':'Dropdown Link Clicked'})">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.userRequests">User Requests</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-tracker" routerLinkActive="active" (click)="collapseNavbar();adminPageNav({'label':'Header - Admin - User Tracker','category':'Admin','event':'Dropdown Link Clicked'})">
                            <i class="fa fa-fw fa-eye" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.tracker">User Tracker</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-metrics" routerLinkActive="active" (click)="collapseNavbar();adminPageNav({'label':'Header - Admin - Metrics','category':'Admin','event':'Dropdown Link Clicked'})">
                            <i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-health" routerLinkActive="active" (click)="collapseNavbar();adminPageNav({'label':'Header - Admin - Health','category':'Admin','event':'Dropdown Link Clicked'})">
                            <i class="fa fa-fw fa-heart" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-configuration" routerLinkActive="active" (click)="collapseNavbar();adminPageNav({'label':'Header - Admin - Configuration','category':'Admin','event':'Dropdown Link Clicked'})">
                            <i class="fa fa-fw fa-list" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="audits" routerLinkActive="active" (click)="collapseNavbar();adminPageNav({'label':'Header - Admin - Audits','category':'Admin','event':'Dropdown Link Clicked'})">
                            <i class="fa fa-fw fa-bell" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="logs" routerLinkActive="active" (click)="collapseNavbar();adminPageNav({'label':'Header - Admin - Logs','category':'Admin','event':'Dropdown Link Clicked'})">
                            <i class="fa fa-fw fa-tasks" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="docs" routerLinkActive="active" (click)="collapseNavbar();adminPageNav({'label':'Header - Admin - API','category':'Admin','event':'Dropdown Link Clicked'})">
                            <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                </ul>
            </li>


            <li ngbDropdown placement="bottom-right" class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngSwitchCase="true">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" (click)="account({'label': userName,'category':'Account','event':'Dropdown Link Clicked'})">
                  <span *ngIf="!getImageUrl()">
                  <i class="fa fa-user" aria-hidden="true"></i>
                    <b class="caret"></b>
                 </span>
                  <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                  </span>
                </a>
               <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <span *ngFor="let providerRecordId of providerId">
                            <a class="dropdown-item"  (click)="collapseNavbar();" [routerLink]="['../providers', providerRecordId.providerRecordID ]">
                                <i class="fa fa-user profile-link" aria-hidden="true"></i>
                                <span class="profile-link-txt">{{providerRecordId.providerName}}</span><span> Data Profile</span>
                            </a>
                        </span>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar();account({'label':'Header - Account - Settings','category':'Account','event':'Dropdown Link Clicked'})">
                            <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                            <span>My Account</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_INVESTOR','ROLE_PROVIDER']">
                        <a class="dropdown-item" routerLink="get-started" routerLinkActive="active" (click)="collapseNavbar();account({'label':'Header - Account - Settings','category':'Account','event':'Dropdown Link Clicked'})">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            <span jhiTranslate="Get Started">Get Started</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_PROVIDER']">
                        <a class="dropdown-item" routerLink="provider-onboarding" routerLinkActive="active" (click)="collapseNavbar();account({'label':'Header - Account - Checklist','category':'Account','event':'Dropdown Link Clicked'})">
                            <i class="fa fa-th-list" aria-hidden="true"></i>
                            <span jhiTranslate="Checklist">Checklist</span>
                        </a>
                    </li>
                    <!-- <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar();account({'label':'Header - Account - Change Password','category':'Account','event':'Dropdown Link Clicked'})">
                            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.password">Change Password</span>
                        </a>
                    </li> -->
                    <li *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <a class="dropdown-item" routerLink="sessions" routerLinkActive="active" (click)="collapseNavbar();account({'label':'Header - Account -  Sessions','category':'Account','event':'Dropdown Link Clicked'})">
                            <i class="fa fa-fw fa-cloud" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.sessions">Sessions</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" id="logout" (click)="logout({'label':'Header - Account - Logout','category':'Logout','event':'Internal Link Clicked'});collapseNavbar();">
                            <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.logout">Logout</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
