::ng-deep jhi-formly-autocomplete .ui-fluid .ui-autocomplete .ui-autocomplete-dropdown.ui-button {
    min-height: 32px !important;
}

::ng-deep jhi-formly-autocomplete .ui-fluid .ui-autocomplete.ui-autocomplete-dd .ui-inputtext {
    margin-right: -4px !important;
    border-right: 1px solid #a6a6a6 !important;
}

::ng-deep jhi-formly-autocomplete .ui-fluid .ui-autocomplete.ui-autocomplete-multiple.ui-autocomplete-dd .ui-autocomplete-multiple-container {
    border-right: 1px solid #a6a6a6 !important;
    width: calc(100% - 2.357em) !important;
}

::ng-deep formly-field.disableSelectedValue .ui-autocomplete-token {
    display: none !important;
}

::ng-deep .ui-multiselect-header .ui-multiselect-filter-container {
    width: 95% !important;
}

::ng-deep jhi-formly-slider .ui-slider {
    background-color: #c8c8c8 !important;
    background: #c8c8c8 !important;
}

::ng-deep jhi-formly-slider .ui-slider.ui-slider-horizontal {
    height: 4px !important;
}

::ng-deep jhi-formly-slider .ui-slider .ui-slider-handle {
    width: 15px !important;
    height: 15px !important;
    top: -5px !important;
    background-color: #fff !important;
    background: #fff !important;
    border: 2px solid #666666;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

::ng-deep jhi-formly-slider .ui-slider .ui-slider-range {
    background-color: #007ad9 !important;
}

::ng-deep jhi-formly-radio .ui-radiobutton, .ui-radiobutton-label {
    margin-bottom: 0px;
}

::ng-deep jhi-formly-radio .ui-radiobutton-box {
    width: 20px;
    height: 20px;
}
 ::ng-deep jhi-formly-dropdown .custom-dropdown.ui-dropdown-panel {
    position: sticky !important;
}
::ng-deep jhi-formly-dropdown .widthSticky-dropdown.ui-dropdown-panel {
    position: sticky !important;
}
::ng-deep formly-field.widthSticky-dropdown .ui-dropdown.ui-dropdown-clearable .ui-dropdown-label-container {
    width: 0px !important;
}
::ng-deep formly-field.widthSticky-dropdown .ui-dropdown.ui-dropdown-clearable .ui-dropdown-label {
    padding-right: 11em !important;
}
::ng-deep jhi-formly-dropdown .mediumWidthSticky-dropdown.ui-dropdown-panel {
    position: sticky !important;
}
::ng-deep formly-field.mediumWidthSticky-dropdown .ui-dropdown.ui-dropdown-clearable .ui-dropdown-label-container {
    width: 0px !important;
}
::ng-deep formly-field.mediumWidthSticky-dropdown .ui-dropdown.ui-dropdown-clearable .ui-dropdown-label {
    padding-right: 15.1em !important;
}
::ng-deep jhi-formly-dropdown .smallWidthSticky-dropdown.ui-dropdown-panel {
    position: sticky !important;
}
::ng-deep formly-field.smallWidthSticky-dropdown .ui-dropdown.ui-dropdown-clearable .ui-dropdown-label-container {
    width: 0px !important;
}
::ng-deep formly-field.smallWidthSticky-dropdown .ui-dropdown.ui-dropdown-clearable .ui-dropdown-label {
    padding-right: 11em !important;
}
::ng-deep formly-field .customWidth {
    width: 200px !important;
}
::ng-deep formly-field.widthSticky-dropdown .ui-dropdown {
    width: 200px !important;
}
::ng-deep formly-field.mediumWidthSticky-dropdown .ui-dropdown {
    width: 220px !important;
}
::ng-deep formly-field.smallWidthSticky-dropdown .ui-dropdown {
    width: 100px !important;
}
::ng-deep formly-field.customSmallWidth-dropdown .ui-dropdown {
    width: 100px !important;
}
::ng-deep formly-field.customMediumWidth-dropdown .ui-dropdown {
    width: 220px !important;
}
::ng-deep formly-field.customWidth-dropdown .ui-dropdown {
    width: 250px !important;
}
::ng-deep formly-field.customLargeWidth-dropdown .ui-dropdown {
    width: 285px !important;
}
::ng-deep jhi-formly-multiselect .custom-multiselect.ui-multiselect-panel {
    position: sticky !important;
}
::ng-deep .ui-multiselect {
    display: inline-block !important;
    position: relative !important;
    width: 100% !important;
    cursor: pointer !important;
}
::ng-deep .ui-dropdown {
    display: inline-block !important;
    position: relative !important;
    /* width: 100% !important; */
    cursor: pointer !important;
}
::ng-deep .ql-container .ql-tooltip.ql-editing {
    z-index: 10;
}

::ng-deep jhi-formly-fileupload .ui-fluid .ui-button {
    width: 80px !important;
}

::ng-deep formly-field.Width .ui-fluid {
    margin-left: 174px !important;
    margin-right: -174px !important;
}
/* ::ng-deep formly-field .customInputDoc input{
    float: right !important;
    margin-left: 175px !important;
} */
::ng-deep formly-field.customInputDoc .ui-inputtext {
    margin-left: 175px !important;
    width: 846px;
}
::ng-deep formly-field.ng-star-inserted.customButton button {
    margin-left: 175px !important;
}
::ng-deep formly-field.addCustomButton .ui-button {
 /*  margin-left: 173px !important; */
    margin-left: 0px !important;
    margin-bottom: 10px;
    padding: 2px;
    width: 200px !important;
    color: #fff;
    background-color: #fe5722 !important;
    border-color: #fe5722 !important;
}
::ng-deep formly-field.providerCustomButton .ui-button{
    background-color: #ffffff;
    color: #212121;
    border: none;
    margin-left: -15px;
    font-family: OpenSans-Bold !important;
    font-weight: bold;
}
::ng-deep formly-field.providerCustomButton .ui-button:hover{
    background-color: #ffffff;
    color: #212121;
    border: none;
    margin-left: -15px;
    font-family: OpenSans-Bold !important;
    font-weight: bold;
}
::ng-deep formly-field button.providerCustomButton.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:hover {
    background-color: #ffffff;
    color: #212121;
    border: none;
    margin-left: -15px;
    font-family: OpenSans-Bold !important;
    font-weight: bold;
}
::ng-deep formly-field.providerCustomButton .ui-button .ui-button-text {
    font-family: OpenSans-Regular;
    font-size: 14px;
    font-weight: 500;
}
::ng-deep formly-field.ng-star-inserted.providerCustomButton button.btn-info {
    color: #fff;
    background-color: #ffffff !important;
    border: none !important;
}
::ng-deep formly-field.ui-widget-header .ui-button:enabled:hover, .ui-widget-header .ui-button:focus, .ui-widget-content .ui-button:enabled:hover, .ui-widget-content .ui-button:focus, .ui-widget.ui-button:enabled:hover, .ui-widget.ui-button:focus, .ui-button:enabled:hover, .ui-button:focus {
    border: 1px solid #ffffff !important;
    background: #ffffff !important;
    outline: 0 none;
}
::ng-deep formly-field.addCustomButton .ui-button .ui-button-text {
    font-family: OpenSans-Regular;
    font-size: 14px;
    font-weight: 500;
}
::ng-deep formly-field.ng-star-inserted.customButton button.btn-info {
    color: #fff;
    background-color: #fe5722 !important;
    border-color: #fe5722 !important;
}
::ng-deep formly-field.ng-star-inserted .ui-inputtext.ng-dirty.ng-invalid {
    border: 1px solid red;
}
