.data-list {
    font-family: OpenSans-Regular;
    margin-bottom: 10px;
}

.data-list .blurText {
    color: transparent !important;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-shadow: 0px 0px 0px 10px #e7e7e7;
}

.data-list .media-body .mat-card {
    padding: 5px 8px;
    min-height: 165px;
    /* overflow: auto; */
}

.data-list .media-body .mat-card .row {
    margin-left: 0;
    margin-right: 0;
}

.data-list .media-body .media-heading {
    font-size: 1em;
    font-weight: bold;
}

.data-list .media-body .media-heading a {
    color: #333;
    display: block;
    margin: 3px 0;
}

.data-list .media-body .media-heading a:hover {
    text-decoration: none;
}

.data-list .media-body .media-text {
    font-size: 0.8em;
    margin-bottom: 10px;
}

.data-list .media-body .media-text .col-md-3:not(:last-child), .data-list .media-body .media-text .col-md-4:not(:last-child) {
    border-right: 1px solid #ddd;
}

.data-list .media-body .media-text .grey-text {
    color: #858585;
}

.media-text a{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.data-list .media-desc {
    color: #858585;
    font-size: 0.9em;
}

.data-list .truncate-text {
    display: -webkit-box;
    line-height: 1.4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.media-desc a{
    font-family: OpenSans-Light;
}

.data-logo {
    margin-right: 15px;
    margin-top: 5px;
    width: 115px;
}

.row.media-text{
    margin-left: 10px;
}

.data-list .data-list-logo {
    margin-right: 10px;
}

/* Sortby Bar */
.amass-sortbar {
    background-color: #fff;
    margin: 10px 0;
}
.static-summary{
    margin-top: 5px;
}
.static-list-bg{
    background-color: #fe5722;
    color: #fff;
}
.static-list-txt {
    color: #fff !important;
}

.loader{
    margin-left: 340px;
    margin-top:100px;
    transition-duration: 0s;
    transition-delay: 0s;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    stroke-dasharray: 300px;
    animation-duration: 10s;
    stroke-width: 5%;
    transition: stroke-dashoffset 100ms linear;
}
  .spinner {
	display: block;
	margin-top: 2em;
	margin-right: auto;
	margin-left: auto;
	width: 4em;
	height: 4em;
    padding: 7px;
	border-radius: 50%;
	transform: scale(.7);
}

.medium {
  transform: scale(1)
}


.spinner-wrapper {
	position: relative;
	width: 4em;
	height: 4em;
	border-radius: 100%;
	left: calc(50% - 2em);
}

.spinner-wrapper::after {
	content: "";
	background: #e4e5e6;
	border-radius: 50%;
	width: 3em;
	height: 3em;
	position: absolute;
	top: 0.5em;
	left: 0.5em;
}

.rotator {
	position: relative;
	width: 4em;
	border-radius: 4em;
	overflow: hidden;
	animation: rotate 2000ms infinite linear;
}

.rotator:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #3F51B5;
	border: 3px solid #e4e5e6;
	border-radius: 100%;
}

.inner-spin {
	background: #e4e5e6;
	height: 4em;
	width: 2em;
}

.inner-spin {
	animation: rotate-left 2500ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
	border-radius: 2em 0 0 2em;
	transform-origin: 2em 2em;
}

.inner-spin:last-child {
	animation: rotate-right 2500ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
	margin-top: -4em;
	border-radius: 0 2em 2em 0;
	float: right;
	transform-origin: 0 50%;
}
.infinite{
    bottom: 10px;
}

@media screen and (max-width: 1024px) {
    .sortbar-count-container {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .amass-sortbar .jh-navbar-toggler {
        display: none;
    }
}

.amass-sortbar .jh-navbar-toggler {
    line-height: 40px;
}

.amass-sortbar .navbar-collapse:not(.show) .navbar-nav .nav-item {
    min-width: 200px;
    text-align: center;
}

.amass-sortbar.navbar-expand-lg .navbar-collapse:not(.show) .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 1px solid #ddd;
}

.drp-down-btn{
    min-width: 230px !important;
}

.btn-share
{
    border: none;
    position: relative;
    min-width: 135px !important;
    height: 28px;
    text-align: left;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
    background:#fe5722;
    font-weight: 600;
    margin: 1px 0;
}
.btn-share img
{
	display: inline-block;
    vertical-align: middle;
   /*  margin-bottom: 2px; */
}
.btn-share i
{
	display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
}
.btn-share span
{
	display:inline-block;
    vertical-align:middle;
    padding: 4px;
/*     letter-spacing: 1px; */
}
.nopadding{
    padding: 0;
}
.float-right{
    float: right;
}
.relecvant-provider{
    text-align: center;
    padding: 0;
}
.relecvant-provider a{
    color: #438afe;
}
.relecvant-provider img{
    margin: 5px 0px;
}
.relecvant-provider-label{
    font-size: 1em;
    font-weight: bold;
}
.relecvant-provider-link{
    cursor: pointer;
    text-decoration: none;
}
.section-margin{
    margin: 20px 0;
}
.upcoming-btn{
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.slider-transition{
    /* -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
     transition: all 1s ease-in-out; */
     transition: 0.9s;
 }
 .card-shadow{
    box-shadow: 0px 2px 5px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 2px 5px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 2px 5px 4px rgba(119, 119, 119, 0.75);
 }
 .recent-provider-title{
    color: #438afe;
    justify-content: center;
    display: flex;
    font-size: 18px;
    margin-top: 15px;
 }
