<div class="container slider-transition scroll-smooth" [ngStyle]="{'min-height':'500px'}">
    <section class="section-margin">
        <div class="row scroll-smooth">
            <div class="col-md-12 scroll-smooth" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last'] || loaderInfinite">
                <div class="spinner-sec">
                   <!--  <jhi-spinner [show]="loader"></jhi-spinner> -->
                </div>
                <div>
                    <h4 class="recent-provider-title" (click)="upcomingEventsHeader()">Upcoming Events Related to Alternative Data</h4>
                    <div *ngFor="let dataEvent of dataEvents; trackBy: trackByRecordID; let index = index;" class="provider-list">
                        <div class="media">
                            <div class="media-body">
                                <mat-card class="card-shadow scroll-smooth">
                                    <div class="row scroll-smooth">
                                        <div class="clear col-md-12 no-padding">
                                            <h4 class="media-heading"><a (click)="eventProfile({'label':'Home - Examples - Upcoming Event','category':'Event Details','event': 'Internal Link Clicked'})">{{dataEvent.eventEditionNames}}</a></h4>
                                        </div>
                                    </div>
                                    <div class="row media-text scroll-smooth" *ngIf="dataEvent.topics || dataEvent.industries || dataEvent.categories">
                                        <div class="col-md-4">
                                            <span *ngIf='dataEvent.topics'>
                                                <span class="grey-text"><a (click)="openSignUp()" class="clickable-link">Topics:</a></span> <br>
                                                <span *ngFor="let topics of dataEvent.topics; let last = last">
                                                    <a class="home-event-link" (click)="logoutUsers({'label':'Home - Examples - Upcoming Event','category':'Event Details','Event Details': 'Internal Link Clicked'})">{{topics.desc}}</a>{{last ? '' : ', '}}
                                                </span>
                                            </span>
                                        </div>
                                        <div class="col-md-4">
                                            <span *ngIf='dataEvent.industries'>
                                                <span class="grey-text"><a (click)="openSignUp()" class="clickable-link">Industries:</a></span> <br>
                                                <span *ngFor="let industry of dataEvent.industries; let last = last">
                                                    <a class="home-event-link" (click)="logoutUsers({'label':'Home - Examples - Upcoming Event','category':'Event Details','Event Details': 'Internal Link Clicked'})">{{industry.desc}}</a>{{last ? '' : ', '}}
                                                </span>
                                            </span>
                                        </div>
                                        <div class="col-md-4">
                                            <span *ngIf='dataEvent.categories'>
                                                <span class="grey-text"><a (click)="openSignUp()" class="clickable-link">Categories:</a></span> <br>
                                                <span *ngFor="let category of dataEvent.categories; let last = last">
                                                    <a class="home-event-link" (click)="logoutUsers({'label':'Home - Examples - Upcoming Event ','category':'Event Details','Event Details': 'Internal Link Clicked'})">{{category.desc}}</a>{{last ? '' : ', '}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row scroll-smooth">
                                        <div class="clear col-md-12" *ngIf="dataEvent.description">
                                            <p class="media-desc truncate-text" (click)="openSignUp()">
                                                {{dataEvent.description}}
                                            </p>
                                        </div>
                                        <div class="clear col-md-12">
                                            <div class="col-md-4 pull-left media-desc">
                                                <div (click)="openSignUp()"><strong *ngIf="dataEvent.startTime">Start:</strong> {{dataEvent.startTime | date}}</div>
                                            </div>
                                            <div class="col-md-4 pull-left media-desc">
                                                <div (click)="openSignUp()"><strong *ngIf="dataEvent.endTime">End:</strong> {{dataEvent.endTime | date}}</div>
                                            </div>
                                            <div class="col-md-4 pull-left">
                                                <div (click)="openSignUp()"><span class="text-center pull-right amass-progressbar-container" [ngStyle]="{'padding-right':'5px'}">
                                                    <a class="clickable-link">
                                                        <mat-progress-bar class="amass-progressbar amass-progressbar-default" aria-label="% Complete" [color]="'primary'" [mode]="'determinate'" [value]="dataEvent.completeness" [bufferValue]="dataEvent.completeness"><span>{{dataEvent.completeness}}% Complete</span></mat-progress-bar>
                                                    </a>
                                                </span></div>
                                                <div (click)="openSignUp()" class="amass-progressbar-value progress-value" [matTooltip]="dataEvent.completeness + '% ' + 'percent of this event\'s details that has been filled in'"><span>{{dataEvent.completeness}}% Complete</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                    <div class="upcoming-btn" *ngIf='dataEvents.length'>
                        <button class="home-button" type="button" mat-raised-button color="warn" (click)="upcomingEvents({'label':'Home - Examples - Upcoming Event - Button - See More','category':'Event Details','event': 'External Link Clicked'})">See More Upcoming Events</button>
                    </div>
                </div>
                <div class="spinner-sec">
                    <!-- <jhi-spinner [show]="loaderInfinite"></jhi-spinner> -->
                </div>
               <!--  <div *ngIf="limitedEvents && !limitedLogoutUsersEvent" class="justify-content-center">
                    <div class="alert" [ngStyle]="{'font-weight':'bolder'}">
                        {{limitedEvents}}
                    </div>
                </div>
                <div *ngIf="limitedLogoutUsersEvent" class="justify-content-center">
                    <div class="alert" [ngStyle]="{'font-weight':'bolder'}">
                        There are many more Events & Blog Posts we can show you. Please Sign Up for access to them.
                    </div>
                </div> -->
            </div>
        </div>
    </section>
</div>
