<div class="container slider-transition scroll-smooth" [ngStyle]="{'min-height':'480px'}">
    <jhi-alert></jhi-alert>
    <section class="section-margin scroll-smooth">
        <div class="row scroll-smooth">
            <div class="col-sm-12">
                    <!--  <div class="spinner-sec">
                            <jhi-spinner [show]="loader"></jhi-spinner>
                    </div> -->
                <h4 class="recent-provider-title" (click)="recentNews({'category': 'Home - Examples - Recent News', 'event': '', 'action': ''})">Recent News & Blogs Related to Alternative Data</h4>
                <div *ngFor="let dataArticle of dataArticles" class="data-list">
                    <div class="media">
                        <div class="media-body scroll-smooth">
                            <mat-card class="card-shadow scroll-smooth" [ngStyle]="{'min-height': dataArticle.visualUrl? '195px' : ''}">
                                <h4 class="media-heading">
                                    <a *ngIf="dataArticle.visualUrl" class="pull-left" [href]="dataArticle.url" target="_blank">
                                        <img [ngStyle]="{'max-height': dataArticle.relevantProviders? '170px' : '145px'}" [src]="_DomSanitizer.bypassSecurityTrustUrl(dataArticle.visualUrl)" onerror="this.style.display='none'" style="width:128px" class="data-list-logo"/>
                                    </a>
                                    <a [ngClass]="{'blurText': (dataArticle.authorDataProvider && dataArticle.authorDataProvider.locked)}" (click)="articleLink(dataArticle.url)">
                                        {{dataArticle.title}}
                                    </a>
                                </h4>
                                <div class="row">
                                    <div class="grey-text media-desc col-md-6 no-padding" *ngIf="(dataArticle.authorDataProvider && dataArticle.authorDataProvider.providerName && dataArticle.authorDataProvider.providerName !== 'RECORD_NULL') || (dataArticle.authorOrganization && dataArticle.authorOrganization.name && dataArticle.authorOrganization.name !== 'NAME_NULL') || dataArticle.stream || (dataArticle.author && dataArticle.author != 'PROVIDER_NULL')" [ngClass]="{'blurText': (dataArticle.authorDataProvider && dataArticle.authorDataProvider.locked)}" (click)="articleLink(dataArticle.url)">
                                        by <span *ngIf="(dataArticle.authorDataProvider && dataArticle.authorDataProvider.providerName && dataArticle.authorDataProvider.providerName !== 'RECORD_NULL' && dataArticle.authorDataProvider.providerName !== 'PROVIDER_NULL'); else authorOrganization">{{dataArticle.authorDataProvider.providerName}}</span>
                                        <ng-template #authorOrganization>
                                            <ng-container *ngIf="(dataArticle.authorOrganization && dataArticle.authorOrganization.name && dataArticle.authorOrganization.name !== 'NAME_NULL'); else stream">{{dataArticle.authorOrganization.name}}</ng-container>
                                        </ng-template>
                                        <ng-template #stream><ng-container *ngIf="dataArticle.stream; else author">{{dataArticle.stream}}<br></ng-container></ng-template>
                                        <ng-template #author >{{dataArticle.author}}</ng-template>
                                    </div>
                                    <div class="pull-right text-right media-text no-padding" (click)="articleLink(dataArticle.url)" [ngClass]="(dataArticle.authorDataProvider && dataArticle.authorDataProvider.providerName && dataArticle.authorDataProvider.providerName !== 'RECORD_NULL') || (dataArticle.authorOrganization && dataArticle.authorOrganization.name && dataArticle.authorOrganization.name !== 'NAME_NULL') || dataArticle.stream || (dataArticle.author && dataArticle.author != 'PROVIDER_NULL')? 'col-md-6' : 'col-md-12'">
                                        <span class="media-desc">
                                                <strong>Published: </strong>{{dataArticle.publishedDate | date : 'mediumDate'}}
                                        </span>
                                    </div>
                                    <div class="col-md-6 pull-left media-text no-padding-left">
                                        <span class="grey-text media-desc" *ngIf="dataArticle.purpose && dataArticle.purpose.length">
                                            <strong>Purposes: </strong>
                                            <span *ngFor="let purposes of dataArticle.purpose; let last = last">
                                                <a (click)="logoutUsersArticle({'label':'Home - Examples - Recent News','category':'Article','event': 'External Link Clicked'})">{{purposes.purpose}}</a>{{last ? '' : ', '}}
                                            </span>
                                        </span>
                                    </div>
                                    <div class="col-md-6 pull-right text-right media-text no-padding-right" *ngIf="dataArticle.articleTopics && dataArticle.articleTopics.length">
                                        <span class="grey-text media-desc">
                                            <strong>Topics: </strong>
                                            <span *ngFor="let topics of dataArticle.articleTopics; let last = last">
                                                <a (click)="logoutUsersArticle({'label':'Home - Examples - Recent News','category':'Article','event': 'External Link Clicked'})">{{topics.topicName}}</a>{{last ? '' : ', '}}
                                            </span>
                                        </span>
                                    </div>
                                    <div  [ngClass]="dataArticle.visualUrl ? 'col-md-9' :'col-md-10'">
                                        <p class="media-desc truncate-text col-md-12 no-padding" (click)="articleLink(dataArticle.url)"  *ngIf="dataArticle.summary" [ngClass]="{'blurText': (dataArticle.authorDataProvider && dataArticle.authorDataProvider.locked)}">
                                            {{dataArticle.summary}}
                                        </p>
                                    </div>
                                    <div class=" nopadding" [ngClass]="dataArticle.visualUrl ? 'col-md-3' :'col-md-2'">
                                        <div class="dropdown list-padding share-buttons-wrapper pull-right" ngbDropdown placement="bottom-right">
                                            <button matTooltip="Share This Article" class="btn btn-lock dropdown-toggle text-uppercase" ngbDropdownToggle type="button" id="shareMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: -24px;" (click)="shareArticle({'label':'Home - Examples - Recent News - Button - Share','category':'Article','event': 'Share Link Clicked'})">
                                                <img src="../../../content/images/icons/White-Share-icon-original.png" class="share-img" />
                                                <span>Share</span>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-left" ngbDropdownMenu aria-labelledby="shareMenuButton">
                                                <share-button class="dropdown-menu-item"
                                                    [button]="'email'"
                                                    [showText]="true"
                                                    [autoSetMeta]="false"
                                                    [description]="dataArticle?.emailText"
                                                    [title]="'Article You Need to See'"
                                                    [url]="dataArticle?.url"
                                                    (click)="shareArticle({'label':'Home - Examples - Recent News - Button - Share - Email','category':'Article','event': 'Share Link Clicked'})"
                                                    [matTooltip]="'Share This Article Through Email'"
                                                ></share-button>
                                                <share-button class="dropdown-menu-item"
                                                    [button]="'linkedin'"
                                                    [showText]="true"
                                                    [autoSetMeta]="false"
                                                    [description]="dataArticle?.linkedInText"
                                                    [title]="'Article You Need to See'"
                                                    [url]="dataArticle?.url"
                                                    (click)="shareArticle({'label':'Home - Examples - Recent News - Button - Share - LinkedIn','category':'Article','event': 'Share Link Clicked'})"
                                                    [matTooltip]="'Share This Article Through LinkedIn'"
                                                ></share-button>
                                                <share-button class="dropdown-menu-item"
                                                    [button]="'twitter'"
                                                    [showText]="true"
                                                    [autoSetMeta]="false"
                                                    [description]="dataArticle?.twitterText"
                                                    [title]="'Article You Need to See'"
                                                    [url]="dataArticle?.url"
                                                    (click)="shareArticle({'label':'Home - Examples - Recent News - Button - Share - Twitter','category':'Article','event': 'Share Link Clicked'})"
                                                    [matTooltip]="'Share This Article Through Twitter'"
                                                ></share-button>
                                                <share-button class="dropdown-menu-item"
                                                    [button]="'copy'"
                                                    [showText]="true"
                                                    [url]="dataArticle?.url"
                                                    [autoSetMeta]="false"
                                                    (click)="shareArticle({'label':'Home - Examples - Recent News - Button - Share - Link','category':'Article','event': 'Share Link Clicked'})"
                                                    [matTooltip]="'Copy the Link to this Article'"
                                                ></share-button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 nopadding" *ngIf="dataArticle.relevantProviders">
                                        <div class="col-md-12 nopadding" *ngIf="dataArticle.relevantProviders?.length > 0"><h4 class="relecvant-provider-label">Related Providers</h4></div>
                                        <div class="pull-left relecvant-provider" *ngFor="let relevantProvider of dataArticle.relevantProviders | slice: 0:4; let i = index">
                                            <img class="pull-left relecvant-provider-link" *ngIf="relevantProvider.logo && relevantProvider.logo.logo && !relevantProvider.locked" src="data:image/png;base64,{{relevantProvider.logo.logo}}" width="55px" height="55px">
                                            <div class="pull-left" [ngStyle]="{'padding': '15px 3px'}" *ngIf="relevantProvider.providerName && relevantProvider.logo">
                                                <a class="relecvant-provider-link" [ngClass]="{'blurText': relevantProvider.locked}" [matTooltip]=" relevantProvider.locked? 'Your account does not have permission to view this.' : ''" >{{relevantProvider.providerName}}</a>
                                            </div>
                                        </div>
                                        <!-- <p *ngIf="dataArticle.relevantProviders.length > 5">+{{dataArticle.relevantProviders.length - 5}} Related Providers</p> -->
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <div class="upcoming-btn" *ngIf='dataArticles.length'>
                        <button class="home-button" type="button" mat-raised-button color="warn" (click)="recentNews({'label':'Home - Examples - Recent News - Button - See More','category':'Article','event': 'External Link Clicked'})">See More Recent News</button>
                </div>
            </div>
        </div>
    </section>
</div>
