<div class="page-title">
    <span class="text-uppercase">{{pageTitle}}</span>
</div>
<section class="content-wrapper">
    <div class="container">
        <mat-card>
            <div class="col-md-8">
                <h1 jhiTranslate="error.title">Error!</h1>

                <div [hidden]="!errorMessage">
                    <div class="alert">{{errorMessage}}
                    </div>
                </div>
                <div [hidden]="!error403" class="alert" jhiTranslate="error.403">You are not authorized to access this page.
                </div>
                <button type="button" mat-raised-button color="warn" (click)="goBack({'label':'Access Denied - Go Back','category':'Access Denied','event': 'Internal Link Clicked'})" *ngIf="isLoggedIn">Go Back</button>

                <button type="button" mat-raised-button color="warn" (click)="login()" *ngIf="!isLoggedIn">Login to Insights</button>
            </div>
        </mat-card>
    </div>
</section>
