<div class="page-title">
    <span class="text-uppercase">{{pageTitle}}</span>
</div>
<section class="content-wrapper">
    <div class="container">
        <mat-card>
            <div class="col-md-12">
                <div class="text-center">
                    <img src="../../../content/images/icons/404.png" />
                    <h1 class="opensans-bold">404</h1>
                    <p>Sorry, but this page doesn't exist.</p>

                    <p><a [routerLink]="['/contact-us']" (click)="contactUs({'label':'404 Error - Contact Us','category':'Contact Us','event': 'Internal Link Clicked'})">Contact Us</a> and let us know if this is an error.</p>

                    <p>Return to<a [routerLink]="['/']" (click)="home({'label':'404 Error - Home','category':'Home','event': 'Internal Link Clicked'})">Home</a></p>
                </div>
            </div>
        </mat-card>
    </div>
</section>
