<div class="page-title">
    <span class="text-uppercase">News Article or External Blog Post</span>
</div>
<div class="container">
    <div class="mat-list" *ngIf="dataArticle">
        <mat-card class="article-list-bg">
            <div class="col-md-12 row">
                <div class="col-sm-9">
                    <div  class="data-list col-md-12" [ngStyle]="{'margin-top': '10px'}">
                        <div class="media col-md-12">
                            <div class="media-body col-md-12">
                                <h4 class="media-heading">
                                    <a>{{dataArticle.title}}</a>
                                </h4>
                                <div>
                                    <div class="grey-text media-desc article-list-title">
                                        <span >{{dataArticle.publishedDate | date : 'mediumDate'}}</span> |
                                        <span class="grey-text media-desc col-md-6 no-padding" *ngIf="(dataArticle.authorDataProvider && dataArticle.authorDataProvider.providerName && dataArticle.authorDataProvider.providerName !== 'RECORD_NULL') || (dataArticle.authorOrganization && dataArticle.authorOrganization.name && dataArticle.authorOrganization.name !== 'NAME_NULL') || dataArticle.stream || (dataArticle.author && dataArticle.author != 'PROVIDER_NULL')" [ngClass]="{'blurText': (dataArticle.authorDataProvider && dataArticle.authorDataProvider.locked)}">
                                            by <span *ngIf="(dataArticle.authorDataProvider && dataArticle.authorDataProvider.providerName && dataArticle.authorDataProvider.providerName !== 'PROVIDER_NULL'); else authorOrganization" >
                                                    <a *ngIf="dataArticle.authorDataProvider && dataArticle.authorDataProvider.recordID && dataArticle.authorDataProvider.recordID !== 'PROVIDER_NULL'" [routerLink]="['../../providers', dataArticle.authorDataProvider.recordID]" (click)="articlePage({'label':'Article - Author','category':'Article','event': 'Internal Link Clicked'})">{{dataArticle.authorDataProvider.providerName}}</a>
                                                    <a *ngIf="dataArticle.authorDataProvider && dataArticle.authorDataProvider.recordID && dataArticle.authorDataProvider.recordID === 'PROVIDER_NULL'" (click)="articlePage({'label':'Article - Author','category':'Article','event': 'Internal Link Clicked'})">{{dataArticle.authorDataProvider.providerName}}</a>
                                                </span>
                                            <ng-template #authorOrganization>
                                                <ng-container *ngIf="(dataArticle.authorOrganization && dataArticle.authorOrganization.name && dataArticle.authorOrganization.name !== 'NAME_NULL'); else stream">
                                                    <a *ngIf="dataArticle.authorOrganization && dataArticle.authorOrganization.recordID && dataArticle.authorOrganization.recordID !== 'RECORD_NULL'" (click)="articlePage({'label':'Article - Author','category':'Article','event': 'Internal Link Clicked'})">{{dataArticle.authorOrganization.name}}</a>
                                                    <a *ngIf="dataArticle.authorOrganization && dataArticle.authorOrganization.recordID === 'RECORD_NULL'" (click)="articlePage({'label':'Article - Author','category':'Article','event': 'Internal Link Clicked'})">{{dataArticle.authorOrganization.name}}</a>
                                                </ng-container>
                                            </ng-template>
                                            <ng-template #stream><ng-container *ngIf="dataArticle.stream; else author">{{dataArticle.stream}}<br></ng-container></ng-template>
                                            <ng-template #author>{{dataArticle.author}}</ng-template>
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <a  class="pull-left" [routerLink]="['/blog']">
                                        <img [src]="_DomSanitizer.bypassSecurityTrustUrl(dataArticle.visualUrl)" onerror="this.style.display='none'" style="width:665px" class="data-list-logo"/>
                                    </a>
                                </div>
                                <div class="article-list-title">
                                    <div *ngIf="dataArticle.summary"><strong >Summary:</strong></div>
                                    <p class="media-desc truncate-text col-md-12 no-padding static-summary" >
                                            {{dataArticle.summary}}
                                    </p>
                                    <div *ngIf="dataArticle.url"><a class="link" [href]="dataArticle.url" target="_blank" (click)="articlePage({'label':'Article - Button - See Full Article','category':'Article','event': 'External Link Clicked'})">See Full Article</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div  class="data-list" [ngStyle]="{'margin-top': '70px'}">
                        <div class="media">
                            <div class="media-body">
                                <div class="col-md-12 row nopadding no-margin">
                                    <div class="col-md-12 nopadding" *ngIf="dataArticle.relevantProviders && dataArticle.relevantProviders.length"><h4 class="relecvant-provider-label">Related Providers</h4></div>
                                    <div class="pull-left relecvant-provider-margin" *ngFor="let relevantProvider of dataArticle.relevantProviders | slice: 0:4; let i = index">
                                        <div class="pull-left related-sec-pad">
                                            <img class="pull-left relecvant-provider-link" (click)="relatedProviderLogo(relevantProvider.providerName)" [routerLink]="['../../providers', relevantProvider.recordID]" *ngIf="relevantProvider.logo && !relevantProvider.locked" src="data:image/png;base64,{{relevantProvider.logo.logo}}" width="55px" height="55px">
                                        </div>
                                        <div class="pull-left related-sec-pad" *ngIf="relevantProvider.providerName">
                                            <a class="relecvant-provider-link relecvant-provider-name" (click)="relatedProviderLink(relevantProvider.providerName)" [ngClass]="{'blurText': relevantProvider.locked}" [matTooltip]=" relevantProvider.locked? 'Your account does not have permission to view this.' : ''" [routerLink]="['../../providers', relevantProvider.recordID]">{{relevantProvider.providerName}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 row nopadding no-margin">
                                    <div class="media-text no-padding-right">
                                        <span class="grey-text media-desc" *ngIf="dataArticle.articleTopics && dataArticle.articleTopics.length">
                                            <strong>Topics: </strong>
                                            <span *ngFor="let topics of dataArticle.articleTopics; let last = last">
                                                <a (click)="topicLink(topics.topicName)" [routerLink]="['/news']" [queryParams]="{ filter1: 'articleTopics.id', value1: topics?.id, type1: 'checkbox' }">{{topics.topicName}}</a>{{last ? '' : ', '}}
                                            </span>
                                        </span>
                                    </div>
                                    <div class="media-text no-padding-left">
                                        <span class="grey-text media-desc" *ngIf="dataArticle.purpose && dataArticle.purpose.length">
                                            <strong>Purposes: </strong>
                                            <span *ngFor="let purposes of dataArticle.purpose; let last = last">
                                                <a (click)="purposeLink(purposes.purpose)" [routerLink]="['/news']" [queryParams]="{ filter1: 'purpose.id', value1: purposes?.id, type1: 'checkbox' }">{{purposes.purpose}}</a>{{last ? '' : ', '}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>
