<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDataArticleLabel" jhiTranslate="datamarketplaceApp.dataArticle.home.createOrEditLabel">Create or edit a Data Article</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!dataArticle.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="dataArticle.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataArticle.articleuniquekey" for="field_articleuniquekey">Articleuniquekey</label>
            <input type="text" class="form-control" name="articleuniquekey" id="field_articleuniquekey"
                [(ngModel)]="dataArticle.articleuniquekey" required maxlength="256" />
            <div [hidden]="!(editForm.controls.articleuniquekey?.dirty && editForm.controls.articleuniquekey?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.articleuniquekey?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.articleuniquekey?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 256 }">
                   This field cannot be longer than 256 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataArticle.recordID" for="field_recordID">Record ID</label>
            <input type="text" class="form-control" name="recordID" id="field_recordID"
                [(ngModel)]="dataArticle.recordID" maxlength="50" />
            <div [hidden]="!(editForm.controls.recordID?.dirty && editForm.controls.recordID?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.recordID?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataArticle.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="dataArticle.title" required maxlength="256" />
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 256 }">
                   This field cannot be longer than 256 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataArticle.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                [(ngModel)]="dataArticle.url" required maxlength="512" />
            <div [hidden]="!(editForm.controls.url?.dirty && editForm.controls.url?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.url?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.url?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 512 }">
                   This field cannot be longer than 512 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataArticle.publishedDate" for="field_publishedDate">Published Date</label>
            <div class="input-group">
                <input id="field_publishedDate" type="text" class="form-control" name="publishedDate" ngbDatepicker  #publishedDateDp="ngbDatepicker" [(ngModel)]="dataArticle.publishedDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="publishedDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataArticle.content" for="field_content">Content</label>
            <textarea class="form-control" name="content" id="field_content"
                [(ngModel)]="dataArticle.content" required ></textarea>
            <div [hidden]="!(editForm.controls.content?.dirty && editForm.controls.content?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.content?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataArticle.contentHTML" for="field_contentHTML">Content HTML</label>
            <textarea class="form-control" name="contentHTML" id="field_contentHTML"
                [(ngModel)]="dataArticle.contentHTML" required ></textarea>
            <div [hidden]="!(editForm.controls.contentHTML?.dirty && editForm.controls.contentHTML?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.contentHTML?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataArticle.summary" for="field_summary">Summary</label>
            <textarea class="form-control" name="summary" id="field_summary"
                [(ngModel)]="dataArticle.summary" required ></textarea>
            <div [hidden]="!(editForm.controls.summary?.dirty && editForm.controls.summary?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.summary?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataArticle.author" for="field_author">Author</label>
            <input type="text" class="form-control" name="author" id="field_author"
                [(ngModel)]="dataArticle.author" required maxlength="128" />
            <div [hidden]="!(editForm.controls.author?.dirty && editForm.controls.author?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.author?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.author?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 128 }">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataArticle.publisher" for="field_publisher">Publisher</label>
            <input type="text" class="form-control" name="publisher" id="field_publisher"
                [(ngModel)]="dataArticle.publisher" required maxlength="36" />
            <div [hidden]="!(editForm.controls.publisher?.dirty && editForm.controls.publisher?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.publisher?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.publisher?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 36 }">
                   This field cannot be longer than 36 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataArticle.summaryHTML" for="field_summaryHTML">Summary HTML</label>
            <textarea class="form-control" name="summaryHTML" id="field_summaryHTML"
                [(ngModel)]="dataArticle.summaryHTML" required ></textarea>
            <div [hidden]="!(editForm.controls.summaryHTML?.dirty && editForm.controls.summaryHTML?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.summaryHTML?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataArticle.relevancy" for="field_relevancy">Relevancy</label>
            <input type="number" class="form-control" name="relevancy" id="field_relevancy"
                [(ngModel)]="dataArticle.relevancy" required max="11" />
            <div [hidden]="!(editForm.controls.relevancy?.dirty && editForm.controls.relevancy?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.relevancy?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.relevancy?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 11 }">
                    This field cannot be more than 11.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.relevancy?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataArticle.purpose" for="field_purpose">Purpose</label>
            <input type="text" class="form-control" name="purpose" id="field_purpose"
                [(ngModel)]="dataArticle.purpose" required maxlength="86" />
            <div [hidden]="!(editForm.controls.purpose?.dirty && editForm.controls.purpose?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.purpose?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.purpose?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 86 }">
                   This field cannot be longer than 86 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataArticle.purposeType" for="field_purposeType">Purpose Type</label>
            <input type="text" class="form-control" name="purposeType" id="field_purposeType"
                [(ngModel)]="dataArticle.purposeType" required maxlength="54" />
            <div [hidden]="!(editForm.controls.purposeType?.dirty && editForm.controls.purposeType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.purposeType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.purposeType?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 54 }">
                   This field cannot be longer than 54 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataArticle.createdDate" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="dataArticle.createdDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataArticle.updatedDate" for="field_updatedDate">Updated Date</label>
            <div class="d-flex">
                <input id="field_updatedDate" type="datetime-local" class="form-control" name="updatedDate" [(ngModel)]="dataArticle.updatedDate"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataArticle.authorOrganization" for="field_authorOrganization">Author Organization</label>
            <select class="form-control" id="field_authorOrganization" name="authorOrganization" [(ngModel)]="dataArticle.authorOrganization" >
                <option [ngValue]="null"></option>
                <option [ngValue]="dataOrganizationOption.id === dataArticle.authorOrganization?.id ? dataArticle.authorOrganization : dataOrganizationOption" *ngFor="let dataOrganizationOption of dataorganizations; trackBy: trackDataOrganizationById">{{dataOrganizationOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.dataArticle.authorDataProvider" for="field_authorDataProvider">Author Data Provider</label>
            <select class="form-control" id="field_authorDataProvider" name="authorDataProvider" [(ngModel)]="dataArticle.authorDataProvider" >
                <option [ngValue]="null"></option>
                <option [ngValue]="dataProviderOption.id === dataArticle.authorDataProvider?.id ? dataArticle.authorDataProvider : dataProviderOption" *ngFor="let dataProviderOption of dataproviders; trackBy: trackDataProviderById">{{dataProviderOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
