
<div *ngIf="dataArticle">
    <h2><span jhiTranslate="datamarketplaceApp.dataArticle.detail.title">Data Article</span> {{dataArticle.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="datamarketplaceApp.dataArticle.title">Title</span></dt>
        <dd>
            <span>{{dataArticle.title}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataArticle.url">Url</span></dt>
        <dd>
            <span>{{dataArticle.url}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataArticle.publishedDate">Published Date</span></dt>
        <dd>
            <span>{{dataArticle.publishedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataArticle.content">Content</span></dt>
        <dd>
            <span>{{dataArticle.content}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataArticle.contentHTML">Content HTML</span></dt>
        <dd>
            <span [innerHTML]="dataArticle.contentHTML">{{dataArticle.contentHTML}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataArticle.summary">Summary</span></dt>
        <dd>
            <span>{{dataArticle.summary}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataArticle.relevantProvider">Relevant Provider</span></dt>
        <dd>
            <span *ngFor="let relevantProviders of dataArticle.relevantProviders; let last = last">
                <a [routerLink]="['/providers', relevantProviders?.id ]">{{relevantProviders.providerName}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataArticle.author">Author</span></dt>
        <dd>
            <span>{{dataArticle.author}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataArticle.publisher">Publisher</span></dt>
        <dd>
            <span>{{dataArticle.publisher}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataArticle.summaryHTML">Summary HTML</span></dt>
        <dd>
            <span>{{dataArticle.summaryHTML}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataArticle.relevancy">Relevancy</span></dt>
        <dd>
            <span>{{dataArticle.relevancy}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataArticle.purpose">Purpose</span></dt>
        <dd>
            <span>{{dataArticle.purpose}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataArticle.purposeType">Purpose Type</span></dt>
        <dd>
            <span>{{dataArticle.purposeType}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataArticle.createdDate">Created Date</span></dt>
        <dd>
            <span>{{dataArticle.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataArticle.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{dataArticle.updatedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataArticle.authorOrganization">Author Organization</span></dt>
        <dd>
            <div *ngIf="dataArticle.authorOrganization">
                <a [routerLink]="['/data-organization', dataArticle.authorOrganization?.id]">{{dataArticle.authorOrganization?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataArticle.authorDataProvider">Author Data Provider</span></dt>
        <dd>
            <div *ngIf="dataArticle.authorDataProvider">
                <a [routerLink]="['/providers', dataArticle.authorDataProvider?.id]">{{dataArticle.authorDataProvider?.providerName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
