<div class="page-title">
    <span class="text-uppercase">News Articles and Blog Posts</span>
</div>
<div class="container">
    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12 user-msg-text" *ngIf="!isAuthenticated()">
            <span><strong>NOTICE:</strong> You are only seeing a small portion of the events since you are not logged in. <a class="user-msg" (click)="openSigninDialog()">Login</a> or <a class="user-msg" (click)="openApplyDialog()">Sign Up</a> to see them all. </span>
        </div>
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearchQuery" id="currentSearchQuery" name="currentSearch" (change)="onKeydown({'keyword': currentSearchQuery})" placeholder="{{ 'datamarketplaceApp.dataArticle.home.search' | translate }}">
                    <button class="input-group-addon btn" (click)="search(currentSearchQuery)">
                        <span matTooltip="Search" >
                        <img src="../../../content/images/search.png" alt="search" width="20px"></span>
                    </button>
                    <button class="input-group-addon btn" (click)="clear(); searchClear({'label':'Articles List - Search - Clear Button','category':'Articles','event': 'Search Cleared'})" *ngIf="currentSearchQuery">
                        <span matTooltip="Clear Search" >
                        <img src="../../../content/images/delete.png" alt="delete" width="20px"></span>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-12">
            <jhi-sortbar [sortCategory]="sortCategory" [sortingArray]="sortingArray" [totalItems]="totalItems" entityType="articles" (sortBy)="sortBy($event)"></jhi-sortbar>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <jhi-generic-filter [filterCheckBox]="filterCheckBox" [isAdmin]="isAdmin" [filterList]="filters" (onFilterChanges)="onFilterChanges($event)"></jhi-generic-filter>
        </div>

    <div infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last'] || loaderInfinite" [infiniteScrollDistance]="0" class="col-sm-9">
            <!-- div  class="data-list">
                    <div class="media">
                        <div class="media-body">
                            <mat-card [ngStyle]="{'min-height':'160px'}" class="static-list-bg">
                                <h4 class="media-heading">
                                        <a  class="pull-left" [routerLink]="['/blog']">
                                                <img src="../../../content/images/blog/wall-street-skyline.jpg" onerror="this.style.display='none'" style="width:128px" class="data-list-logo"/>
                                        </a>
                                    <a [routerLink]="['/blog']" class="static-list-txt">Amassing Insights in the New World of Data</a>
                                </h4>
                                <div class="row">
                                    <div class="grey-text media-desc col-md-6 no-padding" >
                                       <span class="static-list-txt"> by <span >Amass Insights</span></span>
                                    </div>
                                    <div class="col-md-6 pull-right text-right media-text no-padding">
                                        <span class="media-desc static-list-txt">
                                            <strong>Published: </strong>May 14, 2018</span>
                                    </div>

                                    <p class="media-desc truncate-text col-md-12 no-padding static-summary static-list-txt" >
                                            Our Insights platform satisfies a pressing need in the hedge fund community for a democratization of both alternative and traditional data, bringing greater transparency to the entire data ecosystem while ensuring quality rises to the fore and strict compliance with prevailing standards...
                                    </p>

                                    <div class="col-md-6 pull-left media-text no-padding-left">
                                        <span class="grey-text media-desc static-list-txt" >
                                            <strong class="static-list-txt">Purposes: </strong>
                                            <span >
                                                <a (click)="purposeLink('purposes.purpose', 'Purposes')" [routerLink]="[isAuthenticated() ? '/news' : '/news']" [queryParams]="{ filter1: 'purpose.id', value1: '96', type1: 'checkbox' }" style="color:#fff">Update</a>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="col-md-6 pull-right text-right media-text no-padding-right" >
                                        <span class="grey-text media-desc static-list-txt">
                                            <strong class="static-list-txt">Topics: </strong>
                                            <span >
                                                <a (click)="purposeLink('topics.topicName', 'Topics')" [routerLink]="[isAuthenticated() ? '/news' : '/news']" [queryParams]="{ filter1: 'articleTopics.id', value1: '2', type1: 'checkbox' }" style="color:#fff">Alternative Data in Investing</a>
                                            </span>
                                        </span>
                                    </div> -->

                                    <!--alerady comment <div class="col-md-12 pull-right text-right media-text no-padding">
                                        <span class="media-desc static-list-txt">
                                            <strong>Published: </strong>May 14, 2018</span>
                                    </div> -->
                              <!--   </div>
                            </mat-card>
                        </div>
                    </div>
                </div> -->
                <!-- already comment<div *ngIf="loader" class="spinner medium">
                    <div class="spinner-wrapper">
                          <div class="rotator">
                            <div class="inner-spin"></div>
                            <div class="inner-spin"></div>
                          </div>
                    </div>
               </div>-->
               <ng-container *ngIf="isAuthenticated()">
               <jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)" [pageName]="pageName"></jhi-inactivity-timer>
             </ng-container>
               <div class="spinner-sec">
                    <jhi-spinner [show]="loader"></jhi-spinner>
               </div>
               <!--<ng-container *ngFor="let card of genericProfileCard;">
                    <jhi-generic-profile-card [genericProfileCard]="card"></jhi-generic-profile-card>
               </ng-container>-->
        <div *ngFor="let dataArticle of dataArticles" class="data-list">
            <div class="media">
                <div class="media-body">
                    <mat-card [ngStyle]="{'min-height': dataArticle.visualUrl? '140px' : ''}">
                        <h4 class="media-heading">
                            <!-- <a *ngIf="dataArticle.visualUrl" class="pull-left" [href]="dataArticle.url" target="_blank"> -->
                            <a *ngIf="dataArticle.visualUrl" class="pull-left" [routerLink]="['../news', dataArticle.recordID ]" (click)="articleTitle({'label':'Articles List - Article - ' + dataArticle.title,'category':'Article','event': 'Internal Link Clicked'})">
                                <img [ngStyle]="{'max-height': dataArticle.relevantProviders? '170px' : '145px'}" [src]="_DomSanitizer.bypassSecurityTrustUrl(dataArticle.visualUrl)" onerror="this.style.display='none'" style="width:128px" class="data-list-logo"/>
                            </a>
                            <a [ngClass]="{'blurText': (dataArticle.authorDataProvider && dataArticle.authorDataProvider.locked)}" [routerLink]="['../news', dataArticle.recordID ]" (click)="articleTitle({'label':'Articles List - Article - ' + dataArticle.title,'category':'Article','event': 'Internal Link Clicked'})">
                                {{dataArticle.title}}
                            </a>
                        </h4>
                        <div class="row">
                            <div class="grey-text media-desc col-md-6 no-padding"
                            *ngIf="(dataArticle.authorDataProvider && dataArticle.authorDataProvider.providerName &&
                            dataArticle.authorDataProvider.providerName !== 'RECORD_NULL') ||
                            (dataArticle.authorOrganization && dataArticle.authorOrganization.name &&
                            dataArticle.authorOrganization.name !== 'NAME_NULL') || dataArticle.stream ||
                            (dataArticle.author && dataArticle.author != 'PROVIDER_NULL')"
                            [ngClass]="{'blurText': (dataArticle.authorDataProvider && dataArticle.authorDataProvider.locked)}">
                                by <span *ngIf="(dataArticle.authorDataProvider && dataArticle.authorDataProvider.providerName && dataArticle.authorDataProvider.providerName !== 'RECORD_NULL' && dataArticle.authorDataProvider.providerName !== 'PROVIDER_NULL'); else authorOrganization" >
                                        <a *ngIf="dataArticle.authorDataProvider && dataArticle.authorDataProvider.recordID !== 'PROVIDER_NULL'" [routerLink]="['../providers', dataArticle.authorDataProvider.recordID]">{{dataArticle.authorDataProvider.providerName}}</a>
                                        <a *ngIf="dataArticle.authorDataProvider && dataArticle.authorDataProvider.recordID === 'PROVIDER_NULL'">{{dataArticle.authorDataProvider.providerName}}</a>
                                    </span>
                                <ng-template #authorOrganization>
                                    <ng-container *ngIf="(dataArticle.authorOrganization && dataArticle.authorOrganization.name && dataArticle.authorOrganization.name !== 'NAME_NULL'); else stream">
                                        <a *ngIf="dataArticle.authorDataProvider && dataArticle.authorDataProvider.recordID !== 'PROVIDER_NULL'" [routerLink]="['../providers', dataArticle.authorDataProvider.recordID]">{{dataArticle.authorOrganization.name}}</a>
                                        <a *ngIf="dataArticle.authorDataProvider && dataArticle.authorDataProvider.recordID === 'PROVIDER_NULL'">{{dataArticle.authorOrganization.name}}</a>
                                    </ng-container>
                                </ng-template>
                                <ng-template #stream><ng-container *ngIf="dataArticle.stream; else author">{{dataArticle.stream}}<br></ng-container></ng-template>
                                <ng-template #author>{{dataArticle.author}}</ng-template>
                            </div>
                            <div class="pull-right text-right media-text no-padding" [ngClass]="(dataArticle.authorDataProvider && dataArticle.authorDataProvider.providerName && dataArticle.authorDataProvider.providerName !== 'RECORD_NULL') || (dataArticle.authorOrganization && dataArticle.authorOrganization.name && dataArticle.authorOrganization.name !== 'NAME_NULL') || dataArticle.stream || (dataArticle.author && dataArticle.author != 'PROVIDER_NULL')? 'col-md-6' : 'col-md-12'">
                                <span class="media-desc">
                                        <strong>Published: </strong>{{dataArticle.publishedDate | date : 'mediumDate'}}
                                </span>
                            </div>
                            <div class="col-md-6 pull-left media-text no-padding-left">
                                <span class="grey-text media-desc" *ngIf="dataArticle.purpose && dataArticle.purpose.length">
                                    <strong>Purposes: </strong>
                                    <span *ngFor="let purposes of dataArticle.purpose; let last = last">
                                        <a (click)="purposeLink(purposes.purpose, 'Purposes')" [routerLink]="['/news']" [queryParams]="{ filter1: 'purpose.id', value1: purposes?.id, type1: 'checkbox' }">{{purposes.purpose}}</a>{{last ? '' : ', '}}
                                    </span>
                                </span>
                            </div>
                            <div class="col-md-6 pull-right text-right media-text no-padding-right" *ngIf="dataArticle.articleTopics && dataArticle.articleTopics.length">
                                <span class="grey-text media-desc">
                                    <strong>Topics: </strong>
                                    <span *ngFor="let topics of dataArticle.articleTopics; let last = last">
                                        <a (click)="purposeLink(topics.topicName, 'Topics')" [routerLink]="['/news']" [queryParams]="{ filter1: 'articleTopics.id', value1: topics?.id, type1: 'checkbox' }">{{topics.topicName}}</a>{{last ? '' : ', '}}
                                    </span>
                                </span>
                            </div>
                            <div  [ngClass]="dataArticle.visualUrl ? 'col-md-9' :'col-md-10'">
                                <p class="media-desc truncate-text col-md-12 no-padding" *ngIf="dataArticle.summary" [ngClass]="{'blurText': (dataArticle.authorDataProvider && dataArticle.authorDataProvider.locked)}">
                                    {{dataArticle.summary}}
                                </p>
                            </div>
                            <div class=" nopadding" [ngClass]="dataArticle.visualUrl ? 'col-md-3' :'col-md-2'">
                                <!--<jhi-share-buttons [shareButtons]="shareButtons"></jhi-share-buttons>-->
                                <div class="dropdown list-padding share-buttons-wrapper pull-right" ngbDropdown placement="bottom-right">
                                    <button class="btn btn-lock dropdown-toggle text-uppercase" ngbDropdownToggle type="button" id="shareMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: -24px;">
                                        <img src="../../../content/images/icons/White-Share-icon-original.png" class="share-img" />
                                        <span>Share</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-left" ngbDropdownMenu aria-labelledby="shareMenuButton">
                                        <share-button class="dropdown-menu-item"
                                            [button]="'email'"
                                            [showText]="true"
                                            [autoSetMeta]="false"
                                            [description]="dataArticle?.emailText"
                                            [title]="'Article You Need to See'"
                                            [url]="dataArticle?.url"
                                        ></share-button>
                                        <share-button class="dropdown-menu-item"
                                            [button]="'linkedin'"
                                            [showText]="true"
                                            [autoSetMeta]="false"
                                            [description]="dataArticle?.linkedInText"
                                            [title]="'Article You Need to See'"
                                            [url]="dataArticle?.url"
                                        ></share-button>
                                        <share-button class="dropdown-menu-item"
                                            [button]="'twitter'"
                                            [showText]="true"
                                            [autoSetMeta]="false"
                                            [description]="dataArticle?.twitterText"
                                            [title]="'Article You Need to See'"
                                            [url]="dataArticle?.url"
                                        ></share-button>
                                        <share-button class="dropdown-menu-item"
                                            [button]="'copy'"
                                            [showText]="true"
                                            [url]="dataArticle?.url"
                                            [autoSetMeta]="false"
                                        ></share-button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 nopadding" *ngIf="dataArticle.relevantProviders">
                                <div class="col-md-12 nopadding" *ngIf="dataArticle.relevantProviders?.length > 0"><h4 class="relecvant-provider-label">Related Providers</h4></div>
                                <div class="pull-left relecvant-provider-margin" *ngFor="let relevantProvider of dataArticle.relevantProviders | slice: 0:4; let i = index">
                                    <div class="pull-left related-sec-pad">
                                        <img class="pull-left relecvant-provider-link" [routerLink]="['../providers', relevantProvider.recordID]" *ngIf="relevantProvider.logo && !relevantProvider.locked" src="data:image/png;base64,{{relevantProvider.logo.logo}}" width="55px" height="55px">
                                    </div>
                                    <div class="pull-left related-sec-pad" *ngIf="relevantProvider.providerName">
                                        <a class="relecvant-provider-link relecvant-provider-name" [ngClass]="{'blurText': relevantProvider.locked}" [matTooltip]=" relevantProvider.locked? 'Your account does not have permission to view this.' : ''" [routerLink]="['../providers', relevantProvider.recordID]">{{relevantProvider.providerName}}</a>
                                    </div>
                                </div>
                               <!-- <p *ngIf="dataArticle.relevantProviders.length > 5">+{{dataArticle.relevantProviders.length - 5}} Related Providers</p>-->
                            </div>
                            <!--<div class="col-md-6 pull-left media-text no-padding-left">
                                <span class="grey-text media-desc" *ngIf="dataArticle.purpose && dataArticle.purpose.length">
                                    <strong>Purposes: </strong>
                                    <span *ngFor="let purposes of dataArticle.purpose; let last = last">
                                        <a (click)="purposeLink(purposes.purpose)" [routerLink]="['/news']" [queryParams]="{ filter1: 'purpose.id', value1: purposes?.id, type1: 'checkbox' }">{{purposes.purpose}}</a>{{last ? '' : ', '}}
                                    </span>
                                </span>
                            </div>
                            <div class="col-md-6 pull-right text-right media-text no-padding-right" *ngIf="dataArticle.articleTopics && dataArticle.articleTopics.length">
                                <span class="grey-text media-desc">
                                    <strong>Topics: </strong>
                                    <span *ngFor="let topics of dataArticle.articleTopics; let last = last">
                                        <a (click)="purposeLink(topics.topicName)" [routerLink]="['/news']" [queryParams]="{ filter1: 'articleTopics.id', value1: topics?.id, type1: 'checkbox' }">{{topics.topicName}}</a>{{last ? '' : ', '}}
                                    </span>
                                </span>
                            </div>

                            <div class="col-md-12 pull-left media-text no-padding">
                                <span class="media-desc">
                                        <strong>Published: </strong>{{dataArticle.publishedDate | date : 'mediumDate'}}
                                </span>
                            </div>-->
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
        <!--<div *ngIf="loaderInfinite" class="spinner medium">
                <div class="spinner-wrapper infinite">
                <div class="rotator">
                    <div class="inner-spin"></div>
                    <div class="inner-spin"></div>
                </div>
                </div>
        </div>-->
        <div class="spinner-sec">
                <jhi-spinner [show]="loaderInfinite"></jhi-spinner>
            </div>
        <div *ngIf="limitedProviders && !logoutUsers" class="justify-content-center">
                <div class="alert" [ngStyle]="{'font-weight':'bolder'}">
                    {{limitedProviders}}
                </div>
        </div>
        <div *ngIf="logoutUsers" class="justify-content-center">
            <div class="alert" [ngStyle]="{'font-weight':'bolder'}">
                There are many more News & Blog Posts we can show you. Please Sign Up for access to them.
            </div>
    </div>
    </div>
    </div>
</div>
