
/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.diamond-border {
    width: 1vh;
    height: 1vh;
    position: absolute;
    top: 42px;
    left: 50%;
    border: 1px solid #fe5722;
    transform: rotate(45deg);
    transform-origin: top left;
    min-width: 25px;
    min-height: 25px;
    background-color: #fff;
}
.diamond-border-press {
    width: 1vh;
    height: 1vh;
    position: absolute;
    top: 107px;
    left: 50%;
    border: 1px solid #fe5722;
    transform: rotate(45deg);
    transform-origin: top left;
    min-width: 25px;
    min-height: 25px;
    background-color: #fff;
}

.diamond-border.align-right {
    right: 0;
    left: auto;
}

.diamond-border-greybg {
    background-color: #e4e5e6;
}

.section-title.section-title-icon h2:before {
    width: 50%;
    left: 0;
    margin-left: 25%;
}
.press-section-title.press-section-title-icon h2:before {
    width: 50%;
    left: 0;
    margin-left: 25%;
}


