body, html {
    overflow-x: hidden !important;
}

.nomargin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.nopadding {
    padding: 0px !important;
}

button.mat-raised-button {
    min-width: 211px !important;
    margin-right: 5px;
    color: #fff;
}
.home-button{
    font-size: 16px;
    font-weight: 700;
}

section {
    background-color: #fff;
}

.section-big {
    padding: 20px 0px;
    scroll-behavior: smooth;
    transform: translateY(650);
    -webkit-transition: -webkit-transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out;
}

.section-small {
    padding: 40px 0px;
}

.section-title {
    margin: auto;
    max-width: 700px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-60{
    margin-bottom: 60px;
}

.abt-b{
    margin-top: 20px
}

.section-title.white h2 {
    color: #fff;
}

.section-title .section-title-text {
    font-family: OpenSans-Bold;
    margin-bottom: 45px;
    position: relative;
    padding-bottom: 25px;
    line-height: 35px;
    margin-top: 0;
    text-transform: uppercase;
}

.section-title .section-title-text:before {
    content: '';
    position: absolute;
    width: 90px;
    margin-left: -45px;
    height: 1px;
    left: 50%;
    bottom: 0px;
    background-color: #fe5722;
}

.section-title .section-title-text span {
    color: #82b541;
}

.section-title p {
    margin-top: 25px;
}

.section-title-text.section-title-fullborder:before {
    width: 100% !important;
    left: 0 !important;
    margin-left: 0 !important;
}

/**
* Our Insights
*/
#our-insights {
   /*  padding-top: 30px; */
    scroll-behavior: smooth;
    /* transform: translateZ( 0 ); */
    transform: translateY(750);
    -webkit-transition: -webkit-transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out;
}

/**
 * Features
 */
.features-inner-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.0em;
    margin-bottom: 15px;
    text-align: center;
}

.card-body .card-text {
    color: #999;
    text-align: center;
}

.home-features .card {
    height: 100%;
}

.home-features {
    margin-top: 40px;
    margin-bottom: 40px;
}

.home-features .card-body {
    padding-top: 60px;
}

.diamond-rounded-border {
    width: 1vh;
    height: 1vh;
    position: absolute;
    top: -60px;
    left: 50%;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    transform: rotate(45deg);
    transform-origin: top left;
    min-width: 85px;
    min-height: 85px;
    background-color: #4088ff;
}

.home-features .diamond-rounded-border {
    border-color: #4088ff;
}

.feature-data-sourcing-icon,
.feature-data-profiling-icon,
.features-sanity-icon,
.feature-value-added-icon,
.insights-network-icon,
.insights-marketplace-icon,
.insights-sass-icon {
    transform: rotate(-45deg);
    display: block;
    margin: 12px;
    overflow: hidden;
    position: relative;
    height: 60px;
    width: 60px;
    z-index: 0;
}

.feature-data-sourcing-icon {
    background: url("../../content/images/icons/features/data_sourcing_white.png");
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.feature-data-profiling-icon {
    background: url("../../content/images/icons/features/data_profiling_and_curation_white.png");
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.features-sanity-icon {
    background: url("../../content/images/icons/features/sanity_checks_and_compliance_white.png");
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.feature-value-added-icon {
    background: url("../../content/images/icons/features/value_added_analytics_white.png");
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}
.insights-network-icon {
    background: url("../../content/images/icons/insights/network-white.png");
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}
.insights-marketplace-icon {
    background: url("../../content/images/icons/insights/data-market-white.png");
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}
.insights-sass-icon {
    background: url("../../content/images/icons/insights/sass-white.png");
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}


.home-features .card:hover {
    border-color: #438afe;
}

.home-features .card:hover .diamond-rounded-border {
    background-color: #fff;
    border-color: #438afe;
}

.home-features .card:hover .feature-data-sourcing-icon {
    background: url("../../content/images/icons/features/data_sourcing_dark.png");
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.home-features .card:hover .feature-data-profiling-icon {
    background: url("../../content/images/icons/features/data_profiling_and_curation_dark.png");
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.home-features .card:hover .features-sanity-icon {
    background: url("../../content/images/icons/features/sanity_checks_and_compliance_dark.png");
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.home-features .card:hover .feature-value-added-icon {
    background: url("../../content/images/icons/features/value_added_analytics_dark.png");
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}
.home-features .card:hover .insights-network-icon {
    background: url("../../content/images/icons/insights/network-dark.png");
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}
.home-features .card:hover .insights-marketplace-icon {
    background: url("../../content/images/icons/insights/data-market-dark.png");
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}
.home-features .card:hover .insights-sass-icon {
    background: url("../../content/images/icons/insights/sass-dark.png");
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.button-row {
    margin-top: 30px;
}

.button-row button {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.box-container {

}

.box-body {
    padding: 15px 30px;
}

.box-inner-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.0em;
    margin-bottom: 15px;
    text-align: center;
}

.box-body .box-inner-title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 25px;
    line-height: 20px;
    margin-top: 0;
    text-transform: uppercase;
}

.box-body .box-inner-title:before {
    content: '';
    position: absolute;
    width: 90px;
    margin-left: -45px;
    height: 2px;
    left: 50%;
    bottom: 0px;
    background-color: #fe5722;
}

.title-bottom-line {
    position: relative;
    margin-bottom: 15px;
}
.title-bottom-line:before {
    content: '';
    position: absolute;
    width: 90px;
    margin-left: -45px;
    height: 2px;
    left: 50%;
    bottom: -6px;
    background-color: #fe5722;
}

.box-grey {
    background-color: #f5f5f5;
}

.box-text {
    text-align: center;
}

/**
 * Home slider
 */
.slider-container {
    position: relative;
    text-align: center;
}

.slider-content-centered {
    position: absolute;
    top: 48%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
}
.plus-icon-one{
    margin: 0 24px;
}
.plus-icon-two{
    margin: 0 22px;
}
@media screen and (max-width: 1024px) {
    .plus-icon-one{
        margin: 0 20px;
    }
    .plus-icon-two {
        margin: 0 18px;
    }
    .scroll-smooth{
        -webkit-overflow-scrolling: touch;
        overflow: auto !important;
    }
    .carousel-item {
        position: relative;
        display: none;
        float: left;
        width: 100%;
        margin-right: -100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: -webkit-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
        overflow: auto !important;
    }
}

@media screen and (max-width: 768px) {
    .slider-content-centered .slider-large-text {
        font-size: 1.5rem;
    }

    .slider-content-centered .mat-raised-button {
        margin-bottom: 10px;
    }

    .home-features div[class^='col-md-']:not(:last-child) {
       /*  margin-bottom: 65px; */
    }
    .home-features div[class^='col-md-']:first-child{
        /* margin-top: 20px; */
    }
    .plus-icon-one{
        margin: 0 16px;
    }
    .plus-icon-two {
        margin: 0 13px;
    }
    .card-text-align{
        padding: 60px 0px 10px 0 !important;
    }
    .scroll-smooth{
        -webkit-overflow-scrolling: touch;
        overflow: auto !important;
    }
    .carousel-item {
        position: relative;
        display: none;
        float: left;
        width: 100%;
        margin-right: -100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: -webkit-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
        overflow: auto !important;
    }
}

.slider-content-centered .mat-raised-button {
    color: #fff;
}

.slider-content-centered .slider-large-text {
    color: #444e4f;
    font-family: 'OpenSans-Bold';
}

.slider-content-centered .slider-small-text {
    color: #202124;
    font-family: 'OpenSans-SemiBold';
}

.slider-content-centered .mat-raised-button.mat-warn {
    color: #fff;
}

/**
 * Statistics
 */
.statistics-section {
    background-color: #438afe;
    color: #fff;
}

.statistics-section i.fa {
    font-size: 30px;
}

/**
 * News and Blog
 */
.news-and-blog-section .mat-card-header .mat-card-header-text {
    margin: 0px !important;
}

.news-and-blog-section .mat-card {
    cursor: pointer;
}

.news-and-blog-section .mat-card:hover {
    border-color: #fe5722;
}

/* Image with text */
.text_wrapper {
    display: block;
    color: #313131;
    top: 255px;
    cursor: default;
  }
.align-center{
    top: 330px !important;
}
.align-center-second{
    top: 300px !important;
}
img:hover{
    cursor: default;
}
.carousel-control-prev {
    left: 0;
    height: 30px !important;
    width: 30px !important;
    margin: 370px 90px !important;
    cursor: pointer !important;
}
.carousel-control-next {
    right: 0;
    height: 30px !important;
    margin: 370px 90px !important;
    cursor: pointer !important;
    width: 30px !important;
}
.custom-container{
    padding-right: 75px !important;
    padding-left: 75px !important;
    margin-bottom: 35px;
}
.upcoming-btn{
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.slider-min{
    min-height: 550px;
}
.slider-transition{
   /* -webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; */
    transition: 0.9s;
}
@media screen and (max-width: 570px){
    #button-right-id .button-right {
       margin-bottom: 40px !important;
       margin-top: 4px;
    }
    #button-right-second .button-right {
       margin-bottom: 40px !important;
       margin-top: 4px;
    }
    #button-right-third .button-right {
       margin-bottom: 40px !important;
       margin-top: 4px;
    }
    #ngb-slide-0 .carousel-indicators .active {
        background-color: #fe5722 !important;
        color: #fe5722 !important;
    }
    #ngb-slide-0 ::after {
        background-color: #fe5722 !important;
        color: #fe5722 !important;
    }
    .home-features{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .scroll-smooth{
        -webkit-overflow-scrolling: touch;
        overflow: auto !important;
    }
    .carousel-item {
        position: relative;
        display: none;
        float: left;
        width: 100%;
        margin-right: -100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: -webkit-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
        overflow: auto !important;
    }
}
@media screen and (max-width: 375px){
    .diamond-border-res{
        margin-top: 35px;
    }
    .home-features div[class^='col-md-']:not(:last-child) {
         /* margin-bottom: 65px; */
     }
     .home-features div[class^='col-md-']:first-child{
         margin-top: 20px;
     }
     .no-padding{
        padding: 0px;
        padding-top: 0px !important;
    }
    .res-margin{
        margin: 25px 0 !important;
    }
    .plus-icon-one{
        margin-bottom: 30px !important;
    }
    .card-text-align{
        padding: 60px 0px 10px 0 !important;
    }
    .scroll-smooth{
        -webkit-overflow-scrolling: touch;
        overflow: auto !important;
    }
    .view-btn{
        margin: 0 12% 10px 12% !important;
    }
    .image-padding{
        padding: 0 70px !important;
    }
    .carousel-item {
        position: relative;
        display: none;
        float: left;
        width: 100%;
        margin-right: -100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: -webkit-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
        overflow: auto !important;
    }
}
@media screen and (max-width: 414px){
    .plus-icon-one{
        margin-bottom: 30px;
    }
    .plus-icon-two{
        margin-bottom: 55px;
    }
    .no-padding{
        padding: 0px;
        padding-top: 0px !important;
    }
    .res-margin{
        margin: 25px 0 !important;
    }
    .feature-margin{
        margin-top: 70px;
    }
    .card-text-align{
        padding: 60px 0px 10px 0 !important;
    }
    .scroll-smooth{
        -webkit-overflow-scrolling: touch;
        overflow: auto !important;
    }
    .carousel-item {
        position: relative;
        display: none;
        float: left;
        width: 100%;
        margin-right: -100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: -webkit-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
        overflow: auto !important;
    }
}
@media screen and (max-width: 420px){
    .diamond-border-res{
        margin-top: 35px;
    }
    .view-btn{
        margin: 0 20% 10px 20%;
    }
    .image-padding{
        padding: 0 70px;
    }
    .scroll-smooth{
        -webkit-overflow-scrolling: touch;
        overflow: auto !important;
    }
    .carousel-item {
        position: relative;
        display: none;
        float: left;
        width: 100%;
        margin-right: -100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: -webkit-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
        overflow: auto !important;
    }
}

@media screen and (min-width: 40rem) {
    .text_wrapper {
      position: absolute;
      top: 102px;
      right: 0;
      bottom: 0;
      left: 0;
      font-size: 1.25em;
    }
    .align-center-second{
        top: 165px !important;
    }
    .align-center{
        top: 204px !important;
    }
  }
  @media screen and (min-width: 70rem) {
    .text_wrapper {
      font-size: 1.5rem;
      top: 255px;
    }
    .align-center{
        top: 255px !important;
    }
    .align-center-second{
        top: 255px !important;
    }
    .slide-img{
        height: 750px;
    }
  }

  .text_position {
    display: block;
  }
  @media screen and (min-width: 40rem) {
    .text_position {
      position: absolute;
      top: 50%;
      left: 15%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 70%;
    }
  }
  @media screen and (min-width: 50rem) {
    .text_position {
      width: 60%;
      left: 20%;
    }
  }
  @media screen and (min-width: 60rem) {
    .text_position {
      width: 50%;
      left: 25%;
    }
  }

  @media screen and (min-width: 40rem) {
    .text_position-left {
      left: 5%;
      width: 60%;
    }
  }
  @media screen and (min-width: 50rem) {
    .text_position-left {
      width: 40%;
    }
  }

  @media screen and (min-width: 40rem) {
    .text_position-right {
      right: 5%;
      left: auto;
      width: 60%;
    }
  }
  @media screen and (min-width: 50rem) {
    .text_position-right {
      width: 40%;
    }
  }

  @media screen and (min-width: 50rem) {
    .text_position-1-3 {
      left: 5%;
      width: 90%;
    }
  }

  .item--title {
    display: block;
    font-family: 'OpenSans-Bold';
    font-size: 2.10rem;
    text-align: center;
    color: #444e4f;
    -webkit-text-stroke: 1px #9c9c9c;
  }

  @media screen and (min-width: 40rem) {
    .item--title-left {
      text-align: left;
    }

    .item--title-right {
      text-align: right;
    }
  }
  .item--text {
    display: block;
    padding: 0 1em;
    margin: 15px 0 45px 0;
    font-family: 'OpenSans-SemiBold';
    font-size: 1rem;
    text-align: center;
    color: #202124;
  }
  @media screen and (min-width: 40rem) {
    .item--text {
      padding: 0;
    }
  }
  html {
    scroll-behavior: smooth;
  }
/* press section */
.press-img{
    width: 200px;
}
.press-yahoo{
    padding: 20px 0px;
}
.press-times{
    padding: 40px 0px;
}
.press-statellite{
    padding: 20px 0px;
}
.press-nect{
    padding: 35px 0px;
}
.view-btn{
    margin: 0 40% 10px 40%;
}
.image-padding{
    padding: 0 115px;
}
.press-header{
    padding: 65px 0 0 0;
}
.press-section-title .press-section-title-text {
    font-family: OpenSans-Bold;
    position: relative;
    padding-bottom: 25px;
    line-height: 35px;
    margin-top: 0;
    text-transform: uppercase;
}

.press-section-title .press-section-title-text:before {
    content: '';
    position: absolute;
    width: 90px;
    margin-left: -45px;
    height: 1px;
    left: 50%;
    bottom: 0px;
    background-color: #fe5722;
}

.press-section-title .press-section-title-text span {
    color: #82b541;
}
.press-section-title-text.press-section-title-fullborder:before {
    width: 100% !important;
    left: 0 !important;
    margin-left: 0 !important;
}
.menubar.dropdown-toggle::after{
    display:none;
  }
  .dropdown-toggle::after{
    display:none;
  }
  .dropdown-item.active,
  .dropdown-item:hover,
  .dropdown-item:focus,
  .dropdown-item:active {
      color: #fff;
      background-color: #007bff;
  }

