
<!-- <section class="home-slider">
    <div class="slider-container">
        <img src="../../content/images/home_bg.jpg" width="100%" />
        <div class="text_wrapper">
        <div class="text_position">
            <h3 class="item--title">The Largest Alternative<br> Data Ecosystem Dedicated <br>to Institutional Investors</h3>
            <p class="item--text">As early trailblazers in alternative data,<br> we offer a suite of tools and guidance to investment teams of all types<br> looking to tap into new sources of valuable information.</p>
            <button class="home-button" type="button" mat-raised-button color="warn" (click)="openApplyDialog()">Sign Up</button>
            <button class="home-button" type="button" mat-raised-button color="blue" (click)="scrollTo('our-insights')">Learn More</button>

        </div>
        </div>
    </div>
</section> -->
<!-- <section class="home-slider">
    <div class="slider-container">

    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <img src="../../content/images/home_bg.jpg" width="100%" />
            <div class="text_wrapper">
                <div class="text_position">
                    <h3 class="item--title">The Largest Alternative<br> Data Ecosystem Dedicated <br>to Institutional Investors</h3>
                    <p class="item--text">As early trailblazers in alternative data,<br> we offer a suite of tools and guidance to investment teams of all types<br> looking to tap into new sources of valuable information.</p>
                    <button class="home-button" type="button" mat-raised-button color="warn" (click)="openApplyDialog()">Sign Up</button>
                    <button class="home-button" type="button" mat-raised-button color="blue" (click)="scrollTo('our-insights')">Learn More</button>

                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../../content/images/Investment-Analyst-2-White-Background.PNG" width="100%" />
          <div class="text_wrapper">
                <div class="text_position">
                    <h3 class="item--title">For Investment Professionals</h3>
                    <p class="item--text">Discover unique, valuable sources of data & analytics.</p>
                    <button class="home-button" type="button" mat-raised-button color="warn" (click)="openSigninDialog()">Sign In</button>
                    <button class="home-button" type="button" mat-raised-button color="blue">Request Access</button>
                </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../../content/images/investment-desk-bright.jpg" width="100%" />
          <div class="text_wrapper">
                <div class="text_position">
                    <h3 class="item--title">For Data & Analytics Providers</h3>
                    <p class="item--text">Generate revenue from your data assets by discovering potential <br> data buyers.</p>
                    <button class="home-button" type="button" mat-raised-button color="warn" (click)="openSigninDialog()">Sign In</button>
                    <button class="home-button" type="button" mat-raised-button color="blue">List My Data Products</button>
                </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
</section> -->
<section class="home-slider">
    <div class="slider-container scroll-smooth">
        <ngb-carousel (slide)="onSlider($event)">
            <ng-template ngbSlide activeId="1" id="100">
                <img src="../../content/images/home_bg.jpg" width="100%"  alt="Alternative Data Ecosystem" />
                <div class="text_wrapper " id="button-right-id">
                    <h3 class="item--title">The Largest Data Market Network</h3>
                    <p class="item--text">Connecting COVID-19 Data Providers to the World</p>
                    <button class="home-button" type="button" mat-raised-button color="warn" (click)="openApplyDialog(''); investorsSignUp('Home - Top Image - Sign Up')">Sign Up</button>
                    <span ngbDropdown  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a  ngbDropdownToggle  id="entity-menu" class="menubar">
                    <button class="home-button button-right" type="button" mat-raised-button color="blue">Search for Data	
                    </button>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li>
                            <a class="dropdown-item" (click)="unrestrictedUser('Transactional')">
                                <span>B2C Transactional Data</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="unrestrictedUser('Jobs')">
                                <span>Hiring, Jobs & Employment Data</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="unrestrictedUser('Shipping')">
                                <span>Satellite, Supply Chain & Shipping Data</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="unrestrictedUser('Location')">
                                <span>Consumer Location Data</span>
                            </a>
                        </li>
                        </ul>
                </span>
                </div>
            </ng-template>
            <ng-template ngbSlide activeId="2" id="101">
                <img src="../../content/images/data_consumers.png" width="100%"  alt="Investment Professionals" />
                <div class="text_wrapper align-center-second scroll-smooth" id="button-right-second">
                    <h3 class="item--title">For Data Consumers & Investors</h3>
                    <p class="item--text">Enabling Finance, Government, Healthcare & Academia to Discover Unique Sources of Data, Analytics & Research</p>
                    <span ngbDropdown  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a  ngbDropdownToggle  id="entity-menu" class="menubar">
                    <button class="home-button" type="button" mat-raised-button color="blue">Search for Data	
                    </button>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li>
                            <a class="dropdown-item" (click)="unrestrictedUser('Transactional')">
                                <span>B2C Transactional Data</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="unrestrictedUser('Jobs')">
                                <span>Hiring, Jobs & Employment Data</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="unrestrictedUser('Shipping')">
                                <span>Satellite, Supply Chain & Shipping Data</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="unrestrictedUser('Location')">
                                <span>Consumer Location Data</span>
                            </a>
                        </li>
                        </ul>
                </span>
                    <button class="home-button button-right" type="button" mat-raised-button color="warn" (click)="openSigninDialog({'label':'Home - Investors Image - Login','category':'Login','event': 'Popup Link Clicked'})">Login</button>
                </div>
            </ng-template>
            <ng-template ngbSlide activeId="3" id="102">
                <img src="../../content/images/Data Provider.jpg" width="100%" alt="Data Analytics Providers" />
                <div class="text_wrapper align-center scroll-smooth" id="button-right-third">
                    <h3 class="item--title">For Data, Analytics & Research Providers</h3>
                    <p class="item--text">Bringing Your Data to Those Who Need it Most</p>
                    <button class="home-button" type="button" mat-raised-button color="blue" (click)="openApplyDialog('ROLE_PROVIDER'); investorsSignUp('Home - Providers Image - Sign Up')">Claim my Data Profile</button>
                    <button class="home-button button-right" type="button" mat-raised-button color="warn" (click)="openSigninDialog({'label':'Home - Providers Image - Login','category':'Login','event': 'Popup Link Clicked'})"> Login</button>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>
<section class="section-big" id="our-insights">
    <div class="container scroll-smooth">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title section-title-icon">
                    <h2 class="section-title-text">Insights: The Data Market Network</h2>
                    <div class="diamond-border diamond-border-res"></div>
                </div>
            </div>
        </div>
        <div class="row home-features">
            <div class="col-md-3 res-margin">
                <div class="card">
                    <div class="card-body card-text-align">
                        <div class="diamond-rounded-border"><div (click)="insightsSec()" class="insights-network-icon"></div></div>
                        <h4 class="features-inner-title" (click)="insightsSec()">Professional Network</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-1 plus-icon-one">
                <div class="card-body no-padding">
                    <h4 class="features-inner-title" (click)="insightsSec()"><i class="fa fa-plus" aria-hidden="true"></i></h4>
                </div>
            </div>
            <div class="col-md-3 res-margin">
                <div class="card">
                    <div class="card-body card-text-align">
                        <div class="diamond-rounded-border"><div (click)="insightsSec()" class="insights-marketplace-icon"></div></div>
                        <h4 class="features-inner-title" (click)="insightsSec()">Data Marketplace</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-1 plus-icon-two">
                <div class="card-body no-padding">
                    <h4 class="features-inner-title" (click)="insightsSec()"><i class="fa fa-plus" aria-hidden="true"></i></h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body card-text-align">
                        <div class="diamond-rounded-border"><div (click)="insightsSec()" class="insights-sass-icon"></div></div>
                        <h4 class="features-inner-title" (click)="insightsSec()">SaaS Tool</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="our-insights-content">
            <div class="col-md-12">
                <p>Insights is a platform connecting traditional and alternative data providers with data consumers. Amass' founders were pioneers of alternative data, initially building Insights as an internal suite of information and software tools to keep track of a cambrian explosion of new sources of data. Seeing a demand for this technology externally, Insights was recently released to qualified data industry participants.</p>
                <p>Insights offers data consumers the largest stream of untapped, value-generating datasets pertaining to their unique research objectives.</p>
                <p>Data, analytics, and research providers leverage Insights to discover new market opportunities never exposed in their traditional business models.</p>
                <p>Collectively, Amass is leveling the playing field through our proven sourcing ability and channel partnerships with data experts that save organizations valuable time searching for, understanding, vetting, and onboarding data.</p>
            </div>
        </div>
    </div>
</section>
<section class="section-big">
    <div class="container scroll-smooth">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title section-title-icon">
                    <h2 class="section-title-text">Features</h2>
                    <div class="diamond-border"></div>
                </div>
            </div>
        </div>
        <div class="row home-features">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="diamond-rounded-border"><div (click)="featureSec()" class="feature-data-sourcing-icon"></div></div>
                        <h4 class="features-inner-title" (click)="featureSec()">Untapped Data Sourcing</h4>
                        <p (click)="featureSec()" class="card-text">Continuous discovery of hundreds of new data providers per month</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 feature-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="diamond-rounded-border"><div (click)="featureSec()" class="feature-data-profiling-icon"></div></div>
                        <h4 class="features-inner-title" (click)="featureSec()">Data Profiling & Curation</h4>
                        <p class="card-text" (click)="featureSec()">Seamlessly filter and search for data providers with the aid of our proprietary classification system</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 feature-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="diamond-rounded-border"><div (click)="featureSec()" class="features-sanity-icon"></div></div>
                        <h4 class="features-inner-title" (click)="featureSec()">Suitability & Compliance Checks</h4>
                        <p class="card-text" (click)="featureSec()">In-depth vetting of data providers to determine viability within the capital markets industry</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 feature-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="diamond-rounded-border"><div (click)="featureSec()" class="feature-value-added-icon"></div></div>
                        <h4 class="features-inner-title" (click)="featureSec()">Evaluations & Analytics</h4>
                        <p class="card-text" (click)="featureSec()">On-demand expert cleansing, analyzing, researching, enriching, and presenting of chosen data providers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-big statistics-section">
    <div class="container scroll-smooth">
        <jhi-amass-statistics [sliderValue]="sliderCount" (activeDataList)="activeDataStatus($event)"></jhi-amass-statistics>
    </div>
</section>
<section class="home-slider slider-min" *ngIf="!eventDataListStatus && !articleDataListStatus && !providerDataListStatus">
    <div class="slider-min scroll-smooth">
        <ngb-carousel (slide)="onSlide($event)" [ngStyle]="{'background-color': '#353d47'}">
            <ng-template ngbSlide activeId="1" id="121">
                <div class="container custom-container slider-min">
                    <jhi-home-data-events [dataEvents]="dataEvents"></jhi-home-data-events>
                </div>
            </ng-template>
            <ng-template ngbSlide activeId="2" id="221">
                <div class="container custom-container slider-min">
                    <jhi-home-data-article [dataArticles]="dataArticles"></jhi-home-data-article>
                </div>
            </ng-template>
            <ng-template ngbSlide activeId="3" id="222">
                <div class="container custom-container slider-min">
                    <jhi-data-feature-provider [dataFeatureProvider]="dataFeatureProvider" [dataRecentProvider]="dataRecentProvider"></jhi-data-feature-provider>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>
<section class="home-slider slider-transition slider-min" *ngIf="eventDataListStatus || articleDataListStatus || providerDataListStatus">
    <div class="slider-min scroll-smooth">
        <ngb-carousel>
            <ng-template ngbSlide *ngIf="eventDataListStatus" class="slider-transition">
                <div class="container custom-container slider-transition slider-min">
                    <jhi-home-data-events [dataEvents]="dataEvents"></jhi-home-data-events>
                </div>
            </ng-template>
            <ng-template ngbSlide *ngIf="articleDataListStatus" class="slider-transition">
                <div class="container custom-container slider-transition slider-min">
                    <jhi-home-data-article [dataArticles]="dataArticles"></jhi-home-data-article>
                </div>
            </ng-template>
            <ng-template ngbSlide *ngIf="providerDataListStatus" class="slider-transition">
                <div class="container custom-container slider-transition slider-min">
                    <jhi-data-feature-provider [dataFeatureProvider]="dataFeatureProvider" [dataRecentProvider]="dataRecentProvider"></jhi-data-feature-provider>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>
<!-- <section>
    <jhi-data-feature-provider></jhi-data-feature-provider>
</section> -->
<!-- <section class="home-slider" *ngIf="eventDataListStatus" [ngStyle]="{'background-color': '#353d47'}">
    <div [ngStyle]="{'background-color': '#353d47'}">
        <div class="container">
            <jhi-home-data-events></jhi-home-data-events>
        </div>
    </div>
</section>
<section class="home-slider" *ngIf="articleDataListStatus" [ngStyle]="{'background-color': '#353d47'}">
    <div [ngStyle]="{'background-color': '#353d47'}">
        <div class="container">
            <jhi-home-data-article></jhi-home-data-article>
        </div>
    </div>
</section> -->
<section>
    <div class="row nomargin scroll-smooth">
        <div class="col-md-12 text-center">
            <div class="section-title section-title-icon">
                <h2 class="section-title-text">Insights Is Built For...</h2>
                <div class="diamond-border diamond-border-res"></div>
            </div>
        </div>
    </div>
    <div class="row nomargin scroll-smooth">
        <div class="col-md-6 nopadding">
            <div class="box-container">
                <div class="box-body">
                    <h4 class="box-inner-title">Investors & Data Consumers</h4>
                    <p class="box-text">As an investment manager or analyst, you are inundated with information streams coming from every direction. Insights helps you discover unique sources of information targeted to your strategies and convert those data streams into alpha-generating ideas.</p>
                    <div class="text-center">
                        <h5 class="title-bottom-line">Apply for Access</h5>
                        <button type="button" mat-raised-button color="warn" (click)="openApplyDialog('ROLE_INVESTOR'); investorsSignUp('Home - Investors - Sign Up')">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 nopadding">
            <div class="box-container box-grey">
                <div class="box-body">
                    <h4 class="box-inner-title">Data, Analytics & Research Providers</h4>
                    <p class="box-text">As a company possessing valuable data or producing insightful research and analytics, it can be exhausting to discover and interact with qualified leads and convert them into sales. Insights opens up new revenue streams to your organization as a trusted provider for investment managers, unlocking value within the opaque hedge fund industry.</p>
                    <div class="text-center">
                        <h5 class="title-bottom-line">Claim your Data Profile</h5>
                        <button type="button" mat-raised-button color="warn" (click)="openApplyDialog('ROLE_PROVIDER'); investorsSignUp('Home - Providers - Sign Up')" >Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row nomargin scroll-smooth">
        <div class="col-md-12 text-center press-header">
            <div class="press-section-title press-section-title-icon">
                <h2 class="press-section-title-text">Publications that featured Amass Insights</h2>
                <div class="diamond-border-press diamond-border-res"></div>
            </div>
        </div>
    </div>
    <div class="row nomargin scroll-smooth">
        <div class="col-md-12 row nomargin">
            <div class="col-md-4 image-padding">
                <img class="press-img press-yahoo"  (click)="pressPage()" src="../../content/images/yahoo.png" alt="yahoo">
            </div>
            <div class="col-md-4 image-padding">
                <img class="press-img press-times"  (click)="pressPage()" src="../../content/images/New_York_Times_logo.png" alt="newyork">
            </div>
            <div class="col-md-4 image-padding">
                <img class="press-img"  (click)="pressPage()" src="../../content/images/Bobsguide_logo.png" alt="guide">
            </div>
        </div>
        <div class="col-md-12 row nomargin">
            <div class="col-md-3 image-padding">
                <img class="press-img press-statellite"  (click)="pressPage()" src="../../content/images/Via-Satellite-Logo_Black.png" alt="statellite">
            </div>
            <div class="col-md-3 image-padding">
                <img class="press-img"  (click)="pressPage()" src="../../content/images/Reuters-Logo.png" alt="reuters">
            </div>
            <div class="col-md-3 image-padding">
                <img class="press-img press-nect"  (click)="pressPage()" src="../../content/images/nect.png" alt="nect">
            </div>
            <div class="col-md-3 image-padding">
                <img class="press-img press-nect"  (click)="pressPage()" src="../../content/images/fundfire-logo.png" alt="fundfire">
            </div>
        </div>
        <div class="col-md-12 row nomargin">
            <button type="button" class="view-btn" (click)="pressPage()" mat-raised-button color="warn">View Amass Insights in the Press</button>
        </div>
    </div>
</section>
