/* Comments List */
:host >>> .ui-sidebar-right.ui-sidebar {
    /* overflow: scroll !important; */
}

::ng-deep .cdk-global-overlay-wrapper,
::ng-deep .cdk-overlay-container,
::ng-deep .cdk-overlay-container .cdk-overlay-connected-position-bounding-box {
    z-index: 99999 !important;
}

.mat-select.ng-valid,
.mat-select.ng-invalid {
    border-width: 0px;
}

::ng-deep .amassInput .mat-select .mat-select-value {
    max-width: 100%;
}

::ng-deep .amassInput .mat-select .mat-select-value .mat-select-placeholder {
    color: rgb(117, 117, 117);
}

::ng-deep .amassInput .mat-select-invalid .mat-select-trigger .mat-select-placeholder.ng-trigger {
    color: rgba(0,0,0,.54) !important;
}

::ng-deep .comment-select-input {
    width: 90% !important;
}

::ng-deep .comment-select-input .mat-select-trigger {
    width: 100%;
}

.amass-sidebar-title,
.amass-sidebar-subtitle {
    position: fixed;
}

.amass-sidebar-subtitle {
    top: 30px;
}

.amass-comment-card {
    padding: 0px;
    margin-top: 20px;
}
.comment-post {
    padding: 0 18px;
}
.comment-post-btn {
    margin-bottom: 10px;
    margin-top: 5px;
}
.comment-post-title {
    padding: 10px 0 0 15px;
}
.mat-list.amass-comment-list {
    padding-top: 0px;
}

.mat-list-item.amass-comment-list-item {
    border-bottom: 1px solid #ddd;
}
.mat-list.amass-comment-list > .mat-list-item:nth-child(2n+1){
    background-color:#f5f5f5;
}
.mat-list.amass-comment-list > .mat-list-item:nth-child(2n){
    background-color:#ffffff;
}

::ng-deep .mat-list .mat-list-item .mat-line{
    word-wrap: break-word;
    white-space: pre-wrap;
}

::ng-deep  .mat-list .mat-list-item{
    height: initial !important;
}

.amass-comment-title {
    float: left;
    padding: 10px 0px 5px 0;
    font-size: 14px;
}
.amass-comment-privacy{
    float: right;
    padding: 10px 0px 5px 0;
    font-size: 14px;
}
.amass-comment-data-text {
    padding: 3px 0 10px 0 !important;
}
.comment-sec-title {
    margin-bottom: 48px;
}
.amass-comment-chip {
    float: left;
}

.amass-comment-type {
    float: left;
    padding: 7px;
}

.amass-comment-date-text {
    color: #cecece;
}

.amass-comment-text {
    color: #b2b2b2;
}
.comment-post-sec{
    height:220px;
    overflow: auto;
}
.comment-select{
    min-width: 150px;
}
.select-dropdown{
    margin-top: 26px;
    border: none;
    position: relative;
    min-width: 128px !important;
    height: 28px;
    cursor: pointer;
    color: #fff !important;
    background: #f5f5f5;
    font-weight: 600;
    border-radius: 0.15rem;
    margin-top: 26px;
}
.comment-dropdown{
    border: none;
    position: relative;
    min-width: 128px !important;
    height: 28px;
    /* text-align: left; */
    cursor: pointer;
    font-size: 12px !important;
    color: #fff;
    background: #fe5722;
    font-weight: 600;
    margin: 1px 0;
    /* padding: 0 8px; */
    line-height: 0px;
    border-radius: 0.15rem;
}
.mat-select-panel {
    min-width: 161px !important;
}
.cdk-overlay-pane{
    min-width: 161px !important;
    margin-top: 35px;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-chip-dark-black {
    background-color: #333333;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-chip-grey-black {
    background-color: #777777;
}

::ng-deep .mat-option.mat-option-disabled .mat-option-ripple.mat-ripple {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(0, 0, 0, 0.4);
    color: #333;
    font-size: 1.6em;
}

::ng-deep .mat-option.mat-option-disabled .mat-option-ripple.mat-ripple::before {
    content: "\F023";
    top: 25%;
    left: 50%;
    color: #333c40;
    position: absolute;
}
