<p-sidebar [(visible)]="displayCommentSidebar" position="right" styleClass="ui-sidebar-md" [baseZIndex]="10000" [blockScroll]="true" (onHide)="onHide($event)" (onShow)="onShow()">
    <div>
        <h5 class="amass-sidebar-title"><span matTooltip="View all notes and discussions about this provider">Notes & Discussion</span></h5>
        <h6 class="amass-sidebar-subtitle">{{comments.length}} Comments or Notes</h6>
    </div>
    <div style="width: 128px !important;clear: both;">
        <mat-select style="width: 128px !important;margin-top: 26px;" [(ngModel)]="modeselect" name="commentType" placeholder="All" class="select-dropdown">
            <mat-option value="All" ><button class="comment-dropdown" (click)="selectPrivacyFilter(1);changeText('All')">All</button></mat-option>
            <mat-option value="Private" ><button class="comment-dropdown" (click)="selectPrivacyFilter(581);changeText('Private')">Private</button></mat-option>
            <mat-option value="Public"><button class="comment-dropdown" (click)="selectPrivacyFilter(582);changeText('Public')">Public</button></mat-option>
        </mat-select>
    </div>
    <div class="comment-post-sec">
        <mat-card class="amass-comment-card" *ngFor="let comment of comments">
            <mat-list class="amass-comment-list">
                <mat-list-item class="amass-comment-list-item">
                    <!-- <img matListAvatar src="data:image/png;base64,{{avatar}}"> -->
                    <h6 matLine>
                        <div class="opensans-semibold amass-comment-title">{{comment.byUserId.firstName}} {{comment.byUserId.lastName}}</div>
                        <div class="opensans-semibold amass-comment-privacy">{{comment.privacy}}</div>
                        <!-- <mat-chip-list class="amass-comment-chip">
                            <mat-chip class="mat-chip-dark-black" style="width: 20">Purchased</mat-chip>
                        </mat-chip-list> -->
                        <!-- <div class="pull-right green-text">Question</div> -->
                    </h6>
                    <p matLine class="amass-comment-date-text opensans-regular">{{comment.createdDate | date}}</p>
                    <p matLine class="amass-comment-text opensans-semibold amass-comment-data-text" [innerHTML]="comment.comment"></p>
                    <!-- <p matLine class="amass-comment-text opensans-semibold">
                        {{comment.comment}}
                    </p> -->
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
    <mat-card class="amass-comment-card">
        <h6 class="opensans-bold comment-post-title">{{commentsTitle}}</h6>
        <form class="comment-post" role="form" name="commentForm" novalidate (ngSubmit)="postComment()" #commentForm="ngForm">
            <!-- <textarea class="mat-elevation-z2 amassInput" name="comment" id="comment" placeholder="Write a private note or post a request for clarifications about this provider here...*" [(ngModel)]="comment.comment"></textarea> -->
            <p-editor *ngIf="changeTextValue === 'All'" name="comment" id="comment" placeholder="Write a private note or post a request for clarifications about this All here...*" [(ngModel)]="comment.comment">
            </p-editor>
            <p-editor *ngIf="changeTextValue === 'Private'" name="comment" id="comment" placeholder="Write a private note about this Private here...*" [(ngModel)]="comment.comment">
            </p-editor>
            <p-editor *ngIf="changeTextValue === 'Public'" name="comment" id="comment" placeholder="Post your thoughts or a request for clarifications about this Public here...*" [(ngModel)]="comment.comment">
            </p-editor>
            <div class="mat-elevation-z2 amassInput" style="padding: 6px; margin-top: 10px;">

                <mat-select #postType name="commentType" placeholder="Post Type" [(value)]="comment.privacy" [(ngModel)]="comment.privacy" class="comment-select-input">
                    <p-blockUI [target]="public" [blocked]="!commentPrivateBtn" *ngIf="!commentPrivateBtn">
                        <!-- <i class="fa fa-lock fa-3x" style="position:absolute;top:42%;left:6%;z-index: 999;font-size: 24px;"></i> -->
                    </p-blockUI>
                    <mat-option value="private" [disabled]="!commentPrivateBtn" [ngStyle]="{'background-color': !commentPrivateBtn? 'rgba(0, 0, 0, 0.4)' : ''}"><span [matTooltip]="commentPrivateBtn ? 'Your account is not allowed to use this feature. Please upgrade if you would like access to it.' : 'Save note privately to your account'">Private</span></mat-option>
                    <p-blockUI [target]="public" [blocked]="!commentPublicBtn" *ngIf="!commentPublicBtn">
                        <!-- <i class="fa fa-lock fa-3x" style="position:absolute;top:42%;left:6%;z-index: 999;font-size: 24px;"></i> -->
                    </p-blockUI>
                    <mat-option #public value="public" [disabled]="!commentPublicBtn" [ngStyle]="{'background-color': !commentPublicBtn? 'rgba(0, 0, 0, 0.4)' : ''}"><span matTooltip="Post publically">Public</span></mat-option>
                    <p-blockUI [target]="pnl" [blocked]="true">
                        <!-- <i class="fa fa-lock fa-3x" style="position:absolute;top:42%;left:6%;z-index: 999;font-size: 24px;"></i> -->
                    </p-blockUI>
                    <mat-option #pnl value="Direct" [disabled]="true" [ngStyle]="{'background-color': 'rgba(0, 0, 0, 0.4)'}" matTooltip="Your account is not allowed to use this feature. Please upgrade if you would like access to it."><span>Direct</span></mat-option>
                    <p-blockUI [target]="team" [blocked]="true">
                        <!-- <i class="fa fa-lock fa-3x" style="position:absolute;top:42%;left:6%;z-index: 999;font-size: 24px;"></i> -->
                    </p-blockUI>
                    <mat-option #team value="Team" [disabled]="true" [ngStyle]="{'background-color': 'rgba(0, 0, 0, 0.4)'}" matTooltip="Your account is not allowed to use this feature. Please upgrade if you would like access to it."><span>Team</span></mat-option>
                    <p-blockUI [target]="prvt" [blocked]="true">
                        <!-- <i class="fa fa-lock fa-3x" style="position:absolute;top:42%;left:6%;z-index: 999;font-size: 24px;"></i> -->
                    </p-blockUI>
                    <mat-option #prvt value="PrivateAndSecured" [disabled]="true" [ngStyle]="{'background-color': 'rgba(0, 0, 0, 0.4)'}" matTooltip="Your account is not allowed to use this feature. Please upgrade if you would like access to it."><span>Private & Secured</span></mat-option>
                    <p-blockUI [target]="ts" [blocked]="true">
                        <!-- <i class="fa fa-lock fa-3x" style="position:absolute;top:42%;left:6%;z-index: 999;font-size: 24px;"></i> -->
                    </p-blockUI>
                    <mat-option #ts value="TeamAndSecured" [disabled]="true" [ngStyle]="{'background-color': 'rgba(0, 0, 0, 0.4)'}" matTooltip="Your account is not allowed to use this feature. Please upgrade if you would like access to it."><span>Team & Secured</span></mat-option>
                    <p-blockUI [target]="ds" [blocked]="true">
                        <!-- <i class="fa fa-lock fa-3x" style="position:absolute;top:42%;left:6%;z-index: 999;font-size: 24px;"></i> -->
                    </p-blockUI>
                    <mat-option #ds value="DirectAndSecured" [disabled]="true" [ngStyle]="{'background-color': 'rgba(0, 0, 0, 0.4)'}" matTooltip="Your account is not allowed to use this feature. Please upgrade if you would like access to it."><span>Direct & Secured</span></mat-option>
                </mat-select>
                <button type="button" mat-icon-button (click)="postType.open()">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
            <ng-container>
                <p-blockUI [target]="check" [blocked]="true">
                    <i class="fa fa-lock fa-3x" style="position:absolute;left:13%;z-index: 999;font-size: 24px;"></i>
                </p-blockUI>
                <mat-checkbox #check class="amass-checkbox checkbox-label" [disabled]="true" [ngStyle]="{'background-color': 'rgba(0, 0, 0, 0.4)'}" color="warn" name="anonymously">
                    Post anonymously
                </mat-checkbox>
            </ng-container>
            <div>
                <button type="submit" mat-raised-button color="warn" class="comment-post-btn">
                    <ng-container *ngIf="comment.privacy === 'private'"><span matTooltip="Save note privately" (click)="privacyComment({'label':'Provider Profile - Comment - Button - Save','category':'Private Comment','event': 'Saved'})">Save</span></ng-container>
                    <ng-container *ngIf="comment.privacy === 'public'"><span matTooltip="Post publically" (click)="privacyComment({'label':'Provider Profile - Comment - Button - Post','category':'Public Comment','event': 'Posted'})">Post</span></ng-container>
                    <ng-container *ngIf="comment.privacy === 'Direct'">Send</ng-container>
                </button>
            </div>
        </form>
    </mat-card>
</p-sidebar>
