/* Button style */
.mat-fab.mat-warn, .mat-mini-fab.mat-warn, .mat-raised-button.mat-warn {
    background-color: #fe5722;
}

button.mat-blue {
    background-color: #438afe;
}

.mat-raised-button {
	text-transform: uppercase;
}

/**
 * Sections
 */
.section-margin {
	margin: 20px 0;
}

.nopadding[class*='col-md-'] {
	padding: 0px;
}

.grey-text {
	color: #858585;
}

/**
 * Search bar
 */
.searchbar-full-width {
	width: 100%;
}

.searchbar-full-width.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0px;
}

.searchbar-full-width .mat-form-field-infix {
    border: 1px solid #333;
    background-color: #fff;
    border-radius: 8px;
}

.searchbar-full-width,
.searchbar-full-width .mat-form-field-label,
.searchbar-full-width.mat-focused .mat-form-field-label {
	color: rgba(0,0,0,.54);
}

.searchbar-full-width .mat-form-field-ripple,
.searchbar-full-width .mat-form-field-underline.mat-form-field-underline {
	background-color: transparent;
}

.searchbar-full-width.mat-focused .mat-form-field-ripple,
.searchbar-full-width.mat-focused .mat-form-field-underline.mat-form-field-underline {
	background-color: transparent;/*  #438afe; */
}

.searchbar-full-width .mat-form-field-label,
.searchbar-full-width.mat-focused .mat-form-field-label,
.searchbar-full-width .mat-input-element {
    padding-left: 10px;
}

.searchForm {
	margin-bottom: 15px;
}

/**
 * Page Title
 */
.page-title {
	background-color: #888;
    color: #fff;
    padding: 0px 0px 25px 0px;
    margin-top: -5px;
    text-align: center;
    font-weight: bold;
    position: relative;
    font-size: 1.44rem;
}

.organization-page-title {
	background-color: #888;
    color: #fff;
    padding: 6px 0px 25px 0px;
    margin-top: -5px;
    text-align: center;
    font-weight: bold;
    position: relative;
    font-size: 1.44rem;
}

.organization-page-title::after {
	content: '';
    position: absolute;
    width: 90px;
    margin-left: -45px;
    height: 1px;
    left: 50%;
    bottom: 20px;
    background-color: #fff;
}

.page-title::after {
	content: '';
    position: absolute;
    width: 90px;
    margin-left: -45px;
    height: 1px;
    left: 50%;
    bottom: 20px;
    background-color: #fff;
}

/**
 * Sorting
 */
.mat-grid-tile .fa-sort,
.mat-grid-tile .fa-sort-desc,
.mat-grid-tile .fa-sort-asc {
	margin-left: 5px;
}

/**
 * Text truncate
 */
.block-ellipsis {
	display: block;
	display: -webkit-box;
	max-width: 100%;
	height: 40px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 1;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bold-text {
    font-weight: bold !important;
}

.bolder-text {
    font-weight: bolder !important;
}

.warn-text {
    color: #fe5722 !important;
}

.warn {
    background-color: #fe5722 !important;
}

/* Icon text */
.icon-middle {
    vertical-align: sub;
    float: right;
}

/* Filter
**************** */
/* Checkbox */
.filter-checkbox .mat-checkbox-frame,
.filter-checkbox .mat-check-background,
.filter-checkbox.mat-checkbox-anim-checked-unchecked .mat-checkbox-background,
.filter-checkbox.mat-checkbox-checked.mat-warn .mat-checkbox-background,
.filter-checkbox.mat-checkbox-indeterminate.mat-warn .mat-checkbox-background {
    border-radius: 50% !important;
    background-color: #fff !important;
    border-width: 0px !important;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.filter-checkbox .mat-checkbox-checkmark {
    fill: #f44336 !important;
}

.filter-checkbox .mat-checkbox-checkmark-path {
    stroke: #f44336 !important;
}

/* General Checbox
**************** */
.amass-checkbox .mat-checkbox-inner-container {
    width: 18px;
    height: 18px;
}
.amass-checkbox .mat-checkbox-frame,
.amass-checkbox .mat-check-background,
.amass-checkbox.mat-checkbox-anim-checked-unchecked .mat-checkbox-background,
.amass-checkbox.mat-checkbox-checked.mat-warn .mat-checkbox-background,
.amass-checkbox.mat-checkbox-indeterminate.mat-warn .mat-checkbox-background {
    border-radius: 50% !important;
    background-color: #fff !important;
    border-width: 0px !important;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.amass-checkbox .mat-checkbox-checkmark {
    fill: #f44336 !important;
}

.amass-checkbox .mat-checkbox-checkmark-path {
    stroke: #f44336 !important;
}

.amass-checkbox .mat-checkbox-layout .mat-checkbox-label {
    font-size: 0.8rem;
    line-height: 1.3rem;
}

/* Expansion Panel */
.amass-filter .mat-expansion-indicator::after {
    border: 0px !important;
    content: '+';
    transform: rotate(0deg);
    color: #fff;
    font-size: 1.2rem;
}

.amass-filter.mat-expanded .mat-expansion-indicator::after {
    content: '-' !important;
}
.sb-default .sb-wrapper.sb-linkedin,.sb-default .sb-wrapper.sb-twitter,.sb-default .sb-wrapper.sb-email,.sb-default .sb-wrapper.sb-copy{
    min-width: 110px !important;
}
.sb-default .sb-wrapper{
    min-width: 110px !important;
}
@media screen and (max-width: 414px){
    .amass-checkbox .mat-checkbox-layout .mat-checkbox-label {
        font-size: 9px!important;
        line-height: 1rem!important;
        margin-bottom: 0.2rem;
    }
}
@media screen and (max-width: 375px){
    .amass-checkbox .mat-checkbox-layout .mat-checkbox-label {
        overflow-wrap: break-word;
    }
}
.blue-snackbar {
    background:#B0B0B0;
    border-style: solid;
    border-color: black;
  }