<mat-expansion-panel displayMode="flat" class="amass-filter" *ngIf="filters.filterType === 'checkbox'">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{filters.filterName}}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="filter-list" [ngClass]="{'scroll-list': filters.filterList.length > 5}">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of filters.filterList">
                <mat-checkbox class="filter-checkbox" color="warn" [value]="item.id" (change)="onFilter('must', item.id, filters.filterTerm)">
                    <div class="filter-text"><span>{{item.value}}</span></div>
                    <span class="pull-right filter-count">&nbsp;({{item.count}})</span>
                </mat-checkbox>
            </li>
        </ul>
    </div>
</mat-expansion-panel>

<mat-expansion-panel displayMode="flat" class="amass-filter" *ngIf="filters.filterType === 'radio'">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{filters.filterName}}
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="filter-list">
        <mat-radio-group [(ngModel)]="selectedRadio[filters.filterName.toLowerCase()]">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of filters.filterList">
                    <mat-radio-button class="filter-checkbox" color="warn" value="{{item.value}}" (change)="onFilter('must', item.value, filters.filterTerm)"><div class="filter-text">{{item.value}}</div></mat-radio-button>
                </li>
            </ul>
        </mat-radio-group>
    </div>
</mat-expansion-panel>
