/**
 * Filter Elements
 */
 .amass-filter,
 .mat-accordion .amass-filter.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover {
	background-color: #438afe;
}
.block-filter{
    background-color: #89898a !important;
    color:black;
}
.block-status-filter{
    display: none;
}
.block-filter-title{
    color: #424141 !important;
}
.mat-accordion .amass-filter.mat-expansion-panel {
    margin-bottom: 20px;
    overflow: visible !important;
}

.amass-filter {
	margin-bottom: 20px;
	.mat-expansion-panel-header {
        height: 48px !important;
		.mat-expansion-panel-header-title {
			text-transform: uppercase;
			color: #fff !important;
		}
	}

	.mat-expansion-panel-content {
		color: red;
    }

    .filter-list.scroll-list {
        height: 200px;;
		overflow-y: scroll;
		overflow-x: hidden;
    }

	.filter-list {
        font-size: 0.9em;
        .list-group-item {
            padding: 5px 10px;
            .filter-checkbox {
                font-size: 14px;
            }
        }
    }

    ::ng-deep .filter-checkbox.mat-checkbox,
    ::ng-deep .filter-checkbox.mat-checkbox .mat-checkbox-layout,
    ::ng-deep .filter-checkbox.mat-checkbox .mat-checkbox-label {
        width: 100%;
        margin-bottom: 0;
        white-space: inherit;
    }

    .filter-checkbox.mat-checkbox .filter-text {
        width: 80%;
        float: left;
        font-size: 14px;
        line-height: 20px;
    }

    .blurText {
        color: transparent !important;
        text-shadow: 0 0 10px rgba(0,0,0,0.5);
        text-shadow: 0px 0px 0px 10px #e7e7e7;
    }

    .hide {
        display: none;
    }

    .filter-checkbox.mat-checkbox .filter-count {
        width: 20%;
        font-weight: bold;
        text-align: right;
        font-size: 12px;
        font-family: OpenSans-Bold;
    }

	.mat-expansion-indicator::after {
		color: #fff;
    }

    .horizontal-list {
        padding: 8px 16px;
        background-color: #ffffff;
    }

    .horizontal-list .list-item {
        margin-right: 5px;
        margin-bottom: 10px;
        padding: 4px 5px;
        display: inline-block;
    }

    ::ng-deep .horizontal-list .list-item .mat-checkbox .mat-checkbox-layout {
        margin-bottom: 0px !important;
        white-space: inherit;
    }

    ::ng-deep .horizontal-list .list-item .mat-checkbox-inner-container {
        width: 8px;
        height: 8px;
    }

    ::ng-deep .horizontal-list .list-item .filter-checkbox .mat-checkbox-checkmark,
    ::ng-deep .horizontal-list .list-item .filter-checkbox .mat-checkbox-checkmark-path {
        stroke: #fff !important;
        fill: #fff !important;
    }

    ::ng-deep .filter-slider {
        padding: 10px 20px 10px 26px;

        .noUi-target.noUi-horizontal {
            height: 12px;
            background-color: #e9e9e7;
            border-width: 0px;
        }
        .noUi-connect {
            background-color: #d4d4d4;
        }
        .noUi-horizontal .noUi-handle {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            top: -9px;
            border-width: 8px;
            border-color: #fff;
            background-color: #f44336;
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        }

        .noUi-horizontal .noUi-handle.noUi-handle-upper {
            left: -19px;
        }
        .noUi-horizontal .noUi-handle.noUi-handle-upper:focus,
        .noUi-horizontal .noUi-handle.noUi-handle-lower:focus {
            outline: 0;
        }
        .noUi-target.noUi-horizontal, .noUi-connect {
            box-shadow: none;
        }
        .slider-value-row {
            padding: 5px 0px;
            font-size: 16px;
        }
        .slider-value {
            padding: 4px;
            border: 1px solid #ddd;
            border-radius: 2px;
            background-color: #e9e9e7;
            font-weight: bold;
            max-width: 65px;
        }
    }

    ::ng-deep .filter-checkbox .mat-radio-container .mat-radio-outer-circle {
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
        border: 0;
    }
    ::ng-deep .filter-checkbox.mat-radio-button {
        font-family: OpenSans-Light;
    }

    ::ng-deep .mat-expansion-panel-body {
        padding: 0px 0px 0px 0px;
    }
}

.filter-inner-title {
	padding: 10px 16px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 0px;
}

.clear-filters-button {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.clear-filters-button .clear-icon {
    float: right;
    color: #f44336;
    line-height: 36px;
}

.mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{
    background-color: #f44336 !important;
}
.default-filter{
    font-family: OpenSans-Light;
    font-size: 15px;
    font-weight: 400;
}
.amass-recommended-filter{
    background: #ffffff;
    padding-top: 5px;
    color: #fff;
}



/* Sortby Bar */
nav.navbar.amass-genric-filter {
    /* background-color: #fff; */
    /* margin: 10px 0; */
    /* padding-right: 0px; */
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    .navbar-collapse {
        .navbar-nav .nav-item {
            text-align: center !important;
            .nav-link {
                border-right: 1px solid #ddd;
                padding-left: 13px;
                padding-right: 13px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .navbar-nav .nav-item:last-child .nav-link {
            border-right: 0px;
        }
    }

    a.pointer {
        cursor: default;
    }
}
.navbar{
    padding: 0px;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
a.navbar-brand span{
    cursor: default;
}

a.nav-link.opensans-semibold {
    cursor: default;
}
a.navbar-brand {
    cursor: default;
}
.filter-collapse{
    background-color: #fff;
}

@media screen and (max-width: 1024px) {
    .filter-collapse-container {
        width: 100%;
        background-color: #fff;
        margin-bottom: 5px;
    }

    nav.navbar.amass-genric-filter {
        .navbar-collapse {
            .navbar-nav .nav-item .nav-link {
                text-align: right;
            }
        }
    }
}
@media screen and (min-width: 992px) {
    nav.navbar.amass-genric-filter .filter-collapse-container {
        display: none;
    }
}

nav.navbar.amass-genric-filter .jh-navbar-toggler {
    line-height: 40px;
}
.more-less{
    margin-right: 5px;
}
.personal-tag-icon{
    width: 20px;
    margin-right: 10px;
}
::ng-deep .button-title .button-tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: white;
    text-align: center;
    border: 1px solid #80808070;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    margin-top: 8% !important;
    z-index: 99999 !important;
    left: 10%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 500ms;
  }

  ::ng-deep  .button-title .button-tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #c0c0c0 transparent;
  }

  ::ng-deep  .button-title:hover .button-tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  ::ng-deep .popover-span{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 100 !important;
    font-size: 14px !important;
    display: table-cell !important;
    text-align: left !important;
    padding-left: 6px !important;
}
