<div>
    <div>
        <button mat-raised-button class="clear-filters-button" *ngIf="selectedFilterData && selectedFilterData.length !== 0" (click)="clearFilters()">Clear All Filters <i class="fa fa-times clear-icon" aria-hidden="true"></i></button>
    </div>
</div>
<div *ngIf="(filterCheckBox !== 'Providers' && filterCheckBox !== 'Articles' && filterCheckBox !== 'Categories' && enableDefaultItem)">
    <mat-checkbox class="filter-checkbox"  color="warn" [(ngModel)]="defaultItem" (change)="defaultFilterChange($event)">
        <div class="filter-text default-filter"><span >Taking Place in the Future</span></div>
    </mat-checkbox>
</div>
<div>
    <nav class="navbar navbar-expand-lg amass-genric-filter">
        <div class="filter-collapse-container">
            <button mat-icon-button class="jh-navbar-toggler hidden-lg-up float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#sortByBarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleSortByBar()">
                <mat-icon>more_vert</mat-icon>
            </button>
            <a class="navbar-brand pointer">
                <span> <span class="opensans-bold">Filter</span></span>
            </a>
        </div>
        <div class="navbar-collapse collapse" id="sortByBarResponsive" [ngbCollapse]="isSortByBarCollapsed" [ngbCollapse]="isNavbarCollapsed">
            <ul class="navbar-nav ml-auto right-menus">
                <li>
                    <ng-container *ngFor="let filters of filterList; let i = index">
                        <mat-accordion>
                            <mat-expansion-panel displayMode="flat" [disabled]="((filters.filterName === 'Willingness to Provide to Investors' && !userLevel) || (filters.filterName === 'Uniqueness' && !userLevel) || (filters.filterName === 'Value' && !userLevel) || (filters.filterName === 'Readiness' && !userLevel) || (filters.filterName === 'Overall' && !userLevel) || (filters.filterName === 'Delivery Frequency' && !userLevel))" class="amass-filter" *ngIf="filters.filterType === 'checkbox' && filters.filterName !== ''" [hidden]="filters.hidden" [expanded]="filters.expanded" (opened)="onExpand(filters)" (closed)="onCollapse(filters)" (click)="filterAuthenticate()">
                                <mat-expansion-panel-header [ngClass]="{'block-filter': (filters.filterName === 'Willingness to Provide to Investors' && !userLevel) || (filters.filterName === 'Uniqueness' && !userLevel) || (filters.filterName === 'Value' && !userLevel) || (filters.filterName === 'Readiness' && !userLevel) || (filters.filterName === 'Overall' && !userLevel) || (filters.filterName === 'Delivery Frequency' && !userLevel)}">
                                    <p-blockUI [target]="filterblock" [blocked]="(filters.filterName === 'Willingness to Provide to Investors' && !userLevel) || (filters.filterName === 'Uniqueness' && !userLevel) || (filters.filterName === 'Value' && !userLevel) || (filters.filterName === 'Readiness' && !userLevel) || (filters.filterName === 'Overall' && !userLevel) || (filters.filterName === 'Delivery Frequency' && !userLevel)" *ngIf="(filters.filterName === 'Willingness to Provide to Investors' && !userLevel) || (filters.filterName === 'Uniqueness' && !userLevel) || (filters.filterName === 'Value' && !userLevel) || (filters.filterName === 'Readiness' && !userLevel) || (filters.filterName === 'Overall' && !userLevel) || (filters.filterName === 'Delivery Frequency' && !userLevel)">
                                        <i class="fa fa-lock fa-3x" style="position:absolute;left:46%;z-index: 1;font-size: 24px;"></i>
                                    </p-blockUI>
                                    <!-- <mat-panel-title  *ngIf="(filters.filterName !== 'Willingness to Provide to Investors' && !userLevel) || (filters.filterName !== 'Uniqueness' && !userLevel) || (filters.filterName !== 'Value' && !userLevel) || (filters.filterName !== 'Readiness' && !userLevel) || (filters.filterName !== 'Overall' && !userLevel) || (filters.filterName !== 'Delivery Frequency' && !userLevel)">
                                        <span [matTooltip]="filters.mouseoverExplanation">{{filters.filterName}}</span>
                                    </mat-panel-title> -->
                                    <span class="button-title">
                                        <mat-panel-title #filterblock>
                                            <span [ngClass]="{'block-filter': (filters.filterName === 'Willingness to Provide to Investors' && !userLevel) || (filters.filterName === 'Uniqueness' && !userLevel) || (filters.filterName === 'Value' && !userLevel) || (filters.filterName === 'Readiness' && !userLevel) || (filters.filterName === 'Overall' && !userLevel) || (filters.filterName === 'Delivery Frequency' && !userLevel)}"
                                            [matTooltip]="(filters.filterName === 'Willingness to Provide to Investors' && !userLevel) || (filters.filterName === 'Uniqueness' && !userLevel) || (filters.filterName === 'Value' && !userLevel) || (filters.filterName === 'Readiness' && !userLevel) || (filters.filterName === 'Overall' && !userLevel) || (filters.filterName === 'Delivery Frequency' && !userLevel) ? '' : filters.mouseoverExplanation">{{filters.filterName}}</span>
                                            <div class="button-tooltiptext" *ngIf="(filters.filterName === 'Willingness to Provide to Investors' && !userLevel) || (filters.filterName === 'Uniqueness' && !userLevel) || (filters.filterName === 'Value' && !userLevel) || (filters.filterName === 'Readiness' && !userLevel) || (filters.filterName === 'Overall' && !userLevel) || (filters.filterName === 'Delivery Frequency' && !userLevel)">
                                                <span class="popover-span" style="text-transform: none;
                                                color: black !important;">Your account is not allowed to use this feature.<br>
                                                    <button style="margin:0 60px !important;font-family: 'OpenSans-Light';" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
                                                </span>
                                            </div>
                                        </mat-panel-title>
                                    </span>

                                </mat-expansion-panel-header>
                                <div class="filter-list" [ngClass]="{'scroll-list': filters.filterList.length > 5}">
                                    <ul class="list-group">
                                        <ng-container *ngFor="let item of filters.filterList; trackBy: trackByIndex" (click)="collapseSortByBar()">
                                            <ng-template #tipContent class="tooltip" >
                                                <span class="popover-span">Your account does not have permission to view this.<br>
                                                    <button style="margin:0 38px !important;" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
                                                </span>
                                            </ng-template>
                                            <li class="list-group-item" *ngIf="isAdmin; else nonAdminCheckbox">
                                                <mat-checkbox class="filter-checkbox" [disabled]="item.locked" color="warn" [value]="item.id" [(ngModel)]="item.checked" (change)="onFilter(item.id, filters.filterTerm, $event, filters.filterType); filterChecked({'label': filters.filterName + ' - ' + item.value,'event': $event})">
                                                    <div class="filter-text" [ngClass]="{blurText: item.locked}" [ngbPopover]="tipContent" #p="ngbPopover" triggers="mouseenter" (mouseenter)="mouseEnter(p)" container="body" *ngIf="item.locked"><span >{{item.value}}</span></div>
                                                    <div class="filter-text" [ngClass]="{blurText: item.locked}" [matTooltip]="item.explanation" [matTooltipShowDelay]="matTooltipShowDelay" *ngIf="!item.locked"><span >{{item.value}}</span></div>
                                                    <span class="pull-right filter-count" [ngClass]="{blurText: item.locked, hide: (selectedFilterData.length > 0)}" [ngbPopover]="item.locked ? tipContent : ''" #p="ngbPopover" triggers="mouseenter" (mouseenter)="mouseEnter(p)" container="body" *ngIf="item.count">&nbsp;({{item.count | number}})</span>
                                                </mat-checkbox>
                                            </li>
                                            <ng-template #nonAdminCheckbox>
                                                <ng-template #nonAdmimtipContent class="tooltip" >
                                                    <span class="popover-span">Your account does not have permission to view this.<br>
                                                        <button style="margin:0 38px !important;" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
                                                    </span>
                                                </ng-template>
                                                <li class="list-group-item" *ngIf="item.value !== '' && item.count !== 0">
                                                    <mat-checkbox class="filter-checkbox" [disabled]="item.locked" color="warn" [value]="item.id" [(ngModel)]="item.checked" (change)="onFilter(item.id, filters.filterTerm, $event, filters.filterType); filterChecked({'label': filters.filterName + ' - ' + item.value,'event': $event})">
                                                        <div class="filter-text" [ngClass]="{blurText: item.locked}" [ngbPopover]="nonAdmimtipContent" #q="ngbPopover" triggers="mouseenter" (mouseenter)="mouseEnter(q)" container="body" *ngIf="item.locked"><span>{{item.value}}</span></div>
                                                        <div class="filter-text" [ngClass]="{blurText: item.locked}" [matTooltip]="item.explanation" [matTooltipShowDelay]="matTooltipShowDelay" *ngIf="!item.locked"><span>{{item.value}}</span></div>
                                                        <span class="pull-right filter-count" [ngClass]="{blurText: item.locked, hide: (selectedFilterData.length > 0)}" [ngbPopover]="item.locked ? nonAdmimtipContent : ''" #q="ngbPopover" triggers="mouseenter" (mouseenter)="mouseEnter(q)" container="body" *ngIf="item.count">&nbsp;({{item.count | number}})</span>
                                                    </mat-checkbox>
                                                </li>
                                            </ng-template>
                                        </ng-container>
                                    </ul>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel displayMode="flat" class="amass-filter" *ngIf="filters.filterType === 'radio'" [hidden]="filters.hidden" [expanded]="filters.expanded" (opened)="onExpand(filters)" (closed)="onCollapse(filters)" (click)="filterAuthenticate()">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <span [matTooltip]="filters.mouseoverExplanation">{{filters.filterName}}</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div class="filter-list">
                                    <mat-radio-group [(ngModel)]="selectedRadio[filters.filterName.toLowerCase()]">
                                        <ul class="list-group">
                                            <ng-template #radioTipContent class="tooltip" >
                                                <span class="popover-span">Your account does not have permission to view this.<br>
                                                    <button style="margin:0 38px !important;" type="button" class="amass-button-small" mat-raised-button color="warn" (click)="upgrade()"> Upgrade to Access </button>
                                                </span>
                                            </ng-template>
                                            <ng-container *ngFor="let item of filters.filterList; trackBy: trackByIndex" (click)="collapseSortByBar()">
                                                <li class="list-group-item" *ngIf="item.show" [ngStyle]="{'width': item.value == 'Followed'? '255px' : 'auto'}">
                                                    <mat-radio-button class="filter-checkbox" [disabled]="item.locked" color="warn" value="{{item.value}}" (checked)="item.checked" (change)="onFilter(item.value, filters.filterTerm, $event, filters.filterType); filterChecked({'label':'Providers List - Filter - ' + filters.filterName + ' - ' + item.value,'category':'Providers','event': $event})"><div class="filter-text" [ngClass]="{blurText: item.locked}" [ngbPopover]=" item.locked ? radioTipContent : ''" #s="ngbPopover" container="body" triggers="mouseenter" (mouseenter)="mouseEnter(s)">{{item.value}}</div></mat-radio-button>
                                                </li>
                                            </ng-container>
                                        </ul>
                                    </mat-radio-group>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel displayMode="flat" class="amass-filter" *ngIf="filters.filterType === 'horizontal-checkbox'" [hidden]="filters.hidden" [expanded]="filters.expanded" (opened)="onExpand(filters)" (closed)="onCollapse(filters)" (click)="filterAuthenticate()">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <img *ngIf="filters.filterName !== 'Provider Type'" src="../../../content/images/icons/tag icon white.png" alt="Tag" class="personal-tag-icon">
                                        <span [matTooltip]="filters.mouseoverExplanation">{{filters.filterName}}</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div class="horizontal-list">
                                    <span *ngFor="let item of filters.filterList; trackBy: trackByIndex" (click)="collapseSortByBar()">
                                        <span class="list-item mat-elevation-z2" [ngClass]="{'warn white-text': item.checked}">
                                            <mat-checkbox class="filter-checkbox" [disabled]="item.locked" color="warn" value="{{item.id}}" [(ngModel)]="item.checked" (change)="onFilter(item.id, filters.filterTerm, $event, filters.filterType); filterChecked({'label':'Providers List - Filter - ' + filters.filterName + ' - ' + item.value,'category':'Providers','event': $event})" [(ngModel)]="item.checked">
                                                <span [matTooltip]="item.explanation" [matTooltipShowDelay]="matTooltipShowDelay" [matTooltipDisabled]="item.locked">{{item.value}}</span>
                                            </mat-checkbox>
                                        </span>
                                    </span>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel displayMode="flat" class="amass-filter" *ngIf="filters.filterType === 'slide-toggle'" [hidden]="filters.hidden" [expanded]="filters.expanded" (opened)="onExpand(filters)" (closed)="onCollapse(filters)" (click)="filterAuthenticate()">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <span [matTooltip]="filters.mouseoverExplanation">{{filters.filterName}}</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div>
                                    <span *ngFor="let item of filters.filterList; trackBy: trackByIndex" (click)="collapseSortByBar()">
                                        <span class="list-item mat-elevation-z2" [ngStyle]="{'padding': '3px 25px','box-shadow': 'none'}">
                                            <mat-slide-toggle class="filter-checkbox"  [disabled]="item.locked" color="warn" value="{{item.id}}" [(ngModel)]="item.checked" (change)="onFilter(item.value, filters.filterTerm, $event, filters.filterType); filterChecked({'label':'Providers List - Filter - ' + filters.filterName + ' - ' + item.value,'category':'Providers','event': $event})" [(ngModel)]="item.checked">
                                                <span [matTooltip]="item.explanation" [ngStyle]="{'font-size': '14px'}" [matTooltipShowDelay]="matTooltipShowDelay" [matTooltipDisabled]="item.locked">{{item.label}}</span>
                                            </mat-slide-toggle>
                                        </span>
                                    </span>
                                </div>
                            </mat-expansion-panel>

                            <div *ngIf="filters.filterType === 'checkbox' && filters.filterName === ''">
                                <span *ngFor="let item of filters.filterList; trackBy: trackByIndex">
                                    <span class="list-item mat-elevation-z2" [ngStyle]="{'padding': '3px 25px','box-shadow': 'none'}">
                                        <mat-checkbox class="filter-checkbox"  [disabled]="item.locked" color="warn" value="{{item.id}}" [(ngModel)]="item.checked" (change)="onFilter(item.value, filters.filterTerm, $event, filters.filterType); filterChecked({'label':'Providers List - Filter - ' + filters.filterName + ' - ' + item.value,'category':'Providers','event': $event})" [(ngModel)]="item.checked">
                                            <span [matTooltip]="item.explanation" [ngStyle]="{'font-size': '14px'}" [matTooltipShowDelay]="matTooltipShowDelay" [matTooltipDisabled]="item.locked">{{item.label}}</span>
                                        </mat-checkbox>
                                    </span>
                                </span>
                            </div>

                            <mat-expansion-panel displayMode="flat" class="amass-filter" *ngIf="filters.filterType === 'range' || filters.filterType === 'rangeFromTo' || filters.filterType === 'rangeBetween'" [hidden]="filters.hidden" [expanded]="filters.expanded" (opened)="onExpand(filters)" (closed)="onCollapse(filters)" (click)="filterAuthenticate()">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                                <span [matTooltip]="filters.mouseoverExplanation">{{filters.filterName}}</span>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="filter-slider">
                                    <nouislider #rangeSliderRef id="{{filters.filterID}}" [connect]="true" [min]="filters.minRangeInit" [max]="filters.maxRangeInit" [step]="filters.rangeStep" [(ngModel)]="filters.filterNgModel" (slide)="sliderValueChanged($event, filters.filterTerm, null, filters.filterType, filters.minRangeInit, filters.maxRangeInit, filters.filterID, i);filterSlider({'label':filters.filterName,'event': $event})"></nouislider>
                                    <div class="slider-value-row" (click)="collapseSortByBar()">
                                        <span id="completenessMin">
                                            <span>From:</span>
                                                <input type="number" class="slider-value" [(ngModel)]="filters.minRange" (change)="sliderValueChanged($event, filters.filterTerm, 0, filters.filterType, filters.minRangeInit, filters.maxRangeInit, filters.filterID, i)" />
                                            </span>
                                        <span id="completenessMax" class="pull-right">
                                            <span>To:</span>
                                            <input type="number" class="slider-value" [(ngModel)]="filters.maxRange" [min]="filters.minRangeInit" [max]="filters.maxRangeInit" (change)="sliderValueChanged($event, filters.filterTerm, 1, filters.filterType, filters.minRangeInit, filters.maxRangeInit, filters.filterID, i)" />
                                        </span>
                                    </div>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel  class="amass-filter" *ngIf="filters.filterType === 'datepicker'" [hidden]="filters.hidden" [expanded]="filters.expanded" (opened)="onExpand(filters)" (closed)="onCollapse(filters)" (click)="filterAuthenticate()">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <span [matTooltip]="filters.mouseoverExplanation">{{filters.filterName}}</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div class="filter-slider">
                                    <div class="slider-value-row" (click)="collapseSortByBar()">
                                        <span >
                                            <mat-form-field class="example-full-width">
                                                <input matInput [(ngModel)]="filters.minRange" [min]="filters.minDate" [max]="filters.maxDate" [matDatepicker]="pickerFrom" placeholder="From" (dateChange)="datepickerValueChanged([filters.minRange, filters.maxRange], filters.filterTerm, filters.filterType, filters.minRangeInit, filters.maxRangeInit, i)">
                                                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                                                    <mat-datepicker #pickerFrom></mat-datepicker>
                                            </mat-form-field>
                                        </span>
                                        <span >
                                            <mat-form-field class="example-full-width">
                                                <input matInput [(ngModel)]="filters.maxRange" [min]="filters.minDate" [max]="filters.maxDate" [matDatepicker]="pickerTo" placeholder="To" (dateChange)="datepickerValueChanged([filters.minRange, filters.maxRange], filters.filterTerm, filters.filterType, filters.minRangeInit, filters.maxRangeInit, i)">
                                                <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                                                <mat-datepicker #pickerTo></mat-datepicker>
                                            </mat-form-field>
                                        </span>
                                    </div>
                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel  class="amass-filter" *ngIf="filters.filterType === 'datepickerSingle'" [hidden]="filters.hidden" [expanded]="filters.expanded" (opened)="onExpand(filters)" (closed)="onCollapse(filters)" (click)="filterAuthenticate()">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <span [matTooltip]="filters.mouseoverExplanation">{{filters.filterName}}</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div class="filter-slider">
                                    <div class="slider-value-row" (click)="collapseSortByBar()">
                                        <span>
                                            <mat-form-field class="example-full-width">
                                                <input matInput [(ngModel)]="filters.minRange" [min]="filters.minDate" [max]="filters.maxDate" [matDatepicker]="picker" placeholder="From" (dateChange)="datepickerValueChanged([filters.minDate, filters.maxDate], filters.filterTerm, filters.filterType, filters.minRangeInit, filters.maxRangeInit, i)">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </span>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </ng-container>
                    <button mat-raised-button color="warn" (click)="showMoreFilters()" *ngIf="!disableMoreBtn"><span *ngIf="!showMore"><i class="fa fa-plus more-less"></i>More</span><span *ngIf="showMore"><i class="fa fa-minus more-less"></i>Less</span></button>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- <ng-container *ngFor="let filters of filterList; let i = index">
        <mat-accordion>
    <mat-expansion-panel displayMode="flat" class="amass-filter" *ngIf="filters.filterType === 'checkbox'" [hidden]="filters.hidden" [expanded]="filters.expanded" (opened)="onExpand(filters)" (closed)="onCollapse(filters)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span [matTooltip]="filters.mouseoverExplanation">{{filters.filterName}}</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="filter-list" [ngClass]="{'scroll-list': filters.filterList.length > 5}">
            <ul class="list-group">
                <ng-container *ngFor="let item of filters.filterList; trackBy: trackByIndex">
                    <li class="list-group-item" *ngIf="isAdmin; else nonAdminCheckbox">
                        <mat-checkbox class="filter-checkbox" [disabled]="item.locked" color="warn" [value]="item.id" [(ngModel)]="item.checked" (change)="onFilter(item.id, filters.filterTerm, $event, filters.filterType); filterChecked({'label': filters.filterName + ' - ' + item.value,'event': $event})">
                            <div class="filter-text" [ngClass]="{blurText: item.locked}" [matTooltip]="!item.locked? item.explanation : 'Your account does not have permission to view this.'" [matTooltipShowDelay]="matTooltipShowDelay"><span >{{item.value}}</span></div>
                            <span class="pull-right filter-count" [ngClass]="{blurText: item.locked, hide: (selectedFilterData.length > 0)}" [matTooltip]="!item.locked? '' : 'Your account does not have permission to view this.'">&nbsp;({{item.count | number}})</span>
                        </mat-checkbox>
                    </li>
                    <ng-template #nonAdminCheckbox>
                        <li class="list-group-item" *ngIf="item.value !== '' && item.count !== 0">
                            <mat-checkbox class="filter-checkbox" [disabled]="item.locked" color="warn" [value]="item.id" [(ngModel)]="item.checked" (change)="onFilter(item.id, filters.filterTerm, $event, filters.filterType); filterChecked({'label': filters.filterName + ' - ' + item.value,'event': $event})">
                                <div class="filter-text" [ngClass]="{blurText: item.locked}" [matTooltip]="!item.locked? item.explanation : 'Your account does not have permission to view this.'" [matTooltipShowDelay]="matTooltipShowDelay"><span>{{item.value}}</span></div>
                                <span class="pull-right filter-count" [ngClass]="{blurText: item.locked, hide: (selectedFilterData.length > 0)}" [matTooltip]="!item.locked? '' : 'Your account does not have permission to view this.'" *ngIf="item.count">&nbsp;({{item.count | number}})</span>
                            </mat-checkbox>
                        </li>
                    </ng-template>
            </ng-container>
            </ul>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel displayMode="flat" class="amass-filter" *ngIf="filters.filterType === 'radio'" [hidden]="filters.hidden" [expanded]="filters.expanded" (opened)="onExpand(filters)" (closed)="onCollapse(filters)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span [matTooltip]="filters.mouseoverExplanation">{{filters.filterName}}</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="filter-list">
            <mat-radio-group [(ngModel)]="selectedRadio[filters.filterName.toLowerCase()]">
                <ul class="list-group">
                    <ng-container *ngFor="let item of filters.filterList; trackBy: trackByIndex">
                        <li class="list-group-item" *ngIf="item.show">
                            <mat-radio-button class="filter-checkbox" [disabled]="item.locked" color="warn" value="{{item.value}}" (checked)="item.checked" (change)="onFilter(item.value, filters.filterTerm, $event, filters.filterType); filterChecked({'label':'Providers List - Filter - ' + filters.filterName + ' - ' + item.value,'category':'Providers','event': $event})"><div class="filter-text" [ngClass]="{blurText: item.locked}" [matTooltip]="item.locked? 'Your account does not have permission to view this.' : ''">{{item.value}}</div></mat-radio-button>
                        </li>
                    </ng-container>
                </ul>
            </mat-radio-group>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel displayMode="flat" class="amass-filter" *ngIf="filters.filterType === 'horizontal-checkbox'" [hidden]="filters.hidden" [expanded]="filters.expanded" (opened)="onExpand(filters)" (closed)="onCollapse(filters)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span [matTooltip]="filters.mouseoverExplanation">{{filters.filterName}}</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="horizontal-list">
            <span *ngFor="let item of filters.filterList; trackBy: trackByIndex">
                <span class="list-item mat-elevation-z2" [ngClass]="{'warn white-text': item.checked}">
                    <mat-checkbox class="filter-checkbox" [disabled]="item.locked" color="warn" value="{{item.id}}" [(ngModel)]="item.checked" (change)="onFilter(item.id, filters.filterTerm, $event, filters.filterType); filterChecked({'label':'Providers List - Filter - ' + filters.filterName + ' - ' + item.value,'category':'Providers','event': $event})" [(ngModel)]="item.checked">
                        <span [matTooltip]="item.explanation" [matTooltipShowDelay]="matTooltipShowDelay" [matTooltipDisabled]="item.locked">{{item.value}}</span>
                    </mat-checkbox>
                </span>
            </span>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel displayMode="flat" class="amass-filter" *ngIf="filters.filterType === 'slide-toggle'" [hidden]="filters.hidden" [expanded]="filters.expanded" (opened)="onExpand(filters)" (closed)="onCollapse(filters)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span [matTooltip]="filters.mouseoverExplanation">{{filters.filterName}}</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div>
            <span *ngFor="let item of filters.filterList; trackBy: trackByIndex">
                <span class="list-item mat-elevation-z2" [ngStyle]="{'padding': '3px 25px','box-shadow': 'none'}">
                    <mat-slide-toggle class="filter-checkbox" [disabled]="item.locked" color="warn" value="{{item.id}}" [(ngModel)]="item.checked" (change)="onFilter(item.value, filters.filterTerm, $event, filters.filterType); filterChecked({'label':'Providers List - Filter - ' + filters.filterName + ' - ' + item.value,'category':'Providers','event': $event})" [(ngModel)]="item.checked">
                        <span [matTooltip]="item.explanation" [ngStyle]="{'font-size': '14px'}" [matTooltipShowDelay]="matTooltipShowDelay" [matTooltipDisabled]="item.locked">{{item.label}}</span>
                    </mat-slide-toggle>
                </span>
            </span>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel displayMode="flat" class="amass-filter" *ngIf="filters.filterType === 'range' || filters.filterType === 'rangeFromTo' || filters.filterType === 'rangeBetween'" [hidden]="filters.hidden" [expanded]="filters.expanded" (opened)="onExpand(filters)" (closed)="onCollapse(filters)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span [matTooltip]="filters.mouseoverExplanation">{{filters.filterName}}</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="filter-slider">
            <nouislider #rangeSliderRef id="{{filters.filterID}}" [connect]="true" [min]="filters.minRangeInit" [max]="filters.maxRangeInit" [step]="filters.rangeStep" [(ngModel)]="filters.filterNgModel" (slide)="sliderValueChanged($event, filters.filterTerm, null, filters.filterType, filters.minRangeInit, filters.maxRangeInit, filters.filterID, i);filterSlider({'label':filters.filterName,'event': $event})"></nouislider>
            <div class="slider-value-row">
                <span id="completenessMin">
                    <span>From:</span>
                    <input type="number" class="slider-value" [(ngModel)]="filters.minRange" (change)="sliderValueChanged($event, filters.filterTerm, 0, filters.filterType, filters.minRangeInit, filters.maxRangeInit, filters.filterID, i)" />
                </span>
                <span id="completenessMax" class="pull-right">
                    <span>To:</span>
                    <input type="number" class="slider-value" [(ngModel)]="filters.maxRange" [min]="filters.minRangeInit" [max]="filters.maxRangeInit" (change)="sliderValueChanged($event, filters.filterTerm, 1, filters.filterType, filters.minRangeInit, filters.maxRangeInit, filters.filterID, i)" />
                </span>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel  class="amass-filter" *ngIf="filters.filterType === 'datepicker'" [hidden]="filters.hidden" [expanded]="filters.expanded" (opened)="onExpand(filters)" (closed)="onCollapse(filters)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span [matTooltip]="filters.mouseoverExplanation">{{filters.filterName}}</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="filter-slider">
            <div class="slider-value-row">
                <span >

                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="filters.minRange" [min]="filters.minDate" [max]="filters.maxDate" [matDatepicker]="pickerFrom" placeholder="From" (dateChange)="datepickerValueChanged([filters.minRange, filters.maxRange], filters.filterTerm, filters.filterType, filters.minRangeInit, filters.maxRangeInit, i)">
                        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                        <mat-datepicker #pickerFrom></mat-datepicker>
                    </mat-form-field>
                </span>
                <span >

                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="filters.maxRange" [min]="filters.minDate" [max]="filters.maxDate" [matDatepicker]="pickerTo" placeholder="To" (dateChange)="datepickerValueChanged([filters.minRange, filters.maxRange], filters.filterTerm, filters.filterType, filters.minRangeInit, filters.maxRangeInit, i)">
                        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                        <mat-datepicker #pickerTo></mat-datepicker>
                    </mat-form-field>
                </span>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel  class="amass-filter" *ngIf="filters.filterType === 'datepickerSingle'" [hidden]="filters.hidden" [expanded]="filters.expanded" (opened)="onExpand(filters)" (closed)="onCollapse(filters)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span [matTooltip]="filters.mouseoverExplanation">{{filters.filterName}}</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="filter-slider">
            <div class="slider-value-row">
                <span>
                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="filters.minRange" [min]="filters.minDate" [max]="filters.maxDate" [matDatepicker]="picker" placeholder="From" (dateChange)="datepickerValueChanged([filters.minDate, filters.maxDate], filters.filterTerm, filters.filterType, filters.minRangeInit, filters.maxRangeInit, i)">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </span>
            </div>
        </div>
    </mat-expansion-panel>
    </mat-accordion>
</ng-container> -->
<!-- <button mat-raised-button color="warn" (click)="showMoreFilters()" *ngIf="hiddenFilterCount > 0"><span *ngIf="!showMore">More</span><span *ngIf="showMore">Less</span></button> -->
