/**
 * Breadcrumb
 */

.amass-breadcrumb {
}

 .amass-breadcrumb {
	background-color: #888888;
	padding: 5px 10px 0px 10px;
	list-style: none;
	margin-bottom: 0px;
}

.amass-breadcrumb > li {
    display: inline-block;
    color: #fff;
}

.amass-breadcrumb > li + li {
	padding-left: 15px;
}

.amass-breadcrumb > li > a {
    color: #fff;
    font-size: 14px;
    line-height: 27px;
}

.amass-breadcrumb > li i {
	margin-left: 10px;
	color: #fff;
}
