<div class="responsive-container">
<button type="button" class="close" aria-label="Close" (click)="closeSignUpDialog({'label':'Sign Up - Button - X', 'category':'Sign Up', 'event':'Exit Popup Link Clicked'})">
    <span aria-hidden="true">&times;</span>
</button>
<h2 mat-dialog-title class="text-center" *ngIf="!success"><img src="../../../content/images/logo_small.png" width="100">
<div class="text-uppercase text-center"><div [hidden]="success">Apply for Access to Insights</div></div></h2>
    <mat-dialog-content>
            <div class="justify-content-center">
                <div class="alert" *ngIf="success" jhiTranslate="register.messages.success">
                    <strong>Registration successful! </strong> Please check your email for confirmation.
                </div>

                <div class="alert " *ngIf="error" jhiTranslate="register.messages.error.fail">
                    <strong>Registration failed!</strong> Please try again later.
                </div>
                <div class="alert" *ngIf="validationMessage">
                    {{validationMessage}}
                </div>
            </div>

            <form class="signup-form" name="form" role="form" (ngSubmit)="register(registerForm)" #registerForm="ngForm" *ngIf="!success">
                    <input type="text" class="mat-elevation-z2 signup-form-first-name" id="firstName" name="firstName" #email="ngModel" placeholder="First Name*"
                    [(ngModel)]="registerAccount.firstName" maxlength=50 required matInput>

                    <input type="text" class="mat-elevation-z2 signup-form-last-name" id="lastName" name="lastName" #email="ngModel" placeholder="Last Name*"
                    [(ngModel)]="registerAccount.lastName" maxlength=50 required>

                    <input type="text" class="mat-elevation-z2" [(ngModel)]="registerAccount.company" id="applyCompany" name="applyCompany" #applyCompany="ngModel" required placeholder="{{'global.form.company.placeholder' | translate}}*">


                    <input type="email" class="mat-elevation-z2" autocomplete="off" id="applyEmail" name="applyEmail" #applyEmail="ngModel" placeholder="{{'global.form.email.placeholder' | translate}}*"
                            [(ngModel)]="registerAccount.email" email required pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$">
                            <div class="justify-content-center">
                                <div class="alert" *ngIf="errorUserExists">
                                    Email is already in use! Please login with your email. <br><button mat-button [mat-dialog-close]="true" (click)="openSigninDialog({'label':'Sign Up - Link - Login','category':'Login','event':'Popup Link Clicked'})" class="text-uppercase" color="blue">Login >></button>
                                </div>
                                <div class="alert" *ngIf="errorEmailExists">
                                    Email is already in use! Please login with your email. <br><button mat-button [mat-dialog-close]="true" (click)="openSigninDialog({'label':'Sign Up - Link - Login','category':'Login','event':'Popup Link Clicked'})" class="text-uppercase" color="primary">Login >></button>
                                </div>
                            </div>
                    <div *ngIf="applyEmail.dirty && applyEmail.invalid">
                        <div class="justify-content-center">
                            <div class="alert" *ngIf="applyEmail.errors.required">
                                Please enter a valid email address to sign up.
                            </div>
                        </div>
                        <div class="justify-content-center">
                            <div class="alert" *ngIf="applyEmail.errors && applyEmail.errors.pattern">
                                Please enter a valid email address to sign up.
                            </div>
                        </div>
                    </div>

                    <input type="password" class="mat-elevation-z2 nomargin" autocomplete="new-password" id="password" name="password" #password="ngModel" placeholder="{{'global.form.newpassword.placeholder' | translate}}*"
                            [(ngModel)]="registerAccount.password" (keyup)="onKeydown(registerAccount.password)" minlength=4 maxlength=50 required>
                            <div class="justify-content-center">
                                <div class="alert" *ngIf="strengthBarValidationMessage">
                                    {{strengthBarValidationMessage}}
                                </div>
                            </div>
                    <div *ngIf="password.dirty && password.invalid">
                        <div class="justify-content-center">
                            <div class="alert" *ngIf="password.errors.required"
                            jhiTranslate="global.messages.validate.newpassword.required">
                            Your password is required.
                            </div>
                        </div>
                        <div class="justify-content-center">
                            <div class="alert" *ngIf="password.errors.minlength"
                            jhiTranslate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 4 characters.
                            </div>
                        </div>
                        <div class="justify-content-center">
                            <div class="alert" *ngIf="password.errors.maxlength"
                            jhiTranslate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                            </div>
                        </div>
                    </div>
                    <!-- password strength bar display the changes based on password input -->
                    <jhi-password-strength-bar *ngIf="passwordStrengthBar" [passwordToCheck]="registerAccount.password" (errorMsg)="change($event)"></jhi-password-strength-bar>

                    <input type="password" class="mat-elevation-z2" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                            [(ngModel)]="confirmPassword" (ngModelChange)="valuechange($event)" maxlength=50 required>
                            <div class="justify-content-center">
                                <div class="alert" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                                    The password and its confirmation do not match!
                                </div>
                            </div>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <div class="justify-content-center">
                            <div class="alert" *ngIf="confirmPasswordInput.errors.required"
                            jhiTranslate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required
                            </div>
                        </div>
                        <!-- <div class="justify-content-center">
                            <div class="alert" *ngIf="confirmPasswordInput.errors.minlength"
                            jhiTranslate="global.messages.validate.confirmpassword.minlength">
                            Your confirmation password is required to be at least 4 characters.
                            </div>
                        </div> -->
                        <div class="justify-content-center">
                            <div class="alert" *ngIf="confirmPasswordInput.errors.maxlength"
                            jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                            </div>
                        </div>
                    </div>
                    <mat-form-field class="signup-drop-down">
                        <mat-select #userRole [formControl]="selectedRole" class="user-role" placeholder="My company is best described as:" name="authorities" id="authorities" (selectionChange)="roleValueChange($event)">
                            <mat-option value="ROLE_INVESTOR"><span class="main-text" >An Asset Manager</span><span class="sub-text" > looking to discover, learn about and purchase data.</span></mat-option>
                            <mat-option value="ROLE_PROVIDER"><span class="main-text" >A Data/Research Provider</span> <span class="sub-text" >looking to monetize my data, analytics, and/or research.</span></mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-checkbox class="amass-checkbox checkbox-label" color="warn" [checked]="true" name="notify_news_update" [(ngModel)]="registerAccount.notify_news_update" (click)="newsletter({'label':'Sign Up - Checkbox - Newsletter','category':'Newsletter','event':'Signed Up'})">
                        Send me occassional news and updates about Alternative Data
                    </mat-checkbox>
                    <mat-checkbox class="amass-checkbox" color="warn" (change)="agreeCheck($event)" name="agreeTerms" id="agreeTerms" [(ngModel)]="registerAccount.agreeTerms" >
                        I agree to the <a [routerLink]="['terms']" target="_blank" (click)="termsOfService({'label':'Sign Up - Link - Terms', 'category':'Terms', 'event':'Internal Link Clicked'})">Terms of Service</a> and <a [routerLink]="['privacy-policy']" target="_blank" (click)="termsOfService({'label':'Sign Up - Link - Privacy', 'category':'Privacy Policy', 'event':'Internal Link Clicked'})">Privacy Policy</a>
                    </mat-checkbox>
                    <div class="justify-content-center">
                        <div class="alert" *ngIf="agreeValidationMessage">
                            {{agreeValidationMessage}}
                        </div>
                    </div>

                <button type="submit" class="text-uppercase mat-button-large" mat-raised-button color="warn" (click)="signUp({'label':'Sign Up - Button - Sign Up','category':'Sign Up','event':'Form Submitted'})" [disabled]="isClickedOnce">Sign Up</button>
                <p class="text-uppercase text-center" [ngStyle]="{'color': '#7f7f7f','margin-top': '2px', 'margin-bottom': '0'}"><strong>OR</strong></p>

               <!--  <div>
                    <jhi-social dialogType="Sign Up" provider="linkedin" [authorities]="registerAccount.authorities" [agreeTerms]="registerAccount.agreeTerms" [csrf]="csrf"></jhi-social>
                </div> -->
            </form>
            <div *ngIf="!success">
                <jhi-social dialogType="Sign Up" provider="linkedin" [authorities]="selectedRole.value" [agreeTerms]="registerAccount.agreeTerms" [csrf]="csrf"></jhi-social>
            </div>
           <!--  <div *ngIf="!success">
                <jhi-social dialogType="Sign Up" provider="linkedin" [agreeTerms]="agreeTerms" [csrf]="csrf"></jhi-social>
            </div> -->
    </mat-dialog-content>
<mat-dialog-actions align="center" *ngIf="!success">
    <span class="dialog-bottom-text">Already have an account?</span> <button type="submit" mat-raised-button class="buttoncheck"  mat-button [mat-dialog-close]="true"  color="warn" style="margin-left: 5px;" (click)="openSigninDialog({'label':'Sign Up - Link - Login', 'category':'Login', 'event':'Popup Link Clicked'})" >Login >></button>
</mat-dialog-actions>
</div>
