<div class="page-title">
    <span *ngIf="dataEvent" [ngClass]="{blurText: dataEvent.locked}">{{dataEvent.eventEditionNames}}</span> <span *ngIf="dataEvent"> Details</span>
</div>
<div class="container">
    <section class="section-margin">
        <div class="row" *ngIf="dataEvent">
            <div class="col-md-3">
                <mat-card class="left-card">
                    <mat-card-title class="detail-card-title"> <span matTooltip="About">About</span></mat-card-title>
                    <mat-card-content>
                        <div class="text-center amass-progressbar-container">
                            <div class="amass-progressbar-value"><span matTooltip="Percent of the event's details that have been filled in" >{{dataEvent.completeness}}% Complete</span></div>
                            <mat-progress-bar class="amass-progressbar amass-progressbar-default" [color]="'primary'" [mode]="'determinate'" [value]="dataEvent.completeness" [bufferValue]="dataEvent.completeness"></mat-progress-bar>
                        </div>
                        <div *ngIf="dataEvent.link != null" class="text-overflow-ellipsis">
                            <p class="text-center">
                                <span matTooltip="Link to the home page website of the event."> <a (click)="getLinkUrl(dataEvent.link)" href="{{urlLinks}}"  target="_blank">{{dataEvent.link}}</a></span>
                            </p>
                        </div>
                        <div *ngIf="dataEvent.createdTime"><span class="grey-text"><span matTooltip="Date the event was discovered and added."><b>Added: </b></span></span>
                            <span matTooltip="Date the event was discovered and added.">{{dataEvent.createdTime | date}}</span>
                        </div>
                        <div *ngIf="dataEvent.lastUpdated"><span class="grey-text"><span matTooltip="Date the event's details were last updated."><b>Updated: </b></span></span>
                            <span matTooltip="Date the event's details were last updated.">{{dataEvent.lastUpdated | date}}</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-9">
                <jhi-generic-tab [tabs]="tabs"></jhi-generic-tab>
                <p class="text-left">Logos provided by <a href="http://clearbit.com/" target="_new">Clearbit</a></p>
            </div>
        </div>
        <div class="row" *ngIf="!dataEvent && !isLoading">
            <div class="col-md-12 text-center">
                <img src="../../../content/images/icons/404.png" />
                <h1 class="opensans-bold">500</h1>
                <p>Sorry, no event found for this ID</p>
                <div>Go back to <a [routerLink]="['/events']">Events List</a> page</div>
            </div>
        </div>
    </section>
</div>
