<div>
    <div class="page-title">
        <span class="text-uppercase">Events Relevant to Investors or Data Professionals</span>
    </div>
<div class="container">
    <ng-container *ngIf="isAuthenticated()">
        <jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)" [pageName]="pageName"></jhi-inactivity-timer>
</ng-container>
    <div class="row">
        <div class="col-sm-12 user-msg-text" *ngIf="unregisterUserMsg">
            <span><strong>NOTICE:</strong> You are only seeing a small portion of the events since you are not logged in. <a class="user-msg" (click)="openSigninDialog()">Login</a> or <a class="user-msg" (click)="openApplyDialog()">Sign Up</a> to see them all. </span>
        </div>
        <div class="col-md-12">
            <form name="searchForm" class="searchForm form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearchQuery" id="currentSearch" name="currentSearch" (change)="onKeydown({'keyword': currentSearchQuery})" placeholder="{{ 'datamarketplaceApp.dataEvents.home.search' | translate }}">
                    <button class="input-group-addon btn" (click)="search(currentSearchQuery)">
                        <span matTooltip="Search" >
                        <img src="../../../content/images/search.png" alt="search" width="20px"></span>
                    </button>
                    <button class="input-group-addon btn" (click)="clear();searchClear({'label':'Events List - Search - Clear Button','category':'Events','event': 'Search Cleared'})" *ngIf="currentSearchQuery">
                        <span matTooltip="Clear Search" >
                        <img src="../../../content/images/delete.png" alt="delete" width="20px"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <jhi-sortbar [sortingArray]="sortingArray" [totalItems]="totalItems" [totalItemsTooltip]="totalItemsTooltip" [sortByTooltip]="sortByTooltip" entityType="events" (sortBy)="sortBy($event)"></jhi-sortbar>
    <section class="section-margin">
        <div class="row">
            <div class="col-md-3">
                <jhi-generic-filter [filterList]="filters" (onFilterChanges)="onFilterChanges($event)" (defaultFilter)="defaultFilterChanges($event)"></jhi-generic-filter>
            </div>

            <div class="col-md-9" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last'] || loaderInfinite">
                <div class="spinner-sec">
                    <jhi-spinner [show]="loader"></jhi-spinner>
                </div>
                <div>
                    <div *ngFor="let dataEvent of dataEvents; trackBy: trackByRecordID; let index = index;" class="provider-list">
                       <!--  <div class="media">
                            <div class="media-body">
                                <mat-card>
                                    <div class="row">
                                        <div class="clear col-md-12 no-padding">
                                            <h4 class="media-heading"><a (click)="eventProfile({'label':'Events List - Event','category':'Event Details','event': 'Internal Link Clicked'}, dataEvent.recordID)">{{dataEvent.eventEditionNames}}</a></h4>
                                        </div>
                                    </div>
                                    <div class="row media-text" *ngIf="dataEvent.topics || dataEvent.industries || dataEvent.categories">
                                        <div class="col-md-4">
                                            <span *ngIf='dataEvent.topics'>
                                                <span class="grey-text"><a class="clickable-link">Topics:</a></span> <br>
                                                <span *ngFor="let topics of dataEvent.topics; let last = last">
                                                    <a [routerLink]="['/events']" (click)="logoutUsers({'label':'Events List - Event - Topic - ' + topics.desc,'category':'Topic','event': 'Internal Link Clicked'})" [queryParams]="{ filter1: 'topics.id', value1: topics?.id, type1: 'checkbox' }">{{topics.desc}}</a>{{last ? '' : ', '}}
                                                </span>
                                            </span>
                                        </div>
                                        <div class="col-md-4">
                                            <span *ngIf='dataEvent.industries'>
                                                <span class="grey-text"><a class="clickable-link">Industries:</a></span> <br>
                                                <span *ngFor="let industry of dataEvent.industries; let last = last">
                                                    <a [routerLink]="['/events']" (click)="logoutUsers({'label':'Events List - Event - Data Industry - ' + industry.desc,'category':'Industry','event': 'Internal Link Clicked'})" [queryParams]="{ filter1: 'industries.id', value1: industry?.id, type1: 'checkbox' }">{{industry.desc}}</a>{{last ? '' : ', '}}
                                                </span>
                                            </span>
                                        </div>
                                        <div class="col-md-4">
                                            <span *ngIf='dataEvent.categories'>
                                                <span class="grey-text"><a class="clickable-link">Categories:</a></span> <br>
                                                <span *ngFor="let category of dataEvent.categories; let last = last">
                                                    <a [routerLink]="['/events']" (click)="logoutUsers({'label':'Events List - Event - Data Category - ' + category.desc,'category':'Category','event': 'Internal Link Clicked'})" [queryParams]="{ filter1: 'categories.id', value1: category?.id, type1: 'checkbox' }">{{category.desc}}</a>{{last ? '' : ', '}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="clear col-md-12 no-padding" *ngIf="dataEvent.description">
                                            <p class="media-desc truncate-text" >
                                                {{dataEvent.description}}
                                            </p>
                                        </div>
                                        <div class="clear row col-md-12 no-padding">
                                            <div class="col-md-4 pull-left no-padding media-desc">
                                                <div><strong *ngIf="dataEvent.startTime">Start:</strong> {{dataEvent.startTime | date}}</div>
                                            </div>
                                            <div class="col-md-4 pull-left no-padding media-desc">
                                                <div><strong *ngIf="dataEvent.endTime">End:</strong> {{dataEvent.endTime | date}}</div>
                                            </div>
                                            <div class="col-md-4 pull-left no-padding">
                                                <div><span class="text-center pull-right amass-progressbar-container" [ngStyle]="{'padding-right':'5px'}">
                                                    <a class="clickable-link">
                                                        <mat-progress-bar class="amass-progressbar amass-progressbar-default" aria-label="% Complete" [color]="'primary'" [mode]="'determinate'" [value]="dataEvent.completeness" [bufferValue]="dataEvent.completeness"><span>{{dataEvent.completeness}}% Complete</span></mat-progress-bar>
                                                    </a>
                                                </span></div>
                                                <div class="amass-progressbar-value progress-value" style="margin-left: 137px;"><span>{{dataEvent.completeness}}% Complete</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                        </div> -->
                    </div>
                </div>
                <ng-container *ngFor="let card of genericProfileCard">
                    <jhi-generic-profile-card [genericProfileCard]="card"></jhi-generic-profile-card>
                </ng-container>
                <div class="spinner-sec">
                    <jhi-spinner [show]="loaderInfinite"></jhi-spinner>
                </div>
                <div *ngIf="limitedEvents && !limitedLogoutUsersEvent" class="justify-content-center">
                    <div class="alert" [ngStyle]="{'font-weight':'bolder'}">
                        {{limitedEvents}}
                    </div>
                </div>
                <div *ngIf="limitedLogoutUsersEvent" class="justify-content-center">
                    <div class="alert" [ngStyle]="{'font-weight':'bolder'}">
                        There are many more Events & Blog Posts we can show you. Please Sign Up for access to them.
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
