input.amassInput,
textarea.amassInput,
.amassInput {
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    outline: none;
    padding: 6px 16px;
    width: 100%;
    max-width: 100%;
    font-size: 16px;
    font-family: 'OpenSans-Regular';
    line-height: 34px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
}

textarea.amassInput {
    line-height: 24px;
}

::ng-deep input.mat-input-element {
    margin-top: 0px;
}

::ng-deep .amassInput .mat-select-arrow,
::ng-deep .amassInput .mat-select-underline {
    display: none;
}

.amassInput .mat-select {
    padding-top: 0px;
}

::ng-deep .form-control-label, .form-control-label span {
    font-family: 'OpenSans-SemiBold';
}
@media(max-width: 1366px){
    .card-starter {
      height: 530px;
      flex: 1 1 auto;
      padding: 1.25rem;
    }
    button.bronze {
        margin-top: 141px;
    }
    button.silver {
        margin-top: 1px;
    }
  }
  