/* Font Class */
.opensans-regular {
    font-family: OpenSans-Regular;
}
.opensans-bold,
.opensans-bold *,
b, strong, h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h5 span {
    font-family: OpenSans-Bold;
}
.opensans-semibold {
    font-family: OpenSans-SemiBold;
}
.opensans-light,
p, span, ul li {
    font-family: OpenSans-Light;
}

.opensans-lightitalic {
    font-family: OpenSans-LightItalic;
}
/* Content Wrapper */
.content-wrapper {
    padding: 20px 0;
}

.no-margin {
    margin: 0 !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .provider-list .row  { margin-left: auto; margin-right: auto;  }
}

body {
    -webkit-user-select: none !important;
       -moz-user-select: -moz-none !important;
        -ms-user-select: none !important;
            user-select: none !important;
  }

  .action-button {
      padding-bottom: 10px;
      padding-top: 10px;
  }

.main-content {
    background-color: #e4e5e6;
    margin-top: 69px;
}

.alert {
    /*color: #fff !important;*/
    color: #dc3545;
   /* background-color: #fff !important;
    border-color: #fff !important;*/
}
/* .alert.alert-danger {
    color: #dc3545 !important;
} */

.alert.alert-success {
    color: #fff;
    background-color: #438afe !important;
    border-color: #438afe !important;
}

/* Buttons */
button.mat-raised-button {
    min-width: 200px !important;
    margin-right: 5px;
}

button.mat-raised-button.amass-button-small {
    min-width: 100px !important;
}

button.mat-button:focus,
button.mat-raised-button:focus {
    outline: 0;
}

/** Dialog **/
.mat-dialog-container .mat-dialog-content {
    padding-bottom: 5px;
}

/** Messages **/
.alert-link {
    color: #007bff;
}
