/* after changing this file run 'yarn run 'yarn run webpack:build' */
$fa-font-path: '~font-awesome/fonts';

/***************************
put Sass variables here:
eg $input-color: red;
****************************/
// Override Boostrap variables
@import "bootstrap-variables";
// Import Bootstrap source files from node_modules
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/font-awesome/scss/font-awesome';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";
@import '../css/materialize.css';
@import '../css/style.css';
@import '../css/bootstrap-social.css';
@import '../scss/amass-default.scss';

@import '~@angular/material/theming';
@import '~ngx-sharebuttons/themes/default/default-theme';

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../css/fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../css/fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../css/fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-LightItalic';
    src: url('../css/fonts/OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../css/fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('../css/fonts/OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../css/fonts/OpenSans-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url('../css/fonts/OpenSans-SemiboldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../css/fonts/OpenSans-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    src: url('../css/fonts/OpenSans-SemiboldItalic.ttf') format('truetype');
}

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'OpenSans-Regular',
  $headline: mat-typography-level(32px, 48px, 700),
  /* $title: mat-typography-level(12px, 24px, 500), */
  $body-1: mat-typography-level(12px, 24px, 500)
  /* $body-2: mat-typography-level(12px, 24px, 500) */
);
// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

// Override the typography in the core CSS.
@include mat-core($custom-typography);

@import "~nouislider/distribute/nouislider.min.css";
