<div [ngStyle]="{'padding': '14px'}">
        <span aria-hidden="true" (click)="closeSignUpDialog()" [ngStyle]="{'float': 'right','margin-right': '-9px','margin-top':'-33px','font-weight': 'bold','font-size':'24px'}">&times;</span>
    <div class="page-title">
        <div class="row no-margin">
            <div class="col-md-9 text-center">
                <span [ngStyle]="{'margin-left':'35%'}">Add New Provider Data Profile - Admin</span>
            </div>
            <div class="col-md-3 pull-right">
                <button mat-raised-button color="warn" (click)="submitProviderEdit(basicModel);formSubmit({'label':'Provider Profile Admin - Button - Submit Changes','category':'Provider Profile Form','event': 'Submitted'})">Submit Changes</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)"></jhi-inactivity-timer>
<section class="section-margin">
    <div class="row">
        <div class="col-md-12">
            <mat-tab-group disableRipple class="mat-elevation-z2" [(selectedIndex)]="tabIndex">
                <mat-tab label="Overview" (backgroundColor)="progressBarColor">
                    <ng-template mat-tab-label>
                            <span matTooltip="High-level overview of the provider's characteristics.">Overview</span>
                    </ng-template>

                    <div class="tab-content-row">
                        <mat-accordion>
                            <mat-expansion-panel [expanded]="basicExpansionPanel">
                                <mat-expansion-panel-header>
                                    <b matTooltip="Provider's basic information." class="tab-content-title">Basic</b>
                                </mat-expansion-panel-header>

                                <form role="form" novalidate [formGroup]="basicForm" (ngSubmit)="submitProviderEdit(basicModel, 'Basic Details', '', 'companyExpansionPanel', 0, 'basicForm')" class="formlyJSONForm">
                                    <formly-form [model]="basicModel" [fields]="basicFields" [options]="basicOptions" [form]="basicForm">
                                        <button mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Basic - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                    </formly-form>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>

                                <!-- <mat-accordion>
                                    <mat-expansion-panel [expanded]="companyExpansionPanel">
                                        <mat-expansion-panel-header>
                                            <b class="tab-content-title">Company Details</b>
                                        </mat-expansion-panel-header>

                                        <form role="form" novalidate [formGroup]="companyDetailsForm" (ngSubmit)="submitProviderEdit(basicModel, 'Company Details', 'companyExpansionPanel', 'descriptionsExpansionPanel', 0, 'companyDetailsForm')" class="formlyJSONForm">
                                            <formly-form [model]="basicModel" [fields]="companyDetailsFields" [options]="companyDetailsOptions" [form]="companyDetailsForm">
                                                <button mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Company Details - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                            </formly-form>
                                        </form>
                                    </mat-expansion-panel>
                                </mat-accordion>

                                <mat-accordion>
                                    <mat-expansion-panel [expanded]="descriptionsExpansionPanel">
                                        <mat-expansion-panel-header>
                                            <b class="tab-content-title">Descriptions</b>
                                        </mat-expansion-panel-header>

                                        <form role="form" novalidate [formGroup]="descriptionsForm" (ngSubmit)="submitProviderEdit(basicModel, 'Descriptions', 'descriptionsExpansionPanel', 'categorizationsExpansionPanel', 0, 'descriptionsForm')" class="formlyJSONForm">
                                            <formly-form [model]="basicModel" [fields]="descriptionsFields" [options]="descriptionsOptions" [form]="descriptionsForm">
                                                <button mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Descriptions - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                            </formly-form>
                                        </form>
                                    </mat-expansion-panel>
                                </mat-accordion>

                                <mat-accordion>
                                    <mat-expansion-panel [expanded]="categorizationsExpansionPanel">
                                        <mat-expansion-panel-header>
                                            <b class="tab-content-title">Categorizations</b>
                                        </mat-expansion-panel-header>

                                        <form role="form" novalidate [formGroup]="categorizationsForm" (ngSubmit)="submitProviderEdit(basicModel, 'Categorizations', 'categorizationsExpansionPanel', 'investigationExpansionPanel', 0, 'categorizationsForm')" class="formlyJSONForm">
                                            <formly-form [model]="basicModel" [fields]="categorizationsFields" [options]="categorizationsOptions" [form]="categorizationsForm">
                                                <button mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Categorizations - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                            </formly-form>
                                        </form>
                                    </mat-expansion-panel>
                                </mat-accordion>

                                <mat-accordion>
                                    <mat-expansion-panel [expanded]="investigationExpansionPanel">
                                        <mat-expansion-panel-header>
                                            <b class="tab-content-title">Investing-Related Details</b>
                                        </mat-expansion-panel-header>

                                        <form role="form" novalidate [formGroup]="investigationForm" (ngSubmit)="submitProviderEdit(basicModel, 'Investing-Related Details', 'investigationExpansionPanel', '', 1, 'investigationForm')" class="formlyJSONForm">
                                            <formly-form [model]="basicModel" [fields]="investigationFields" [options]="investigationOptions" [form]="investigationForm">
                                                <button mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Investing-Related - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                            </formly-form>
                                        </form>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>

                        </mat-tab>
                        <mat-tab label="Details" (backgroundColor)="progressBarColor">
                            <ng-template mat-tab-label>
                                    <span matTooltip="Important details regarding your data offerings.">Details</span>
                            </ng-template>

                            <div class="tab-content-row">
                                <mat-accordion>
                                    <mat-expansion-panel [expanded]="relatedProvidersExpansionPanel">
                                        <mat-expansion-panel-header>
                                            <b class="tab-content-title">Related Providers</b>
                                        </mat-expansion-panel-header>

                                        <form role="form" novalidate [formGroup]="relatedProvidersForm" (ngSubmit)="submitProviderEdit(basicModel, 'Related Providers', 'relatedProvidersExpansionPanel', 'dataDetailsExpansionPanel', 0, 'relatedProvidersForm')" class="formlyJSONForm">
                                            <formly-form [model]="basicModel" [fields]="relatedProvidersFields" [options]="relatedProvidersOptions" [form]="relatedProvidersForm">
                                                <button mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Form - Panel - Related Providers - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                            </formly-form>
                                        </form>
                                    </mat-expansion-panel>
                                </mat-accordion>

                                <mat-accordion>
                                    <mat-expansion-panel [expanded]="dataDetailsExpansionPanel">
                                        <mat-expansion-panel-header>
                                            <b class="tab-content-title">Data Details</b>
                                        </mat-expansion-panel-header>

                                        <form role="form" novalidate [formGroup]="dataDetailsForm" (ngSubmit)="submitProviderEdit(basicModel, 'Data Details', 'dataDetailsExpansionPanel', 'dataDeliveryExpansionPanel', 0, 'dataDetailsForm')" class="formlyJSONForm">
                                            <formly-form [model]="basicModel" [fields]="dataDetailsFields" [options]="dataDetailsOptions" [form]="dataDetailsForm">
                                                <button mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Data Details - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                            </formly-form>
                                        </form>
                                    </mat-expansion-panel>
                                </mat-accordion>
                                <mat-accordion>
                                    <mat-expansion-panel [expanded]="dataDetailsExpansionPanel">
                                        <mat-expansion-panel-header>
                                            <b class="tab-content-title">Data Quality</b>
                                        </mat-expansion-panel-header>

                                        <form role="form" novalidate [formGroup]="dataQualityForm" (ngSubmit)="submitProviderEdit(basicModel, 'Data Details', 'dataDetailsExpansionPanel', 'dataDeliveryExpansionPanel', 0, 'dataDetailsForm')" class="formlyJSONForm">
                                            <formly-form [model]="basicModel" [fields]="dataQualityFields" [options]="dataQualityOptions" [form]="dataQualityForm">
                                                <button mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Data Details - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                            </formly-form>
                                        </form>
                                    </mat-expansion-panel>
                                </mat-accordion>

                                <mat-accordion>
                                    <mat-expansion-panel [expanded]="dataDeliveryExpansionPanel">
                                        <mat-expansion-panel-header>
                                            <b class="tab-content-title">Data Delivery</b>
                                        </mat-expansion-panel-header>

                                        <form role="form" novalidate [formGroup]="dataDeliveryForm" (ngSubmit)="submitProviderEdit(basicModel, 'Data Delivery', 'dataDeliveryExpansionPanel', 'triallingExpansionPanel', 0, 'dataDeliveryForm')" class="formlyJSONForm">
                                            <formly-form [model]="basicModel" [fields]="dataDeliveryFields" [options]="dataDeliveryOptions" [form]="dataDeliveryForm">
                                                <button mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Data Delivery - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                            </formly-form>
                                        </form>
                                    </mat-expansion-panel>
                                </mat-accordion>

                                <mat-accordion>
                                    <mat-expansion-panel [expanded]="triallingExpansionPanel">
                                        <mat-expansion-panel-header>
                                            <b class="tab-content-title">Trialling</b>
                                        </mat-expansion-panel-header>

                                        <form role="form" novalidate [formGroup]="triallingForm" (ngSubmit)="submitProviderEdit(basicModel, 'Trialling', 'triallingExpansionPanel', 'licensingExpansionPanel', 0, 'triallingForm')" class="formlyJSONForm">
                                            <formly-form [model]="basicModel" [fields]="triallingFields" [options]="triallingOptions" [form]="triallingForm">
                                                <button mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Trialling - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                            </formly-form>
                                        </form>
                                    </mat-expansion-panel>
                                </mat-accordion>

                                <mat-accordion>
                                    <mat-expansion-panel [expanded]="licensingExpansionPanel">
                                        <mat-expansion-panel-header>
                                            <b class="tab-content-title">Licensing</b>
                                        </mat-expansion-panel-header>

                                        <form role="form" novalidate [formGroup]="licensingForm" (ngSubmit)="submitProviderEdit(basicModel, 'Licensing', 'licensingExpansionPanel', 'pricingExpansionPanel', 0, 'licensingForm')" class="formlyJSONForm">
                                            <formly-form [model]="basicModel" [fields]="licensingFields" [options]="licensingOptions" [form]="licensingForm">
                                                <button mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Licensing - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                            </formly-form>
                                        </form>
                                    </mat-expansion-panel>
                                </mat-accordion>
                                <mat-accordion>
                                    <mat-expansion-panel [expanded]="pricingExpansionPanel">
                                        <mat-expansion-panel-header>
                                            <b class="tab-content-title">Pricing</b>
                                        </mat-expansion-panel-header>

                                        <form role="form" novalidate [formGroup]="pricingForm" (ngSubmit)="submitProviderEdit(basicModel, 'Pricing', 'pricingExpansionPanel', 'discussionExpansionPanel', 0, 'licensingForm')" class="formlyJSONForm">
                                            <formly-form [model]="basicModel" [fields]="pricingFields" [options]="pricingOptions" [form]="pricingForm">
                                                <button mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Licensing - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                            </formly-form>
                                        </form>
                                    </mat-expansion-panel>
                                </mat-accordion>

                                <mat-accordion>
                                    <mat-expansion-panel [expanded]="discussionExpansionPanel">
                                        <mat-expansion-panel-header>
                                            <b class="tab-content-title">Discussion</b>
                                        </mat-expansion-panel-header>

                                        <form role="form" novalidate [formGroup]="discussionForm" (ngSubmit)="submitProviderEdit(basicModel, 'Discussion', 'discussionExpansionPanel', '', 2, 'discussionForm')" class="formlyJSONForm">
                                            <formly-form [model]="basicModel" [fields]="discussionFields" [options]="discussionOptions" [form]="discussionForm">
                                                <button mat-raised-button color="warn" (click)="formSave({'label':'Provider Profile Admin - Panel - Discussion - Button - Save and Continue','category':'Provider Profile Form','event': 'Saved'})">Save and Continue</button>
                                            </formly-form>
                                        </form>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>

                        </mat-tab>
                        <mat-tab label="Resources" (backgroundColor)="progressBarColor">
                            <ng-template mat-tab-label>
                                    <span>Resources</span>
                            </ng-template>

                            <div class="tab-content-row">
                                <mat-accordion>
                                    <mat-expansion-panel [expanded]="true">
                                        <mat-expansion-panel-header>
                                            <span><h6 class="tab-content-title"><b>Basic</b></h6></span>
                                        </mat-expansion-panel-header>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>

                        </mat-tab> -->
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>
</div>
