
.img-thumbnail {
    background-color: #fff;
    min-width: 100%;
}

.left-card.mat-card,
.img-thumbnail {
    margin-bottom: 15px;
}

.left-card.mat-card {
    padding: 10px 24px;
}

.left-card .mat-card-title {
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.profile-action {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.profile-action-icon-wrapper {
    width: 25px;
    display: table-cell;
    margin-right: 6px;
    cursor: pointer;
    text-align: center;
}

.icon-text {
    font-weight: bold;
    line-height: 20px;
}

.unlock-icon,
.rating-icon,
.expand-icon {
    display: inline-block;
    vertical-align: middle;
}

.unlock-icon {
    width: 23px;
}

.rating-icon {
    width: 21px;
    height: 21px;
    background: url("../../../content/images/icons/follow.svg") no-repeat center center;
}

.expand-icon {
    width: 20px;
}

.attribute-card .mat-card-content {
    justify-content: space-between;
    display: flex;
    padding: 0 30px;
}

/**
 * Text truncate
 */
.block-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 40px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}
.icon-links:hover{
    text-decoration: none;
}
.edit-btn{
    min-width: 100% !important;
    margin-right: 0;
    font-weight: bold;
    margin-bottom: 15px;
}

/**
 * Tabs
 */

::ng-deep mat-tab-group {
    margin-bottom: 15px;
}

::ng-deep mat-tab-group .mat-tab-header {
    background-color: #438afe;
}

::ng-deep mat-tab-group .mat-tab-label {
    color: #fff;
    opacity: 1;
    width: 33.33%;
    height: 30px;
    margin: 12px 0;
}

::ng-deep mat-tab-group .mat-tab-label:not(:last-child) {
    border-right: 1px solid #ddd;
}

::ng-deep .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
    background-color: transparent;
}

::ng-deep mat-tab-group .mat-tab-body-wrapper {
    background-color: #fff;
    padding: 15px 20px;
}

::ng-deep mat-tab-group.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #c7dcff;
    height: 3px;
}

.tab-content-title {
    text-transform: uppercase;
   /*  border-bottom: 1px solid #ddd; */
    padding-bottom: 10px;
}

.tab-content-row {
    margin-bottom: 25px;
}
.tab-content-row p, p.long-text {
    white-space: pre-line;
    text-indent: 0;
}

ul {
    list-style: none;
}

ul > li {
    padding-left: 1em;
    text-indent: -.7em;
}

/* ul > li::before {
    content: "• ";
    color: #438afe;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 8px;
} */
.mat-tree-node{
    min-height: 40px !important;
}

/**
 * Products tab
 */
.grid-card {
    margin-bottom: 10px;
    background-color: #fafafa;
}

::ng-deep .grid-card .mat-card-footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ddd;
    padding: 10px 5px;
}

.footer-link {
    line-height: 40px;
}

.footer-icon {
    padding: 0 5px;
    border-left: 1px solid #ddd;
}

/**
 * Articles
 */
.mat-list .mat-list-item .mat-list-avatar,
.mat-nav-list .mat-list-item .mat-list-avatar,
.mat-selection-list .mat-list-item .mat-list-avatar {
    border: 1px solid #ddd;
}

.media-list {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.media img.media-object {
    margin-right: 10px;
    max-width: 200px;
}

.media-body .mat-card {
    padding: 10px 20px;
    min-height: 100px;
}

.media-body .media-heading {
    font-size: 1em;
    font-weight: bold;
}

.media-body .media-heading a {
    color: #333;
}

.media-body .media-heading a:hover {
    text-decoration: none;
}

.media-body .media-text {
    font-size: 0.8em;
    margin-bottom: 10px;
}

.media-desc {
    color: #858585;
    font-size: 0.9em;
}

::ng-deep .media-desc > img {
    width: 100%;
}

::ng-deep mat-tab-group.media-list-tab .mat-tab-body-wrapper {
    padding: 0px;
}

::ng-deep mat-tab-group.mat-grey-bg .mat-tab-body-wrapper {
    background-color: transparent;
}

::ng-deep mat-tab-group .mat-tab-body-content {
    overflow-x: hidden;
}

::ng-deep mat-tab-group.media-list-tab .mat-tab-body-wrapper .mat-tab-body-content {
    background-color: rgb(228, 229, 230) !important;
    padding: 10px !important;
}

::ng-deep mat-tab-group.media-list-tab .provider-list .media-body .mat-card {
    min-height: 178px !important;
}

.blurText,
.blurText span,
.blurText p,
.blurText div,
.blurText .media-heading a,
.blurText .media-desc p a,
.blurTextContainer span,
.blurTextContainer p,
.blurTextContainer a,
.blurTextContainer b {
    color: transparent !important;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 0px 10px #e7e7e7;
}

.detail-card-title {
    font-size: 25px !important;
}

.published-date {
    margin-top: 5px;
}
.action-icons{
    padding-left: 25px;
}
.action-icons .social-container {
    text-align: center;
  }
  .action-icons .social-container ul {
      padding-left: 0;
      /* display: inline-block; */
  }

  .action-icons .social-container ul li {
      float: left;
    padding-left: 0px;
    text-indent: 0;
    list-style-type: none;
  }

  .action-icons .social-container ul li:before {
      content: '';
  }
  .btn-status{
    min-width: 105px !important;
    line-height: 20px !important;
    padding: 0px 16px !important;
    color: red;
    font-weight: 600;
    cursor: default;
    font-size: 14px;
    margin: 0 0 2px 0;
}

/* Material Table */
.mat-table {
    margin-bottom: 10px;
}
.mat-table .mat-row .mat-cell {
    overflow: hidden;
    word-wrap: break-word;
}

.mat-table .mat-row .mat-cell,
.mat-table .mat-header-row .mat-cell {
    padding: 0 10px;
}

.mat-table .mat-row .mat-cell a {
    color: rgba(0,0,0,0.87);
}

.drp-down-profile-ul{
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    left: -48px !important;
}
.add-note-button{
    padding: 10px 27px !important;
}
.profile-list-padding {
    padding: 2px 10px !important;
}
