
<div *ngIf="dataProviderType">
    <h2><span jhiTranslate="datamarketplaceApp.dataProviderType.detail.title">Data Provider Type</span> {{dataProviderType.providerType}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="datamarketplaceApp.dataProviderType.explanation">Explanation</span></dt>
        <dd>
            <span>{{dataProviderType.explanation}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataProviderType.createdDate">Created Date</span></dt>
        <dd>
            <span>{{dataProviderType.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.dataProviderType.updatedDate">Updated Date</span></dt>
        <dd>
            <span>{{dataProviderType.updatedDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
