<div>
    <h2>
        <span jhiTranslate="datamarketplaceApp.dataProviderType.home.title">Data Provider Types</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'datamarketplaceApp.dataProviderType.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dataProviderTypes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="providerType"><span jhiTranslate="datamarketplaceApp.dataProviderType.providerType">Provider Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="explanation"><span jhiTranslate="datamarketplaceApp.dataProviderType.explanation">Explanation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="datamarketplaceApp.dataProviderType.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updatedDate"><span jhiTranslate="datamarketplaceApp.dataProviderType.updatedDate">Updated Date</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let dataProviderType of dataProviderTypes ;trackBy: trackId">
                <td><a [routerLink]="['../data-provider-type', dataProviderType.id ]">{{dataProviderType.providerType}}</a></td>
                <td>{{dataProviderType.explanation}}</td>
                <td>{{dataProviderType.createdDate | date:'mediumDate'}}</td>
                <td>{{dataProviderType.updatedDate | date:'medium'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
