<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAmassUserNotificationLabel" jhiTranslate="datamarketplaceApp.amassUserNotification.home.createOrEditLabel">Create or edit a Amass User Notification</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!amassUserNotification.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="amassUserNotification.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.amassUserNotification.notificationID" for="field_notificationID">Notification ID</label>
            <input type="number" class="form-control" name="notificationID" id="field_notificationID"
                [(ngModel)]="amassUserNotification.notificationID" required max="11" />
            <div [hidden]="!(editForm.controls.notificationID?.dirty && editForm.controls.notificationID?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.notificationID?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.notificationID?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 11 }">
                    This field cannot be more than 11.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.notificationID?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.amassUserNotification.userID" for="field_userID">User ID</label>
            <input type="number" class="form-control" name="userID" id="field_userID"
                [(ngModel)]="amassUserNotification.userID" required max="11" />
            <div [hidden]="!(editForm.controls.userID?.dirty && editForm.controls.userID?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.userID?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.userID?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 11 }">
                    This field cannot be more than 11.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.userID?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.amassUserNotification.userProviderID" for="field_userProviderID">User Provider ID</label>
            <input type="number" class="form-control" name="userProviderID" id="field_userProviderID"
                [(ngModel)]="amassUserNotification.userProviderID" required max="11" />
            <div [hidden]="!(editForm.controls.userProviderID?.dirty && editForm.controls.userProviderID?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.userProviderID?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.userProviderID?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 11 }">
                    This field cannot be more than 11.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.userProviderID?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.amassUserNotification.userDataCategoryID" for="field_userDataCategoryID">User Data Category ID</label>
            <input type="number" class="form-control" name="userDataCategoryID" id="field_userDataCategoryID"
                [(ngModel)]="amassUserNotification.userDataCategoryID" required max="11" />
            <div [hidden]="!(editForm.controls.userDataCategoryID?.dirty && editForm.controls.userDataCategoryID?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.userDataCategoryID?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.userDataCategoryID?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 11 }">
                    This field cannot be more than 11.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.userDataCategoryID?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.amassUserNotification.userProductID" for="field_userProductID">User Product ID</label>
            <input type="number" class="form-control" name="userProductID" id="field_userProductID"
                [(ngModel)]="amassUserNotification.userProductID" required max="11" />
            <div [hidden]="!(editForm.controls.userProductID?.dirty && editForm.controls.userProductID?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.userProductID?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.userProductID?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 11 }">
                    This field cannot be more than 11.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.userProductID?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.amassUserNotification.userCommentID" for="field_userCommentID">User Comment ID</label>
            <input type="number" class="form-control" name="userCommentID" id="field_userCommentID"
                [(ngModel)]="amassUserNotification.userCommentID" required max="11" />
            <div [hidden]="!(editForm.controls.userCommentID?.dirty && editForm.controls.userCommentID?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.userCommentID?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.userCommentID?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 11 }">
                    This field cannot be more than 11.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.userCommentID?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.amassUserNotification.createdDate" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="amassUserNotification.createdDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.amassUserNotification.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                [(ngModel)]="amassUserNotification.status" required maxlength="20" />
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="datamarketplaceApp.amassUserNotification.notificationType" for="field_notificationType">Notification Type</label>
            <input type="text" class="form-control" name="notificationType" id="field_notificationType"
                [(ngModel)]="amassUserNotification.notificationType" required maxlength="20" />
            <div [hidden]="!(editForm.controls.notificationType?.dirty && editForm.controls.notificationType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.notificationType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.notificationType?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
