<div>
    <h2>
        <span jhiTranslate="datamarketplaceApp.amassUserNotification.home.title">Amass User Notifications</span>
        <button class="btn btn-primary float-right jh-create-entity create-amass-user-notification" [routerLink]="['/', { outlets: { popup: ['amass-user-notification-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="datamarketplaceApp.amassUserNotification.home.createLabel">
            Create new Amass User Notification
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'datamarketplaceApp.amassUserNotification.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="amassUserNotifications">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="notificationID"><span jhiTranslate="datamarketplaceApp.amassUserNotification.notificationID">Notification ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userID"><span jhiTranslate="datamarketplaceApp.amassUserNotification.userID">User ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userProviderID"><span jhiTranslate="datamarketplaceApp.amassUserNotification.userProviderID">User Provider ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userDataCategoryID"><span jhiTranslate="datamarketplaceApp.amassUserNotification.userDataCategoryID">User Data Category ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userProductID"><span jhiTranslate="datamarketplaceApp.amassUserNotification.userProductID">User Product ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userCommentID"><span jhiTranslate="datamarketplaceApp.amassUserNotification.userCommentID">User Comment ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="datamarketplaceApp.amassUserNotification.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="datamarketplaceApp.amassUserNotification.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="notificationType"><span jhiTranslate="datamarketplaceApp.amassUserNotification.notificationType">Notification Type</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let amassUserNotification of amassUserNotifications ;trackBy: trackId">
                <td><a [routerLink]="['../amass-user-notification', amassUserNotification.id ]">{{amassUserNotification.id}}</a></td>
                <td>{{amassUserNotification.notificationID}}</td>
                <td>{{amassUserNotification.userID}}</td>
                <td>{{amassUserNotification.userProviderID}}</td>
                <td>{{amassUserNotification.userDataCategoryID}}</td>
                <td>{{amassUserNotification.userProductID}}</td>
                <td>{{amassUserNotification.userCommentID}}</td>
                <td>{{amassUserNotification.createdDate | date:'mediumDate'}}</td>
                <td>{{amassUserNotification.status}}</td>
                <td>{{amassUserNotification.notificationType}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../amass-user-notification', amassUserNotification.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'amass-user-notification/'+ amassUserNotification.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'amass-user-notification/'+ amassUserNotification.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
