
<div *ngIf="amassUserNotification">
    <h2><span jhiTranslate="datamarketplaceApp.amassUserNotification.detail.title">Amass User Notification</span> {{amassUserNotification.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="datamarketplaceApp.amassUserNotification.notificationID">Notification ID</span></dt>
        <dd>
            <span>{{amassUserNotification.notificationID}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserNotification.userID">User ID</span></dt>
        <dd>
            <span>{{amassUserNotification.userID}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserNotification.userProviderID">User Provider ID</span></dt>
        <dd>
            <span>{{amassUserNotification.userProviderID}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserNotification.userDataCategoryID">User Data Category ID</span></dt>
        <dd>
            <span>{{amassUserNotification.userDataCategoryID}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserNotification.userProductID">User Product ID</span></dt>
        <dd>
            <span>{{amassUserNotification.userProductID}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserNotification.userCommentID">User Comment ID</span></dt>
        <dd>
            <span>{{amassUserNotification.userCommentID}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserNotification.createdDate">Created Date</span></dt>
        <dd>
            <span>{{amassUserNotification.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserNotification.status">Status</span></dt>
        <dd>
            <span>{{amassUserNotification.status}}</span>
        </dd>
        <dt><span jhiTranslate="datamarketplaceApp.amassUserNotification.notificationType">Notification Type</span></dt>
        <dd>
            <span>{{amassUserNotification.notificationType}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'amass-user-notification/'+ amassUserNotification.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
