
//Ranjith

.bg-gradient {
    background: #C9D6FF;
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    }
    ul li {
      margin-bottom:1.4rem;
    }
    .pricing-divider {
    border-radius: 20px;
    background: #C64545;
    padding: 1em 0 4em;
    position: relative;
    max-height: 300px;
    height: 207px;
    }
    .blue .pricing-divider{
    background: #2D5772;
    }
    .green .pricing-divider {
    background: #1AA85C;
    }
    .red b {
      color:#C64545
    }
    .blue b {
      color:#2D5772
    }
    .green b {
      color:#1AA85C
    }
    .pricing-divider-img {
        position: absolute;
        bottom: -11px;
        left: 0;
        width: 100%;
        height: 80px;
    }
    .deco-layer {
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
    }
    .btn-custom  {
      background:#C64545; color:#fff; border-radius:20px
    }

    .img-float {
      width:50px; position:absolute;top:-3.5rem;right:1rem
    }

    .princing-item {
      transition: all 150ms ease-out;
    }
    .princing-item:hover {
      transform: scale(1.05);
    }
    .princing-item:hover .deco-layer--1 {
      -webkit-transform: translate3d(15px, 0, 0);
      transform: translate3d(15px, 0, 0);
    }
    .princing-item:hover .deco-layer--2 {
      -webkit-transform: translate3d(-15px, 0, 0);
      transform: translate3d(-15px, 0, 0);
    }


    .display-2 {
        font-size: 2em !important;

    }
.card-body {
    height: 460px;
}
@media(max-width: 1366px){
  .card-contact {
    height: 580px;
    flex: 1 1 auto;
    padding: 1.25rem;
  }
  button.bronze {
      margin-top: 141px;
  }
  button.silver {
      margin-top: 119px;
  }
}

@media(max-width: 1366px){
  .card-starter {
    height: 530px;
    flex: 1 1 auto;
    padding: 1.25rem;
  }
  button.bronze {
      margin-top: 141px;
  }
  button.silver {
      margin-top: 1px;
  }
}
@media(max-width: 1600px) {
  .card-contact {
    height: 550px;
    flex: 1 1 auto;
    padding: 1.25rem;
  }
}
@media(max-width: 1600px) {
  .card-starter {
    height: 530px;
    flex: 1 1 auto;
    padding: 1.25rem;
  }

}

button.bronze {
    margin-top: 141px;
}
button.silver {
    margin-top: 1px;
}


.btn-custom1  {
    background:#2D5772; color:#fff; border-radius:20px
  }
  .btn-custom2  {
    background:#1AA85C; color:#fff; border-radius:20px
  }

  .red {
    background-color: #4caf5000 !important;
}
.green {
    background-color: #4caf5000 !important;
}
.blue {
    background-color: #4caf5000 !important;
}

@media(max-width: 1600px) {
    button.silver{
        margin-top: 5px;
    }

    .card-body{
        height: 393px;
    }

    button.bronze {
        margin-top: 68px;
    }

}

@media(max-width: 1366px){
    .card-body {
        height: 460px;
    }
    button.bronze {
        margin-top: 141px;
    }
}
.mat-list-base {
  padding-top: 8px;
  display: block;
  -webkit-tap-highlight-color: transparent;
  background-color: white;
  width: 800px;
  margin-left: 300px
}
.mat-list-base .mat-subheader{
  margin: 0;
  margin-left: 80px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #000000;
}
.table-bordered th, .table-bordered td {
  border: 1px solid #000000;
}
.table th, .table td {
  padding: 0.75rem;

}
.features{
  width: 87.5%; 
  text-align: center;  
   margin-top: -6%;

}