<div *ngIf="!price">
<div class="page-title">
    <span class="text-uppercase">Plans & Pricing</span>
</div>
<div class="container-fluid bg-gradient p-5">

    <div class="row m-auto text-center w-75">
      <jhi-inactivity-timer (onExpire)="onExpireSession($event)" (beforeSessionExpire)="beforeSessionExpires($event)" [pageName]="pageName"></jhi-inactivity-timer>
      <div class="col-4 princing-item red">
        <div class="pricing-divider ">
            <h3 class="text-light">Trial
            </h3>
          <h4 class="my-0 display-2 text-light font-weight-normal mb-3"><span class="h3">Free</span><span class="h5"><br> for two weeks	</span></h4>
           <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
        <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
  c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
        <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
  c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
        <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
  H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
        <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
  c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
      </svg>
        </div>
        <div class="card-body bg-white mt-0 shadow">
            <b>A Demonstration of Insights <br><br></b>
          <ul class="list-unstyled mb-5 position-relative">
            <li>Access to 1,000+ Data Provider Profiles within the 50 Key Data Categories</li>
            <li>Alternative Data Industry News and Events</li>
            <li>Data Dictionaries, Samples & Snapshots</li>
            <li>Search, Filter & Sort Providers by Millions of Tags</li>
            <li></li>
            <li></li>
            <li></li>

          </ul>
<!--           <button type="button" class="bronze btn btn-lg btn-block  btn-custom " (click)="submitPrice('Bronze')">Subscribe to Bronze</button>
 -->       
 <button mat-button class="menubar" (click)="submitFeatures('Trial')">
  <i class="fa fa-plus" aria-hidden="true"></i>
</button> 
</div>
      </div>

      <div class="col-4 princing-item blue">
        <div class="pricing-divider ">
            <h3 class="text-light">Starter
            </h3>
          <h4 class="my-0 display-2 text-light font-weight-normal mb-3"><span class="h3">$</span> 1,000 <span class="h5"> <br>for one month	</span></h4>
           <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
        <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
  c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
        <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
  c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
        <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
  H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
        <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
  c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
      </svg>
        </div>

        <div class="card-starter bg-white mt-0 shadow">
            <b>Proof of the Value of Insights<br><br></b>
            <b style="font-size: 14px">Everything from Trial, Plus:<br><br></b>
          <ul class="list-unstyled mb-5 position-relative">
            <li> Access to an additional 3,000+ Data Provider Profiles within the 6 Data Categories of your Choice </li>
            <li>Your Data Request Curated & Fulfilled by Amass Experts</li>
            <li>Amass Alternative Data Reports & Thought Leadership</li>
            <li>Advanced Notice of New Data Providers</li>
          </ul>
          <button type="button" class="silver btn btn-lg btn-block  btn-custom1 " (click)="submitPrice('Starter')">Subscribe to Starter</button>
          <button mat-button class="menubar" (click)="submitFeatures('Starter')">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <div class="col-4 princing-item green">
        <div class="pricing-divider ">
            <h3 class="text-light">Enterprise</h3>
          <h4 class="my-0 display-2 text-light font-weight-normal mb-3"><span class="h3"></span>  <span class="h5"><br></span></h4>
           <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
        <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
  c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
        <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
  c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
        <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
  H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
        <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
  c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
      </svg>
        </div>

        <div class="card-contact bg-white mt-0 shadow">
            <b>A Package Customized for You<br><br></b>
            <b style="font-size: 14px">Everything from Starter, Plus:<br><br></b>
          <ul class="list-unstyled mb-5 position-relative">
            <li>Access to all 14,000+ Data Provider Profiles and 139 Data Categories</li>
            <li>API + CRM & RMS Integration</li>
            <li>Data Sourcing & Analytics Consulting</li>
            <li>Advanced Security / Encryption & CRM / SaaS Functionality </li>
            <li>Private Events & Provider Relationship Management   </li>
          </ul>
          <button type="button" class="enterprise btn btn-lg btn-block  btn-custom2 " (click)="btnClick();">Contact Us</button>
          <button mat-button class="menubar" (click)="submitFeatures('Enterprise')">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="plan">
    <div class="container-fluid bg-gradient p-5">
      <table class="table table-bordered features">
        <thead>
          <tr>
            <th scope="col" style="width: 18%;" >Features</th>
            <th scope="col" style="width: 25%;">Trial</th>
            <th scope="col" style="width: 30%;">Starter</th>
            <th scope="col">Enterprise</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row" matTooltip="Unlocked Data Providers allow users full access to their data profiles and their identifiable information.">Data Providers Unlocked</td>
            <td matTooltip="Full access to 1,000+ Data Providers' profiles and their identifiable information">1,000+</td>
            <td matTooltip="Full access to 4,000+ Data Providers' profiles and their identifiable information.">4,000+</td>
            <td matTooltip="Full access to all Data Providers' profiles available in Insights and their identifiable information.">13702</td>
          </tr>
          <tr>
            <td scope="row" matTooltip="Unlocked Data Categories allow users access to the details about this data category and the main providers within it.">Data Categories Unlocked</td>
            <td matTooltip="Access to the details on 50+ data categories and the main providers within them.">50+</td>
            <td matTooltip="Access to the details on 56+ data categories and the main providers within them.">56+</td>
            <td matTooltip="Full access to the details on all the data categories and providers in Insights.">139</td>
          </tr>
          <tr>
            <td scope="row" matTooltip="A data request is a reasonably specific Request for Data (RFD) in which a data consumer provides Amass with criteria around the data they are looking to acquire. Amass then hunts for the best data for this particular RFD and presents custom research to the data consumer.">Data Requests</td>
            <td matTooltip="No data requests fulfilled by the Amass team.">0</td>
            <td matTooltip="The Amass team will hunt for the best data for the data consumer and present this custom research based on one data request.">1</td>
            <td matTooltip="The Amass team will hunt for the best data for the data consumer and present this custom research based on unlimited data requests.">Unlimited	</td>
          </tr>
          <tr>
            <td scope="row" matTooltip="Notifications are sent through email to users when certain events occur, such as adding a new data provider, updating a data provider's profile, or a new relevant news article.">Notifications</td>
            <td matTooltip="Notifications through email about the 1,000+ unlocked new or updated providers, as well as news articles and events.">Basic</td>
            <td matTooltip="Notifications in-app or through email about the 4,000+ unlocked new or updated providers and the providers and data categories followed by you, as well as news articles and events.">Advanced</td>
            <td matTooltip="Notifications in-app or through email about all the new or updated providers in Insights, as well as news articles and events, customized & prioritized to your needs.">Custom</td>
          </tr>
          <tr>
            <td  scope="row"matTooltip="Client support from Amass experts through email, phone & in-app chat.">Support</td>
            <td matTooltip="Basic support through email & in-app chat.">Basic</td>
            <td matTooltip="Prioritized support through email, phone & in-app chat.">High Priority</td>
            <td matTooltip="Prioritized support through email, phone & in-app chat, with the priority for this plan coming before any other plan.">Top Priority</td>
          </tr>
          <tr>
            <td  scope="row" matTooltip="Access to resources provided by the data provider, such as data dictionaries, data snapshots & samples, demos & screenshots, marketing decks, documentation, links, and attachments.">Data Provider Resources</td>
            <td   matTooltip="Access to resources provided by the data provider, such as data dictionaries, data snapshots & samples, demos & screenshots, marketing decks, documentation, links, and attachments."><i class="fa fa-check" aria-hidden="true"></i>
            </td>
               <td   matTooltip="Access to resources provided by the data provider, such as data dictionaries, data snapshots & samples, demos & screenshots, marketing decks, documentation, links, and attachments."><i class="fa fa-check" aria-hidden="true"></i>
               </td>
                 <td   matTooltip="Access to resources provided by the data provider, such as data dictionaries, data snapshots & samples, demos & screenshots, marketing decks, documentation, links, and attachments."><i class="fa fa-check" aria-hidden="true"></i>
                 </td>
          </tr>
                 <tr>
                  <td  scope="row"  matTooltip="Enabling basic searches, filters & sorts of the data providers in Insights, using most (but not all) of the available categorizations and tags.">Basic Searching, Filtering & Sorting</td>
                  <td   matTooltip="Enabling basic searches, filters & sorts of the data providers in Insights, using most (but not all) of the available categorizations and tags."><i class="fa fa-check" aria-hidden="true"></i></td>

                  <td   matTooltip="Enabling basic searches, filters & sorts of the data providers in Insights, using most (but not all) of the available categorizations and tags."><i class="fa fa-check" aria-hidden="true"></i></td>
                
                  <td   matTooltip="Enabling basic searches, filters & sorts of the data providers in Insights, using most (but not all) of the available categorizations and tags."><i class="fa fa-check" aria-hidden="true"></i></td>
                   </tr>            
                   <tr>
                    <td  scope="row" matTooltip="Adding personal (private) notes and tags linked to data providers' profiles.">Personal Notetaking & Tagging</td>
                   <td   matTooltip="Adding personal (private) notes and tags linked to data providers' profiles."><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td   matTooltip="Adding personal (private) notes and tags linked to data providers' profiles."><i class="fa fa-check" aria-hidden="true"></i></td>
                   <td   matTooltip="Adding personal (private) notes and tags linked to data providers' profiles."><i class="fa fa-check" aria-hidden="true"></i></td> 
                  </tr>    
                  <tr>
                    <td  scope="row" matTooltip="A directory of events related to the data industry or the asset management industry.">Industry Events</td>
                    <td   matTooltip="A directory of events related to the data industry or the asset management industry."><i class="fa fa-check" aria-hidden="true"></i></td>
                   <td   matTooltip="A directory of events related to the data industry or the asset management industry."><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td   matTooltip="A directory of events related to the data industry or the asset management industry."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td  scope="row"  matTooltip="A directory of news articles related to the data industry or the asset management industry.">Industry News</td>
                    <td   matTooltip="A directory of news articles related to the data industry or the asset management industry."><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td   matTooltip="A directory of news articles related to the data industry or the asset management industry."><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td   matTooltip="A directory of news articles related to the data industry or the asset management industry."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td  scope="row" matTooltip="Enabling advanced searches, filters & sorts of the data providers in Insights, using all of the available categorizations and tags including the providers' statistics, as well as combinations of these categorizations & tags. ">Advanced Searching, Filtering & Sorting </td>
                 <td></td>
                 <td   matTooltip="Enabling advanced searches, filters & sorts of the data providers in Insights, using all of the available categorizations and tags including the providers' statistics, as well as combinations of these categorizations & tags."><i class="fa fa-check" aria-hidden="true"></i></td>
                 <td   matTooltip="Enabling advanced searches, filters & sorts of the data providers in Insights, using all of the available categorizations and tags including the providers' statistics, as well as combinations of these categorizations & tags."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td  scope="row" matTooltip="Access to Amass experts' proprietary scores and opinions about data providers' offerings, which can be used to prioritize the most promising data products.">Amass Experts' Scores & Opinions</td>
                    <td></td>
                    <td   matTooltip="Access to Amass experts' proprietary scores and opinions about data providers' offerings, which can be used to prioritize the most promising data products."><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td   matTooltip="Access to Amass experts' proprietary scores and opinions about data providers' offerings, which can be used to prioritize the most promising data products."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td  scope="row"  matTooltip="Access to providers' opinions and thoughts about their own data products.">Providers' Opinions</td>
                    <td ></td>
                    <td   matTooltip="Access to providers' opinions and thoughts about their own data products."><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td   matTooltip="Access to providers' opinions and thoughts about their own data products."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td scope="row" mat-line matTooltip="Access to the identities of providers' data provider partners, data distribution partners, and data consumer partners.">Providers' Data Partners</td>
                    <td ></td>
                    <td  matTooltip="Access to the identities of providers' data provider partners, data distribution partners, and data consumer partners."><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td   matTooltip="Access to the identities of providers' data provider partners, data distribution partners, and data consumer partners."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td scope="row"  matTooltip="Ability to follow and be notified of a provider's data profile updates, new resources and news articles.">Follow a Provider</td>
                    <td ></td>
                    <td   matTooltip="Ability to follow and be notified of a provider's data profile updates, new resources and news articles."><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td   matTooltip="Ability to follow and be notified of a provider's data profile updates, new resources and news articles."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td scope="row" matTooltip="Ability to follow and be notified of the updates to all the providers in a data category or of any new provider in a data category.">Follow a Data Category</td>
                    <td></td>
                    <td   matTooltip="Ability to follow and be notified of the updates to all the providers in a data category or of any new provider in a data category."><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td   matTooltip="Ability to follow and be notified of the updates to all the providers in a data category or of any new provider in a data category."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td scope="row" matTooltip="Access to all proprietary research published by Amass experts.">Amass Reports & Thought Leadership</td>
                    <td></td>
                    <td   matTooltip="Access to all proprietary research published by Amass experts."><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td   matTooltip="Access to all proprietary research published by Amass experts."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td scope="row" matTooltip="Access to all members-only events hosted by Amass.">Member Events </td>
                    <td ></td>
                    <td   matTooltip="Access to all members-only events hosted by Amass."><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td   matTooltip="Access to all members-only events hosted by Amass."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td scope="row" matTooltip="Access to an API containing all of the metadata on data providers profiled in Insights.">API / Metadata Export</td>
                    <td></td>
                    <td></td>
                    <td  matTooltip="Access to an API containing all of the metadata on data providers profiled in Insights."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td scope="row" matTooltip="Bespoke projects requested by you, ranging from data sourcing to data cleaning, analysis, visualization, backtesting, etc.">Consulting & Advisory Services</td>
                    <td ></td>
                    <td></td>
                    <td matTooltip="Bespoke projects requested by you, ranging from data sourcing to data cleaning, analysis, visualization, backtesting, etc."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td scope="row"  matTooltip="Managing and standardizing trial and license agreements with data providers.">Trial & License Agreement Management</td>
                    <td></td>
                    <td></td>
                    <td   matTooltip="Managing and standardizing trial and license agreements with data providers."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td scope="row" matTooltip="Outsourced legal services to properly vet data providers for all appropriate compliance concerns.">Legal & Compliance Reviews</td>
                    <td></td>
                    <td ></td>
                    <td  matTooltip="Outsourced legal services to properly vet data providers for all appropriate compliance concerns."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td scope="row" matTooltip="Retrieving data in a standardized format and analyzing, restructuring, and visualizing data for more efficient use within investment processes.	">Data Delivery & Analytics Services</td>
                    <td ></td>
                    <td ></td>
                    <td   matTooltip="Retrieving data in a standardized format and analyzing, restructuring, and visualizing data for more efficient use within investment processes."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td scope="row"  matTooltip="Handling all support issues with data providers, such as changes in format or missing data.">Provider Data Support</td>
                    <td ></td>
                    <td></td>
                    <td matTooltip="Handling all support issues with data providers, such as changes in format or missing data."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td scope="row" matTooltip="Prioritizing new features requested by you in the Insights development roadmap.">Development Roadmap Prioritization</td>
                    <td ></td>
                    <td></td>
                    <td  matTooltip="Prioritizing new features requested by you in the Insights development roadmap."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td scope="row"   matTooltip="Private events customized to your needs hosted by Amass.">Private Events</td>
                    <td></td>
                    <td ></td>
                    <td   matTooltip="Private events customized to your needs hosted by Amass."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td scope="row" matTooltip="When you navigate around Insights, Amass does not track the pages you visit or actions you take.">Private / Anonymous Usage of Insights</td>
                    <td ></td>
                    <td ></td>
                    <td  matTooltip="When you navigate around Insights, Amass does not track the pages you visit or actions you take."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td scope="row" matTooltip="Ability to privately add data providers that are not currently profiled in Insights.">Privately Add or Edit Provider Profiles</td>
                    <td></td>
                    <td   ></td>
                    <td matTooltip="Ability to privately add data providers that are not currently profiled in Insights."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td scope="row" matTooltip="Security and encryption features customized to your needs, such as on-prem deployment or encrypted data sharing.">Advanced Security / Encryption</td>
                    <td></td>
                    <td></td>
                    <td  matTooltip="Security and encryption features customized to your needs, such as on-prem deployment or encrypted data sharing."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td scope="row" matTooltip="Adding notes and tags linked to data providers' profiles, shared with your team members and only accessible by them.">Team Notetaking & Tagging</td>
                    <td></td>
                    <td ></td>
                    <td   matTooltip="Adding notes and tags linked to data providers' profiles, shared with your team members and only accessible by them.	"><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td scope="row" matTooltip="Permissions and features built for teams.">Team-based Permissions</td>
                    <td ></td>
                    <td ></td>
                    <td   matTooltip="Permissions and features built for teams."><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                </tbody>
      </table>
      </div>
      </ng-container>
