<div class="page-title">
    <span class="text-uppercase">Amass Insights Blog</span>
</div>
<section class="content-wrapper">
    <div class="container">
        <div class="row mat-elevation-z2 blog-card" *ngIf="isAdmin">
            <div class="row col-md-12 blog-card-sec" *ngIf="articleObj && articleObj.authorOrganization && articleObj.authorOrganization.name === 'Amass Insights'">
                <div class="col-md-6 blog-content-section">
                    <div class="blog-date">{{articleObj.publishedDate | date : 'mediumDate'}}</div>
                    <h5 class="blog-title">{{articleObj.title}}</h5>
                    <p class="blog-content">{{articleObj.summary}}</p>
                    <button type="button" (click)="read({'label':'Blog Post - Read', 'category':'Blog Post', 'event':'Internal Link Clicked'})" mat-raised-button color="warn" class="blog-action-button">Read</button>
                </div>
                <div class="col-md-6 blog-img-section no-padding" *ngIf="articleObj && articleObj.visualUrl">
                    <img [src]="_DomSanitizer.bypassSecurityTrustUrl(articleObj.visualUrl)" onerror="this.style.display='none'" width="100%" height="300" />
                </div>
                <div class="col-md-6 blog-img-section no-padding" *ngIf="articleObj && !articleObj.visualUrl">
                    <img src="../../content/images/blog/placeholder.jpg" width="100%" />
                </div>
            </div>
        </div>
        <div class="row mat-elevation-z2 blog-card" *ngIf="!isAdmin">
            <div class="col-md-6 blog-content-section">
                <div class="blog-date">May 7, 2018</div>
                <h5 class="blog-title">Amassing Insights in the New World of Data</h5>
                <p class="blog-content">
                    Our Insights platform satisfies a pressing need in the hedge fund community for a democratization of both alternative and traditional data, bringing greater transparency to the entire data ecosystem while ensuring quality rises to the fore and strict compliance with prevailing standards....
                </p>
                <button type="button" (click)="read({'label':'Blog Post - Read', 'category':'Blog Post', 'event':'Internal Link Clicked'})" mat-raised-button color="warn" class="blog-action-button">Read</button>
            </div>
            <div class="col-md-6 blog-img-section no-padding">
                <img src="../../content/images/blog/wall-street-skyline.jpg" width="100%" height="300" />
            </div>
        </div>
    </div>
</section>
