<div class="page-title">
    <span class="text-uppercase">Amass Insights Blog</span>
</div>
<section class="content-wrapper">
    <div class="container">
        <div class="row blog-title-section">
            <div class="col-md-12">
                <h3 class="blog-title">Amassing Insights in the New World of Data</h3>
                <div class="blog-subheader text-uppercase">
                    <span class="blog-subheader-text">May 7, 2018 </span> | <span class="blog-subheader-text">By Jordan Hauer and Mark Donovick, Founders of Amass Insights </span>
                </div>
            </div>
        </div>
        <div class="row blog-content-section">
            <div class="col-md-12">
                <img class="blog-img" src="../../content/images/blog/wall-street-skyline.jpg" width="100%" />
                <p class="blog-main-para">
                        We have spent the last six years working with alternative data and hedge funds, which led
                        us to build an online platform to equip institutional investors and data providers in navigating the
                        future of investment research. Our Insights platform satisfies a pressing need in the hedge fund
                        community for a democratization of both alternative and traditional data, bringing greater
                        transparency to the entire data ecosystem while ensuring quality rises to the fore and strict
                        compliance with prevailing standards.
                </p>
                <p class="blog-main-para">
                        With the proliferation of low-cost smart devices, businesses’ increasing reliance on
                        digital ecosystems, the semantic web, satellite and radar systems, and the omnipresence of sensor
                        technology, avenues for data-acquisition have exploded. Once this is consumed, cleaned, and
                        analyzed properly, insights will be conveyed to investors in ways never before imagined. Our
                        Insights platform capitalizes on the myriad new alpha sources, supporting those that seek to
                        understand how such data will influence the evaluation of companies and macroeconomic shifts,
                        and enabling complex investment decisions in real-time.
                </p>
                <p class="blog-main-para">
                        In crafting our platform, we considered the reality that institutional investors and data
                        providers are not satisfied with the status quo.
                </p>
                <p class="blog-main-para">
                        As a hedge fund analyst, you don’t need another data marketplace or broker attempting to
                        sell you a dataset they know little about. Nor should you expend significant time researching
                        innumerable startups that haven’t yet collected the adequate prerequisite metadata, let alone
                        proved their data’s value and then be expected to confidently allocate your valuable resources in
                        the quest for some, likely-fleeting alpha. We understand that when you’re facing a world where
                        90% of its data was created in the last two years, time and cost-savings are integral to your data
                        sourcing and analytics efforts.
                </p>
                <p class="blog-main-para">
                        As an executive of a data provider, you may realize there is an untapped revenue-generating channel you have not yet been exposed to, but setting aside internal resources towards
                        an opaque market is not a risk you’re willing to take. Nor is listing your intellectual property on
                        some heterogenous data marketplace without an understanding for what may happen next. We
                        understand that you would prefer assistance in assessing and improving your product’s value.
                        You need tools to efficiently explain your offerings accurately to potential customers.
                        Additionally, you would like to understand who the serious data buyers are and which
                        prospective partners can provide powerful feedback.
                </p>
                <p class="blog-main-para">
                        We built our Insights platform with these realities in mind along with the understanding
                        that it is not acceptable to do what’s always been done -- simply connecting secretive new data
                        sources to the highest bidder or peddling analytical products without exposing the methodology
                        used to create them. Investors need to be challenged by unforeseen data landscapes while being
                        afforded the luxury of choice, curation and open interactions. Data providers need to be educated
                        about the expectations of institutional investors.
                </p>
                <p class="blog-main-para">
                        Our goal is to turn ‘alternative data’ into ‘knowledge’. Ultimately, it shouldn’t be
                        ‘alternative’ at all. We will achieve this by democratizing ‘alt-data’ for the masses; not putting it
                        on a pedestal. By respecting personal privacy and remaining fully compliant. By encouraging
                        custom requests and not settling for a standard. And by sparking creative new ways to unlock
                        untapped alpha-generating insights through data features previously unimaginable. We’re not
                        building another data directory or data marketplace. We are architecting, forensically testing,
                        and bringing to market the largest portfolio of quality data products which will become
                        intertwined in the fabric of investment professionals’ daily lives. A deeply unique, universally-used, and empowering experience called Amass Insights.
                </p>
                <p>
                    -Jordan Hauer and Mark Donovick
                </p>
            </div>
        </div>
    </div>
</section>
<!-- <div class="page-title">
    <span class="text-uppercase">Amass Insights Blog</span>
</div>
<section class="content-wrapper">
    <div class="container">
        <div class="row mat-elevation-z2 blog-card">
            <div class="col-md-6 blog-content-section">
                <div class="blog-date">Jun 19, 2016</div>
                <h5 class="blog-title">Amassing Insights in the New World of Data</h5>
                <p class="blog-main-para">
                    We have spent the last six years working with alternative data and hedge funds, which led
                    us to build an online platform to equip institutional investors and data providers in navigating the
                    future of investment research. Our Insights platform satisfies a pressing need in the hedge fund
                    community for a democratization of both alternative and traditional data, bringing greater
                    transparency to the entire data ecosystem while ensuring quality rises to the fore and strict
                    compliance with prevailing standards.
            </p>
            <p class="blog-main-para">
                    With the proliferation of low-cost smart devices, businesses’ increasing reliance on
                    digital ecosystems, the semantic web, satellite and radar systems, and the omnipresence of sensor
                    technology, avenues for data-acquisition have exploded. Once this is consumed, cleaned, and
                    analyzed properly, insights will be conveyed to investors in ways never before imagined. Our
                    Insights platform capitalizes on the myriad new alpha sources, supporting those that seek to
                    understand how such data will influence the evaluation of companies and macroeconomic shifts,
                    and enabling complex investment decisions in real-time.
            </p>
            <p class="blog-main-para">
                    In crafting our platform, we considered the reality that institutional investors and data
                    providers are not satisfied with the status quo.
            </p>
            <p class="blog-main-para">
                    As a hedge fund analyst, you don’t need another data marketplace or broker attempting to
                    sell you a dataset they know little about. Nor should you expend significant time researching
                    innumerable startups that haven’t yet collected the adequate prerequisite metadata, let alone
                    proved their data’s value and then be expected to confidently allocate your valuable resources in
                    the quest for some, likely-fleeting alpha. We understand that when you’re facing a world where
                    90% of its data was created in the last two years, time and cost-savings are integral to your data
                    sourcing and analytics efforts.
            </p>
            <p class="blog-main-para">
                    As an executive of a data provider, you may realize there is an untapped revenue-generating channel you have not yet been exposed to, but setting aside internal resources towards
                    an opaque market is not a risk you’re willing to take. Nor is listing your intellectual property on
                    some heterogenous data marketplace without an understanding for what may happen next. We
                    understand that you would prefer assistance in assessing and improving your product’s value.
                    You need tools to efficiently explain your offerings accurately to potential customers.
                    Additionally, you would like to understand who the serious data buyers are and which
                    prospective partners can provide powerful feedback.
            </p>
            <p class="blog-main-para">
                    We built our Insights platform with these realities in mind along with the understanding
                    that it is not acceptable to do what’s always been done -- simply connecting secretive new data
                    sources to the highest bidder or peddling analytical products without exposing the methodology
                    used to create them. Investors need to be challenged by unforeseen data landscapes while being
                    afforded the luxury of choice, curation and open interactions. Data providers need to be educated
                    about the expectations of institutional investors.
            </p>
            <p class="blog-main-para">
                    Our goal is to turn ‘alternative data’ into ‘knowledge’. Ultimately, it shouldn’t be
                    ‘alternative’ at all. We will achieve this by democratizing ‘alt-data’ for the masses; not putting it
                    on a pedestal. By respecting personal privacy and remaining fully compliant. By encouraging
                    custom requests and not settling for a standard. And by sparking creative new ways to unlock
                    untapped alpha-generating insights through data features previously unimaginable. We’re not
                    building another data directory or data marketplace. We are architecting, forensically testing,
                    and bringing to market the largest portfolio of quality data products which will become
                    intertwined in the fabric of investment professionals’ daily lives. A deeply unique, universally-used, and empowering experience called Amass Insights.
            </p>
            <p>
                -Jordan Hauer and Mark Donovick
            </p>
                <button type="button" mat-raised-button color="warn" class="blog-action-button">Read</button>
            </div>
            <div class="col-md-6 blog-img-section no-padding">
                <img src="../../content/images/blog/wall-street-skyline.jpg" width="100%" />
            </div>
        </div>
    </div>
</section> -->

