.blog-card {
    margin: 30px auto;
}

.blog-card .blog-content-section {
    padding: 25px 30px;
    background-color: #fff;
    text-align: justify;
}

.blog-card .blog-date {
    color: #696969;
    margin-bottom: 10px;
}

.blog-card .blog-title {
    color: #323232;
    font-family: 'OpenSans-Bold';
}

.blog-card .blog-content {
    color: #696969;
    font-size: 14px;
}

.blog-card .blog-action-button {
    position: absolute;
    bottom: 35px;
    right: 25px;
}
.blog-card-sec{
    padding: 0px;
    margin-left: 0px !important;
}
