
.blog-title-section {
    margin-bottom: 15px;
}

.blog-title {
    font-family: 'OpenSans-Bold';
}

.blog-subheader {
    color: #9a9a9a;
    margin: 10px 0;
    font-size: 0.8rem;
}

.blog-img {
    margin: 15px 0;
}

.blog-main-para {
    color: #363636;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 25px 0;
}

.blog-sub-para {
    color: #666;
    font-size: 0.9rem;
    margin: 15px 0;
    text-indent: 15px;
}

ul.blog-content-list {
    font-weight: bold;
}

ul.blog-content-list > li {
    list-style: none;
}

ul.blog-content-list > li::before {
    content: "• ";
    color: #438afe;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'OpenSans-Bold';
    margin-right: 10px;
}
